[2020-02-17 19:58] Silvyre commented on #730
+1 vote for this!

[2020-02-17 23:49] miggs125 commented on #730
@humphd I agree with material-ui. Really easy to use.

[2020-02-18 00:39] Grommers00 commented on #730
@humphd I like Material-UI and think we should get rid of the .css files.

However, I do think the functions related to Material-UI should be stored in a separate folder within the same folder of that component, to allow for a quick and easy way for someone to get to the CSS for that particular component.

This will also hopefully keep our components smaller in code and easier to locate the necess

[2020-02-18 02:02] Grommers00 commented on #731
This will be awesome!

[2020-02-18 02:31] humphd commented on #731
I've had to do this before with MUI, in case this helps:

[code]

Then you can stick it in a page somewhere using:

[code]

[2020-02-18 22:14] miggs125 commented on #728
Leaving it in package.json means that every time we do `npm i` we will download react twice. Once in the frontend and once in the root of the project. Is there a way to detect react without downloading it twice? Perhaps we can link to the frontend package.json from the root of the project?

[2020-02-19 00:45] Silvyre opened #741 "Refactor frontend CSS into CSS-in-JS"
All of our convential frontend CSS styling solutions should be refactored into Material UI's [CSS-in-JS](https://material-ui.com/styles/basics/) styling solution.
<hr>
<details>
<summary><em>(Old issue text)</em></summary>

Currently [`index.css`](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/pages/index.css) imposes its styling rules upon all Gatsby Pages. While developing

[2020-02-19 13:29] manekenpix opened #742 "gatsby-cli not found when building frontend"
**What happened**:
Trying to build the frontend throws:

`error: Cannot find module 'gatsby-cli'`

**What should have happened**:
`npm run build` should successfully have built telescope's frontend.

**How to reproduce it (as precise as possible)**:

Remove telescope's `node_modules` folder,  install dependencies using `npm install`, and run `npm run build`.

**Environment**:

- OS: Linux

[2020-02-19 14:39] humphd commented on #742
I'm not able to reproduce on macOS.  Is it possible that your frontend `node_modules` wasn't installed properly?  Maybe the `postinstall` script didn't run for some reason?

Also, is this in docker or your local machine?  I know we had a bug before with permissions in docker where we added this https://github.com/Seneca-CDOT/telescope/blob/master/.npmrc#L6-L7.  Related somehow?

[2020-02-19 16:02] Silvyre commented on #294
We agreed to push this to 0.8.

[2020-02-20 17:40] humphd commented on #728
Let's find a way to link to the one in frontend, yes.

[2020-02-21 05:39] raygervais commented on #699
Apologies, though I had replied to this already and only rediscovered that I didn't when reopening browser. I agree with us not needing `develop` branch, my bad for missing that part that you described up top. Happy to help towards this.

[2020-02-21 12:33] humphd commented on #699
@raygervais that would be great.  I know @manekenpix, @c3ho, and @miggs125 were talking in class about trying to get you more involved in the deployment stuff, with your background and experience.  I think they'd appreciate having a partner on this stuff.

[2020-02-21 14:19] cindyledev commented on #625
Closing since there is no further discussion here.

[2020-02-21 14:19] #625 closed

[2020-02-21 20:02] cindyledev commented on #715
@Grommers00 um I never had any Prettier or ESLint errors, did you tag the wrong person?

[2020-02-21 20:06] #725 closed

[2020-02-22 14:52] raygervais commented on #699
Has there been any further work on this specifically? Or is there other pressing deployment-tagged issues that 0.7 is focused on? I look forward to working with @manekenpix @c3ho and @miggs125 more! 🎆 💻

[2020-02-22 18:49] Grommers00 commented on #715
Perhaps. It was @lozinska

[2020-02-22 18:54] Grommers00 opened #745 "Add Feeds needs to be now to be connected front end to back end"
**What would you like to be added**:
Our back end supports adding of feeds, and our front end is set-up to be able to add a feed. Now the two need to talk together.
`src/backend/web/routes/feeds.js`
It contains the backend file we need.
`src/frontend/src/pages/myfeeds.js`
This is where the front end file lives.

Getting these two to connect to be able to add feeds would be awesome, and part of our

[2020-02-22 22:06] lozinska commented on #715
@Grommers00 that's right I have same problems. Will reproduce steps that was mentioned earlier and let see if it will fix for me

[2020-02-24 05:53] Silvyre opened #746 "My Feeds page: implement button functionalities"
Presently, the implied/intended functionalities of the ['+' and '?' buttons on the My Feeds page](https://github.com/Seneca-CDOT/telescope/pull/735) have not been implemented. These functionalities should be added during a future release.

<hr>

- Intended behaviour of the '?' button:
    - As per [our design](https://github.com/Seneca-CDOT/telescope/issues/725#issuecomment-586726492), when this b

[2020-02-24 20:58] #721 closed

[2020-02-25 23:41] c3ho commented on #699
@raygervais sorry for the silence. We're going to go with a green deployment for now just so we can get CD working. In 0.8 or 0.9 we'll try to add the green/blue deployment @manekenpix did I get this right or are you going all the way with green/blue for 0.7?

[2020-02-25 23:54] raygervais commented on #699
That's alright @c3ho, we are all busy at times 👍. Whichever direction you go about, please point out where I can help hack on some code! Is there an issue for 0.7 green deployments?

[2020-02-26 01:16] #720 closed

[2020-02-26 21:00] c3ho commented on #746
@Silvyre I was going over #745 today and realized one thing. Is there a button we specifically press to actually add the feed? I'm checking #735 as well and the conclusion I've arrived at is we don't have one.

[2020-02-26 21:05] Silvyre commented on #746
No, there is not a 'save' button. Designing this component, my assumption was that an attempt to add the feed would occur upon the user focus removing their focus from a `url` input field.

[2020-02-26 21:07] c3ho commented on #746
Do we have anything like that in the `myFeed` component right now? I'm trying to look for something like onBlur or focusOut in `myfeed.js` but can't find one

[2020-02-26 21:12] Silvyre commented on #746
Zero functionalities whatsoever have yet been implemented for buttons, as per the original post of this issue. Presumably, such logic can be implemented within a [MaterialUI `onChange` handler](https://material-ui.com/api/text-field/).

[2020-02-26 21:13] c3ho commented on #746
Understood, thanks!

[2020-02-26 21:15] Silvyre commented on #746
We may also opt to add a submit button to the design, as @yatsenko-julia's original design may have included one:
![image](https://user-images.githubusercontent.com/13500769/75388505-21f02d00-58b3-11ea-9f1d-cfe2f11a0792.png)
(Although, I am having difficulty deciding whether the checkmark in this image represents such a button, or whether it represents affirmative input validation feedback...)

[2020-02-26 21:21] c3ho commented on #746
Lets go with onBlur for now and we can iterate on it I guess

[2020-02-27 18:27] c3ho opened #750 "Make search bar return results"
**What would you like to be added**:
Connect our search bar to queries from GraphQL. #747 should be going in soon, we now have access to GraphQL queries in the front end.

**Why would you like this to be added**:
We have the search bar component in place, author result component should be merged soon. All that is left is to connect the search bar to our GraphQL getPosts query so we can render auth

[2020-02-29 00:43] cindyledev opened #751 "Move Search bar to /search and update css"
**What would you like to be added**:
Move the Search bar component that is currently in the main layout page to /search. It also doesn't look like its design.

From this:
![Annotation 2020-02-28 194246](https://user-images.githubusercontent.com/36822198/75597263-83a2c980-5a62-11ea-9914-24d50c7a0e49.png)

to this:
![](https://user-images.githubusercontent.com/49992710/74490791-b744f780-4e97-11ea-9b

[2020-02-29 05:01] #700 closed

[2020-02-29 05:01] #710 closed

[2020-02-29 20:49] #731 closed

[2020-03-01 05:19] agarcia-caicedo opened #756 "Style the login button so it fits the other elements in the header"
After pr #754 gets merged, the login button will look like this:
![image](https://user-images.githubusercontent.com/49992710/75620078-19695200-5b52-11ea-8307-ff9d06bb4bab.png)

It needs to be styled so it better fits among the other buttons,

[2020-03-01 05:49] agarcia-caicedo commented on #728
I was wrong, detecting react happens in the eslint config file, not in package.json

[2020-03-01 07:08] yatsenko-julia commented on #741
While I was trying to figure out why I cannot load the myfeeds page, 2 issues that you mentioned @Silvyre were resolved. What do you think if I'll try to replace CSS with CSS-in-JSS for release 0.7?

[2020-03-01 13:17] humphd opened #757 "Deal with partial/broken post content"
Every time I test our app, the first post is always broken.  [This feed](http://compileofcrap.com/SPO600/feed.xml) has a number of problems, all of which we should consider how we want to deal with in our code:

- The feed itself is missing publication date info.  Previously, we rejected posts like this as invalid, but then we [added a fix to stamp them with the current date/time](https://github.c

[2020-03-01 17:15] Silvyre commented on #741
[`index.css`](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/pages/index.css) is still imposing two overbearing styling rules on the My Feeds component:

![demo](https://user-images.githubusercontent.com/13500769/75630100-b6a9a200-5bb5-11ea-8700-67afedaf32c1.gif)

As such, these tasks still need to be completed:

I don't believe that we've come to a full agreement on this ma

[2020-03-01 18:06] #722 closed

[2020-03-01 18:58] #585 closed

[2020-03-01 18:58] #588 closed

[2020-03-01 20:39] agarcia-caicedo opened #759 "Old header is used for logged in user"
**What happened**:
Once a user logs in, they view rendered uses the old header

![image](https://user-images.githubusercontent.com/49992710/75633307-c800a780-5bd1-11ea-8514-c3da50682515.png)

**What should have happened**:
The header should be the same as when the user is logged out

![image](https://user-images.githubusercontent.com/49992710/75633426-a48a2c80-5bd2-11ea-854e-94a19578d8de.png)

**H

[2020-03-01 20:49] agarcia-caicedo commented on #759
This is happening because https://dev.telescope.cdot.systems/ is not been updated for the Header change.
When the user logs in, from https://telescope-dusky.now.sh/, they get redirected to the dev site.

[2020-03-01 20:51] #759 closed

[2020-03-01 21:32] #697 closed

[2020-03-01 21:32] yatsenko-julia commented on #741
Thanks for your reply, @Silvyre. I still cannot reproduce your issue. I've tried Safari and Chrome before I saw that you are using Firefox. When I run the project in Firefox instead of styles I receive inline styles. Here is a screenshot:
<img width="1920" alt="Screen Shot 2020-03-01 at 4 25 19 PM" src="https://user-images.githubusercontent.com/28925746/75634176-490f6d00-5bd9-11ea-9502-09f9b2d0073

[2020-03-01 21:32] #751 closed

[2020-03-01 21:57] Silvyre opened #760 "Restrict access to My Feeds to logged-in users"
Once https://github.com/Seneca-CDOT/telescope/pull/748 is landed, anyone on the Internet will be able to add feeds to Telescope. Access to this component should be restricted to logged-in users, ensuring that non-users cannot add unwanted feeds (e.g. spam) to our system.

[2020-03-01 22:10] #711 closed

[2020-03-01 22:23] Silvyre commented on #741
Oh, I see; it seems like you're encountering the same phenomena that Cindy just commented on here: https://github.com/Seneca-CDOT/telescope/pull/748#issuecomment-593152548

You are viewing an incompletely-styled `My Feeds` component being served by our backend (`localhost:3000`), while I am being served by the Gatsby live-reloading development server on `localhost:8000`.

You should navigate to ht

[2020-03-01 22:27] manekenpix opened #761 "Building frontend throws error"
**What happened**:

The frontend can't be built due to this error:
[code]

**What should have happened**:
The frontend should've been built.

**How to reproduce it (as precise as possible)**:
Run
[code]
or launch telescope using `docker-compose up`

**Environment**:

- OS: Linux
- Browser:

[2020-03-01 22:28] Silvyre commented on #761
Could this be related to https://github.com/Seneca-CDOT/telescope/pull/747?
@c3ho

[2020-03-01 22:34] cindyledev commented on #761
I had this error while testing #747 , I ran `npm install` and didn't have that error anymore.

[2020-03-01 23:26] c3ho commented on #761
in `gatsby-config.js` we currently have this line

```const telescopeUrl = process.env.API_URL || `http://localhost:${process.env.PORT || 3000}`;```

This is causing an issue as the Front end can't detect any of the vars we set in the .env file. It should though, but anyways a potential change could be this

[code]

We're going to check for the .env `API_URL`, if that doesn't exist we'll go for `h

[2020-03-01 23:38] c3ho opened #762 ".env vars in the front-end are not working"
**What happened**:
We can't use any of the .env vars in the front-end code. We have the following code in `gatsby-config.js` which should enable us to do so though
[code]
**What should have happened**:
Be able to use .env vars in front-end code
**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS: Windows 10
- Browser: Chrome

[2020-03-01 23:45] humphd commented on #762
You have to expose these via sitemetadata, and I already have hooks and class-based ways to get it via Gatsby's GraphQL.  See my changes in https://github.com/Seneca-CDOT/telescope/pull/690/files for an example.  Just read in env vars at build time, like I do with telescopeUrl, and then expose them in the sitemetadata.  Then you can get them in your components in the frontend.

[2020-03-01 23:48] c3ho commented on #762
I was checking your code, your comment at the top file made it seem like it was only for components would it work in the `gatsby-config` file?

[2020-03-01 23:48] humphd commented on #762
Specifically:

- https://github.com/Seneca-CDOT/telescope/pull/690/files#diff-aee52c9fc82b6dcbac2c81273c1cd19d
- https://github.com/Seneca-CDOT/telescope/pull/690/files#diff-c58aeb5861602d759237496b8c98a456

And my discussion of how this works in https://github.com/Seneca-CDOT/telescope/pull/690#issue-372843158.

[2020-03-01 23:49] humphd commented on #762
The gatsby-config file can read env vars at build time, yes.  That's how I do the telescopeUrl.

[2020-03-02 03:04] agarcia-caicedo opened #765 "Header covers search bar component"
**What happened**:
The header covers the search bar component, so the search bar cannot be seen.

![image](https://user-images.githubusercontent.com/49992710/75641868-a15d6380-5c07-11ea-87b9-e2563d651df4.png)

![image](https://user-images.githubusercontent.com/49992710/75641988-fb5e2900-5c07-11ea-9712-dc7a59dccc37.png)

**What should have happened**:

The search bar should be under the header

**H

[2020-03-02 03:08] #745 closed

[2020-03-02 03:11] #756 closed

[2020-03-02 05:12] c3ho commented on #665
Closed via #718.

[2020-03-02 05:18] manekenpix commented on #665
I think I can do some more work with this one.

[2020-03-02 13:08] Silvyre opened #767 "Correct minor post styling regression - inline code tags"
Currently, `<code>` tags are styled identically to `<pre>` tags, leading to posts that look like this:

![image](https://user-images.githubusercontent.com/13500769/75678933-b0223580-5c5c-11ea-8864-b1cb2bbaae39.png)

`<code>` tags should instead be styled inline with text.

<hr>

https://github.com/Seneca-CDOT/telescope/blob/e526e277295a94b15669c29b5f64c6ae75b3ef35/src/frontend/src/components/Post/

[2020-03-02 15:11] c3ho commented on #730
Closed via #735

[2020-03-02 15:11] #730 closed

[2020-03-02 15:25] c3ho commented on #668
#691

[2020-03-02 15:32] #613 closed

[2020-03-02 15:32] #610 closed

[2020-03-02 15:34] c3ho commented on #566
Let's do this for post 1.0

[2020-03-02 15:35] c3ho commented on #552
Let's have this finished prior to 1.0

[2020-03-02 15:39] #536 closed

[2020-03-02 15:40] c3ho commented on #536
Go to current front end discussions in Github Teams

[2020-03-02 15:40] #524 closed

[2020-03-02 15:40] c3ho commented on #502
Beyond scope of current 1.0, will reopen later.

[2020-03-02 15:41] #502 closed

[2020-03-02 15:43] c3ho commented on #290
Let's leave this for post 1.0

[2020-03-02 15:44] c3ho commented on #224
Closing this issue as it is too vague.

[2020-03-02 15:44] #224 closed

[2020-03-02 15:44] c3ho commented on #213
Closing this issue as it is too vague.

[2020-03-02 15:44] #213 closed

[2020-03-02 16:13] Silvyre commented on #741
The focus on this issue has shifted. The original post has been updated accordingly.

[2020-03-02 17:59] Silvyre opened #768 "Prevent <h1> and <h2> tags within blog posts from being sanitized"
[By default](https://github.com/apostrophecms/sanitize-html#what-are-the-default-options),  `<h1>` and `<h2>` tags are not included within [our list of allowed HTML tags](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/sanitize-html.js#L10-L43), causing them to be stripped out by our `sanitize-html` module:

https://github.com/Seneca-CDOT/telescope/blob/62087be0501d18f7500ae

[2020-03-02 18:10] agarcia-caicedo opened #769 "Fix styling of the Header once user is logged in"
Currently, there are some elements on the header that are not properly styled. They should be fixed for a better user experience.

![image](https://user-images.githubusercontent.com/49992710/75696577-cbe80480-5c79-11ea-816e-dd35ae9d64ac.png)

[2020-03-02 18:13] agarcia-caicedo opened #770 "Change code so that it follows the material-ui style"
Our use of styling is currently inconsistent, utilizing both traditional css as well as the recommended material-ui format. All the code should be formatted with the material-ui style.

[2020-03-02 18:18] Silvyre commented on #770
The scope of this issue appears to encompass #741 (Refactor frontend CSS into CSS-in-JS), which @yatsenko-julia is assigned to.

@agarcia-caicedo, would you mind working with @yatsenko-julia to separate the work needed here into distinct tasks to ensure your work on your respective issues does not conflict? Thanks!

[2020-03-02 18:18] agarcia-caicedo opened #771 "Remove broken drawer from the mobile version"
**What happened**:

When the mobile telescope site is accessed, there is an open drawer which is not properly formatted and cannot be closed. It looks like this:

![image](https://user-images.githubusercontent.com/49992710/75704845-24be9980-5c88-11ea-8fc1-4c22e3e515ac.png)

**What should have happened**:

As we currently, don't have a proper pull out menu, it should not appear

**Environment**:

-

[2020-03-02 18:22] cindyledev commented on #771
But I like the iPants feature...

[2020-03-02 18:22] agarcia-caicedo commented on #770
If that issue got morphed into the one I volunteered for, then I'm ok with @yatsenko-julia working on it. As of right now, it seems pretty straight forward, but if any bugs with layout result from the change, we can file more specific issues.

I think this issue could be closed if #741 exists.

[2020-03-02 18:27] Silvyre commented on #770
I recall there being more to this specific issue than refactoring CSS files into the Material UI styling solutions.

For example, this issue also could encompass the refactoring our React components to use Material UI tags. This morning, @humphd provided a concrete example of updating our main [Layout](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Layout/Layout.j

[2020-03-02 18:29] raygervais commented on #770
If you’re accepting of Alumni help, I’d like to be apart of this! 😁

[2020-03-02 18:43] cindyledev commented on #770
I'm partly responsible for pushing Material UI in today's triage meeting, throw me in too :P

[2020-03-02 19:09] agarcia-caicedo commented on #770
I guess the best way to do this is to claim a page/component per contributor.

[2020-03-02 20:57] humphd commented on #768
Good catch.  Let's add `<h1>` too.

[2020-03-03 00:48] Silvyre commented on #770
Here's the new starting point! https://github.com/Seneca-CDOT/telescope/pull/772

[2020-03-03 01:11] humphd commented on #768
Let's also alphabetize this list so it's easier to see if we miss things.  I think we missed the `<h1>` and `<h2>` because they are scattered through the list.

[2020-03-03 02:19] agarcia-caicedo opened #773 "Create a better documentation of the colour used in the front end"
**What would you like to be added**:

While the XD file exists, it would be more beneficial to keep a cheat sheet of the colours we have been using in the frontend, to facilitate the process for contributors who are not following the development of the frontend as closely.

The cheat sheet would have an updated list of colours, and a reference of where they have been used. Currently there is an ou

[2020-03-03 02:22] raygervais commented on #773
My recommendation having done front-end in the past, utilize storybooks and unified components. They become a reusable godsend for unified front-end, and living documentation: https://storybook.js.org/

[2020-03-03 02:35] c3ho opened #774 "Images from Ray Gervais's post are broken"
**What happened**:
Images are not being rendered on [dev](dev.telescope.cdot.systems)  for Ray Gervais's post

![image](https://user-images.githubusercontent.com/18711727/75737134-0929b200-5ccd-11ea-908c-c401b85d5780.png)

**What should have happened**:
Images should have been rendered

**How to reproduce it (as precise as possible)**:
Go to the link above

**Anything else we need to know?**:
If y

[2020-03-03 02:36] Silvyre commented on #774
@raygervais

[2020-03-03 02:38] raygervais commented on #774
I'm fairly confident this is on my side, since the references are relative path for my Gridsome site.

[code]

I will try using full path including URL to see if that fixes it on my end.

[2020-03-03 02:44] c3ho commented on #761
Fixed via reverting commit 44e329a
Related commit is - 9b019abc21c443a5998fb5089c7e5369d88a5393

[2020-03-03 02:44] #761 closed

[2020-03-03 02:44] c3ho commented on #762
Solved

[2020-03-03 02:44] #762 closed

[2020-03-03 02:51] humphd commented on #773
Storybook work could be useful post 1.0, but I wouldn't block on it in the weeks we have left this term.

[2020-03-03 02:55] manekenpix opened #775 "Wrong redirection when trying to access /admin/queues for logged-in users"
**What happened**:
Accessing `/admin/queues` after logging in redirects to `/`.

**What should have happened**:
`/admin/queues` should be reachable by logged-in users

**How to reproduce it (as precise as possible)**:
After logging in, try to access `/admin/queues`

**Anything else we need to know?**:
Tested on staging server and localhost. Both show same behaviour.

**Environment**:

- OS: Linux

[2020-03-03 05:48] alexjones999 commented on #224
Could you please guide me how can I do the required modifications or changes as per you. So that I can do that and implement.

[2020-03-03 08:07] cindyledev opened #778 "Utilize MUI for Hero Banner"
**What would you like to be added**:
- Utilize MUI for the Hero Banner
- Change Telescope font size to be responsive (font should be smaller on smaller devices, etc)
- The down arrow button should be updated as well
- [Bonus] Make the arrow button actually work ;D

[2020-03-03 08:21] cindyledev opened #779 "Remove List and ListItem components"
**What would you like to be removed**:
Once #776 is merged, the Side Drawer will be gone so the List + ListItem components will not be used. We should rip it components that aren't being used and aren't MUI

[2020-03-03 08:30] cindyledev commented on #773
Whoever wants to do this can also have a look at https://material-ui.com/customization/palette/
Maybe we can create a global palette in our tree either in this issue or create another issue

Related to #77 Dark/Light mode

[2020-03-03 13:42] humphd opened #780 "Stickers and other Swag for 2.0"
Let's design and buy some stickers for the Telescope 1.0 release.  We can use a service like https://www.stickermule.com/ca to print them.   Things to consider:

- what should it be?  We have a few logos floating around, and it could also be something else that's fun to remember the work
- how many do we need?  I suspect that a bunch of people who worked on this last term will want one

I'm willin

[2020-03-03 15:33] humphd commented on #415
I'm going to steal this...

[2020-03-03 17:29] agarcia-caicedo commented on #780
I'm willing to work on the design

[2020-03-03 17:52] humphd opened #782 "Remove old index.html"
We have an old, unneeded index.html file at `src/frontend/index.html`.

[2020-03-03 17:55] humphd commented on #770
While I was working on #781, I came across this great Blog template for MUI:

https://material-ui.com/getting-started/templates/blog/#

The code is available at https://github.com/mui-org/material-ui/tree/master/docs/src/pages/getting-started/templates/blog, and might give some people inspiration on how to rework things in MUI.

[2020-03-03 19:01] #415 closed

[2020-03-03 19:01] #728 closed

[2020-03-03 19:37] raygervais commented on #778
I'd like to take a crack at this!

[2020-03-03 19:51] humphd opened #784 "myfeeds.js should use sitemetadata hook for telescopeUrl"
In https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/pages/myfeeds.js#L30, we need to switch to use the sitemetadata hook.  Take a look at https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Login/LoggedOut.jsx for an example of how to do this.

[2020-03-03 19:51] Silvyre commented on #784
I'll take this.

[2020-03-03 20:26] raygervais commented on #774
@Silvyre, I've opened up an issue with Gridsome (Vue alt of Gatsby essentially), unsure if they will fix this in time for 0.8 so I'd remove from the release?

[2020-03-03 20:27] Silvyre commented on #774
Ah, sure, good call; let's do that

[2020-03-03 21:01] #782 closed

[2020-03-03 21:23] #771 closed

[2020-03-03 23:27] #704 closed

[2020-03-04 00:21] humphd opened #789 "Add some interesting data points and info to the hero banner"
**What would you like to be added**:

Let's find a way to add some details to the Hero banner.  We already have the version info, which is cool.  Here are some other ideas:

- GitHub stats about the project.  This is a system built by our students for our students.  We could show things like how many lines of code, how many contributors, etc.
- Writing stats.  We have a `/stats` route that gives u

[2020-03-04 00:24] humphd opened #790 "Add "Load More" button to add more posts"
In theory we have infinite scrolling.  In practice, you can easily hit the bottom of the page and you get no more posts.

Let's add a mechanism for loading more posts.  It could be manual ("Load More..." button at the bottom) or automatic.

Having this will also allow us to load fewer posts on startup, which should help load times.

[2020-03-04 00:30] humphd opened #791 "Add a way to receive updates when new posts are available"
If I leave Telescope running in a tab for a long time, I want it to tell me when there are new posts available.  I think it should work like this:

1. We setup a long-poll (i.e., keep calling `fetch()` or do a graphql query) every few minutes
1. When we get back data that is different from our current state, we know that there are updates
1. Show some kind of "Toast" or "Banner" or some other floa

[2020-03-04 03:47] #767 closed

[2020-03-04 14:39] agarcia-caicedo opened #793 "Scroll to the top button does not stand out"
After #772 was pushed, the scroll to the top button was changed from blue to the same colour as the background. This creates no contrast between the elements and does not make for a good user experience.

![image](https://user-images.githubusercontent.com/49992710/75889840-82272780-5dfb-11ea-8607-4da1591774da.png)

The button should be changed to be a different colour, preferably the same blue ad

[2020-03-04 15:19] humphd commented on #793
This would be a good experiment to try and make use of the new theme.js file that I had to add.  We should be able to set that blue as our primary colour, in which case this will "just work."

[2020-03-04 16:13] #769 closed

[2020-03-04 18:01] #784 closed

[2020-03-05 00:13] cindyledev commented on #773
The `theme.js` file was added in #781 , we can definitely add to it

[2020-03-05 01:41] raygervais commented on #793
Assigning to myself if no one else is interested. Curious to dive deeper into React and utilize the `theme.js` file @humphd mentioned.

[2020-03-05 02:28] raygervais commented on #793
Thoughts on this @agarcia-caicedo?, This uses the heading background-color `#335A7E`
![image](https://user-images.githubusercontent.com/14265337/75941815-a7994d00-5e5e-11ea-82f4-516f7a33f0f6.png)

VS

Heading Color `#002944`
![image](https://user-images.githubusercontent.com/14265337/75941868-d6afbe80-5e5e-11ea-8905-eac001292b63.png)

VS

Title Color `#a4d4ff`
![image](https://user-images.githubus

[2020-03-05 02:52] #779 closed

[2020-03-05 03:29] Silvyre opened #798 "Import PHP, DOS modules into syntax-highlight.js"
**What would you like to be added**:

Syntax highlighting support for PHP and DOS is missing from [`syntax-highlight.js`](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Post/syntax-highlight.js) and should be added.

**Why would you like this to be added**:

Code in these languages may plausibly make its way onto Telescope, as they are languages taught within Sene

[2020-03-05 03:39] humphd opened #799 "Add native lazy loading to post images"
**What would you like to be added**:

Let's experiment with adding [`loading="lazy"` attribute to `<img>` elements](https://css-tricks.com/a-deep-dive-into-native-lazy-loading-for-images-and-frames/#article-header-id-2) in a post.  This will let [browsers that support it](https://caniuse.com/#feat=loading-lazy-attr) delay loading images that aren't visible on the page yet, and load them only when

[2020-03-05 03:40] humphd commented on #799
This could also be controlled via an `env` variable, such that we could try turning it on/off via config without having to change our code later if we don't like it.

[2020-03-05 14:50] cindyledev opened #801 "Turn Telescope into a Progressive Web App (PWA)"
**What would you like to be added**:
We briefly talked about this a long time ago and I think our Gatsby website is ready to be a PWA now

**Why would you like this to be added**:
Our frontend has been incredibly improved the last few days for mobile. PWA is the next step

[2020-03-05 15:05] humphd commented on #801
https://www.gatsbyjs.org/docs/progressive-web-app/ has some good info.  We already have the mainfest plugin, and it should be tweaked to give our app the right look and feel on mobile.

Adding a service worker would be interesting.

[2020-03-05 15:52] humphd opened #802 "Use multiple images for our hero banner"
**What would you like to be added**:

Let's consider including a bunch of images in our tree that we use (randomly) for the hero banner background image.  We'd still have only 1 image showing (I don't mean rotate through them when you load), but every time you reload the site, you'd get a new one.

Here are some queries with images to consider:

- https://unsplash.com/s/photos/telescope
- https://

[2020-03-05 16:36] Silvyre commented on #801
I'd like to collaborate on this.

[2020-03-05 16:57] #699 closed

[2020-03-05 17:17] #793 closed

[2020-03-05 17:33] humphd opened #803 "Include version info on header banner"
**What would you like to be added**:

Let's find a way to include the current git SHA for the commit we've built and shipped on staging/production.  What if we altered this slightly so it was:

[code]

This would require the following changes:

- Instead of pulling in the entire `package.json` file [here](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Banner/Banne

[2020-03-05 17:57] humphd commented on #801
https://alligator.io/gatsbyjs/gatsby-pwa/ is also useful.

Another thing I'd love is to be able to install the app on my phone or desktop.  Probably that will require some work to get logos in the right sizes/formats, too.

[2020-03-05 19:19] humphd opened #804 "About Page"
**What would you like to be added**:

Let's add a static About page to Telescope, which people can use to learn more about the app and project, who built it, how to get involved, etc.

Gatsby supports using Markdown, so we might be able to do this without much/any code, see https://www.gatsbyjs.org/docs/adding-markdown-pages/.

**Why would you like this to be added**:

We've had a number of discus

[2020-03-05 19:20] humphd commented on #804
We should include links here to anything related to the project, including:

- https://github.com/Seneca-CDOT/telescope
- https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List
- https://seneca-open-source.slack.com/archives/CS5DGCAE5
- etc

[2020-03-06 00:26] agarcia-caicedo commented on #804
I'll work on it

[2020-03-06 01:28] #675 closed

[2020-03-06 02:56] #685 closed

[2020-03-06 04:15] #669 closed

[2020-03-06 14:39] humphd commented on #674
Let's move the path for loading the certs into the `.env` so that we can do a better job indicating where they are.  I also want this badly for the SAML setup on staging, so I can connect with your Let's Encrypt certs.

[2020-03-06 20:09] cindyledev commented on #804
This is something I've been looking into since #290 . @agarcia-caicedo I don't know if you wanna do the About Page solo or if you're open to collaborate with me but I'm happy to assist you with this issue.

[2020-03-06 20:41] humphd commented on #798
Closed by #812

[2020-03-06 20:41] #798 closed

[2020-03-07 01:56] ragnarokatz opened #813 "Whitelist YouTube/Vimeo iframe elements in post content"
**What happened**:
A blog post containing video (youtube link) is not showing on telescope.

**What should have happened**:
The video should appear in the blog post on telescope.

**How to reproduce it (as precise as possible)**:
- use google chrome
- login to wordpress
- make sure this blog is subscribed to telescope's blog feed. Sign up if it's not.
- start a new blog post
- copy and paste a you

[2020-03-07 01:57] humphd commented on #813
This is fallout from https://github.com/Seneca-CDOT/telescope/issues/556.

I wonder if we should whitelist a few domains, such as the youtube-embed case?

[2020-03-07 01:59] Silvyre commented on #813
I think that would be worthwhile.

[2020-03-07 02:00] humphd commented on #813
In fact, this case seems pretty easy to implement: https://github.com/apostrophecms/sanitize-html#iframe-filters.

I think we should allow youtube/vimeo at least.

[2020-03-07 03:57] agarcia-caicedo opened #814 "Link overflow in mobile"
![Screenshot_20200306-225317_Chrome](https://user-images.githubusercontent.com/49992710/76136266-8cb10f00-5ffd-11ea-83f5-4adb3bbb048b.jpg)

Links longer than the post will go past it. It's currently an issue on mobile but I suspect it is also an issue on the web, there just have not been any links that break the formatting there yet.

[2020-03-07 03:58] agarcia-caicedo commented on #804
@cindyledev I'm open to collaborate, let me know what you're thinking

[2020-03-07 13:18] humphd opened #816 "Favicon improvements"
**What would you like to be added**:

Our favicon colours/lines don't have enough contrast or weight to be seen easily.  Here it is against dark and light backgrounds.

<img width="450" alt="Screen Shot 2020-03-07 at 8 12 12 AM" src="https://user-images.githubusercontent.com/427398/76144230-24d5e500-604c-11ea-80f2-0651c0a4d3c5.png">

I wonder if we should fill the circle with a solid colour, and m

[2020-03-07 18:41] raygervais commented on #789
Taking a crack this weekend on it. I really like your example `did you know we've written 40K words since January 1? Impressive!` as a basis of how we are conveying stats.

[2020-03-07 18:48] cindyledev opened #817 "Footer Improvements"
Did you know we have a footer? I sure didn't. We have one line in `Layout.js` (line 72) that says:
[code]
You'd have to scroll _all_ the way down to the bottom of the main page to see it. Let's find a better place for it so we can actually see it. Location is up to you. Use MUI if you can.

We should add to it as well. `Copyright © 2020 Seneca’s Centre for Development of Open Technology` looks mor

[2020-03-07 18:55] cindyledev commented on #804
I like this kind of style for the footer to include the links Dave mentioned
![Annotation 2020-03-07 135051](https://user-images.githubusercontent.com/36822198/76150683-2965c200-607b-11ea-8b17-48d4ccff67b8.png)

[2020-03-07 21:07] humphd commented on #789
Awesome, thanks @raygervais.  Another existing api endpoint you might find useful:

[code]

In headers you'll get:

[code]

If you want to use that number in any way (it will always grow).

[2020-03-08 18:55] humphd opened #819 ""WORKDIR paths should be absolute""
In `Dockerfile` and `developer.Dockerfile` I'm seeing this warning from VSCode:

<img width="595" alt="Screen Shot 2020-03-08 at 2 42 29 PM" src="https://user-images.githubusercontent.com/427398/76169272-dc522080-614c-11ea-996d-e13bed43ac0f.png">

cc @raygervais

[2020-03-08 18:58] humphd opened #820 "Document, use, or remove developer.Dockerfile"
We have `Dockerfile` and `developer.Dockerfile`, and I'm unclear what the latter is.  Can we either document/use it somewhere, or remove?  Nothing currently references it in our tree.  Is that by design or a bug?  If you have to use it via a command line flag, we should document that.

cc @raygervais

[2020-03-08 19:54] humphd commented on #775
I ran `git bisect` to figure this out, and the last time it worked was `v.0.6.0`.  Immediately after that we landed https://github.com/Seneca-CDOT/telescope/commit/07c308ed1bac7295898b75fa04e9383d31e5a68d and it broke.  Before this change, we used to do the admin route like this:

[code]

Where `authenticateWithRedirect()` was:

[code]

So I guess the way that `passport.authenticate('saml')` is wo

[2020-03-08 20:46] raygervais commented on #820
This was the original `Dockerfile` that Telescoped used prior to me introducing the multi-stage builds. Reason I had opted to keep it around was purely for those who were using Docker locally and needed the `node:lts` container base for any reason. Pretty safe to delete if no one is leveraging Docker in their local workflow.

[2020-03-08 20:53] raygervais commented on #819
This appears to be fixed in the next release of the Docker-linter plugin for VS Code. https://github.com/microsoft/vscode-docker/issues/1492

[2020-03-08 20:54] raygervais commented on #819
Still, we could simply remove the quotations (they aren't mandatory I believe) and have the warning / error disappear now :). Thoughts on direction @humphd?

[2020-03-09 00:39] #820 closed

[2020-03-09 00:41] humphd commented on #819
If it's not a real problem, and the linter will catch up, I'm happy to close it.  Thanks for researching.

[2020-03-09 00:41] #819 closed

[2020-03-09 13:54] Silvyre commented on #813
@ragnarokatz Were you interested in working on this?

[2020-03-09 14:04] #774 closed

[2020-03-09 14:24] #586 closed

[2020-03-09 14:56] ragnarokatz commented on #813
@Silvyre Nope, just reporting a bug. Please feel free to take this issue and work on it.

[2020-03-10 01:50] raygervais opened #825 "Improve local docker build times for code changes."
**What would you like to be added**:
Current `Dockerfile` takes an average of 10 minutes to complete due to multiple `npm installs` failing to cache, defeating the purpose of the multi-container design for local development.

**Why would you like this to be added**:
Reduce @Silvyre load time from ~10min to ~1min if possible, establish `Docker Doctor` title till a challenger or learner approaches.

[2020-03-10 03:39] #757 closed

[2020-03-10 13:53] manekenpix opened #827 "Telescope needs a <title>"
**What would you like to be added**:

Currently, Telescope doesn't have a `<title>`, so Telescope's tab(s) are shown like this:

![image](https://user-images.githubusercontent.com/23108901/76318470-23a6f100-62b4-11ea-9211-1ebb714add93.png)

This could be easily done using [helmet](https://www.npmjs.com/package/react-helmet) (which is already part of Telescope's frontend, I think).

[2020-03-10 19:47] humphd opened #828 "Add a "ready" event for redis to match elasitic"
In #822 we're adding Elasticsearch, and the way we're doing it adds logic to our feed worker on startup to make sure Elastic is "ready" before processing posts.  We should probably do the same for Redis. [ioredis has an `enableReadyCheck` option and `ready` event we can use](https://github.com/luin/ioredis#connection-events).

[2020-03-10 19:51] humphd opened #829 "Extend /health with info about dependent Elastic and Redis services"
It would be nice if our `/health` API returned into about whether or not the dependent services (Elasticsearch and Redis) are online and "ready," too.  Currently [we only return uptime](https://dev.telescope.cdot.systems/health), which isn't that useful.

The code in #822 has a way to get connection health for Elasticsearch, and we can probably leverage something in ioredis or do a PING command to

[2020-03-10 20:03] #778 closed

[2020-03-11 00:32] cindyledev opened #830 "Scroll buttons are not the same size"
Follow up to #815

The scroll down button on the Hero banner and the scroll to the top button are not the same size
<img width="64" alt="Screen Shot 2020-03-10 at 3 59 57 PM" src="https://user-images.githubusercontent.com/427398/76354171-57037300-62e8-11ea-82a4-d813f4ac1deb.png">
<img width="73" alt="Screen Shot 2020-03-10 at 3 59 49 PM" src="https://user-images.githubusercontent.com/427398/763541

[2020-03-11 01:04] agarcia-caicedo commented on #830
I'll work on it

[2020-03-11 01:05] agarcia-caicedo commented on #827
I'll work on it

[2020-03-11 02:52] #825 closed

[2020-03-11 03:07] c3ho opened #832 "Documentation for Full-Text Indexing(ElasticSearch)"
**What would you like to be added**:
PR for #537 is going to go in, we'll need documentation on how to use it.

**Why would you like this to be added**:
In case any future backend developments that depend on ES, contributors should have information on how to use the client as well as important params for the API.

[2020-03-11 03:09] manekenpix commented on #832
I know, I know...

[2020-03-11 03:13] c3ho commented on #791
We can probably use the stuff going into #750 for this. I'm thinking of using the GraphQL getPosts query that will just run every 60s and check if the value of the query is the same as currentState.

[2020-03-11 04:34] #537 closed

[2020-03-11 20:09] smilegodly commented on #768
I'd like to work on this one if that is alright.

[2020-03-11 21:36] Silvyre commented on #768
@smilegodly That would be great!

[2020-03-11 23:21] humphd commented on #768
Awesome, @smilegodly, thanks!  FYI, #813 is pretty similar to this if you want another one while you're at it!

[2020-03-12 04:32] cindyledev commented on #290
Find something similar to this https://material-ui.com/components/tabs/ for Gatsby...
Idea: have this kind of set up for installation instructions for each OS

[Linux][Mac][Windows]
-------------------------
[instructions...              ]

[2020-03-12 20:42] smilegodly commented on #813
I'd like to work on this if that's alright.

[2020-03-12 20:45] c3ho commented on #813
Thank you for taking on the issue @smilegodly

[2020-03-12 20:45] smilegodly commented on #813
Currently we have a test that checks if the iframe tag gets sanitized. Should we still have this test?
The iframe tag needs to be allowed in order to allow the hostnames

[2020-03-13 00:01] humphd commented on #813
Split that test into 3 tests:

- an iframe to a YouTube embed should work (i.e., iframe is still there)
- an iframe to Vimeo embed show work (i.e., iframe is still there)
- iframe to anything else should get removed

[2020-03-13 18:54] raygervais commented on #802
Would like to work on this after I have #789 landed since it's the same component. Will start the conversations of do we want the image to change every refresh, or over time?

[2020-03-14 17:31] #832 closed

[2020-03-15 03:57] cindyledev opened #837 "Support <del> elements in our html sanitizer"
**What happened**:
Strikeout text doesn't show up properly in blog post on Telescope. Original source is from Wordpress. Strikeout text is inside of an unsorted list

https://dev.telescope.cdot.systems/
https://cindyledev.wordpress.com/2020/03/14/osd-700-release-0-8-progress/

![Annotation 2020-03-14 235354](https://user-images.githubusercontent.com/36822198/76694950-64ee2680-664f-11ea-982d-130bfa

[2020-03-15 14:17] humphd commented on #837
This will be due to our html-sanitizer stripping `<strike>` elements.  I wonder what we should do here, since `<strike>` is [obsolete in HTML5](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strike) (you're supposed to use `text-decoration: line-through;` in CSS now).

[2020-03-15 15:53] #789 closed

[2020-03-15 15:53] #830 closed

[2020-03-15 20:22] humphd opened #838 "API Route caching"
We're using things like `/posts` and `/stats/year` on every load of the app.  Let's cache these results (memory or redis).  We should return cached results when possible.

If using redis, we can use `redis.setex()` and set a key that will expire in N seconds.  We'd just need some middleware to check if the value exists in cache before we do the work of looking it up.

[2020-03-15 23:08] manekenpix commented on #838
I think this is included in #634. @c3ho and I are working on this. I'll probably be ready tomorrow or Tuesday.

[2020-03-16 17:00] c3ho opened #839 "Search Bar submit button + onClick()"
**What would you like to be added**:
#792 should hopefully go in soon. It doesn't have a search button, but dynamically returns results based on user input. I made it this way currently because I'm unable to prevent the onClick function from triggering non stop after the initial user click

Here's some code snippets that may speed up the process to resolve the issue:

I removed the following code

[2020-03-17 17:00] agarcia-caicedo opened #841 "Header Bar text increases size when search button clicked"
**What happened**:
When a user goes to the search page and clicks the search button, regardless of filter, the text in the header bar grows in size. This is how it looks.

![image](https://user-images.githubusercontent.com/49992710/76881013-e6f86e00-684e-11ea-8d8f-cef895e2e9f4.png)

**What should have happened**:
This is how the header should look:

![image](https://user-images.githubusercontent.c

[2020-03-17 17:17] cindyledev commented on #841
Does it think the magnify glass button means zooms in or something? 😂

[2020-03-18 21:51] c3ho opened #844 "Switch our REST APIs to serverless"
**What would you like to be added**:
We should switch our REST API's to become serverless functions

**Why would you like this to be added**:
This was discussed at the beginning of our OSD700 course and I think now is a good opportunity to implement this.

[2020-03-19 17:29] cindyledev commented on #841
This is a very weird bug, I can't seem to be able to reproduce this locally on Linux or Windows but it's definitely happening at `https://dev.telescope.cdot.systems/search`

[2020-03-19 17:35] cindyledev commented on #841
Let's see if this is still a problem after #792 gets merged...

[2020-03-19 18:58] c3ho opened #846 "Variance between expected and actual results from GraphQL"
**What happened**:
While testing a PR on localhost:3000/graphql with the following query

[code]

returns
[code]

I am pretty sure David Humphrey has more than 15 open-source tagged posts.

I checked with another contributor @cindyledev with the same query and she had   `5542 posts` with `Processing.js 2008-2018` being the last post title (this is only one more title than I received).

**What shou

[2020-03-19 19:03] c3ho commented on #846
Experienced this while testing #845

[2020-03-19 19:27] manekenpix commented on #846
I get the same results, 5535 posts and the same titles.

[2020-03-19 20:11] cindyledev commented on #846
I get this when I run the same query:
[code]

OS: Linux (Ubuntu)
Browser: Firefox

[2020-03-19 20:52] humphd commented on #844
I would caution against this for 1.0.  It will change so much about how we deploy and run our backend.  Without Kubernetes, this is going to be hard to do well imho.

[2020-03-19 22:58] #665 closed

[2020-03-20 01:04] #648 closed

[2020-03-20 01:45] #538 closed

[2020-03-20 16:22] lozinska opened #849 "Font-family is not consistent"
**What happened**:

In the blog post font-family is different depend on the element.
Header and lists have font-family `Palatino, Georgia, Cambrai, 'Times New Roman', Times, 'Helvetica Neue', Helvetica,
    Arial`, while the body of the post (excluding list) has font-family `Roboto, Helvetica, Arial, sans-serif`

**What should have happened**:

Blog post should have the same font-family

**How to

[2020-03-21 01:34] #626 closed

[2020-03-21 06:09] agarcia-caicedo opened #853 "Drawer is purely decorative at the moment"
**What would you like to be added**:
Add functionality to the drawer, as it does nothing when clicked.

**Why would you like this to be added**:
It will give us space to add links, so that the main bar is not cluttered. It will also help mobile functionality.

[2020-03-22 02:01] #814 closed

[2020-03-22 03:15] cindyledev opened #856 "Remove unnecessary .css files"
Related to #770

We currently do not use:
- `AuthorResult.css` is blank
- `Header.css` is also blank
- `Layout.css` has styles we don't use, therefore can be deleted

[2020-03-22 12:45] #701 closed

[2020-03-22 13:28] cindyledev commented on #841
I might have found the culprit. I was going through our code looking for .css files to delete for #856 and as a test, I deleted `/src/frontend/src/pages/index.css`. This is the exact look that happens after the search button in the search bar is clicked... I think `index.css` is somehow applying itself here.

Before delete:
![Annotation 2020-03-22 091904](https://user-images.githubusercontent.com/

[2020-03-22 21:31] #853 closed

[2020-03-22 21:41] humphd opened #858 "/stats/* reporting incorrect values"
We noticed that the stats visible on the front page (from `/stats/year`) were not updating.  Now I see this:

<img width="851" alt="Screen Shot 2020-03-22 at 5 39 52 PM" src="https://user-images.githubusercontent.com/427398/77261344-4518bd00-6c64-11ea-9001-5ac759a573b6.png">

Something is broken.

[2020-03-22 21:42] humphd commented on #858
Is this a date issue in the container?

[2020-03-22 21:53] #856 closed

[2020-03-23 00:19] humphd commented on #858
From Slack, this might be related to the indexing restarting on staging.

[2020-03-23 01:26] cindyledev opened #859 "Embedded YouTube videos does not showing up on Telescope"
**What happened**:
Not sure if this was intentional but embedded YouTube video doesn't show up on Telescope
![Annotation 2020-03-22 211941](https://user-images.githubusercontent.com/36822198/77270743-2e359300-6c83-11ea-935f-b293f0e0b2f2.png)

**What should have happened**:
Embedded YouTube videos should be displayed or at least a link

**How to reproduce it (as precise as possible)**:
Visit the fo

[2020-03-23 01:33] manekenpix commented on #859
Related to (if not the same) #813.

[2020-03-23 01:36] cindyledev commented on #859
@manekenpix I was looking for that issue but couldn't find it so I thought I might have imagined it XD

Closing this one because duplicate

[2020-03-23 01:36] #859 closed

[2020-03-23 01:37] cindyledev commented on #813
Another YouTube video didn't show up properly today
![Annotation 2020-03-22 211941](https://user-images.githubusercontent.com/36822198/77270743-2e359300-6c83-11ea-935f-b293f0e0b2f2.png)

**How to reproduce it (as precise as possible)**:
Visit the following:
https://dev.telescope.cdot.systems/
https://cleung.wordpress.com/2020/03/22/a-video-to-show-what-i-have-done/

**Anything else we need to know

[2020-03-23 02:05] cindyledev opened #860 "Hamburger menu button cannot be accessed in small devices"
**What happened**:
Hamburger menu button cannot be accessed in small devices such as the Samsung S5. The navbar starts looking really cluttered for screens smaller than 430px
![Annotation 2020-03-22 220613](https://user-images.githubusercontent.com/36822198/77273211-60e28a00-6c89-11ea-9dd6-e9111d2102e5.png)

**What should have happened**:
Header should only show Telescope title and hamburger menu

[2020-03-23 05:32] manekenpix commented on #858
Currently, `/stats/year` returns:

![image](https://user-images.githubusercontent.com/23108901/77284729-b75dc180-6ca5-11ea-927d-617da973e252.png)

Many authors have posted more than 1 post this year, so it's possible that the same value is being used for both `posts` and `authors`.

[2020-03-23 14:39] cindyledev opened #862 "Request: Increase number of blog posts on staging"
**What would you like to be added**:
Telescope currently does not support infinite scrolling and I think it only shows 30 posts. More frequent blog posts have been requested and with the increase in number of new authors, I'm concerned that some blogs might be missed. Can we increase the number of blogs displayed on staging until infinite scrolling gets added? Maybe like 50 posts

**Why would you

[2020-03-23 15:02] Silvyre commented on #760
@humphd If this can be done using `graphql-passport` functionalities, I'd be happy to take this on for 0.9.

[2020-03-23 15:03] Silvyre commented on #768
Resolved by https://github.com/Seneca-CDOT/telescope/pull/835

[2020-03-23 15:03] #768 closed

[2020-03-23 15:20] #862 closed

[2020-03-23 15:36] cindyledev commented on #858
I think its showing number of posts. The count for number of authors seems wrong.

[2020-03-23 15:43] #765 closed

[2020-03-23 15:50] #773 closed

[2020-03-23 18:50] #827 closed

[2020-03-23 21:32] humphd opened #865 "Rename SAML metadata endpoint to /sp"
For our SAML entity id, we're going to use:

- production: https://telescope.cdot.systems/sp
- staging: https://dev.telescope.cdot.systems/sp

It's common for these to also be your metadata URL.  Let's move our `/auth/metadata` endpoint to `/sp`

I'm following naming guidance from https://spaces.at.internet2.edu/display/InCFederation/Entity+IDs.

[2020-03-24 01:17] agarcia-caicedo opened #868 "Add the Header to /myfeeds"
**What would you like to be added**:
Add the header to the my feeds page.

![image](https://user-images.githubusercontent.com/49992710/77378131-8b951700-6d4b-11ea-9268-aa13988e9407.png)

**Why would you like this to be added**:
Currently, the page is completely isolated from the rest of the app. The header would at least will make for a better interface as it continues to be further integrated. It

[2020-03-24 01:40] #813 closed

[2020-03-24 13:43] humphd opened #869 "Expand <iframe> video to fill available width and keep aspect ratio"
**What would you like to be added**:

Let's add some code to wrap our `<iframe>` elements for YouTube/Vimeo such that we can [expand them to fill the available width and keep their aspect ratio](https://css-tricks.com/fluid-width-video/#article-header-id-0).  There are two ways we can do this:

1. Re-work the HTML we get, and add a wrapper container that we can use to do relative positioning of th

[2020-03-24 16:31] #865 closed

[2020-03-24 20:47] smilegodly commented on #869
I'd like to work on this

[2020-03-24 20:53] humphd commented on #869
Awesome, thanks @smilegodly.

[2020-03-25 00:26] humphd opened #872 "Adjust responsive sizing, positioning on mobile"
<img width="386" alt="Screen Shot 2020-03-24 at 8 21 21 PM" src="https://user-images.githubusercontent.com/427398/77488958-23a70500-6e0d-11ea-8d37-54687a8f977d.png">

There are a couple of paper-cuts we can fix:

- Login and the Hamburger menu are cut off.  We could switch form words to icons on mobile, or we could move everything across the top into the hamburger menu.
- The "scroll down" circula

[2020-03-25 00:37] raygervais commented on #872
I'd like to take this on. It's always fun improving responsiveness of a site for more view-ports.

[2020-03-25 01:09] humphd commented on #872
You have a twisted sense of fun, but I'm here for it.  It's all yours!

[2020-03-25 01:25] cindyledev commented on #872
First bullet point is similar to #860 :o

[2020-03-25 01:26] raygervais commented on #872
If @agarcia-caicedo hasn't yet started, I can tackle #860 same time and we iterate from there. Or, I can leave `Header.jsx` alone entirely.

[2020-03-25 02:50] cindyledev opened #874 "Typo in environment-setup.md"
**What happened**:
Typo in our docs `telescope/docs/environment-setup.md`
Under SAML Setup

![Capture](https://user-images.githubusercontent.com/36822198/77496236-e6e50900-6e20-11ea-894c-d2dc19c39e54.PNG)

`./tools/generate_ssl_certs.sh` should be `./tools/generate-ssl-certs.sh`

**Environment**:

- OS: Windows
- Browser: NA

[2020-03-25 07:29] Grommers00 opened #875 "Staging object for SSO needs to match Develop SSO."
**What happened**:
Currently, we have a mock SSO that seneca provided at https://dev.telescope.cdot.systems/
The object currently returned is not set-up with our current frontend.  Creating one single object with the same variable names will allow us to match the development side, so when we finally move
to the official Seneca SSO, our site should work.

**What should have happened**:

**How to re

[2020-03-25 15:24] raygervais opened #876 "Leverage Gatsby's Image Optimization for Unsplash API"
**What would you like to be added**:
For 0.9, we've added the dynamic banner background which polls Unsplash API collection. Going forward, let's integrate this into the build step of Gatsby to leverage the image optimization. That would mean pulling down the collection and then randomizing which is used during runtime.

**Why would you like this to be added**:

[2020-03-25 15:32] humphd commented on #838
Closing as dupe of #634.

[2020-03-25 15:32] #838 closed

[2020-03-25 15:35] humphd commented on #829
This is a hard dep now, so closing.

[2020-03-25 15:35] #829 closed

[2020-03-25 15:37] Silvyre commented on #837
Wordpress uses `<del>` elements, which we're currently sanitizing out. Resolving this issue would likely be as simple as adding `<del>` to our array of allowed tags:

https://github.com/Seneca-CDOT/telescope/blob/f13d52f12150ca173f71e9e9a321a0f8294ff953/src/backend/utils/sanitize-html.js#L10-L43

[2020-03-25 17:51] humphd commented on #837
Morphing this bug....

@smilegodly you seem to know this code best, want to tackle this for us?

[2020-03-25 17:55] cindyledev commented on #837
Ah I just created a PR for this D:

[2020-03-25 18:32] #837 closed

[2020-03-25 23:13] #875 closed

[2020-03-26 02:27] manekenpix commented on #804
I noticed that the title doesn't work for this page. It usually shows the title of where you were right before opening `About`.
Here I went to `Search` and the `About`:
![image](https://user-images.githubusercontent.com/23108901/77603932-a69c8e00-6ee7-11ea-8108-ad600ffe896f.png)
Since this is general issue for the `About` page, I thought it'd be a good idea to mention this here.

[2020-03-26 05:11] #750 closed

[2020-03-26 15:09] c3ho commented on #846
@humphd you were right. I checked your feed and the last one you have is the following below:
![image](https://user-images.githubusercontent.com/18711727/77662449-4131b700-6f52-11ea-9e85-946572b4f321.png)

Closing this issue.

[2020-03-26 15:09] #846 closed

[2020-03-26 16:11] humphd opened #880 "Update release-it for pushRepo in GitHub Releases plugin (deal with 0.8 release bug)"
We need to formally release 0.8.  @Silvyre has volunteered to do this, and I'll help him.

I'm thinking to use https://github.com/Seneca-CDOT/telescope/commit/382aba4ad8c7f19a8704643203106f14e7d4eb56 as our commit.  Take a look at https://github.com/Seneca-CDOT/telescope/commits/master?before=c5be1b508491b59ea0db9efdbd9037382ca7cbfb+35 and see if there is a more logical one to use.

We're planning

[2020-03-26 19:22] cindyledev commented on #804
Thanks @manekenpix, we'll add the title when we iterate on this.

[2020-03-26 19:43] cindyledev opened #881 "boxAfterHeader style is no longer needed in SearchPage.jsx"
**What happened**:
After #792 was merged, it added a boxAfterHeader style to add spacing between the Header and the SearchBar component. This is no longer needed as it's not a problem anymore.

![Annotation 2020-03-26 152824](https://user-images.githubusercontent.com/36822198/77688838-160d8e80-6f77-11ea-9ab1-32ca5bafa9fa.png)

Please remove the following in `telescope/src/frontend/src/components/S

[2020-03-26 20:01] humphd commented on #880
This is done, but I'll leave it open while we sort out what happened in https://github.com/release-it/release-it/issues/632

[2020-03-26 20:41] #666 closed

[2020-03-26 23:05] Grommers00 opened #883 "Redis - add user to own a list of feeds."
**What would you like to be added**:
Step 1 Add a user field to Redis
Step 2: Our Feed data type, graphql
Step 3: Update our tests

**Why would you like this to be added**:
So users can remove and add there own feeds, this will let us move in the right direction, and make the next steps easier.

[2020-03-26 23:10] humphd commented on #883
This will involve updating a bunch of things:

- adding an `owner` line and value to https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/storage.js#L35-L45
- updating the tests in https://github.com/Seneca-CDOT/telescope/blob/master/test/storage.test.js to work with this new value present
- updating `Feed` to have a `user` (could be `null`) here https://github.com/Seneca-CDOT/te

[2020-03-26 23:11] humphd commented on #883
When you are working on this, you'll need to wipe your redis database.  This requires using:

[code]

[2020-03-27 01:25] #646 closed

[2020-03-27 01:25] #674 closed

[2020-03-27 01:25] #694 closed

[2020-03-27 01:25] #695 closed

[2020-03-27 02:13] cindyledev commented on #874
#882 closes this along with the other 4 issues.

[2020-03-27 02:13] #874 closed

[2020-03-27 02:54] humphd commented on #883
Where I said `owner` above, I meant `user`.

[2020-03-27 12:43] humphd commented on #615
This is fixed now.  @yatsenko-julia, when you do a PR, you can add `Fixes #615` in your description, and it will automatically link the issue and PR, then close it for you when the PR gets merged.

[2020-03-27 12:43] #615 closed

[2020-03-27 12:47] humphd commented on #883
The work @c3ho did in https://github.com/Seneca-CDOT/telescope/pull/807/files is a nice template for what you have to do here, fyi.

[2020-03-27 12:54] humphd commented on #881
I'm suggesting this as a good issue for @JackyTea to tackle next.

[2020-03-27 13:14] cindyledev commented on #77
I'd like to have a dark mode eventually but I don't think we should use Darkmode js since we have other options available:
1) [gatsby-plugin-dark-mode](https://www.gatsbyjs.org/packages/gatsby-plugin-dark-mode/) or
2) [MUI Dark mode](https://material-ui.com/customization/palette/#dark-mode)

[2020-03-27 13:55] humphd opened #885 "Missing git sha in /health route"
<img width="531" alt="Screen Shot 2020-03-27 at 9 54 20 AM" src="https://user-images.githubusercontent.com/427398/77763167-093d7900-7011-11ea-833d-c89012d16b7b.png">

This works locally, but I suspect that when we do the build, we lost all git info.  Is there a way around this with our docker pruning?  cc @raygervais.

[2020-03-27 16:00] #880 closed

[2020-03-27 16:53] humphd commented on #885
From Slack:

[code]

[2020-03-27 22:44] #885 closed

[2020-03-28 01:02] JackyTea commented on #881
@humphd Haven't setup my dev environment for Telescope yet, but would be happy to tackle this once I do.

[2020-03-28 02:15] humphd commented on #858
We're still seeing issues here, with newly added posts not triggering a change to the total word count.  I wonder if this is somehow date related, and we're not including the new post in what gets counted, but are including it in what we show?

[2020-03-28 02:37] humphd commented on #881
@JackyTea start by reading through https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md and getting your computer setup to work on this code.  Happy to answer any questions you have here or in Slack.

[2020-03-28 07:08] cindyledev opened #889 "Logged In state for Header needs to be updated"
**What happened**:
After #882 landed, we are now able to log in AND log out and after #877, we have display names for users who successfully signed in. However, the Header doesn't display them nicely.

![Screenshot_2020-03-28 Home](https://user-images.githubusercontent.com/36822198/77817173-4cdec400-709f-11ea-9f87-a3aeed06d671.png)

**What should have happened**:
Please fix so that Username and LO

[2020-03-28 13:41] humphd commented on #858
The number is updated this morning, 11 hours later--so it does the right thing in less than 12 hours.  I wonder if we're off by some amount of hours attributable to timezone differences in how dates are being calculated?  This is how we figure out the range of time to use for getting posts from Redis:

https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/data/stats.js#L68-L75

[2020-03-28 14:06] humphd opened #890 "Create custom pages for HTTP 404, 403, 500s"
**What would you like to be added**:

Let's consider adding some custom pages for a few error cases that we have.  I'm not 100% clear on the right way to deal with the difference between what lives in Gatsby and what is just static that we can access via Express.  This will need some research.

What I'd like to deal with are these cases:

- 404s: when we can't find something
- 401s, 403s: when the

[2020-03-28 15:41] humphd commented on #889
Yes, let's do this.  And let's drop the avatar, since we don't/won't have this info for 99% of people using the system.  Also, the `Welcome...` part is probably not needed, since we don't have tons of space.

[2020-03-28 15:43] manekenpix commented on #858
@humphd The staging box was used for testing 7 hours ago, and telescope had to be relaunched many times to test the new features. I think we should consider that as one of the possible reasons why the number got updated.

[2020-03-28 15:46] humphd commented on #858
@manekenpix OK, that's really useful to know.  I assumed that it has been stable over the night, but if it got restarted, that complicates things.

[2020-03-28 15:48] cindyledev commented on #858
Yeah, I noticed the number changed after dev was back up last night around 4am

[2020-03-28 15:49] humphd commented on #858
Speaking of time zones, you're all crazy.

[2020-03-28 18:01] cindyledev commented on #889
Updated issue with @humphd 's suggestions

[2020-03-28 18:55] #775 closed

[2020-03-28 20:01] agarcia-caicedo commented on #889
I'll work on it, now that we have a drawer we can declutter the navbar

[2020-03-28 20:03] #802 closed

[2020-03-28 20:15] humphd opened #892 "Fade stats line in only when we have the result from /stats route"
**What would you like to be added**:

We're fading in the image from Unsplash now, and it's cool.  Let's do the same for the line that says how much we've written this year.

**Why would you like this to be added**:

It's really jarring how the stats line shows up, but without any numbers, then they come in and it jumps, causing reflow.  I think it would be nicer if you got the Telescope banner, t

[2020-03-28 20:20] #872 closed

[2020-03-28 21:01] raygervais opened #893 "declutter Banner layout"
**What would you like to be added**:

Based on comments of @agarcia-caicedo, let's investigate how we can balance the text and various elements found in the Banner component so that on both widescreen and mobile, it doesn't seem overbearing or lopsided.

**Why would you like this to be added**:

[2020-03-28 21:30] humphd opened #894 "Choose Unsplash images to use with banner"
**What would you like to be added**:

We've just merged the work @raygervais did to add Unsplash photos to our banner.  As a start he's using the photos in this collection: https://unsplash.com/collections/894/earth-%26-planets.

Let's see if we can create a Collection that can be shared across accounts, or I can make one, and people can tell me which photos to add.

**Why would you like this to b

[2020-03-28 21:57] #634 closed

[2020-03-29 14:15] humphd commented on #894
One thing I'm noticing, as I watch all the new photos go by on staging, is that some of them work better with out colour scheme than others.  We could eliminate those that don't work, and prefer those that do in our collection.

[2020-03-30 02:31] raygervais commented on #890
Curious to take this on, expand out from the banner component.

[2020-03-30 13:28] humphd opened #899 "Fix img styling for posts to use full width when possible"
Reading @Grommers00's [most recent post](https://grommers.wordpress.com/2020/03/30/first-of-three/) and noticing that we don't do the right thing with img elements and text within figures:

<img width="1032" alt="Screen Shot 2020-03-30 at 9 24 04 AM" src="https://user-images.githubusercontent.com/427398/77917319-6d0daf00-7268-11ea-9d18-21b2c9121935.png">

I don't like how the text is inline with t

[2020-03-30 13:29] humphd commented on #899
Basically, the code here needs to get done for `figure img` too:

https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Post/telescope-post-content.css#L14-L20

[2020-03-30 13:32] humphd commented on #899
Later in the same post, we have a figure with no text, so this is a great test case of both ways it might happen:

<img width="469" alt="Screen Shot 2020-03-30 at 9 32 09 AM" src="https://user-images.githubusercontent.com/427398/77918085-66cc0280-7269-11ea-86f8-a1f23b991e1c.png">

[2020-03-30 13:38] humphd commented on #894
From https://github.com/Seneca-CDOT/telescope/pull/897/files#r400181330, we should consider moving the URL to our Unsplash collection to the gatsby-config, so it can be changed at build time.

[2020-03-30 13:51] #892 closed

[2020-03-30 13:55] humphd opened #900 "Remove tools/add-feed.js"
We have to keep updating and maintaining [tools/add-feed.js](tools/add-feed.js), but we never use it.  Let's delete it.

[2020-03-30 15:19] humphd opened #901 "Eslint issue in Banner.jsx"
<img width="799" alt="Screen Shot 2020-03-30 at 11 17 45 AM" src="https://user-images.githubusercontent.com/427398/77929913-363f9500-7278-11ea-9df4-1c12f3764757.png">

My VSCode linter catches this, but our eslint config doesn't.  The fix is to move `getStats` above this invocation.

[2020-03-30 18:26] humphd opened #903 "Deal with outdated packages and potential vulerabilities"
[code]

[2020-03-30 20:51] humphd commented on #858
The value we get back from `startOfYear()` is using `05` for the hour, instead of `00`, so it's off by 5 hours when what we'd expect.  This explains why we have a delay, which goes away after some number of hours.

I filed https://github.com/date-fns/date-fns/issues/1698 upstream to see if it's our bug or something deeper.

[2020-03-30 22:42] Silvyre commented on #294
_Unblocked_ by https://github.com/Seneca-CDOT/telescope/pull/902

[2020-03-30 22:49] cindyledev commented on #294
@Silvyre Did you have your own triage meeting today? How did you remember this issue from November? XD

[2020-03-30 22:54] Silvyre commented on #294
This particular issue has earned a special place in my heart, as it is the only one I have had to [completely scrap my initial work on](https://github.com/Seneca-CDOT/telescope/pull/727).

[2020-03-30 22:59] cindyledev commented on #294
Bring it back! Bring it back! I'm actually planning to bring back my own issue from November as well #290 after @agarcia-caicedo and I finish #896

[2020-03-30 23:05] Silvyre commented on #294
We'll see if I have time before the code freeze! 🥶

[2020-03-30 23:09] cindyledev commented on #294
Same

[2020-03-31 00:39] #724 closed

[2020-03-31 00:59] raygervais commented on #894
I'll start the thread I suppose:
https://unsplash.com/photos/ZMcLVBi9xx4

_From the Earth & Planets Collection_
![From the Earth Collection](https://images.unsplash.com/photo-1441716844725-09cedc13a4e7)

[2020-03-31 16:02] #883 closed

[2020-03-31 18:04] #709 closed

[2020-04-01 04:22] agarcia-caicedo commented on #894
Here are some that I think would fit Telescope's vibe.
https://unsplash.com/photos/npxXWgQ33ZQ
![image](https://user-images.githubusercontent.com/49992710/78098393-f4fcd180-73ac-11ea-9a6c-683beac98247.png)

https://unsplash.com/photos/fIq0tET6llw
![image](https://user-images.githubusercontent.com/49992710/78098419-0f36af80-73ad-11ea-88b1-589fa3cd279a.png)

https://unsplash.com/photos/2FPjlAyMQTA
!

[2020-04-01 14:21] humphd commented on #717
The way we've done our users, I think we can simplify this so that it's only doing queries for the currently logged in user.  Here is what I'd suggest:

1. We modify the serialize/deserialize code in our SamlStrategy passport.js code to build a more functional `User` Object based on the value of `req.user.id`.
1. The `User` type should allow for getting any feeds/posts owned by this user.  This me

[2020-04-01 14:23] humphd commented on #706
I think this can be closed now, as we have coverage for everything in other issues.  I want to try and do a bunch of it without modifying the backend significantly.

[2020-04-01 14:23] #706 closed

[2020-04-01 14:29] humphd opened #907 "Setup production box for https://telescope.cdot.systems"
We need to get our production box created before we can ship 1.0.  It will be very similar to staging (ideally as similar as possible, so testing one means we've tested the other).  However, there will be differences:

- tweak any settings in our `.env`
- separate `.env` and other config files will need to be created
- modify our auto deployment so it only happens when releases get tagged vs. merg

[2020-04-01 14:33] humphd opened #908 "Authenticated users should be able to add, list, modify, or delete their own feeds"
We're going to allow users to add feeds in production.  When we do, we'll need a way for them to manage them.  Basically, we need full CRUD support via our REST API for authenticated users.  This can leverage #717 to figure out what is and isn't allowed for the currently logged in user.

We can break this down into smaller PRs, and do it bit at a time, but I want one bug that tracks it all.  We ne

[2020-04-01 14:35] humphd opened #909 "Admins should be able to modify or delete any user's feeds via frontend"
Similar to #908, we need to allow administrators to manage any user's feeds.  Whatever check we do in #908 to block users from working with feeds they don't own, this would make it possible for an admin to override that and do updates.

[2020-04-01 14:37] humphd opened #910 "Hamburger Sidebar needs content"
We have a hamburger menu that slides out a drawer, but it's currently empty.  We need to either put something in it, or remove it.

If we're going to list all feeds here, we should also think about what happens if you click on one of the feeds.

Also, should we show an authenticated user the list of their feeds at the top?

[2020-04-01 14:39] humphd opened #911 "Finish Search feature"
We have the beginnings of a search feature, and a backend ready to support it, but right now the search returns no results for me.

I'm also not clear why we have `None` selected by default in the drop-down, and what `Filter2` and `Filter3` do.

We need to connect all the pieces and polish this so that it's usable for 1.0.

[2020-04-01 14:41] humphd opened #912 "Clicking "Home" in search page doesn't work"
When I click 'Home' in the Search page, I get errors:

<img width="1231" alt="Screen Shot 2020-04-01 at 10 40 31 AM" src="https://user-images.githubusercontent.com/427398/78150423-4769dc80-7405-11ea-84e4-0001b9409f7f.png">

[2020-04-01 14:42] humphd opened #913 "Clicking Telescope in the top-left should go home"
We should make the Telescope text in the top-left of the header clickable, and it should take you home on all pages.  This is pretty standard across the web, so we should try to provide the experience users will expect.

[2020-04-01 14:58] Silvyre commented on #908
Related: https://github.com/Seneca-CDOT/telescope/issues/760

[2020-04-01 14:58] Silvyre commented on #909
Related: https://github.com/Seneca-CDOT/telescope/issues/294

[2020-04-01 15:01] cindyledev commented on #910
Related #860 #889

[2020-04-01 15:03] cindyledev commented on #911
Related #839

[2020-04-01 15:08] humphd commented on #911
We should add a progress spinner if we are doing work.

[2020-04-01 15:22] Silvyre opened #914 "Add link to /myfeeds page to AppBar"
**What would you like to be added**:

As mentioned during today's triage meeting, a button to navigate to the `/myfeeds` page needs to be added to the home page.

**Why would you like this to be added**:

No convenient means to navigate to the `/myfeeds` page currently exists. Users need to be made aware of this page's existence.

<hr>

Related: https://github.com/Seneca-CDOT/telescope/issues/889

[2020-04-01 15:36] cindyledev commented on #914
I think putting this in the Header bar makes more sense than the Hero Banner...

[2020-04-01 15:36] c3ho commented on #910
I like the idea of adding all the feeds here

[2020-04-01 15:37] Silvyre commented on #914
Yeah, that's what I meant.

[2020-04-01 15:50] cindyledev commented on #910
I'm a little bit confused as to what 'feeds' is because we have a bunch of things called feed/feeds.
There are multiple ways I'm understanding (it's probably none of these...)
When an authenticated user is signed in, we want to show them:

1) their own `https://cindyledev.wordpress.com/category/open-source/feed/` feed? Like a link?
so let's say they have multiple feeds for say `/osd600` `/osd700`

[2020-04-01 15:56] cindyledev commented on #914
Okay, so this is actually related to #889, not #893 . I know this is very easy to get mixed up because they both mention "decluttering" something and everyone gets confused with naming conventions navbar/banner/topbar/header/appbar... header is probably the worst name imho but it's what MUI calls it :/

[2020-04-01 16:30] Silvyre commented on #914
MUI actually calls it an [AppBar](https://material-ui.com/api/app-bar/). 😀

https://github.com/Seneca-CDOT/telescope/blob/86fbd217a2c6701ad4a20729951bbd2e9d85ebfc/src/frontend/src/components/Header/Header.jsx#L100

[2020-04-01 17:09] #803 closed

[2020-04-01 17:12] cindyledev commented on #914
I stand corrected. I see it as `Header (AppBar)` pretty often too XD

[2020-04-01 17:15] humphd commented on #910
I think "feeds" in this context means:

- My Feeds: the feeds I've added to Telescope, which show at the top.  These should probably be URLs.
- Everyone else's feeds: all the other feeds that exist in our system, from the wiki or users adding.  These should probably be names of people vs. URLs

[2020-04-01 19:22] cindyledev commented on #912
I can't reproduce this error. The Home button on the Search page redirects me to Home like it should...
I've tested https://dev.telescope.cdot.systems/ on both Firefox and Chrome on Windows and Chrome on Android

[2020-04-01 19:29] humphd commented on #912
STR:

- Go to Search
- Type something into the search box
- Press Enter
- Text goes huge
- URL changes to add `/search/?filter=` to the end
- Click HOME

Nothing happens for me.

[2020-04-01 19:31] cindyledev commented on #841
While trying to reproduce #912 , I ran into this hot mess
![Annotation 2020-04-01 152813](https://user-images.githubusercontent.com/36822198/78178317-71cf9000-742d-11ea-9388-ed20086be599.png)

How to reproduce:
- Visit https://dev.telescope.cdot.systems/
- Click on the Search icon in AppBar to go to Search page
- Hit refresh to refresh the page
- Click on the Home button in AppBar

[2020-04-01 19:33] cindyledev commented on #912
@humphd I get this https://github.com/Seneca-CDOT/telescope/issues/841#issuecomment-607447726 when I followed your steps to reproduce

[2020-04-01 19:40] cindyledev commented on #912
OH I FINALLY GOT THE ERROR ON FIREFOX

[2020-04-01 19:42] humphd commented on #912
"..and I'm using Firefox" would have been helpful, sorry!

[2020-04-01 23:18] #900 closed

[2020-04-02 00:16] #816 closed

[2020-04-02 04:33] agarcia-caicedo commented on #914
I think it should go in the drawer, since we do not want to clutter the header bar

[2020-04-02 19:04] humphd opened #920 "Use redis feeds vs. wiki feeds when adding to feed queue"
Previously, we only had the wiki feed list.  It was our "database" of feeds.  Every time we wanted to parse all feeds into posts, we had to download it and add those feeds to the feed queue.

Next, we added the ability for users to create their own feeds in Redis, separate to the wiki feed list.  Eventually, we'll completely replace the wiki feed list with adding feeds directly to Telescope.

Righ

[2020-04-02 19:53] cindyledev commented on #914
I mean, it can go in the Header on desktop screens since there is room for it and it can go in the drawer on mobile

[2020-04-02 23:03] #903 closed

[2020-04-02 23:10] #734 closed

[2020-04-02 23:16] Silvyre commented on #914
@cindyledev @agarcia-caicedo What do you think about linking part of our [`<LoggedIn/>`](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Login/LoggedIn.jsx) component's welcome message and/or avatar image to the My Feeds page? i.e. Welcome, [User](#) [&lt;img&gt;](#)

https://github.com/Seneca-CDOT/telescope/blob/d0a1f66552bcb43f3eb04390c819028b6b31365e/src/fronten

[2020-04-03 00:29] humphd commented on #717
From our call:

[code]

[2020-04-03 03:59] c3ho opened #924 "Refactor Layout.js to Functional Components"
**What would you like to be added**:
This looks foreign to me

![image](https://user-images.githubusercontent.com/18711727/78322844-e0037800-753d-11ea-89ea-a680b4129435.png)

Can we update this to use the functional components we've been doing everywhere else?

**Why would you like this to be added**:
Keep consistency in our frontend

[2020-04-03 13:10] humphd commented on #841
Blocking #922.

[2020-04-03 13:11] humphd commented on #741
Blocking #922.

[2020-04-03 13:30] humphd opened #927 "Expose feed link (website) in frontend for a post"
**What would you like to be added**:

When I see a post, I want 2 actions available:

1. click a link to go to the original post (we have this via the `Last Updated...` string)
1. click a link to go to the person's blog (we don't have this)

<img width="791" alt="Screen Shot 2020-04-03 at 9 27 31 AM" src="https://user-images.githubusercontent.com/427398/78365701-757a2880-758d-11ea-8a9a-e10441b20ed

[2020-04-03 16:08] humphd commented on #841
Taking this, as we need it now.

[2020-04-03 16:08] humphd commented on #741
Taking this, as we need it now.

[2020-04-03 17:42] #702 closed

[2020-04-03 21:44] humphd opened #929 "Blockquotes in posts aren't styled differently"
<img width="955" alt="Screen Shot 2020-04-03 at 5 43 52 PM" src="https://user-images.githubusercontent.com/427398/78407411-c19b8c00-75d2-11ea-8b59-5f52be6cfd9c.png">

This should be indented, different font, etc.

[2020-04-03 21:47] #741 closed

[2020-04-03 21:47] #841 closed

[2020-04-04 00:06] humphd opened #930 "Regression: CSS Update changed Post heading spacing"
After the `PageBase` CSS update, I notice that the vertical spacing for post headings has increased.

Before:

<img width="791" alt="Screen Shot 2020-04-03 at 9 27 31 AM" src="https://user-images.githubusercontent.com/427398/78365701-757a2880-758d-11ea-8a9a-e10441b20ed3.png">

After:

<img width="788" alt="Screen Shot 2020-04-03 at 8 04 05 PM" src="https://user-images.githubusercontent.com/427398/

[2020-04-04 02:31] #924 closed

[2020-04-04 03:23] agarcia-caicedo commented on #912
I think #928 fixed this issue

[2020-04-04 15:36] humphd commented on #912
Great, we can follow-up with #841 for the other bits.

[2020-04-04 15:36] #912 closed

[2020-04-04 15:48] #668 closed

[2020-04-04 19:25] #868 closed

[2020-04-04 19:26] #914 closed

[2020-04-04 20:06] cindyledev commented on #817
I scope creeped so this footer is now going to be in #896

[2020-04-04 20:39] humphd commented on #799
https://github.com/ApoorvSaxena/lozad.js/ might be a way to go too, if the `loading="lazy"` isn't enough.

[2020-04-05 05:02] c3ho opened #934 "Allow custom headers to pass through CORS"
**What would you like to be added**:
We're unable to fetch custom headers right now for some reason. After lots of work by @manekenpix we found out it was a CORS related setting.

**Why would you like this to be added**:
We have custom headers but we're unable to get them and can only get 'Content-Type' at the moment.

[2020-04-05 05:37] manekenpix commented on #934
This issue came from testing #931. @c3ho and I worked together to figure out what piece of Telescope was originating this problem.

[2020-04-05 18:01] raygervais opened #936 "Improve Docker Setup Documentation for WSL-2 / Windows"
**What happened**:

Documentation does not include the following details, which are essential for setting up WSL / Docker workflow on Windows environments:

- Installing WSL 2 via Insiders Build
- Updating "Ubuntu" to WSL 2 architecture
- Utilizing WSL 2 Docker back-end instead of Hyper-V (Windows 10 Pro)

**Environment**:

- OS: Windows 10, 1909 (Latest stable release)
- Browser: N/A

[2020-04-05 18:41] cindyledev commented on #936
I really appreciate you working on this, @raygervais :)

[2020-04-05 23:15] c3ho opened #938 "Create a Post Result Component"
**What would you like to be added**:
We need a Post Result Component

**Why would you like this to be added**:
Required for #911, we currently have two searches: Author and Post. We don't have a nice way to show the data for Post results.

[2020-04-05 23:16] c3ho commented on #938
We could probably leverage the `AuthorResult` component for this issue

[2020-04-06 01:11] #934 closed

[2020-04-06 02:45] raygervais commented on #894
Another that I like,

![image](https://user-images.githubusercontent.com/14265337/78518511-af664d00-778e-11ea-8713-43aede7f7778.png)

_From the Milky-way Collection_
https://unsplash.com/photos/sJGvoX_eVhw

[2020-04-06 09:54] Silvyre commented on #760
@humphd I don't think this will be making 0.9, but I'm still interested in working on this whenever we can find the time.

[2020-04-06 12:54] humphd commented on #938
This would allow some future work, too. Doing this would fulfill the goals of what Gatsby is trying to do, since we could generate a static blog page for every single post in the database this way at build time (assuming we had a running backend during the build).

I think we probably want a "page" vs. a "component."

[2020-04-06 13:29] humphd commented on #760
There are at least two ways we could go with this.

1. Have the myfeeds page do a GET to `/user/info` and if it gets back a 403, we use something like what @raygervais is doing in #925 to render a "403 Forbidden" page (probably via a redirect).  If we get back a 200 from `/user/info` we go ahead and let the content of the page render.  So the render function would have a big `if(user)` check aroun

[2020-04-06 13:39] cindyledev commented on #889
Updated the issue with more accurate reproduction instructions:
- `docker-compose up --build redis login elasticsearch`
- `npm start`
- visit `localhost:3000/auth/login` (LOGIN button navigates to `https://dev.telescope.cdot.systems/auth/login`)

[2020-04-06 14:00] humphd opened #945 "/myfeeds UI needs to work with longer names and URLs"
Reviewing #933, I noticed that our UI for working with feeds isn't ideal for the kind of data that we have:

![](https://user-images.githubusercontent.com/36822198/78559187-ef0a5480-77e1-11ea-9698-ff836c5a9f24.png)

This shows a feed `https://blog.mozilla.org`

This URL is 24 characters long.  I checked and our data looks like this:

|String | Max Length | Average Length |
|-------|-------------|-

[2020-04-06 15:42] humphd commented on #799
https://jsfiddle.net/8j0L5bkv/1/ is a demo of something like what we need, from Slack.

[2020-04-06 17:30] Silvyre opened #946 "My Feeds page: connect feed deletion button to backend functionality"
**What would you like to be added**:

The implementation of the feed deletion buttons on the My Feeds page (introduced by #933) must be completed, i.e. by invoking [the to-be backend logic for feed deletion](https://github.com/Seneca-CDOT/telescope/pull/919) that is being developed by @c3ho and @Grommers00.

**Why would you like this to be added**:

This is one step towards ensuring that the My Fe

[2020-04-06 18:13] Silvyre commented on #945
One idea is to only display parts of the feed URL, e.g. its [origin](https://developer.mozilla.org/en-US/docs/Web/API/URL/origin) or even just its [hostname](https://developer.mozilla.org/en-US/docs/Web/API/URL/hostname). We do this in our backend to build our OPML output:

https://github.com/Seneca-CDOT/telescope/blob/9cba5ed46c166f620c21f19f16baeccc383a44f6/src/backend/web/routes/feed.js#L131

[2020-04-06 18:26] humphd commented on #945
We have a ton of space to the left and right that's empty, why not expand the width of this component?

[2020-04-06 18:32] humphd commented on #616
Closed by https://github.com/Seneca-CDOT/telescope/pull/612

[2020-04-06 18:32] #616 closed

[2020-04-06 18:54] Silvyre commented on #945
Ah, I misunderstood which URL you were referring to! We can definitely expand the width of the entire My Feeds component, which is currently being constrained to 'xs' size:

https://github.com/Seneca-CDOT/telescope/blob/9cba5ed46c166f620c21f19f16baeccc383a44f6/src/frontend/src/pages/myfeeds.js#L55

We may, however, still want to limit the size of the URL displayed within the feed deletion confirma

[2020-04-06 18:56] Grommers00 opened #947 "NPM Packages are behind and need updating."
**Package**
express-handlebars    4.0.1   -> 4.0.3
jest                 25.2.6  -> 25.2.7
pino                  6.0.0  ->   6.1.1
prettier              2.0.2   ->   2.0.4

**What would you like to be added**:
I would like all these to be updated for our 0.9 release.
**Why would you like this to be added**:
It's good to be up-to-date on our packages.

[2020-04-06 19:14] #913 closed

[2020-04-07 01:49] #849 closed

[2020-04-07 02:08] humphd opened #950 "Text overflow bugs"
A few text overflow bugs we've seen lately, maybe connected, maybe one off?

<img width="826" alt="Screen Shot 2020-04-06 at 10 03 52 PM" src="https://user-images.githubusercontent.com/427398/78622387-00d81000-7853-11ea-9f2d-bb3649c03c4a.png">

![Annotation 2020-04-01 152813](https://user-images.githubusercontent.com/36822198/78178317-71cf9000-742d-11ea-9388-ed20086be599.png)

[2020-04-07 03:04] c3ho opened #952 "Move the parentheses text to another line in .env file"
**What would you like to be added**:
We currently have this in our .env file
![image](https://user-images.githubusercontent.com/18711727/78625636-97f49600-785a-11ea-896b-649fb944ab43.png)

We should update it so that the text in parentheses such as (our staging server) should be on another line.

**Why would you like this to be added**:
I was using `https://dev.telescope.cdot.systems` in place of

[2020-04-07 12:49] #732 closed

[2020-04-07 13:43] humphd commented on #952
Yes, move those lines above the line vs. to the right.  That's my fault, sorry about it.

[2020-04-07 18:45] humphd opened #954 "REST API routes for a User to add, delete, and list their feeds"
We need REST API endpoints to support and use the work in #919 and #717.  @Silvyre and I discussed an API, and he's going to do the tests for it, while @Grommers00 says he'll do the implementation with @manekenpix's help.  I suspect that @c3ho and I will also be involved, at least in reviews.

Here is our proposed API:

1. A user needs to be able to get his/her feeds
1. A user needs to be able to

[2020-04-07 18:52] humphd opened #955 "Tests for REST API for a User to add, delete, list their feeds"
This is connected to #954, and relates to writing the tests, which @Silvyre has agreed to do.  We can land these and use `skip()` until the implementation is done. cc @Grommers00, @manekenpix, @c3ho.

These tests need to do (at least) the following

## `GET /user/feeds`

1. `GET /user/feeds` should give a 403 when the user is not logged in
1. `GET /user/feeds` should give a 200 when the user is lo

[2020-04-07 19:02] humphd commented on #955
Created #956 so we can do everything above.

[2020-04-07 19:38] #927 closed

[2020-04-07 19:59] humphd opened #957 "Teach tools/autodeployment/server.js about a Commit to master vs. new Release"
Our autodeployment server receives push notifications from a GitHub webhook.  Right now it's overly general in what triggers it.

Let's teach it the difference between a commit on `master` (not 100% sure [which event type this is](https://developer.github.com/webhooks/#events)) and a new [Release being created](https://developer.github.com/v3/activity/events/types/#releaseevent).

For staging, we'

[2020-04-07 19:59] humphd commented on #907
Filed #957 to help with the githook changes.

[2020-04-08 01:07] Silvyre commented on #760
In #933, I previously had My Feeds redirecting a user to the `/auth/login` route if it receives a bad response to `GET /user/info`: https://github.com/Seneca-CDOT/telescope/pull/933/files#diff-341423ac4fcd5b3e25e7dd93d2bae8e1R38-R49. I just changed the redirection target to `/404` in https://github.com/Seneca-CDOT/telescope/pull/933/commits/a9ce06701d42de79ec490fe4e51c43c6b5d3c0ab.

Gotcha, also j

[2020-04-08 02:43] #860 closed

[2020-04-08 13:15] #936 closed

[2020-04-08 13:32] humphd opened #961 "Debug #948, which broke staging and was reverted"
I had to revert dd387a9ebcbd149bc0f21a7fa1341ecb6f87d378 with 2bf0d43afb98204f34f6bb47bff3061b0096bcdc, since it seems to have broken staging.  We need to debug this and get it re-landed.  The original PR was https://github.com/Seneca-CDOT/telescope/pull/948.  cc @raygervais.

[2020-04-08 15:50] humphd commented on #760
This could leverage the 404 page work Ray is doing, and add 403.

[2020-04-08 15:53] #929 closed

[2020-04-08 17:34] humphd opened #962 "Show About in header at larger header widths"
Reviewing #896, I'm noticing that the About link is not visible at desktop widths, and to get it, I have to click into an otherwise completely empty hamburger menu.

This seems odd to me.  Let's show About in the main header for larger widths and hide the hamburger menu, since we're not using it to store any content in the app (it's just for overflow of the header on mobile).

<img width="1228" al

[2020-04-08 17:39] cindyledev commented on #962
Yeah, it's kinda lonely
![Annotation 2020-04-08 133843](https://user-images.githubusercontent.com/36822198/78815447-4c4b0500-799e-11ea-91f0-b7ebebb80dfe.png)

[2020-04-08 17:54] #955 closed

[2020-04-08 18:32] #717 closed

[2020-04-08 20:04] humphd commented on #938
We're going to try and leverage our existing component, `src/frontend/src/components/Post/Post.jsx`.  Closing.

[2020-04-08 20:04] #938 closed

[2020-04-08 20:57] #804 closed

[2020-04-08 23:50] cindyledev opened #965 "Remove stray photo1.jpg"
**What happened**:
#896 accidentally added `telescope/src/frontend/src/images/photo1.jpg` and forgot to remove it. Please remove the picture. Thanks.

[2020-04-08 23:52] c3ho opened #966 "Change favicon when there are new posts available"
**What would you like to be added**:
Change favicon when there are new posts

**Why would you like this to be added**:
#791 should be going in soon, we have an alert or toast notifying users there are new posts available. However this only happens once and the alert duration is 6 seconds. We should also change the favicon with either a blue or orange circular dot to let users know there are new po

[2020-04-09 00:06] cindyledev opened #967 "Turn About page from one-panel layout to two-panel layout"
**What would you like to be added**:
Current:
![Annotation 2020-04-08 195555](https://user-images.githubusercontent.com/36822198/78844170-fe042900-79d2-11ea-8df7-2ee8dcc1f551.png)

Goal:
![78204494-a95b2e00-7467-11ea-8985-0f6aae857ecd](https://user-images.githubusercontent.com/36822198/78844147-e6c53b80-79d2-11ea-8324-04b10a97ae10.png)

**Why would you like this to be added**:
@agarcia-caicedo had

[2020-04-09 00:09] cindyledev commented on #966
#816 has a notification badge suggestion with the red dot which I think is exactly what we want.

[2020-04-09 02:41] #746 closed

[2020-04-09 02:41] #760 closed

[2020-04-09 02:41] #946 closed

[2020-04-09 03:20] cindyledev opened #968 "Fix icons in About page footer"
**What would you like to be added**:
![Annotation 2020-04-08 231504](https://user-images.githubusercontent.com/36822198/78854249-cf944700-79ee-11ea-9d6b-87e6d9c9d708.png)
- The word LOGO is just a placeholder for Telescope's actual [logo](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/images/logo.svg)
`src/frontend/src/images/logo.svg`. Please add Telescope's logo there.
- M

[2020-04-09 03:30] cindyledev opened #969 "About page footer enhancement for mobile"
**What would you like to be added**:
Footer for the About page looks alright for desktop
![Annotation 2020-04-08 232257](https://user-images.githubusercontent.com/36822198/78854716-0ae34580-79f0-11ea-9602-86e1dbc72982.png)

but it looks like a disaster on mobile
![Annotation 2020-04-08 232207](https://user-images.githubusercontent.com/36822198/78854752-1df61580-79f0-11ea-9786-f5acbaa27a81.png)
Div

[2020-04-09 03:33] #791 closed

[2020-04-09 04:02] cindyledev opened #970 "Replace hardcoded year 2020 in AboutFooter with JS date getFullYear() method"
**What would you like to be added**:
In [AboutFooter.jsx](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/AboutFooter/AboutFooter.jsx)
![Annotation 2020-04-08 235926](https://user-images.githubusercontent.com/36822198/78856522-01101100-79f5-11ea-9e35-2873ebb6fa5e.png)

Replace
[code]
with
[code]

[2020-04-09 04:20] cindyledev opened #971 "Login button in MobileHeader's drawer isn't fully clickable"
**What happened**:
![Annotation 2020-04-09 000758](https://user-images.githubusercontent.com/36822198/78857002-36692e80-79f6-11ea-8b3d-85be18ed438b.png)
If you click on HOME or ABOUT button, it will take you to the appropriate pages. However, for the Login, you need to click only on the text. If you click on the ListItem but outside of the LOGIN text, it just closes drawer and you don't get redire

[2020-04-09 06:05] manekenpix opened #972 "Page title missing for Home"
**What happened**:
The page title for `Home` is missing in Telescope's tab

**What should have happened**:
I should be able to see `Home` when I navigate to Telescope

**How to reproduce it (as precise as possible)**:
Go to `dev.telescope.cdot.systems` and check its tab

![image](https://user-images.githubusercontent.com/23108901/78862890-5dc7f780-7a06-11ea-824e-8b87693331bf.png)

- OS: Linux
- Br

[2020-04-09 06:29] cindyledev commented on #972
I'm pretty sure it was Calvin's Snack PR. I'll fix this in a bit. Small fix :)

[2020-04-09 14:41] humphd opened #974 "Remove className="..." from Header.jsx"
In src/frontend/src/components/Header/Header.jsx, we're using unnecessary `className` attributes.  They can be removed:

[code]

[2020-04-10 01:08] #954 closed

[2020-04-10 01:16] #961 closed

[2020-04-10 02:45] humphd opened #976 "Separate existing feeds UI from adding new feed on /myfeeds"
I'm an admin user, so I get everybody's feeds in `/myfeeds`.  It scrolls for a days:

<img width="1234" alt="Screen Shot 2020-04-09 at 10 39 28 PM" src="https://user-images.githubusercontent.com/427398/78957366-23686400-7ab3-11ea-9e09-90f2f638c059.png">

#945 will likely change this, but it might be good to think about how to best use the available space.

One quick fix I can see is that it would

[2020-04-10 02:47] humphd opened #977 "Improve performance of My Feeds page"
I'm not sure what's happening, but when I try to enter a new URL for a blog feed in /myfeeds, the browser lags, and eventually shows a popup with other URLs (not sure what they are), and errors about my URL not being a feed.

This isn't a great experience.  Can we make this faster?  Are we trying to validate the feed URL?  If so, can we do that when you submit it, and let the user fix if it's wron

[2020-04-10 02:48] Silvyre commented on #976
Good idea. I'll make a quick fix but leave any precise styling details to @yatsenko-julia in #945.

[2020-04-10 02:50] humphd opened #978 "Remove "feed added successfully" after some period"
When I successfully add a new feed via /myfeeds, there is a message that shows, saying that it was added successfully:

<img width="650" alt="Screen Shot 2020-04-09 at 10 49 02 PM" src="https://user-images.githubusercontent.com/427398/78957836-6ecf4200-7ab4-11ea-9046-aa6a6a7a42f0.png">

This is useful, but it never goes away.  The work @c3ho has done with the snackbar might be something we can lev

[2020-04-10 02:51] Silvyre commented on #978
The work @c3ho has done with the snackbar might be something we can leverage here to show a short message, then get rid of it.

I was actually thinking the same thing!

[2020-04-10 02:53] humphd opened #979 "Can't add/delete multiple feeds one after another in /myfeeds"
I add a feed to /myfeeds, and it works.  However, I'm not able to then add another.  If I click the + sign, it doesn't show another empty area with space to enter URL and Name, I get a 409 error:

<img width="508" alt="Screen Shot 2020-04-09 at 10 51 40 PM" src="https://user-images.githubusercontent.com/427398/78957980-d4bbc980-7ab4-11ea-8423-388c6f11417f.png">

409 Conflict means something to a w

[2020-04-10 02:54] humphd commented on #979
I also note that I can't delete this feed either.  If I notice there's an error, I can't click the garbage can icon, it only shows the ? icon.

[2020-04-10 02:56] humphd opened #980 "No indication that a deleted feed has been deleted"
I have a feed in /myfeeds, and I want to delete it.  I click the garbage can icon, and in my network dev tools I see a 204 DELETE (it worked).  However, in the UI, nothing changes:

<img width="464" alt="Screen Shot 2020-04-09 at 10 55 21 PM" src="https://user-images.githubusercontent.com/427398/78958170-56135c00-7ab5-11ea-9ace-89958175923b.png">

Probably the easiest thing to do here is to reload

[2020-04-10 02:57] humphd commented on #980
We could use the snackbar for this, too.

[2020-04-10 03:01] Silvyre commented on #980
Ha, I had this functionality in my PR [but removed it](https://github.com/Seneca-CDOT/telescope/pull/933/commits/4f6506e3325e687180c5b3015ac8c5fd56afe67a). I'll readd it.

[2020-04-10 03:02] Silvyre commented on #980
Yeah, I'll use the same solution I implement for https://github.com/Seneca-CDOT/telescope/issues/978

[2020-04-10 03:02] humphd opened #981 "Make "Add Yours!" link to /myfeeds"
Let's have the "Add Yours!" text in the banner link to /myfeeds, so people can literally add theirs.

<img width="1356" alt="Screen Shot 2020-04-09 at 11 00 45 PM" src="https://user-images.githubusercontent.com/427398/78958445-126d2200-7ab6-11ea-84d8-879e7e837778.png">

I am assuming that /myfeeds will go to the login page if you're not logged in, which is a nice way to discover this feature for p

[2020-04-10 03:22] cindyledev opened #982 "Unable to logout on Seneca's IdP (staging or production)"
**What happened**:
I can log onto https://dev.telescope.cdot.systems/ using my senstudents.com with no problem but I cannot log out. When I click on LOGOUT, I get redirected to this:
![Annotation 2020-04-09 231359](https://user-images.githubusercontent.com/36822198/78959391-cbccf700-7ab8-11ea-88be-b160f32036c5.png)

**What should have happened**:
I should be able to log in and log out because my a

[2020-04-10 03:23] c3ho commented on #978
Did I just get assigned an issue

[2020-04-10 13:33] humphd commented on #982
When I updated deps recently, we went from `passport-saml` v1.2.0 to v1.3.3, and I wonder if [something in between](https://github.com/bergie/passport-saml/compare/v1.2.0...v1.3.3) broke logout.

We could try rolling that back as an initial test.  I'd also like to see if this is reproducable locally, if you eliminate Seneca from the equation.

[2020-04-10 16:18] cindyledev opened #984 "Make word Telescope clickable on Desktop and Mobile"
**What happened**:
I noticed that the word Telescope in the Header on mobile and desktop aren't clickable. We had a fix for Desktop in #941 but I think it was accidentally removed in #940 when we refactored the `Header.jsx` into `DesktopHeader.jsx` and `MobileHeader.jsx`

**What should have happened**:
The word Telescope should be clickable

**How to reproduce it (as precise as possible)**:
Visit

[2020-04-10 20:37] humphd commented on #982
I tested locally, and can't reproduce with `v1.3.3`.  I'm going to email ITS and get their thoughts.

[2020-04-10 22:26] #972 closed

[2020-04-11 02:21] #976 closed

[2020-04-11 20:23] #715 closed

[2020-04-11 22:09] humphd commented on #947
@Grommers00 and I will do this one together early next week.

[2020-04-11 22:15] humphd opened #988 "Remove references to BLOG_INACTIVE_TIME"
Our env example files have references to `BLOG_INACTIVE_TIME`, but we don't use it anymore.  Let's remove from our tree.

[2020-04-12 15:39] c3ho commented on #908
This can be closed no?

[2020-04-12 15:40] humphd commented on #908
Yup.

[2020-04-12 15:40] #908 closed

[2020-04-12 15:41] humphd commented on #691
@c3ho @manekenpix, have we covered all this?  I think it's working well.  Can we close this?

[2020-04-12 15:46] c3ho commented on #978
I'll work on this today

[2020-04-12 17:06] #817 closed

[2020-04-12 17:31] humphd opened #990 "Look into our eslint warnings"
Can any of these be fixed?

[code]

[2020-04-12 18:39] #911 closed

[2020-04-12 21:04] Grommers00 opened #992 "Combine spinners from #985 and #937"
**What would you like to be added**:
We are using spinners in two different locations, it will be good to consolidate and use the same spinner in both locations. The pointer to them both is #985 and #937

**Why would you like this to be added**:

It's good to have the same formats throughout the whole project. It creates a better image.

[2020-04-12 21:09] manekenpix commented on #990
I can take care of the first 2 (related to #918 and #822)

[2020-04-12 22:42] Silvyre commented on #977
Yes; we can delay validation until submission by removing the form's calls to `onBlur()` as well as passing [`instantValidate={false}`](https://github.com/NewOldMax/react-form-validator-core#validatorform) to our `<ValidatorForm>`:
https://github.com/Seneca-CDOT/telescope/blob/f602ab6b76dd490d70d2eca8521ba2c69c78bd10/src/frontend/src/pages/myfeeds.js#L152

However, from my testing, this is not the

[2020-04-12 23:18] Silvyre commented on #977
Well, moreso the massive number of elements (many hundreds of listed feeds) being rendered to the DOM is likely the cause of the slowdown.

The solution may be implementing some sort of infinite scrolling or filtering system to mitigate the performance hit.

[2020-04-12 23:21] Silvyre commented on #977
We might be able to reuse the solution we've implemented for the main page, here, i.e. the 'load more button' developed by @raygervais and @Grommers00.

[2020-04-13 00:55] humphd commented on #977
What is that popup menu showing?  We shouldn't be doing validation on a URL until it's finished being typed.  Every URL will be invalid for n-1 characters entered.

[2020-04-13 05:22] Silvyre commented on #980
(As this is a bug, not a feature, moving this issue into [our 1.0 project](https://github.com/Seneca-CDOT/telescope/projects/14), accordingly.)

[2020-04-13 05:22] Silvyre commented on #978
(As this is a bug, not a feature, moving this issue into [our 1.0 project](https://github.com/Seneca-CDOT/telescope/projects/14), accordingly.)

[2020-04-13 07:55] c3ho commented on #980
My pr hasn’t gone in yet, we can add this to my PR

[2020-04-13 15:12] #799 closed

[2020-04-13 15:57] #907 closed

[2020-04-13 19:26] #889 closed

[2020-04-13 20:18] #957 closed

[2020-04-13 21:15] humphd opened #998 "Secure our autodeployment server"
Our autodeployment, GitHub webhook server runs on http://dev.telescope.cdot.systems:4000 (staging) and http://telescope.cdot.systems:4000 production.  It's currently just a bare node HTTP server.

We could upgrade to use SSL, see https://nodejs.org/api/https.html#https_https_createserver_options_requestlistener.

We could also switch over to expressjs and add SSL, helmet, etc.

I think that withou

[2020-04-13 21:35] humphd commented on #982
I tried downgrading passport-saml back to v1.2.0 and it made no difference on staging.

[2020-04-14 03:44] Grommers00 opened #999 "On initial load do not show "load more button""
**What happened**:
Currently, before it loads posts, the button says "No more posts add yours!"

**What should have happened**:
It shouldn't show anything till after the first posts load.

**How to reproduce it (as precise as possible)**:
Before the first posts, load you can see it.

**Anything else we need to know?**:
Nope!

**Environment**:

- OS:
- Browser:

[2020-04-14 07:09] Silvyre commented on #909
@humphd Does the current solution (of listing all feeds for admins) sufficiently resolve this issue?

[2020-04-14 07:45] Silvyre commented on #979
A few relevant developments:

#994 adds functionality that clears the 'Blog feed URL' form field upon clicking the '+' button.

As of #994, when a feed is submitted, that feed gets added to the list of feeds (within a set of disabled textboxes). In conjunction with the form field clearing functionality I just mentioned, this should prevent the need to render an addition set of form fields (we can

[2020-04-14 07:50] Silvyre commented on #980
@c3ho Thanks!

[2020-04-14 13:31] humphd commented on #909
Yeah, what we have now works.

[2020-04-14 13:31] #909 closed

[2020-04-14 13:32] humphd commented on #999
I think it's a matter of dealing with the initial load case vs. an empty set of posts vs. a set of posts.  I'd set the state to `null` on load and then you can treat `[]` and `[post, post, ...]` differently.

[2020-04-14 13:37] humphd commented on #570
https://twitter.com/matteocollina/status/1248280519927902210 might help

[2020-04-14 13:41] humphd commented on #839
This really needs to happen in the future, because we waste so much bandwidth searching and pulling in posts while you're typing.  We shouldn't do anything until the user tells us they are done.

[2020-04-14 13:41] humphd commented on #790
I feel like this can be closed, @raygervais, @Grommers00?

[2020-04-14 13:42] humphd commented on #712
@cindyledev can we close this?  If there are things to fix now, we should probably file more specific bugs.

[2020-04-14 13:42] humphd commented on #705
This has never been an issue, closing.

[2020-04-14 13:42] #705 closed

[2020-04-14 13:43] humphd commented on #680
For sure we need this before @manekenpix is allowed to leave Seneca!

[2020-04-14 13:43] raygervais commented on #790
Yes, given that we have the follow up #999 to address behavior. Closing.

[2020-04-14 13:43] #790 closed

[2020-04-14 13:45] humphd commented on #4
We're preparing to ship 1.0 later this week, and it will be based on docker-compose.  Post 1.0, figuring out a Kubernetes solution is still in scope.  However, I think we're going to need to start that discussion over again, from the perspective of where the project is when we decide to do it.

As such, I'm going to close this, our oldest (and dearest!) issue, and thank everyone who tried to push

[2020-04-14 13:45] #4 closed

[2020-04-14 13:47] humphd commented on #667
We've done a bunch of this, at least the headers bit to allow counts and paging info to get through.

That might be all we need?

[2020-04-14 13:48] humphd commented on #844
If this happens, it needs a better plan than this bug.  Like the future Kubernetes discussions, I'm going to close it now, and we'll file new issues when we're ready.

[2020-04-14 13:48] #844 closed

[2020-04-14 15:02] humphd opened #1000 "Celebrate our 1,000th Issue and Pull Request"
In December, we celebrated #500.  It was a huge amount of work by a large group of students.

Today, on April 14th, we mark another major milestone with the filing of #1000.  As of today, we have:

- 64 contributors
- 63 Open Issues
- 465 Closed Issues
- 3 Open PRs
- 468 Closed PRs
- 1,222 commits

On Friday we'll ship our 1.0.0, and everyone can feel really proud of what we've made in a short tim

[2020-04-14 15:02] humphd commented on #500
And just like that, we're at #1000

[2020-04-14 15:09] cindyledev commented on #712
Yeah let's close this and file more specific issues when  they come up

[2020-04-14 15:09] #712 closed

[2020-04-14 16:37] c3ho commented on #1000
https://c3ho.blogspot.com/2020/04/osd700-release-10.html

[2020-04-14 18:19] c3ho opened #1002 "Warnings in /myfeeds"
**What happened**:
When you hit the telescopeUrl/myfeeds in dev

![image](https://user-images.githubusercontent.com/18711727/79259397-a5adab00-7e5a-11ea-88b9-c3140ee7830c.png)

**What should have happened**:
There shouldn't be these errors

**How to reproduce it (as precise as possible)**:
`npm run build`
`npm run develop`
login using user2/user2pass
`locahost:3000/myfeeds`

**Anything else we nee

[2020-04-14 18:27] c3ho opened #1003 "No indication to user a feed has been removed/deleted"
**What happened**:
No indication to user a feed has been deleted, aside from feed disappearing (this sometimes takes a while too)

**What should have happened**:
We're soon going to have a PR to inform the user when a feed has been successfully added, we should also have one for when a feed has been successfully removed

**How to reproduce it (as precise as possible)**:

**Anything else we need to

[2020-04-14 18:28] c3ho commented on #1003
Whoops, dupe of #980

[2020-04-14 18:28] #1003 closed

[2020-04-14 18:32] humphd opened #1004 "Set trust proxy in express"
In production/staging, we're running express behind a reverse proxy.  We should figure out if we need to [set our app to trust proxy](https://expressjs.com/en/guide/behind-proxies.html), and if so, the right way to do it (e.g., by IP?).

[2020-04-14 19:02] humphd opened #1005 "Manage user authenticaion state using React Context"
We need to improve how we deal with logged in user state in the frontend app.  Currently we determine that a user is logged in using the return code (403 or 200) of hitting the `/user/info` route.  If a user is logged in, we give back a User Object, for example:

[code]

This information affects how a bunch of things work in the frontend.  Because lots of different components need it, I'm suggesti

[2020-04-14 19:03] humphd commented on #691
I'm going to close this until we hit a bug that relates to needing it.

[2020-04-14 19:03] #691 closed

[2020-04-14 19:56] cindyledev commented on #1002
This bug is weird, if you refresh the page, some of these errors go away...

[2020-04-14 21:04] #977 closed

[2020-04-14 21:04] #979 closed

[2020-04-14 21:14] Silvyre commented on #1002
Yeah, I've seen other errors behave this way... Makes it hard to track things down.

[2020-04-14 21:17] c3ho commented on #990
I'll take a look at the other four

[2020-04-14 21:17] Silvyre commented on #1002
I imagine the first error is being caused by our banner:
https://github.com/Seneca-CDOT/telescope/blob/fd70912c43a432a4b635c4a5883f81968ae4b247/src/frontend/src/components/Banner/Banner.jsx#L263

If we pass it a `theme` prop like we do it our `TopLayout`...

https://github.com/Seneca-CDOT/telescope/blob/fd70912c43a432a4b635c4a5883f81968ae4b247/src/frontend/plugins/gatsby-plugin-top-layout/TopLayou

[2020-04-14 21:18] cindyledev commented on #1002
The first one is easy to fix, we can get rid of <ThemeProvider> in `Banner.jsx`.

Second one needs more investigating

[2020-04-14 21:31] cindyledev commented on #1002
@Silvyre I tried just adding `theme={theme}` to the `<ThemeProvider>` in `Banner.jsx`
but it doesn't seem to like that because the `theme` in `TopLayout.js` is imported from `theme.js` so we can't use the same method in `Banner.jsx` as we did in `TopLayout.js`

`Banner.jsx` uses:
[code]
like every other component we have.
I wonder if we even suppose to use `<ThemeProvider>` with `makeStyles`

[2020-04-14 21:31] Silvyre commented on #990
FYI, the React Hook ones can be 'quick-fixed':
![image](https://user-images.githubusercontent.com/13500769/79276344-d3541d80-7e75-11ea-81d0-a81590d05110.png)

[2020-04-14 21:33] Silvyre commented on #1002
Would there be any repercussions to removing the banner's `<ThemeProvider>`, then?

[2020-04-14 21:36] cindyledev commented on #1002
I tested it and there doesn't seem to be any difference. When I was doing the makeStyles stuff in the Banner, I thought ThemeProvider was required but I guess not. I believe it's safe to remove it.

[2020-04-14 21:38] Silvyre commented on #1002
I think if we don't provide our own theme, we use MUI's [default theme](https://material-ui.com/customization/default-theme/) (which I suppose is the theme the banner is currently using).

[2020-04-14 21:43] Silvyre commented on #1002
I think I've figured out the second error:
https://github.com/Seneca-CDOT/telescope/blob/fd70912c43a432a4b635c4a5883f81968ae4b247/src/frontend/src/components/Posts/Posts.jsx#L19-L34

When `posts.length` is 0, we attempt to render `<Container>null</Container>`, which throws an error because `<Container>` needs to be passed children. I'll throw up a quick PR to fix these two issues.

[2020-04-14 22:15] Silvyre commented on #1005
Just curious: will this (can this) be tied to [the work we've already done with GraphQL authentication/context](https://github.com/Seneca-CDOT/telescope/pull/824)?

[2020-04-14 23:01] humphd commented on #1005
It's not related.  One is server-side, the other on the client.

[2020-04-15 11:27] cindyledev commented on #1005
This would be an interesting read for #77

[2020-04-15 12:55] cindyledev commented on #967
This might help https://www.gatsbyjs.org/docs/working-with-images-in-markdown/

[2020-04-15 13:18] humphd opened #1008 "See if we can use GitHub Actions"
We started down this path before (see https://github.com/Seneca-CDOT/telescope/pull/126), but it turned out that for some reason, this repo wasn't allowed to use GitHub Actions.  I think whatever beta-restriction or other problem was causing this not to work has now been lifted, and it looks to me like Actions might be supported for Telescope.

We might decide to switch away from Travis and use Ac

[2020-04-15 13:27] cindyledev commented on #1008
Well Travis didn't want to stay with us anyway so I guess it's fine time for a new CI/CD relationship to bloom

[2020-04-15 13:36] humphd opened #1009 "Switch to 403 from 401 for login failed check"
In Login.jsx:

[code]
We spam the console with an error if you're not logged in because we're checking for 401 vs. 403.

[2020-04-15 13:41] humphd opened #1010 "Add iframes to elements we lazyload"
In #996 we added native lazy loading for `<img>` elements.  Let's extend this to `<iframe>` too, since we spend a ton of time on load pulling in YouTube resources we might not need.

[2020-04-15 13:43] humphd opened #1011 "Set proper cache headers on static assets we serve"
Lighthouse is upset at the fact that we don't set proper cache headers on our static assets.  See https://web.dev/uses-long-cache-ttl/?utm_source=lighthouse&utm_medium=devtools.

[2020-04-15 13:45] humphd opened #1012 "Reduce the size of the rendered DOM"
A lot of our UI is repeating the same components, and it creates a really huge DOM.  Lighthouse suggests we might be able to use react-window (and other techniques) to reduce the amount of elements we render, see https://web.dev/virtualize-long-lists-react-window/?utm_source=lighthouse&utm_medium=devtools

[2020-04-15 13:54] humphd opened #1013 "Reduce the number of posts returned from our API in our env files"
Let's reduce the value of `MAX_POSTS_PER_PAGE` from 30 to 10 or 15 in all of our env files (env.example, env.staging, env.production): https://github.com/Seneca-CDOT/telescope/blob/master/env.example#L105.  We have a fancy "Load more..." button now, so we don't need this many.  See also #1012.

We might have 1 test that will fail when this number changes.  I can't remember if we fixed that yet, bu

[2020-04-15 14:49] #1002 closed

[2020-04-15 15:30] #539 closed

[2020-04-15 15:31] #598 closed

[2020-04-15 15:33] #605 closed

[2020-04-15 15:34] #637 closed

[2020-04-15 15:35] humphd commented on #661
Josue says close this, so...

[2020-04-15 15:35] #661 closed

[2020-04-15 15:44] humphd commented on #899
This is just about spacing after the images.

[2020-04-15 15:45] #901 closed

[2020-04-15 15:45] raygervais commented on #1000
Adding as my own requirement before Friday, included with blog posts from all I'd like each to include one Unsplash image to #894 as well.

CC: @Silvyre @c3ho @manekenpix @yatsenko-julia @cindyledev @Grommers00 @lozinska @agarcia-caicedo

[2020-04-15 15:45] Silvyre commented on #901
Fixed in #1002

[2020-04-15 15:47] humphd commented on #910
Or we can fix #962 and get rid of the menu on desktop.

[2020-04-15 15:52] raygervais commented on #1008
Interested in providing the initial work on this. It'll be a fun PR.

[2020-04-15 18:25] #947 closed

[2020-04-15 19:57] #978 closed

[2020-04-15 19:57] #980 closed

[2020-04-15 20:02] Silvyre opened #1016 "My Feeds should redirect unauthorized users to our new 403 page"
Currently, the My Feeds page redirects unauthorized users to a `/404` route:

https://github.com/Seneca-CDOT/telescope/blob/038769be13640b00f4e48396eeab63d320148240/src/frontend/src/pages/myfeeds.js#L48

We should make use of [our new error page](https://github.com/Seneca-CDOT/telescope/pull/925) by redirecting unauthorized users to `/error?status=403` instead.

[2020-04-15 20:41] humphd commented on #1000
Some images from me:

- https://unsplash.com/photos/d6yDSisNi4w
- https://unsplash.com/photos/h8nxGssjQXs
- https://unsplash.com/photos/SYTO3xs06fU
- https://unsplash.com/photos/ourQHRTE2IM
- https://unsplash.com/photos/QofjUnxy9LY
- https://unsplash.com/photos/QLqNalPe0RA
- https://unsplash.com/photos/FPQlXQtjkqU

[2020-04-16 00:20] Grommers00 commented on #1000
https://grommers.wordpress.com/2020/04/15/a-story-of-1-0/

https://unsplash.com/photos/yjR69rDfivw

[2020-04-16 01:05] Grommers00 opened #1018 "CPU Pressure and Memory leak with useEffect() calls in main page"
**What happened**:
Youtube videos seem to be slowing down the system and causing massive lag spikes.  It looks it is causing mass memory leaks.
**What should have happened**:
It shouldn't create a memory leak like this.
**How to reproduce it (as precise as possible)**:
dev.telescope.cdot.systems and you can see how slow it goes and check console to see the memory application.

**Anything else we n

[2020-04-16 01:25] humphd commented on #1018
@raygervais has tested with https://github.com/Seneca-CDOT/telescope/commit/702138f2a5a2e839bbee5e303f826f204b8a5813 (1.0.0-alpha) and it doesn't seem to be affected.

[2020-04-16 01:51] humphd commented on #1018
So the issue is something in https://github.com/Seneca-CDOT/telescope/compare/1.0.0-alpha...master.  The bug seems to be related to use loading and re-loading the posts over and over, and re-rendering the DOM, creating a ton of network traffic and memory thrashing.  The YouTube part isn't related, nor is the highlight.js stuff--they both just get triggered repeatedly.

[2020-04-16 02:17] humphd commented on #990
I had to revert https://github.com/Seneca-CDOT/telescope/commit/f9a4c872a66b42f06fde99c6aa98c74099741e03, as it cased an infinite loop in the render function for the posts on the main page.  I think we need to fix how we set our dependencies in `useEffect()` (second arg).

[2020-04-16 02:18] humphd commented on #1018
Traced to https://github.com/Seneca-CDOT/telescope/commit/f9a4c872a66b42f06fde99c6aa98c74099741e03, and an infinite render loop due to how we're doing `useEffect()`.  I've reverted for now in https://github.com/Seneca-CDOT/telescope/commit/4cd7ee80c2b4a41b316409e13382acf3193b9177, and we'll test on staging.

[2020-04-16 02:26] humphd commented on #1018
Verified fixed on staging, closing.

[2020-04-16 05:03] cindyledev commented on #869
Just a picture to show what the problem looks like on mobile
![Screenshot_20200416-010101_Chrome](https://user-images.githubusercontent.com/36822198/79416490-cfabbe00-7f7d-11ea-9498-b525ddd0e8ab.jpg)
It kinda sticks out a little bit on the right.

[2020-04-16 14:44] humphd commented on #869
It's possible that #869 will fix this, too.

[2020-04-16 14:45] humphd commented on #869
Holy crap, this *is* #869, ignore me!

[2020-04-16 17:08] #1018 closed

[2020-04-16 17:23] #890 closed

[2020-04-16 20:26] Silvyre commented on #920
Resolved by https://github.com/Seneca-CDOT/telescope/pull/1015

[2020-04-16 20:26] #920 closed

[2020-04-16 21:06] humphd commented on #982
I worked on this a bunch today, and got us to a bit better spot, but this isn't working as well as I'd like yet.

Mehrdad suggested that with Single Logout we should try to use redirect vs post.  I did some reading and according to the passport-saml docs (see https://github.com/bergie/passport-saml#slo-single-logout) the passport-saml SLO supports:

“Redirect and POST SAML Protocol Bindings”

But

[2020-04-17 01:56] humphd opened #1021 "Confirm local dev login flow still works"
I think I may have broken the local dev login stuff when working on https://github.com/Seneca-CDOT/telescope/issues/982#issuecomment-614896213.  We need to confirm that you can still login/logout locally with the docker login container.

[2020-04-17 16:04] humphd opened #1023 "Going to /myfeeds when not logged in shows 404"
If you go to https://telescope.cdot.systems/myfeeds, it should offer to let you login. Instead, you get a 404.  cc @raygervais

Are we doing the right thing with a 403 from the authenticated user info?

[2020-04-17 16:45] cindyledev commented on #1021
Can confirm that login/logout locally with Docker login container on Windows 10 Pro using Firefox. I can log in using user2 and log out successfully. However, when I try logging in right after logging out, it doesn't ask for my credentials again. Not sure if it's a cookie setting or something on my browser. I don't have it set to save my password.
Steps I took to test:
- `git pull upstream master`

[2020-04-17 17:07] Silvyre commented on #1023
IMHO, this is a duplicate of https://github.com/Seneca-CDOT/telescope/issues/1016

[2020-04-17 17:49] humphd opened #1024 "Switch to new logo in README, delete old logo files."
We have some old logos in the `images/` folder that aren't being used any more, and can be deleted.  We also link to these in the README.  Let's switch to link to our shiny new logo, https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/images/logo.svg.

[2020-04-17 17:52] humphd commented on #1023
Nice catch, closing as dupe.

[2020-04-17 17:52] #1023 closed

[2020-04-17 18:00] cindyledev commented on #1021
I tried this on Linux (Ubuntu) with Docker redis/login/elasticsearch containers using Google Chrome and the same thing happens: I can login and logout but it wont ask for my credentials after trying to login again. Is this what we intended or is this something we should look into?

[2020-04-17 18:02] humphd commented on #1021
Thanks for testing this, it sounds like we can close this.

Things are working as expected, but I'd like to improve it.  The "logout" is only happening on our app, and not on the remote SSO provider, which is why you're still logged in when you click Login again.

As I mentioned in https://github.com/Seneca-CDOT/telescope/issues/982#issuecomment-614896213, we could use `forceAuthn: true` to always

[2020-04-17 18:02] #1021 closed

[2020-04-17 18:06] cindyledev commented on #1021
That's good. I also just finished testing login/logout on Linux using native redis/elasticsearch and Docker login container. It works too :)

[2020-04-17 18:07] #1010 closed

[2020-04-18 08:42] agarcia-caicedo commented on #1000
https://semortea.wordpress.com/2020/04/18/there-was-clearly-uncertainty-echoed/

https://unsplash.com/photos/NPlv2pkYoUA

[2020-04-18 17:14] humphd commented on #1000
I forgot to post mine here yesterday: https://blog.humphd.org/telescope-1-0-0-or-dave-is-once-again-asking-for-a-blog/

Please get yours up soon if you haven't already.

[2020-04-18 22:27] humphd opened #1026 "Feature Request: integrate the Telescope Podcast into the app"
I [wrote in my blog](https://blog.humphd.org/online-week-3/#the-telescope-podcast) about the so-called "Telescope Podcast,"

I'd like to propose that we explore the potential for making this workflow a defining aspect of Telescope itself.

## Proposal

Make it possible for Telescope to host real-time, online, collaborative development so that people can engage with both past content (blogs) and cu

[2020-04-18 22:39] humphd commented on #858
Also, this is odd between staging (bottom) and production (top):

<img width="1232" alt="Screen Shot 2020-04-18 at 6 37 32 PM" src="https://user-images.githubusercontent.com/427398/79672893-d3208e80-81a3-11ea-9595-c4475b5d1d29.png">

[2020-04-19 02:54] Silvyre commented on #1000
Reflection blog post: https://raungar.wordpress.com/2020/04/18/telescope-has-launched-🔭🚀/

Regarding Unsplash, I'd love to see some more pictures of observatories/telescopes/arrays against the night sky. Here are a few that I particularly like:
- https://unsplash.com/photos/mvFgF0sLOGc
- https://unsplash.com/photos/eHE-uhLV5-I
- https://unsplash.com/photos/C-NjurcSNQM
- https://unsplash.com/photos

[2020-04-19 04:28] lozinska commented on #1000
https://klopez8.blogspot.com/2020/04/final-release-10.html

https://unsplash.com/photos/2cXz6dZ7jVE

[2020-04-19 16:21] humphd opened #1027 ""New Content" snackbar on page load"
On staging, when you load the page, you always get the "New content..." snackbar, and it tends to cover the down-arrow fab.  I think it's not a good idea to show this on startup, because it's meaningless: we just loaded the page, of course there is new content.

Let's only do this after the initial load of posts.

<img width="350" alt="Screen Shot 2020-04-19 at 12 19 50 PM" src="https://user-image

[2020-04-19 17:01] cindyledev commented on #1000
https://cindyledev.wordpress.com/2020/04/18/telescope-1-0/

https://unsplash.com/photos/PM_VwL2ypes

[2020-04-19 18:21] humphd opened #1029 "Eliminate horizontal scrolling on mobile"
When I'm reading on mobile and try to scroll down, my movement often scrolls the screen horizontally.  Our content should be occupying the full width, and there should be no scrolling.

![scroll-bug](https://user-images.githubusercontent.com/427398/79696153-e3d71000-8248-11ea-8147-3b19780dc7c5.gif)

I'm not sure what's adding the extra width.  We should get rid of it and/or set `overflow-x: hidden

[2020-04-19 18:23] #1027 closed

[2020-04-19 18:36] manekenpix commented on #1000
https://whataboutopensource.blogspot.com/2020/04/telescope-10.html

https://unsplash.com/photos/w7ZyuGYNpRQ

[2020-04-19 18:55] cindyledev commented on #1029
I'm pretty sure it's the YouTube videos that causing it. #869 should fix it

[2020-04-19 19:00] humphd commented on #1029
Indeed, you are correct!

<img width="341" alt="Screen Shot 2020-04-19 at 3 00 04 PM" src="https://user-images.githubusercontent.com/427398/79697055-804fe100-824e-11ea-970a-58992b60ef9c.png">

So maybe in this PR we should stop misbehaving content from making us scroll at all, and crop overflowing content.

[2020-04-19 21:25] raygervais commented on #1000
https://raygervais.dev/article/being-apart-of-the-telescope-open-source-project/

Compiling the list so far into an Unsplash Collection tonight. Thanks to those who've submitted so far!

[2020-04-20 01:25] humphd opened #1030 "Add UI for Admin to trigger reparsing all posts from feeds"
We have really effective caching happening for post content, such that we'll skip re-downloading and parsing posts if what we have in Redis has the same `etag` and `last-modified` date.  Because we can't blow away the production database whenever we need to, it's going to be necessary to trigger a "clear cache," such that posts get re-downloaded and re-parsed again on the next cycle.

This could m

[2020-04-20 01:35] humphd commented on #1030
Using `DELETE /feeds/cache` should would, and not collide with any feed `id`, since our `id` is hex, and `cache` is not valid hex

[2020-04-20 01:58] c3ho commented on #1030
I can work on this tomorrow if no one takes it.

[2020-04-20 03:24] #984 closed

[2020-04-20 04:43] cindyledev commented on #930
I will look into this and I want to try to expand the scope of this issue to include
https://material-ui.com/components/lists/#pinned-subheader-list

[2020-04-20 06:55] c3ho commented on #990
I think this can be closed by #1007 + #1019

[2020-04-20 12:42] #999 closed

[2020-04-21 02:27] humphd commented on #945
Fixed in #1001, but wasn't autoclosed.  Closing manually.

[2020-04-21 02:27] #945 closed

[2020-04-21 18:38] humphd opened #1036 "Load fewer posts initially, increase startup performance"
When the app loads, we pull down a lot of data (including posts), and it cause the app to take a long time to start.  Let's see how fast we can make startup.

One easy fix we could try is to dramatically reduce the number of posts we request on first load.  I think 3-5 is probably all you need, and then you can click "Load More" when you eventually want to see older posts.  We could also do someth

[2020-04-21 19:58] humphd opened #1037 "Help clarify ownership of feed vs. content"
<img width="823" alt="Screen Shot 2020-04-21 at 3 55 41 PM" src="https://user-images.githubusercontent.com/427398/79908084-a3ae9380-83e8-11ea-9c30-3d816c1f92e7.png">

An authenticated user can add a feed to Telescope.  Such a feed could be one they write, or one they want to see included in our timeline.

Our UI makes it seem like the person who added the feed is its owner.

In the case above, the

[2020-04-21 20:03] humphd opened #1038 "Remove extra padding on code blocks"
We're styling code blocks with highlight.js now, so we don't need to add extra padding.  It's causing the first line to get shifted:

![code-padding-bug](https://user-images.githubusercontent.com/427398/79908570-78787400-83e9-11ea-8c91-a24154bba2c0.gif)

Code is:

https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Post/telescope-post-content.css#L57-L59

[2020-04-21 20:19] c3ho commented on #1037
I’ll take a look at this

[2020-04-21 20:24] humphd opened #1039 "Tweaks for mobile UI"
I'm reading Telescope on my phone a lot more, and I wonder if we can tweak some things, and learn from other apps.  Here's a comparison of a few:

- https://www.newyorker.com/sports/sporting-scene/the-blockbuster-video-game-that-wants-to-make-america-whole-again
- https://longreads.com/2019/11/22/this-is-how-you-lose-your-mind/
- https://medium.com/@REAS/collecting-in-the-age-of-digital-reproducti

[2020-04-21 20:35] cindyledev commented on #1039
I would like to hear @agarcia-caicedo 's thoughts on this

[2020-04-21 23:38] c3ho commented on #1037
The line here: https://github.com/Seneca-CDOT/telescope/blob/c8581c359c51e390a55ebdcc6bac85bfdcfce204/src/frontend/src/components/Posts/Posts.jsx#L24

is working as expected, it fetches whatever is from the DB. I think this is the problematic line when we're adding the feed.

https://github.com/Seneca-CDOT/telescope/blob/c8581c359c51e390a55ebdcc6bac85bfdcfce204/src/frontend/src/pages/myfeeds.js#L9

[2020-04-21 23:46] agarcia-caicedo commented on #1039
I feel like most points sound reasonable, however, for the forth point, do we want to change the font because we want to imitate the other apps, or do we want to change for readability issues?

Because if it's the latter, there is inconclusive research done on whether serif or sans serif is better, and there are other factors of typography that we should focus on rather than the serif. ([This sour

[2020-04-21 23:48] agarcia-caicedo commented on #1039
For the background, we could try making it more light, since before we had an issue with people feeling blinded after they scrolled from the very dark hero image into a light background. Now, that might not be an issue

[2020-04-21 23:50] agarcia-caicedo commented on #1039
For the app bar, we could move it to the bottom of the screen while someone reads. It could be better for navigation, but I'm not sure about how much space it take up. Wouldn't hurt to try, though.

[2020-04-22 01:17] cindyledev commented on #969
#1040 this might help with adding the logo here

[2020-04-22 01:38] Silvyre commented on #1037
I assume this _is_ a case of user error... Testing locally, I am able to add a new feed via the My Feeds, e.g.

![image](https://user-images.githubusercontent.com/13500769/79931179-63670980-8418-11ea-953b-0273e2eced90.png)

And blog posts from this feed reflect the input author name:

![image](https://user-images.githubusercontent.com/13500769/79931154-53e7c080-8418-11ea-9148-f5167c990cec.png)

[2020-04-22 02:30] #1024 closed

[2020-04-22 04:23] yatsenko-julia commented on #1000
https://wordpress.com/post/yatsenkojulia.wordpress.com/124

https://unsplash.com/photos/WYkl8rqaVUQ
https://unsplash.com/photos/4bY-VkQ0UZQ
https://unsplash.com/photos/3cIPFNW3wog
https://unsplash.com/photos/3ym-ev0Pe58
https://unsplash.com/photos/JHN1-mpgXjo
https://unsplash.com/photos/Q1p7bh3SHj8

[2020-04-22 12:16] cindyledev commented on #1039
For me personally, the key benefit I see in serif fonts is the ability to see the difference between a capital I and a capital L. Other than that, I prefer sans-serif because it has a more simplistic and modern feel to it. Most of the lengthy reads I consume on the internet do not use serif fonts (eg Reddit, Twitter, GitHub, documentation for whatever I'm working on (Material UI, Gatsby, React)).

[2020-04-22 12:50] cindyledev commented on #1026
I had to let this brew in my head a bit before I wanted to comment. I absolutely love this idea and I can see so much potential here. I might be getting ahead of myself but once we have an integrated Telescope podcast working, I can see Seneca using it as a marketing tool to make their school of tech standout even more among the other colleges and universities. I've watches pre-recorded coding tut

[2020-04-22 13:23] humphd commented on #1039
I've updated my requests above to reflect discussions I'm seeing here.  Let's keep this focused on some small fixes to the text.  We can explore other, bigger changes in different issues.

[2020-04-22 13:28] humphd commented on #1000
@raygervais the list of images you asked for is here now, do you want to go with that?  Then we can close this.

[2020-04-22 13:32] humphd commented on #1037
I'm inclined to agree that our backend is fine, and we need to provide some help in the frontend to guide users to do the right thing.

In the Add Feed UI, should we somehow ask the user if they "own this feed," and if NO, then we give them a spot to enter the name of the feed's author.

Right now we just stick your name in the Author field, so it's natural that people will ignore it.

[2020-04-22 13:41] humphd opened #1041 "Clear cache for all posts on staging and prod"
Once I finish moving frontend processing to the backend, I need to re-trigger a rebuild of all posts in staging and production.  I'll need to use what's happening in #1033 to do it.

[2020-04-22 14:00] raygervais commented on #1000
27 Images, PR coming in to change the used collection so that we can close this with a 🎆

[2020-04-22 14:03] raygervais commented on #1000
https://unsplash.com/collections/9975402/telescope-1.0 The collection!

[2020-04-22 14:04] humphd opened #1042 "Improve our app's startup performance"
We're not doing well on startup:

<img width="1080" alt="Screen Shot 2020-04-22 at 10 00 55 AM" src="https://user-images.githubusercontent.com/427398/79991497-609fff00-8480-11ea-844f-247ff8b4d928.png">

In the startup trace above, you can see that from 1s to 5s we are idle, waiting on data from 4 separate requests.

Step one to faster loading: figure out how to get that time down to as close to no

[2020-04-22 14:05] humphd commented on #1042
First question I have: why does it take 5 seconds for our web server to respond to any requests?  What's causing all of these to be slow?  I could understand if it was the `/stats` call, since it does a lot of work in the backend.  But the `/health` one should be really fast.  They all take ~5 seconds, which is odd.

[2020-04-22 16:03] humphd commented on #1042
Testing these routes on their own, they don't seem to be the bottleneck (I'm getting ~100ms response times from nginx and the node app:

[code]

[2020-04-22 16:13] humphd commented on #1042
I do note that this lines up perfectly with an animation (in purple):

<img width="619" alt="Screen Shot 2020-04-22 at 12 12 17 PM" src="https://user-images.githubusercontent.com/427398/80006208-977f1080-8492-11ea-8268-08dfc50fffa4.png">

Can we parallelize these downloads to happen as early as possible so we don't block startup?

Also, can we reduce the time this animation is blocking things?

[2020-04-22 16:21] humphd commented on #1042
Goal #1: increase Perf score of 35 :)

<img width="766" alt="Screen Shot 2020-04-22 at 12 20 35 PM" src="https://user-images.githubusercontent.com/427398/80007012-afa35f80-8493-11ea-9d53-fae67fadd30d.png">

[2020-04-22 16:47] humphd opened #1044 "Use HTTP2 in nginx"
In #1042, we're exploring performance improvements.  One obvious one is to switch to HTTP2 so we can multiplex requests, and get other improvements:

<img width="765" alt="Screen Shot 2020-04-22 at 12 44 15 PM" src="https://user-images.githubusercontent.com/427398/80009430-0c544980-8497-11ea-819a-40970c9d8785.png">

I *think* this is the only change I need to make, but there are 2 other `listen` l

[2020-04-22 16:49] humphd commented on #1000
Closing.  Goodbye 1.0.  Hello, 1.0.x!

[2020-04-22 16:49] #1000 closed

[2020-04-22 17:31] humphd commented on #1026
I'll write a blog post and get my ideas out into the community, and others can riff off it.

[2020-04-22 17:34] #1044 closed

[2020-04-22 17:50] humphd commented on #1042
Merged #1045, which makes a big difference:

<img width="1079" alt="Screen Shot 2020-04-22 at 1 49 18 PM" src="https://user-images.githubusercontent.com/427398/80015685-1e86b580-84a0-11ea-908b-3accd4b3f56c.png">

But we are still essentially idle for 2 seconds, then spend another second rendering.  Let's get this faster still.

[2020-04-22 21:48] humphd commented on #1042
PR up at #1046 to add gzip compression.

[2020-04-22 22:16] humphd opened #1047 "Set worker_processes and worker_connections in our nginx config"
The first two things you generally set in an nginx config are the number of processes to run (`worker_processes`), and how many simultaneous connections you can process per second (`worker_connections`).

You determine the values for these like this:

1. `worker_processes` should be the number of cores on the box
1. `worker_connections` should be the value of `ulimit -n`

https://www.digitalocean.

[2020-04-22 23:14] manekenpix commented on #1047
@humphd
Dev:
- `CPU: Intel i7-2700K (8) @ 3.900GHz`, specs [here](https://ark.intel.com/content/www/us/en/ark/products/61275/intel-core-i7-2700k-processor-8m-cache-up-to-3-90-ghz.html)

Prod:
- `CPU: Intel i7-4790 (8) @ 4.000GHz`, specs [here](https://ark.intel.com/content/www/us/en/ark/products/80806/intel-core-i7-4790-processor-8m-cache-up-to-4-00-ghz.html)

[2020-04-23 00:19] humphd commented on #1042
gzip compression is in, and we're getting faster:

<img width="435" alt="Screen Shot 2020-04-22 at 8 18 59 PM" src="https://user-images.githubusercontent.com/427398/80045799-8a841080-84d6-11ea-9f35-0eb3227ed8c0.png">

[2020-04-23 00:31] humphd commented on #1047
What does `unlimit -n` print on these?

[2020-04-23 01:28] manekenpix commented on #1047
@humphd sorry, `ulimit -n` is `1024` for both.

[2020-04-23 01:55] humphd commented on #1042
Filed https://github.com/Seneca-CDOT/telescope/pull/1048 to move lazy loading processing for `<img>` and `<iframe>` to the backend during processing of the feed.

[2020-04-23 03:23] c3ho opened #1049 "Kubernetes for Telescope"
**What would you like to be added**:
We should look into using Kubernetes now that we have shipped 1.0.

**Why would you like this to be added**:
It was a previous MVP feature

[2020-04-23 03:58] Silvyre commented on #1049
_From [the ashes](https://github.com/Seneca-CDOT/telescope/issues/4) we start anew!_

[2020-04-23 04:56] cindyledev commented on #1049
Quite a lengthy discussion went on back then :o
I'm excited to lurk and learn this

[2020-04-23 05:01] cindyledev commented on #801
I don't wanna hog this so if anyone else wants to work on this issue, I'm definitely willing on collaborate :)

[2020-04-23 05:18] Silvyre commented on #294
As far as I know, our system currently handles the above three use cases.

**We have yet to implement this, I believe.**

This use case is a combination of use cases 3 (handled) and 4 (not yet handled). We can resolve both uses cases 4 and 5.

I believe we can simplify this a bit (by ignoring the `newFeeds` logic, since we're periodically re-fetching and saving the Wiki feed list to Redis, which i

[2020-04-23 06:28] Silvyre commented on #801
Me!

[2020-04-23 06:33] cindyledev commented on #801
Haha wanna swap so you lead and I follow? XD idk where to start

[2020-04-23 06:46] Silvyre commented on #801
Sure, I can give it a shot, but I should warn you that I'm relatively new to PWA stuff!

To start, I'd like to split all of the work needed into multiple issues/PRs (if possible), bearing in mind the the information supplied via the links posted by @humphd, above, as well as the feedback supplied by @humphd in #805.

[2020-04-23 06:53] Silvyre commented on #801
Some more useful Gatsby docs: https://www.gatsbyjs.org/docs/resource-handling-and-service-workers/

[2020-04-23 15:24] #982 closed

[2020-04-23 16:44] humphd commented on #982
Fixed by #1051, #1053, #1054.  Verified fixed on staging. Closing.

We should do a 1.0.1 soon to get this on production.

[2020-04-23 17:49] #1047 closed

[2020-04-23 17:57] humphd commented on #1042
More nginx tweaks, and we're getting closer:

<img width="418" alt="Screen Shot 2020-04-23 at 1 56 49 PM" src="https://user-images.githubusercontent.com/427398/80132869-55c19900-856a-11ea-8ad6-9cc41992311f.png">

[2020-04-23 18:05] humphd opened #1055 "Increase contrast in post header"
<img width="724" alt="Screen Shot 2020-04-23 at 2 03 36 PM" src="https://user-images.githubusercontent.com/427398/80133483-4858de80-856b-11ea-87e3-38cf4601beb7.png">

Caused by:

<img width="354" alt="Screen Shot 2020-04-23 at 2 04 21 PM" src="https://user-images.githubusercontent.com/427398/80133521-59095480-856b-11ea-9240-43b75d6a3701.png">

This needs to get fixed so it's more accessible.

[2020-04-23 18:11] humphd commented on #1042
Fixing size of DOM in #1056.

<img width="727" alt="Screen Shot 2020-04-23 at 2 11 14 PM" src="https://user-images.githubusercontent.com/427398/80134184-5e1ad380-856c-11ea-8e64-8f2337db63da.png">

[2020-04-23 18:29] humphd commented on #1042
Fixing cache headers on static resources in #1057.

<img width="736" alt="Screen Shot 2020-04-23 at 2 28 17 PM" src="https://user-images.githubusercontent.com/427398/80135876-e5694680-856e-11ea-85a8-e56c4b962422.png">

[2020-04-23 18:41] humphd commented on #801
If you want to work on this, here's what I'd focus on first: make sure that we cache files in a service worker when we load, so that the offline case works.  The Workbox stuff has a lot of builtin strategies for doing this, and I suspect that Gatsby's SW stuff is a thin wrapper around that.

The list of TODOs in general is here:

<img width="814" alt="Screen Shot 2020-04-23 at 2 39 32 PM" src="htt

[2020-04-23 18:45] humphd commented on #294
Here's another way to look at this problem:

What if we got rid of the wiki feed list?

All we need is a way for an Admin to be able to bulk insert a bunch of feeds once, and then this problem goes away.  Maybe we should morph this bug into:

"Allow an Admin to import an OPML or Planet Feed List formatted file, and add all the associated feeds."

I don't see any value in keeping the feed list now

[2020-04-23 18:52] #1036 closed

[2020-04-23 19:27] humphd commented on #1042
Reducing number of posts loaded at a time helped a lot:

<img width="410" alt="Screen Shot 2020-04-23 at 3 26 48 PM" src="https://user-images.githubusercontent.com/427398/80141045-eaca8f00-8576-11ea-9c8f-59913c0455ec.png">

[2020-04-23 19:42] humphd opened #1058 "Create /admin/import route to allow bulk import of feeds"
Building off of https://github.com/Seneca-CDOT/telescope/issues/294#issuecomment-618584788, let's create a new route:

[code]

This is a protected route (admins only) that allows sending feed data in a number of formats.  To begin, I'd like to be able to send data in the [Planet Feed List](https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List) text format.  Later we could include other typ

[2020-04-23 19:42] humphd commented on #1058
This will also need tests (obviously!).

[2020-04-23 19:47] humphd opened #1059 "Add UI in our frontend for an Admin to bulk import feeds"
In #1058 we're adding a route to allow an admin to bulk import feeds.  This is going to need some UI to allow it to be used in the app.

I suggest that we need some kind of "Admin" page that has UI for calling various parts of the backend as an admin (#1030 is another change that needs UI).

In this case, let's add a file input upload control so that an admin can select a file to upload.  Here's a

[2020-04-23 19:48] humphd commented on #294
I filed #1058, #1059 to move us away from needing to solve this.

[2020-04-23 22:59] humphd opened #1060 "Stop loading /posts twice on startup"
<img width="1212" alt="Screen Shot 2020-04-23 at 6 53 02 PM" src="https://user-images.githubusercontent.com/427398/80157242-bb764b00-8593-11ea-807f-9f3d2d605a9e.png">

We seem to kick-off two nearly simultaneous requests to `/posts`:

1. The first happens [here](https://github.com/Seneca-CDOT/telescope/blob/56a665b3827b9bf9a070c8eebdfd9ae0caf21732/src/frontend/src/pages/index.js#L60) and goes to `

[2020-04-24 00:43] humphd commented on #1042
Filed https://github.com/Seneca-CDOT/telescope/pull/1061 to work on our font loading.

[2020-04-24 00:58] humphd opened #1062 "Add accessible name to Search Icon button in header bar"
<img width="1084" alt="Screen Shot 2020-04-23 at 8 51 22 PM" src="https://user-images.githubusercontent.com/427398/80163471-452e1480-85a4-11ea-8d14-ffb19d77d6a3.png">

We need an [aria-label](https://web.dev/button-name/?utm_source=lighthouse&utm_medium=devtools) on the search button.

https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Header/DesktopHeader.jsx#L126

[2020-04-24 01:14] humphd commented on #899
Perhaps related:

![img-width-bug](https://user-images.githubusercontent.com/427398/80164568-53c9fb00-85a7-11ea-96bb-68f35108f065.gif)

I think we should be adding a `width: 100%;` on our `img` elements in general.

[2020-04-24 01:18] manekenpix commented on #990
Can we close this? @humphd @c3ho

[2020-04-24 01:56] humphd commented on #990
`master` has this when I build:

[code]

[2020-04-24 02:32] humphd opened #1065 "Warning: Encountered two children with the same key"
I load the app locally, scroll to the bottom, click "Load More..." and get this error 6 times in a row (different keys):

[code]

[2020-04-24 02:34] humphd commented on #869
@smilegodly I'm going to steal this, I have a fix.

[2020-04-24 03:17] c3ho commented on #990
I don't think the last warning (85:6 of `pages/index.js`) is fixable

[2020-04-24 03:19] humphd commented on #990
If we can't fix, we can add an eslint comment to tell it not to warn on that one.  What we can't do is get used to tolerating these, because then we won't pay attention.

[2020-04-24 03:35] c3ho commented on #1058
I'll leave this issue until tomorrow afternoon before assigning it to myself

[2020-04-24 04:05] humphd commented on #1042
The fixes from the past few days got us into the green:

<img width="408" alt="Screen Shot 2020-04-24 at 12 04 22 AM" src="https://user-images.githubusercontent.com/427398/80173906-399c1700-85bf-11ea-8477-0733a5457ed9.png">

[2020-04-24 17:48] humphd opened #1069 "Better mobile experience for post header"
Follow-up from #1034. I'd like to rethink the header for a post a bit on mobile.  It's too tall, and tries to jam in too much text.  I think we should have it be the same height as the main nav bar, and reduce what goes in it.  We should also consider whether to show the main nav header and the post header, or only the post header, or only the main one when you scroll up, etc.

![mobile-header](ht

[2020-04-24 17:48] humphd opened #1070 "Fix scroll overlap bug with header bars"
Follow-up from #1034, we need to deal with the two header bars overlapping and not playing nicely together:

![scroll-bug](https://user-images.githubusercontent.com/427398/80241500-b071f800-8631-11ea-9424-efb3150a3565.gif)

[2020-04-24 17:53] #930 closed

[2020-04-24 18:52] #1060 closed

[2020-04-24 19:02] humphd opened #1071 "Add /feeds/:id/flag route to flag/unflag feeds and update backend"
An admin user should be able to flag a feed, and have it not appear in the frontend, or get returned as one of the feeds in our various queries or other data routes.

We will need the following routes, accessible only to admin users:

1. `PUT /feeds/:id/flag` - would set the feed with `id` as flagged
2. `DELETE /feeds/:id/flag` - would unflag the feed with `id

In Redis, we can add a new set, `t:f

[2020-04-24 20:50] #1030 closed

[2020-04-24 21:35] humphd opened #1073 "RFC: explore adding some kind of like/reaction UX"
Now that we have authenticated user support, I want to open a discussion about adding some kind of Like or Positive Reaction UX for posts.

I think this can be, and is, done poorly in a lot of systems.  For example, I don't understand why YouTube includes a thumbs-down.  I also think it can work well.  One example I see happening in our own little community are Slack reactions:

<img width="273" a

[2020-04-24 23:21] cindyledev commented on #969
Gonna munch on this one

[2020-04-25 03:46] c3ho commented on #1058
I have a question when working on this

Given the following text
[code]

Do you want me to bother with trying to create a feed with first two feeds (the ones marked `#`)?

[2020-04-25 03:56] manekenpix commented on #1058
@c3ho Do you have to process the feeds? I thought you only had to add a way to import them and then `wiki-feed-parser` or the processor would do the rest.
Also, I think the wiki-feed-parser has something to avoid comments [here](https://github.com/Seneca-CDOT/telescope/blob/6b7803c94506eee848e3c67f4a04c4a2986c8924/src/backend/utils/wiki-feed-parser.js#L77). Maybe you can add something there to pro

[2020-04-25 20:06] c3ho commented on #1071
could we use a `smove` here instead to move a feed from `t:feeds` to `t:feeds:flagged`? This would allow us to avoid having to change the `getFeeds()` function

[2020-04-25 21:20] #869 closed

[2020-04-26 01:02] cindyledev opened #1077 "Blog post header overlaps the ScrollToTop button"
**What happened**:
Follow up bug of #1034 . The blog post header overlaps the scroll-to-top button, this can be seen on mobile.

![1077_mobile](https://user-images.githubusercontent.com/36822198/80314192-12f7ff00-87be-11ea-846d-58962c3d61eb.gif)

[2020-04-26 01:06] humphd commented on #1077
Dupe of #1070?

[2020-04-26 01:07] cindyledev commented on #1077
#1070 deals with two headers conflicting, this one is the blog post header vs the scroll to top button :o

The new blog post header has beef with two different things

[2020-04-26 02:47] raygervais opened #1078 "Banner Images Reload twice"
**What happened**:

We are currently processing all images in a GraphQL query, and then selecting `after` with a randomized function. Instead, we should have GraphQL return a single randomized image instead. This came about when #1043 was merged.

[2020-04-26 03:06] manekenpix commented on #1042
![image](https://user-images.githubusercontent.com/23108901/80296449-5ebc9100-8749-11ea-9e20-c4776fdb3264.png)

[2020-04-26 03:12] manekenpix commented on #1042
![image](https://user-images.githubusercontent.com/23108901/80296541-3da87000-874a-11ea-8c6e-3713df6b7091.png)

[2020-04-26 14:57] humphd opened #1079 "Alignmnet of "scroll down" FAB on main screen on mobile"
I think we might have broken something:

<img width="345" alt="Screen Shot 2020-04-26 at 10 53 53 AM" src="https://user-images.githubusercontent.com/427398/80311202-534e8180-87ac-11ea-8971-fc433800f69b.png">

Is the down arrow FAB supposed to be in the centre?  Also, why do we have a ~5px empty space at the bottom of the main image?

For reference, here is what it looked like before we landed the

[2020-04-26 17:45] #1077 closed

[2020-04-27 00:41] humphd commented on #1042
I'm going to close, and we can do follow-ups as we find the need.  Thanks for all the help getting this into the green.

[2020-04-27 00:41] #1042 closed

[2020-04-27 02:03] #899 closed

[2020-04-27 02:04] humphd opened #1082 "Investigate missing charset on JSON files"
[According to webhint](https://webhint.io/scanner/619fd876-7b16-4ef5-86e1-b53394750d41#hint-content-type-1), we aren't serving the correct charset (utf-8) with JSON files.  I think JSON is always uft-8, so maybe it's not actually necessary?  I also don't understand why the default charset setting we have isn't taking for these files.

[2020-04-27 02:06] humphd opened #1083 "content-type header should be application/manifest+json application/octet-stream"
[According to webhint](https://webhint.io/scanner/619fd876-7b16-4ef5-86e1-b53394750d41#hint-content-type-5), we aren't sending the right content-type or charsset for https://dev.telescope.cdot.systems/manifest.webmanifest.

[2020-04-27 02:34] humphd opened #1084 "Figure out cache-control for our REST API endpoints"
[According to webhint](https://webhint.io/scanner/619fd876-7b16-4ef5-86e1-b53394750d41#hint-http-cache-2), we aren't setting proper cache-control headers for our REST API endpoints.  This means that users' browsers aren't able to cache these responses effectively.

Here are the endpoints we have, and some notes on each:

- `/admin` - areas only available to admin users. Not critical for efficiency

[2020-04-27 02:37] humphd opened #1085 "Figure out how to set strict-transport-security properly"
[According to webhint](https://webhint.io/scanner/619fd876-7b16-4ef5-86e1-b53394750d41#hint-strict-transport-security-1), we aren't setting the `strict-transport-security` header on a lot of our files.

- https://webhint.io/docs/user-guide/hints/hint-strict-transport-security/#why-is-this-important
- https://webhint.io/docs/user-guide/hints/hint-strict-transport-security/#examples-that-pass-the-hi

[2020-04-27 02:40] humphd opened #1086 "Figure out how to set the x-content-type-options properly"
[According to webhint](x-content-type-options), we aren't setting the `x-content-type-options` header.

- https://webhint.io/docs/user-guide/hints/hint-strict-transport-security/#examples-that-pass-the-hint
- https://webhint.io/docs/user-guide/hints/hint-x-content-type-options/#examples-that-pass-the-hint

[2020-04-27 18:52] humphd commented on #1078
Part of the fix for this is to refactor `src/frontend/src/pages/index.js`.  Right now we have the header banner image in with the posts, and this is where the `useEffect()` logic for reloading the page is happening.  Whenever this triggers the need for a re-render, the banner is also being re-rendered.

The banner should render once, and never again.  If we split this page up into separate compone

[2020-04-27 21:00] c3ho commented on #1058
@manekenpix Thanks. I took a look over the code and that was what I thought at first too

@humphd Are we going to be writing another file just like `wiki-feed-parser` or making changes to the code? If I was to create another file, a lot of the code would look similar except for the part where instead of creating a dom and getting all the text inside `<pre>` I'm getting all the text inside `req.fil

[2020-04-27 21:28] humphd commented on #1058
I would use what we have, refactor/rename as you see fit, and eliminate the code that uses it now (we don't need to update from the wiki over and over, we'll just read from all unflagged feeds for each repetition of the feed parser).

If you want to keep your life simple, we could make it so that we don't have to send any data to the route: you hit `/admin/import/wiki` and it runs exactly what we

[2020-04-28 16:41] humphd opened #1088 "Add icons for admins to flag and delete feeds from timeline"
If an admin is reading the timeline, and notice something problematic, they should be able to flag (#1075) or delete the feed right there.  I suggest we add two new icons to the upper-right corner of the blue post header bar.  Here's a rough sketch of what I mean:

<img width="812" alt="Screen Shot 2020-04-28 at 12 33 56 PM" src="https://user-images.githubusercontent.com/427398/80513749-82e8bf80-8

[2020-04-28 16:42] humphd commented on #1088
We should probably have some kind of pop-up dialog for confirmation: "Are you sure you want to flag this post?"

[2020-04-28 20:12] cindyledev opened #1089 "Feature Request: display full blog title after click"
**What would you like to be added**:
We need a way to display the entire blog title (especially on mobile); we only see the title before the ellipsis. I wanna see the rest of the title but only when I want to. Maybe display the full blog title after a click to expand the rest of the title and collapse after another click?

![Screenshot_20200428-160451_Chrome](https://user-images.githubusercontent.

[2020-04-29 00:32] humphd commented on #1089
This is a really great idea.  Here's my suggestion: let's merge this, or follow-up with, the work in #1088, and use an [Expansion Panel](https://material-ui.com/components/expansion-panels/) to contain the overflow items in the header, which could include extra overflow text, more info about who wrote it, when they wrote it, and icons for doing extra things with the feed (e.g., for admins).

[2020-04-29 00:32] humphd commented on #1088
See also #1089, which could form the basis for this panel of buttons being added.

[2020-04-29 01:10] raygervais commented on #1008
Question, doing the POC right now for this and wondering what was TravisCI doing which CircleCI wasn't? Or are we going to have CI overlap?

CC @humphd @Silvyre @manekenpix

[2020-04-29 01:14] humphd commented on #1008
I wrote about this a bit in [my 1.0.0 post](https://blog.humphd.org/telescope-1-0-0-or-dave-is-once-again-asking-for-a-blog/), but here are my thoughts:

- CircleCI is fast to build.  That's been nice for quick turn around on knowing if a PR is OK when people are looking at it quickly.
- TravisCI is great for its cross-platform builds.  That's been nice for catching problems that only crop up on s

[2020-04-30 14:12] humphd opened #1091 "Improper entities in code blocks"
We're altering `<pre><code>...</code></pre>` blocks to use entities, and shouldn't.  Here's my recent blog post.  On the left, the original (notice the `=>` arrow function on line 2), and on the right, Telescope's version:

<img width="1512" alt="Screen Shot 2020-04-30 at 10 05 27 AM" src="https://user-images.githubusercontent.com/427398/80720099-6faf2e80-8aca-11ea-8431-d069befe1616.png">

This is

[2020-04-30 16:56] humphd opened #1092 "Add launch configuration for debugging tests"
We can use VSCode to run and debug our tests.  Let's add some configurations to make it easy to do.  [This page has great instructions](https://github.com/microsoft/vscode-recipes/tree/master/debugging-jest-tests).

[2020-05-01 01:29] humphd opened #1093 "404 for /legacy/planet.css"
I don't know when we broke the static asset serving for the legacy planet, but it no longer works (and I want it back!):

<img width="1230" alt="Screen Shot 2020-04-30 at 9 25 57 PM" src="https://user-images.githubusercontent.com/427398/80773900-525d7d00-8b29-11ea-8311-70243c1e90ae.png">

We register it [here](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/index.js#L38

[2020-05-01 05:38] manekenpix commented on #1093
This is what `nginx` says when trying to serve `planet`:
[code]

[2020-05-01 14:11] humphd commented on #1093
This is really helpful, especially:

[code]

This means that nginx is trying to satisfy this request with static data vs. letting express handle it with routes.  Do we need to move the express stuff up in the order that nginx processes things?

[2020-05-01 15:18] humphd commented on #801
Another thing I'd love to see us experiment with is https://swr.now.sh/.

[2020-05-01 16:09] manekenpix commented on #1093
I'm very confused by this. I can't understand why nginx looks for `planet.css` in the Gatsby stuff. I thought since the requests is trying to reach `/planet` it'd be forwarded to telescope.

[2020-05-01 16:14] humphd commented on #1093
It makes me wonder why any of the routes work, if this one fails.

I just tested a theory, and express is serving this file correctly without express.  So this is somehow an nginx change.

[2020-05-03 06:16] manekenpix commented on #1093
I did some testing and it seems to work without this:
[code]
My theory is that when nginx reads that nested location it somehow creates an association between all the `.css` files and `var/www/data` (the `/` location has `root /var/www/data` in it), and maybe that's why it looks for `planet.css` in `/var/www/data`.

The only way I found to be able to keep the nested location is adding this:
[code]

[2020-05-03 14:49] humphd commented on #1093
I think what you've done here is right, based on my reading of the docs.  Excellent detective work!  Would you be willing to open a PR that does this?

[2020-05-03 15:02] manekenpix commented on #1093
Absolutely! I'll have it ready later today.

[2020-05-05 18:45] #1093 closed

[2020-05-05 20:42] humphd opened #1095 "Add nginx /legacy fix to nginx-production.conf"
In #1094 we fixed nginx to allow the `/legacy` route to make it to express.  We missed the `nginx-production.conf` file, though.  We need to do the same fix in that.

Sorry I missed this in my review.  cc @manekenpix.

[2020-05-05 20:55] #1095 closed

[2020-05-07 04:45] agarcia-caicedo commented on #1055
I played around with some colours, and I think its better to just use two colours for the post header. Otherwise the only colours we could use would be a blue, white, and black.

![image](https://user-images.githubusercontent.com/49992710/81254998-8853a300-8ffa-11ea-86d7-d25f95045079.png)

![image](https://user-images.githubusercontent.com/49992710/81254926-622e0300-8ffa-11ea-8be4-828259e3b74f.png

[2020-05-07 06:29] cindyledev commented on #1055
Gives me dark mode vibes #77 ;)

[2020-05-08 02:31] #1062 closed

[2020-05-08 19:25] raygervais commented on #839
Been doing quite a bit of DevOps style items for the past two weeks at work etc, plus having issues with #1008 on the Windows Testing side so I'm going to hash out this one as a weekend-long break. Will return to 1008 after.

[2020-06-26 07:17] cindyledev commented on #1065
I am unable to reproduce this locally on Windows using Docker and it doesn't seem to show up on staging or production. I've tried both Chrome and Firefox.

[2020-07-12 23:07] manekenpix opened #1104 "Error building the front-end"
**What happened**:

Merging #1103 broke the frontend. During the building process, this happened:

[code]

I don't think it's directly related to the changes made in #1103 (I'd say it's gatsby).
Check [this](https://github.com/gatsbyjs/gatsby/issues/20082) for possible solutions.

**What should have happened**:
Telescope should've been able to run after the merge.

**How to reproduce it (as precis

[2020-08-01 04:42] #969 closed

[2020-08-01 04:42] #970 closed

[2020-08-01 04:42] #967 closed

[2020-08-02 07:49] #1104 closed

[2020-08-02 22:15] manekenpix opened #1106 "Packages to update for next release"
These are the packages that should be updated for next release:

[code]

Already updated in [this PR](https://github.com/Seneca-CDOT/telescope/pull/1108):
[code]

[2020-08-02 22:27] manekenpix opened #1107 "Location in 'nginx_production.conf' redirects to 'telescope_staging' instead of 'telescope_production'"
**What happened**:

In [`nginx_production.conf`](https://github.com/Seneca-CDOT/telescope/blob/master/nginx-production.conf), one of the locations redirects to `telescope_staging` instead of `telescope_production`, causing `nginx` to crash.

[code]

[2020-08-03 03:04] cindyledev commented on #1106
Packages that need to be updated in `src/frontend`
[code]

[2020-08-07 15:34] humphd commented on #567
I want to re-open this, and see if we can implement the ideas in https://css-tricks.com/typescript-minus-typescript/, which sound quite useful.

[2020-08-08 02:56] #1106 closed

[2020-08-11 04:08] manekenpix commented on #567
I'd like to help with this one. The project I'm currently on is in typescript (both front and back-end), so I'm comfortable using it. Also, I think @c3ho was also interested in this.

[2020-08-14 02:19] manekenpix commented on #828
Doing a bit of reading to find a way to tackle this issue, I ran into [this](https://github.com/OptimalBits/bull/commit/ce0048c1a7e3903d25d048572919e5c11697adc5). It seems the `OptimalBits` people (responsible for `bull`) already added a way to check if redis is up and running before start processing jobs.
@humphd can you confirm this so we can close this issue?

[2020-08-14 16:47] humphd commented on #828
That's great for the running of the queue, but for the person developing or deploying the app, it doesn't give us the visibility I want.  I'd still love some kind of logging or logic to let us know what's up with the Redis backend.

[2020-09-01 06:29] #683 closed

[2020-09-05 16:57] humphd opened #1118 "Fix semgrep nodejsscan errors"
I've been playing with https://semgrep.dev/ and noticed we have a few node issues we can fix:

[code]

[2020-09-08 05:50] manekenpix opened #1119 "Replace Redis for Windows in CI and Contributor Docs"
The new version of `redis` for windows on `chocolatey` was causing `TravisCI` to fail. [A patch was added](https://github.com/Seneca-CDOT/telescope/pull/1117) to fix this problem, but since the project is [no longer maintained](https://chocolatey.org/packages/redis-64/), it'd be better to consider a different solution, for example using [`Memurai`](https://www.memurai.com/).

[2020-09-09 19:21] #990 closed

[2020-09-17 21:49] c3ho opened #1122 "Author Link + Date of Last Post Link for Search feature doesn't work"
**What happened**:
Clicking on date of last post link or author link when searching by author doesn't' do anything

**What should have happened**:
Clicking on last post should link to the last post available and clicking on author should either show all posts by the author or at least link to their blog

**How to reproduce it (as precise as possible)**:
1. Search by author
2. Click on either date

[2020-09-17 22:09] humphd opened #1123 "Clicking "Load More Posts" shows the last post twice"
Scroll to the end of the available posts, click Load More Posts, it loads more, but includes the last post again.  It looks like an off-by-one error:

<img width="896" alt="Screen Shot 2020-09-17 at 6 07 48 PM" src="https://user-images.githubusercontent.com/427398/93533381-c5b52f00-f910-11ea-9b2a-1a949974824b.png">

[2020-09-18 01:00] humphd commented on #1123
Oddly it only happens with some posts (I can make it happen, but not in all cases).

[2020-09-18 01:29] manekenpix commented on #1122
Clicking on `Date of Last Post` doesn't do anything, but clicking on `Latest Post:...` does, was this intentional?

[2020-09-18 02:16] c3ho commented on #1122
I’m assuming since the other two are clickable, it should lead us somewhere. Otherwise we should not make it clickable

[2020-09-19 21:01] humphd opened #1125 "Raw Entities in Blog Titles"
Similar to #1091, I notice that we have raw entity values in blog titles:

<img width="700" alt="Screen Shot 2020-09-19 at 5 00 13 PM" src="https://user-images.githubusercontent.com/427398/93689136-b7464f00-fa99-11ea-9cf6-b85518bef4f1.png">

[2020-09-20 00:23] humphd opened #1126 "Reduce whitespace above/below lists"
We have a lot of wasted whitespace between paragraphs and lists in posts, which we should reduce:

<img width="757" alt="Screen Shot 2020-09-19 at 8 22 32 PM" src="https://user-images.githubusercontent.com/427398/93691642-f71b2f80-fab5-11ea-8b8c-c37b53f802c8.png">

[2020-09-20 14:24] humphd opened #1128 "Need margin on right-hand side of "Add yours..." message"
Depending on the window size, our "...Add yours" message over the hero image is too tight to the right edge of the window:

<img width="1220" alt="Screen Shot 2020-09-20 at 10 22 47 AM" src="https://user-images.githubusercontent.com/427398/93713679-62ebaf80-fb2b-11ea-878e-556530ca74b5.png">

[2020-09-21 15:20] cindyledev commented on #1128
Whoever does this can do #981 too ;)

[2020-09-21 18:32] #1009 closed

[2020-09-21 21:58] #1092 closed

[2020-09-23 14:06] raygervais opened #1129 "Improve Docker Build / Caching"
**What would you like to be added**:
- Currently, we are leveraging a multi-build Dockerfile configuration which pools all the node_module resources in a single container, and also utilizes  a dedicated build container for the frontend. I'd like to explore how we could further improve and optimize this configuration for the local development environment experience at the potential cost of increase

[2020-09-23 15:27] Metropass commented on #1107
Just to make sure, you wanted `proxy_pass` to have the address `telescope_production` with the same port of 3000?

[2020-09-23 16:04] manekenpix commented on #1107
yes, exactly that

[2020-09-23 16:06] Metropass commented on #1107
Sweet! I'll run it locally first and then I'll make a PR tonight! :)

[2020-09-23 19:38] #680 closed

[2020-09-23 20:05] #998 closed

[2020-09-24 16:17] raygervais opened #1130 "Blue / Green Deployments in Staging Environment"
**What would you like to be added**:
- Blue / Green style deployment of Telescope Services

**Why would you like this to be added**:
Ensure Staging -and by extension once implemented in Production, is never down when new commits / builds are released.

[2020-09-27 12:39] smilegodly commented on #981
I'd like to work on this!

At the moment going to /myfeeds if you're not logged in redirects to the Telescope 404 page. I'll change that to redirect to the login page as it should in this PR also.

[2020-09-27 18:53] humphd opened #1136 "Determine if Vercel build warning is a problem we need to fix"
In our Vercel build logs, I notice this warning:

[2020-09-27 21:22] smilegodly opened #1137 "Change 404 page when not logged in on /myfeeds to login page"
**What happened**:
https://github.com/Seneca-CDOT/telescope/pull/1135 The "Add Yours" link does not work when directed to development branches /myfeeds on the vercel preview. This is because the dev build (master) throws 404 errors when the user is not logged in and goes to /myfeeds route.
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/pages/myfeeds.js#L48

**What should hav

[2020-09-27 21:23] smilegodly commented on #1137
This PR needs to be land before https://github.com/Seneca-CDOT/telescope/pull/1135 can land

[2020-09-27 22:13] #1126 closed

[2020-09-27 22:20] #992 closed

[2020-09-27 23:31] smilegodly commented on #1128
I can do this one

[2020-09-28 00:48] #1137 closed

[2020-09-28 04:09] #1107 closed

[2020-10-01 02:33] #981 closed

[2020-10-01 15:25] c3ho opened #1145 "Add Front End Tests"
**What would you like to be added**:
Add frontend tests, I think this should be broken up into multiple parts.

**Why would you like this to be added**:
We're using jest, created by facebook (creators of react) in the backend, let's leverage that for front-end testing as well

**Components**
- [ ] Spinner: @tonyvugithub
- [ ] SnackBar
- [ ] SearchBar
- [ ] ScrollToTop
- [ ] LoadMoreButton
- [ ] Ad

[2020-10-01 16:49] c3ho commented on #1088
Do we want this functionality when we search by posts/authors as well?

[2020-10-01 17:09] #839 closed

[2020-10-01 18:27] #1128 closed

[2020-10-02 03:58] smilegodly commented on #1091
Is it alright if I work on this one ?

[2020-10-02 04:52] manekenpix commented on #1091
@smilegodly absolutely!

[2020-10-02 13:49] chrispinkney commented on #965
Hi Cindy,

I see the picture has now moved to `\src\frontend\src\images\backgrounds`, sorry for my likely dumb question but is this still an issue?

If so I'd like to take a crack at it.

[2020-10-02 13:51] humphd commented on #965
Not a dumb question at all.  That file, no matter where it lives now, if not being used, should be removed.  I'll assign this to you @chrispinkney, thanks.

[2020-10-02 13:59] pyvelkov commented on #974
Hey,
I'm willing to give this a shot. Can I take a crack at this?

[2020-10-02 14:09] c3ho commented on #974
Yep, go ahead

[2020-10-02 14:37] chrispinkney commented on #965
@humphd I forked, branched, and `git rm`'d the file and pushed to my repo.

Are there any tests I should run before submitting a PR? If so (and either way) I don't know how to run any tests as I've never done them 😟. I did a search in the telescope directory but found no instances of `photo1.jpg` being referenced in the code so I'm assuming it's never used and figure that this alone is enough but

[2020-10-02 14:50] manekenpix commented on #965
@chrispinkney I don't think you need to run test for this particular case, but for future reference you can run `npm run test` in the telescope directory to run all the tests. Take a look at [package.json](https://github.com/Seneca-CDOT/telescope/blob/master/package.json) to see all the scripts that Telescope uses.

[2020-10-02 14:54] chrispinkney commented on #965
Thanks so much! I'll submit my PR now.

[2020-10-02 17:04] chrispinkney commented on #1119
I'm having issues dealing with this and chocolatey so I can investigate this if you like

[2020-10-02 17:20] manekenpix commented on #1119
@chrispinkney thanks you!

[2020-10-02 19:34] PedroFonsecaDEV commented on #974
Can I give a try?

[2020-10-02 19:35] manekenpix commented on #974
@PedroFonsecaDEV yes, thank you!

[2020-10-02 20:08] #1005 closed

[2020-10-02 20:37] #974 closed

[2020-10-02 21:29] c3ho commented on #1089
I've been at this css for 3+ hours now while reading documentation and everything. I've been playing with this sandbox: https://codesandbox.io/s/brave-napier-noks1?file=/demo.js:642-648 . The only problem I have now is when you click on it... the text doesn't expand. I tried testing a hover css selector on it and instead of wrapping, the title ends up not wrapping and goes all the way to the right

[2020-10-02 21:36] chrispinkney commented on #965
See #1147. So `npm run test` passes with a 1 pixel image but not with only a `.keep` file 👎. Does anyone have any suggestions on how to further approach this?

[2020-10-02 22:16] chrispinkney commented on #965
@raygervais wondering if you have any guidance for me too!

[2020-10-03 03:58] PedroFonsecaDEV commented on #1078
Hi, this problem is still open?
If so I would like to give a try.
Thanks

[2020-10-03 05:15] manekenpix commented on #1078
@PedroFonsecaDEV sure, go ahead!

[2020-10-03 18:04] chrispinkney commented on #1145
I can give this one a shot, however I know next to nothing about testing (front end or otherwise) and my knowledge of react is pretty lacking. That being said I'm always interested in learning new technologies, and especially learning how telescope works under the hood (on the front end side at least.)

[2020-10-03 18:07] humphd opened #1149 "Increase feed retries on production to avoid marking invalid feeds by mistake"
I'm not sure why, but for some reason Tony's blog isn't showing up on Telescope.  I looked at the logs, and I see this:

[code]

Something in our system has marked this as invalid.  We need to to fix that.

I checked and there are others like this:

<details>
<summary>`cat log | grep "Feed previously marked invalid" | jq ".msg" | sort -u`</summary>
<pre>
"Skipping resource at http://admixdev.com/c

[2020-10-03 18:09] humphd commented on #1149
I notice that @raygervais has one in here, too  `Skipping resource at https://raygervais.dev/feed-open-source.xml. Feed previously marked invalid"`

[2020-10-03 18:15] humphd commented on #1149
Some more details from the logs:

[code]

Which seems to have happened here:

[code]

So my guess is that we tried multiple times to read and parse this feed, it failed, and we eventually marked it `invalid`.

We probably need some better UI to alert us to this fact, and for users to understand what is happening with their feed, and why it is or isn't showing up.

[2020-10-03 19:15] PedroFonsecaDEV commented on #1078
Okay. Thanks.
Working on it.

[2020-10-03 23:29] manekenpix commented on #1145
@chrispinkney sure, I'll assign it to you. I'd also like to give this one a go since I've never done front-end testing. We can both work on it, just targeting different areas of the code (or we can collaborate).

[2020-10-04 00:19] c3ho commented on #1145
This is going to be a big piece of work spanning multiple PRs, should we create project for it?

[2020-10-04 00:22] manekenpix commented on #1145
I think we can create a project for tests, not only for front-end testing. What do you think?

[2020-10-04 00:23] c3ho commented on #1145
Sounds great, we need to increase our test coverage for backend as well.

[2020-10-04 01:00] cindyledev commented on #1145
Not sure if I have the time to participate in writing test code but this is definitely something I'll be following closely. :)

[2020-10-04 03:33] agarcia-caicedo commented on #1079
Is this still a bug that needs to be fixed?

[2020-10-04 04:07] cindyledev commented on #1079
Yes, please fix this 🙏

[2020-10-04 17:43] chrispinkney commented on #1145
@manekenpix sure I'd love to collaborate, either way I'll definitely need someone to bounce ideas off of haha.

[2020-10-04 19:51] agarcia-caicedo commented on #1079
I'll work on it then

[2020-10-04 21:28] agarcia-caicedo commented on #968
I'll work on it

[2020-10-04 22:16] #1079 closed

[2020-10-04 23:20] raygervais commented on #965
@chrispinkney, I see your previous branch was deleted. What was the issue with the 1x1 placeholder image?

[2020-10-05 00:00] chrispinkney commented on #965
No issue, the tests passed no problem. It just feels like a non-solution to add a placeholder image along with a readme file explaining why said image exists, rather than address the actual issue of why the stray image should exist in the first place.

That being said if a PR is a fine solution in your eyes I'm game for that too haha.

[2020-10-05 02:49] #968 closed

[2020-10-05 15:25] humphd opened #1154 "CircleCI Docker Hub change"
I got this email today, do we need to worry about it? cc @raygervais

[2020-10-05 15:33] raygervais commented on #1154
Adding an official Seneca-based account wouldn't hurt at all, because then we could also publish to Docker hub and reduce build times for example by having stable images published each release too. Given the amount of PRs I imagine October will bring, I'd be concerned that pipelines will start failing randomly due to the limit @humphd.

@manekenpix and I could look into this, we were discussing Ac

[2020-10-05 18:51] smilegodly opened #1155 "Route /myfeeds goes to blank page with user not logged in"
**What happened**:

The most recent [code deletions](https://github.com/Seneca-CDOT/telescope/commit/03540d789ad9adbf138d90ba758704dd898308f5#diff-341423ac4fcd5b3e25e7dd93d2bae8e1L46-L49) in `myfeeds.js` gets rid of an exception `catch` which directs the user to the login page.  At the moment when you go to `/myfeeds` not logged in, a blank `/myfeeds` page is shown.

**What should have happened**:

[2020-10-05 23:15] agarcia-caicedo commented on #1038
I'll work on it

[2020-10-06 00:31] manekenpix commented on #1155
I think this is probably caused by #1141. I'll work on it.

[2020-10-06 05:03] jossiey commented on #606
What else I can do for this issue? Looks like you have fixed it.

[2020-10-06 05:47] c3ho commented on #606
@jossiey it is not fixed, feel free to submit a PR for it
![image](https://user-images.githubusercontent.com/18711727/95163461-ea652f80-0775-11eb-9f35-b1321614089a.png)

[2020-10-06 06:05] #1071 closed

[2020-10-06 06:14] c3ho opened #1160 "Add Backend Tests"
**What would you like to be added**:
Increase the coverage of our backend tests

**Why would you like this to be added**:
We need more tests so travis / circle can help us identify issues with a PR
![image](https://user-images.githubusercontent.com/18711727/95165169-7036aa00-0779-11eb-9c38-77700ca9f8d8.png)

[2020-10-06 06:40] smilegodly commented on #1125
This seems similar to https://github.com/Seneca-CDOT/telescope/issues/1091

Can I work on this one ?

[2020-10-06 12:25] jossiey commented on #606
Thanks. I will handle with it.

[2020-10-06 13:26] #1038 closed

[2020-10-06 13:31] trybick commented on #988
@humphd I noticed `BLOG_INACTIVE_TIME` is still in the example ENV file, although it is commented out. Do we want to have it totally removed? If so, I can do it.

[2020-10-06 13:49] humphd commented on #988
Yup, sounds good @trybick, go for it.

[2020-10-06 13:49] humphd commented on #988
It's in a few places, https://github.com/Seneca-CDOT/telescope/search?q=BLOG_INACTIVE_TIME

[2020-10-06 13:58] humphd commented on #1125
Sounds good, thanks @smilegodly.

[2020-10-06 15:57] #1008 closed

[2020-10-06 18:55] PedroFonsecaDEV commented on #1070
I would like to take a look and give a try.

[2020-10-06 23:55] #988 closed

[2020-10-07 15:07] humphd commented on #1119
We need to solve this in general, as too many people run into trouble trying to get this running on Windows.

Obviously docker is one route, but some people struggle with that on their machines.  Using WSL is another and doing https://redislabs.com/blog/redis-on-windows-10/.

We could have people run Memurai, but it's not open source https://www.memurai.com/get-memurai.

We could also have people

[2020-10-07 15:09] manekenpix commented on #1119
I suggest we close this issue and open a new one that address the problem generally (development + CI)

[2020-10-07 15:11] humphd commented on #1119
@manekenpix whatever you like.

I bet that most developers don't really need redis at all, and could just use the mock stuff we have already.

[2020-10-07 15:38] manekenpix commented on #1119
@humphd let's do that then. Mocking redis FTW!

[2020-10-07 15:38] #1119 closed

[2020-10-07 15:40] humphd commented on #1016
@smilegodly @manekenpix can we close this now?

[2020-10-07 15:42] humphd commented on #1119
We could mock Elastic too I bet https://www.elastic.co/blog/smooth-mocking-with-the-elasticsearch-node-js-client

[2020-10-07 16:14] manekenpix commented on #1016
Yes, #1155 is dealing with this.

[2020-10-07 16:14] #1016 closed

[2020-10-07 20:46] #1091 closed

[2020-10-07 20:53] #1078 closed

[2020-10-07 22:28] humphd opened #1166 "/graphql playground broken due to CORS issue"
https://dev.telescope.cdot.systems/qraphql should be our graphql playground link, but it is currently broken with what looks like a CORS and/or CSP violation:

[code]

[2020-10-07 22:32] humphd commented on #1166
Probably we should disable this playground on prod and only have it on local and maybe staging.

[2020-10-07 23:34] #1155 closed

[2020-10-08 16:02] manekenpix opened #1169 "'Search' returns latest posts instead of results for searched input."
**What happened**:
I entered a string in the search box and it returned the latest posts instead of actual results

![Peek 2020-10-08 11-58](https://user-images.githubusercontent.com/23108901/95483987-e5fb6b00-095d-11eb-8f53-3ee888660cdc.gif)

**What should have happened**:
I should have seen posts related to the entered string

**How to reproduce it (as precise as possible)**:
Go to https://dev.t

[2020-10-08 16:29] manekenpix commented on #1169
I think the origin of this is #1162. Our [search page](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/SearchPage/SearchPage.jsx) relies on the `Posts` component to render search results (see [here](https://github.com/Seneca-CDOT/telescope/blob/5b7edcb6ba3760155b4a9621fcc2cc55055204f0/src/frontend/src/components/SearchPage/SearchPage.jsx#L147)), but after merging #

[2020-10-08 16:35] humphd commented on #1169
Nice find!  Probably the right fix here is to abstract the idea of "showing posts" from getting those posts, so that we can have both posts and search results that share most of their code.  Could we pass down some query details to `<Posts>` with an optional `filter="..."` or something?

[code]

Then it could use the query params if found on props, or do the default thing and load recent posts ins

[2020-10-09 15:24] raygervais opened #1170 "New Semester, New Background Images needed"
**What would you like to be added**:
- Since 1.0.0's release, we've been this collection which was curated by the class and contributors: https://unsplash.com/collections/9975402/photos. I think, with the new faces starting to rise they too should contribute to the collection as well.

[2020-10-09 15:35] humphd opened #1171 "/stats routes shouldn't block the web server"
From Slack, I'm sick of how slow our startup time is.  It seems like it's due to how we load the posts.  Let's figure out what's taking so long.

[2020-10-09 15:42] raygervais commented on #1171
Sharing here some thoughts, if we leverage a data source such as https://www.gatsbyjs.com/plugins/gatsby-source-rest-api/ and retrofit the back-end to provide ALL posts URLS (instead of paged), this could greatly improve load performance at the cost of storage, build time, and a terrible developer experience.

[2020-10-09 20:08] agarcia-caicedo opened #1172 "Tracking Pixel from Medium Posts cause display issues"
**What happened**:
In posts aggregated from Medium, a tracking pixel is added at the end of <content:encoded> tags in the rss feed. We display this image on Telescope with a width of 100%, giving the appearance of significant extra padding.
This is an issue when viewing Telescope using Chrome or Chromium based browsers, like Samsung internet and Edge.

Example:
Mobile, Chrome:
![image](https://use

[2020-10-09 22:39] agarcia-caicedo opened #1173 "Change Telescope Theme to a light theme"
**What would you like to be added**:

Change the color of the components to match this new light design, which has better contrast.
![image](https://user-images.githubusercontent.com/49992710/95636910-66a19080-0a5e-11eb-98c0-56127b512973.png)
![image](https://user-images.githubusercontent.com/49992710/95636914-6bfedb00-0a5e-11eb-8427-bce325a84ad9.png)
![image](https://user-images.githubusercontent

[2020-10-10 01:06] agarcia-caicedo commented on #1173
Pages that need to be converted

- [ ] Home
- [ ] About
- [ ] Search
- [ ] 404
- [ ] My feeds

[2020-10-11 00:17] agarcia-caicedo opened #1175 "Logged In mobile view formatting issues"
**What would you like to be added**:
Our current way of dealing with the logged in state causes some UI issues. Specifically, when in mobile, the drawer has two buttons (name and logout) sharing the same line space:

![image](https://user-images.githubusercontent.com/49992710/95667476-ae92e700-0b34-11eb-9925-38fbc04aa674.png)

We need each button to have its own line, without the changes influenci

[2020-10-11 00:57] cindyledev commented on #1175
I'd like to take this

[2020-10-11 01:29] #1166 closed

[2020-10-11 05:18] agarcia-caicedo commented on #962
Is this still an issue? I think @cindyledev's PR fixed this

[2020-10-11 15:29] humphd commented on #962
Yeah, this is gone, closing.  Thanks for catching this.

[2020-10-11 15:29] #962 closed

[2020-10-11 23:23] agarcia-caicedo opened #1179 "Update Colour Palette docs"
We need to update the docs to reflect our updated theme, the current colours we use are:

Primary: #333e64
Secondary: #0589d6
Background: #e5e5e5

Text:
default: #181818
main: #8BC2EB
secondary: #e5e5e5

[2020-10-11 23:35] agarcia-caicedo opened #1180 "Remove outside post padding in mobile"
**What would you like to be added**:
After #1174 was pushed, posts on mobile have padding, which prevents them from taking up the full screen.

What we have:
![image](https://user-images.githubusercontent.com/49992710/95693031-13634580-0bf8-11eb-8ee1-4761d963c1de.png)

What we want:
![image](https://user-images.githubusercontent.com/49992710/95693083-7654dc80-0bf8-11eb-9c06-41775315ab24.png)

**Wh

[2020-10-12 00:22] tonyvugithub commented on #1179
Hi @agarcia-caicedo , can I take care of this issue? Thanks

[2020-10-12 00:40] tonyvugithub commented on #1180
I think the issue got fixed as I could not see the padding you mentioned on my machine.
![image](https://user-images.githubusercontent.com/55034244/95694803-e0be4a80-0c01-11eb-8821-c1b132ebcac3.png)

[2020-10-12 02:31] agarcia-caicedo commented on #1179
go ahead, here is the [doc](https://github.com/Seneca-CDOT/telescope/blob/master/docs/gui-colour-palette.md)

[2020-10-12 13:24] tonyvugithub commented on #1179
@agarcia-caicedo : Hi, I try to do it correctly. Do you want me to follow the same structure as it currently is or it is ok to make changes?

[2020-10-12 13:48] tonyvugithub commented on #1179
This is what I have got so far, please let me know that it is inline with what you want!
![image](https://user-images.githubusercontent.com/55034244/95753732-04b87500-0c70-11eb-9da5-c19e94c7b12b.png)

[2020-10-12 14:48] tonyvugithub opened #1182 "Failed to serve front-end locally while back-end, redis, and elasticsearch ran fine"
I tried to get Telescope work the first time locally on my machine, but failed.

I received this error when trying to run `npm run serve` to start Gasby
- OS: Window
- Node Version: v14.4.0

![image](https://user-images.githubusercontent.com/55034244/95759855-477e4b00-0c78-11eb-9e84-b4e7942105e0.png)

[2020-10-12 14:56] tonyvugithub opened #1183 "Should mention what to do with front-end module in the Environment Set up docs"
As I followed the [Environment Set up docs](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md), I realized the docs did not mention anything about whether we should run some command like `npm run serve` to trigger the front-end locally.

The docs concluded like this:
![image](https://user-images.githubusercontent.com/55034244/95760438-076b9800-0c79-11eb-99c0-ab6cf5cf58

[2020-10-12 15:02] tonyvugithub commented on #1180
@agarcia-caicedo : Hi, Can I take over this issue?

[2020-10-12 15:04] humphd commented on #1183
I wonder if a simple fix here would be to modify the ending of the Environment setup docs to something like:

[code]

I am also going to file a bug soon that also changes how our `npm run dev` works, so new devs can do `npm install && npm run dev` and *everything* works (using mocks for backend services).

[2020-10-12 15:04] humphd commented on #1183
cc @cindyledev and @raygervais who will have thoughts on wording here.

[2020-10-12 15:13] raygervais commented on #1182
@tonyvugithub, what commands did you use to run frontend?

[2020-10-12 15:15] raygervais commented on #1182
@tonyvugithub, can you share the output of running

[code]

[2020-10-12 15:19] humphd commented on #1183
I think #1182 is due to this, and us not being clear about how to build and run the frontend.  `npm run serve` is a logical choice, but wrong if you don't have a build to serve.

[2020-10-12 15:21] humphd commented on #1182
Also, I wonder if this is worth filing upstream in Gatsby itself: it seems odd to me that running `gatsby serve` wouldn't give a better clue about the real problem, namely, that you need to run `gatsby build` first.

[2020-10-12 15:22] tonyvugithub commented on #1182
They should have included ` gasby build `when run `gatsby serve`

[2020-10-12 15:27] tonyvugithub commented on #1182
@raygervais Looks like I run the wrong command. Here is the output of `npm run develop`
![image](https://user-images.githubusercontent.com/55034244/95763993-d3df3c80-0c7d-11eb-882d-61c99137ec0d.png)

[2020-10-12 15:29] humphd commented on #1183
The docs for Gatsby say:

We should update this to include a note about needing to run `build` or `dev` first so there is a build that can be served.

[2020-10-12 15:52] humphd commented on #1180
@tonyvugithub assigned, go for it!  Thanks.

[2020-10-12 16:42] tonyvugithub commented on #1070
I was about to file the same issue but decided to check the issue list first.

[2020-10-12 16:50] tonyvugithub opened #1185 "Unnatural behaviour of posts loading when click "Load More Posts" button"
**What happened**:
When you clicked on "Load More Posts" button, your view changed from the last post of the previous patch to the last post of newly loaded patch. This is unnatural to what the viewers expect.  This has been an issue for me to follow the posts even with the current release.

**What should have happened**:
What should have happened is the view should continue to the first post of t

[2020-10-12 16:52] tonyvugithub commented on #1180
fixed and sent in PR with detail comment

[2020-10-12 16:52] tonyvugithub commented on #1179
I sent in a PR, please take a look.

[2020-10-12 16:59] tonyvugithub commented on #1123
I think this no longer an issue, but there is another issue about clicking "Load More Posts" that I have filed

[2020-10-12 18:55] #1179 closed

[2020-10-12 20:05] #606 closed

[2020-10-12 20:49] humphd opened #1187 "Hero Banner could be more Heroic"
I notice that at some sizes, our "full screen" hero banner image doesn't go all the way to the bottom.  I think it's more noticeable with the new light theme on staging, so maybe it's not new.

I'd like this image to sit against the bottom of the viewport (see the gap at the bottom of this screenshot):

<img width="1335" alt="Screen Shot 2020-10-12 at 1 45 06 PM" src="https://user-images.githubuse

[2020-10-12 20:54] humphd opened #1188 "Align outline border of post header and body"
There's a slight variation on the post header vs. body outline border.  It makes it look like the body of the post is 1 pixel wider than the header.  When I zoom in on it, you can see it's probably a slight colour variation, that makes the border disappear on the header.

Let's align them so that the whole thing reads as a single width.

<img width="276" alt="Screen Shot 2020-10-12 at 4 53 00 PM"