[2022-03-02 16:24] humphd commented on #3030
<img width="655" alt="Screen Shot 2022-03-02 at 11 23 45 AM" src="https://user-images.githubusercontent.com/427398/156403626-ded1cb15-3a78-4954-9e8c-518b3ee51c34.png">

Staging and Production are both using GitHub OAuth now!  Thank you @Kevan-Y.  If you need an account created, @cindyledev can hook you up.

[2022-03-02 16:30] #3030 closed

[2022-03-02 18:28] cindyledev opened #3089 "Remove firebase.json file since we no longer use Firebase"
We don't use Firebase anymore but we still have the [config/firebase.json](https://github.com/Seneca-CDOT/telescope/blob/master/config/firebase.json) file. Please remove.

[2022-03-02 19:14] #3034 closed

[2022-03-02 19:38] pbelokon opened #3091 "Fix contributors documentation links"
**Where is the problem?**

- [x] Link **comment/file/somewhere else**
- [x] Screenshot

**What exactly is wrong:**
On the contributors documentation page of github,  Architecture and Develop on Gitpod links do not work.
https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/contributing/CONTRIBUTING.md

![issue](https://user-images.githubusercontent.com/88114764/156435473-6ac62398-d1af

[2022-03-02 19:39] JerryHue commented on #3091
Do you want to fix this one, @pbelokon?

[2022-03-02 19:40] pbelokon commented on #3091
Do I have a permission to edit this page  ?

[2022-03-02 19:43] JerryHue commented on #3091
Technically, you can change the whole repo, since you have a copy of it :smiley:

 As long as you submit a PR that addresses these changes, it should be fine.

The broken links should point to the docs found [here](https://github.com/Seneca-CDOT/telescope/tree/master/src/docs/docs).

[2022-03-02 20:34] #3091 closed

[2022-03-02 21:55] pbelokon commented on #3089
I can work on this

[2022-03-02 21:55] humphd commented on #3089
Go for it @pbelokon

[2022-03-02 23:48] #3089 closed

[2022-03-03 12:29] nguyenhung15913 commented on #3082
@tpmai22 done

[2022-03-04 00:44] Kevan-Y commented on #3081
I have a suggestion, would it be too much if we build small microservices for that, and use supabase for storing those data?

[2022-03-04 00:54] humphd commented on #3081
We don't even need a service, just put them in Supabase.  Done!

[2022-03-04 15:05] cindyledev opened #3102 "Add `expo upgrade` and `expo doctor` to React Native docs"
While reviewing #3020, I learned about some useful commands that should be mentioned in our React Native docs

- `expo doctor`: Diagnose issues with the project
- `expo upgrade`: Upgrade the project packages and config for the given SDK

Have a look through [Expo CLI](https://docs.expo.dev/workflow/expo-cli/) to see if there are any other commands we should add as well.

[2022-03-04 15:59] AmasiaNalbandian commented on #3073
I'd like to try this, but I want to remove the current stuff on my to-do first.

[2022-03-04 18:37] #1726 closed

[2022-03-04 22:01] cindyledev opened #3107 "Stop Renovate Bot from updating dependencies for our React Native app"
Upon reviewing #3020, @Kevan-Y has informed me that Expo requires specific versions of some dependencies to work. Renovate bot does not know this and tries to update outdated dependencies anyway. We need to stop Renovate bot from updating dependencies in the `src/mobile`.

[2022-03-05 02:00] cindyledev commented on #3107
I'm gonna give this one a shot

[2022-03-05 09:05] TueeNguyen commented on #2922
Should this be closed? We haven't implemented the full feature

[2022-03-05 10:08] #3107 closed

[2022-03-05 15:02] aserputov commented on #2922
@TueeNguyen I think this one closed automatically because I merged PR.

[2022-03-05 18:53] humphd opened #3120 "Reduce frequency of Renovatebot"
I'm getting overwhelmed by the frequency of emails/PRs from Renovatebot.  Can we reduce or control it a bit better?  It's to the point where I'm going to set a rule to delete all these emails, which makes me think it's probably not effective.

I don't think we need to jump every time a package goes from 1.2.3 to 1.2.4.

[2022-03-05 19:11] cindyledev commented on #3120
Sorry, that was me triggering Renovatebot throughout this week. I forgot you get emails. I'll stop triggering them. Terribly sorry!

[2022-03-05 19:13] humphd commented on #3120
Ah, I didn't realize it was happening due to manual intervention.  That's fine if you're doing it and monitoring (i.e., I *can* ignore them).

Maybe let people in Slack know (esp. Sheriffs) so whiny people like me don't complain.

[2022-03-05 19:13] #3120 closed

[2022-03-05 19:27] cindyledev commented on #3120
<s>cindybot is a menace</s> I'll find something more useful to do XD

[2022-03-05 19:32] JerryHue commented on #2831
I would like to pitch for Postgres, for two reasons:

- Postgres is slowly becoming our primary data store for Telescope. I view this as a good thing. With Postgres, we are going to store copies of the original blog posts from the feeds we have available, so even if a feed stops working forever, we can still use the postgres database to refer to the old posts from these inaccessible feeds. I belie

[2022-03-05 20:55] JerryHue opened #3121 "Production Status page takes too long"
**What happened**: I got a request time-out when accessing the [production status page](https://api.telescope.cdot.systems/v1/status/).

**What should have happened**: I should have accessed the production status page.

**How to reproduce it (as precise as possible)**: Go to https://api.telescope.cdot.systems/v1/status/ and wait for a response.

**Anything else we need to know?**:

**Environment**

[2022-03-05 21:03] humphd commented on #1365
I think we need to have our `docker-compose` always validate/fix our aof file, see https://stackoverflow.com/questions/53222660/redis-server-refused-to-connect-while-using-docker-image.

[2022-03-05 22:14] JerryHue commented on #1365
I will give it a shot with @humphd recommendation. I will try to test it, as well!

[2022-03-06 00:25] JerryHue commented on #3121
Might be related to #1365

[2022-03-06 04:10] Andrewnt219 commented on #2831
I'm unassigning myself from this due to not having time for researching. Sorry for holding the work. The issue is up for grabs.

[2022-03-06 04:16] cindyledev opened #3125 "Add `clean` script to remove node_modules and build output"
When I was reviewing #3020, I found out `expo update` removes `node_modules` and `package-lock.json` then rebuilds it with the appropriate dependencies. I believe Gatsby had a `clean` script that did the same thing. We should add a script to do the same. With the `clean` script, we don't have to manually delete the `node_modules` directory or build outputs for docs, next.js frontend, status dashbo

[2022-03-06 14:11] humphd commented on #2831
No problem @Andrewnt219, understood.  If you want to get involved later, you'd be welcome.

@JerryHue I think using Supabase for this is a fine idea.  If we want to layer on some specific search use case later, and index things in ES too, we can always add it.

[2022-03-07 02:19] tpmai22 commented on #2961
@manekenpix have you have a chance to add `github` token for `production` at all ?

[2022-03-07 03:46] #3125 closed

[2022-03-07 04:02] manekenpix commented on #2961
@tpmai22 Adding it is not a problem, but I'm not sure if using personal tokens (in this case, a personal token created with my account) is a good idea.

[2022-03-07 12:36] tpmai22 commented on #2961
@manekenpix so is it good for us to get rid of the token ?

[2022-03-07 17:44] cindyledev opened #3130 "Add React Native to our pnpm workspace"
We are currently installing our React Native dependencies using `npm`.

https://github.com/Seneca-CDOT/telescope/blob/40f6f78e8f25ced6139ac572ae7757693d7a4128/package.json#L39

We should add `src/mobile` to our [pnpm-workspace.yaml](https://github.com/Seneca-CDOT/telescope/blob/master/pnpm-workspace.yaml)

[2022-03-07 18:10] #2999 closed

[2022-03-07 18:47] cindyledev opened #3131 "<Fragment> component not imported properly in nextjs.md doc"
When I was working on #3128, I kept getting

[code]

This is due to how we added the `Fragment` component in `src/docs/docs/tools-and-technologies/nextjs.md` file. We need to add

[code]

To reproduce warning, run `pnpm build` in `src/docs` directory:
[code]

[2022-03-07 19:04] nguyenhung15913 commented on #2859
I can work on this if you are busy

[2022-03-07 19:19] #2858 closed

[2022-03-07 19:37] tpmai22 commented on #2859
@nguyenhung15913 thank you for that I just got stuck a bit because I did not know we will display the whole string or we gonna create a json file to parse it into our component

[2022-03-07 20:04] sancodes commented on #3131
i can take this task, if still open

[2022-03-07 20:09] cindyledev commented on #3131
@sancodes welcome back! Please take it

[2022-03-07 20:38] sancodes commented on #3131
@cindyledev added the import statement and tested for the build. Please let me know if I've missed anything.

[2022-03-07 22:51] #1365 closed

[2022-03-08 03:30] aserputov commented on #2648
1. First of all, CloudFlare is **amazing**!
Start from [this](https://blog.polyhaven.com/how-we-handle-80tb-and-5m-page-views-a-month-for-under-400/): For someone who will start implementing Cloudflare into Telescope. Here is the best [video](https://www.youtube.com/watch?v=6CMmL9iF_bA) to do it in a few quick steps.
Cloudflare has servers worldwide, but precisely for our problem, it doesn't matte

[2022-03-08 04:21] #3131 closed

[2022-03-08 12:24] tpmai22 opened #3139 "Specific E2E test constantly time out during CI deployment"
**What happened**:
This specific E2E test usually time out when it should not
![image](https://user-images.githubusercontent.com/43376325/157237558-09daed36-9eb6-40d3-be1d-25f8dbee0883.png)

[2022-03-08 12:28] tpmai22 commented on #2857
[Kevan set up](https://github.com/Kevan-Y/telescope/tree/issues/issue-2857) for whoever interested

[2022-03-08 12:38] DukeManh commented on #3139
Related to #3031

[2022-03-08 12:39] tpmai22 commented on #3139
Closed due to duplicate. Thank @DukeManh

[2022-03-08 12:39] #3139 closed

[2022-03-08 13:46] tpmai22 commented on #2777
@TueeNguyen would be great if you can shred some light on this.

[2022-03-08 13:47] tpmai22 commented on #2648
@aserputov let's talk about this tomorrow

[2022-03-08 13:50] tpmai22 commented on #2870
@sirinoks are you interesting in taking this issue ?

[2022-03-08 13:59] tpmai22 commented on #2680
@dbelokon @JerryHue please kindly discuss the progress of this issue here.

[2022-03-08 14:13] tpmai22 commented on #2859
@nguyenhung15913 we can work together you can share your set up here if you already have one

[2022-03-08 14:16] tpmai22 commented on #2982
@sirinoks you can put your opinion about this issue here

[2022-03-08 14:18] tpmai22 commented on #2591
@tcvan0707 if you cna put some details about your struggle. People will be able to help out

[2022-03-08 14:25] sirinoks commented on #2982
On the starfield idea (Generating a starfiled where each star is a GitHub profile picture of our contributors) - I don't think it's a good one. Here is why.

I roughly understand what needs to be done:
- Put profile pictures as a star shape
- Shift transparency from complete white, to then showing the profile pictures (CSS opacity)
- Change zoom level of the stars with time

I can see this looking

[2022-03-08 15:02] AmasiaNalbandian opened #3141 "Better UI for language selection"
**What would you like to be added**:
Make UI for language selector for translating about page.

**Why would you like this to be added**:
because UX.

[2022-03-08 15:36] tpmai22 opened #3142 "Research for `Beta` features to help us ship faster"
**Why would you like this to be added**:
Like @humphd mentioned during the meeting on how big companies would have a feature that have not been fully deployed be available in `production` as a `beta` version. Having this on `telescope` might be a big thing for us

[2022-03-08 17:20] humphd commented on #2979
It looks to me like we could try to [use `docker secret`](https://docs.docker.com/engine/swarm/secrets/#read-more-about-docker-secret-commands) for our staging and production secrets.

It works like this:

1. You have some secret, let's say our `GITHUB_TOKEN`, and let's pretend the value is `abcd`.  You start by creating a new secret with `docker` on the staging and production boxes like this: `pr

[2022-03-08 18:17] humphd commented on #3142
There are lots of existing solutions for this for next.js, React, node.js, etc.

For example:

- https://github.com/happykit/flags

[2022-03-08 18:17] humphd commented on #3142
See also https://featureflags.io/

[2022-03-08 18:19] humphd commented on #3130
I think this was done due to limitations with expo.  @menghif might know more.

[2022-03-08 18:57] #2677 closed

[2022-03-08 19:28] menghif opened #3144 "Configure ESLint for Satellite"
https://github.com/Seneca-CDOT/telescope/pull/3136 just merged so Satellite now lives in `src/satellite`.

ESLint in Satellite needs to be reconfigured to use `@senecacdot/eslint-config-telescope`

[2022-03-08 19:32] menghif opened #3145 "Add Satellite to Jest config"
https://github.com/Seneca-CDOT/telescope/pull/3136 just merged so Satellite now lives in `src/satellite`.

Jest needs to be configured to have Satellite in its list of projects.

[2022-03-08 19:58] menghif commented on #3130
When I setup expo, there were issues with `pnpm` so I had to resort to `npm`.

It seems like there were successful attempts to make expo work with `pnpm`:
https://github.com/vjpr/pnpm-react-native-expo-example

If anyone is interested they could look into this further.

[2022-03-08 21:27] #3002 closed

[2022-03-08 23:30] manekenpix commented on #3142
I can help with this. I have experience with feature flags (setup and implementation).

[2022-03-09 00:45] tpmai22 commented on #3142
@manekenpix I'm really interesting too so if you can keep us posted (your set up and how you would do it) about that here. I would love to contribute some code as well

[2022-03-09 02:17] TueeNguyen opened #3148 "Add and expose logic that close all db connections (Redis & Elastic) from Satellite"
**What would you like to be added**:

I want to add a static function, let's say `close()` that closes all db connections (Redis, Elastic) in `Satellite` class.

The reason is I don't want to create an instance of `Satellite`, I just want to close all db connections leveraging existing code, it would look like this
[code]

https://github.com/Seneca-CDOT/telescope/blob/18a86cec8ef1e0e20e6692d3fc36a

[2022-03-09 02:18] TueeNguyen commented on #3148
@humphd @Kevan-Y What do you guys think?

[2022-03-09 14:50] humphd commented on #3148
I would modify https://github.com/Seneca-CDOT/telescope/blob/18a86cec8ef1e0e20e6692d3fc36a1be10333c6b/src/satellite/src/satellite.js#L68-L85 to do what you want, and have `onSignal` call this same function, https://github.com/Seneca-CDOT/telescope/blob/18a86cec8ef1e0e20e6692d3fc36a1be10333c6b/src/satellite/src/satellite.js#L54-L60.

You can modify that code to return a Promise if you want.

[2022-03-09 18:06] #2998 closed

[2022-03-09 20:48] menghif opened #3152 "Fix all current ESLint configs"
**What happened**:

The current `pnpm lint` implementation does not run ESLint.

**What should have happened**:

`eslint` and `@senecacdot/eslint-config-telescope` need to be installed as devDependecies in each project.

We also need `eslint` in `scripts`:
[code]

In addition, we need to set
https://github.com/Seneca-CDOT/telescope/blob/5ede9fa8ea22d60bd6daecebf8e2fcb84381148f/tools/eslint/index.j

[2022-03-09 22:03] aserputov commented on #3152
Do we also need to fix for src/backend, mobile, jest ?

[2022-03-09 22:08] menghif commented on #3152
Yes all of them.

You can make the necessary changes for backend in https://github.com/Seneca-CDOT/telescope/pull/3135 since it's not merged yet.

[2022-03-09 22:45] JerryHue opened #3153 "[Metabug] Configure ESLint on all projects"
This issue's purpose is to track all other issues that focus on adding ESLint configuration on each specific project. They are not cleanly separated, so read the issue's title and thread properly.

- [X] #2560
- [x] #3000
- [x] #3152
- [x] #3144
- [X] #3002
- [X] #2999
- [X] #2998
- [X] #2970
- [x] #3154
- [x] #3155
- [x] #3156
- [x] #3157
- [x] #3158
- [x] #3159
- [x] #3160
- [x] #3161
- [x] #319

[2022-03-09 22:46] JerryHue opened #3154 "Configure ESLint for `dependency-discovery`"
`dependency-discovery` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-09 23:19] humphd commented on #2801
Auth discussion happening in https://github.com/Seneca-CDOT/docker.cdot.systems/issues/3

[2022-03-10 00:43] #3144 closed

[2022-03-10 00:56] cindyledev opened #3155 "Configure ESLint for `sso`"
`src/api/sso` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 00:58] cindyledev opened #3156 "Configure ESLint for `image`"
`src/api/image` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 00:59] cindyledev opened #3157 "Configure ESLint for `posts`"
`src/api/posts` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 00:59] cindyledev opened #3158 "Configure ESLint for `parser`"
`src/api/parser` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 01:00] cindyledev opened #3159 "Configure ESLint for `planet`"
`src/api/planet` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 01:01] cindyledev opened #3160 "Configure ESLint for `search`"
`src/api/search` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 01:02] cindyledev opened #3161 "Configure ESLint for `feed-discovery`"
`src/api/feed-discovery` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work.

[2022-03-10 01:06] cindyledev commented on #3153
Let this be our metabug for all the ESLint configuration bugs

[2022-03-10 03:10] aserputov commented on #2822
@humphd I have a curiosity question: Is Telescope web deployed on Vercel from GitHub repo? What I mean exactly is that I also work on Cloudflare research right now and got this question: are our src/web/public static files not cached anywhere? How do they connect to the frontend code? Just simple by local path in a folder, or do we have storage&public links?
Also, pictures from the posts, where ar

[2022-03-10 04:26] DukeManh commented on #2952
closed via #3140

[2022-03-10 04:26] #2952 closed

[2022-03-10 04:44] tpmai22 commented on #3024
Closed this due to #3061

[2022-03-10 04:44] #3024 closed

[2022-03-10 13:21] humphd commented on #2961
@manekenpix let's follow-up on this.  I can't find a way to create anything other than a Personal Access Token.  I can use one of mine if you want to remove yours.

[2022-03-10 13:21] DukeManh commented on #2960
close via #3150

[2022-03-10 13:21] #2960 closed

[2022-03-10 15:44] humphd commented on #2822
We have Vercel deployments for PRs, but we don't deploy staging or production there.  Instead, we host it from our own nginx container.  The images in people's blogs are not cached by us: the browsers will pull from the original sources, which we don't control.

[2022-03-10 23:17] manekenpix commented on #2961
@humphd  mine expired a couple of days ago, let me know when you're ready that new ones.

[2022-03-11 00:39] tpmai22 commented on #2894
@AmasiaNalbandian Should I move this to 2.9 ?

[2022-03-11 00:45] humphd commented on #2941
Looks like we can `ignoreTags`: https://linkify.js.org/docs/options.html#ignoretags

[2022-03-11 00:46] humphd commented on #2961
I want to solve #2989 first, which I hope we'll do soon.

[2022-03-11 00:58] tpmai22 commented on #2801
@TDDR if there by chance you uploaded the PR by tonight, please also file following up issues for 2.9 and close this.

[2022-03-11 01:15] #3154 closed

[2022-03-11 01:56] #2926 closed

[2022-03-11 02:47] #3145 closed

[2022-03-11 03:02] #3102 closed

[2022-03-11 16:01] #2963 closed

[2022-03-11 17:19] tpmai22 commented on #2962
@TueeNguyen could you make a checklist and check Vietnamese is done from the table. I will move this issue to 2.9

[2022-03-11 17:53] tpmai22 commented on #2961
Instead of closing this, I will move this to 2.9 so we got remind about this. But like what we disscussed with @humphd, the only way to solve this would be using PAT for this

[2022-03-11 18:02] tpmai22 commented on #2965
This have moving to meta issue #3135

[2022-03-11 18:02] #2965 closed

[2022-03-11 18:19] tpmai22 commented on #2922
We got this keeping track in #2962

[2022-03-11 18:19] #2922 closed

[2022-03-11 19:10] #2941 closed

[2022-03-11 19:18] DukeManh commented on #2962
I updated the table, you can copy syntax for the Vietnamese row to update the status of the translation.

[2022-03-11 19:18] #3152 closed

[2022-03-11 19:28] DukeManh opened #3174 "PR"

[2022-03-11 19:29] #3174 closed

[2022-03-11 20:00] rclee91 opened #3175 "Satellite test suites run 10 times"
**What happened**:
In #3145 Satellite was added to jest configs.

I'm running tests on Satellite for ElasticSearch updates and noticed that there's an unusually large amount of tests for Satellite.
Satellite has only one test suite but tests are running 10 times.
![image](https://user-images.githubusercontent.com/32626950/157948030-4385ec81-5e8e-4cab-83fd-84f776b47135.png)
Not sure why it is 10. I

[2022-03-11 20:08] humphd opened #3177 "Solve deprecation warnings on pnpm install"
[code]

[2022-03-11 21:02] #2982 closed

[2022-03-11 21:30] #3148 closed

[2022-03-11 22:30] #2618 closed

[2022-03-11 22:52] menghif opened #3180 "Update Telescope Overview docs and remove broken links"
While working on translating the [Telescope Overview docs](https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/overview.md) I found some broken links:

- http://zenit.senecac.on.ca/~chris.tyler/planet/ redirects to https://matrix.senecacollege.ca/

- https://people.gnome.org/~jdub/bzr/planet/devel/trunk/ appears twice in the page and returns a 404.

Judging by the broken links the o

[2022-03-11 23:36] JerryHue opened #3181 "Dependency collection script fails during `pnpm version`"
**What happened**: The `collect-dependencies.js` script fails during `preversion`.

**What should have happened**: The `collect-dependencies.js` script should work as expected when running `pnpm version`, just like `node tools/collect-dependencies.js -- -o src/api/dependency-discovery/deps.txt` works.

**How to reproduce it (as precise as possible)**: You'd need to remove the `postversion` script

[2022-03-11 23:44] humphd opened #3182 "highlight.js reports unescaped HTML"
I see a bunch of logs like this in production from the parser/backend:

[code]

[2022-03-11 23:48] humphd opened #3183 "502 from /health on Telescope backend"
The backend's [health check](https://github.com/Seneca-CDOT/telescope/blob/e1d7c96eb998ffca900bf046f043c978fffb774f/src/backend/web/routes/health.js) often returns a 502:

[code]

<img width="496" alt="Screen Shot 2022-03-11 at 6 46 38 PM" src="https://user-images.githubusercontent.com/427398/157991475-49187073-9712-401c-ae0c-0fd135383261.png">

I wonder if we're running into rate limiting or some

[2022-03-11 23:57] humphd commented on #3183
@manekenpix reminds me that we don't run a web server on the backend anymore, only the parser, so this route can't work.

[2022-03-11 23:58] humphd commented on #3183
...correction, it looks like we do https://github.com/Seneca-CDOT/telescope/blob/62c76d08ef853887af27bede044265820770b09e/src/backend/index.js#L10

[2022-03-12 04:10] cindyledev commented on #3175
Resolved in #3178

[2022-03-12 04:10] #3175 closed

[2022-03-12 05:54] JerryHue commented on #3181
I'm baffled. I ran the program over 10 times to understand the reason as to why a variable that is clearly a string, does not have the [function replaceAll](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll) defined. The worst part is that this happens ONLY when you run `pnpm version`. If you run it as a regular script with `node`, it works out just

[2022-03-12 06:35] cindyledev commented on #3181
Sorry, I don't fully understand this problem because I haven't worked with the dependency-discovery service yet but if I'm getting this correctly, the `pnpm preversion`, `pnpm version` and `pnpm postversion` scripts aren't running as expected?

According to the [pnpm docs](https://pnpm.io/cli/run#differences-with-npm-run)

If for some reason you need the pre/post scripts behavior of npm, use the e

[2022-03-12 07:40] JerryHue commented on #3181
The main error is not that they are not running as expected, the error is that the version of `node` being used in the `postversion` script is not the one installed globally (which for me is `node` v16), but instead the one specified locally to the project (this is my guess, don't quote me on that).

The reason I am so caught off-guard is because there is nowhere in the documentation that specifie

[2022-03-12 14:12] cindyledev commented on #3177
I ran `pnpm outdated -r --long` in the root to check for all the outdated dependencies but I can't get the same warnings mentioned in opening issue

These are the only deprecated dependencies I see.

[code]

I've also tried `pnpm install --ignore-scripts --reporter=append-only`

[code]

[2022-03-12 15:48] humphd opened #3189 "Migrate staging and production to docker.cdot.systems based images"
Last night we turned on our new Docker Registry at https://docker.cdot.systems.  The [README](https://github.com/Seneca-CDOT/docker.cdot.systems#readme) has info on how it works if you're interested.

We also migrated our first service to use it: our beloved `feed-discovery`.  To do this, we had to make these changes:

1. Create a [workflow to build and deploy](https://github.com/Seneca-CDOT/teles

[2022-03-12 20:20] humphd commented on #3031
I spent some time looking into this today.  I think there's a race condition with the postgres starting and running migrations, which can leave other services unable to connect to the db.  In my testing, the other supabase containers would crash and restart a lot.

It's hard to pin down, but for example, I can sometimes see the `supabase-auth` container crash:

[code]

I'll also see errors like th

[2022-03-12 22:30] rclee91 opened #3191 "Running pnpm with Satellite in the repo breaks tests because of dependency issue"
**What happened**:
I am trying to update ElasticSearch to 8.1.0. for Satellite.
The idea is to get Satellite updated first, do a release, and then have the Telescope Services try out the new Satellite version.
I updated ES and ES-mock for Satellite in #3187, and the tests for Satellite pass.
However, Search tests are now not passing.

**What should have happened**:
Updating inside of Satellite sho

[2022-03-12 22:33] humphd commented on #3191
I think we have to stop running tests globally, and start doing it per sub-project.  Each project needs its own test setup vs. a giant set of tests, and turbo repo can figure out running them all.

[2022-03-12 22:38] rclee91 commented on #3191
Yes, but the issue is the Search service is currently affected by the local Satellite, which in turn is affecting the tests.

[2022-03-12 22:39] dbelokon opened #3193 "Fix image profile flickering on star field"
In #3149, a star field animation was added to the About page.

For some strange reason, there is flickering, where some profile pictures would appear somewhat big and then disappear.

[2022-03-12 22:41] dbelokon opened #3194 "Profile pictures become too big in smaller screen sizes"
In #3149, we added a start field animation where GitHub profile images would appear.

It seems that the size of these profile images are not proportional to the canvas size, making them too big for smaller screen sizes like mobile.

Below, you can check a video presenting the problem.

https://user-images.githubusercontent.com/51073515/157933485-17093ad3-a494-4daf-9ff2-b73993f03c13.MOV

[2022-03-12 22:41] rclee91 commented on #3191
In a case where Satellite wasn't merged inside of Telescope, The Search service would be using the Satellite package (in this case v1.26.0). If we had updated Satellite and made a release (say 1.27.0) in this case, Search wouldn't be affected until we update Telescope to use v1.27.0.
Right now its ignoring the Satellite packages and just using the local Satellite

[2022-03-12 22:42] humphd commented on #3191
I wonder if this is related to pnpm, and how Jest is doing module resolution?

[2022-03-12 22:44] rclee91 commented on #3191
Yeah, pnpm is definitely doing something. The "hack" works because it makes the `node_modules` in Satellite get unnoticed from pnpm, so pnpm will use the Satellite packages.

[2022-03-12 22:51] humphd commented on #3191
I don't full understand this, but I see others discussing issues *like* this and talking about modifying the way that pnpm does its hoisting, see https://pnpm.io/npmrc#dependency-hoisting-settings.

What I think is happening to you is that the packages are being hoisted into the top-level `node_modules` where Jest is able to find and resolve them, when it really shouldn't.

[2022-03-12 22:57] TueeNguyen commented on #3193
Also, can we slow down the animation, my eyes actually hurt :)

[2022-03-13 00:13] cindyledev opened #3196 "Migrate MUI from v4 to v5"
From https://github.com/Seneca-CDOT/telescope/issues/3177#issuecomment-1065890466

MUI v4 is deprecated and has significantly decreased developer happiness working with it. We need to update MUI to v5

Via Slack @AmasiaNalbandian has agreed to work this until she dies so we can count on her to support MUI (or we rip it out one day, who knows)

[2022-03-13 00:22] humphd commented on #3196
Pre-3.0 or Post-3.0?  Seems big.

[2022-03-13 00:44] AmasiaNalbandian commented on #3196
I think post would be best, but most preferably before 3.1....

[2022-03-13 02:05] cindyledev commented on #3196
Just read up on migrating MUI v4 to v5. Lots of breaking changes. It honestly feels similar to porting Gatsby.js to Next.js. We will need to plan out a strategy for this migration.

[2022-03-13 14:24] humphd commented on #3196
We should probably wait until we can freeze the front-end UI long enough to do the migration without also having to port changes.  We might be able to do that prior to 3.0.  Let's discuss in your upcoming call.

[2022-03-13 14:43] humphd commented on #3193
That's an interesting point, especially for users with Epilepsy or others who might have [set `prefers-reduced-motion`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion).

I wonder if we should add a check for `prefers-reduced-motion` and not animate it, just show a static frame with the faces.  That can be another follow-up PR too, beyond this flickering fix.

[2022-03-13 16:40] humphd commented on #3189
@rclee91 ran into an issue in our AWS docs where we don't seem to do the right thing:

![image](https://user-images.githubusercontent.com/427398/158069728-6952c5eb-0511-467f-b5c7-118ac43f7777.png)

We need to make sure that we either build or use a pre-built image, which requires using one of `docker/development.yml` or `docker/production.yml` along with `docker/docker-compose.yml`.

[2022-03-13 16:41] humphd commented on #3189
cc @cindyledev

[2022-03-13 17:30] cindyledev commented on #3191
If the tests are breaking because we're using a local version of Satellite for Search, can we just force Search to use Satellite from the npm registry? That way it will only use v1.26.0

I pulled this branch and changed the following in `src/api/search/package.json`
from
[code]
to
[code]

I ran `pnpm test satellite search` and all the tests passed
[code]

[2022-03-13 19:16] cindyledev commented on #3130
This is hard for me to test if any of the following works because I always hit the same error I've hit in https://github.com/Seneca-CDOT/telescope/pull/3020#issuecomment-1058724926 at the very end

I removed this line
https://github.com/Seneca-CDOT/telescope/blob/6e59d166dc3d4a921b2a0bd91b1c87a46ecad166/package.json#L39

Added this to `pnpm-workspace.yaml`
[code]

According to `expo update`, we ne

[2022-03-13 19:51] cindyledev commented on #3177
We can set `auto-install-peers=true` in `.npmrc` to automatically install missing peer dependencies as dev dependencies

https://pnpm.io/npmrc#auto-install-peers

[2022-03-13 20:28] cindyledev commented on #3191
If I also update `@elastic/elasticsearch` to `8.1.0` and `@elastic/elasticsearch-mock` to `2.0.0` in root. I get a different set of tests not passing

[code]

Perhaps we can't update ES and ES-mock in Satellite by itself but everywhere else as well?

[2022-03-13 20:42] cindyledev opened #3198 "Configure ESLint for root, test, backend"
`test/*` needs to be configured to add the new `@senecacdot/eslint-config-telescope` to `devDependencies` and configure `ESLint` to actually work. We added an `.eslintrc` file in #3134 to `test/` but it is currently not being read anywhere.

Adding eslint in root should lint `test/` and `src/backend`. Once the backend has been moved to its own microservice, we won't need eslint in root anymore.

[2022-03-13 23:36] cindyledev commented on #3177
Wow, this is the output I get for `pnpm install` on an AWS EC2 Amazon Linux 2 AMI

[code]

[2022-03-13 23:49] cindyledev opened #3201 "Update AWS docs to reflect creation of docker.cdot.systems based images"
According to this https://github.com/Seneca-CDOT/telescope/issues/3189#issuecomment-1066138350

[2022-03-13 23:49] cindyledev commented on #3189
I filed issue #3201

[2022-03-14 00:01] rclee91 commented on #3191
Telescope is my first monorepo so I am not familiar with the term. I had thought that as a monorepo, changing anything in Satellite shouldn't have to change anything in the other parts of the repository (until we tell the services to use the new Satellite update). If I had made the same changes to the old Satellite (the one with its own repo) and everything works fine, then ideally, shouldn't it b

[2022-03-14 00:25] nguyenhung15913 opened #3203 "Adding footer for mobile app's about screen"
**What would you like to be added**:
After this [PR](https://github.com/Seneca-CDOT/telescope/pull/3167) gets merger, a footer needs to be added to the about screen of our React Native app.
![image](https://user-images.githubusercontent.com/69558780/158086115-54df243f-20b1-42e0-8f58-947ce5969329.png)
**Why would you like this to be added**:
Because of the original design of Telescope

[2022-03-14 01:22] humphd commented on #3191
Jest doing this module resolution with pnpm's flat `node_modules` is what's doing this, right?  If we stop doing top-level Jest runs, and move to per-sub project like eslint, this goes away?

[2022-03-14 01:28] humphd commented on #3081
It looks like you're going above the root of the sub-project, which won't work.

We could make this a module that exports a file imported in both projects, and use pnpm workspaces to get at it?

cc @Meneguini

[2022-03-14 01:46] rclee91 commented on #3191
Uh, I think the jest config is another issue that was just exposed by this issue.
I don't think the problem for this issue is with jest. The issue is the Search service is using the local Satellite and not the Satellite package it was supposed to use.

[2022-03-14 01:51] humphd opened #3205 "Trigger custom "deploy" webhook in CI to our autodeployment server"
The way we're going to do our deployment is changing due to our Docker Registry (see #3189).  One thing that this will mean is that the order or a request to have the autodeployment server start a build, and the build/push of our Docker Images, both have to be timed correctly (i.e., we need to build and push all the new Docker Images *before* we start the deploy, which will `pull` them).

Let's mo

[2022-03-14 01:54] humphd commented on #3191
In tests or in general?  That is, does Search do this when run normally, or only in Jest?

[2022-03-14 03:23] rclee91 commented on #3191
I tested Search service locally. It fails on my branch. So in general and in tests.

[2022-03-14 03:38] #3201 closed

[2022-03-14 04:36] JerryHue commented on #3193
I would like to work on this. I think we would have to improve the way the current math works to actually create the feeling of depth.

I think we could make the speed of the stars much slower, as a way to not overwhelm the viewer, and limit the number of stars on the screen, as a way to not have all profiles shown at once.

However, to do all of this we might need to revamp the current rendering

[2022-03-14 15:02] humphd commented on #3205
I've started this work in #3207.

[2022-03-14 16:08] cindyledev opened #3208 "Solve peer-dependency warnings on pnpm install"
In addition to the deprecation warnings mentioned in #3177, we have warnings about missing peer-dependencies

[code]

Adding this to `.npmrc` in root only installs missing peer dependencies when we add new dependencies. It does not take care of the missing peer dependencies we currently have.
[code]

Note: Depending on your OS, you may or may not even see these warnings. I get these warnings using

[2022-03-14 18:33] #3198 closed

[2022-03-15 02:19] cindyledev commented on #3000
Resolved by #3199

[2022-03-15 02:19] #3000 closed

[2022-03-15 05:34] DukeManh opened #3212 "[Image]: Banner image failed to load because CORS violation"
The banner image is not showing on staging

**What happened**:

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/51073515/158313462-03f65123-8626-4e2a-baac-e9c08ad9d766.png">

**Environment**:
- OS: macOS Montery
- Browser: Any browser

[2022-03-15 06:18] cindyledev opened #3213 "Add .ts and .tsx to `prettier` script in root package.json"
We need to make our `.ts` and `.tsx` code pretty. Can't believe we haven't been using prettier for our `.ts` and `.tsx`

https://github.com/Seneca-CDOT/telescope/blob/6439dbd2f7111c210fa68bbf58fd3ee6fd53988c/package.json#L20-L21

[2022-03-15 06:18] cindyledev opened #3214 "Install MUI v5 packages ie @mui/material, @mui/styles, @mui/icons-material, @emotion/react, @emotion/styled"
We are preparing to migrate our MUI v4 to v5, we can actually have both versions installed at the same time while we're migrating so ideally nothing would break... Incremental changes. Located in `src/web`

For MUI v5, we need:
- @mui/material
- @mui/styles
- @mui/icons-material
- @emotion/react
- @emotion/styled

[2022-03-15 06:41] DukeManh commented on #3212
I used [git bisect](https://git-scm.com/docs/git-bisect) and found the commit that introduced this. cc @menghif

<img width="827" alt="image" src="https://user-images.githubusercontent.com/51073515/158321327-4c46917a-2968-450a-a14c-17798b047cb2.png">

[2022-03-15 06:47] cindyledev commented on #3212
ESLint? *sweats*

Satellite? *sweats even more*

[2022-03-15 06:52] DukeManh commented on #3212
Satellite? sweats even more
I don't know how this commit could introduce this bug. It seems innocent enough.

Why are you staying up so late :) btw

[2022-03-15 06:55] cindyledev commented on #3212
I think I'm addicted to Telescope 🤔

[2022-03-15 06:57] cindyledev commented on #3196
I've started a project board for this to help organize things

Very WIP https://github.com/orgs/Seneca-CDOT/projects/10

[2022-03-15 12:18] AmasiaNalbandian commented on #2834
We already have the parsing logic from the GitHub Info, would help to review Abdul's PR that refactored it.

From there, we can have a search field where users can add the github username. So for example, if we search for AmasiaNalbandian we will add this in the post query to look for `https://github.com/AmasiaNalbandian`

So I think this should be split into parts, because we can look for multipl

[2022-03-15 13:42] humphd commented on #3212
Reading https://github.com/Seneca-CDOT/telescope/commit/5ede9, I notice that we updated [helmet](https://www.npmjs.com/package/helmet) from `4.6.0` to `5.2.0`, which is maybe what's broken us here.

[2022-03-15 13:50] cindyledev commented on #3213
I did some weird stuff last night with TypeScript and ESLint complained and prettier acted like it didn't know me

[2022-03-15 13:51] DukeManh commented on #3212
If we expand the diff view of pnpm-lock from the commit, we'll see that satellite module is being link to the local repo rather than node_modules. Did you run pnpm link by accident Francesco.

[2022-03-15 13:53] humphd commented on #3212
In case it is helmet, here's the changelog https://github.com/helmetjs/helmet/blob/main/CHANGELOG.md

[2022-03-15 14:08] DukeManh commented on #3212
You are right, it's because of the helmet updated from this [PR](https://github.com/Seneca-CDOT/satellite/pull/76). This change has not been released but `satellite` is linked as a local dependency, not the published one, which causes this.

[2022-03-15 14:31] JerryHue opened #3215 "Use Postgres to store GitHub data"
There has been a lot of discussion regarding storing and indexing GitHub information that appears on posts, and how this information can also be used to leverage the use cases of the `dependency-discovery` issue. For example, in #2831 and #2827, we have mentioned several times this, so I think it is time to lay some foundations.

## Our backing store, PostgreSQL

### Motivation

The reason I would

[2022-03-15 23:14] humphd opened #3221 "Fix naming for workflow job"
https://github.com/Seneca-CDOT/telescope/blob/master/.github/workflows/release.yml#L56

This should be:

[code]

[2022-03-15 23:14] humphd commented on #3221
Let's have a first-time contributor take this one, please.

[2022-03-16 00:00] #3191 closed

[2022-03-16 00:31] humphd opened #3222 "Use docker.cdot.systems cached versions of Docker Hub Images"
Once https://github.com/Seneca-CDOT/docker.cdot.systems/issues/9 lands, we'll be able to pull Docker Hub images directly through docker.cdot.systems (i.e., it will cache them).

Let's switch our images for Traefik, nginx, Redis, Elasticsearch, etc. to use our own registry URL.

[2022-03-16 01:10] TueeNguyen commented on #3222
I Found this link https://github.com/compose-spec/compose-spec/blob/master/spec.md#pull_policy
I guess we can add something like this
[code]

[2022-03-16 01:30] #3156 closed

[2022-03-16 02:21] #3181 closed

[2022-03-16 04:11] mikepng commented on #3203
Hi,can someone elaborate on what's going on with the react native app? What's the state of the app? I can certainly help.

[2022-03-16 12:43] humphd commented on #3203
cc @nguyenhung15913, @tpmai22, @Kevan-Y

[2022-03-16 13:22] rclee91 opened #3224 "Tests for the ElasticSearch Indexer in the backend and Parser"
In #1417 , the ES indexer will be modified or a new indexer will be added to include analyzers in order to setup for autocomplete on Authors.

Currently in the legacy backend, the [indexer.js](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/indexer.js) module is mocked as a whole in `__mocks__`.
In the new Parser tests (#3040) this manual mock will be taken out, and other te

[2022-03-16 13:22] rclee91 opened #3225 "Updating Search Service and tests to implement Autocomplete for Authors"
In #1417 , the ES indexer will be modified or a new indexer will be added to include analyzers in order to setup for autocomplete on Authors.

The Search service will need to be modified to adapt to the new indexing, and corresponding tests will need to be written to reflect the changes.

[2022-03-16 13:40] rclee91 opened #3226 "Search bar update for Autocomplete with Authors"
In #1260 front-end support for Author autocomplete was added.
In #3225 the Search service will be implemented to return queries with autocomplete on Authors.

We will need to combine all these changes together to implement having Author suggestions while typing in search.

A possible implementation of this could be with using React Autocomplete component for the front-end
https://v4.mui.com/compon

[2022-03-16 14:40] tpmai22 commented on #3203
@mikepng Right now we try to putting small PRs to have the app up and running. Our recent work have been working on the About page, Home page, setting up basic navigation for the app. We try to have some blog post by the end of our 2.9. So right now I would say our mobile app just beginning

[2022-03-16 15:22] aMaksimets commented on #3221
https://github.com/Seneca-CDOT/telescope/pull/3227

[2022-03-16 16:35] Kevan-Y commented on #3048
@menghif, I can still reproduce in the upstream/master.
Same steps as shown above.
- In `docusaurus.config.js` change
![image](https://user-images.githubusercontent.com/58233223/158640741-c508ea95-3b57-4a78-a794-4df5fcead8c0.png)
- `cd ./src/docs`
- `docker build -t docs:prod` . (see log)
![image](https://user-images.githubusercontent.com/58233223/158640455-616b864c-6900-4390-8d8d-f0ba72065ec7.png

[2022-03-16 17:14] mikepng commented on #3203
@tpmai22 is there a figma link for the design of the screens?

[2022-03-16 17:24] mikepng commented on #3203
@tpmai22 is there a figma link for the UI of the screens?

[2022-03-16 18:50] TueeNguyen commented on #3203
@mikepng, we use our own web app https://telescope.cdot.systems/ for the design

[2022-03-16 20:59] humphd commented on #3215
I think we have two types of data:

- historical data (GitHub users, orgs, pull requests)
- current and evolving data (values returned by the GitHub API for things like Issues with a given Label)

The historical data belongs in postgres, I agree.  The latter is probably better thought of as being cached vs. stored long term, since it will change frequently, and storing a list of "current" issues d

[2022-03-16 21:49] humphd opened #3230 "e2e tests not using Docker registry cache with docker-compose"
I just [ran some e2e tests on CI](https://github.com/Seneca-CDOT/telescope/pull/3229/checks) and noticed that `pnpm services:start` isn't using our Docker registry cache.  When we run this, internally we do this: https://github.com/Seneca-CDOT/telescope/blob/master/tools/services.js#L16-L30

That is basically calling `docker-compose ... --build --remove-orphans`.  It looks like `docker` builds vs.

[2022-03-16 21:59] Kevan-Y commented on #1668
List of Dockerfile to check:

- [ ] [./Dockerfile](https://github.com/Seneca-CDOT/telescope/blob/master/Dockerfile)
- [ ] [./src/api/dependency-discovery/Dockerfile](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/dependency-discovery/Dockerfile)
- [ ] [./src/api/Dockerfile](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/Dockerfile)
- [ ] [./src/api/feed-discovery/Docker

[2022-03-16 22:02] humphd commented on #1668
Other things I want to see us do:

- multi-stage builds, cache dependencies vs. run-time
- use smaller run-time images

[2022-03-17 01:25] DukeManh commented on #3031
@humphd, that looks like this discussion supabase/supabase/discussions/5699

[2022-03-17 01:29] DukeManh commented on #3031
https://stackoverflow.com/questions/48020283/dockererized-kong-on-windows-giving-an-invalid-response-was-received-from-the-u

[2022-03-17 02:26] #3212 closed

[2022-03-17 05:48] cindyledev commented on #3221
Closed via #3227

[2022-03-17 05:48] #3221 closed

[2022-03-17 07:35] cindyledev commented on #3130
There doesn't seem to be an elegant way of adding our React Native app into pnpm workspace. We shouldn't force this because I think the benefits of being able to run `expo upgrade` properly outweighs the benefit of being able to get rid of the `postinstall` step. We haven't had the need for our React Native to share anything within our workspace yet.

We can revisit this in the future when the tim

[2022-03-17 07:35] #3130 closed

[2022-03-17 12:40] #2801 closed

[2022-03-17 12:49] TDDR opened #3240 "Set up a GitHub Provider config with team, token access"
This is a follow up to issue #2801

There was only one task left on the initial checklist to setting up the Docker registry.
![image](https://user-images.githubusercontent.com/59970326/158811220-193672f6-4ee9-4b0b-b5bc-fffe8cb6787e.png)

We need to figure out how to set up a GitHub Provider config with team, token access:
https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/oauth_provide

[2022-03-17 13:02] humphd opened #3241 "Reduce memory usage of Docker containers in development"
<img width="783" alt="Screen Shot 2022-03-17 at 8 56 49 AM" src="https://user-images.githubusercontent.com/427398/158813186-544fc08e-0382-4e25-bfd6-7771decbadd0.png">

[code]

The biggest offender in our containers are:

- elasticsearch, using ~1G of RAM
- supabase-kong using 530M or RAM
- supabase-storage, supabase-realtime, supabase-db containers each using ~150M

Most other containers are prett

[2022-03-17 15:25] TueeNguyen opened #3244 "Invalid Url makes backend/parser hang"
**What happened**:
I `pnpm start` to start the backend and this happened
[code]

**How to reproduce it (as precise as possible)**:

This happened because the url from the wiki feed was `https:https://robertbegnatechblog.wordpress.com/category/open-source/feed`. It was passed to be hashed into an id
https://github.com/Seneca-CDOT/telescope/blob/80cee904c75b1c3dbeb9ebfb0ceeb77078ce3e3d/src/backend/d

[2022-03-17 18:23] DukeManh opened #3245 "Eslint hangs"
Running `pnpm lint` won't finish.

<img width="1036" alt="image" src="https://user-images.githubusercontent.com/51073515/158870361-20376733-ae6e-448e-bcca-f7ecfab84198.png">

**Environment**:

- OS:macOS 12

[2022-03-17 19:06] cindyledev commented on #3245
I suspect it hangs because we didn't set any ignore patterns so eslint might be going into node_modules

[2022-03-17 19:33] DukeManh commented on #3245
I thought eslint ignores node_modules by default

[2022-03-17 19:51] TueeNguyen commented on #3244
This may be because of my local pc, will close if no one else has the problem

[2022-03-18 00:12] humphd opened #3252 "Dark mode github stylesheet sometimes used in light mode"
Something has recently changed our colour highlighting so that it's really washed out.  Let's revert it.

<img width="789" alt="Screen Shot 2022-03-17 at 8 11 18 PM" src="https://user-images.githubusercontent.com/427398/158913701-a1ad7fbf-20b2-41da-874e-e9553c3ce7f5.png">

[2022-03-18 00:39] #3031 closed

[2022-03-18 02:48] dbelokon commented on #3194
I am assigning it to myself, but if anyone is willing to try or help, please let me know😁😋

[2022-03-18 19:56] #3214 closed

[2022-03-18 20:14] cindyledev opened #3258 "Migrate GitHubContributorCard Component to MUI v5"

[2022-03-18 20:28] cindyledev opened #3259 "Migrate MUI Theme to MUI v5"

[2022-03-18 22:03] #2859 closed

[2022-03-18 22:58] menghif commented on #3230
Fixed in #3254

[2022-03-18 22:58] #3230 closed

[2022-03-19 04:25] rclee91 opened #3263 "New changes in Dockerfile break Dashboard on Staging"
**What happened**:
Dashboard is broken on staging.
(Clicking on the "i" on the hero banner)
https://dev.api.telescope.cdot.systems/v1/status/

![image](https://user-images.githubusercontent.com/32626950/159105763-b21816e6-7914-426b-b033-b63c37cc914d.png)

**What should have happened**:
Should show the dashboard

**How to reproduce it (as precise as possible)**:
Go here: https://dev.api.telescope.c

[2022-03-19 04:30] cindyledev commented on #3263
Would it make sense to rip out the `HEALTHCHECK`s temporarily until we can figure out to get them to work properly?

[2022-03-19 04:34] rclee91 commented on #3263
Yes if it temporarily gets the dashboard working.
But we should continue to investigate.

[2022-03-19 04:40] cindyledev commented on #3263
My guess is staging is not happy with the `localhost` from this line

https://github.com/Seneca-CDOT/telescope/blob/7944fa01eb87481f38573de4f949618c332b5671/src/api/status/Dockerfile#L53

[2022-03-19 04:43] rclee91 commented on #3263
I'm just baffled cause it seems some other dockerfiles have this line as well but they don't seem to be affected.
Just `Status` and sometimes `Posts`

[2022-03-19 13:09] TDDR commented on #2526
I've spent a few hours looking at other repos and trying to figure out the best way to go about this. Seems like most repos are using this in their yaml file responsible for publishing, and that they do it on the `build-and-push` stage. Ex:
- https://github.com/invakid404/funtoo-bot/blob/deadcad126b6748535c6cab918d112c8c855b1b0/.github/workflows/publish.yml#L82
- https://github.com/webb-tools/dkg-

[2022-03-19 14:38] humphd commented on #3263
The problem here is that we're asking the `HEALTHCHECK` to look at `${PORT}`, which will be `3000` on staging: https://github.com/Seneca-CDOT/telescope/blob/master/config/env.staging#L184.  However, the status service uses `STATUS_PORT=1111`: https://github.com/Seneca-CDOT/telescope/blob/master/config/env.staging#L45.

We should be using `STATUS_PORT` vs. `PORT` in this file: https://github.com/Se

[2022-03-19 15:08] Kevan-Y commented on #3263
So [PORT](https://github.com/Seneca-CDOT/telescope/blob/master/config/env.staging#L184.) is overwriting our env [PORT](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/Dockerfile#L47) in dockerfile?

[2022-03-19 15:08] manekenpix commented on #3263
@humphd I'm checking all the `dockerfiles`, and they all use `${PORT}', but only `status` seems to be affected. Also, I'm surprised nobody saw this in local testing, because we're all testing every PR locally, right, RIGHT?

[2022-03-19 15:12] Kevan-Y commented on #3263
@manekenpix , should I fix all the other `dockerfiles` to use the right `env` variable in this PR?

[2022-03-19 15:15] manekenpix commented on #3263
@Kevan-Y I don't even know if that's the issue. All the other `dockerfiles` use the same var, but none of them are affected (maybe `posts`, but I'd have to confirm.

[2022-03-19 15:19] Kevan-Y commented on #3263
@manekenpix I think it's not an issue of PORT maybe, on portainer I can see that the env `PORT` is correctly set to `1111`

[2022-03-19 15:20] manekenpix commented on #3263
@Kevan-Y thanks for checking :+1:

[2022-03-19 17:18] humphd commented on #3263
Regardless, `PORT` is wrong.  All of the Dockerfiles use their own special `{service-name}_PORT` syntax, so this should get fixed.

[2022-03-19 17:45] Kevan-Y commented on #3263
## Test scenario (each scenario doesn't contain any change from previous scenario):

1. removing || exit 1 in Dockerfile

    - http://localhost:1111/ able to access
    - http://localhost:1111/healthcheck showing 503 with {"status":"error"}
    - http://localhost/v1/status 404 page not found
    - http://localhost/v1/status/healthcheck 404 page not found

2. Changing || exit 1 to|| exit 0 in Dock

[2022-03-19 18:44] humphd commented on #3263
Anything that gets `await`ed, needs a `try/catch` or we risk crashing (and here we are).

However, I think this `getPackage` call is not needed.  Let's pass the value in as a build `ARG` to the `Dockerfile`.

In a GitHub Actions Workflow, you can get the following:

1. name of `branch` or `tag`: `${{ github.ref_name }}`
2. git sha: `${{ github.sha }}`

We can stamp these values into the `status` o

[2022-03-19 19:38] humphd commented on #2526
I don't want to stop using `buildx`, since it's what makes all of our caching work.  Can you see if you can get this work with with buildx?  A quick scan of their repo issues didn't seem to preclude using it, unless you are cross-compiling, which we don't.

[2022-03-19 21:10] #2925 closed

[2022-03-20 00:48] Kevan-Y commented on #3263
I was looking at the previous commit. But don't remember why we return ` version, sha, gitHubUrl`.

[2022-03-20 13:16] humphd commented on #3263
It's so that the front-end could get it to display on the front landing page.  But we don't need to do that in the status service, we can build that info into the `nginx` front-end container statically.

[2022-03-20 13:20] humphd commented on #3205
The relevant bit of what I did is https://github.com/Seneca-CDOT/telescope/blob/master/.github/workflows/deploy-webhook.yml#L29.  When we finish doing a docker build and push to our registry, GitHub Actions will `POST` some JSON to our autodeployment server.  It should be a `push` event something like this:

[code]

The `data.deploy_tag` tells us which tag to pull and run, one of `staging` or `pro

[2022-03-20 14:06] #3245 closed

[2022-03-20 15:49] menghif opened #3268 "Add README to eslint-config-telescope package"
We should add a README to our `eslint-config-telescope` package. Right now the npmjs page is empty: https://www.npmjs.com/package/@senecacdot/eslint-config-telescope

Here's Airbnb's config README for inspiration: https://www.npmjs.com/package/eslint-config-airbnb

[2022-03-20 16:18] manekenpix commented on #3263
name of branch or tag: ${{ github.ref_name }}
    git sha: ${{ github.sha }}

If we do this, we'll have `undefined` in development and we won't be able to display telescope's version and commit, are we ok with that?

[2022-03-20 16:53] humphd commented on #3263
I don't think it matters as much in development.

[2022-03-20 17:50] #3157 closed

[2022-03-21 12:38] JerryHue opened #3276 "Fix `collect-dependencies.js` to handle Windows paths"
**What happened**: The `deps.txt` blanked for release 2.8.2.

**What should have happened**: The `deps.txt` should not have been blanked out.

**How to reproduce it (as precise as possible)**: If you run `node tools/collect-dependencies.js -- -o src/api/dependency-discovery/deps.txt` in Windows, the `deps.txt` will be blank.

**Anything else we need to know?**: A way to fix this would be using the

[2022-03-21 14:17] Kevan-Y commented on #3263
I checked the code, in our front-end we don't call the status healthcheck to get that info.
https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/health.js

In development, when we run `pnpm starts` for starting our backend, the front end will be able to get the version displayed.

[2022-03-21 14:26] humphd opened #3277 "Image cache issue in service worker with hero banner"
We recently added a feature to download a tiny image in the landing page, stretch and blur it, then replace it with a full-sized image once it fully loads.  It works great...most of the time.

About 1 in 10 times I load it, it gets stuck on loading the full-sized image, seemingly in our Service Worker cache:

<img width="1385" alt="Screen Shot 2022-03-21 at 10 24 04 AM" src="https://user-images.gi

[2022-03-21 14:56] Kevan-Y opened #3278 "Refactor all our dockerfile to use our base image."
In https://github.com/Seneca-CDOT/telescope/issues/2803, we created a base image to be used.
Base image 🔽
https://github.com/Seneca-CDOT/telescope/blob/master/src/api/Dockerfile

Once refactoring all our dockerfile https://github.com/Seneca-CDOT/telescope/issues/1668 is done.
We can start replacing all dockerfile to use our base image.

Some todo:
- Push the base image to our docker registry.
- Ch

[2022-03-21 15:11] humphd commented on #3278
One question I have is about build order in CI.  We build all the Dockerfiles in parallel, so I'm not clear how we deal with changing the base image at the same time.  It's a bit like updating an npm package that needs to get pushed to the registry, then updating our package.json files later.

Maybe it's not worth worrying about, and we should pin the version of the base image we use by sha in Doc

[2022-03-22 02:41] HyperTHD commented on #3183
@humphd Tested this, looking good right now, not code related so probably the former
![image](https://user-images.githubusercontent.com/16841702/159397024-b7f1355b-1e88-43ab-aeea-52ce46e8898a.png)

[2022-03-22 10:27] dbelokon opened #3283 "Track view count and subscriber count for YouTube banner"
In #3282 we have a YouTube banner that is displaying negative numbers for the subscriber and viewer count.

The reason for this is because the current back-end does not track this information.

I am not really sure what should be the way to solve it. We could write some code in the front-end that requests with the YouTube API the information we want, or have the back-end figure out to store this i

[2022-03-22 14:11] #3158 closed

[2022-03-22 19:43] DukeManh commented on #3277
This is interesting, I think it also happens on production once in a while too. I haven't been able to reproduce this.

[2022-03-22 20:34] DukeManh opened #3288 "Videos from Youtube feed appear twice"
I notice youtube videos appear twice.
https://dev.telescope.cdot.systems/search/?text=azure%20sdk&filter=post
<img width="654" alt="image" src="https://user-images.githubusercontent.com/51073515/159570945-ea6e724a-e33c-4f8f-b6a8-7861509f9299.png">
- Deployment: staging + production
- OS: macOS 12
- Browser: Firefox

[2022-03-22 20:49] #3208 closed

[2022-03-22 21:53] humphd commented on #3288
"A lecture so nice we're showing it twice!"

[2022-03-22 21:56] humphd commented on #3277
I've seen a few random bugs related to what looks like our service worker.  Hard to replicate.

[2022-03-22 23:14] JerryHue commented on #1366
@sirinoks, what has been your progress related to this? I know that you were researching for any Slack APIs that would let you do this, but I don't know what you concluded with.

[2022-03-22 23:17] AmasiaNalbandian commented on #2708
This is the solution:
![image](https://user-images.githubusercontent.com/77639637/159591785-4c62e4d1-2c0c-4200-b0c9-ca3ab8f9fb3c.png)

add max-height overflow-y

[2022-03-22 23:17] JerryHue commented on #3288
I checked the changes in #3282, and it seems that @dbelokon fixed this.

[2022-03-22 23:22] JerryHue commented on #1668
@Kevan-Y, could you tell us how much is left on this?

[2022-03-22 23:25] Kevan-Y commented on #1668
@JerryHue See https://github.com/Seneca-CDOT/telescope/issues/1668#issuecomment-1069676606,

[2022-03-22 23:27] JerryHue commented on #1936
@aserputov, what is your progress related to this?

[2022-03-22 23:29] aserputov commented on #1936
@JerryHue work in progress.

[2022-03-22 23:31] JerryHue commented on #2444
@tpmai22, this might have been fixed in #3233. Could you test that this is the case?

[2022-03-22 23:33] JerryHue commented on #2451
@DukeManh, I moved this to alpha. Let me know if you'd like to tackle this for 2.9.

[2022-03-22 23:36] JerryHue commented on #2526
@TDDR, do you think that we can make this for 2.9? I can move it to 3.0-alpha in the case we need to more discussion.

cc @humphd, @manekenpix

[2022-03-22 23:40] JerryHue commented on #2648
I would move this issue to release 3.0-alpha, since @aserputov provided some feedback which can help us to implement it. I don't think it is doable for 2.9 (kind of risky to do something like this in 2 days!).

[2022-03-22 23:43] aserputov commented on #1936
@JerryHue I think we should this one too.

[2022-03-22 23:43] JerryHue commented on #2655
@sirinoks, is there something else we have to do for this specific issue? I remember that this issue was **technically** done, and that you'd like to close it. Is there a reason why you haven't closed it yet?

[2022-03-22 23:45] JerryHue commented on #2676
@nguyenhung15913, what is the progress related to this issue? Have you managed to implement a small PR that can address it?

[2022-03-22 23:48] JerryHue commented on #1668
Based on that list, I am not really sure if we can get this done by release 2.9, unless you'd like to ask for someone else's help and you can guide them on what to do.

[2022-03-22 23:50] aserputov commented on #1668
I'm ready to help. We can finish this until 2.9.

[2022-03-22 23:52] humphd commented on #2526
Moving to Alpha, I want @TDDR to focus on the deploy stuff.

[2022-03-22 23:56] humphd commented on #1668
Thanks @aserputov, that would be a big help.

[2022-03-23 00:20] sirinoks commented on #2655
The reason is the [new project](https://github.com/orgs/Seneca-CDOT/projects/10), I will need to ask what it is about and bring some general structure to it. However, it can be decided that that new project is outside of the scope of this issue. If it is - then there are just small things left to be complete.

Specifically, the [Supabase project](https://github.com/orgs/Seneca-CDOT/projects/7) and

[2022-03-23 00:24] sirinoks commented on #1366
There has been no progress since Feb 15th. I still need to figure out the automation stuff and I haven't looked there.

[2022-03-23 00:53] humphd commented on #2979
Filed https://github.com/supabase/supabase/issues/6014 upstream to see if Supabase would consider using secrets files vs. environment variables.

Even if they do, it wouldn't happen in time for what we need, so let's move forward with the environment variable hack, and hopefully we can migrate away from it later.

[2022-03-23 02:11] cindyledev commented on #1366
Perhaps you can talk to @DukeManh , I remember he added a Slackbot but it was in the wrong channel so it was removed

[2022-03-23 03:22] JerryHue opened #3290 "Post search results are not sorted"
**What happened**: When I searched for posts in Telescope, they appeared out of order.

**What should have happened**: The posts should have been organized from earliest to oldest post.

**How to reproduce it (as precise as possible)**: Search for several posts in Telescope and check the dates. Sometimes you will see a post from February shown before a post from January.

**Anything else we need t

[2022-03-23 03:32] #3263 closed

[2022-03-23 04:30] JerryHue opened #3291 "Track REST API documentation"
Issue #203 was created over a year ago, as an attempt to document the REST API that Telescope has. Since that issue has gone stale and does not have much context, I would like to *revamp* that issue into an issue that tracks all the documentation we need to write for the 3.0 release.

- [X] Write `feed-discovery` service documentation (done in #3146)
- [ ] Write `dependency-discovery` service docu

[2022-03-23 04:40] #3180 closed

[2022-03-23 10:36] dbelokon commented on #3073
I am not really sure how to implement this. If the cursor is supposed to store the id of the current post in localStorage, how we would scroll the screen to the post with that id?

[2022-03-23 11:11] dbelokon commented on #3283
A way I tried to implement it is by making a request to YouTube from the front-end and get the information I wanted. However, I ran into a CORS issue that I am not really sure how to fix. If anybody can help me out on that, I'll appreciate it a lot!

[2022-03-23 15:34] HyperTHD opened #3293 "Write `posts` service documentation"
Part of #3291, posts service was my service so I'd love to do this revamp

[2022-03-23 19:52] menghif opened #3299 "Remove `TIMING=1` from eslint and make it a separate command"
**What would you like to be added**:
`TIMING=1` should be removed from the `eslint` command. We should instead have a `eslint-timing` command that includes `TIMING=1` for when it is needed.

**Why would you like this to be added**:
It will remove unnecessary output when running `eslint`.

ESLint docs: https://eslint.org/docs/1.0.0/developer-guide/working-with-rules#per-rule-performance

[2022-03-23 20:33] TueeNguyen commented on #3215
Would the `github_issues` table  consists of issues and pull requests that are mentioned in any blog posts?

[2022-03-23 20:37] DukeManh commented on #3073
My thoughts on how you can do this:

- use IntersectionObserver to know what post is being viewed and store the id in local storage
- you can either set an interval to store the id or save it when the browser closes
- Next time you visit, we gonna look at the stored post id because we load 30 posts at first, if the page id is in one of the posts, scroll to it.
- To scroll to the post, you need to

[2022-03-23 23:52] humphd opened #3300 "Try using Docker to install Playwright in CI"
Our e2e tests take a while for Playwright to install.  They have [Docker images](https://playwright.dev/docs/docker) we could try instead, which might be faster.

A note to whoever works on this: the way our CI workflow for e2e tests works, you can't modify how it works in your PR and have it run.  It will only run what's on `master`.  So you should modify the branch name in https://github.com/Sen

[2022-03-24 00:33] #3189 closed

[2022-03-24 00:33] #3205 closed

[2022-03-24 00:40] #3160 closed

[2022-03-24 02:23] #3159 closed

[2022-03-24 02:33] #3155 closed

[2022-03-24 06:21] sirinoks commented on #1366
So, the problem isn't in the slackbot related stuff, but in automation stuff. But I'm pretty sure there is also someone to ask about that. Either way, I have limited time now. I might get to this, but I think I was told to prioritize docs for now.
I'm sorry for my inconsistency, I also want to have this done, since it's pretty interesting.

[2022-03-24 10:05] joelazwar commented on #2979
gotcha. I've got a bash script down to convert the secrets to env variables. But I'm a little stuck on our docker-compose.

So for each service that uses JWT_SECRET, we'll need to override their entrypoint to run the said script?

[2022-03-24 11:48] JerryHue opened #3305 "Add policy permissions to GitHub schema"
In #3297, we added a GitHub schema for the purposes of indexing and storing the GitHub information. We have yet to figure out the proper policies on what user can write to the related tables. Let's discuss on what services would need to write to the schema and how we can define such policies.

_Originally posted by @humphd in https://github.com/Seneca-CDOT/telescope/pull/3297#discussion_r833604114

[2022-03-24 11:53] JerryHue commented on #2822
A few important questions:

- Where would we store the backups? The idea is that we have backups made and then stored in a separate geographical location. Should we store the backups on a cloud service like AWS?
- How often should a backup be done?
- How long should we keep a backup?
- In the case the schema of the database changes, how can we apply a backup in such case?

[2022-03-24 11:55] JerryHue commented on #1366
@sirinoks, that's totally fine. In the case you'd prefer to prioritize documentation, we can push the issue to release 3.0. Let me know if you are okay with that.

[2022-03-24 11:57] humphd opened #3306 "Remove GitHub Webhooks"
Last night we tested our new deploy webhook, and @TDDR has updated the code for the bugs we found (see #3303).  After we see it successfully do the release on production, we can remove the current webhooks.

[2022-03-24 12:07] AmasiaNalbandian commented on #3283
@dbelokon Can you post screenshots of your findings?

[2022-03-24 12:19] JerryHue commented on #2866
Is this the back-end for #2676?

[2022-03-24 12:20] AmasiaNalbandian commented on #3081
@tpmai22 Can you document more about your findings for this issue?

[2022-03-24 12:28] AmasiaNalbandian commented on #3035
Supabase has a mechanism for real-time API, we can investigate using that to also then connect to the twitch API to get the information.

[2022-03-24 12:52] AmasiaNalbandian commented on #2843
We just need an input field to store the twitch channel and then use the rss bridge. This Issue is just to wire up the front end so that we can begin to use the Twitch implementation

[2022-03-24 12:53] tpmai22 commented on #3081
Here is my [inistial set up](https://github.com/tpmai22/telescope/tree/issue-3081). This is the original [supabase doc](https://supabase.com/docs/guides/with-expo). In my set up you should look at changes in `src/mobile/src/api/supabase_client.js` and `src/mobile/src/components/Banner/BannerText.jsx`. So when I build all of the `services` I receive this [error](https://github.com/supabase/supabase

[2022-03-24 12:58] AmasiaNalbandian commented on #2866
This is the duplicate of another issue - https://github.com/Seneca-CDOT/telescope/issues/2843

[2022-03-24 12:58] #2866 closed

[2022-03-24 13:15] AmasiaNalbandian opened #3308 "Update Planet information in Telescope About Page"
**What would you like to be added**:
Create new About page with new content of what we would like to say about Telescope. On the Telescope website - we want to update the Planet information.

**Why would you like this to be added**:
We need to update the about page.

[2022-03-24 13:21] AmasiaNalbandian commented on #2876
Closing because supabase Postgre database needs restart:unless-stopped to shutdown and start again due to how supabase deals with race condition. This is important for our sso's e2e test.

[2022-03-24 13:21] #2876 closed

[2022-03-24 13:41] AmasiaNalbandian commented on #1366
Follow up with Dave for a meeting to discuss this.

[2022-03-24 15:43] tpmai22 commented on #3081
@humphd @DukeManh @Kevan-Y I doubt that it might related to our self host `supabase`. Specific is the `docker` set up

[2022-03-24 15:57] #2111 closed

[2022-03-24 16:18] menghif opened #3310 "Vercel deployment ESLint error"
**What happened**:

Vercel is having trouble with our ESLint configuration:

[code]
Build log:

[code]

[2022-03-24 17:14] AmasiaNalbandian opened #3311 "CI overlooks mismatched pnpm-lock.yaml file"
**What happened**:
We have been getting CI to fail the check to see if the pnpm-lock.yaml file is up to date.

**What should have happened**:
CI should fail every commit that does not have the correct pnpm-lock.yaml file.

**How to reproduce it (as precise as possible)**:
Put up an outdated pnpm-lock.yaml, watch CI pass on Telescope PRs. I think on local branch it's different.

**Anything else we

[2022-03-24 17:16] JerryHue commented on #3311
Should we have a single workflow that checks for this and avoids running the rest of the runs, so that we don't have to wait for the rest?

[2022-03-24 17:18] humphd commented on #3311
Do a test: make a PR that intentionally has the lock-file out of sync, and see what our CI does?

[2022-03-24 17:20] DukeManh commented on #3081
@tpmai22, I see you have some work going on already, could you make a draft PR for what you have?

[2022-03-24 17:20] JerryHue commented on #3311
I will do it now. I think it is urgent we push this, because there are other PRs that add a few dependencies, and we don't want master to start having a stale `pnpm-lock`.

[2022-03-24 17:21] JerryHue commented on #3311
Also, I think Cindy's CI broke because of an unrelated issue:
![image](https://user-images.githubusercontent.com/53304516/159974121-409a5bd4-94fb-4879-a88c-131c9e877e38.png)

Seems to be related to Vercel deployment.

[2022-03-24 18:38] JerryHue commented on #3311
Some interesting results:

- If the `pnpm-lock` file is *stale*, `pnpm install` will fail, and thus CI fails. Here is an example run:
![image](https://user-images.githubusercontent.com/53304516/159987341-b63041bb-55f0-47f5-a398-fc5f9808d8c8.png)
- If the `pnpm-lock` file is *broken*, `pnpm install` does not fail, and thus CI does not fail either. You can check the run:
![image](https://user-images

[2022-03-24 18:39] JerryHue commented on #3311
We can add a job to check that the `pnpm-lock` is not broken, by using `pnpm list` (it was thanks to the `collect-dependencies.js` script that we noticed this issue, and the script uses `pnpm list`).

[2022-03-24 18:41] humphd commented on #3311
Also, what does "broken" mean in the screenshot above?  What is broken about that lock file?

[2022-03-24 18:42] DukeManh commented on #3311
@JerryHue, I think that's the issue, if pnpm-lock is broken and needs to be updated then it should fail too. We should file an issue in the `pnpm` repo.

[2022-03-24 18:42] humphd commented on #3311
I agree, this sounds like a `pnpm` bug to me.

[2022-03-24 18:46] JerryHue commented on #3311
It will exit code with status 1 (error), if the lock-file is broken.

Here's the message that it shows:

[code]

I am not sure why this occurs in the first place, but we have to check against this to avoid a similar situation.

[2022-03-24 18:50] JerryHue commented on #3311
I don't want to speak for the `pnpm` developers, but they never promised anything like that. If you read carefully the [`pnpm install` docs](https://pnpm.io/cli/install):

     In a CI environment, installation fails if a lockfile is present but needs an update.

The lockfile does not need an update, it is just broken. That is why the current behaviour is a warning and not an error.

I could try t

[2022-03-24 18:52] humphd commented on #3311
Asked on twitter https://twitter.com/humphd/status/1507067840825856008

[2022-03-24 18:54] JerryHue commented on #3311
Should I submit a discussion in the pnpm repo? So that other people could notice about this?

[2022-03-24 19:02] JerryHue commented on #3311
I think the current `pnpm` twitter account is suspended :(
![image](https://user-images.githubusercontent.com/53304516/159991159-0b23c97a-2ec3-4989-9935-7e194641dfa8.png)

[2022-03-24 19:20] humphd commented on #3311
Ah, that sucks.  Thanks for doing the discussion.

[2022-03-24 19:21] humphd commented on #3311
https://twitter.com/pnpmjs

[2022-03-24 20:14] #3311 closed

[2022-03-24 20:17] 1ibrahimhassan1 commented on #3213
Hello

[2022-03-24 20:19] humphd commented on #3213
cc'ing @menghif, @tcvan0707, @JiaHua-Zou, @aserputov, who can lend support (they know this code well).

[2022-03-24 22:55] DukeManh opened #3317 "Split Post.tsx into smaller components and files"
I'm looking at [Post.tsx](https://github.com/Seneca-CDOT/telescope/blob/master/src/web/app/src/components/Posts/Post.tsx) in #3281. The file is clustered with functions and JSX elements. It's hard to follow the code and tell what each part is doing. I think it should be refactored.

[2022-03-24 23:09] cindyledev commented on #3213
Closed via #3316

[2022-03-24 23:09] #3213 closed

[2022-03-24 23:44] #3161 closed

[2022-03-25 00:01] cindyledev commented on #3153
All projects have now been configured with ESLint

[2022-03-25 00:01] #3153 closed

[2022-03-25 00:25] AmasiaNalbandian opened #3318 "Build log no longer able to show build"
**What happened**:
Build log is no longer showing.

**What should have happened**:
Build log should show.

**How to reproduce it (as precise as possible)**:
Trigger a build, see it missing on Build.

**Anything else we need to know?**:
When you revert 33858ecb2b27f86c59b710a84cc9f14ec51f4376, the build log works when we trigger a build.

**Environment**:

- OS:
- Browser:

[2022-03-25 00:29] #3276 closed

[2022-03-25 01:13] humphd commented on #3318
The error I see is the one I thought you fixed:

<img width="1358" alt="Screen Shot 2022-03-24 at 9 13 07 PM" src="https://user-images.githubusercontent.com/427398/160035489-0418523e-e834-406e-81f6-f031e713da0f.png">

[2022-03-25 01:18] humphd commented on #2822
One option would be to run our own S3 server like `docker.cdot.systems`, using https://hub.docker.com/r/minio/minio/, and we can post the backups there.

[2022-03-25 01:20] humphd commented on #2979
It turns out that we can only embed secrets in docker running in swarm mode.  Brutal.

We're going to do something else, and use a separate `secrets.env` file to hold them which lives outside of git.

@joelazwar is going to work up a solution based on a conversation in Slack.

[2022-03-25 03:55] tpmai22 commented on #3081
@humphd This is the error. The link above is a discussion from upstream

![image](https://user-images.githubusercontent.com/43376325/160051294-704ffbe6-5b61-4b9f-a2b0-2b3dc2171adb.png)

[2022-03-25 05:30] dbelokon opened #3322 "Make YouTube banner appear when any YouTube video is linked"
**What would you like to be added**: I want the YouTube banner (added in #3282) to appear when there is a youtube video link in the post. Right now, the banner only appears when it is a YouTube video post only.

**Why would you like this to be added**: I would like to add this because it is somewhat confusing for the user to see the YouTube banner on certain posts.

In the case we have to, we can

[2022-03-25 13:46] JerryHue opened #3323 "Use Redis instead of a fake in-memory cache"
In #3295, we are using *fake* in-memory cache, weirdly called *requestor* (I couldn't think of a better name). While it worked to have to an MVP, it is not a solution that scale out eventually.

Instead of using a poor-man's Redis, it is better that we use the actual Redis (which is already available through Satellite).

There might be some challenges on doing this, and I'm willing to discuss any

[2022-03-25 13:55] JerryHue opened #3324 "Use `octokit/octokit` instead of `octokit/request`"
**What would you like to be added**: We are currently using `octokit/request` library to request the GitHub API in the `dependency-discovery` service. Instead of using that library, we could use `octokit/octokit`.

**Why would you like this to be added**: The `octokit/octokit` does more stuff that we can use to simplify some parts of our service.

[2022-03-25 14:48] AmasiaNalbandian opened #3325 "Continue Integration of Search under Projects"
### Stage: Development
Continue implementation of Search Project under Projects :

## Summary:

#### [Discussion](link)

### Location:

### Technology:

- Elasticsearch
- Supabase
- Parsing Service

### Set up:

## Team:

_For any questions regarding the project ask them:_

- @yourname

## Steps:

- [x] Create a parent issue
- [ ] Research
- [ ] Proof of concept

[2022-03-25 14:49] cindyledev opened #3326 "CI workflow for docs should ignore src/docs/docs, not src/docs"
In #3309, we noticed that the change in src/docs/Dockerfile only triggered CI for prettier and eslint because we ignore the path `src/docs/**`

https://github.com/Seneca-CDOT/telescope/blob/cd9d92f83a49ff5d70491576fc178f1a442d323f/.github/workflows/continuous-integration.yml#L7-L8

However, the path should be `src/docs/docs/**` (or depending on when we get this issue gets addressed, the path could

[2022-03-25 14:49] AmasiaNalbandian opened #3327 "Continue Integration of Supabase under Projects"
### Stage: Development
Continue implementation of Supabase Project under Projects :

## Summary:

#### [Discussion](link)

### Location:

### Technology:

- Elasticsearch
- Supabase
- Parsing Service

### Set up:

## Team:

_For any questions regarding the project ask them:_

- @yourname

## Steps:

- [x] Create a parent issue
- [ ] Research
- [ ] Proof of concept

[2022-03-25 14:50] dbelokon opened #3329 "When scrolling down, the YouTube info banner covers the GitHub banner"
In #3282, we added a YouTube info banner. It seems that there are some issues with it, where the YouTube info banner is covering the GitHub banner that is above it (if there is one present).

Also, the GitHub banner has a similar behaviour, where it covers the General info banner (the one that shows the initials of the name).

For more context, read below:

_Originally posted by @dbelokon in https

[2022-03-25 14:51] AmasiaNalbandian commented on #2655
I'm closing this issue - the main issue for this was to handle the set up of the Projects. This has been completed.

I have filed TWO issues for:
1. [Search Project](https://github.com/Seneca-CDOT/telescope/issues/3325)
2. [Supabase Project](https://github.com/Seneca-CDOT/telescope/issues/3327)

@sirinoks These need to be done before 3.0 alpha, please start pinging who you need to help complete th

[2022-03-25 14:51] #2655 closed

[2022-03-25 15:40] JerryHue opened #3331 "Add tests for `/github/:project` in `dependency-discovery`"
In #3295, we added the new path `/github/:project-name` (also `/github/:namespace/:project-name`) into the `dependency-discovery` service to give support for searching GitHub issues.

In the same spirit of https://github.com/Seneca-CDOT/telescope/issues/2828, we would like to add tests for this route, too.

[2022-03-25 15:42] rclee91 opened #3332 "Clear ElasticSearch index on Staging/Production to re-index posts for author autocomplete"
After #3301 gets merged, posts will need to be re-indexed for the author autocomplete query in `Search` to work.
The current `Search` query shouldn't be affected either way, but the new change would be nice to have.

@manekenpix if you could please clear any cache involved with ElasticSearch indexing on staging/production when the release happens, that would be awesome.
This would likely include R

[2022-03-25 15:46] #2827 closed

[2022-03-25 15:57] #3215 closed

[2022-03-25 16:08] #2680 closed

[2022-03-25 16:08] #3288 closed

[2022-03-25 16:13] #1417 closed

[2022-03-25 16:44] #2967 closed

[2022-03-25 21:36] manekenpix commented on #3332
Elasticsearch data cleared in both `staging` and `production`.

[2022-03-25 21:36] #3332 closed

[2022-03-26 14:48] humphd opened #3340 "GitPod no longer runs with move to docker.cdot.systems"
I tried to use GitPod to debug a PR, and our GitPod environment needs an update to use the images we push to `docker.cdot.systems`:

[code]

The fix is to update `docker/gitopod.yml` to define `build` and `cache_from` keys for each of our services, like we do in `docker/development.yml`.

I also wonder if there is some kind of generalization we can do here for both AWS and GitPod, so that we prefe

[2022-03-26 23:22] nguyenhung15913 opened #3343 "Adding GitHub API service to footer of mobile app"
**What would you like to be added**:
Right now the contributor card in the [footer](https://github.com/Seneca-CDOT/telescope/pull/3320) is just a placeholder. Once the PR (https://github.com/Seneca-CDOT/telescope/pull/3320) gets merged, A GitHub API service needs to be added to make it dynamically display Telescope's contributors.
![image](https://user-images.githubusercontent.com/69558780/1602602

[2022-03-27 19:50] manekenpix commented on #3318
#3341 was targeting a different bug, but it seems that it also fixed this one.

[2022-03-27 19:50] #3318 closed

[2022-03-27 23:05] TueeNguyen commented on #2831
Closing via #3215

[2022-03-27 23:05] #2831 closed

[2022-03-28 00:14] humphd opened #3347 "planet: Error: Cannot find module '/pnpm'"
I'm trying to run our containers locally, and the `planet` container crashes on startup, which then causes `nginx` to crash.

There are two issues here:

1. `pnpm` gets installed in the `base` layer, but never copied into the `deploy` layer, so it doesn't exist on startup
2. the `deploy` stage is using `CMD ["pnpm", "start"]` instead of `CMD ["node", "src/server.js"]`.  We shouldn't be using `npm`

[2022-03-28 00:56] humphd opened #3348 "GIT_COMMIT not set in development"
We rely on the `GIT_COMMIT` environment variable being set, but we don't have a value in local development.  Let's figure out some better way to set this, so we don't get errors.  Even if it's just `master` or something.

[2022-03-28 22:38] TueeNguyen commented on #2877
Closing because the issue is no longer up to date. Exposing studio will be done in #2791 #3033 and we need `restart: unless-stopped` even in development mode

[2022-03-28 22:38] #2877 closed

[2022-03-28 22:55] #3203 closed

[2022-03-29 02:10] Kevan-Y opened #3350 "Cloud Formation template for Telescope development on AWS"
Recently, I looked into a tool called [Terraform](https://www.terraform.io/), an Infrastructure as Code.
While reading the document to use [vscode ssh](https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/getting-started/vscode-ssh.md), I think it would be a nice plus to have a terraform file to build all the AWS instances, so we can skip the AWS step and only do the ssh connection w

[2022-03-29 02:12] menghif opened #3351 "Use Turborepo for tests"
**What would you like to be added**:
The same way we use Turborepo to lint our project, we should do the same with tests.

**Why would you like this to be added**:
Speed up tests by using turbo's cache feature.

[2022-03-29 02:13] humphd commented on #3350
I'd like this, we need it.  I think Cloud Formation might be better, though.  Not because CF is better (I prefer Terraform), but because it will be easier to run in the context of the Learner Lab environment.

I'm going to be teaching Cloud Formation in a few weeks in the cloud course.  You can write them in JSON or YAML, and they look like this:

https://docs.aws.amazon.com/AWSCloudFormation/late

[2022-03-29 02:18] Kevan-Y commented on #3350
@humphd I have a working terraform file in my local, that run [Vscode ssh](https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/getting-started/vscode-ssh.md) steps but missing elastic IP.

[2022-03-29 02:19] humphd commented on #3350
Ah, nice.  You don't find it clunky to run with the Learner Lab and changing credentials?

[2022-03-29 02:26] Kevan-Y commented on #3350
I don't very mind it. It's a few seconds of copying and pasting keys.

I think one thing you need is replace those
[code]
 If first time you need setup ssh key
[code]
Then to run it
[code]

[2022-03-29 02:28] humphd commented on #3350
The thing about using Cloud Formation is that we could do it in AWS and not worry about passing around keys, credentials at all.

We can do both, too!

[2022-03-29 02:29] Kevan-Y commented on #3350
That works too, I'm open to learn Cloud Formation

[2022-03-29 02:31] humphd commented on #3350
Finish the Terraform and then do CF later if you want.  We can have both options.

[2022-03-29 03:17] cindyledev commented on #3350
This would be awesome to have. I'll probably have time to play around with CF this week to see what I can get.

Tag me to review the Terrafrom stuff @Kevan-Y. Super excited for it.

[2022-03-29 12:32] joelazwar opened #3354 "Create secrets.env"
**What would you like to be added**:
Add `secrets.env` for staging and production to extend our environment variables with secrets

**Why would you like this to be added**:
As per #2979/#3321 Our current strategy to store secrets for now is to have the staging/prod secrets live seperately on their own machine/container as opposed to storing them in a env in git

[2022-03-29 12:33] #2979 closed

[2022-03-29 12:55] JerryHue opened #3355 "Get feed information directly from Supabase"
For #1907, we need to figure out the code dependent on the feeds-related route in the `posts` service. One of these dependents is the front-end. The front-end needs access to Supabase to get the related information.

[2022-03-29 12:59] DukeManh opened #3356 "Reuse CopyButton of code snippets and Post Links"
In #3281, we added a Copy Button for each code snippet.
Now we have 2 different loooking copy buttons, one for snippets and one for the post URL.

We'd like to re-use the `CopyButton.tsx` component or have them match their styles.

[2022-03-29 13:01] JerryHue opened #3357 "Create the front-end for `dependency-discovery`"
After #2828 and #3331, I would like to implement a front-end for the `dependency-discovery` service.

For now, let's make the `status` service be the place where this front-end will be born (since `/web/app` is focused on Telescope itself, not the development side of it).

[2022-03-29 13:32] #3326 closed

[2022-03-29 13:34] c3ho commented on #3350
I would suggest creating a profile using the AWS cli to store your login info using `aws configure`. By default it creates a `default` profile like the following in `.aws/credentials` (sorry image is a little cut off)

<img width="142" alt="image" src="https://user-images.githubusercontent.com/18711727/160621525-2aec8d7b-e07e-43c5-bc01-78250922b82b.png">

you can then use

[code]

[2022-03-29 13:42] humphd commented on #3350
The tricky part about what we're doing is that every time you start the learner lab environment, you'd have to redo this (i.e., the credentials change every time).  This is part of why I don't think Terraform is a great user experience, since it relies on stable credentials.

[2022-03-29 13:49] TDDR commented on #3306
Would it be these webhooks that I am removing?
![image](https://user-images.githubusercontent.com/59970326/160626347-76efc158-e10f-4028-8e91-8af46c515e18.png)

[2022-03-29 13:51] humphd commented on #3306
Yes, they can go now.  Can you do it?  There might be secrets we can remove too.

[2022-03-29 13:54] #2923 closed

[2022-03-29 14:02] TDDR commented on #3306
These secrets?
![image](https://user-images.githubusercontent.com/59970326/160629071-dcefdfd3-4ad9-4b0f-9394-84d4742f7c61.png)

[2022-03-29 14:08] c3ho commented on #3350
In that case how about using .tfvars?
[code]

in a vars.tf file

[code]

in a .tfvars file

[code]

allows you the freedom to either use the vars file when using `terraform apply -var-file="<tfvarsFileNameHere>"` or be prompted for them in the cli if you use `terraform apply` only?

[2022-03-29 15:57] humphd commented on #2526
OK, thanks for looking into this.  I don't want to move away from buildx, so let's leaave this for when they do support it.

[2022-03-29 18:40] TueeNguyen commented on #2861
After a discussion. We decided to to
* Write a seed script to migrate our wiki feeds to Supabase leveraging the [`/tools/migrate/migrate.js`](https://github.com/Seneca-CDOT/telescope/blob/master/tools/migrate/migrate.js).
* After seeding, find a way to persist the data (repo level like `redis-data` for development, and higher repo level for production like `redis` in `production.yml` https://githu

[2022-03-29 18:50] DukeManh opened #3359 "Write Postgres Seed script to popluate Feeds table in production and development"
The script will use [/tools/migrate/migrate.js](https://github.com/Seneca-CDOT/telescope/blob/master/tools/migrate/migrate.js) and `supabase-js` API to insert feeds to a Table.

Ideally, we only need to run this script once in production. The production Supabase Studio is what we use to manage feeds from now on.

[2022-03-29 19:31] HyperTHD commented on #3348
Can just set this in the env.development file, and the dockerfiles should just pull from there. I can do this real quick

[2022-03-29 19:34] TDDR commented on #3306
Okay, so now that those old webhooks have been removed I can close this issue?

[2022-03-29 19:35] #3306 closed

[2022-03-29 21:30] #3347 closed

[2022-03-30 02:32] tpmai22 commented on #3359
can we do the same thing for `quotes` table ?

[2022-03-30 02:42] TueeNguyen opened #3362 "Healthcheck fails in parser container"
**What happened**:

Healthcheck in parser container fails, I think it's because `parser` service doesn't start a web server like other services using `satellite`
 so `/healthcheck` doesn't exist. https://github.com/Seneca-CDOT/telescope/blob/28a58e3ce0606a2b9e42130e7e4de1e77d170952/src/api/parser/Dockerfile#L30-L31

Parser should be added to `services` as well I think
https://github.com/Seneca-CDO

[2022-03-30 02:45] TueeNguyen commented on #3362
Should we start a web server to provide a `/healthcheck` route? cc @humphd @Kevan-Y

[2022-03-30 03:52] manekenpix commented on #3362
@TueeNguyen are you working on this? I didn't see the issue so I tried a POC, Starting a Satellite instance works.

![image](https://user-images.githubusercontent.com/23108901/160747948-217ac3a1-4993-47f5-9e5c-cdf1fc16a9a8.png)

![image](https://user-images.githubusercontent.com/23108901/160747974-efec6ef2-509c-4763-85b5-0a6d21378d7b.png)

[2022-03-30 03:55] TueeNguyen commented on #3362
I was thinking of that too, I'll put up a PR tomorrow

[2022-03-30 12:51] TueeNguyen commented on #3359
It's posible yeah.

[2022-03-30 18:23] TueeNguyen opened #3365 "Change docker-compose.yml for supabase in dev/prod"
Refer to https://github.com/Seneca-CDOT/telescope/pull/3361#issue-1185674798

I've merged the PR #3361 by accident, I've reverted in #3364. We'll need to revert #3364 once we've added secrets to prod & staging

[2022-03-30 22:06] HyperTHD commented on #3355
Related to #1907 as well, so perhaps could be dealt with as well?

[2022-03-31 00:12] humphd opened #3369 "parser crashes if Elasticsearch not available"
If Elasticsearch isn't running/ready, the parser service can crash (it just did for me locally).  Let's take a page from Supabase and postgres, and add a `restart: unless-stopped` to the `parser` service, so it keeps trying, or increase the time it waits:

[code]

[2022-03-31 09:24] #3354 closed

[2022-03-31 12:39] TueeNguyen commented on #3308
@sirinoks is tackling with this, will open a PR soon

[2022-03-31 12:40] TueeNguyen commented on #3283
@dbelokon how's the progress?

[2022-03-31 12:44] TueeNguyen commented on #3283
We've decided that this issue is not in high priority, I took it out of 3.0 alpha.

[2022-03-31 12:46] TueeNguyen commented on #3073
We need to focus on other features, this feature can be a post 3.0 thing

[2022-03-31 12:47] humphd commented on #2913
This can happen post-3.0

[2022-03-31 12:48] humphd commented on #2451
This isn't critical for 3.0

[2022-03-31 15:40] manekenpix commented on #3369
The fix is in `production.yml` [here](https://github.com/Seneca-CDOT/telescope/blob/9d86ea70f1445a691cd22a72220a022222a6fced/docker/production.yml#L106).

[2022-03-31 15:41] TDDR commented on #3340
[code]

[2022-03-31 19:44] #3033 closed

[2022-04-01 01:18] DukeManh opened #3374 "nginx: Unsuccessful OAuth authentication"
I was not able to log in to Supabase subdomain.

I notice the `redirect_uri` query param is not right.

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/51073515/161176150-4eb729b1-25b7-4af2-a3b9-4715bdc6557d.png">

[2022-04-01 01:23] DukeManh opened #3375 "Dashboard: Not commits is shown"
On staging and production, our dashboard does not show the latest commits and the committer.
I see no requests to the GitHub API in the network logs.

<img width="1400" alt="image" src="https://user-images.githubusercontent.com/51073515/161176347-33e61d2c-4c7a-4310-a78b-872d52285c7f.png">

[2022-04-01 13:01] Kevan-Y commented on #3374
Are you using staging or production?

[2022-04-01 14:06] humphd commented on #3374
`redirect_uri` looks right to me, what do you mean?

[2022-04-01 15:04] DukeManh commented on #3374
@Kevan-Y, I'm on staging.

@humphd, I'm trying to log in to dev.supabase.telescope.cdot.systems, but it redirects me to portainer.telescope.cdot.systems.

[2022-04-01 15:10] Kevan-Y commented on #3374
@DukeManh Interesting, staging is down completely. Did you test when my PR for that merged?

[2022-04-01 15:11] DukeManh commented on #3374
Last night, after your PR.

[2022-04-01 15:13] Kevan-Y commented on #3374
Was staging working that time?

[2022-04-01 15:19] Kevan-Y commented on #3374
Ok weird might have another bug.
Techinically it should show this page 🔽
![image](https://user-images.githubusercontent.com/58233223/161292906-87ff0a55-5353-499f-9e40-c8a77b22ec29.png)

[2022-04-01 16:26] #3359 closed

[2022-04-01 17:30] humphd opened #3377 "telescope container crashes, unable to find //package.json"
The legacy backend container is crashing over and over with:

[code]

[2022-04-01 19:51] humphd opened #3380 "Add links for Portainer and Supabase to the Dashboard"
We've got two new admin apps that we need to access:

1. Portainer
    - Staging = https://dev.portainer.telescope.cdot.systems/
    - Production = https://portainer.telescope.cdot.systems/
2. Supabase
    - Staging = https://dev.supabase.telescope.cdot.systems
    - Production = https://dev.supabase.telescope.cdot.systems

Let's add these links to the sidebar of the Dashboard, so they are easier

[2022-04-01 20:24] humphd opened #3381 "Fix anon and service roles keys in kong.yml"
We almost have Supabase working in production.  Next problem is that we have incorrect, hard-coded keys at https://github.com/Seneca-CDOT/telescope/blob/master/docker/supabase/volumes/api/kong.yml#L6-L12

We either need to move this file to staging and production and hard-code the proper keys there (probably easiest), or we need to figure out how to overwrite with variables from the env on startup

[2022-04-01 22:35] DukeManh commented on #3374
close via #3379

[2022-04-02 02:22] #3048 closed

[2022-04-02 02:56] manekenpix commented on #3381
@humphd of course!

[2022-04-02 13:04] #3374 closed

[2022-04-02 13:06] TueeNguyen commented on #3375
It's because of the GitHub token I think. We need to use someone's personal token for it to work

[2022-04-02 15:53] #3381 closed

[2022-04-02 19:16] humphd opened #3386 "Support multiple platforms/architectures with our Docker Images"
A few of us are on ARM64 (M1 Macs, etc), and our Docker images are only being built for `linux/amd64` (i.e., `x86_64`).  Docker supports passing/using a `--platform=...` flag:

[code]

And then when you build:

[code]

The Github Action for building Docker images [supports including a `platform` key too`](https://github.com/docker/build-push-action/blob/master/docs/advanced/multi-platform.md).

Le

[2022-04-02 19:17] humphd commented on #3386
NOTE: on the builder we'll need QEMU installed in order to cross-compile.

[2022-04-03 02:34] manekenpix opened #3388 "Scrollbar is unclickable in dashboard's build terminal"
**What happened**:

The terminal displaying the build log in the dashboard has a scroll bar, but it seems to be behind something and it can't be used

**How to reproduce it (as precise as possible)**:

Try to use the scroll bar in the dashboard's build terminal.

![bug](https://user-images.githubusercontent.com/23108901/161408682-a8548289-45c9-471d-b0e2-9f6f8a7b7a99.gif)

[2022-04-03 03:07] manekenpix commented on #3375
Just to confirm @TueeNguyen's theory, I added a personal token that'll expire in a week:

![image](https://user-images.githubusercontent.com/23108901/161409534-a93001c6-e3c7-4bf0-8abe-b0338c0557a1.png)

Also, should we remove Satellite's cards?

[2022-04-03 13:46] humphd commented on #3375
Why aren't we able to stay within the throttle-limits of the API?  We have Redis, why isn't our cache dealing with this?

I'm not keen to put anyone's personal access token on these boxes, because they are basically passwords to your account.

Also, yes, let's remove the Satellite cards.  I'll file an issue

[2022-04-03 13:57] humphd opened #3389 "Clean-up Satellite project"
We've moved the Satellite project into Telescope, and we need to clean up the remaining bits of it:

- [x] Migrate the issues to Telescope https://github.com/Seneca-CDOT/satellite/issues
- [x] Deal with the pull request https://github.com/Seneca-CDOT/satellite/pulls
- [x] Update the README to indicate that it has moved to Telescope
- [x] Archive the repo
- [x] Remove the "Satellite" bits of the Da

[2022-04-03 19:15] menghif opened #3390 "Update Release Docs"
Our Release workflow automatically pushes the latest versions of our packages `@senecacdot/satellite` and `@senecacdot/eslint-config-telescope` after their version number have been manually increased.

We should explain this in the Release docs:
https://github.com/Seneca-CDOT/telescope/blob/master/src/web/docusaurus/docs/contributing/release.md

[2022-04-03 19:22] menghif commented on #3389
Should we also remove the 2 GitHub Apps (Renovate, Slack) installed in the Satellite repo before archiving it?

[2022-04-03 22:54] humphd commented on #3389
Yeah, that's a good idea, can you do it?

[2022-04-03 23:07] menghif commented on #3389
No, it says only owners can do it.

[2022-04-04 01:07] humphd commented on #3389
I removed Renovate for Satellite, but Slack seems to be ORG-wide, so I left it.

[2022-04-04 01:12] humphd commented on #3388
There's a related bug, where the position of the cursor when you try to highlight a line with the mouse is off-by-one

[2022-04-04 18:34] #1912 closed

[2022-04-04 18:36] AmasiaNalbandian opened #3394 "Allow "enter" key press to search"
**What would you like to be added**:
When you hit enter in any of the fields - nothing happens.

**Why would you like this to be added**:
It's expected behaviour would be to allow enter key press to send search request on this page.

[2022-04-04 19:19] menghif opened #3395 "Improve the visual layout of Dashboard"
We removed the two Satellite info cards in PR #3391 and the dashboard now looks like this:

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/69607880/161608777-5a9ab90b-1b90-49fa-863c-b40f69cadb90.png">

A few improvements can be made:
- Reorganize the cards to remove the empty space on the right.
- Use different icons for each card.
- Change the icons's colors to have

[2022-04-05 00:46] dbelokon commented on #3283
Aight, thank you for letting me know!!

[2022-04-05 00:56] #2993 closed

[2022-04-05 01:29] menghif opened #3396 "Restructure Docusaurus Table of Content"
We decided to have expose our Docusaurus app via the `/docs` route. The problem is we already have `/docs` in our Docusaurus app so we end up with this: `localhost:8000/docs/docs/overview`.

We should restructure the Table of Content to avoid this.

<img width="1132" alt="Screen Shot 2022-04-03 at 12 21 02 PM" src="https://user-images.githubusercontent.com/53121061/161437622-0e3297c2-76b0-4e9b-94e

[2022-04-05 01:32] menghif opened #3397 "Add Docusaurus to Staging and Production"
Now that we have a common Dockerfile for the Telescope app and Docusaurus app, we need to add Docusaurus to staging and production. Docusaurus will be exposed via the `/docs` route.

[2022-04-05 12:37] TueeNguyen commented on #2861
Currently waiting for #3373 to merge previous test changes before I can continue to change the test to reflect on the parser's change

[2022-04-05 12:50] #2814 closed

[2022-04-05 12:53] TueeNguyen commented on #2814
Closing since most issues are done, waiting for Parser to be changed #3363

[2022-04-05 15:11] menghif commented on #3389
The Satellite repo has been archived.

[2022-04-05 15:11] #3389 closed

[2022-04-05 15:30] #2110 closed

[2022-04-05 15:32] AmasiaNalbandian commented on #3196
[This PR went in last week](https://github.com/Seneca-CDOT/telescope/pull/3344)

What does this mean? I think I was initially confused by the issue. Is this issue to upgrade UI to use more enhanced components from v5? @cindyledev

[2022-04-05 15:42] joelazwar commented on #3380
Gonna push a quick PR for this, just one thing, the links for Supabase are the same for staging and prod. Are we using the same Supabase instance for both staging and production?

[2022-04-05 16:05] #3397 closed

[2022-04-05 16:27] TueeNguyen opened #3402 "Link Docs from Telescope's main page"
- Our docusaurus just landed in #3400, let's update our web page's nav bar from `About us | Login` to `About us | Docs | Login`
- We can also add it in our [`CONTIBUTING.md`](https://github.com/Seneca-CDOT/telescope/blob/master/src/web/docusaurus/docs/contributing/CONTRIBUTING.md)
- Docs link on staging: https://dev.telescope.cdot.systems/docs/

[2022-04-05 16:29] menghif opened #3403 "Falied to retrieve git history for files in Docusarus build"
**What happened**:

When building the Docusaurus app we get many error messages about missing git history:

[code]
**What should have happened**:

No git history errors during the build

**How to reproduce it (as precise as possible)**:

- `pnpm services:start`

[2022-04-05 16:41] #3369 closed

[2022-04-05 21:11] DukeManh commented on #2676
@nguyenhung15913 , if you can make a draft PR, I can help debug the CSS with you.

[2022-04-06 00:16] #3081 closed

[2022-04-06 00:48] #3362 closed

[2022-04-06 01:18] menghif opened #3407 "Use "Telescope Overview" from the docs as our About Us page."
**What would you like to be added**:

As @manekenpix noticed today, our [Telescope Overview](https://dev.telescope.cdot.systems/docs/overview) and [About Us](https://telescope.cdot.systems/about/) page are very similar. It would make sense to remove the "About Us" page and redirect the user to "Telescope Overview".

![image](https://user-images.githubusercontent.com/53121061/161876001-da300036-a78

[2022-04-06 02:04] DukeManh opened #3408 "Add RLS for existing Postgres tables"
We currently have [6 SQL tables](https://dev.supabase.telescope.cdot.systems/project/default/editor) and 4 don't have RLS enabled. To protect our data, we should add RLS to all of them.

For `quotes` table, we should allow read access to everyone and disable update/delete access.

For how to write RLS, see https://github.com/Seneca-CDOT/telescope/blob/ec33441c3b34a28e5e816ba57103465b546ac4be/docke

[2022-04-06 14:09] #3396 closed

[2022-04-06 14:40] humphd commented on #2861
OK, #3373 is in, what's next?

[2022-04-06 15:07] humphd opened #3410 "Research whether we can programmatically deploy via Portainer"
We're starting to use [Portainer](https://www.portainer.io/) for more things on staging and production.  However, I don't think we're doing as much as we could.  One thing I'd like to explore is having our autodeployment server do API calls to Portainer in order to update existing or deploy new stacks.  Essentially, I'd like to see if we can move our deploy logic out of the autodeployment server a

[2022-04-06 15:07] #2829 closed

[2022-04-06 18:07] TueeNguyen commented on #2777
We're removing the backend instead of isolating it

[2022-04-06 19:00] joelazwar commented on #3408
I can take this on

[2022-04-06 19:50] #3380 closed

[2022-04-06 20:13] DukeManh commented on #3408
@joelazwar Please take it.

[2022-04-06 20:22] DukeManh opened #3415 "Database migration with Prisma"
We were talking in slack about how to handle our Postgres database migration.
Let's explore how to integrate Prisma to define database schema and manage migrations.

Resources:

https://www.prisma.io/docs/concepts/components/prisma-migrate
https://supabase.com/docs/guides/integrations/prisma

[2022-04-06 22:18] #3331 closed

[2022-04-07 02:22] menghif commented on #3351
I tried to get this to work but cannot run the legacy backend tests with Turborepo since they're in the root. https://github.com/Seneca-CDOT/telescope/issues/2777 will solve this.

[2022-04-07 08:57] nguyenhung15913 commented on #2676
For now, I have been working on the loading posts for Mobile app, because we don't have a lot of time and the posts component is huge. If no one is working on this, I can do it

[2022-04-07 12:32] JerryHue commented on #3408
I think the policies for the other 3 tables should be read access to everyone, and only allow the `parser` service to use an update/insert/delete access.

[2022-04-07 12:37] tcvan0707 commented on #2843
Assigned to @menghif. @dbelokon and @JerryHue will help on the side

[2022-04-07 12:38] JerryHue commented on #2843
Let's not forget that we will want to file a test case in the `feed-discovery` service for a Twitch channel.

[2022-04-07 12:45] DukeManh commented on #3408
Cool, no need to write tests for these RLS I think.

[2022-04-07 12:46] JerryHue opened #3421 "Add Twitch case for the `feed-discovery`"
In #2843, we are going to add support for Twitch channels to be tracked through a feed.

Similarly for the YouTube feature, we want to add a test case that makes sure that when entering a twitch channel URL, the `feed-discovery` service would actually give a proper feed URL (through RSS-bridge).

For more background information, check issue #2675, and the PR #2723.

[2022-04-07 12:56] JerryHue commented on #2831
Opening because the extraction of the GitHub information is not being done, just the storage.

[2022-04-07 13:06] JerryHue commented on #3408
Related: #3305

[2022-04-07 13:09] JerryHue opened #3422 "Add Post table in Postgres"
**What would you like to be added**:

I would like to add a Post table that tracks the metadata of posts.

**Why would you like this to be added**:

For #2831 to work, we would need to relate the posts with the GitHub tables added in #3297.

**How can we add this?**:

Since we are not storing the posts themselves (due to some copyright reasons), we would want to store the metadata of the post (for

[2022-04-07 14:41] #1260 closed

[2022-04-07 14:41] #3226 closed

[2022-04-07 21:32] humphd commented on #3252
I think I've figured out what this is, and it only happens sometimes.  The dark vs. light stylesheet is being applied in light mode:

<img width="1373" alt="Screen Shot 2022-04-07 at 5 30 54 PM" src="https://user-images.githubusercontent.com/427398/162323102-c6c2a3c9-89da-4ce0-b8dd-02970994d268.png">

[2022-04-07 21:47] humphd commented on #3422
If you store the post's hashed id, isn't that enough?  You'd have the key into the redis database.

[2022-04-07 23:08] AmasiaNalbandian opened #3426 "Search bar button misalignment"
**What happened**:
The searchbar UI has changed causing it to look weird.
The search icon button should be centered properly in the input box.

**What should have happened**:

**How to reproduce it (as precise as possible)**:
I am on chrome, and I go to the telescope site. I select to search.
![image](https://user-images.githubusercontent.com/77639637/162333690-976a162e-e46d-4d12-8ed0-acc56ed6b593

[2022-04-07 23:10] AmasiaNalbandian opened #3427 "Searchbar autocomplete has two clear buttons"
**What happened**:
![image](https://user-images.githubusercontent.com/77639637/162333926-f4961008-ca7e-4159-8bb9-b95950369984.png)

**What should have happened**:
We should only have one clear 'x', and not two.

**How to reproduce it (as precise as possible)**:
Go to telescope in production and go to search page. Start typing in the author field.
**Anything else we need to know?**:

**Environment*

[2022-04-07 23:18] AmasiaNalbandian commented on #3426
When you type something in the field you also see the font size difference because the outline of the input overlaps the title of the input:
![image](https://user-images.githubusercontent.com/77639637/162334669-4d05e1e2-803f-47cc-a78b-57bf3ae82555.png)

see how "st" from post is overlapped by the navy outline?

[2022-04-07 23:24] AmasiaNalbandian opened #3428 "Add Title field for Advance Search"
**What would you like to be added**:
search by title UI

**Why would you like this to be added**:
We already have the backend for the title in the advanced search. We should add the UI for this and wire it up so our users can utilize the option when searching.

[2022-04-08 06:10] JerryHue commented on #3422
I was thinking of just storing the hash, but I wonder if we should become too dependent on that specific detail? In the case we go that way, then just storing the hash should be fine.

[2022-04-08 14:56] #3225 closed

[2022-04-08 15:55] #2828 closed

[2022-04-08 16:01] tcvan0707 commented on #2961
Closed by PR #3430

[2022-04-08 16:01] #2961 closed

[2022-04-08 17:03] AmasiaNalbandian opened #3434 "Searchbar onEnter crashes with Autocomplete"
**What happened**:
Implementation for onKeyDown needs to be explored with the Autocomplete for searchbar.

**What should have happened**:
onKeyDown does not work when passed down as a prop to the AuthorInput. It is currently clashing with the enter for the selection of the author suggestion list.

**How to reproduce it (as precise as possible)**:
You need to go into the code and try to implement t

[2022-04-08 18:44] #2822 closed

[2022-04-08 18:50] humphd opened #3435 "Containerize db migrations"
In #3418, @DukeManh is adding automated database migrations via [Prisma Migrate](https://www.prisma.io/docs/concepts/components/prisma-migrate).  It will allow us to detect when the database schema is out of sync with `master`, and generate a migration to be applied.

Running this requires network access to the Postgres database, which [we have in local development](https://github.com/Seneca-CDOT/

[2022-04-08 18:52] #3394 closed

[2022-04-08 18:55] #3308 closed

[2022-04-08 19:15] #3415 closed

[2022-04-08 21:12] rclee91 opened #3440 "Clearing up Docker disk space for Staging"
ElassticSearch detected low docker disk space (less than 10%) on Staging.

[code]
[code]

`Parser` is currently paused on `Staging`, under the original assumption that it and `backend` may be creating duplicate indexes.

However, it seems ES might not be the one hogging all the disk space, just the one who can detect it, and the issue may be with our docker cleanup strategy.

Currently, we'd need

[2022-04-08 22:10] humphd commented on #3440
It looks like this was done (I assume by @manekenpix--thank you!).  Closing.

[2022-04-08 22:10] #3440 closed

[2022-04-08 22:14] humphd opened #3441 "Run the Traefik admin console on staging and prod via oauth2-proxy"
We have an admin console for Traefik, which we don't run in production.  Let's see if we can add it back and use oauth2-proxy to guard access to it.

[2022-04-08 23:04] humphd opened #3442 "Fix padding around search button"
The padding around the search button isn't uniform anymore:

<img width="167" alt="Screen Shot 2022-04-08 at 7 03 59 PM" src="https://user-images.githubusercontent.com/427398/162544749-5fbd475e-2fa7-4640-893f-8a853d2f9f08.png">

[2022-04-08 23:06] humphd opened #3443 "Search label text cut off"
In the [search page](https://telescope.cdot.systems/search/), when the text moves to be a label, it gets cut off (not enough width?):

<img width="160" alt="Screen Shot 2022-04-08 at 7 05 16 PM" src="https://user-images.githubusercontent.com/427398/162544848-9e33332d-187c-4f29-abaa-2ed9db7f1ed1.png">

[2022-04-08 23:07] humphd commented on #3443
Same happens for title of post:

<img width="170" alt="Screen Shot 2022-04-08 at 7 07 09 PM" src="https://user-images.githubusercontent.com/427398/162544938-474b3ea7-e58a-4bf4-8ae0-75e2838730eb.png">

[2022-04-08 23:08] humphd commented on #3426
I filed separate issues on these.

[2022-04-08 23:08] #3426 closed

[2022-04-08 23:12] humphd opened #3444 "Improve styling of autocomplete results"
<img width="803" alt="Screen Shot 2022-04-08 at 7 07 59 PM" src="https://user-images.githubusercontent.com/427398/162545004-cc8bac1d-eb1a-4319-83b6-f73ba48fa7cf.png">

- Use a background colour that won't show (e.g., white on light theme)
- Use the same fonts as the rest of the site

Also consider adding a border that links it all together.  Here's how Google does it:

<img width="615" alt="Screen

[2022-04-08 23:13] humphd opened #3445 "Documentation link points to Docusaurus"
On https://telescope.cdot.systems/docs/ in the bottom-right, the Documentation link is pointing to Docusaurus.  Let's point back to our docs:

<img width="180" alt="Screen Shot 2022-04-08 at 7 12 32 PM" src="https://user-images.githubusercontent.com/427398/162545237-277b2157-45ba-4bd7-abdd-f9e189bdcef2.png">

[2022-04-09 14:27] humphd opened #3447 "supabase-auth container failed to load config"
On production Portainer, for the `supabase-auth` container, I notice these logs:

[code]

I'm not sure what this effects, but let's see if we can fix.

[2022-04-09 14:29] humphd opened #3448 "supabase-rest container can't connect to db"
In the production Portainer, for the supabase-rest container, I notice these logs:

[code]

It seems that it can't find the db?

[2022-04-09 14:35] #3435 closed

[2022-04-09 14:36] humphd opened #3449 "Test and document db-migrations container usage"
In #3437 we added a container to run migrations on our databases in production.  We need to test this and add sufficient docs, so future devs can maintain it.

[2022-04-09 16:21] DukeManh commented on #3442
On mobile
![image](https://user-images.githubusercontent.com/51073515/162582531-4e7c3219-c654-42b5-9bb1-fd860b0d604e.jpeg)

[2022-04-09 16:21] DukeManh commented on #3444
On mobile
![image](https://user-images.githubusercontent.com/51073515/162582549-0bbc8616-363e-4a70-aae9-f9967393a096.jpeg)

[2022-04-09 20:46] manekenpix opened #3452 "'Cannot find module dotenv' causes telescope container to crash"
**What happened**:

The telescope container crashes (`staging` and `production`) with this error:
[code]

This can be seen on [Portainer](https://dev.portainer.telescope.cdot.systems/).

[2022-04-10 17:33] AmasiaNalbandian commented on #3443
The error here is from the fact that the text size of the input and the label are wrong. Just make sure in the CSS they are both the same text size, even one px misaligns it

[2022-04-11 22:39] humphd opened #3459 "pg-backup-cron-job not working"
On production, in the `pg-backup-cron-job` container, I see this log:

[code]

cc @JerryHue

[2022-04-11 22:39] humphd commented on #3459
Looks like it needs to be done as an environment variable instead https://stackoverflow.com/questions/2893954/how-to-pass-in-password-to-pg-dump

[2022-04-11 22:42] #1668 closed

[2022-04-12 12:14] #3351 closed

[2022-04-12 12:20] JerryHue opened #3460 "Write `image` service documentation"

[2022-04-12 12:22] DukeManh commented on #3291
Are we agreed on using https://blog.logrocket.com/documenting-your-express-api-with-swagger/

[2022-04-12 12:43] JerryHue commented on #2861
This issue is related to #1907, and #3355.

[2022-04-12 12:48] JerryHue commented on #2909
Closed via #3335.

[2022-04-12 12:48] #2909 closed

[2022-04-12 12:50] humphd commented on #2955
Discussed on Teams in https://seneca.sharepoint.com/sites/Telescope/Shared%20Documents/General/Recordings/JWT%20Secret%20in%20Telescope-20220406_135311-Meeting%20Recording.mp4?web=1

[2022-04-12 12:50] humphd commented on #2966
Discussed on Teams in https://seneca.sharepoint.com/sites/Telescope/Shared%20Documents/General/Recordings/JWT%20Secret%20in%20Telescope-20220406_135311-Meeting%20Recording.mp4?web=1

[2022-04-12 13:26] JerryHue opened #3462 "Use the hash URL id for feeds in Postgres schema"

[2022-04-12 13:33] humphd opened #3463 "Use Supabase in planet service vs. posts/feeds, remove feedsUrl from front-end"
We need to switch the planet service to use Supabase, see https://github.com/Seneca-CDOT/telescope/blob/master/src/api/planet/src/planet.js#L6.  We can also remove the FEEDS_URL from the frontend, which isn't used.

[2022-04-12 13:52] TueeNguyen opened #3464 "Update `Feed` in `parser` service to talk to Supabase instead of Redis"
In #1907 #3355, we talked about removing feed-related code in Posts.

- [ ] Change `setInvalidFeed` function to use Supabase https://github.com/Seneca-CDOT/telescope/blob/d56306a75f25622176a18730246f9ffbf588a046/src/api/parser/src/utils/storage.js#L111-L115

- [ ] https://github.com/Seneca-CDOT/telescope/blob/d56306a75f25622176a18730246f9ffbf588a046/src/api/parser/src/utils/storage.js#L137-L139

[2022-04-12 13:56] JerryHue commented on #2861
I would like to point out the things we need to also target for the `parser` service:

* The parser service needs to invalidate the feeds on Supabase instead of redis.
* The parser service needs to flag feeds on Supabase instead of redis.
* The parser service does not need to `updateFeed`s anymore. Refer to:
https://github.com/Seneca-CDOT/telescope/blob/d56306a75f25622176a18730246f9ffbf588a046/src

[2022-04-12 15:21] humphd opened #3466 "Turbo Server Token secret not being passed correctly"
I notice the turbo cache isn't working properly (cc @menghif)

[code]

[2022-04-12 15:27] humphd commented on #3466
What we're doing looks right to me, I'm not sure why this isn't going through...

[2022-04-12 16:09] #3466 closed

[2022-04-12 17:52] humphd opened #3472 "React warning in src/mobile"
[code]

[2022-04-12 18:04] #3408 closed

[2022-04-12 18:32] #3462 closed

[2022-04-12 18:47] TueeNguyen commented on #3355
Seems like the only place that uses `FEED_URL`, this PR #3465  changes to use Supabase instead

[2022-04-12 18:51] JerryHue opened #3473 "[META] Track all of Feeds/Posts/Supabase issues"
This issue tracks all of the issues that are related to migrating the architecture to Supabase, by figuring out what places would need to refer to Supabase to store the feeds and the posts.

Related Issues:

- #1907
- #3464
- #2861
- #3355
- #3463

Related PRs:

- #3465
- #3363

Add more if necessary.

[2022-04-12 19:16] JerryHue commented on #3464
There's also this:

[2022-04-12 19:21] humphd opened #3476 "Explore automating database migrations via autodeployment"
In #3475 we added manual steps for running database migrations.  @DukeManh suggested that we explore running these automatically, and it should be possible.  When the autodeployment server deploys staging or production, it could also run the `db-migrations` container (e.g., we could do the migrations every time we deploy, which would usually be a no-op).

The only question is: are we OK with this

[2022-04-12 19:22] #3463 closed

[2022-04-12 19:22] #3355 closed

[2022-04-13 15:29] #2861 closed

[2022-04-13 17:41] tpmai22 commented on #3472
can you show me how to reproduce this ?

[2022-04-13 17:48] tpmai22 commented on #3472
[code]

[2022-04-14 00:40] menghif commented on #3403
This is due to these two configs:
[code]

Since we are not copying the git history inside the Docker container, Docusaurus cannot find anything.

I can remove these configs unless there's a better way.

cc @cindyledev @Kevan-Y

[2022-04-14 02:50] #2857 closed

[2022-04-14 12:46] tcvan0707 commented on #3343
@nguyenhung15913, what is your status for this issue?

[2022-04-14 18:48] #3293 closed

[2022-04-14 19:36] humphd commented on #3443
@Kevan-Y's fix in #3487 has this same problem:

<img width="770" alt="Screen Shot 2022-04-14 at 3 36 08 PM" src="https://user-images.githubusercontent.com/427398/163463413-d62c287f-262b-4387-aa7e-da5c0c37110c.png">

[2022-04-14 19:37] humphd commented on #3449
This is finished, doc is happening in #3475.

[2022-04-14 19:37] #3449 closed

[2022-04-14 19:42] humphd commented on #1310
We don't expose feeds this way anymore, it's in Supabase, closing.

[2022-04-14 19:42] #1310 closed

[2022-04-14 19:43] humphd commented on #1364
We're almost ready to remove the backend, so this is not needed.

[2022-04-14 19:43] #1364 closed

[2022-04-14 19:44] humphd commented on #1865
I think we can close this.

[2022-04-14 19:44] #1865 closed

[2022-04-14 19:45] humphd commented on #2490
This never got solved, but I'm closing.  Maybe my next group will do it.

[2022-04-14 19:45] #2490 closed

[2022-04-14 19:47] humphd commented on #2843
#3488 is doing a bunch of work on this front.

[2022-04-14 19:48] humphd commented on #2765
I think this can get closed, @sirinoks?

[2022-04-14 19:49] humphd commented on #3240
This has been done.

[2022-04-14 19:50] humphd commented on #3183
Backend is going away, closing.

[2022-04-14 19:50] #3183 closed

[2022-04-15 00:16] TueeNguyen commented on #3464
I'm working on this issue to make parser save flagged feeds to supabase (simply change `flagged` of `feed` to true/false). I encountered this piece of code

https://github.com/Seneca-CDOT/telescope/blob/47fd69e62a3d2a85a1950f841fb74a5ca504217b/src/api/parser/src/utils/storage.js#L53
I will also need to change this line if I'm removing all the redis flagging feed code, something like this
[code]
Th

[2022-04-15 10:25] nguyenhung15913 opened #3491 "Styling Post component for Mobile App"
**What would you like to be added**:
Since we have a home page that can [load posts](https://github.com/Seneca-CDOT/telescope/pull/3420). Now we need to style it properly
**Why would you like this to be added**:

[2022-04-15 14:54] humphd commented on #3464
Mock the `isFlaggedFeed()` function to return `Promise.resolve(true)` or `Promise.resolve(false)` as you require in your tests.

[2022-04-15 23:36] TueeNguyen commented on #3464
I'll try, thanks

[2022-04-16 18:47] Kevan-Y opened #3495 "[dependency-discovery] - Add a field for GitHub issue URL in /projects/:namespace/:name route"
In our dependency-discovery services, It would be nice to have a field for the GitHub issue URL in the return JSON of `/projects/:namespace/:name` route.
So in our front-end, we do not have to construct this URL.

The URL should be the Github issues that filter open issues and with the label `hacktoberfest` or `good first issue` or `help wanted`

[2022-04-16 20:20] humphd commented on #3495
I think it's better to do this in the front-end, so we don't get throttled in the backend.  However, I think we should construct and return that URL in the JSON response, so the front-end can use it without constructing it.

[2022-04-16 20:35] JerryHue opened #3497 "Don't drop database during restoration from backup"
When running the `./restore-backup.sh`, the script will error out when restoring the records in `feeds` due to a duplicate value. The reason for this is because the `./restore-backup.sh` is not wiping out (known as dropping) the database from scratch due to an error.

The error occurs because the database is currently open to other connections, and thus signals an error due to dropping an open dat

[2022-04-16 21:05] #3495 closed

[2022-04-16 21:12] JerryHue opened #3500 "Configure `pg-backup-cron-job` container to be in local timezone"
Today, I was very confused as to why the container `pg-backup-cron-job` hasn't run the back up script. It turns out, when I expected the script to run at 2AM EST, it actually meant to be run at 2 AM UTC!

I suggest we configure this specific container so that it starts up with the local timezone (EST) already configured and that way we won't be confused as to why the backup run at 11 PM of the pre

[2022-04-16 23:34] TueeNguyen commented on #3464
After looking at the function
https://github.com/Seneca-CDOT/telescope/blob/9ec0cf0c6ab9ecb54a7d96a264d86c5d013782ed/src/api/parser/src/parser.js#L12-L28
I believe we can keep it as it looks for feed object in Redis not in Supabase.

[2022-04-17 03:24] #3224 closed

[2022-04-17 06:45] #3497 closed

[2022-04-17 17:11] #2734 closed

[2022-04-17 17:11] #2966 closed

[2022-04-18 19:17] humphd opened #3504 "Intermittent e2e failure: chromium running src/api/sso/test/e2e/signup-flow.test.js"
This one test fails really often in CI.  It seems to happen with Chromium vs. Firefox/Webkit, and only for the `signup flow works to login and register a new Telescope user`:

[code]

In the past @DukeManh has suggested we might try increasing the timeout from 20s to something longer, but I think @Kevan-Y might have tried this (please confirm).  We should figure this out and fix.

[2022-04-18 20:01] Kevan-Y commented on #3504
It's falling in a different test case.
Mine was `Login flow preserves state param`.
@JiaHua-Zou  was failing in `signup flow works to login and register a new Telescope user` which is this one, but his PR got fixed with my change.

I tried before, increasing to 30s, but it didn't work.

[2022-04-18 20:13] #3443 closed

[2022-04-18 20:16] humphd commented on #3504
I added performance logging in https://github.com/Seneca-CDOT/telescope/runs/6067790391?check_suite_focus=true and of course it passes, but when it does, it takes less than 3 seconds to run this test, so I don't think it's just that it's slow.  Something else must be happening when it fails

[code]

[2022-04-19 07:58] sirinoks commented on #3407
Our about us is a .tsx on react that also has a star field. Our overview.md is an .md file. There is a current [PR on fixing the starfield](https://github.com/Seneca-CDOT/telescope/pull/3512). We first need to have this land.

If I understand correctly, we need to move the starfield over to the overview. However, it is an md file, I'm not sure how we would put the starfield there. This might actua

[2022-04-19 08:28] JerryHue commented on #3407
You are correct, it is not as easy as we might think. [Docusaurus understands `mdx`](https://docusaurus.io/docs/markdown-features/react), which means you can use React-like component in the `md` file. The star field depends on `p5.js`, which means we need to somehow make Docusaurus include that library, and then simply include the `StarField` component in the `mdx` file.

I worked on [something li

[2022-04-19 13:25] #3193 closed

[2022-04-19 13:28] humphd opened #3516 "Docs build failure"
[code]

[2022-04-19 13:36] #3442 closed

[2022-04-19 13:39] DukeManh opened #3517 "Limit Author autocomplete search query results to 10"
The front end only consumes 10 authors autocomplete search results. It's a good idea to put a `10` results limit on the backend by default.

[2022-04-19 13:50] menghif commented on #3407
@sirinoks No need to carry over the language select functionality since Docusaurus already has it implemented.

[2022-04-19 13:56] #3516 closed

[2022-04-19 13:59] #3460 closed

[2022-04-19 14:12] #3194 closed

[2022-04-19 14:34] #3356 closed

[2022-04-19 16:04] #3395 closed

[2022-04-19 18:01] #3299 closed

[2022-04-19 18:17] #3427 closed

[2022-04-19 18:17] #3444 closed

[2022-04-19 19:00] #3434 closed

[2022-04-19 19:01] sirinoks commented on #3340
Note to self: High (if not top) prio

[2022-04-20 02:35] #3325 closed

[2022-04-20 03:37] #3403 closed

[2022-04-20 14:26] TueeNguyen opened #3526 "Automate dev environment for parser to run normally"
Refer to this comment https://github.com/Seneca-CDOT/telescope/pull/3413#pullrequestreview-947240607

With our changes to Supabase/Prisma migrate. We need to automate these steps to seed the feeds for `Parser` to work in development mode
[code]

[2022-04-20 14:31] TueeNguyen opened #3527 "Parser will not start in dev mode as it's waiting for queue to drained which is empty when started"
Refer to this comment https://github.com/Seneca-CDOT/telescope/pull/3413#pullrequestreview-947240607

So when we do `pnpm services:start`, there are no feeds in Supabase to load into the queue, therefore, `empty` and the service doesn't reload the feeds into the queue only when `drained`
https://github.com/Seneca-CDOT/telescope/blob/ebe33d82b3015cf9dfa33c13af374a9c8aed2546/src/api/parser/src/index

[2022-04-20 14:33] humphd commented on #3526
I think we should consider eliminating the "download from wiki" step in the migration tools.  We aren't going to care about the wiki, but we'll want that data.

Maybe we can run that script, capture the output we have now, and then put the sql file into the repo to be run as part of this.

[2022-04-20 15:01] #2843 closed

[2022-04-20 15:28] #3324 closed

[2022-04-20 15:58] humphd opened #3528 "Telescope servers can run out of space"
Staging is down at the moment:

[code]

We should figure out how to automate the recover of this.

[2022-04-20 16:15] DukeManh commented on #3504
Another tests that often fails
https://github.com/Seneca-CDOT/telescope/runs/6098161731?check_suite_focus=true

[2022-04-20 16:53] #3357 closed

[2022-04-20 17:12] Kevan-Y commented on #3377
Fixed by https://github.com/Seneca-CDOT/telescope/pull/3439

[2022-04-20 17:12] #3377 closed

[2022-04-20 17:15] humphd commented on #3504
That's same test failing with a 404:

[code]

Which is:

[code]

We [return a `404`](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/feed-discovery/src/router.js#L17) if we can't find any feed URLs for the given input:

[code]

[2022-04-20 17:34] DukeManh commented on #3504
I am debugging this, the `Exceeded timeout of 20000 ms for a test` error only happens right after I start up the containers, once all containers have been running for a while, it can't be reproduced.

I suspect 1 one of the containers wasn't ready, and I think it's `test-web-content`. Like @humphd snippet shows above, the feed-discovery service is not able to find a feed from the hard-coded blog U

[2022-04-20 17:43] humphd commented on #3504
That's interesting, we could try to wait on the `test-web-content` being ready before we start, but the fact that it's not up after 20s is very odd.

[2022-04-20 18:17] menghif commented on #2676
Closed in #3505

[2022-04-20 18:17] #2676 closed

[2022-04-20 19:37] humphd commented on #3504
I added some code to dump docker logs when things fail in CI, and here is what I see.  Notice that something is hitting the server before the initialization has completed, which is sending back errors:

[code]

[2022-04-20 22:32] humphd commented on #3504
I can't make sense of this, despite spending a few hours digging through CI logs after failures.

[2022-04-20 23:49] Kevan-Y opened #3535 "Improve CSS in dependencies page"
After the dependencies page was added in this https://github.com/Seneca-CDOT/telescope/issues/3357. We can improve on the CSS to make some part stands out more.

Dependencies page: https://dev.telescope.cdot.systems/dependencies/

Example of possible CSS fix:
- Slightly different color (Make it stand out)
- Change the font
- Adjust font-size

[2022-04-21 00:00] Kevan-Y opened #3536 "Get number of issue per dependency in our `dependency-discovery` service"
After the dependencies page was added in this https://github.com/Seneca-CDOT/telescope/issues/3357.
We can improve our `dependency-discovery` service to get the number of issues each of these dependencies has, and use that to sort the list in the front-end. [see comment](https://github.com/Seneca-CDOT/telescope/pull/3487#pullrequestreview-945681133)

We might be able to use our parser services to

[2022-04-21 01:12] JerryHue opened #3537 "Fix planet when starting docker containers"
If you start all of the services with `pnpm run services:start`, you will also start up `planet`.

However, there are some configuration issues related to the `planet` container, since accessing it through `localhost:9876/planet` gives some errors.

A few hints:

- one error (`ECONNECTIONREFUSED` when connecting to `supabase`) is due to the `SUPABASE_URL` being pointing to `localhost/v1/supabase`

[2022-04-21 03:16] #3327 closed

[2022-04-22 06:55] JerryHue opened #3540 "Write `dependency-discovery` service documentation"

[2022-04-22 07:05] JerryHue commented on #3291
@DukeManh, I think we can open a future issue that researches more about this. There would be a few services (the `dependency-discovery` comes to mind) that will have their API changed, so having an documentation tool that makes this easier would be helpful.

The idea is that the tool is, at the very least, compatible with Docusaurus, and that we can somehow install it in a monorepo?

[2022-04-22 13:10] sirinoks opened #3544 "Remove docusaurus tutorial panel"
![image](https://user-images.githubusercontent.com/13803161/164719592-9c9ac454-a8a4-4a37-aa2d-07d7a0acb536.png)

On the front page of our docusaurus app there are basically 2 things currently:
1. The green tutorial button
2. The SVG art thingy

Your task is simple - remove the green thing! Make sure it all still works after you do so.

### How to run Docusaurus locally?
- `cd src/web/docusaurus`
-

[2022-04-22 14:24] sirinoks commented on #2765
I will turn this into a wiki page

[2022-04-22 15:09] sirinoks commented on #2765
[Wiki page](https://github.com/Seneca-CDOT/telescope/wiki/Themed-releases) done, this is getting closed now.

[2022-04-22 16:07] #3407 closed

[2022-04-22 18:12] #3540 closed

[2022-04-22 18:26] JerryHue opened #3545 "Rework SVG in Docusaurus home page to be responsive"
In #3486, we got a beautiful looking art for the Telescope docs home page. There are a few things we would like to fix:

- Remove all white space,
- Resize or rework the svg to make the page shorter,

https://user-images.githubusercontent.com/58532267/164485931-d48b0ab0-5e25-4ba8-8d1d-c8b6adf215a5.mp4

_Originally posted by @TueeNguyen in https://github.com/Seneca-CDOT/telescope/pull/3486#pullrequ

[2022-04-22 18:35] #3464 closed

[2022-04-22 19:07] #3526 closed

[2022-04-22 19:16] sirinoks commented on #3545
SVG is 16:9 currently, so hopefully there is no need to change it. It's pretty tedious to edit the svg. But if it's needed, I can make other resolution versions

[2022-04-22 19:57] sirinoks opened #3546 "Add information to sso service doc about SAML-2"
Get information mostly from the [blog post](https://blog.humphd.org/not-so-simple-saml/), perhaps additionally asking @humphd about it.

Add the found information to `src/web/docusaurus/docs/api-services/auth.md` on docusaurus.

[2022-04-22 19:58] #2987 closed

[2022-04-22 20:00] sirinoks opened #3547 "Add information to sso service doc about the new functionality"
Look and understand changes made in this [issue](https://github.com/Seneca-CDOT/telescope/issues/3030)

Add the found information to `src/web/docusaurus/docs/api-services/auth.md` on docusaurus.

[2022-04-22 20:06] #2955 closed

[2022-04-22 20:21] sirinoks opened #3549 "Add information to sso service doc about how we use auth with supabase"
You will probably need to know how we use supabase to do this one.

Once you do, add the found information to src/web/docusaurus/docs/api-services/auth.md on docusaurus.

[2022-04-22 22:03] #203 closed

[2022-04-22 22:28] humphd opened #3552 "config/env.staging and config/env.production missing Supabase variables"
Staging and Production aren't configured correctly:

[code]

The configs that we need for Supabase aren't defined.  In development, we do this:

https://github.com/Seneca-CDOT/telescope/blob/master/config/env.development#L263-L308

We need the equivalent of this for staging (`config/env.staging`) and production (`config/env.production`).

We need something like:

[code]

NOTE: the `DATABASE_URL` w

[2022-04-22 23:14] #3552 closed

[2022-04-23 00:44] humphd opened #3555 "Remove all of backend/*"
The backend was removed as part of 3.0.0, but https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/data/post.js remains for some reason.  If we don't need it, it should be removed.  If we do need it, why?

[2022-04-23 00:44] humphd commented on #3555
cc @menghif and @TueeNguyen, who touched this code last.

[2022-04-23 02:30] TueeNguyen opened #3556 "Making Supabase work in production"
`Kong` perhaps doesn't play right with our `nginx` which make our `parser` service in production can't interact with Supabase database.

Seeding feeds into Prod Supabase also results in the same error `An invalid response was received from the upstream server`

Related issue https://github.com/Kong/kong/issues/3314
[code]

[2022-04-23 10:57] DukeManh commented on #3556
Kong didn't work because it made requests to `supabase-rest` which failed to connect to the DB using the connection string.

I notice the Postgres password has a "@" in it, and that's a problem because the connection string is in the form `postgres://user:pass@host`, notice the "@" in the middle. If the password contains a "@", we'd have to escape it or use a different password.

I updated the pas

[2022-04-23 12:23] humphd commented on #3556
Great detective work!  I've made updates to the values we put in the secret envs, and sent to @manekenpix to be set on staging and production.  Once he does that, we'll need to do new builds (e.g., push something to `master` and deploy a new tag) for them to get picked up properly.  Hopefully we can pair this with landing @DukeManh's work in #3558.

[2022-04-23 12:55] humphd opened #3559 "db-migration container can get into a loop"
I notice that we have a `migration` container on production that's running and stuck in a loop:

[code]

We should figure out why, since this can't be good.

cc @TueeNguyen, @DukeManh.

[2022-04-23 12:56] humphd commented on #3559
I've stopped and removed the `migration` container.

[2022-04-23 13:02] humphd commented on #3559
Did this container get started with `restart: always` or something?  I'm not clear why this would re-run the migration over and over.

Also, our docs should probably emphasis the need to stop/remove the container when done.  I think they do, but that seems to have been missed here, so maybe it's not clear.

[2022-04-23 14:59] TueeNguyen commented on #3556
Seems like it's working on production now with the new password

[2022-04-23 15:00] humphd commented on #3556
@TueeNguyen only temporarily.  A push/tag will re-create the old env vars.  We need it fixed in the secrets env files for this to stick.

[2022-04-23 15:01] TueeNguyen commented on #3556
Right, I just looked at Slack's convo

[2022-04-23 15:03] humphd commented on #3556
@manekenpix reports that this is now done on staging/production.  Hurray!

We need a push/tag to update staging/production to use these, and to confirm the fix.

[2022-04-23 15:39] TueeNguyen commented on #3559
I'm pretty sure, I've removed the container when I finished doing the migration. The restart policy by default is also `Never`

[2022-04-23 15:43] DukeManh commented on #3559
Sorry, I made it unless-stopped last night so it doesn't exit while I'm testing.

[2022-04-23 15:43] #3559 closed

[2022-04-23 15:53] humphd opened #3560 "Unable to register a Telescope account on production"
I tried to sign up for my Telescope account on prod, but it fails:

<img width="565" alt="Screen Shot 2022-04-23 at 11 38 20 AM" src="https://user-images.githubusercontent.com/427398/164913348-d6d82f88-0a2e-4086-a7eb-3e45878e4240.png">

[code]

In the `sso` container I can see it trying, and the `409` come back when it finds the duplicate key (i.e., `"status":409,"details":"Key (id)=(60bff2df10) a

[2022-04-23 15:59] humphd commented on #3556
I'm going to close, and we can do follow-ups as we discover new problems.

[2022-04-23 15:59] #3556 closed

[2022-04-23 16:07] humphd commented on #3560
I also don't fully understand what's happening in the logs.  It's like there's some stray unicode character that messes them up.  Could be nothing, or could be related somehow.

[2022-04-23 16:42] #3560 closed

[2022-04-23 20:50] humphd opened #3564 "Postgres database password issues on staging and production"
If you look at various Supabase containers on staging and production, you'll see that a lot of them are having issues connecting to postgress or the "upstream" server.  The specifics of the error messages differ per container/app, but the result is the same.

We changed the passwords we use, and the connection strings (i.e., `DATABASE_URL`), and likely something is off with these, or the database

[2022-04-23 20:54] #3555 closed

[2022-04-25 20:15] humphd commented on #3564
Fixed, and I'm able to !

<img width="1387" alt="Screen Shot 2022-04-25 at 4 14 03 PM" src="https://user-images.githubusercontent.com/427398/165167487-b437c6a7-321f-45cc-a03d-8aa8db1efd1a.png">

What I did was to change the postgres password in the `db` container by getting a console in Portainer, and doing:

[code]

Then I restarted all the containers.

[2022-04-25 20:15] #3564 closed

[2022-04-25 20:19] humphd opened #3565 "Post user avatar not using proper GitHub image"
I've signed-up to Telescope on production, and my avatar is showing in some places, but not in all.  See below, where it shows on the left, but not on the right:

<img width="1257" alt="Screen Shot 2022-04-25 at 4 16 49 PM" src="https://user-images.githubusercontent.com/427398/165167982-dab27148-1b6e-4368-8dd0-06a508c70e56.png">

[2022-04-25 20:28] humphd commented on #3565
It looks like we never pass down the `img` prop here https://github.com/Seneca-CDOT/telescope/blob/master/src/web/app/src/components/Posts/Post.tsx#L481.

I guess the `posts` service should be looking to see if we have an avatar (i.e., record in `telescope_profiles` table) for this user, and returning that as part of the info for the post + feed.

[2022-04-26 21:26] humphd opened #3566 "Use docker sbom to extract more dependencies"
Our dependency service is currently limited to `npm` packages.  Recently, [Docker released the new `sbom` command](https://www.docker.com/blog/announcing-docker-sbom-a-step-towards-more-visibility-into-docker-images/), which lets you get a "software bill of materials," listing the dependencies for an image.

We can use this to further build a list of our dependencies, including OS dependeinces.  F

[2022-04-27 12:19] humphd opened #3567 "Improve error handling of auth callback"
Sometimes when I try to sign in on production, I get this:

<img width="491" alt="Screen Shot 2022-04-27 at 8 16 55 AM" src="https://user-images.githubusercontent.com/427398/165516280-6c60383e-2163-42ba-934b-1acfdced0622.png">

I suspect my token has expired.

There's no value in giving a 400 here.  We should redirect to do the full sign-in flow instead.

STR:

1. Sign-up for your account on Teles

[2022-04-30 13:43] humphd opened #3571 "Figure out which container is consuming all available disk space"
From @manekenpix on Slack:

I did a quick scan through the containers on Portainer, and I can't figure it out.  For example, going to https://dev.portainer.telescope.cdot.systems/#!/1/docker/containers/b01f331167b374581f7c56b2cf7ae17a47d8887d6bbbbda6c891fb803ff98687/stats shows the CPU, Memory, Network and I/O usage for the rss-bridge service.  Each container can show you the same.

None of the on

[2022-04-30 23:03] humphd commented on #3571
Running everything locally, I see:

[code]

If you scroll that all the way to the right, you can see the total size of the containers.  Notice:

- supabase-db is 2.31GB
- elasticsearch is 437MB

Everything else is tiny.  I'll let this run for a while and see what it does.  It would be interesting to see this same data for staging/prod.

[2022-05-01 19:15] manekenpix commented on #3571
staging:
[code]

production:
[code]

[2022-05-02 03:27] #3504 closed

[2022-05-03 19:16] #3544 closed

[2022-05-03 19:16] #3545 closed

[2022-05-13 17:24] humphd opened #3582 "Update to pnpm v7"
pnpm 7 is a bit of a breaking change, and alters the lock file a bit.  We should update all our tooling, lock file, CI, docs.  Looks like turborepo supports it now:

https://twitter.com/jaredpalmer/status/1525162609342697472

[2022-05-13 17:48] Kevan-Y opened #3583 "Redesign telescope react native app"
Redesign telescope react native app.
Rework:
 - Home screen
 - Post screen

 Some draft versions of the design:

![image](https://user-images.githubusercontent.com/58233223/168339459-e13cbda2-725e-4432-bce2-b9dc2dd680c3.png)
![image](https://user-images.githubusercontent.com/58233223/168339257-28807c5b-c945-4659-bb34-7eb668eb5800.png)

[2022-05-14 17:52] manekenpix opened #3591 "CORP and CSP issues in planet"
We have some issues in Telescope's planet view that cause not displaying images and not processing directives correctly.

![image](https://user-images.githubusercontent.com/23108901/168443123-dcf14229-3a6b-4791-ab4f-4f424d8c658e.png)

[2022-05-15 21:58] Kevan-Y opened #3598 "Redesign telescope react native app navigation"
Redesign telescope react native app navigation
Rework:
- Bottom navbar
- Add a menu screen for more menu options (Links to Telescope dashboard, Planet, Github, About us, and toggle for dark mode which will be disable at the moment)

[2022-05-16 16:17] humphd opened #3604 "Announce Sign-Ups in Slack"
When a new user signs up on Telescope, get a bot to announce it in a new `#telescope-bot` channel.

[2022-05-16 16:18] humphd commented on #1366
See also #3604

[2022-05-17 03:29] AmasiaNalbandian opened #3605 "Sign up form input boxes are difficult to read"
**What would you like to be added**:
Make the form fields more obvious that they are input boxes. I thought it was just text...
![image](https://user-images.githubusercontent.com/77639637/168722547-281fb8ed-0d97-43f6-9c58-494d81e0b83a.png)

**Why would you like this to be added**:
Difficult - extremely difficult to tell they are input boxes.

[2022-05-17 03:43] AmasiaNalbandian opened #3606 "Avatar for GitHub Profile on Sign Up Flow moves on fetch"
**What would you like to be added**:
After fetching my profile the avatar and text alignment are no longer centered.
Please investigate flexbox!
https://css-tricks.com/wp-content/uploads/2022/02/css-flexbox-poster.png
![chrome_7eu89LUtRz](https://user-images.githubusercontent.com/77639637/168723819-e7dc62ad-95e7-4107-8ca3-639e6f5dc563.png)

![chrome_hua9YBsr2p](https://user-images.githubuserconten

[2022-05-17 03:49] AmasiaNalbandian opened #3607 "Sign Up Flow does not allow more than one blog URL regardless of instructions"
**What happened**:
Sign up flow says I can add more than one URL feed by using spaces. I attempt this and there are errors, and I can't validate
![chrome_0un1sEZvz9](https://user-images.githubusercontent.com/77639637/168724607-f472b750-57b1-4760-a5bc-9ed38d1f7703.png)

**What should have happened**:
Either we allow two URLs or not. But instructions do not match the validation parameters we have se

[2022-05-17 03:54] AmasiaNalbandian opened #3608 "Improve User Experience for selecting blog feeds"
**What would you like to be REMOVED**:
Users fill the form for the blogs they would like to add. Then we fetch the blog, if found. User Experience should not require an additional click to confirm that the blog is correct. They can do this when they submit the form.

![image](https://user-images.githubusercontent.com/77639637/168725043-952701ac-2e3d-4cae-9ccc-4e551a466c0d.png)

**Why would you lik

[2022-05-17 03:58] AmasiaNalbandian opened #3609 "Typo in sign up flow"
**What happened**:
![chrome_YFcloU8ce1](https://user-images.githubusercontent.com/77639637/168725640-15219ecf-05ae-4232-8696-3ffe427d2375.png)

Should not say "validatte"
**What should have happened**:

please correct to "validate"

**How to reproduce it (as precise as possible)**:
Sign up flow -> put githubusername, then put the blogurl
**Anything else we need to know?**:

**Environment**:

- OS:

[2022-05-17 04:06] AmasiaNalbandian opened #3610 "Sign-up flow fetched Twitch links are incorrect"
**What would you like to be added**:
Change the links for twitch to be correct when they are fetched. The twitch link is not from telescope.

![image](https://user-images.githubusercontent.com/77639637/168726199-c5deb1d2-08be-48d6-9555-b482a56431d3.png)

**Why would you like this to be added**:
It is confusing. You are asking the user to confirm the link but you provide an incorrect one.

[2022-05-17 04:07] AmasiaNalbandian commented on #3608
Also explore removing the additional clicks for #3610

[2022-05-17 04:11] AmasiaNalbandian opened #3611 "Sign-up flow confirmation page has overflow"
**What happened**:
There is overflow in the confirmation page for the sign-up flow
![chrome_Xcc4I4UEmW](https://user-images.githubusercontent.com/77639637/168727012-bfb2d39a-a03b-4fb5-b39d-9b09ca0a2abb.png)

**What should have happened**:
Remove the overflow or handle it.

**How to reproduce it (as precise as possible)**:
Complete sign up link  and get to the confirmation page.

[2022-05-17 04:17] AmasiaNalbandian opened #3612 "Sign-up Flow: Unconfirmed Twitch URL in confirmation page"
**What happened**:
I put in two urls for the twitch channel, but ONLY selected one to confirm. I get to the confirmation page and now I still have both of them.
The url for manekenpix should NOT be there. I never checked it.
![chrome_H3pzmqh8BW](https://user-images.githubusercontent.com/77639637/168727496-0e718ebb-dcb3-491f-bc82-8ecf7ee59277.png)

**What should have happened**:
I never confirmed t

[2022-05-17 08:30] cypersii commented on #3611
Shall i work on this issue?

[2022-05-17 16:30] humphd commented on #3611
By all means, @cypersii.

[2022-05-17 17:17] AmasiaNalbandian commented on #3567
I can confirm I finished the sign-up flow and immediately had an error. I saw my profile image pop up top right, and for a brief second I looked as if I was logged in, and then it signed me out. I thought this was because we require sign in after sign up, but when I went to login I reach the same error.

[2022-05-17 17:27] humphd commented on #3567
Looking at this a bit more:

We're failing here: https://github.com/Seneca-CDOT/telescope/blob/adf299da6e6e9c3f20208ee6ab61d205a9f70eab/src/api/sso/src/routes/login.js#L33-L36

Which somehow means we're not getting what we expect on the query string here: https://github.com/Seneca-CDOT/telescope/blob/e40693018b5471bd582c78d9889fa3261943d4b6/src/api/sso/src/middleware.js#L74-L77

That's weird, beca

[2022-05-17 23:53] manekenpix opened #3614 "User name covers tooltip when hovering over user's avatar."
When signed in, hovering over a user's avatar in the banner buttons displays the user name covering the tooltip from `ButtonTooltip`. We can probably display the tooltip **outside** the user's avatar, as we do in our `NavBar`.

`BannerButtons`
![image](https://user-images.githubusercontent.com/23108901/168928793-8a091ada-901f-4219-8592-a6c959efd804.png)

`NavBar`
![image](https://user-images.githu

[2022-05-21 02:53] Kevan-Y opened #3615 "[Post-services] Add `author`, `title`, `publishDate` fields to '/' route"
Our current Post-services `/` route will return an array of posts see JSON below.
[code]
 Since our React native app design uses a click and reads design. When fetching the list of posts, we have to do another fetch to get `author`, `title`, `date`.
 This is inefficient since it makes a lot of unnecessary requests, we only need to request post detail on click to a post.
![image](https://user-image

[2022-05-24 13:25] humphd commented on #3615
Probably adding some kind of URL param to return a fully hydrated object is best (i.e., don't do it unless requested).  For example:

- `GET /posts` returns `id` and `url` only (current behaviour)
- `GET /posts?expand=1` returns some version of what you suggest above

This way you can opt into the extra calls this will require.

[2022-05-29 00:45] DukeManh commented on #3615
I agree.

[2022-05-30 22:17] #3583 closed

[2022-07-10 18:29] Kevan-Y opened #3635 "Console warn in parser services unit test"
All unit tests in parser services passed but it show some `console.warn`.

[See log](https://github.com/Seneca-CDOT/telescope/runs/7272336646?check_suite_focus=true#step:6:719):
[code]
Might be related to https://github.com/Seneca-CDOT/telescope/issues/3182

[2022-07-25 00:35] sirinoks commented on #3611
To make this issue hacktoberfest ready, the following needs to be improved:
- Where is this page/issue located? (link on the website; location in the code)
- Clean up issue text

[2022-07-25 00:36] sirinoks commented on #3605
To make this issue hacktoberfest ready, the following needs to be improved:
- Where is this page/issue located? (link on the website; location in the code)

[2022-07-25 02:50] sirinoks opened #3639 "Add support for cover images from dev.to"
In dev.to there is an option to add a cover image to your post.
![Cover image option](https://user-images.githubusercontent.com/13803161/180681769-25c82cbd-3a4b-4bc2-8323-d8f7cefc92d3.png)
![How it looks in dev.to](https://user-images.githubusercontent.com/13803161/180681802-82053a7f-6c63-4742-be1f-11b217b07f63.png)

However, in Telescope we don't get any of that.
![How it looks in Telescope curre

[2022-07-25 15:00] AmasiaNalbandian commented on #3611
The file to change can be found here:
https://github.com/Seneca-CDOT/telescope/blob/master/src/web/app/src/components/SignUp/Forms/Review.tsx

[2022-07-25 15:02] AmasiaNalbandian commented on #3605
The fields to be changed are here:
https://github.com/Seneca-CDOT/telescope/blob/90e0b053856d5f357c0c18aec4c81d3c74cdb732/src/web/app/src/components/SignUp/Forms/BasicInfo.tsx#L143

Please add some border to the class here:
https://github.com/Seneca-CDOT/telescope/blob/90e0b053856d5f357c0c18aec4c81d3c74cdb732/src/web/app/src/components/SignUp/Forms/BasicInfo.tsx#L91

[2022-08-16 21:43] #3290 closed

[2022-08-16 21:43] #3517 closed

[2022-09-02 02:49] RC-Lee opened #3643 "Jest crashes with Nextjs v12.1.6"
**What happened**:
Since our [update to Nextjs 12.1.6](https://github.com/Seneca-CDOT/telescope/commit/7ea9e5a77aa8a744f63b9d74ecb86f99f00e7bd8), the script `pnpm jest` has been crashing, giving an error log below.

[code]

**What should have happened**:
Jest tests should run

**How to reproduce it (as precise as possible)**:
Run `pnpm jest`

**Anything else we need to know?**:
The error happens [

[2022-09-02 13:44] humphd commented on #3643
I'd be tempted to dump the current front-end tests, and file an issue to do them properly in a follow up.  We're not really relying on them, so there's no point having this fail, or putting too much effort into fixing imho.

[2022-09-03 14:52] humphd opened #3644 "Consider switching our test SAML 2.0 IdP"
https://github.com/kenchan0130/docker-simplesamlphp seems to be better maintained than the one we currently use.  I'm not sure if it's worth bothering with this work, but I'll drop the link here in case.

[2022-09-05 13:12] humphd opened #3645 "Supabase console can't connect to backend"
I'm trying to use the Supabase console at https://supabase.telescope.cdot.systems.  It's not able to connect to the backend:

<img width="1409" alt="Screen Shot 2022-09-05 at 9 10 31 AM" src="https://user-images.githubusercontent.com/427398/188457464-af624ce4-6363-4ff1-9fa0-3ca3bae6ace1.png">

In the logs, I notice that it's trying to hit http://localhost:8000/rest/v1/, which is obviously wrong.

[2022-09-06 14:44] humphd opened #3646 "Help users understand Blog vs. Feed URLs in sign-up"
I was talking with Stefan today about the Telescope sign-up process, and I think we should do more to educate and clarify the difference between a Blog URL (HTML) and a Feed URL (XML).  The sign-up process should do more to guide people as they do this, and use the opportunity to teach them what it means.

Probably doing something like adding a sentence or two that describes the difference in the

[2022-09-06 15:15] humphd opened #3647 "New sign-ups not appearing in timeline or parser logs"
One of the new open source students (Stefan) went through the sign-up process, but we can't see the expected blog/feed added to Telescope.

I looked in Portainer at the logs for the Parser service, and I also don't see things there (no mention of https://dev.to/sfrunza13)  Due to #3645 I can't look at the DB to see what's happening.

I'd say something is broken, which isn't ideal for the first day

[2022-09-06 15:39] humphd opened #3648 "ERR_INVALID_ARG_TYPE in parser service with data argument"
While debugging #3647, I notice the parser service doing this a bunch:

[code]

I note that https://dtheosab.wordpress.com/category/open-source/feed/ does indeed have content, so this is an odd error, maybe in the RSS parser?  Not sure.  Someone should take a look.

[2022-09-06 23:59] Kevan-Y commented on #3645
I can't reproduce on local not sure why.

Could be related to the change on Supabase side, since we are pulling the latest image.

https://github.com/supabase/cli/blob/3d08912f1fed446b764df2a5fed00010c3ae2968/internal/start/start.go#L783

Changed in https://github.com/supabase/supabase/issues/5816

Probably we need to provide `SUPABASE_REST_URL` in our `docker-compose.yml` https://github.com/Senec

[2022-09-07 13:30] mnosov622 commented on #3646
I have some issue, when I sign up, it asks for Blog URL.

When I paste this one https://dev.to/mnosov622/front-end-developer-roadmap-579m it says Unable to discover feeds.

[2022-09-07 14:13] humphd commented on #3646
OK, you've found a bug. Compare the `<head>` of a particular blog post vs. your blog's root:

- blog post: view-source:https://dev.to/mnosov622/front-end-developer-roadmap-579m
- blog root: view-source:https://dev.to/mnosov622

The latter contains the expected feed URL info (i.e., `<link rel="alternate" type="application/rss+xml" title="DEV Community 👩‍💻👨‍💻 RSS Feed" href="https://dev.to/feed/mnos

[2022-09-07 14:18] humphd opened #3650 "Vercel fails errors with `Cannot find module '@babel/runtime/helpers/interopRequireDefault'`"
In #3649 we are failing a Vercel deployment.  Here is the failure:

[code]

[2022-09-07 21:38] Kevan-Y commented on #3645
Seems like it did not resolve the issue.

[2022-09-08 00:04] mnosov622 commented on #3646
Oh, now I get. Thank you !

[2022-09-08 00:06] humphd commented on #3646
It's really our bug, not yours.  We should fix this so it works in all cases.

[2022-09-08 00:33] DukeManh commented on #3650
Looks like it fails on exporting `/dependencies` and `/search` page. One thing the 2 pages have in common is their children have MUIv5 `@mui` imports. I know we want to gradually migrate from MUI v4 but v5, but maybe using both versions at the same time caused the problem?

<img width="800" alt="image" src="https://user-images.githubusercontent.com/51073515/189007574-4eea7a4d-b505-4d06-b07b-df39fe

[2022-09-08 00:35] humphd commented on #3650
I need to refresh my memory on what needs to happen for MUI v5, but yeah, we should work to migrate.  CC @cindyledev

[2022-09-08 12:22] humphd commented on #3645
This is fixed by https://github.com/Seneca-CDOT/telescope/commit/dae36e46ca00ef0508677967c3a669a20d0aee24

[2022-09-08 12:22] #3645 closed

[2022-09-08 12:29] humphd commented on #3645
We should do a patch update on prod to promote this fix.  We need to debug the sign-up issues for new students.

[2022-09-10 01:49] humphd commented on #3646
A secondary problem we could fix in a separate PR is to deal with the comments feed from WordPress, which we never want:

![image](https://user-images.githubusercontent.com/427398/189464326-3a53d451-de5e-42f5-b0f1-cf6d62b1b814.png)

[2022-09-10 13:41] humphd opened #3652 "Elastic search unable to index document with Object for title"
In the parser service, I notice this log:

[code]

The post in question is this:

[code]

From https://api.telescope.cdot.systems/v1/posts/07ab051ae7.

So it looks like the feed parser is serializing an Object vs. returning a string, and Elastic doesn't like it (it shouldn't).  So why is that post using an `Object` vs. a `string` for the title?

[2022-09-10 13:47] humphd commented on #3652
This is the original post:

https://compiledsprawl.blogspot.com/2014/01/a-new-blog-for-new-course-two-even.html

Reading the raw feed, I see this:

[code]

So the title is an empty element, which is probably being turned into `undefined` and then that gets serialized to `[object Object]`.  We should use something like `Untitled` or something in the parser service for this vs. allowing empty titles

[2022-09-10 13:47] Kevan-Y opened #3653 "Bump docusaurus to the release 2.1.0"
At the moment our docusaurus is using a beta version `2.0.0-beta.22`, which is not a great version to stay since it might have some bug.
Now that docusaurus have a stable version, it would be the best to bump into 2.1.0

[Docusaurus 2.1 news](https://docusaurus.io/blog/2022/09/01/docusaurus-2.1)

Todo:
- Check our docusaurus pluging if supporting 2.1.0
- Bump docusaurus to release 2.1.0, and plugi

[2022-09-10 16:29] RC-Lee commented on #3652
Under the error log in `parser`
https://github.com/Seneca-CDOT/telescope/blob/f4f9582ac16b13f0374be50b410b49b491b940ca/src/api/parser/src/utils/indexer.js#L109

I added this:
[code]

Here's what turned out in the logs
[code]

Maybe this is how blogspot parses their empty titles on their end?

[2022-09-10 16:34] humphd commented on #3652
What on earth!?  Seems like something to git into in the parser logic.  We shouldn't be getting an Object like this.

[2022-09-10 16:53] RC-Lee opened #3655 "Add front-end tests to Jest projects"
Follow up of #3643
Related to #1145

In #3654, front-end tests are temporarily commented out of Jest projects to make the `pnpm jest` script continue to work for other project tests.
As mentioned in the comments, there will need to be some tweaking involved to make Jest work with Next.js when front-end tests are added.

[2022-09-12 00:16] #3643 closed

[2022-09-12 05:26] dk3775 commented on #3605
Is this issue is open, shall I start fixing it?

[2022-09-12 12:41] humphd commented on #3605
@dk3775 if you'd like to try, go for it.

[2022-09-15 15:10] cindyledev opened #3656 "Remove reference to `localhost:3000/posts` in Environment Setup docs"
**Where is the problem?**

- [x] Link **comment/file/somewhere else**
- [ ] Screenshot

**What exactly is wrong:**
https://github.com/Seneca-CDOT/telescope/blob/07e530a0132d9a756ae962340a1c60b2c03c5735/src/web/docusaurus/docs/getting-started/environment-setup.md?plain=1#L265

We got rid of the backend and we're using the Posts microservice now so `localhost:3000/posts` will not show you the list o

[2022-09-15 15:28] cindyledev opened #3657 "Create a React Component Hierarchy for Next.js Frontend"
I've been reading [Learning Patterns by Lydia Hallie and Addy Osmani](https://ia902209.us.archive.org/4/items/learning-patterns/learning-patterns-v1.1.pdf), and I would really like to have a visual diagram or something similiar to show how our components are broken up. There is barely any documentation on our frontend other than the fact that we're using Next.js, and it's hard to jump into.

We sh

[2022-09-15 15:30] cindyledev commented on #3657
I'm assigning myself, but I'm also willing with other collaborators. This issue is mainly creating a React component hierarchy in it's current state but we can do better, there is room for improvement and any input/feedback is welcomed

[2022-09-15 15:42] cindyledev opened #3658 "`About Us` button in all environments redirect to the Docusaurus site in staging"
**What happened**:
![2022-09-15 11_38_10-Telescope - Brave](https://user-images.githubusercontent.com/36822198/190447288-cc2a549a-a7eb-42fb-beb1-2c977029a084.png)
The `About Us` button in development, staging, and production all redirect to `https://dev.telescope.cdot.systems/docs/overview/`

**What should have happened**:
The button should not redirect to a static URL.

- In development, the butt

[2022-09-15 15:43] cindyledev commented on #3658
Perhaps we should consider renaming the button to `DOCS`

[2022-09-15 16:12] dhruvdabhi101 commented on #3656
I would like to take this issue .

[2022-09-15 18:05] #3656 closed

[2022-09-15 18:08] manekenpix commented on #3452
Since telescope is fully transitioned to microservices and the legacy backend was removed, I'm closing this.

[2022-09-15 18:08] #3452 closed

[2022-09-16 15:11] HyperTHD commented on #3658
Technically speaking, the page still is an overview about Telescope and what it's about. I think the name should be still the same

[2022-09-16 16:50] TueeNguyen commented on #3658
How about both `About Us/Docs`

[2022-09-18 15:00] humphd opened #3660 "Telescope Sign-Up creates profile and feed in Supabase, but nothing in timeline"
I was just talking with Rohan Kaicker in Slack, and there's a problem with Telescope Sign-Up or parser.

A week ago, Rohan did the Sign-Up flow, but there's nothing in the timeline.  I looked in Supabase for prod, and here is what I see:

1. a record was added to `telescope_profiles` with the correct info, including the right GitHub info
2. a record was added to `feeds` with an `id` of `735016f481

[2022-09-18 17:47] humphd commented on #3660
Similar issue with https://dev.to/genne23v

[2022-09-20 12:58] humphd commented on #3660
I spent some more time on this today, and here is what I discovered.

First, I notice that 821 of the 833 feeds in Supabase are marked `invalid=true`.  Something in our code is aggressively marking feeds invalid, when it shouldn't be.  That's our first bug.

However, that's not the only problem.  Here are the feeds that are valid (i.e., `invalid=false`):

<img width="981" alt="Screen Shot 2022-09-

[2022-09-23 15:16] RC-Lee commented on #3660
I have a few questions about our Supabase which I'm not sure if it'll be related.

To start off, was it originally intended for Staging and Production Supabase to look different?
In `Supabase Production` I see only 23 feeds and 22 telescope_profiles.
I'm pretty sure there were more feeds previously, and I'm guessing the posts we're seeing on production now are from feeds stored in the redis cache?

[2022-09-23 15:48] humphd commented on #3660
Staging and Production will be different, yes.  Originally, they were identical, since both systems used the Plant Feed Wiki list as their source for feed information.  This was changed when the new parser microservice and Supabsae were added, so now we rely on what's in the postgres database on each of the two systems.

Also, Staging does not have access to Seneca's SSO, only Production.  This me

[2022-09-23 16:24] RC-Lee commented on #3660
Thanks for the clarifications.

My 'Supabase Production' instance had a `id = NULL` filter, which is why it seemed like there were only 23 feeds.

I'll still have to dig in more in Parser to really understand what's going on.
It seems like we're reading the initial feeds from supabase, but we're still adding and getting feeds to and from Redis which I assume is what creates the Redis cache.
https:

[2022-09-24 18:58] HyperTHD commented on #3660
I do specifically remember there being a discussion about removing the Feed info from Redis. If we're still proceeding with that, there's the thing about making posts not have any specific relationship with the feeds. This was an issue awhile ago since the posts service has to know about feeds, otherwise, it won't load them properly on the front-end

[2022-09-28 00:04] RC-Lee commented on #3660
I noticed all new sign ups had their `wiki_author_name` as `NULL` in the feeds table.
It might have to do with parser not processing feeds without author names

https://github.com/Seneca-CDOT/telescope/blob/efff34f3bb983c8e43bdcfdf05602bc471019712/src/api/parser/src/data/feed.js#L33-L35

For testing purposes, I manually added Rudy Chung's name in the "Supabase Production" Feeds table
![image](http

[2022-09-28 00:06] humphd commented on #3660
Um, @RC-Lee, this is why I want you debugging all my failing systems!

So what's the right fix here, since we don't want to use the wiki author name for non-wiki users.  Can we fix `feed.author` to pull from multiple fields, and prefer the signup name for the user if present?

[2022-09-28 00:19] RC-Lee commented on #3660
Yeah, I guess we could try to pull the `display_name` field from the `telescope_profiles` table when we pull from Supabase.

There's also another problem with `parser`. I had to reboot `parser` for Rudy's posts to show, cause we only pull feeds from Supabase when `parser` initially starts up.

https://github.com/Seneca-CDOT/telescope/blob/efff34f3bb983c8e43bdcfdf05602bc471019712/src/api/parser/src

[2022-09-28 00:23] humphd commented on #3660
I think using `display_name || wiki_author_name` or whatever would work.  I'm surprised our Supabase query doesn't do this already?

Don't we also do it when the queue is drained?

https://github.com/Seneca-CDOT/telescope/blob/efff34f3bb983c8e43bdcfdf05602bc471019712/src/api/parser/src/index.js#L13

[2022-09-28 00:27] RC-Lee commented on #3660
Ok, its possible I didn't wait long enough to see if the posts showed up.
For testing purposes, I might select another lucky feed to test.

[2022-09-28 00:29] humphd commented on #3660
It would be interesting to see what this code is doing in reality, since it *should* be getting one or the other of the two names:

https://github.com/Seneca-CDOT/telescope/blob/master/src/api/parser/src/utils/supabase.js#L16-L31

[2022-09-28 00:47] humphd commented on #3660
Looking at this code for a sec:

[code]

The `telescope_profiles` table is keyed on `id`.  For Rudy Chung it's `879ae77acf`.  Meanwhile, the `feeds` table is keyed on `url`, but has a foreign key relation of `feeds.user_id -> telescope_profiles.id`.  And according to https://supabase.com/docs/reference/javascript/select#query-foreign-tables, we should be able to exploit this relationship to get `f

[2022-09-28 00:56] RC-Lee commented on #3660
I am not sure either.
I'll need to refresh some of my lessons on databases.

But an update on testing, I added Rohan's name manually as well, and it does show without rebooting `parser`
![image](https://user-images.githubusercontent.com/32626950/192663312-adf68e5f-6180-4f50-b991-7045611ec2d7.png)
(leaving a comment here so I remember to change things back in the future)

[2022-09-28 17:47] humphd commented on #3611
@DiegoHdz7 sure, go for it.

[2022-09-28 17:47] DiegoHdz7 commented on #3445
Hi, I would like to take this issue for the hacktoberfest, can I take it?

[2022-09-28 17:47] DiegoHdz7 commented on #2121
Hi, I would like to take this issue for the hacktoberfest, can I take it?

[2022-09-28 17:47] humphd commented on #3445
@DiegoHdz7 finish the other one first.  We only do 1 issue per person at a time.

[2022-09-28 17:48] DiegoHdz7 commented on #3606
Hi, I would like to take this issue for the hacktoberfest, can I take it?

[2022-09-29 02:16] SerpentBytes commented on #2962
I would like to translate the About me page into Pashto and Urdu.

[2022-09-29 12:47] sirinoks commented on #3606
@DiegoHdz7 It's yours!

[2022-09-29 13:26] sirinoks opened #3664 "Translate about page to Urdu"
Related to: #2962
If you would like to contribute to our translations, please visit the above issue and comment with the language you wish to translate in! (provided it isn't taken yet)

Translate About us page from English to Urdu

[2022-09-29 13:26] sirinoks opened #3665 "Translate about page to Pashto"
Related to: #2962
If you would like to contribute to our translations, please visit the above issue and comment with the language you wish to translate in! (provided it isn't taken yet)

Translate About us page from English to Pashto

[2022-09-29 13:27] sirinoks commented on #2962
@SerpentBytes The following issues have been created: #3665 #3664 , please comment under them so I can assign you (for some reason I can't just assign you without your participation in the issue)

[2022-09-29 13:51] SerpentBytes commented on #3665
Please assign it to me.

[2022-09-29 13:52] SerpentBytes commented on #3664
Please assign it to me.

[2022-09-29 14:42] sirinoks commented on #2894
@AmasiaNalbandian @cindyledev Was this solved?

[2022-09-29 21:39] SerpentBytes commented on #3639
@sirinoks I would like to work on this issue.

[2022-09-30 21:45] RC-Lee commented on #3647
Should I link my PR to close this too?
I do see his feed in 'Supabase Production', and the Author Name issue should be closed along with #3660

[2022-10-01 02:14] Kevan-Y opened #3666 "Add PWA to docusaurus"
Our current docs (docusaurus) doesn't support [PWA](https://web.dev/progressive-web-apps/)

There is a pluging in docusaurus where you can enable PWA [plugin-pwa](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-pwa)

[2022-10-01 06:19] joanjeremiah commented on #3605
if the issue is till open, can I give it a try?

[2022-10-01 20:03] humphd commented on #3647
Yeah, I think so.

[2022-10-01 20:54] #3653 closed

[2022-10-02 15:37] #3660 closed

[2022-10-03 00:11] #3182 closed

[2022-10-03 00:11] #3635 closed

[2022-10-03 14:10] mnosov622 commented on #3445
Hi @humphd !

Can you assign this issue to me, please ? I would love to work on it as my first issue for hacktoberfest :)

[2022-10-03 14:15] humphd commented on #3445
@mnosov622 all yours!

[2022-10-03 16:12] #3658 closed

[2022-10-03 20:14] manekenpix commented on #3650
This was fixed in one of the recent dependency fixes.

[2022-10-03 20:15] manekenpix commented on #3310
@humphd are we still seeing this, or can I close the issue?

[2022-10-04 13:43] humphd commented on #3310
The most recent build you did yesterday had it:

[code]

[2022-10-04 14:08] cindyledev opened #3671 "`pnpm dev` and `pnpm develop` scripts in root doesn't work as expected"
**What happened**:
When I run `pnpm dev` or `pnpm develop` in the root directory, I seem to have entered some kind of loop and get the following output.

[code]

**What should have happened**:
The script should run `pnpm dev` in the src/web/app (Next.js frontend) directory

**How to reproduce it (as precise as possible)**:
Run `pnpm dev` or `pnpm develop` scripts in the root directory

**Anything

[2022-10-04 14:59] #3671 closed

[2022-10-04 23:45] #3445 closed

[2022-10-05 00:32] humphd opened #3675 "Broken build with incorrect Docusaurus link"
It looks like https://github.com/Seneca-CDOT/telescope/pull/3674 and https://github.com/Seneca-CDOT/telescope/commit/9ec6b775406f1701315f6a48e7c8ea7fde348bae broke the build:

[code]

I suspect that the leading `/` on the URL is what is causing it.  I'd try doing another change to use `to: 'docs/overview',` vs. `to: '/docs/overview',`, based on what I see in the `footer` here https://docusaurus.io

[2022-10-05 00:34] mnosov622 commented on #3675
Oh, I'm so sorry, I didn't want to break the build :(

[2022-10-05 00:37] humphd commented on #3675
@mnosov622 don't worry, we all break the build at some point.  However, we can't leave it broken, since it blocks other devs.  This is a good chance for you to fix your second bug!  And we'll help.

[2022-10-05 00:52] Kevan-Y commented on #3675
Our docusaurus `baseUrl` is `/docs/` with the code added below
https://github.com/Seneca-CDOT/telescope/blob/9ec6b775406f1701315f6a48e7c8ea7fde348bae/src/web/docusaurus/docusaurus.config.js#L123

Now the route is `docs/docs/overview `which is a broken link.

We need to change it to ` to: '/overview'`, so when it build the route will be `/docs/overview`

[2022-10-05 00:54] humphd commented on #3675
Nice detective work, @Kevan-Y, thank you!  @mnosov622 I'll assign this to you, and you can try doing another fix.

Make sure you update your `master` branch before you start, so it picks up the current work we landed already.

Let us know if you need help.

[2022-10-05 01:10] mnosov622 commented on #3675
Thank you !

I will do that.

[2022-10-05 05:13] Eakam1007 commented on #3535
Hi, I would like to work on this.
Did you have something specific in mind? I am thinking of improving the CSS for the dependency names

[2022-10-05 13:01] humphd commented on #3535
@Eakam1007 assigned to you.

cc'ing @JerryHue as well for thoughts.

[2022-10-05 13:04] humphd commented on #2648
https://github.com/dijonmusters/supabase-data-at-the-edge is a fascinating use case for Supabase + CloudFlare workers + K/V Storage.

[2022-10-05 15:04] humphd opened #3680 "Vercel build failing: Cannot find module '@babel/runtime/helpers/interopRequireDefault'"
I notice that the Vercel preview builds are failing but [this](https://stackoverflow.com/questions/52486219/unable-to-resolve-module-babel-runtime-helpers-interoprequiredefault) claims we need to add `@babel/runtime` as a dep and/or upgrade it:

[code]

[2022-10-05 21:02] #3652 closed

[2022-10-05 21:34] manekenpix commented on #3680
@cindyledev did #3681 fix this?

[2022-10-05 21:35] RC-Lee commented on #3535
Please fix the lines in dark mode while you're at it too (maybe make it lighter?).
I seem to get a headache when I scroll too quickly
Much appreciated!
![image](https://user-images.githubusercontent.com/32626950/194168240-ca2435ea-a269-4fb1-bc87-efa62baa52ef.png)

[2022-10-05 22:36] SerpentBytes commented on #3614
@sirinoks @humphd  I am working on this issue for Hactoberfest. Can one of you please assign it to me?

[2022-10-06 01:00] cychu42 commented on #2962
Hi, I'm interested in translating the about page into Mandarin as part of hacktoberfest.
Am I correct to think this would involve the two files as the Vietnamese translation PR #3147 did?

[2022-10-06 06:40] sirinoks opened #3686 "Translate about page to Mandarin"
Related to: #2962
If you would like to contribute to our translations, please visit the above issue and comment with the language you wish to translate in! (provided it isn't taken yet)

Translate About us page from English to Mandarin

[2022-10-06 06:43] sirinoks commented on #2962
@cychu42 Issue #3686 was created. Please leave a comment there so I can assign it to you.

Yes. Adding the language to the list and then translating the actual page. Thank you for pointing it out, I have updated the description.

[2022-10-06 12:25] cychu42 commented on #3686
Please assign this to me. Thank you!

[2022-10-06 12:53] cychu42 commented on #3686
I just thought of something.
While I primarily use traditional Chinese myself, I can also read simplified Chinese. Therefore, I can easily make two versions for Mandarin with a conversion tool, like a conversion feature in LibreOffice (open source), and some double-checking on my part.
Would using LibreOffice (or other tools you want me to use instead) pose any issue legally?
Also, would the two v

[2022-10-06 13:01] humphd opened #3687 "Auto-select feed in sign-up if only one is available"
When a user goes through our sign-up process, one of the steps is to enter their Blog URL, and we return a set of possible Feed URLs from the feed-discovery service.  If the length of the possible feed URLs is 1, let's automatically select it and move forward to the next step, since there's nothing more for the user to do.

[2022-10-06 13:06] humphd opened #3688 "Skip returning irrelevant feeds from feed-discovery service"
When we query the feed-discovery service for a blog's feed URLs, some hosts return feeds for things like comment feeds (I think Medium and WordPress, but need to confirm).  We never want to include these, so it would be good to add special cases to the feed-parser to filter out those particular feed patterns.

The main blog hosts we see people using are:

- dev.to
- medium.com
- blogspot.com
- wor

[2022-10-06 13:09] humphd opened #3689 "Allow a blog OR feed URL to be given during sign-up"
In our sign-up process, sometimes people get confused about the HTML vs. RSS URLs for their blog (see #3646 as well).  If a user gives us a feed URL, we should be smart enough to know that it's a feed URL, and use it.  The feed-discovery service should get updated to allow a feed URL to be given, and simply return it back again (i.e., since it's a feed URL already).

[2022-10-06 13:12] humphd commented on #3686
Assigned.  I would suggest doing these one at a time, in two different PRs.

You can use any tool you want, it doesn't matter.  Ideally you won't use machine translation, as that will often produce non-idiomatic language.  But it's also fine to consult it.

[2022-10-06 13:25] humphd commented on #3680
I wonder, since @DukeManh's PR in #3683 is passing Vercel's build.

[2022-10-06 16:17] cindyledev commented on #3680
I haven't seen this error in a while. I think this issue is safe to close, and we can reopen this if the error comes up again.

[2022-10-06 16:17] #3680 closed

[2022-10-06 16:22] DukeManh opened #3690 "Fix typescript eslint type checking errors"
**What happened**:
When I was working on #3683, I realized `typescript-eslint` and `recommended-requiring-type-checking config` is not extended in `src/web/app` eslint config which made us miss quite a few of the lint errors.

We need to fix these errors with the updated config.

[code]

<img width="531" alt="image" src="https://user-images.githubusercontent.com/51073515/194366573-e8627f2c-12e6-4a

[2022-10-06 16:29] #2913 closed

[2022-10-06 17:29] #3648 closed

[2022-10-06 17:49] cindyledev commented on #3690
I think this issue is quite involved and touches more than 30+ files, so I'll assign myself here.

[2022-10-06 21:38] SerpentBytes commented on #3610
@AmasiaNalbandian  I would like to work on this issue, please assign it to me.

[2022-10-07 00:34] SerpentBytes opened #3692 "Update `environment-setup` file with info on how to setup Postgres"
**Where is the problem?**

The [environment-setup.md](https://github.com/Seneca-CDOT/telescope/blob/master/src/web/docusaurus/docs/getting-started/environment-setup.md) file does not contain information on how to set up Postgres locally. Consequently, when you setup the testing environment locally, you may run into issues where upon attempting to sign in with fake user accounts, you are navigated

[2022-10-07 04:05] AmasiaNalbandian commented on #3605
@dk3775 Are you working on this or do you have other stuff on your plate?

[2022-10-07 04:10] AmasiaNalbandian commented on #2894
I have a [branch on my fork ](https://github.com/Seneca-CDOT/telescope/compare/master...AmasiaNalbandian:telescope:issue-2110-date)for this... If anyone is up for the challenge for this they can take it, otherwise I will look into rebasing 800+ commits... Also telescope does not run on my machine. I need up to next week to try and resolve the repository on my machine.

[2022-10-07 06:01] sirinoks commented on #2894
@AmasiaNalbandian Oh my...

[2022-10-07 06:27] dk3775 commented on #3605
I am not currently working on this issue!

[2022-10-07 13:33] humphd commented on #3605
@joanjeremiah go for it.

[2022-10-07 13:35] #3614 closed

[2022-10-08 02:33] IvaniGabrovsky opened #3697 "Translate about page to Bulgarian"
Related to: #2962
If you would like to contribute to our translations, please visit the above issue and comment with the language you wish to translate in! (provided it isn't taken yet)

Translate About us page from English to Bulgarian

[2022-10-08 02:34] IvaniGabrovsky commented on #3697
I will be working on this issue.

[2022-10-08 02:35] cychu42 commented on #3686
That makes sense. I think it's better for me to stick to traditional Chinese. I'm worried I would miss certain phrasing or terminologies that are more natural to cultures that use simplified Chinese.

When I translate, I'll try my best to stick to the wording and definitely the meaning.
Do I have permission to take small liberty with some phrases so it sounds less weird and robotic? Or should this

[2022-10-08 02:45] IvaniGabrovsky commented on #2962
How do I update the above top comment? I will like to add Bulgarian translation to the about page.

[2022-10-08 03:02] devils2ndself commented on #2962
Hello! I'd like to add Ukrainian translation for the about page

[2022-10-08 06:44] manekenpix commented on #3675
Closed via #3678

[2022-10-08 06:44] #3675 closed

[2022-10-08 07:35] cychu42 commented on #3686
For the current draft, I stick closely to what's written in English, unless the sentence structure or the literal translation of words don't really make sense or is rather awkward to native speakers.

[2022-10-08 16:32] devils2ndself opened #3699 "Translate About page to Ukrainian"
Related to: #2962
If you would like to contribute to our translations, please visit the above issue and comment with the language you wish to translate in! (provided it isn't taken yet)

Translate About us page from English to Ukrainian

[2022-10-08 16:33] devils2ndself commented on #3699
I will be working on this issue, could someone assign it to me please?

[2022-10-08 21:07] devils2ndself commented on #2962
Could some one add Ukrainian to the table of completed translations?

Here is PR which adds Ukrainian translation: https://github.com/Seneca-CDOT/telescope/pull/3701

[2022-10-10 17:09] DiegoHdz7 commented on #3611
can I work on this issue for Hacktober fest?

[2022-10-10 17:10] DiegoHdz7 commented on #2708
can I take this issue for hacktoberfest

[2022-10-11 03:52] #3699 closed

[2022-10-11 04:16] sirinoks commented on #3657
I am interested and curious about this, but I don't fully understand it. Do you think we could have a call or something about this? Once I get it, I definitelly can contribute

[2022-10-11 04:18] TueeNguyen commented on #2708
Can someone ping me if PR for this issue is created? I did big parts of the mobile view.

[2022-10-11 15:19] DiegoHdz7 commented on #2708
Sure

[2022-10-11 17:06] #3565 closed

[2022-10-11 19:07] humphd opened #3704 "Figure out if we can remove github_avatar_url"
In #3703 we're adding support for showing a user's GitHub avatar in the timeline.  Previously, we added a field to the db to store this, but our current implementation is doing it dynamically (i.e, we only need the GitHub Username).

I wonder if [we can remove this field, and all users of it](https://github.com/Seneca-CDOT/telescope/pull/3703#pullrequestreview-1137868235).  We need to confirm and

[2022-10-11 19:53] gulyapulya commented on #2962
@sirinoks, I am happy to work on the translation to Russian, if it is still available. Thanks!

[2022-10-11 22:07] sirinoks opened #3705 "Translate about page to Russian"
Related to: #2962
If you would like to contribute to our translations, please visit the above issue and comment with the language you wish to translate in! (provided it isn't taken yet)

Translate About us page from English to Russian

[2022-10-11 22:08] sirinoks commented on #2962
@gulyapulya (гуляпуля, лол) The following issue has been created: https://github.com/Seneca-CDOT/telescope/issues/3705 , please comment under it so I can assign you

[2022-10-11 22:34] gulyapulya commented on #3705
Happy to start working on it!

[2022-10-12 17:05] #3666 closed

[2022-10-13 17:39] #3686 closed

[2022-10-14 16:49] cindyledev opened #3710 "[Meta] Node.js 12 runtime End-Of-Life (EOL) reached on April 30, 2022"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. This means it is no longer being maintained and does not receive critical bug fixes and security updates. The Active LTS is Node.js 16, so we should update our packages that specify the engine

[code]

- [x] #3711
- [x] #3712
- [x] #3713
- [x] #3714
- [x] #3715
- [x] #3716
- [x] #3717

Node.js 14 is in Maintenance, so we could update t

[2022-10-14 16:56] cindyledev opened #3711 "Feed Discovery Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the Feed Discovery Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telesc

[2022-10-14 16:57] cindyledev opened #3712 "Image Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the Image Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob/

[2022-10-14 16:59] cindyledev opened #3713 "Planet Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the Planet Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob

[2022-10-14 17:00] cindyledev opened #3714 "Posts Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the Posts Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob/

[2022-10-14 17:01] cindyledev opened #3715 "Search Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the Search Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob

[2022-10-14 17:02] cindyledev opened #3716 "SSO Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the SSO Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob/06

[2022-10-14 17:02] cindyledev opened #3717 "Status Service needs to be upgraded from Node.js 12 to Node.js 16"
**What happened**:
Node.js 12 runtime has hit its End-Of-Life. on April 30, 2022. This means it is no longer being maintained and does not receive critical bug fixes and security updates.

Please upgrade the Status Service from Node.js 12 to Node.js 16. Make sure all the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob

[2022-10-14 20:29] #3717 closed

[2022-10-14 21:56] P-DR0ZD commented on #3639
I would like to try this issue can I be assigned?

[2022-10-14 22:04] manekenpix commented on #3639
@P-DR0ZD all yours!

[2022-10-15 03:22] SerpentBytes opened #3719 "Feature Request: Add pre-defined themes user can select"
**What would you like to be added**:

***(This is more than toggling Dark mode on and off)***

A drop-down to select a theme from a list of built-in themes. Selecting an option from the drop-down will render the application using the CSS styles associated with the chosen theme. The selected theme will be persisted so that when the user signs in again, they do not have to re-select the theme from t

[2022-10-15 23:36] manekenpix opened #3720 "Telescope build page stuck loading"
**What happened**:

After merging #3718, the build page on staging gets stuck loading

![image](https://user-images.githubusercontent.com/23108901/196011279-4cf3edb3-f15e-415f-b621-8bf9fd4de468.png)

**What should have happened**:

The build page should display the output of the last build

**How to reproduce it (as precise as possible)**:

Go to the dashboard on staging, [here](https://dev.api.te

[2022-10-18 16:12] humphd opened #3721 "Prepare to upgrade to node 18"
On Oct 25th, node 18 is becoming the active LTS version.  We should see if we can switch over to use it everywhere.

It brings a bunch of new things, but among them is the global `fetch()` function, which should let us replace what we do now with `got` and `node-fetch`.

We should figure out what all the other features are that we can use, and make sure we update to use them properly.

[2022-10-18 19:07] sirinoks commented on #3721
[Official NodeJS release notes](https://nodejs.org/en/blog/announcements/v18-release-announce/)

They added `node:test` module to replace additional testing tools like Jest that we use. We might want to consider replacing Jest in some places to see how it goes.
We don't have to though, it adds us an opportunity to, but it shouldn't break our existent tests. So, this might add potential issues abou

[2022-10-18 20:16] humphd commented on #3721
The built-in test runner, `node:test`, isn't as advanced as Jest at this point.  I don't think moving away from Jest is necessary until it improves.

But the other stuff is worth checking out.  I also think they have a native "watch" mode now, like nodemon, but I don't know what it's called.

[2022-10-20 18:52] #3720 closed

[2022-10-21 00:51] sirinoks opened #3725 "Mobile/Desktop view art boards"
_For now it's just a discussion, not a concrete issue to implement yet. Want to hear people's thoughts first._

I made this. It's in SVG, which makes it simple to insert and manipulate.
![image](https://user-images.githubusercontent.com/13803161/197083398-aa98f3ad-139b-4695-b350-76347bd5367a.png)
There are a couple of places I think it can be inserted.

Firstly, it's 16:9, so it can serve as a mob

[2022-10-21 14:20] cindyledev opened #3727 "Satellite Service needs to be upgraded from Node.js 14 to Node.js 16"
**What happened**:
In #3726 We updated the express dep in our Planet service from v4.17.3 to v4.18.2. We need to do the same for Satellite

Please upgrade the Satellite Service from Node.js 14 to Node.js 16. Make sure the service runs as expected using Node.js 16. This may or may not be a one-line fix.

https://github.com/Seneca-CDOT/telescope/blob/06100a722c4077157e0844be93610bd9907972dd/src/sate

[2022-10-21 16:28] #3727 closed

[2022-10-21 17:07] humphd commented on #3727
I can't remember, do we need to do anything to ship a new version of Satellite now?

[2022-10-21 17:09] cindyledev commented on #3727
@RC-Lee I touched your baby. Do we need to do anything to ship a new version of Satellite?