[2022-01-21 00:37] manekenpix commented on #2697
It seems that this issue only happens during releases.
From what I can see, the current commit displayed in staging is https://github.com/Seneca-CDOT/telescope/commit/fd66d60f67d6491e4fd008a1deeee620e2711ea1, and checking the logs, I see that 2 events took place during the `2.5.0` release:
![image](https://user-images.githubusercontent.com/23108901/150444268-34df6166-0a36-41d0-8114-e79d45d6f241.pn

[2022-01-21 01:21] Kevan-Y commented on #2497
Taking this one too, since pretty similar to #2499

[2022-01-21 01:47] Kevan-Y commented on #2497
Are we still keep using `express-pino-logger`? or can be switch to `pino-http`?

[2022-01-21 01:55] humphd commented on #2497
`pino-http` please.

[2022-01-21 02:06] humphd commented on #2674
I don't have any opinion on what the name will be, I just know that when I included a `(...)` it did something surprising.  I would maybe consider removing characters like (...) from the string first.

[2022-01-21 14:48] #2698 closed

[2022-01-21 19:28] tpmai22 opened #2701 "Autodeployment server needs tests"
**What would you like to be added**:
We would need to simulate a webhook and build from Github
[Github webhook](https://docs.github.com/en/developers/webhooks-and-events/webhooks/creating-webhooks)

**Why would you like this to be added**:
When working on PR #2665. It is hard for me to test my implementation on rendering build info so I think it is good to simulate a build for the dashboard folks

[2022-01-21 20:13] tpmai22 opened #2702 "Build simulate needed to testing out build logs"
**Why would you like this to be added**:
Prefer to #2701. We need to simulate a build from Github to test out our build logs

[2022-01-22 00:31] cindyledev commented on #2377
Wow, someone is taking on this age-old issue? Originally #77 We had this working at some point on Telescope. It was added and removed by the Telescope 2.0 group. Maybe you can hunt down someone from that cohort who knows more... https://github.com/Seneca-CDOT/telescope/pull/1637 , as you can see, it was using the Material UI theming thing. We once had a button that we could toggle to switch to dar

[2022-01-22 01:14] #2499 closed

[2022-01-22 02:05] #2497 closed

[2022-01-22 05:21] AmasiaNalbandian opened #2707 "GitHub Users tagged in posts are not showing under user/organization"
**What happened**:
My github profile was linked in Luigi's post, but I do not see my avatar under user/organization
![image](https://user-images.githubusercontent.com/77639637/150625651-2a53baec-52d6-4635-86f2-0228c512cf2e.png)

**What should have happened**:
I should see my avatar for GitHub under the user/organization. Like this post:
![image](https://user-images.githubusercontent.com/77639637/1

[2022-01-22 06:07] sirinoks commented on #2689
Closing this for now. The new sidebar seems to make sense. Tag @sirinoks if you want to change anything.
New sidebar:
<img src="https://cdn.discordapp.com/attachments/353432193730871296/934328189772267591/Screenshot_394.png" />

[2022-01-22 06:07] #2689 closed

[2022-01-22 06:15] sirinoks commented on #2373
We have just completed changing a column view of isses/PRs to a row and fixed its wrapping. Await for the PR for that one. @TueeNguyen should make the PR.

There is another task to impove the view, which turned out to be more difficult than we first thought. I will create another issue describing it.

[2022-01-22 06:15] sirinoks opened #2708 "Mobile UX/UI accordion behavior improvement"
Continuation of #2373

Two tasks.

1. Add a github icon (with an arrow) to the right of the title (should take about 10-15% of the space of the title div). If you click on the title, you will get linked to the original post. If you click on the icon, an accordeon with extra information (PRs, issues) will expand. (easy)

<img src="https://cdn.discordapp.com/attachments/353432193730871296/9343264456

[2022-01-22 07:22] JerryHue opened #2709 "Add an issue template to file a documentation problem"
I think a good start to spread the cause of documenting Telescope would be to create a template that we can fill in easily to pinpoint a documentation problem (lack of thereof, typographical error, outdated information, wrong information, etc.).

[2022-01-22 09:08] AmasiaNalbandian commented on #2708
Hi there! Just a heads up, I am certain the sticky title is not done automatically. Alex can you please post an image of what its currently behaving like? I am not aware of what this looks like.

[2022-01-22 14:03] DukeManh opened #2710 "Sign in 400 Error: Unexpected access of callback"
I was working on integrating `Supbase` and `Auth` service and encountered this login error. It happened both on `dev` and `production`.

I suspect it must have something to do with the `user session` because I can still sign in in `incognito` mode in `production`. On `dev`, sign-in doesn't work in any mode.

cc @humphd
Please help me

<img width="1096" alt="image" src="https://user-images.githubus

[2022-01-22 16:36] humphd opened #2711 "Security update for node-fetch"
We have a security issue that needs to be fixed ASAP: node-fetch 2.6.x -> 2.6.7 https://github.com/node-fetch/node-fetch/releases/tag/v2.6.7.  We need this in Telescope and Satellite:

- https://github.com/Seneca-CDOT/telescope/search?q=node-fetch
- https://github.com/Seneca-CDOT/satellite/blob/master/package.json#L36

Most users of `node-fetch` in microservices get it via Satellite, so fixing it

[2022-01-22 16:40] humphd commented on #2710
So this is only about dev?  I'd like more details and STR.

I wonder if we should get on a call this week so you can demo what's up.

[2022-01-22 17:01] humphd commented on #2555
https://medium.com/@gracew/using-supabase-rls-with-a-custom-auth-provider-b31564172d5d looks useful

[2022-01-22 18:50] DukeManh commented on #2710
It's on production too, it should happen when you sign in or log out and sign in. https://telescope.cdot.systems/

Do you mean demo the bug or the Supbabase stuff? Either one, let's talk about it this week.

[2022-01-22 20:17] humphd opened #2713 "Ship Satellite 1.18.0 and update Telescope to use it"
We need to rev Satellite once the node-fetch fix is in, and then get Telescope using it.  Let's do this as part of 2.5.2 this week.

[2022-01-23 02:51] Andrewnt219 opened #2718 "Add alert toast to exceptions in dashboard"
**What would you like to be added**:
Early returns and throws in JavaScript should display an alert instead (using toast from js/utils/toast.js)

The screenshot is from check-for-build.js

![image](https://user-images.githubusercontent.com/52666982/150662828-13e3c662-c712-4354-8e66-8786f83cc703.png)

**Why would you like this to be added**:
- It's hard to debug when exceptions happen and nothing i

[2022-01-23 03:32] Andrewnt219 opened #2719 "Autodeployment sends wrong status code"
**What happened**:

Build success but auto-deployment send code 1.

![image](https://user-images.githubusercontent.com/52666982/150663612-667585db-380e-4641-b4ac-76992dd53381.png)

![image](https://user-images.githubusercontent.com/52666982/150663615-a9b341ab-d714-43b9-98db-d9d805ff258d.png)

**What should have happened**:

Auto-deployment should send code 0.

**How to reproduce it (as precise as

[2022-01-23 04:03] tpmai22 commented on #2719
I will take this as well since it related to my area !

[2022-01-23 14:18] humphd commented on #2719
We set the build exit code [here](https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/builds.js#L80), and this is using [`shelljs.exec()`](https://github.com/shelljs/shelljs#execcommand--options--callback), which is supposed to return the process exit code as the first arg to the callback.  [Here's the code that it's running](https://github.com/shelljs/shelljs/blob/master/src

[2022-01-23 17:26] tpmai22 commented on #2719
But base on the code I guess it will always return the previous build.  Yesterday when I try to ran it on local host it return `404` on `localhost/deploy/status` as  well so I wonder if it hit the correct URL

[2022-01-23 18:20] TueeNguyen commented on #2708
I have a PR #2716  opened

[2022-01-24 05:36] Andrewnt219 commented on #2671
Just some updates on this issue:

### Snowpack
Snowpack [doesn't work with `pnpm`](https://github.com/pnpm/pnpm/issues/3749), so it's out of question.

### Vite
There's documentation for express or [handlebars](https://handlebarsjs.com/) (client-side), but not express-handlebars.

### Parcel
Same problem as Vite.

# Possible solutions (not tested, just theory)

### Using Vite Backend integration
h

[2022-01-24 13:33] humphd commented on #2671
This is great background, thanks for digging into this.  Another wrinkle we'll have is that we (currently) use `pnpm` in the monorepo, and `npm` in our container when we deploy.

[2022-01-24 14:34] Andrewnt219 commented on #2719
Yes, if there's no on-going build.

Same with the build-header PR, you cannot run auto-deployment (i.e. /deploy) locally. To test that, point it to [staging](https://dev.telescope.cdot.systems/deploy/status). If the result column show "Success" instead of "Error", you are heading the right way.

![image](https://user-images.githubusercontent.com/52666982/150802468-b4a7fe8b-19d3-4f52-a739-8b37db04d

[2022-01-24 14:53] Andrewnt219 commented on #2707
https://github.com/Seneca-CDOT/telescope/blob/e1e546a58039d7bee642f5ee25fa55865f0a6524/src/web/src/components/Posts/GitHubInfo.tsx#L54-L64

So the problem is from this line. It expects GitHub links to always have the repos in it (e.g. /username/repo ✅, /username ❌). We can try to make the second capturing group `(?<repo>[^/]+)` optional as well, then test if the 4 listed examples are still working

[2022-01-24 16:47] tpmai22 commented on #2719
I try to research on what @humphd was mentioned about our build might not be success but I got no clue yet. The fix will be easy where you only change one logic but I guess we try to find the root of cause here

[2022-01-24 16:51] humphd commented on #2719
It's possible that our [deploy script](https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/deploy.sh) is erroring on the last step (or one of the last steps) and we are returning that result each time.  cc @manekenpix

[2022-01-24 16:54] manekenpix commented on #2719
I'll do some testing later to see which step is failing

[2022-01-24 17:08] AmasiaNalbandian commented on #2707
Ok this sounds good - we should decide if we want to include the users who's repo it is in the user section though.

[2022-01-24 19:07] Andrewnt219 commented on #2707
This is a feature, not a bug (not joking 🙂). The GitHub Info tab does not represent all the links that are mentioned in a post. It simply extracts all the info from GitHub links in a post. Therefore, if a post only mention a single link /Seneca-CDOT/telescope, the Users will have Seneca-CDOT and the repos will have telescope.

I think this also answer the above question.

[2022-01-24 19:57] AmasiaNalbandian commented on #2707
Yes it does @Andrewnt219 . So we missed a scenario when implementing this. Thank you for investigating all of this! I really appreciate it.

[2022-01-24 20:47] Kevan-Y commented on #2707
If that issue is not taken. I can work on it.

[2022-01-24 21:03] AmasiaNalbandian commented on #2711
What happened to the PR by the bot? It wasn't merged but closed...?

[2022-01-24 21:04] humphd commented on #2711
I'm not sure.  It was having issues with wanting to go to the `3.x` release.  We're still at `2.6.6`, see https://github.com/Seneca-CDOT/telescope/blob/master/package.json#L69

[2022-01-24 21:10] DukeManh commented on #2711
It was strange that Renovate opened and closed it.

[2022-01-24 21:11] humphd commented on #2711
There was some chatter on GitHub over the weekend about some security tools incorrectly flagging the `3.x` release as the only secure one vs. `2.6.7`.  I wonder if it got closed due to it thinking it didn't address the problem.

[2022-01-24 21:25] DukeManh opened #2722 "fix(deps): update dependency node-fetch to v2.6.7 [security]"

[2022-01-24 21:25] #2722 closed

[2022-01-24 21:31] DukeManh commented on #2711
@humphd I couldn't find the discussion, could you link it here, please.

[2022-01-24 21:38] #2696 closed

[2022-01-24 21:47] humphd commented on #2711
Sorry, it was on Twitter.  I don't think I can find it again.  At any rate, we can do it manually if we need to.

[2022-01-24 23:04] DukeManh opened #2725 "Renovate not working under './'tools'"
We have Renovate working in our repo for automated dependency updates. However, 'tools/' was left out never got any update.

 The recent [PR](https://github.com/Seneca-CDOT/telescope/pull/2724) for bumping `node-fetch` to `2.6.7`, was supposed to update both `node-fetch` in './' as well as './tools/', but only one was updated. See https://github.com/search?q=node-fetch+repo%3ASeneca-CDOT%2Ftelesco

[2022-01-24 23:05] DukeManh commented on #2725
cc @AmasiaNalbandian, @humphd

[2022-01-24 23:10] DukeManh commented on #2711
This was partially fixed in #2724, there's an issue for why Renovate didn't update it in './tools' as well. https://github.com/Seneca-CDOT/telescope/issues/2725

[2022-01-24 23:15] DukeManh commented on #2725
Here is the Renovate log, it looks like it does look for `package.json` under './tools'.
https://app.renovatebot.com/dashboard#github/Seneca-CDOT/telescope/562007866

[2022-01-24 23:17] humphd commented on #2725
It looks like it sees it.  It parses the `package.json` file.  I wonder if it just hasn't gotten around to this one yet for PRs?  We don't let it run very often, and have a lot of other deps.

[2022-01-24 23:20] DukeManh commented on #2725
I've triggered rerun on the entire repo but still, there are no 'dependencies pining' PR awaiting schedule for 'tools'.

[Dependency Dashboard.](https://github.com/Seneca-CDOT/telescope/issues/2638)

[2022-01-24 23:22] humphd commented on #2725
In the log it looks like it wants to do it:

[code]

[2022-01-24 23:29] humphd commented on #2515
This still needs to happen.

[2022-01-24 23:33] humphd commented on #2725
I wonder if we should push a commit to manually pin all these, and if Renovatebot would then start doing it...

[2022-01-25 12:40] joelazwar commented on #2674
we could use regex to eliminate subtitles in brackets like those e.g. `const initials = name.replace([\(\]]\w*[\)\]] '').trim()`

[2022-01-25 13:10] AmasiaNalbandian opened #2727 "Add support for YouTube channel feeds to the sign-up flow"
**What would you like to be added**:
Add option/support to add youtube channels during sign up to add to the feed

**Why would you like this to be added**:
To implement the new [video feed feature](https://github.com/Seneca-CDOT/telescope/pull/2581)

[2022-01-25 13:13] AmasiaNalbandian opened #2728 "Start an MVP for including Twitch streams in Telescope"
Research:

  - Twitch API integration in back-end?
  - MVP(Minimum Viable Product) of Twitch component for front-end

Look up the details for what we can do so we can potentially get started for 2.7.

[2022-01-25 13:14] #2675 closed

[2022-01-25 13:21] AmasiaNalbandian opened #2729 "Integrate RN project into monorepo, integrate with existing project tooling"
**What would you like to be added**:
Lets start the directory system, and get it working with pnpm environment. We just need the basic project set up so we can start.

Note: We can just have the RN application run with just a logo - that is completely fine.
**Why would you like this to be added**:

[2022-01-25 13:23] AmasiaNalbandian opened #2730 "React Native: Get UI library installed"
**What would you like to be added**:
We are just looking to put in the UI libraries

**Why would you like this to be added**:

[2022-01-25 13:28] AmasiaNalbandian opened #2731 "React Native: Basic UI Started for the app"
**What would you like to be added**:
We want to see our React Native App have some basic UI, with some navigation.

Will be blocked by https://github.com/Seneca-CDOT/telescope/issues/2730
**Why would you like this to be added**:

[2022-01-25 13:35] AmasiaNalbandian opened #2732 "Research how to ship React Native App to Android and iOS devices"
**What would you like to be added**:
We want research on how we can get this on a mobile phone, both ios and android, and then we want to be able to have this shipped so by the end of 2.6 we can view the basic app on a phone.

**Why would you like this to be added**:

[2022-01-25 13:50] AmasiaNalbandian opened #2733 "Documentation for React Native"
**What would you like to be added**:
1. How we run the code
2. Basic idea of how it works
3. Navigation - Where is the code?
4. Link to the packages used
5. Testing documentation, if exists (if not we need to add, create issue please)
6. Link to the wiki

please get a review from someone who has not worked in this area.

**Why would you like this to be added**:

[2022-01-25 13:51] AmasiaNalbandian opened #2734 "Documentation for Supabase"
**What would you like to be added**:
1. How we run the code
2. Basic idea of how it works
3. Navigation - Where is the code?
4. Link to the packages used
5. Testing documentation, if exists (if not we need to add, create issue please)
6. Link to the wiki
**Why would you like this to be added**:

[2022-01-25 13:52] DukeManh opened #2735 "Connect Supabase with our SSO login flow"
**What happened**:

Part of #2555, once we config supabase and have it running, we want to make the `Auth` service communicate with the Supabase through the [supabase-js](https://www.npmjs.com/package/@supabase/supabase-js) package to handle new user registration and login.

**How to reproduce it (as precise as possible)**:
- OS:
- Browser:

[2022-01-25 14:08] AmasiaNalbandian opened #2736 "Start migrating our monorepo linting to our microservices using turborepo"
**What would you like to be added**:
We are just focusing on moving our linting

We just need to add the lint script to the package.json

Goal pnpm lint and should run turborepo

**Why would you like this to be added**:

[2022-01-25 14:09] AmasiaNalbandian opened #2737 "Documentation for Turborepo and how it works"
**What would you like to be added**:

**Why would you like this to be added**:

[2022-01-25 14:38] AmasiaNalbandian opened #2738 "Back-end code to gather dependencies from pnpm data"
**What would you like to be added**:

**Why would you like this to be added**:

[2022-01-25 14:50] AmasiaNalbandian commented on #2727
Thank you @joelazwar  I will close this one then.

[2022-01-25 14:50] #2727 closed

[2022-01-25 15:42] humphd commented on #2738
@JerryHue this needs to get filled out based on the parts of https://github.com/Seneca-CDOT/telescope/discussions/2666 that we'll ship next week.  Please do that ASAP.

[2022-01-25 15:43] humphd commented on #1743
I updated this to be about getting the feed-discovery service built and the image uploaded to the GitHub Package Registry.  Once we figure this out for feed-discovery, we can move onto the others.

[2022-01-25 15:44] humphd commented on #2526
Modified this to be about working on the feed-discovery service first, then we can add others once we have the process in place.

[2022-01-25 15:46] humphd commented on #2730
See discussion in https://github.com/Seneca-CDOT/telescope/discussions/2667#discussioncomment-1993433 cc @Kevan-Y

[2022-01-25 15:47] humphd commented on #2729
I would put this in `src/mobile` when you do it, so it mirrors `src/web`

[2022-01-25 15:49] #2694 closed

[2022-01-25 16:12] DukeManh opened #2739 "'tools/migrate' is missing in pnpm-workspace.yaml"
**What happened**:

'tools/migrate' is a package itself and should be included in `pnpm-workspace.yaml`.

cc @Meneguini, is there a reason why you didn't include it, or do you know why pnpm still worked there?

**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2022-01-25 16:13] sirinoks commented on #2709
@JerryHue Close this if it's good enough

[2022-01-25 16:47] DukeManh commented on #2725
@humphd, let me do that see what happens

[2022-01-25 18:13] JerryHue commented on #2709
Looks good!

[2022-01-25 18:13] #2709 closed

[2022-01-25 18:20] humphd commented on #1743
Some useful background reading:

- [How to build and push to GitHub's Package Registry with GitHub Actions](https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions)
- [Example of building multiple Docker images in a monorepo](https://ianbelcher.me/tech-blog/using-github-actions-and-package-registry-to-build

[2022-01-25 18:50] menghif opened #2741 "Exclude docs path from GitHub Actions tests"
**What would you like to be added**:

We currently run all of our tests in CI when we make a small change to the docs. In that situation, we could avoid running all the tests and run only Prettier (and ESlint?) instead.

**Why would you like this to be added**:

It would speed up CI.

I can make this change but I would like to know if it makes sense.

[2022-01-25 19:10] #1778 closed

[2022-01-25 19:25] menghif commented on #2736
The first part of this Demo was really helpful to understand how Turborepo works: https://youtu.be/YX5yoApjI3M

[2022-01-25 22:14] aserputov commented on #2648
@humphd How bad Redis is caching individual Post. Do you think Cloudflare can do our front-end caching better?
What I mean exactly is if our quantiy of front-end data is enough to think of Cloudflare caching, or should I focus on serverless functions to replace microservices? As I understand, this topic is for the far future because we better get rid of our monolithic backed first and finally laun

[2022-01-25 22:16] humphd commented on #2648
Redis is amazing at caching, that's its primary job.  I would focus on caching static assets in the front-end to start.

[2022-01-25 23:42] aserputov commented on #2648
@humphd, do you want me to cache the static files from the 'out' folder after building the front end?

[2022-01-26 00:03] TueeNguyen commented on #2515
Hi @manekenpix, I went over some related PRs, you did mention adding Cache-Control header but you did not add right?

[2022-01-26 01:29] tpmai22 commented on #2719
As dicussed [here](https://github.com/Seneca-CDOT/telescope/pull/2695#issuecomment-1020760044) after I jump on call with @manekenpix he had kindly fix it so I will close this issue

[2022-01-26 02:28] manekenpix commented on #2515
@TueeNguyen I didn't add it.

[2022-01-26 02:45] Andrewnt219 commented on #2719
@manekenpix I think someone accidentally fixed the issue?  Working on staging 🤣.

![image](https://user-images.githubusercontent.com/52666982/151095382-5c8d88b2-194c-4afd-9007-f08d2c7e10b7.png)

[2022-01-26 15:00] humphd commented on #2719
Can we get #2695 reviewed and merged before we tackle this?  I'm changing a bunch of related code.

[2022-01-26 15:05] humphd commented on #2741
I think this makes sense.  I assume we can do it as part of the turborepo stuff, right?  Or do we have to included path level `on` events for the GitHub Actions?

[2022-01-26 15:23] menghif commented on #2741
Yes Turborepo should do that with Remote Caching setup. Until then I'm going to make a quick change to GitHub Actions.

[2022-01-26 15:51] #2711 closed

[2022-01-26 16:38] AmasiaNalbandian commented on #2713
2.5.2 has been shipped: https://github.com/Seneca-CDOT/telescope/releases/tag/2.5.2

[2022-01-26 16:38] #2713 closed

[2022-01-26 17:31] LuigiZaccagnini commented on #2732
Once you have Expo installed, you can use `npm start` to start a build for your app. Once it is built, it will provide a local QR code that you can scan with the Expo app that will download your app. Since the build is on their server, you can use Android or IOS to scan the QR code and test your app. This is a part of the regular workflow of Expo so it is relatively easy to get going. Also in the

[2022-01-26 18:07] LuigiZaccagnini commented on #2733
Just providing some information that can help with the documentation.

# React Native Documentation

## Installing React Native Expo
Installing the command line tool so you can run Expo commands.
`npm install --global expo-cli`

## How to run the code?
To start a development server to start testing code you would run `expo start` and in your terminal a QR code will pop up. You will need to install

[2022-01-26 18:13] LuigiZaccagnini commented on #2730
I like [Native Base](https://nativebase.io/) because it offers a lot more UI components. Was wondering what @Kevan-Y @tpmai22 and @AmasiaNalbandian think?

[2022-01-26 18:27] Kevan-Y commented on #2730
Native Base seems to be a good choice for me since, it has a lot of components and customization

[2022-01-26 18:43] humphd commented on #2733
Is it possible to use `expo-cli` without having it installed globally?  Can we install it as a devDependency, and then write npm scripts to call the version in `node_modules/.bin`?

[2022-01-26 18:45] humphd commented on #2732
OK, great, so we can use the Expo App to begin with, and document the process for our users to get the app on their devices.

In later releases we can explore a proper install via the app store, once the app is worthy of publishing :)

[2022-01-26 19:23] tpmai22 commented on #2733
[#96](https://github.com/expo/expo-cli/issues/96) We can install it to `devDependency`

[2022-01-26 20:28] AmasiaNalbandian opened #2745 "Docker Containers should be able to run in pnpm"
**What would you like to be added**:
Our docker containers use npm. We should get them to also use pnpm.

**Why would you like this to be added**:
We converted everything to pnpm, however our docker containers still run on npm only. This is causing inconsistencies such as: https://github.com/Seneca-CDOT/satellite/issues/39

[2022-01-26 21:00] cindyledev opened #2746 "Create the Docs Microservice"
**What is the idea?**
We started loving docs again and will be spawning a great number of new docs:
- #2733 Documentation for React Native
- #2734 Documentation for Supabase
- #2737 Documentation for Turborepo
- #203 Documentation for REST API
and more to come...

We can create a microservice for our docs and containerize the web application where our docs will live. Such an idea has been brewing

[2022-01-26 22:13] #2542 closed

[2022-01-26 22:53] sirinoks commented on #2746
I am interested in this. Since we already used MDX, it shouldn't be too difficult to do it for docs. The faster we do this, the faster I can work on actual docs.
Also happy to see Tailwind, was interested in it for a long time.

[2022-01-26 23:34] manekenpix opened #2747 "Wrong url for fetching build status from the autodeployment server (Production)"
**What happened**:
In **production**, the build log page fails to fetch build status information from the autodeployment server

![image](https://user-images.githubusercontent.com/23108901/151264206-4b55cd69-d164-4e7b-a95f-9aa9f38bf57f.png)

**What should have happened**:
The build log page should display commit, status and build duration

**How to reproduce it (as precise as possible)**:
Check th

[2022-01-27 00:11] AmasiaNalbandian commented on #2730
I'm liking it too actually. Seems to have the basics.

[2022-01-27 02:29] cindyledev commented on #2746
While I appreciate the interest, I can also hear @humphd yelling at me in the background, like "dammit, Cindy, why did you coerce my developers with your terrible marketing skills into your docs project? They need to be writing actual docs!". You guys still need to be writing and maintaining docs. Treat this microservice as a mistress or sidedish. It's an absolutely beautiful distraction but don't

[2022-01-27 13:21] DukeManh commented on #2737
Let's have a meeting for @menghif to explain and answer questions about Turborepo and make the docs.

[2022-01-27 13:24] DukeManh commented on #2736
The meeting about Turborepo with Francesco can help with this.

[2022-01-27 13:48] Kevan-Y commented on #2731
I think at the same time we can set the structure of the repo.
For examples
[code]

[2022-01-27 14:03] DukeManh commented on #2676
I'll have a PR for fixing this Bug.

[2022-01-27 17:08] humphd opened #2755 "[Satellite] Cannot set property statusCode of Error which has only a getter"
While I was testing #2753, I ran into a crash in our error handling code:

[code]

This is being caused by the following code in the search servce:

[code]

So what's happening here is that we do a call to Elasticsearch, and because there is no index built yet (I hadn't started the parser), it fails (Promise rejects).  This takes us to the `catch` block in the router, and we try to `createError()`

[2022-01-27 17:58] #2578 closed

[2022-01-27 20:32] cindyledev commented on #2746
I guess this was approved. I'm going to transition this forward and lay out what needs to be completed to build an MVP for this microservice.

[2022-01-27 21:39] humphd opened #2760 "Use colours, logo, etc. from PWA manifest with React Native manifest"
In #2744 we're adding a basic React Native Expo app.  I notice that it has a manifest that is similar to the PWA manifest we have in https://github.com/Seneca-CDOT/telescope/blob/master/src/web/public/manifest.json, and also that it's adding logos, which we also have in https://github.com/Seneca-CDOT/telescope/tree/master/src/web/public/logoImages.  Let's re-use these in the Expo app.

[2022-01-27 23:47] humphd commented on #2498
We need to use `Fixes #....` when we do the PR description @aserputov

[2022-01-27 23:47] #2498 closed

[2022-01-27 23:53] humphd opened #2761 "Use better message for build header"
I just merged a PR and it build on staging.  The build header looked like this:

![image](https://user-images.githubusercontent.com/427398/151462383-253930c1-d292-4d8c-aa75-c209287159ce.png)

I think that message `humphd synchronized .....` isn't idea, especially since we have the commit `message` in the GitHub data:

[code]

Let's use a better string here.

[2022-01-28 00:57] #2719 closed

[2022-01-28 03:26] tpmai22 commented on #2746
@cindyledev I will try to get the doc for `react-native` up by next week

[2022-01-28 04:00] tpmai22 commented on #2761
I will be working on it but can we put it in 2.7 ? and what would be your recommended message to be displayed ?

[2022-01-28 06:31] sirinoks opened #2765 "Themed releases"
So far our releases are just combinations of isses and PRs that people wanted to work on without much structure to it. However, even though our releases seemt to last the same amount of time, they are not if fact equal! Let me provide examples and you'll get what I mean.

## Let's look at the Sheriffs + Releases table

 | Week | Date  | Release |
|------|--------|----------------|
|1     | Jan 10

[2022-01-28 07:13] sirinoks commented on #2708
I'm pretty sure  #2716 does not fix this. This is why I made another issue. So that the old issue gets fixed while the more difficult task gets passed on. Tue's PR would still have a problem described here. I need confirmation from @TueeNguyen , and then the PR should be unlinked.
@TueeNguyen In your PR, if you open the accordeon while the title is fixed at the top, the accordeon will take a bunch

[2022-01-28 08:07] sirinoks commented on #2728
[Docs](https://dev.twitch.tv/docs/embed)
It seems that a parser should recognize a twitch stream/video link and replace it with an embed of such format:
[code]

[2022-01-28 09:06] sirinoks commented on #2728
I am trying to find an example of how the youtube one was implemented to use as a reference. I can't find the PR/Issue though. Could someone show me where it is?

[2022-01-28 14:47] humphd commented on #2761
Two things strike me:

1. I'm not the author of the commit, I only merged it.  It would be better show that aserputov wrote the code vs me.
2. `"message": "All the Elastic APM code from our docker/compose files, envs, logging, Satellite, docs, etc., is cleaned.."` seems like a useful string.  We could shorten it with ellipses in CSS so it fits in the space we have.

[2022-01-28 15:03] humphd commented on #2728
cc @dbelokon, who wrote it all.

[2022-01-28 15:14] #2729 closed

[2022-01-28 15:19] AmasiaNalbandian commented on #2708
If I'm correct, I think we are talking about the title expanding sometimes if it's too long:

https://user-images.githubusercontent.com/77639637/151572525-e4640523-c7df-4c91-bd93-9565e0548cf8.mp4

However i'm confused which PR has the accordion... right now only Tue's is going to present this new feature, and we should ship it. We can keep this issue open afterwards as the issue persists.

@TueeNg

[2022-01-28 15:24] AmasiaNalbandian commented on #2730
@aserputov @dbelokon You're up! @menghif shipped in his expo PR this morning! I think we should add the Native Base as @LuigiZaccagnini recommended! 👍

[2022-01-28 15:40] AmasiaNalbandian opened #2767 "Launching expo-cli is difficult without instructions"
**Where is the problem?**

- [ ] Link **comment/file/somewhere else**
- [ ] Screenshot

**What exactly is wrong:**
I tried to run the expo-cli directory and unfortunately its pretty difficult. I already had to install expo-cli globally, and then also installed android studio. I can get the cli to start running, however, I can't get it to open in a virtual device to see it. The CLI instructions are

[2022-01-28 16:11] dbelokon commented on #2728
There is no official twitch RSS, however there is this
https://twitchrss.appspot.com/

This is perfect! It seems we can fork the project and use it in Telescope, as it uses Apache License, version 2.0, as long as we respect the License. Here's a [TL;DR of the license](https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)). However, I would like to hear from @humphd for the final decision,

[2022-01-28 16:40] humphd commented on #2728
If you want to use that app, someone needs to fix https://github.com/lzeke0/TwitchRSS/issues/18 upstream so we can pull and run their app as a container.

[2022-01-28 17:09] tpmai22 commented on #2767
What are you using and can you tell me steps to reproduce that ? I might spot something out and put it in the docs as well

[2022-01-28 17:12] Andrewnt219 opened #2768 "Bundle all Javascript and CSS in dashboard"
**Related**
#2671

**What would you like to be added**:
- [x] Replace scss-dass with vite
- [x] Add `main.js` to import all material-dashboard assets (in public/assets/)

**Why would you like this to be added**:
- Utilize our new shiny Vite compiler

[2022-01-28 17:51] TueeNguyen commented on #2708
I just noticed that when header is open, the title is though sticky, it moves down a little which takes more space. I'll unlink this issue from the PR #2716

[2022-01-28 18:02] TueeNguyen commented on #2708
We could also reduce the gap between this bottom icon and other information
![image](https://user-images.githubusercontent.com/58532267/151598356-64e6144f-7045-4359-9fc1-b6388222d730.png)

[2022-01-28 18:41] cindyledev commented on #2765
"elders"
*shakes cane*
You're gonna be an elder in like 3 months.

But really, with a mindset like this, future Telescopers will inherit something awesome because you had them in mind the entire time and you don't even know who they will be. Telescope gets bigger and bigger after each iteration, this adds so much more complexity. Future Telescopers will be so glad that someone is trying to make ev

[2022-01-28 19:04] humphd commented on #2765
I agree with the idea that features need a long time to stabilize on `master`.  We land some PR, then find 3 bugs that have to get fixed, meanwhile more bits of the feature come in, we learn more about it, change the approach, etc.

Landing features should be incremental and done over a lot of releases.  However, we can think about having larger chunks of the team focused on particular releases.

[2022-01-28 19:59] #2747 closed

[2022-01-28 20:34] #2373 closed

[2022-01-28 22:59] #2671 closed

[2022-01-28 23:27] sirinoks commented on #2728
@dbelokon Could show to me where is the main part of the code that makes youtube work?

[2022-01-29 02:34] dbelokon commented on #2728
@sirinoks, there is no really a specific part on how the YouTube works, as it is treated like another RSS feed (thanks to the suggestions that Dave mentioned back in the review of the PR), so I can write a small guide on how the code ended up:

* First, in `src/backend`, I made a few changes to the `processor.js` so that it can parse the feed given by YouTube. I simply added a few properties for t

[2022-01-29 03:00] dbelokon commented on #2680
I would like to pitch a simple design for this bar. The design is somewhat like this:

![youtube possible design](https://i.imgur.com/krJLbQL.jpg)

The thing in blue is the actual bar. The YouTube logo can be clicked to access the YouTube channel of the user who posted. We can also try to get the subscribe count of the channel and the view count of the video to display, as that cannot be seen from

[2022-01-29 05:40] cindyledev commented on #2765
I suddenly remembered we have this [doc](https://github.com/Seneca-CDOT/telescope/blob/master/docs/git-workflow.md). It should help you remember how to git again

[2022-01-29 14:12] #2674 closed

[2022-01-29 14:24] humphd opened #2773 "Dashboard build log updates previous build log too often"
The build log page polls the autodeployment server constantly, and it makes the UI stutter as we constantly reload the same data over and over.  We need to get smarter about what we do when we get back the identical data to the previous run (e.g., we shouldn't bother re-rendering if it's the same).

<img width="1210" alt="Screen Shot 2022-01-29 at 9 20 17 AM" src="https://user-images.githubusercon

[2022-01-29 19:47] humphd commented on #2677
I think we can do this by pulling Satellite's source tree into `src/satellite`, add to the pnpm workspaces, and then when we do `pnpm version`, we'll do it out of that directory (i.e., I *think* that will be the same as what we do now).  This would be great, as it would enable us to develop it here in our monorepo.

[2022-01-29 22:08] humphd opened #2777 "Remove legacy backend"
As we prepare to migrate away from the legacy backend, and toward a pure microservices approach, I'd like to switch the repo around a little bit.  Specifically:

- create `src/legacy`
- move `test/` to `src/legacy/test`
- move contents of `src/backend` to `src/legacy/src`
- create a `package.json` in `src/legacy`
- move all aspects of the root `package.json` that are specific to the legacy backend

[2022-01-29 22:29] humphd commented on #2728
https://hub.docker.com/r/rssbridge/rss-bridge/ is a more full-featured RSS bridge that is already containerized

[2022-01-29 23:30] humphd opened #2778 "Horizontal overflow when window at various sizes"
Something is causing horizontal overflow.  When the window is not maximized, but still quite large, something is causing scrollbars to appear, and the content jumps.

https://user-images.githubusercontent.com/427398/151680939-53c8544c-6a5e-43ff-ad0a-2da7df66c209.mov

[2022-01-30 14:24] humphd commented on #2444
We're landing support for this in Satellite with https://github.com/Seneca-CDOT/satellite/pull/48, so we can move forward on this as soon as ship an update.

[2022-01-30 14:44] humphd commented on #2604
Bumping this, as it's causing blogs from Tim, Anatoliy and others to not show on Telescope.  We need to prioritize getting this solved ASAP and ship a fix in 2.6.

[2022-01-30 15:22] TDDR commented on #2604
I have spent some time on this with little progress. Here is a [thread in slack](https://seneca-open-source.slack.com/archives/CS5DGCAE5/p1642437293064200?thread_ts=1642433438.063900&cid=CS5DGCAE5) for some more context.

I'm not the best at using the Visual Studio Code debugger so I would be interested in maybe doing a [LiveShare](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare

[2022-01-30 16:03] menghif commented on #2778
It seems to be caused by the GitHub info sidebar:
https://telescope.cdot.systems/search/?text=Testing%20many%20repos/issues&filter=post

[2022-01-30 16:09] HyperTHD commented on #2777
This sounds like alot of work that's really unnecessary. The only service blocking the backend folder from being deleted is the parser service. I get wanting to make more use of turborepo, but considering it'll eventually be deleted, this just sounds like work we can ignore no?

[2022-01-30 16:16] humphd commented on #2777
It's a fair question.  The reason I think that this is a valuable exercise is that it helps the current team to define the boundaries of the old vs. new code.  Doing this work will be necessary in order to remove the old code, and if we don't know where it is, it's hard to do.  Getting rid of the backend isn't quite as simple as turning on the parser service and deleting `src/backend`, as you can

[2022-01-30 16:17] DukeManh commented on #2710
I can't replicate this anymore. I am closing this and will open it when it happens again.

[2022-01-30 16:17] #2710 closed

[2022-01-30 16:25] DukeManh commented on #2672
This warning comes from 'react-use/useMedia' hook. Basically, 'useMedia' hook is asking for a default state otherwise the browser will fall back to `false` when server-side rendering which might not match the client's state.

[2022-01-30 16:32] humphd commented on #2778
cc @sirinoks

[2022-01-30 18:35] #2739 closed

[2022-01-30 18:36] TueeNguyen commented on #2680
* It looks good, it'll work fine on desktop but I'm thinking how can we squeeze these information in mobile view.
* Does the share button copy the youtube link to the clipboard or it does something else?

[2022-01-30 18:36] #2672 closed

[2022-01-30 18:38] tpmai22 commented on #2680
@TueeNguyen I belive we share the youtube video on social platform ?

[2022-01-30 18:46] tpmai22 commented on #2680
@dbelokon I love th idea but same with @TueeNguyen we might need to find a way to squeeze them in but not making it too overwhelmed for the users

[2022-01-30 22:15] humphd commented on #2604
cc'ing back-end folks @TueeNguyen, @nguyenhung15913, @tcvan0707, @AmasiaNalbandian, @joelazwar, @dbelokon, @JerryHue  + sheriffs @sirinoks, @aserputov.

Here's how I'd approach this debugging.

We have 2 blogs that we know are not going to Telescope:

[code]

1. I'd create a hacked-up local version of https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List#Feeds that only includes those two

[2022-01-30 23:56] dbelokon commented on #2680
@tpmai22, @TueeNguyen

I think we can use symbols instead of the words to condense the information.
The YouTube logo can be used for the link to the channel, an eye icon can be used for representing the views, the share icon can be used to represent sharing, and the subscribers can be a [profile icon silhouette](https://www.flaticon.com/free-icon/user-silhouette_63699).

The share button can promp

[2022-01-31 15:39] #2697 closed

[2022-01-31 17:35] #2515 closed

[2022-01-31 20:03] humphd commented on #1743
@TDDR has done great work getting us to the point of being able to do this.  However, I've discovered that the CDOT org isn't allowed to publish to the GitHub Package Registry

As I see it, our options are:

1. move Telescope to its own GitHub org that is totally open (no private repos).  This is going to cause a bit of churn while we get all kinds of things set up again with automation, permissio

[2022-01-31 21:16] manekenpix commented on #2650
Closed via #2756

[2022-01-31 21:16] #2650 closed

[2022-02-01 01:42] AmasiaNalbandian commented on #2708
@TueeNguyen  Let's make a new issue for this. They are around the same area, but they are not the same. It should be really good first issue!

[2022-02-01 01:59] aserputov commented on #2730
@dbelokon we need to find another library.

[2022-02-01 02:00] tpmai22 commented on #2730
@aserputov any reason for that ?

[2022-02-01 02:02] AmasiaNalbandian opened #2786 "Add 'steps to test' in PR templates"
**What would you like to be added**:
We need to add a mandatory section for the PR templates to indicate how to test.

**Why would you like this to be added**:
Most of the time I want to review the PRs but I have no idea how. I waste a lot of time opening PRs and looking at the code with no idea how to test it because I've never been to that part of the code.

If a contributor is able to push new

[2022-02-01 02:06] aserputov commented on #2730
As @tpmai22 said, let's try `React Native Elements`

[2022-02-01 02:32] #2786 closed

[2022-02-01 03:04] #2707 closed

[2022-02-01 03:33] dbelokon commented on #2730
So, we are going with `React Native Elements`? I am not sure what the reason for it, since @tpmai22 was also wondering for the reason.

[2022-02-01 03:36] humphd commented on #2730
This hasn't been communicated well in the issue.  Today @aserputov, @menghif, and I tried to integrate Native Base UI into our tree, and it's not possible.  They seem to have bugs with the current version of React Native.  Because we had an alternative choice, we thought to try that instead.

However, it others can make Native Base UI work, we're happy to take the PR.  We just got stuck on getting

[2022-02-01 03:40] aserputov commented on #2730
@humphd can't agree more, my bad. That's a much better way than texting everybody explanations on slack

[2022-02-01 03:52] TueeNguyen commented on #2111
Josue helped me fix a bug and parser service now processes feed successfully. Next steps:

- add unit tests (most unit tests are available in [test folder](https://github.com/Seneca-CDOT/telescope/tree/master/test))
- e2e tests? (not sure if we can write e2e tests for this)
- containerize the parser service

[2022-02-01 03:53] humphd commented on #2111
We can do e2e tests for sure.

[2022-02-01 18:35] humphd opened #2791 "Expose Supabase via Traefik, nginx"
In #2743 we added a bunch of Supabase containers to our docker network.  This includes a few that we need to expose publicly:

- Kong API Gateway (access to all other internal containers) - http://kong:8000
- Web Studio (console) - http://studio:3000

You can start everything with `pnpm services:start` and then browse to http://localhost:8910 and http://localhost:8911, or do something similar on G

[2022-02-01 19:49] JerryHue opened #2792 "Set up Docusaurus"
**What would you like to be added**: I would like to have Docusaurus set up for Telescope.

**Why would you like this to be added**: So we can clean up the current documentation, as well as add pending ones like #2734.

This should also resolve #2746.

[2022-02-01 21:01] joelazwar commented on #1871
Working on this right now. Wondering if you could clear up a few questions I have regarding this issue.

I've written the code to sign and verify the tokens with the RSA algorithm to use public and private keys and the [e2e tests](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/sso/test/token.test.js) seem to work (_[JWT.io link](https://jwt.io/#debugger-io?token=eyJhbGciOiJSUzI1NiIsI

[2022-02-01 21:10] humphd commented on #1871
We'll need to generate a bunch of new key pairs for development, staging, production.  We'd pass these in via env variables, so your code can expect to read them from `process.env` somehow, and we'll have to update the docker configs to forward these variables into the container at runtime.

We'll also need to expose a JWKS endpoint on our sso (formerly auth) server, so all the miroservices can ge

[2022-02-01 21:11] humphd commented on #1871
In Satellite we do it here https://github.com/Seneca-CDOT/satellite/blob/3b0833360a91527df2fac7726fee806d289e8588/src/service-token.js#L19, and we need to upgrade this to use something like https://github.com/auth0/node-jwks-rsa/tree/61b5740b3846f74fa6d631be6712405700d9c163/examples/express-demo

[2022-02-01 21:27] humphd commented on #1871
https://sometimes-react.medium.com/jwks-and-node-jose-9273f89f9a02 is useful, as is https://github.com/DinoChiesa/Apigee-JWT-with-JWKS (see his video explanation).

NOTE: because all of our microservices are run together, we could also share this via env variables too vs. having them download via a URI.

[2022-02-01 21:42] humphd commented on #2792
It would be great to remove the About page and MDX stuff from our next.js front-end when we do this.  It's constantly breaking things.

[2022-02-01 22:49] humphd commented on #2604
I can't reproduce this bug locally.  I tried changing `src/backend/utils/wiki-feed-parser.js` to do this vs. download and read the planet feed list:

[code]

Then I set breakpoints in `src/backend/feed/processor.js`.

I deleted all the Redis data files in `./redis-data/*`

Then I ran Elasticsearch and Redis locally:

[code]

Next, I started the backend via VSCode's debugger, see [docs](https://git

[2022-02-02 00:02] menghif commented on #2659
Chrome 98 was released today and I can confirm that it fixed this bug. Closing Issue.

[2022-02-02 00:02] #2659 closed

[2022-02-02 00:06] AmasiaNalbandian opened #2793 "Migrate mdxjs to v2.0.0"
**What happened**:
mdxjs is breaking e2e in development since we can no longer build it.

**What should have happened**:
We can't build src/api
**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:
https://mdxjs.com/migrating/v2/
**Environment**:

- OS:
- Browser:

[2022-02-02 01:20] #2793 closed

[2022-02-02 01:45] dbelokon commented on #2680
Hey everyone! I've assigned this issue for 2.7, since we are still in the design process, probably going to finalize the design and implement for next release.

[2022-02-02 01:53] #2377 closed

[2022-02-02 04:24] #2691 closed

[2022-02-02 04:50] #2658 closed

[2022-02-02 05:41] TueeNguyen commented on #2604
I've been trying to debug this but all I've got so far is 200 and occasionally 503.

I let backend run with Tim's feed as the only feed to put Tim's feed into `Redis`. this `response` should return `status` 304 as the `etag` and `lastModified` weren't not null (pulled from Redis) but it didn't
https://github.com/Seneca-CDOT/telescope/blob/3311a26c9d0b8328c957f4906568425c325ff9a2/src/backend/feed/p

[2022-02-02 13:25] humphd opened #2799 "Use GITHUB_TOKEN env var in status service docker setup"
In #2789 we added Octokit for GitHub API calls to the status service.  In it, we use a `GITHUB_TOKEN` env var if present:

[code]

This requires us to define and forward this env var in docker.  We need to make a few additional changes:

- update all `env.*` files to include a `GITHUB_TOKEN=` line.   @manekenpix do we have this defined already on staging/production for the webhook (i.e., could we

[2022-02-02 13:28] humphd commented on #2604
Same for me (mostly 200s, a few 503s).

I'm going to close this as "not reproducible any more."  Thanks for looking into it with me.

I'll file another issue to wipe our Redis cache on staging/production, and free @TDDR's blog from the invalid queue.

[2022-02-02 13:28] #2604 closed

[2022-02-02 13:30] humphd opened #2800 "Clear Redis cache on Staging/Production to fix invalid feed URLs"
We have some student blogs that are marked invalid incorrectly (cc @TDDR), and I suspect that it was done before we updated how our invalid retry logic works now.

@manekenpix could you wipe the Redis cache on staging and production when we ship 2.6 to try and improve this?

[2022-02-02 13:49] sirinoks commented on #1743
I'm moving the second part of this issue for 2.7. Looks like there are some decisions to be made.

[2022-02-02 13:57] humphd commented on #1743
I'll file a follow-up on what remains vs. holding this, since @TDDR's part is actually done and merged.

[2022-02-02 14:13] humphd opened #2801 "Set up docker.cdot.systems Docker Registry"
Following-up from https://github.com/Seneca-CDOT/telescope/issues/1743#issuecomment-1026157483, we need a solution for pushing docker images from CI to a registry.  Our options seem to be:

1. use the [GitHub Package Registry](https://github.com/features/packages)
2. [host our own Docker registry](https://docs.docker.com/registry/deploying/) on staging/production

I don't think there is another (f

[2022-02-02 14:13] humphd commented on #1743
Filed #2801.

[2022-02-02 14:13] #1743 closed

[2022-02-02 14:14] sirinoks opened #2802 "Template for an ongoing Project"
Make a detailed template on what information has to be included in the main issue of a project.

You might have noticed a new project template already exists. The difference will be that the active project should already have a bunch of information available, as opposed to a vague and limited new project. Eventually such an issue, once the project is completed will be put in the docs without many

[2022-02-02 14:29] TDDR commented on #2526
Waiting on #2801

[2022-02-02 14:34] sirinoks commented on #2737
#2736 can be done for 2.6 (eslint)
For the next steps legacy back end needs to be sorted first
For each micrososervice we have there needs to be a config
A bunch of issues/a checklist needs to be made for each microservice

[2022-02-02 14:43] humphd opened #2803 "Create a base Docker image for our microservices"
In #2796 we're starting to use `pnpm` in our microservice Dockerfiles.  Instead of repeating this same change to a dozen Dockerfiles, let's create a base Telescope Service Docker image that includes everything we need for any of our Microservices.

I've done a bunch of updates to how a Dockerfile should look in https://github.com/Seneca-CDOT/telescope/blob/master/src/api/sso/Dockerfile, which we c

[2022-02-02 14:57] #2745 closed

[2022-02-02 15:21] raygervais commented on #2803
I love the idea, will review and advise this week!
Are we worried at all about space complexity? Asking because I know you also want to push to an image repository

[2022-02-02 15:23] humphd commented on #2803
Space is a concern, yes.

Also, reducing complexity/duplication of what we put in each of the microservice.  I think having an LTS node + global deps + process runner package, labels, and whatever else is common all in this one Dockerfile that lives in `src/api/Dockerfile` or something would be great.

[2022-02-02 15:32] humphd opened #2804 "Better routing for Traefik services that serve static content"
We're using [Traefik](https://doc.traefik.io/) to handle routing for our microservices.  Requests come into Traefik, and it routes them to containers based on URL path prefixes: `/v1/posts/*` gets routed to a docker container, etc.  When the request is forwarded to the container, we strip the path prefix, so a request to `/v1/posts/1234` would show up in the container as `/1234`. This works really

[2022-02-02 17:37] #2379 closed

[2022-02-02 18:00] aserputov commented on #2737
I changed this issue to 2.7, but decided that maybe we can finish issue #2805 for 2.6.

[2022-02-02 18:04] sirinoks commented on #2737
O, ok, someone's is working on it

[2022-02-02 19:31] humphd commented on #1871
You've got it.  The sso service will sign the JWTs, and also have an endpoint for getting the JWKS.  The Satellite code will be updated with middleware to automatically do the verification step using the key it downloads from the sso service (on startup).  Almost all of this will be invisible and automatic inside Satellite.

[2022-02-02 19:34] #2679 closed

[2022-02-02 19:35] #2728 closed

[2022-02-02 19:46] Kevan-Y commented on #2803
Do we want to create that base image and upload it to the GitHub docker registry?

[2022-02-02 20:17] humphd commented on #2803
Yes, we will add it to the other images we put up in a registry, see #2801 for discussion.

[2022-02-02 21:05] humphd commented on #2791
The Supabase front-end needs this to reach its API gateway (it can't hit http://kong:8000):

<img width="1179" alt="Screen Shot 2022-02-02 at 4 04 45 PM" src="https://user-images.githubusercontent.com/427398/152237176-02a3388d-7ce6-413c-a74b-6436e81747f8.png">

[2022-02-02 22:09] DukeManh commented on #2791
The API page doesn't work anyway, can you access the /users or/tables page?

[2022-02-02 22:39] humphd commented on #2791
Yeah, they all resolve OK

[2022-02-02 23:51] #2804 closed

[2022-02-02 23:56] humphd opened #2810 "Staging won't build due to invalid docker-compose: rss-build"
[code]

I don't know exactly what this is, maybe the `-` in the name?

[2022-02-02 23:58] humphd commented on #2810
[code]

[2022-02-03 00:04] humphd opened #2812 "Validate docker-compose files in CI"
I ran into an issue tonight with an error in our docker-compose files (#2810), and the fix was trivial (#2811) once I knew what I was looking for.

Validating a docker-compose file or files is easy using the `config` command:

[code]

This will print any warnings or errors, and fail if the file(s) isn't valid.

I wonder if we should add this locally to our linting, or to CI somehow?

[2022-02-03 00:12] #2810 closed

[2022-02-03 01:51] #2380 closed

[2022-02-03 05:35] #2611 closed

[2022-02-03 08:28] cindyledev commented on #1873
Resolved in #2748. New issue opened to address creating Dockerfile template for all microservices in #2803

[2022-02-03 08:28] #1873 closed

[2022-02-03 08:35] cindyledev commented on #1837
Is this still relevant?

[2022-02-03 08:40] cindyledev commented on #2803
Nice info for best practices from Snyk recommendations in #1668 :)

[2022-02-03 08:43] cindyledev commented on #1726
We don't use Dependabot anymore. Perhaps look into Renovate badge?

[2022-02-03 08:51] cindyledev commented on #2555
Are we still investigating Supabase? I see it has been added to Telescope in #2743

[2022-02-03 08:55] cindyledev commented on #1082
Is this still a problem?

[2022-02-03 12:50] humphd commented on #1837
Yes, it's never been done.

[2022-02-03 12:51] humphd commented on #2555
Agree, closing.

[2022-02-03 12:51] #2555 closed

[2022-02-03 12:52] humphd commented on #1082
I don't think we've ever fixed this, no.  It would need to happen in nginx's config I think.

[2022-02-03 13:33] humphd commented on #2605
The place where this needs to happen is in https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/src/server.js#L34-L49.  We need to add the `dev.api.*` origin to our list so it can connect.

See https://github.com/helmetjs/helmet for docs on how to do this.

cc @sirinoks, @joelazwar.

[2022-02-03 13:36] humphd commented on #2801
We're discussing doing this on the Thursday before study week, and then fix things over the break.

[2022-02-03 14:09] sirinoks opened #2814 "Supabase issues"
# What issues to make

If you see an issue on a described topic already made, or you have made an issue, tick the checkbox and link the issue by editing this post!

### Notes from the meeting:

- [x] Row level security - database tokens
- [x] #2822 Backups - do one and restore form it
- [x] Migrate feeds from the wiki
- [x] Feed parser to use supabase table
- [x] Delete user service once we migrat

[2022-02-03 14:13] sirinoks commented on #2765
#2801 Should be done during study week, since that will be the time when all the work on issues is paused.

[2022-02-03 14:22] TueeNguyen opened #2815 "Making build log terminal scroll to the bottom"
**What would you like to be added**:

Whenever there's a build happening, the build log does update but it doesn't scroll down to the bottom to display the latest changes.
We can investigate this function
https://github.com/Seneca-CDOT/telescope/blob/63f41451f07def7eca20521ea728d1c2ef5d81be/src/api/status/public/js/build-log/check-for-build.js#L31-L44

**Why would you like this to be added**:

For

[2022-02-03 14:32] cindyledev commented on #1837
The link in the issue was broken because the filename and path changed. Here are the lines currently

https://github.com/Seneca-CDOT/telescope/blob/master/config/nginx.conf.template#L246

https://github.com/Seneca-CDOT/telescope/blob/master/config/nginx.conf.development.template#L159

[2022-02-03 14:48] cindyledev opened #2816 "Some lines in the package.json file in /src/web need to be moved back to the top of the file"
**What happened**:
As a side effect of #2795, the name, private, scripts, version properties were moved to the bottom of the file.

https://github.com/Seneca-CDOT/telescope/blob/master/src/web/package.json#L40-L47

**What should have happened**:

They should be at the top.

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2022-02-03 15:30] humphd opened #2818 "Build log dashboard doesn't always show build log"
While we were shipping 2.6.0 and 2.6.1,  I wasn't able to get the build log to show.

I notice there's an error in the console:

[code]

[2022-02-03 15:58] HyperTHD opened #2819 "Redis container not populating with posts from bull queue"
**What happened**:
When running the backend, redis does not appear to be grabbing the new feeds/posts from the bull queue, and as a result, the redis database is empty.

**What should have happened**:
The backend should populate the redis database with new posts, so that the posts service can obtain them and pass to the frontend. It should also continuously update the redis database as long as the

[2022-02-03 16:56] humphd commented on #2819
You have to run `npm start` to get the back-end parser to run and populate the Redis db after you start the services.

[2022-02-03 18:16] sirinoks commented on #1026
Whoever was a part of the podcast before, I want to start streaming about Telescope. If anyone is interested in being there, let me know.

[2022-02-03 18:22] humphd commented on #1026
This was mainly @cindyledev, @raygervais, @manekenpix, @Grommers00, @agarcia-caicedo  I think.

[2022-02-03 18:35] Andrewnt219 commented on #2818
If we ignore all the stuff in node_modules, and we don't use bootstrap-notify, these lines are very likely the cause.

https://github.com/Seneca-CDOT/telescope/blob/dbf5d245111954c97e2730e6bfa77fc566573527/src/api/status/public/js/build-log/build-header.js#L27-L30

[2022-02-03 18:38] humphd commented on #2818
Yeah, that's it.  The change in how we do the `sha` for a build has broken this (we don't send `after` any more).  We should use `build.sha`:

https://github.com/Seneca-CDOT/telescope/blob/dbf5d245111954c97e2730e6bfa77fc566573527/tools/autodeployment/builds.js#L34-L46

[2022-02-03 19:19] humphd opened #2822 "Supabase backup strategy"
We're adding Supabase, and going to start keeping data in it.  It includes a postgres db and an object store.  We need to figure out how and where to back these up.

I think we can use any [postgres backup tool/technique](https://www.postgresql.org/docs/9.1/backup.html).  I don't have any experience with these, so I can't recommend anything.

According to https://supabase.com/docs/guides/database#

[2022-02-03 19:19] sirinoks commented on #1026
I will post a link on Slack when I will do this. Otherwise, talk to me there before it, so we can maybe plan

[2022-02-03 19:26] humphd commented on #2801
According to https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository, this should mostly work:

People will need to update their `upstream` remote with `git remote set-url origin new_url`.

I think people with access will still retain it too, though, we might need to tweak permissions and teams.  I'm not sure what's going to happen with Projects, especi

[2022-02-03 19:36] sirinoks commented on #2822
What data do we need to keep?
How do we store it right now? Where in the repo is it located currently?

[2022-02-03 19:38] humphd commented on #2822
We don't know what we'll keep in there exactly.  Currently we store everything in Redis (User info, Feed info, Post info).  We can likely move Users and Feeds to postgres, but this is beyond the scope of this issue (i.e., we have to solve that first).

Beyond that, Supabase stores its data in postgres, so we need that data too.  The entire db needs to get backed up, whatever we put in it.

[2022-02-03 19:55] HyperTHD commented on #2819
I should've mentioned in the instructions to run the backend afterwards, but unless there's a specific amount of time to wait, there's no change to the redis db

[2022-02-03 20:45] humphd commented on #2819
Do you have `MOCK_REDIS=1` set somewhere?

Try logging `process.env` when your server starts, to see what it's using.

[2022-02-04 01:21] humphd commented on #2801
I looked to see what we could create.  The following team names (e.g., XXXX/telescope) are (currently) available:

- SenecaOpen
- OpenSourceCourse
- LearningOpen
- PlanetSeneca
- SenecaCodes
- code4seneca
- osd-dps
- SenecaBlogs

Other ideas?

[2022-02-04 01:23] Kevan-Y commented on #2801
I love `PlanetSeneca` name

[2022-02-04 01:35] sirinoks commented on #2801
I don't really like having Seneca in name, `OpenSourceCourse` sounds so generic to be available.. Voting for that

[2022-02-04 01:51] #2760 closed

[2022-02-04 02:05] DukeManh commented on #2815
Hey, I think this can be achieved with CSS `column-reverse` to treat the flow of the content in a reversed direction.

[2022-02-04 03:21] DukeManh commented on #2801
I really want to stick with Seneca-CDOT, but I'll go with SenecaOpen if I have to choose.

[2022-02-04 03:49] TueeNguyen commented on #2815
Thanks, tho you didn't let me figure it out : D

[2022-02-04 04:11] DukeManh commented on #2815
Oops, I was steering you in the CSS direction vs JS.

[2022-02-04 06:16] manekenpix commented on #2800
Done!

[2022-02-04 06:16] #2800 closed

[2022-02-04 14:48] #2737 closed

[2022-02-04 15:12] humphd opened #2826 "Add tests for dependency service"
In #2797 we are adding a dependency service, and it currently has no tests.  Let's get initial tests for the HTTP route it exposes (`/projects`) as well as the health check.

[2022-02-04 15:20] humphd opened #2827 "Get and expose npm + GitHub data for dependency packages"
In #2797 we are adding a dependency service, and it currently only includes package names.  Let's add a way to expose both npm and GitHub data for a package.

For npm, we can query the npmjs registry programmatically. For example, you can get the package info for React using https://registry.npmjs.org/react. This will return everything we need in JSON format.

Here are some docs:

- https://github

[2022-02-04 15:22] humphd opened #2828 "Write tests for dependency service's GET /projects:name route"
Write tests for #2827.  This will require us to mock (e.g., nock) responses from the GitHub API and npm registry, and make sure that we get back data in the form we expect for a given package name.

For example:

[code]

This should return JSON with all the data we want from GitHub and npm on the React package.  The exact format of the data will be decided in #2827.

[2022-02-04 15:28] humphd commented on #2511
`api.telescope.cdot.systems/:1 Refused to connect to 'http://api.telescope.cdot.systems/v1/status/status/' because it violates the following Content Security Policy directive: "connect-src 'self' *.fontawesome.com https://telescope.cdot.systems *.github.com".`

I can't get the status checks for our API servers to work in the dashboards due to this.

[2022-02-04 15:30] humphd opened #2829 "Add new endpoints to status dashboard: dependency service, rss-feed, docs"
We're adding, or have added, a bunch of new services that we should include in the status UI to show when things are up/down on staging and production.  The code for this is currently in https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/src/services.js.

Let's include:

- `rss-feed` container at `v1/rss-feed` (it doesn't have a `/healthcheck` but it does have an `index.html` that

[2022-02-04 15:31] humphd opened #2830 "Dockerize dependency service"
In https://github.com/Seneca-CDOT/telescope/pull/2797 we are adding a dependency service, and we need to dockerize it, and connect it to our Traefik API gateway for routing.

There are lots of examples of how to do this with other services.

[2022-02-04 15:57] humphd opened #2831 "Extract and store GitHub URL data in parser service"
In #2827 we're adding support for dependency information from npm and GitHub.  We'll have the ability to query for any data we need about a package we use.

At the same time, we have thousands of old blog posts that include URLs to GitHub projects, Issues, and Pull Requests.  Let's extract and index all this GitHub project data in the parser service.

Currently when we parse a post, we store the d

[2022-02-04 16:02] humphd opened #2832 "Add route(s) to search service to query for GitHub info in blog posts"
In #2831 we're adding the ability to extract and store info about every GitHub user/org, repo, issue, and PR that people have blogged about in the past.  I'd like to be able to search for this data in Telescope.

For example:

- show me all posts where someone discussed a repo belonging to the Microsoft org
- show me all PRs to a Mozilla org repo
- show me all the Issues we've written about relate

[2022-02-04 16:03] humphd opened #2833 "Write tests for GitHub search queries in search service"
In #2832 we're adding route(s) to the search service to allow querying for GitHub data.  This needs proper tests.  These tests can be written before/after or in parallel with development of the feature.

[2022-02-04 16:04] humphd opened #2834 "Add search UI for querying by GitHub data"
In #2832 we're adding routes to the search service to allow querying by GitHub data in old student posts.  We'll also need updates to our UI (web/mobile) to let us use this.

[2022-02-04 16:06] humphd commented on #2831
Another thing that might be interesting is to pull down data about the project/issue/pr from GitHub and store that too.  For example, with a PR, was it merged?  Who wrote the code?  How much code was added/removed?  What language(s) does the project use (JS vs. C++).

[2022-02-04 16:07] humphd commented on #2831
Getting this data from GitHub overlaps with our dependency service, see #2827, and we might be able to connect these somehow?

[2022-02-04 16:34] humphd commented on #2803
While looking at some other code, I noticed how we are using `tini` in the web Dockerfile: https://github.com/Seneca-CDOT/telescope/blob/master/src/web/Dockerfile#L14-L23

This shows a good example of how to run `tini` in a base layer that gets invoked in a subsequent layer, as the docs describe: https://github.com/krallin/tini#using-tini

Our base image can do something like this.

[2022-02-04 16:36] humphd opened #2835 "Improve size of web Dockerfile"
In our `src/web/Dockerfile`, we can use a smaller nginx image:

https://github.com/Seneca-CDOT/telescope/blob/master/src/web/Dockerfile#L56

That could be `nginx:stable-alpine`.  I'm not sure if we have other `nginx` layers anywhere that we could update as well.

[2022-02-04 16:48] JerryHue commented on #2827
I think we can go with a mix of both.

GitHub data is going to be very dynamic. There are some projects that constantly get new issues, as well as close some issues, and so on.

On the other hand, the `npm` data is not that dynamic. Unless there are some extreme circumstances (the package gets completely removed from `npm`), the `npm` package metadata is going to be the same for a long time.

So I

[2022-02-04 17:07] #2738 closed

[2022-02-04 17:11] humphd commented on #2827
I agree, the data is both stable and dynamic, and our fetching and data backend can reflect that.

NOTE: you're describing something very similar to how our RSS feed parser works.  We have a queue in Redis managed via JS with [BullMQ](https://github.com/taskforcesh/bullmq).  It lets us add jobs, and process them over a long period of time using worker processes.

You could easily add another queue

[2022-02-04 17:16] JerryHue commented on #2830
The `dependency-discovery` service is a little bit special:

it requires a text file called `deps.txt`, which gets generated by `toosl/pnpm-deps-gen.sh`. However, to run this file you need:

* `pnpm` installed
* the whole Telescope project
* `node_modules` for each one of these projects

to run it successfully.

The way I am thinking to generate this is:

* copy the whole Telescope project into th

[2022-02-04 17:21] humphd commented on #2830
This is an interesting problem.  I think we should solve it in a simple way to begin: run the command outside the Docker container and copy the `deps.txt` file in.

I'd run your script in our `deploy.sh`, maybe here https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/deploy.sh#L12, and put the file in the right location so that it can be found when we build the dependency ser

[2022-02-04 17:26] JerryHue commented on #2830
That approach would be the most ideal, but sadly I think it only fits for deploying.

For development, we would have change other files to generate `deps.txt` prior to the docker building: maybe changing `tools/services.js` to call this script.

[2022-02-04 17:28] humphd commented on #2830
Another option we could consider is adding this script to a `preversion` step, and store the file in git when we `tag` a new version.  So we'd focus on deps for our latest deployment, but you can always re-generate it when we deploy.  That way it would be in the tree, but also constantly updated, too.

I think that running this any more often than when we tag might be too much.

[2022-02-04 17:35] JerryHue commented on #2830
That sounds wonderful. I don't think the `depedendency-discovery` service has to keep track of the dependencies added in between release, just right before the release, so this fits perfectly.

[2022-02-04 17:40] humphd commented on #2830
So the only issue I see with this approach, is that your script depends on being run in a POSIX shell.  If students are trying to do the release on Windows, it will fail.

We could run your script in our [release workflow](https://github.com/Seneca-CDOT/telescope/blob/master/.github/workflows/release.yml), but by then the git `tag` is already created (it's too late).

However, we could write a lit

[2022-02-04 17:56] humphd opened #2836 "Supabase auth crashing in supabase/gotrue container, missing supabaseUrl"
When I start the docker services (`pnpm services:start`) and look at the running containers, I notice that the `supabase/gotrue` container is restarting.  Looking at its logs I see:

[code]

It looks like we aren't setting the `SERVICE_ROLE_KEY` and `SUPABASE_API_URL` in some part of our code where it's expected.

[2022-02-04 18:02] JerryHue commented on #2830
I think we could write a JS script so that it is portable.

When I was writing #2797, I wanted to write a JS script, but back then I was using `pnpm list --depth=Infinity`, so I couldn't place the whole thing into RAM. However, now that the depth is just 0, I think I can write this in a simple way without worrying about performance.

[2022-02-04 20:06] humphd opened #2837 "Switch Users service back-end from Firebase to Supabase"
Our current [Users service](https://github.com/Seneca-CDOT/telescope/tree/master/src/api/users) uses Firebase.  The person who knows it best is @chrispinkney.

It works in conjunction with the sso (formerly auth) service, and provides a user profile, and feed storage, for our Telescope users.  We differentiate a "user" as:

- Seneca user: someone who can login on Seneca's SSO system (e.g., any stu

[2022-02-04 21:06] DukeManh commented on #2836
The problem is gone after I rebuild the SSO service, I bet I was because I changed the env var from `SUPABASE_API_URL` to `SUPABASE_URL`.

[2022-02-04 22:38] humphd commented on #2836
I removed all the sso/auth images locally, and rebuilt.  It still happens the same way for me.  What am I missing?

[2022-02-04 22:45] humphd commented on #2836
OK, I got it.  I didn't blow away the gotrue container.

I looked at the other services' logs, and this one is interesting too from `supabase/storage-api`:

[code]

They have some kind of a bug that we could help fix.

[2022-02-04 22:45] #2836 closed

[2022-02-04 23:39] humphd commented on #2735
This doc is really useful for understanding how Supabase uses JWTs:

https://supabase.com/docs/learn/auth-deep-dive/auth-deep-dive-jwts

Specifically:

The `anon key` is OK to put in browser JS (e.g., it's not a secret).  You send it with API requests when you talk to the database.  It's signed, and you can't get passed Kong (the API gateway) without it.  It depends on there being row-level securi

[2022-02-05 01:09] manekenpix commented on #2830
I thought about this a bit and I came up with different approach.

We could try to take advantage of `Satellite` and the upcoming `dockerfile` template to achieve part of the work that needs to be done for this.

Consider this at a service level (it'd happen inside of every microservice):
- A different version of the `pnpm-deps-gen.sh` could run locally in every service at launch and collect infor

[2022-02-05 01:40] humphd commented on #2830
The only issue I can see is that not all aspects of our system are based on Satellite: web and docs, for example.  We'd have to figure out how those would get added.

[2022-02-05 02:21] #2778 closed

[2022-02-05 04:01] DukeManh commented on #2837
Is it a good idea to have a dedicated users service when we could access the user's profiles directly through the Supabase-js client?

[2022-02-05 04:24] #2818 closed

[2022-02-05 04:47] HyperTHD commented on #2819
The mock_redis variable is empty as it should. My redis container is also not getting any feeds either so the bull-queue is not sending any feeds it's processed either. Looking at the new info route added shows that it's empty. Perhaps because it's not in use right now
This is very hard to say where exactly, mainly because no one is able to reproduce. Only thing I can think of is that the redis ur

[2022-02-05 05:08] manekenpix commented on #2819
@HyperTHD can you share a branch or something so we can take a look?

[2022-02-05 12:29] joelazwar commented on #2735
Did some reading, couldn't find anything on RSA or public/private keys for JWTs in Supabase. I definitely agree with you though, let's use Supabase's token issuer to supply the JWT for all our services.

[2022-02-05 14:55] humphd commented on #2837
I think Users can wrap around Superbase-js, and secure access to the key we have to send to Supabase.  My reading into auth with Supabase leads me to believe there's no simple path for us to do sign-up flows from the browser with Supabase.  We have to backdoor our way into the database with admin rights.  And doing so will require us to wrap our calls in server-side requests.

[2022-02-05 15:12] humphd commented on #2819
Do you have an `.env` file?  We stopped using them a while back, but if people have them in the root, we still honour it.  I wonder if that's causing something?

[2022-02-05 15:17] humphd opened #2842 "Build log not filling vertical space"
The build log dashboard isn't filling the whole vertical space for me:

<img width="1210" alt="Screen Shot 2022-02-05 at 10 17 08 AM" src="https://user-images.githubusercontent.com/427398/152647678-e7f00543-b0dc-4d38-aa99-e0a1ca619158.png">

[2022-02-05 16:23] humphd opened #2843 "Allow users to include Twitch channels in sign up"
We added RSS-Bridge to our system, and it lets you create feeds for various services that don't support it.  For example, Twitch channels.

You can access our instance at https://dev.api.telescope.cdot.systems/v1/rss-bridge/

If a user signs up for Telescope and has a Twitch channel, we should let them put in their Twitch channel info, then construct a URL to use our RSS-Bridge instance so we can

[2022-02-05 16:59] dbelokon commented on #2680
I was thinking to do what YouTube does when clicking on a share button. But it depends how complicated we want our design to be. We could do what they currently have:

![image](https://user-images.githubusercontent.com/67607236/152648979-350e6624-1561-4fd9-a9d2-551adc61e9c1.png)

But maybe only allowing to share on Facebook, Twitter, WhatsApp, Email and have it Embeded. Since these are most common

[2022-02-05 17:10] dbelokon commented on #2680
Design for mobile view:

![image](https://user-images.githubusercontent.com/67607236/152651219-8fe43136-e15c-4233-bfcf-b60479976be7.png)

When you click on the YouTube icon, it will redirect you to the YouTube channel
After clicking on the [profile icon silhouette](https://www.flaticon.com/free-icon/user-silhouette_63699), it will show the number of subscribers
The eye icon will show the number of

[2022-02-05 19:00] TueeNguyen commented on #2680
The sharing might require extra effort, but it's doable. For the mobile view, it only takes one extra row, that is ok by me.

[2022-02-05 19:28] dbelokon commented on #2680
yeyy I am gonna start implementing then. I will see how it goes, maybe we won't even need to make such a complex sharing system

[2022-02-05 19:36] tpmai22 commented on #2680
Like for me I love the idea ! It just make `Telescope` more and more convenient place for the users. Let implement this and see how it would fit in

[2022-02-05 19:50] DukeManh commented on #2837
@humphd, I've played around with it a bit and this is what I think would work.
 - Disable Supabase sign-up because we are not handling user credentials ourselves
 - Make `Telescope_users` table that use SSO user's id as primary key
 - When users login/register, look up the table to see if they have been registered with Telescope
 - Sign users info and send back the JWT to the client

[2022-02-06 01:06] HyperTHD commented on #2819
It's the master branch that this is causing for me, but I'll make a branch and share it.
[This should be fine](https://github.com/HyperTHD/telescope/tree/REDIS_BUG)

I do still use the `.env` file since the backend parser needs it to start, I was shocked that the microservices still work without it, but no luck still regarding any problems it might have caused

[2022-02-06 03:10] #2731 closed

[2022-02-06 03:25] TueeNguyen commented on #2111
I did some comparison between `backend` and `parser` today, I see that `parser` doesn't have `admin.js`, `user.js`, `stat.js`, does `parser` need these files or these functionalities are handled somewhere else? (Later is probably correct) @manekenpix @chrispinkney @humphd

![image](https://user-images.githubusercontent.com/58532267/152666515-8cbece4b-1818-4658-813e-7e2c6fc7dfc7.png)

![image](http

[2022-02-06 04:58] JerryHue commented on #2511
So, I think these two issues are actually not related, amusingly enough.

The first issue is:

There are two important clues:
* The word `inline`. This might refer to several things, such as "style attribute, onclick, or script tag bodies (depends on the context of the source it is applied to) and javascript: URIs". I quoted directly from the [CSP website](https://content-security-policy.com/#sour

[2022-02-06 06:04] JerryHue commented on #2842
For the person who is interested on approaching this:

The build page uses `xterm.js` to show that terminal look alike. This means that a few CSS changes will not be ideal. It is preferred to use the `xterm.js` API. We may use the `resize()` function:

[code]

I am not really sure how we will get the number of rows, but we will figure it out!

[2022-02-06 06:34] manekenpix commented on #2111
@TueeNguyen the parser service doesn't need those files. `admin` and `user` are now part of `sso`, and `stat` used to display info in the hero banner, but we don't use it anymore (the idea is make `status` do that work).

[2022-02-06 07:16] manekenpix commented on #2819
@HyperTHD everything seems to be ok running your branch.

![Peek 2022-02-06 02-10](https://user-images.githubusercontent.com/23108901/152671077-3609cec6-8ff6-4ffe-ba72-a3d3c695f82e.gif)

These are the steps I took to run telescope, in case you want to try:
- clone your repo
- `git checkout REDIS_BUG`
- `cp config/env.development .env`
- `pnpm i`
- `docker-compose --env-file config/env.development

[2022-02-06 07:56] JerryHue commented on #2842
So I went ahead to figure this out, and it was surprisingly simple.

The terminal is just a bunch of rows, so if we get the size of a single row, and then calculate how many rows it would take to cover a certain height, we would be able to resize the terminal with no problem!

## What we need

To calculate the number of rows required, we would need to know the height of a single row, as well as th

[2022-02-06 08:19] JerryHue commented on #2830
The way we decided while writing #2838 was a script that gets run before the `pnpm run version` command. So, we wouldn't really have to depend on the `autodeployment` tool to run the script.

However, the idea itself does sound promising. One genuine concern is the one that @humphd mentions: the front-end and the docs are not really based off of Satellite, and I am not sure how easy it would be to

[2022-02-06 08:56] JerryHue commented on #2815
I am wondering, is it possible to use `flex` on this? The `xterm.js` uses canvas to draw the text, so I am not really sure if CSS can be applied here.

I think we would have to interface with the [`xterm.js` API](https://github.com/xtermjs/xterm.js/blob/master/typings/xterm.d.ts) to be able to scroll to the latest changes.

[2022-02-06 14:28] humphd opened #2848 "Use pino-dev transport for better log formatting"
I was working on another project, and needed to improve the logs for better debugging.  I tried https://github.com/dnjstrom/pino-dev and it's really nice.

Given that we don't currently have a good way to use our JSON formatted logs, I think we should consider using this by default in Satellite.

[2022-02-06 15:48] humphd opened #2849 "Figure out why we have notion.so webhooks"
Last week we suddenly had 2 new [webhooks installed in the repo](https://github.com/Seneca-CDOT/telescope/settings/hooks/):

![image](https://user-images.githubusercontent.com/427398/152688907-5102f1e5-974f-4b7d-83db-1084ce0c863c.png)

I don't know what these are for, and I'd like to understand why they are here.  A webhook is used to send data to a web server whenever some GitHub event occurs.  I

[2022-02-06 16:01] humphd opened #2850 "Tim's blog not showing up in Telescope"
@TDDR is [writing some great stuff](https://dps909tddr.tech.blog/container-registry-101/), but none of it shows up in Telescope.  There's something wrong with how the feed is being generated: https://dps909tddr.tech.blog/feed/ is empty, which is why Telescope has no data.

I want to see this fixed so that we get this info in front of the community.  Maybe there's a fix to be done on the WordPress

[2022-02-06 16:02] humphd commented on #2850
We have this in our feed list, btw:

[code]

[2022-02-06 16:18] DukeManh commented on #2815
That's true xterm uses an HTML canvas and draws text to it, so CSS won't help here.

[2022-02-06 16:30] JerryHue commented on #2850
Could we generate Tim's feed with `rss-feed`? They already seem to have a bridge for it.

[2022-02-06 17:03] TueeNguyen commented on #2815
Thanks for the suggestion

[2022-02-06 21:06] #2511 closed

[2022-02-06 21:27] TueeNguyen commented on #2725
Is there a way I can add this bot to my fork and test? Or how do I test it?

[2022-02-06 22:59] DukeManh opened #2852 "Renovate: Reached branch limit - skipping branch creation"
**What happened**:

Renovate doesn't make any dependency PRs for Telescope this week, despite having the same configuration as Satellite.

**Anything else we need to know?**:

Looking at the [logs](https://app.renovatebot.com/dashboard#github/Seneca-CDOT/telescope/572147471), it looks like Renovate is hitting the branch creation limit and has to skip PR creation.

[2022-02-06 23:04] DukeManh commented on #2725
@TueeNguyen, it is configured to not create PR for forks so I don't know how to test it in your own branch.

But it has a dashboard where you can watch PR creation processes and debug. https://app.renovatebot.com/dashboard#github/Seneca-CDOT/telescope/572147471.

You can also trigger Renovate checks on the repo manually in #2638

[2022-02-06 23:04] DukeManh commented on #2725
Renovate doesn't work at all https://github.com/Seneca-CDOT/telescope/issues/2852

[2022-02-07 01:23] TueeNguyen commented on #2111
Thank you, I just want to confirm that those are not needed

[2022-02-07 04:04] HyperTHD commented on #2819
I'm very confused by this in general. Running everything the way you mentioned @manekenpix, the bull queue finally sent everything to redis. I'm wondering why running the docker-compose command did what the pnpm script did not.

Regardless, this was a nightmare that I can say ended. It sounds very trivial, and honestly, it is, but I've literally tried everything, including cloning Telescope again

[2022-02-07 04:04] #2819 closed

[2022-02-07 05:00] HyperTHD opened #2854 "Latest commit remains undefined in local development"
On the dev build of Telescope, the commit link still shows undefined, which is strange considering that we fixed this awhile ago. The reasoning for this lies [here](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/health.js#L7).

When building Telescope locally, the frontend uses the legacy backend's url as the API_URL. It looks for a health check route that exists. This

[2022-02-07 13:58] humphd commented on #2819
So frustrating.  There's nothing worse than a ghost-in-the-machine bug that haunts you, and only you, like this for so long.  Glad you finally got past it.

[2022-02-07 13:59] humphd commented on #2854
We could change that default to `master`, which would forward you to the latest commit on `master`:

https://github.com/Seneca-CDOT/telescope/commit/master

[2022-02-07 14:00] humphd commented on #2850
Does doing so change anything?  Worth a try.  If it works, that's an easy fix.

[2022-02-07 19:07] aserputov opened #2855 "We need to update the architecture.md"
**Where is the problem?**

- [x]  [Link](https://github.com/Seneca-CDOT/telescope/blob/master/docs/architecture.md#back-end-microservices-20)
- [ ] Screenshot

**What exactly is wrong:**
 Path to the Docker.
**What should it be instead:**
Right now we have, `src/docker..`
We need docker/..

[2022-02-07 19:39] peterle93 commented on #2816
can I take this issue?

[2022-02-07 20:05] cindyledev commented on #2816
Sure. I'll assign you to the issue. Thanks for taking it on

[2022-02-07 23:42] DukeManh commented on #2801
@humphd Why doesn't Docker Hub work for us? I think they have a free plan for education/open-source.
<img width="307" alt="image" src="https://user-images.githubusercontent.com/51073515/152890686-0b4de2cd-fef9-4a7f-aad3-a3c54308bf59.png">

[2022-02-07 23:55] manekenpix commented on #2799
It's not defined, but I think it should relatively easy to have the `autodeployment` server inject the token into the environment.
Instead of adding the token variable to the `env` files, I wonder if we could add it to the environment via:

[code]

and make it accessible [here](https://github.com/Seneca-CDOT/telescope/blob/da0b0f664743f54a22e0f2605aba82aed11d0425/docker/docker-compose.yml#L18).

[2022-02-08 00:07] humphd commented on #2801
We could try.  What I don't love about is the fact that it would be tied to my account vs. a team (blocked on me to do any fixes), and that we get rate limited "200 image pulls per 6 hours."  Without good caching, this is going to mean that CI builds, deployments, local dev, etc. will just randomly fail.

I don't know, maybe I'm wrong and we should try it first.

[2022-02-08 00:08] humphd commented on #2801
We could also try https://www.docker.com/blog/expanded-support-for-open-source-software-projects/

[2022-02-08 02:17] menghif commented on #2835
When I try using `nginx:stable-alpine` the container keeps restarting. I can't figured out the reason why.

Log:
[code]

@humphd @TDDR Any ideas?

[2022-02-08 02:54] TDDR commented on #2801
This seems like the easier solution, but is easier better?

Do we meet the other two requirements, or should issues be made to address them?

- [x] Be public and non-commercial
- [ ] Meet the Open Source Initiative (OSI) definition (shown[ here](https://opensource.org/docs/osd)), including definitions for free distribution, source code, derived works, integrity of source code, licensing and no tol

[2022-02-08 03:00] humphd commented on #2801
We use an OSI approved license, https://opensource.org/licenses/BSD-2-Clause.

Our images would be under the same license.  I think we are good for all of this.

[2022-02-08 13:21] joelazwar commented on #1608
![image](https://user-images.githubusercontent.com/43277890/152995166-7fcdf06d-ec47-47af-8ffd-7c91f2dc65ac.png)

Some accessibility stuff that lighthouse detected.

[2022-02-08 13:55] Kevan-Y opened #2857 "React native - Display posts"
**What would you like to be added**:
Able to fetch and render posts.

- Able to fetch post from telescope API
- Create a post based on the current telescope design

Note:
Create a follow-up issue, for the GitHub summary.

[2022-02-08 13:57] joelazwar opened #2858 "React Native - Home Page"
**What would you like to be added**:
Create Home Page for the Telescope app based on the web app design

[2022-02-08 14:52] joelazwar opened #2859 "React Native - About Page"
**What would you like to be added**:
Create Home Page for the Telescope app based on the web app design

[2022-02-08 15:14] joelazwar opened #2860 "Migrate Planet Feed to Supabase db"
**What would you like to be added**:
Part of the Supabase implementation, we need to move the list of feeds from the Seneca CDOT wiki page to new table(s)

We need to figure out the schema to store and relate the tables.

Note: Duc has made a PR regarding this "[Handle Telescope user registration and login](https://github.com/Seneca-CDOT/telescope/pull/2844/files)", but we plan to split the PR int

[2022-02-08 15:17] Kevan-Y opened #2861 "Update parser to fetch feeds from Supabase"
**What would you like to be added**:

Currently, we have a parser that fetches feed from  [CDOT Feed List](https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List).
We want to update our parser to fetch feed from Supabase once https://github.com/Seneca-CDOT/telescope/issues/2860 is implemented.

[2022-02-08 16:46] TueeNguyen commented on #2857
Testing, Notion webhook

[2022-02-08 16:58] TueeNguyen commented on #2849
@Kevan-Y and I figured it out, it was me who triggered those webhooks because I have GitHub connected to Notion. I pasted some issues/pull requests to Notion, Notion keeps these embedded GitHub updated using webhooks.

Once I disconnected my GitHub from Notion, the webhooks went away.

![image](https://user-images.githubusercontent.com/58532267/153036550-61cc8e15-2827-4d54-a680-c5cc5cb69452.png)

[2022-02-08 17:10] humphd commented on #2860
The code in https://github.com/Seneca-CDOT/telescope/tree/master/tools/migrate can help with this.

In our discussions today, we said that we'd untangle the idea of a user from feeds, so that we can create feeds in our database, but not necessarily associate them with a user.  This could be done via an optional foreign key value that links to a user; or we could use a third table to link `users <-

[2022-02-08 17:11] humphd commented on #1608
I don't think we can solve missing `alt` for `img` elements that are stored in the blog HTML.  Same goes for any other errors related to post content.

However, we can fix our own UI to have proper names/labels, etc.  We should focus on that.

[2022-02-08 17:19] humphd commented on #2801
OK, I filled out the form.  I'll see what they say.

[2022-02-08 17:22] humphd commented on #2835
http://blog.tobiasforkel.de/en/2016/09/10/nginx-docker-container-and-getpwnamwww-data-problem/ due to https://github.com/Seneca-CDOT/telescope/blob/master/config/nginx.conf.template#L22

[2022-02-08 18:05] humphd commented on #2799
We could also use https://docs.docker.com/engine/reference/commandline/secret/ maybe?  I'm not sure if compose can use them.

[2022-02-08 18:09] JerryHue commented on #2860
For the sake of simplicity, I suggest we go with the option that @DukeManh proposed: an optional field.

For this to work, we need to keep two facts:
- feed url
- author name

The `feeds` table already has a column to store the URL, so where does the author name go?

I suggest we violate some rules of database design for the sake of simplicity and add a field that stores the author name (call it `

[2022-02-08 18:25] humphd commented on #2860
I like this.  We would end up with:

|Column | Notes |
|--------|-------|
|url         | Unique, primary key for a feed|
|author_name| Optional value from planet feed wiki, unused for future records |
|telescope_user_id| Optional foreign key to a Telescope user who owns the feed|

We still need to add some more data here.  Our concept of a `Feed` is a bit more complex than just having `url` and `a

[2022-02-08 18:54] JerryHue commented on #2860
For this, we may name it as the "source" of the feed. We can create a table called `sources`, so every feed has a connection to a source. The reason I do it like this is because there are some blogs that can have several feeds depending on the category (Wordpress comes to mind). This also offers some flexibility. After all, there is no rule that says that one blog belongs to a single feed.

The `f

[2022-02-08 21:40] #2842 closed

[2022-02-08 22:21] manekenpix commented on #2849
I still see them

![image](https://user-images.githubusercontent.com/23108901/153085379-c53f513b-250d-4e0b-9eae-9986b7e05d42.png)

Should we remove them?

cc @humphd

[2022-02-08 22:24] Kevan-Y commented on #2849
I don't think there is not much harm to having it.
Downside:
Since it will create 1 webhook for 1 Norion.
If we have like 20 people that use Notions and connect to Github, it will generate 20 webhook.

[2022-02-08 22:40] TDDR commented on #2850
Fixed issue by creating a new blog on dev.to and ditching WordPress

[2022-02-08 22:40] #2850 closed

[2022-02-08 22:42] manekenpix commented on #2225
I was removed from this issue, but I'm still interested. @TueeNguyen you lead and I'll help if possible?

[2022-02-08 22:59] humphd commented on #2849
Let's monitor it.  If it starts to balloon, we can remove them.  I'll close for now.

@TueeNguyen, @Kevan-Y, and anyone else using Notion, please clean up after yourself.

[2022-02-08 22:59] #2849 closed

[2022-02-09 02:09] TueeNguyen commented on #2225
@manekenpix Definitely

[2022-02-09 13:00] humphd opened #2864 "Remove pnpm setup from gitpod"
It looks like pnpm is now bundled by default with the node gitpod Dockerfile, see  https://twitter.com/gengjiawen/status/1491365217993125888?t=rlrRbQCMf5qmf6ekHdDTlQ&s=03 and https://github.com/gitpod-io/workspace-images/pull/668

[2022-02-09 15:42] Kevan-Y opened #2865 "Dockerize Docusaurus service"
In https://github.com/Seneca-CDOT/telescope/issues/2792, we added Docusaurus. We need to dockerize it, also be connected to our  Nginx API gateway for routing.

[2022-02-09 17:26] sirinoks opened #2866 "Adding Twitch feeds in registration"
Referenced [here](https://github.com/Seneca-CDOT/telescope/pull/2844#discussion_r801218823).

- Research if accounts need to be linked, what needs to be done on Youtube/Twitch end.
- Add fields for Youtube and Twitch feed links.
- Make sure Telescope "reads" those new feeds.

*If I understood the comment wrong, please edit and correct this issue, + remove this message when you're done*

[2022-02-09 17:34] sirinoks commented on #1366
Good move to assign me

[2022-02-09 17:40] #2792 closed

[2022-02-09 17:40] #290 closed

[2022-02-09 17:40] #2746 closed

[2022-02-09 17:58] cindyledev opened #2867 "Move and organize our docs from root to Docusaurus website"
After #2853, we need to move and organize the docs (.md) files located at [/docs](https://github.com/Seneca-CDOT/telescope/tree/master/docs) into [/src/docs/docs](https://github.com/Seneca-CDOT/telescope/tree/master/src/docs/docs)

[code]

[2022-02-09 18:13] cindyledev opened #2868 "Remove MDX-related stuff from our Next.js Telescope frontend"
Now that we have a Docusaurus website to hold our docs #2853, we should remove or migrate what we can from Next.js to Docusaurus. Specifically

- [src/web/src/pages/about.mdx](https://github.com/Seneca-CDOT/telescope/blob/master/src/web/src/pages/about.mdx)
- [src/web/src/markdown-pages/about.md](https://github.com/Seneca-CDOT/telescope/blob/master/src/web/src/markdown-pages/about.md)

Changes nee

[2022-02-09 19:15] DukeManh commented on #2860
I want to inform you that Postgres tables can contain Array type and JSON type and we probably don't have to create many tables that reference each other.

[2022-02-09 19:29] sirinoks commented on #1366
Research:
[Github webhooks event: release](https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#releaseevent)
Making a [Slack bot](https://api.slack.com/bot-users)

What I need to find is an event when a build occurs on master, and when it breaks.

[2022-02-09 20:25] humphd commented on #2801
Another follow-up.  I had a good meeting today with Chris Tyler.  He and I agreed that if Docker says 'no', or it doesn't make sense to use Docker Hub, we'll look at hosting our own Docker Registry in CDOT.  He has a machine with 1/2 TB SSD that we could use pretty quickly, and a lot more NAS storage that we could expand into later if needed.

Running our own registry is well documented at https:/

[2022-02-09 20:36] Kevan-Y commented on #2865
Oh thanks, I edited the description.

[2022-02-09 20:51] cindyledev commented on #2801
Oh thank god, we don't have to move out of Seneca-CDOT, I was having an identity crisis over what name Telescope's org was gonna get.

[2022-02-09 21:45] #2802 closed

[2022-02-09 22:00] sirinoks opened #2870 "Highlight release/important posts"
There are many posts on Telescope, but some are more important than the others. I always want to read posts that summarise releases for example, but I might miss them amongst the other ones.

What if we had some posts highlighted in a specific way to stand out, or had them pinned to always come first, or perhaps had a separate tab with them alltogether? Posts that summarise releases, have informat

[2022-02-09 22:37] cindyledev commented on #2870
*sarcasm start*
Obviously, all my blogs are very important so I want mine to be featured on the front page with "ANNOUNCEMENT" tag with cute flags and colours

*sarcasm end*

Same. While [Releases](https://github.com/Seneca-CDOT/telescope/releases) exist, I don't really read them because commit messages aren't that great at telling you the whole story. I want highlights/summaries of each release b

[2022-02-09 22:50] humphd commented on #2852
Should we delete this?  I think you're right.

[2022-02-09 23:07] cindyledev opened #2871 "Leave some docs breadcrumbs"
I'm moving all the docs in #2869 and it's rather deep into our tree so before people freak out and start saying "wow, I can't believe this project has no docs", we should update the [README.md](https://github.com/Seneca-CDOT/telescope/blob/master/README.md) or something that would indicate where the docs will be

[2022-02-10 00:04] sirinoks commented on #2870
I actually thought of making a weekly/mounthly/something-ly list of issues, maybe in a video, or a blog post format which would do exactly that - recommend issues to people that are doable, while explaining more about them

I mean, the things that are talked about during planning meetings, or some content like
https://github.com/Seneca-CDOT/telescope/wiki/Release-2.6-Planning
https://github.com/Se

[2022-02-10 00:10] cindyledev commented on #2870
I want highlights like this https://blog.humphd.org/telescope-2-6-1/

[2022-02-10 00:19] #2852 closed

[2022-02-10 00:47] TueeNguyen commented on #2852
To confirm: deleting the extra branch created by renovate works

[2022-02-10 01:05] humphd commented on #2852
I wonder if we should document this somewhere.  I bet we'll have this happen again, and forget how to fix.

cc @sirinoks

[2022-02-10 01:05] humphd commented on #2852
https://github.com/Seneca-CDOT/telescope/blob/master/docs/renovate.md for example.

[2022-02-10 01:39] TueeNguyen commented on #2852
I'll do it, there's a broken link in renovate doc as well

[2022-02-10 04:10] Andrewnt219 commented on #2768
UPDATE: I don't want to compile SCSS to CSS with Vite because trying to get their hashed location is a real pain.

[2022-02-10 14:46] sirinoks commented on #2870
There was some talk during triage about making a separate Telescope blog which perhaps could be done by sheriffs, or (what I like more) written collectively. So that would be the third option of implementation,

Example is the [Supabase developer blog](https://supabase.com/blog)

There were also tags mentioned that we could use for highlighting.

In the end, this requires more discussion and will

[2022-02-10 16:08] humphd commented on #2735
I'll update this with more details, so @joelazwar can finish it.

In #2844, we have the bulk of the work to get this started, but it's missing a critical piece: we need to be able to connect to Supabase from a browser without exposing the Supabase service role key (only appropriate on a server, where it can be protected).  Our SSO service now uses the service role key in @DukeManh's PR to create r

[2022-02-10 17:22] humphd opened #2876 "Define dev vs. staging/production settings for Supabase containers"
We're starting to add the Supabase containers to our Docker network.  Currently, we layer the [docker/supabase/docker-compose.yml](https://github.com/Seneca-CDOT/telescope/blob/master/docker/supabase/docker-compose.yml) file with our existing files via this line https://github.com/Seneca-CDOT/telescope/blob/master/config/env.development#L18 in development (we do something similar in staging and pr

[2022-02-10 17:41] TDDR commented on #2835
I have spent some time with this now and am unable to add a user like that article suggested:
![image](https://user-images.githubusercontent.com/59970326/153462771-65e6d756-81cb-4352-af92-2e8d608b2686.png)

I also tried the way they claim to do it in the [official docs](https://docs.docker.com/engine/reference/builder/#user):
![image](https://user-images.githubusercontent.com/59970326/153463482-12

[2022-02-10 18:00] humphd opened #2877 "Add Supabase development docker-compose file"
Following on from #2876, we need to define a `development.yml` file for the Supabase containers, to define how to run the containers in development/CI vs. staging/production (production.yml).  There is actually something like this in `docker/supabase/dev/docker-compose.dev.yml`, which I don't think we need, but could use as a base.

This file can do things like open ports (8910, 8911) which we don

[2022-02-10 18:55] humphd commented on #2801
This is interesting, re: `docker build`:

With our own registry, we could re-use the build cache in CI or on development machines too.

[2022-02-10 23:16] JerryHue commented on #2730
To bring forward some discussions before finally choosing the UI Library, I would like to mention three possible options:

- [React Native Elements](https://github.com/react-native-elements/react-native-elements)
- [React Native Paper](https://github.com/callstack/react-native-paper)
- [React Native UI Kitten](https://github.com/akveo/react-native-ui-kitten)

I went through the `package.json` file

[2022-02-11 00:50] humphd commented on #2730
I'd suggest you consider maintenance, and popularity:

https://www.npmtrends.com/react-native-elements-vs-react-native-paper-vs-react-native-ui-kitten

Based on that, I'd suggest React Native Elements.

[2022-02-11 01:24] humphd commented on #2730
You all decide, just pick something that won't go unmaintained next year when you leave me with a bunch of code...

[2022-02-11 03:14] dbelokon commented on #2680
So, because have different types of data, I wonder if I should have a single provider that will give several hooks, or several providers for the different types of data with their respective hooks.

I was planning to have a single provider that will provide a single hook, and the hook would return a list of the objects that we can collect (YouTube, GitHub, Twith), or, we could just provide as many

[2022-02-11 03:16] dbelokon commented on #2680
The consumer would be a GenericInfo component, that will adapt its structure depending on the type of data given by the hook. So, if we only have GitHubInfo available, we use the GitHub component, if we have the YouTubeInfo available, we use the YouTubeInfo component, if we have both, we only use one of them (maybe YouTube is given priority?).

[2022-02-11 05:41] Kevan-Y commented on #2730
Let's go with [React Native Elements](https://github.com/react-native-elements/react-native-elements). This package is maintained, I think it will last long.

[2022-02-11 14:18] cindyledev opened #2879 "Removed unused GraphQL-related and colour palette images in Docusaurus static directory"
Follow up to #2869, I moved a bunch of files into Docusaurus and noticed some files should've just been deleted instead of being moved, such as:
- graphqlFields.PNG
- graphqlGetPosts.PNG
- graphqlGetPostsCount.PNG
- graphqlMultipleQueries.PNG
- graphqlNoFields.PNG
- 9E9E9E.PNG
- 002944.PNG
- 3670A5.PNG
- A4D4FF.PNG
- ffffff.PNG
- palette.PNG

Reason: We got rid of the GraphQL stuff and the old col

[2022-02-11 14:50] cindyledev opened #2880 "Create Telescope Architecture Diagram"
Following the architecture doc that was added in #2662, we should create an architecture diagram to go along with the written doc.

![Telescope 2 5](https://user-images.githubusercontent.com/36822198/153613054-394b7370-0c28-488f-adb6-2e35d5dc8738.jpg)

Here is a janky diagram I made after the doc was added because it was exciting but it has been neglected since... this was the state of Telescope i

[2022-02-11 15:17] cindyledev opened #2881 "Docusaurus footer needs to be updated"
Our Docusaurus footer needs some tender loving care.

![2022-02-11 09_59_53-telescope - Visual Studio Code](https://user-images.githubusercontent.com/36822198/153615105-edde3f57-3169-4ef1-bede-ca76f4032b71.png)

Specifically:
- The copyright should be `Copyright (c) 2022 Telescope, Seneca's Centre for Development of Open Technology. Built with Docusaurus.`
- We don't have Stack Overflow, Discord,

[2022-02-11 16:34] #2867 closed

[2022-02-11 16:50] HyperTHD commented on #2680
I wrote a couple of frontend hooks for Telescope, so I'm always interested in writing some more if the idea makes sense. I'll go over each of your points and see how feasible they are @dbelokon

This one would be the most easiest to implement. I already created the custom hook for the GithubInfo related stuff, so we'd just have to modify it to include the Youtube and Twitch related info. With rega

[2022-02-11 16:50] Kevan-Y commented on #2680
Having several hooks doesn't cost too much performance right?
I'm just worried that having a single hook that combines YouTube, GitHub, Twitch will make the thing too complex.
If it doesn't cost too much in performance, I would go to have several hooks.

I think the order of GitHub info and youtube info doesn't matter that much.

What do you think @HyperTHD ?

[2022-02-11 16:54] cindyledev commented on #2880
I made this in Figma and exported it as a .jpeg file. I don't know how we can check this into git but we should probably explore how it can be done since we'll be making changes to the diagram often

cc @sirinoks since she mentioned she working on this https://github.com/Seneca-CDOT/telescope/pull/2662#issuecomment-1019308190

[2022-02-11 17:20] cindyledev commented on #2871
As per https://github.com/Seneca-CDOT/telescope/pull/2869#pullrequestreview-880413051

[2022-02-11 17:31] sancodes commented on #2881
If this is still open, I would like to help

[2022-02-11 17:35] humphd commented on #2881
Sure @sancodes, you're welcome to try it.  @cindyledev can guide you if you need help.

[2022-02-11 17:37] sancodes commented on #2881
@humphd thank you. I will get started on it.
if help needed, I will let @cindyledev  know.

[2022-02-11 17:39] #2735 closed

[2022-02-11 18:35] cindyledev opened #2882 "Environment Setup doc should have tabs to separate instructions by operating systems"
Our [environment-setup.md](https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/getting-started/environment-setup.md) has a table of content at the top, this is no longer required because Docusaurus outputs the headings on the right and it acts as a table of content.

![Screenshot 2022-02-11 132710](https://user-images.githubusercontent.com/36822198/153648795-0f2d3b1c-f083-438d-bdf2-

[2022-02-11 18:39] cindyledev opened #2883 "See where we can use Admonitions in our docs"
Docusaurus supports [Admonitions](https://docusaurus.io/docs/markdown-features/admonitions), we can use this to make our docs easier to understand and more appealing to read.

![2022-02-11 13_38_20-Admonitions _ Docusaurus - Brave](https://user-images.githubusercontent.com/36822198/153650109-05a3a324-3e02-4a13-aaaf-e7b5a541c0cf.png)

[2022-02-11 19:11] sirinoks commented on #2880
@cindyledev What other file types can you export it as? I'm not familiar with Figma myself, but if that's the only option, I can learn it.

[2022-02-11 19:17] cindyledev commented on #2880
.png, .jpg, .pdf

I can send you the Figma file so you have it locally, it's a .jam file

[2022-02-11 19:21] cindyledev opened #2885 "Show "last updated" information for docs in Docusaurus"
Many documentation websites have additional information about who last updated a file and when the file was last modified. We should do that for our docs as well

![2022-02-11 14_18_28-Installation _ Docusaurus - Brave](https://user-images.githubusercontent.com/36822198/153655784-a74d2536-857c-4a55-8a7e-6503d8ec9230.png)

[2022-02-11 19:38] sirinoks commented on #2880
@cindyledev I can work with PDFs in Illustrator theoretically

[2022-02-11 19:41] #2768 closed

[2022-02-11 19:53] sirinoks commented on #2885
Is this something we can automate?

[2022-02-11 19:59] Kevan-Y opened #2886 "Sign up flow not working on development"
**What happened**:
On development, sign-up flow not working.
I'm getting a 400 code.

![image](https://user-images.githubusercontent.com/58233223/153661187-4f221da0-0f07-4b31-9533-4c110cebd459.png)

**How to reproduce it (as precise as possible)**:

1. git checkout master
2. pnpm i
3. pnpm services:start
4. go to http://localhost:8910/ and http://localhost:8000/
5. On local http://localhost:8000/

[2022-02-11 20:19] humphd commented on #2886
I can reproduce this locally.  When I look at the SSO service's logs, I see this error:

[code]

I think the problem is in how we are sending the user data when we try to register, in the front-end here https://github.com/Seneca-CDOT/telescope/blob/master/src/web/src/pages/signup.tsx#L198-L205

We use `github` as an object, but we need to send `githubUsername` and `githubAvatarUrl`.  We changed th

[2022-02-11 20:25] cindyledev commented on #2885
We can use the [plugin-content-docs](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#showLastUpdateAuthor) to showLastUpdateAuthor and showLastUpdateTime

[2022-02-11 21:24] DukeManh commented on #2886
That is it, this was one reason why I didn't want to update GitHub username and avatar out of the GitHub object. I wonder how the e2e test passed

[2022-02-11 22:36] DukeManh commented on #2886
Yeah, I forget about that

[2022-02-12 00:44] sirinoks opened #2894 "Search in date range"
Connected to #1912

Implement an ability to search for posts within a certain date range.

How would it look like?
 - A calendar selection (there are completed solutions we could just take and use)
 - A word format, like in discord :
 <img src="https://cdn.discordapp.com/attachments/353432193730871296/941856537415135272/Screenshot_448.png" />

We could also first implement the syntax format to mak

[2022-02-12 00:55] sirinoks opened #2895 "Improve UX of the Home button in dashboard to go back to Telescope"
A very simple UX thing we are missing. We can go from Telescope blog to the Dashboard. It isn't clear where to go back from Dashboard to Telescope. It is expected to have a home button at the top left, however, the current button leads back to the Dashboard. The current button to go to Telescope is a part of the nav and is unclear - "Telescope Production"

Either change the button to lead back to

[2022-02-12 01:06] cindyledev commented on #2880
@sirinoks I don't know if you wanna redo the whole thing because when I was making the diagram, I didn't account for resolution or screen sizes so the image is terrible. It's a REALLY rough draft

[2022-02-12 01:16] sirinoks commented on #2894
Or just steal completely how Discord does it

[2022-02-12 02:03] #2882 closed

[2022-02-12 04:34] DukeManh commented on #2886
Delegated

[2022-02-12 05:34] rclee91 commented on #2755
After doing tests for Search, I think its us.
We might need a Try-catch statement around the `client.search()`, like I've mentioned in #2892

[2022-02-12 14:30] humphd opened #2897 "Twitch iframes are filtered out by sanitizer"
<img width="1033" alt="Screen Shot 2022-02-12 at 9 29 50 AM" src="https://user-images.githubusercontent.com/427398/153715345-1ef5b9f3-4569-40cc-82b2-996f1bf46315.png">

We need to update the sanitizer to allow the twitch iframe origin.

[2022-02-12 15:18] #1608 closed

[2022-02-12 18:03] cindyledev commented on #2881
@sancodes thank you for getting to this so quickly! We really appreciate your efforts

The name/label should be changed to License

Leave the link as is. We will update it after #2865 has been fixed

Whoops, I totally forgot to give you the link in the last comment. The link for the staging server is https://dev.telescope.cdot.systems/

[2022-02-12 19:43] humphd commented on #2897
That's for the front-end, we also need to fix https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/html/sanitize.js#L50-L57 in the backend.  And the parser service would need this too.

[2022-02-12 20:14] sancodes commented on #2881
@cindyledev
Thank you for the link.
I have added all the links respective to its label.
I created a pull request and have filled out Merge Request instruction's answers.
Please Let me know if everything is working fine.

[2022-02-12 21:11] #2885 closed

[2022-02-12 22:00] dbelokon commented on #2730
I will be following up with a PR soon!

[2022-02-12 23:54] HyperTHD commented on #2897
We also need to update the tests as well to ensure that this is working as intended. This is where they should go https://github.com/Seneca-CDOT/telescope/blob/master/test/sanitize-html.test.js

[2022-02-13 00:30] #2881 closed

[2022-02-13 02:39] tpmai22 commented on #2859
@Kevan-Y I guess we need to prior the bottom navigation bar first before this issue ?

[2022-02-13 03:09] #2871 closed

[2022-02-13 03:45] tpmai22 commented on #2733
#2841

[2022-02-13 03:45] #2733 closed

[2022-02-13 05:02] #2883 closed

[2022-02-13 17:31] DukeManh opened #2909 "Add Test for '409: Feeds exists' in SSO Service"
**What would you like to be added**:

Our SSO service is missing a case when users register using a feed that has been registered and a feed URL must be unique.

It's important to add this case to make sure we don't run into regression in the future.

The 409 error is returned here
https://github.com/Seneca-CDOT/telescope/pull/2901/files/b287b7f0ccab577ca3340dad0d39aca6584d6c7c#diff-6c0acb684bf6dc

[2022-02-13 17:46] cindyledev commented on #2894
I was playing around with TailwindCSS and mocked a Search page, we use Material UI but we can do something like this

![2022-02-13 12_43_23-Window](https://user-images.githubusercontent.com/36822198/153767613-7405ecbc-e702-453e-8e14-9f87c35bdb9e.png)

[2022-02-13 17:47] cindyledev commented on #1912
Talking about it here https://github.com/Seneca-CDOT/telescope/issues/2894#issuecomment-1038293211

![2022-02-13 12_43_23-Window](https://user-images.githubusercontent.com/36822198/153767613-7405ecbc-e702-453e-8e14-9f87c35bdb9e.png)

[2022-02-13 19:55] #2886 closed

[2022-02-13 22:53] humphd opened #2913 "See if we can update to Elasticsearch 8.0"
Elasticsearch 8.0 was recently released: https://www.elastic.co/blog/whats-new-elastic-8-0-0.  It just made it to Docker Hub too: https://hub.docker.com/_/elasticsearch.

@manekenpix tells me that every time we update Elasticsearch it breaks, so we can't do this without testing.  Luckily, @rclee91 and @JiaHua-Zou are landing tests for Elasticsearch in 2.7, so soon we can try this.

[2022-02-13 23:04] cindyledev commented on #2913
It's either Elasticsearch or MDX that breaks Telescope, eh? 😂

[2022-02-13 23:34] DukeManh commented on #2913
Once @rclee91 search PR goes in, we can trigger a Renovate PR for elasticsearch@v8 to see if it breaks.

[2022-02-14 00:56] TDDR commented on #2835
I'm assuming you mean the `www-data` user defined [here](https://github.com/TDDR/telescope/blob/77e5d5045790abbeae31f97c55fe44b03207b398/config/nginx.conf.template#L22). I tried to add the user like in that example you linked, which is also the same as the [example](https://www.nginx.com/blog/deploying-nginx-nginx-plus-docker/) I found on the official site. I also came [across this](https://nginx.

[2022-02-14 02:11] AmasiaNalbandian commented on #2894
this is in my branch for the searchbar....

[2022-02-14 02:16] cindyledev commented on #2894
Hey @AmasiaNalbandian, sorry I didn't see you were working on the other issue until after I did this. Please disregard my comment.

[2022-02-14 02:40] AmasiaNalbandian commented on #2894
its no problem, but i am wondering if we should close this? it's part of the redesign

[2022-02-14 02:42] cindyledev commented on #2894
Yes, we should close this issue and add a blurb in the other issue that it will also address the date range

[2022-02-14 06:22] AmasiaNalbandian commented on #2894
I need to post a screenshot of my progress - its really close just blocked by my limitations in React (definitely not my comfort language)

[2022-02-14 06:24] AmasiaNalbandian commented on #2732
@Kevan-Y  Thank you! I think we said we will ship to android as it's less complicated first. We can look into Apple later correct?

[2022-02-14 06:27] cindyledev commented on #2894
Put up a PR! I'm sure there are React devs on the team that can help out

[2022-02-14 07:05] AmasiaNalbandian commented on #2767
I've uninstalled android studios twice now... How are you guys able to get the emulator running? Mine keeps crashing from adb.exe. I'm going to try and get this to run again tomorrow.....

[2022-02-14 07:15] AmasiaNalbandian commented on #2767
I cant get it to run with android, i'm going to try a virtual box actually.

[2022-02-14 14:14] humphd commented on #2732
Shipping to Android now, and iOS later is a fine choice, and a great example of my challenge for this week: more, smaller PRs.  If you can solve this in 2 PRs, and get half of it landed in 2.7, or all of it solved in 1 PR and none of it landed in 2.7, which do think is better for us?

[2022-02-14 15:28] AmasiaNalbandian commented on #2732
I saw Diana put up a [PR](https://github.com/Seneca-CDOT/telescope/pull/2906) for the UI library, I think we can work on trying to put this up for 2.7 now. We will have 1 full day and that should be enough! :)

[2022-02-14 15:30] #2730 closed

[2022-02-14 15:53] AmasiaNalbandian commented on #2767
I'm sorry for the spam but I got it!!!
![image](https://user-images.githubusercontent.com/77639637/153898106-ed2e2827-8f5f-40d7-b406-aedb37fe452f.png)

We need to note that the documents are a little wrong, you do IN FACT need to set the environment variable for Windows too.
My issue was exactly this. I will add it into our docs.

[2022-02-14 18:20] cindyledev opened #2922 "Explore supporting different languages for our docs"
Docusaurus has a tutorial on the basics of the [Docusaurus i18n system](https://docusaurus.io/docs/i18n/tutorial). I don't know any languages well enough to translate but if we had someone on the team willing to try this out, I help get this rolling. This would pave the way for Hacktoberfest contributors since it seems to be pretty popular to translate docs for that event. We can try a single doc

[2022-02-14 18:24] DukeManh opened #2923 "Add a code snippet copy button"
**What would you like to be added**:

We are a programming blog platform and a lot of code is written every week. It would be nice to have a `Copy` button on the top right of every code block to encourage people to include their code snippets or terminal logs so others can copy to try it out or help with debugging.

[2022-02-14 18:24] cindyledev opened #2924 "Add Docusaurus website to Docusaurus Site Showcase"
Once #2865 gets resolved, we will have a live Docusaurus website in production then we can request our site to be featured on the [Docusaurus Site Showcase](https://docusaurus.io/showcase) :)

[2022-02-14 18:25] humphd commented on #2923
Love this!  @Andrewnt219 did something similar for our [build log output](https://dev.api.telescope.cdot.systems/v1/status/build), and @tuanthanh2067 did something like this for being able to copy the links for a blog URL.

[2022-02-14 18:28] humphd commented on #2922
I wonder when the right time to do this is?  I suspect that localizing fast-moving docs is going to be hard.  Probably a goal of 3.0 should be to have the docs stay relatively stable for the 3.x lifecycle.  In the 4.x lifecycle, we could revamp them.

That means, we should plan out what needs to get written between now and 3.0, and file those issues.

[2022-02-14 18:31] DukeManh opened #2925 "Improve landing page performance"
We have an Image service that gives the Telescope landing page a random picture on page load. This is nice but not yet optimal.
On slow internet connections, these high-quality banner images take a couple of seconds to load and reduce the overall performance.

Moving forward, we should improve the Image service and the front page to:
 - Return [responsive image ](https://developer.mozilla.org/en-U

[2022-02-14 18:34] cindyledev commented on #2922
I imagine this would be a post-3.0 thing since we're still waiting on a number of docs to be added:

- #203 Document REST API
- #2734 Documentation for Supabase
- #2920 Windows installation for React Native
- #2855 and #2880 Telescope Architecture Diagram

and I'm sure there will be new docs that need to be written before 3.0

We also need to dogfood and audit the docs before they're ready to be t

[2022-02-14 18:41] humphd commented on #2925
We do a responsive image already.  I stole the same logic that next.js uses server side, see https://github.com/Seneca-CDOT/telescope/blob/master/src/web/src/components/DynamicImage.tsx#L52.  We can add more sizes easily, if you think we don't have enough.

The second one could be done by the image service too (return a super tiny version we expand and blur with CSS, then replace when full image i

[2022-02-14 18:43] cindyledev opened #2926 "Add sitemap to Docusaurus website"
We can add the [plugin-sitemap](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-sitemap) to our Docusaurus website and it will create sitemaps so search engine crawlers can crawl our docs website more accurately

[2022-02-14 18:58] sirinoks commented on #2922
I'm down to translate to Russian

[2022-02-14 19:01] humphd commented on #2922
One thing I'm going to push people on re: translation, is that they have to build a team.  Just like I wouldn't let a student drop a PR in some programming language none of us knows, there's no way I'm going to take a translation that I have to maintain without it also arriving as part of a team.

Years ago, a bunch of my Ukrainian students got together and translated the Rect docs as a team, see

[2022-02-14 19:52] #2864 closed

[2022-02-14 20:31] DukeManh commented on #2725
I don’t think this can be closed until Renovate start making dep updates for ‘tools’ package.

[2022-02-14 20:31] DukeManh commented on #2725
Tue’s PR is just a bandage

[2022-02-14 20:52] DukeManh opened #2929 "Image zoom feature"
**What would you like to be added**:
Image zooming on click
**Why would you like this to be added**:

Currently, If I want to view an image, clicking on it would open the image URL in the current tab, then I would lose the current scroll position when going back. For example https://telescope.cdot.systems/search/?text=2.7.0%20Pre&filter=post

We could learn from medium.com to zoom the image on cli

[2022-02-14 20:59] TueeNguyen commented on #2725
I agree, let's see if Renovate makes PRs for dependencies under `./tools`

[2022-02-14 22:23] menghif commented on #2725
Isn't this an example of Renovatebot making dep updates for ‘tools’ package? https://github.com/Seneca-CDOT/telescope/pull/2928

[2022-02-14 22:33] DukeManh commented on #2725
Perfect, it is working.

[2022-02-14 22:33] #2725 closed

[2022-02-14 22:34] DukeManh commented on #2725
May dep updates in there are awaiting schedule here https://github.com/Seneca-CDOT/telescope/issues/2638

[2022-02-14 22:35] humphd commented on #2725
I wonder if we should file a bug with them.  This was extremely hard to debug, but obvious once @TueeNguyen figured it out.  Having something that flags why the updates are paused would mean people wouldn't waste time on this.

[2022-02-14 22:38] TueeNguyen commented on #2725
I opened a discussion in their repo a few days ago, though the maintainer gave me a short answer which I don't think would help in our use case. I can open a more detailed issue

[2022-02-14 22:39] humphd commented on #2725
That's ok, just blog about it so Google can find the answer for the next poor dev who debugs this.

[2022-02-14 23:05] sirinoks commented on #2922
There's a tool I saw used for Staxel translations, where it automatically makes tables with original and translation columns and it's really nice to use for non developers. I'm not sure what it was though..

[2022-02-14 23:32] #2761 closed

[2022-02-15 00:11] 416rehman commented on #2929
I'll work on this.

[2022-02-15 00:12] cindyledev commented on #2929
All yours, @416rehman . Thanks for taking it on

[2022-02-15 02:59] #2767 closed

[2022-02-15 03:05] menghif commented on #2924
Great idea!

[2022-02-15 05:50] sirinoks commented on #2924
We should make it fancy tho. Look at all those other sites, how cool they look.. I should look into CSS animations..

[2022-02-15 13:21] HyperTHD commented on #2897
Taking this

[2022-02-15 13:24] menghif commented on #2680
@dbelokon There's been no update on this. What's the status? Should we move it to Release 2.8?

[2022-02-15 13:33] Kevan-Y opened #2933 "Create an Expo dev account"
In https://github.com/Seneca-CDOT/telescope/issues/2732, to publish our mobile to Expo, we need to create Expo dev account in order to publish it.
[Signup](https://expo.dev/signup)

[2022-02-15 13:42] joelazwar opened #2934 "pnpm won't update satellite to latest version"
**What happened**:
`pnpm install` doesn't fetch the satellite upstream, and we have to manually update it by deleting the node_modules folder or running pnpm update on each microservice. (but this changes the package.json files)

**What should have happened**:
`pnpm install` should automatically fetch the latest version of satellite for all dependencies
**How to reproduce it (as precise as possibl

[2022-02-15 13:43] JerryHue opened #2935 "Add endpoints for rss-feed and dependency-discovery"
We would like to add new endpoints for the status dashboard to report for the new components we are adding: `rss-feed` and `dependency-discovery`.

* `rss-feed` container at `v1/rss-feed` (it doesn't have a `/healthcheck` but it does have an index.html that should return a 200)
* dependency service (`/healthcheck` route), see https://github.com/Seneca-CDOT/telescope/pull/2797

Refer to #2829.

[2022-02-15 13:44] humphd commented on #2934
Can someone test what happens if we use the `"latest"` version in `package.json`?

[2022-02-15 13:44] humphd commented on #2934
cc @rclee91 @JiaHua-Zou

[2022-02-15 14:08] rclee91 commented on #2934
I tried it out in just the search `package.json`. Changing to `"latest"` and then running `pnpm install` will update the `pnpm-lock.yaml`

![image](https://user-images.githubusercontent.com/32626950/154078029-35eb2827-30cd-4b11-9e23-7c9d55708b8f.png)

![image](https://user-images.githubusercontent.com/32626950/154078276-0a89d270-0772-4138-98f6-95f3610112c5.png)

[2022-02-15 14:08] sirinoks commented on #1366
Look into /tools
Autodeployment server

[2022-02-15 14:49] humphd opened #2936 "nginx.conf issuew with /planet"
When I look at the logs of the nginx container, I see it complaining about our `/planet` definition:

[code]

Which I assume is this:

[code]

This might be a dependency load order issue, where nginx needs these upstream servers to exist, and if those containers aren't started yet, it complains.

[2022-02-15 15:24] humphd commented on #1366
A build on the staging/production boxes is done when this function is called: https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/builds.js#L17-L31

If the `code` is `=== 0` then it passed, otherwise it failed, so pseudo-code would be:

[code]

[2022-02-15 15:25] humphd commented on #2934
This is great news. The only thing it means is that our release process should use `pnpm install` to get the package-lock file updated with the most recent version of Satellite.  We could automate that when we call `pnpm version`.

[2022-02-15 16:39] tcvan0707 opened #2938 "Color Palette not Showing Properly"
**What happened**:
Inside the file `/docs/tools-and-technologies/nextjs.md`, the color palette is not showing properly.

<img width="843" alt="Screen Shot 2022-02-15 at 11 36 25 AM" src="https://user-images.githubusercontent.com/69607880/154107144-033b24a8-b37e-463f-912e-92cf2f370f07.png">

**What should have happened**:
The sample of the color should show correctly based on the Hex value of the c

[2022-02-15 17:11] #2718 closed

[2022-02-15 19:04] 416rehman opened #2941 "Exclude `img` tags from linkifyHtml"
**What would you like to be added**:
The `img` tag needs to be excluded when we call `linkifyHtml` in https://github.com/Seneca-CDOT/telescope/blob/f80b0b9f673b51cded172c91719e4c0b564d31fe/src/backend/data/post.js#L158
**Why would you like this to be added**:
Right now all the `img` tags inside a post content are wrapped by `a` tags, this results in the images acting like an `a` tag (open as URL o

[2022-02-15 19:06] TueeNguyen commented on #2941
Great, let's finish this #2932 and then we can move on to this.

[2022-02-15 19:09] humphd commented on #2941
It would be useful to compare the list against what we allow through the sanitizer, https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/html/sanitize.js#L10-L42, and see if we can skip others in the list that might be affected by this later.

The only thing we want to do with the linkifier is to turn text node URLs into anchors.

We need to add some tests so we catch this happen

[2022-02-15 21:36] #2854 closed

[2022-02-15 22:54] Kevan-Y commented on #2933
Sorry to reply late, reading from the documentation, we can create a secret token key that we gonna be using it for Github action.
[link for secret token](https://docs.expo.dev/accounts/programmatic-access/#programmatic-access).
[Expo workflow](https://github.com/expo/expo-github-action#example-workflows) if I understand correctly we need to place that in secret key in or repo setting. So when run

[2022-02-16 00:22] cindyledev opened #2943 "Broken links in Docusaurus preventing website from building"
While reviewing #2942 , I hit an error that prevents Docusaurus from building the website

How to reproduce:
- `cd src/docs`
- `pnpm build`

Output:
[code]

[2022-02-16 02:42] #2943 closed

[2022-02-16 02:49] dbelokon opened #2946 "Generalize the GitHubInfo Provider"
So, for #2680 to be done, I think we would need to rewrite the GitHubInfoContextProvider so that it can also provide other types of information, like YouTube information.

The main idea I have is to have a GenericInfoProvider, which has a GenericInfoContext, which has a definition like the following:

[code]

And then we can keep the same hook, by rewriting it like this:

[code]

and we can also a

[2022-02-16 17:35] tpmai22 opened #2951 "Build log not showing in `production`"
**What happened**:
Build log not showing on `production`
![image](https://user-images.githubusercontent.com/43376325/154322896-6b3d8190-72b2-4aa3-8569-142136d88aa3.png)

**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:
https://telescope.cdot.systems/deploy/status return `null` on all builds
**Environment**:

- OS:
- Browser:

[2022-02-16 17:45] tpmai22 opened #2952 "Add extra padding for content inside the build log terminal"
**What would you like to be added**:
I would love to add a pit of left padding for the cotent inside the build log terminal
**Why would you like this to be added**:
It make the content get displayed more accessible

[2022-02-16 18:37] humphd commented on #2951
@manekenpix might know if we're running the latest autodployment server in prod, we might not be.

[2022-02-16 18:59] #2803 closed

[2022-02-16 20:03] sirinoks commented on #2814
What issues to make:
1. Look at the [comment](https://github.com/Seneca-CDOT/telescope/issues/2735#issuecomment-1035103556)
2. Notes from the meeting:

- Row level security - database tokens
- Backups - do one and restore form it
- Migrate feeds from the wiki
- Feed parser to use supabase table
- Delete user service once we migrate

[2022-02-16 20:08] tcvan0707 commented on #2952
Is this how you want to be added for the build log content?

<img width="1846" alt="image" src="https://user-images.githubusercontent.com/69607880/154347330-f5a3e1ca-debc-4e89-85d7-d9d0be5f59bb.png">

[2022-02-16 20:08] sirinoks commented on #2814
@joelazwar

[2022-02-16 20:17] rclee91 commented on #2934
I have a few questions regarding this issue.
Besides changing all of the Satellite `"^1.x"` to `"latest"` in all the relevant `package.json`, are we trying to get it so our release workflow will run `pnpm install`, which will update the `pnpm-lock.yaml`, commit and merge the updates, and then also get published with our releases?

I've been trying to read the pnpm documentation, and I think, but I

[2022-02-16 20:19] humphd commented on #2934
I think the answer here is to have whoever bumps the version of Satellite to also update the lock file after it ships.  That is, it's your responsibility to also update the rest of the tree.  What do you think?

[2022-02-16 20:24] rclee91 commented on #2934
Yeah, I think this makes more sense, makes it simpler as well.

I'll create a PR to bump the Satellite versions for now. So our Search tests can move forward

[2022-02-16 20:24] sirinoks opened #2955 "How Auth works doc"
After today's meeting turned out Auth is complicated and keeps getting explained every time again and again. There needs to be a single place to look for that information - the doc.

I have started a scrap one in Wiki - https://github.com/Seneca-CDOT/telescope/wiki/How-Auth-works
To save time and not wait for PRs on small fixes, we instead can work on it in the Wiki, until we have a cohesive resul

[2022-02-16 20:35] sirinoks commented on #2734
The doc was started in our Wiki so that it is fast to edit and we don't need to wait for PRs for small changes. Please add what you know
https://github.com/Seneca-CDOT/telescope/wiki/Supabase-documentation

[2022-02-16 21:54] #2934 closed

[2022-02-16 22:22] tpmai22 commented on #2952
yes seem good to me ! @Andrewnt219 how do you feel ?

[2022-02-16 23:44] manekenpix commented on #2951
I think `production` is running the latest version of the `autodeployment` server. The issue is that, at least once a week, there's a power outage in our "server room" and, when the machines come back and the `autodeployment` server is relaunched, it has no build record to serve, and I think that's why the dashboard displays the error message.

[2022-02-17 00:01] humphd commented on #2951
"Server room" :)

A perfect opportunity to use Supabase and the [Storage API](https://supabase.com/docs/guides/storage)!  We can push build logs and GitHub data about the build into a Supabase storage bucket, and key the name on the git sha.  So maybe for

[code]

Now we can [access these with public URLs](https://supabase.com/docs/guides/storage#accessing-objects).

I'd love to see someone other

[2022-02-17 00:27] sirinoks commented on #2951
O_O what even is `sha`

[2022-02-17 00:59] TueeNguyen commented on #2951
I'm happy to take this.

[2022-02-17 01:00] #2799 closed

[2022-02-17 01:00] TueeNguyen commented on #2951
@sirinoks, it's the id of the commit, it is hashed using SHA (Secure Hash Algorithm). We usually call it sha

[2022-02-17 01:09] DukeManh commented on #2951
I totally agree, Supabase needs to be maintained by more people. Also, the best way to understand Supabase is to get your hand dirty and do something with it.

@humphd, why not use the database but the storage API?

[2022-02-17 01:15] humphd commented on #2951
They are just structureless blobs of data, they don't really belong in the db imho.  This is perfect for object storage.

[2022-02-17 01:15] AmasiaNalbandian commented on #2755
While working on my branch for the search bar with the latest changes from master, I ran into the same issue. I fixed the cause on my end, but will need to confirm it again after I hook up everything to work from 8080 with the front end.

[2022-02-17 01:18] humphd commented on #2755
Would love a fix for this, thanks @AmasiaNalbandian!

[2022-02-17 01:22] TueeNguyen commented on #2951
I guess we're going to upload `.txt` file to storage and read it?

[2022-02-17 01:24] humphd commented on #2951
Log files are `text/plain` and the data from GitHub is `application/json`.  I wouldn't add `.txt`, though.

[2022-02-17 01:27] DukeManh commented on #2951
If we create a JS Blob object to upload, its type would still be 'application/json', we could store JSON directly in Postgres for simplicity.

[2022-02-17 01:31] humphd commented on #2951
This is always true.  You can technically put anything in postgres. But the value of blob storage is that for arbitrary data you aren't indexing, it's just a blob you can request later by URL.

Managing more tables, doing backups, etc. seems like overkill for logs.

[2022-02-17 01:32] #2879 closed

[2022-02-17 01:38] TueeNguyen commented on #2951
Gotta look into what type of file we're going to upload to the storage

[2022-02-17 01:49] Andrewnt219 commented on #2952
That's odd. Where has the padding gone? The terminal used to have padding #2534.

[2022-02-17 02:11] tcvan0707 commented on #2952
I have no idea where the padding has gone. `padding: 0.5rem` seems to be disappeared

[2022-02-17 02:21] #2736 closed

[2022-02-17 03:57] #2826 closed

[2022-02-17 04:26] #2773 closed

[2022-02-17 04:27] #2830 closed

[2022-02-17 04:28] #2791 closed

[2022-02-17 04:28] #2946 closed

[2022-02-17 07:10] cindyledev commented on #2880
Let's see if we can use [mermaid.js](https://mermaid-js.github.io/mermaid/#/)here

[2022-02-17 13:05] #2621 closed

[2022-02-17 13:21] #2935 closed

[2022-02-17 13:52] rclee91 opened #2959 "Automatically update Satellite dependency versions"
**What would you like to be added**:
Find a way to automatically update Satellite dependency versions

**Why would you like this to be added**:
Following the conversations through #2934 , we have to manually get the Satellite updates.
Let's see if we have a way to automate this before Satellite is moved into Telescope in #2677

[2022-02-17 13:53] AmasiaNalbandian commented on #2755
After exploring this, I found the reason we keep getting this error. The issue is when we try to call elastic port which is http://127.0.0.1, it doesn't work. The work around for development right now is to change `env.development` file
https://github.com/Seneca-CDOT/telescope/blob/8a76ffb3529edd022430278851da046430b2ea9f/config/env.development#L246

to use `ELASTIC_URL=http://localhost`

http://1

[2022-02-17 13:55] AmasiaNalbandian commented on #2618
This is completely blocked by: https://github.com/Seneca-CDOT/telescope/issues/2755

[2022-02-17 13:56] JerryHue opened #2960 "Use Mermaid for Docusaurus docs"
**What would you like to be added**: The [mermaid plugin](https://github.com/sjwall/mdx-mermaid) for Docusaurus.

**Why would you like this to be added**: The plugin can let us write diagrams in text form that are then used to generate images. This is super powerful, since we don't need to maintain separate assets. Everything is centralized in the mdx files.

[2022-02-17 13:57] menghif commented on #2941
@416rehman Would you like to take this on?

[2022-02-17 14:13] TueeNguyen opened #2961 "Contributor cards in dashboard doesn't show contributors' avatar"
**What happened**:

If the commit has >= 2 author, the card doesn't display contributors' avatar

![image](https://user-images.githubusercontent.com/58532267/154498416-f5085556-2f95-4cd8-990a-0c68c6cb6acb.png)

**What should have happened**:

It should display all avatars

**How to reproduce it (as precise as possible)**:

Whenever the commit has >= 2 authors like [this commit](8a76ffb3529edd02243

[2022-02-17 14:17] TueeNguyen opened #2962 "Translate about page to different languages"
**What would you like to be added**:

We can start #2922 by translating our about page to different languages

**Why would you like this to be added**:

## Languages:
| Language | Translator(s) | Reviewer(s) |
| ----------- | ------------- | ------------ |
| Vietnamese  | [tcvan0707](https://github.com/tcvan0707) | [cindyledev](https://github.com/cindyledev) |
| Russian | [sirinoks](https://github

[2022-02-17 14:19] tcvan0707 commented on #2962
I would like to translate the About Page to Vietnamese!!!

[2022-02-17 14:22] tcvan0707 commented on #2961
I just want to confirm that it was just me or any one else. This issue just happens sometimes, not every time on my browser. I would tend to say it's not **STABLE**

[2022-02-17 14:23] TueeNguyen opened #2963 "Add language switch functionality in the front-end"
**What would you like to be added**:

A way to switch to different languages in the front-end

**Why would you like this to be added**:

#2962 probably needs this feature to move forward, at least for the about page for now

[2022-02-17 14:25] menghif commented on #2963
We can use this: https://www.npmjs.com/package/next-i18next

[2022-02-17 14:30] rclee91 commented on #2962
I stumbled on a project back in the Hacktoberfest days. It was a repo called Directus and they had it set up like [this](https://github.com/directus/directus/tree/main/app/src/lang) using `vue-i18n `. Maybe the setup might be similar with [next-i18next](https://www.npmjs.com/package/next-i18next)

[2022-02-17 14:37] rclee91 commented on #2963
I stumbled on a project back in the Hacktoberfest days. It was a repo called Directus and they had it set up like [this](https://github.com/directus/directus/tree/main/app/src/lang) using `vue-i18n `. Maybe the setup might be similar with [next-i18next](https://www.npmjs.com/package/next-i18next)

[2022-02-17 15:47] humphd opened #2964 "Figure out DNS for adding admin apps"
We have telescope.cdot.systems and dev.telescope.cdot.systems, and we are trying to also add some new sub-domains for a few admin apps.

Our first experiment was trying to create [dev.portainer.telescope.cdot.systems and portainer.telescope.cdot.systems](https://github.com/Seneca-CDOT/telescope/commit/8a76ffb3529edd022430278851da046430b2ea9f), but [this isn't working](https://github.com/Seneca-CDO

[2022-02-17 15:53] humphd opened #2965 "Separate eslint overrides into each sub-project"
We have a fancy new shared eslint config, and it includes a bunch of [overrides for specific sub-projects](https://github.com/Seneca-CDOT/telescope/blob/master/tools/eslint/index.js#L26-L54).  Let's split these out into each of the sub-projects instead, similar to how the `src/web/*` eslint stuff works.

[2022-02-17 15:59] humphd commented on #2801
I've reached out to Chris to start the process of creating our own Docker Registry.

Those that are interested in being involved should begin by reading https://docs.docker.com/registry/deploying/.  Once I talk to him and get more details, I'll file specific issues that we can start fixing.

[2022-02-17 15:59] menghif commented on #2868
After today's meeting we decided to translate the About page in multiple languages https://github.com/Seneca-CDOT/telescope/issues/2962. We also decided to keep the About page on the Telescope app and to remove MDX.

This issue can be converted into removing MDX.

[2022-02-17 16:05] humphd commented on #2870
I would suggest one of two ways that we could approach this.  Let's create a "Telescope Developer" blog, using either:

- [in our next.js app](https://css-tricks.com/building-a-blog-with-next-js/)
- [our Docusaurus app](https://docusaurus.io/docs/blog)

Then we add the RSS feed for this blog to Telescope.

The advantage of putting this in the next.js app is that we could include a "Blog" link at t

[2022-02-17 16:37] #2835 closed

[2022-02-17 17:11] menghif commented on #2929
https://github.com/Seneca-CDOT/telescope/pull/2932 merged.

[2022-02-17 17:13] cindyledev commented on #2880
Depends on #2960 . Once it gets resolved, we can move forward with this.

[2022-02-17 17:13] joelazwar opened #2966 "[X-Post][Satellite] Document JWT_SECRET with more information (README.md)"
**Where is the problem?**

- [ ] Link **comment/file/somewhere else**
- [ ] Screenshot

**What exactly is wrong:**
We need to document more info about our recently updated JWT_SECRET and how it integrates with Supabase on telescope/satellite

**What should it be instead:**

[2022-02-17 18:41] AmasiaNalbandian commented on #2913
@DukeManh does that mean it will automatically do it? I forget how we are triggering them.

[2022-02-17 18:58] humphd opened #2967 "Upgrade to next.js 12.1"
next.js updated to 12.1 with some goodies we can use, see https://nextjs.org/blog/next-12-1

The Docker bit caught my eye.  We should see what else we can use, and update.

[2022-02-17 19:00] humphd commented on #2959
Talking with @joelazwar on Slack today, one thing that does work is:

[code]

This will rewrite all the `package.json` files throughout the monorepo, and also update the lock file.

[2022-02-17 19:20] humphd commented on #2913
Please don't do this without testing.  As I say, it's known to break our boxes.

[2022-02-17 19:26] joelazwar commented on #2959
been googling for a workaround, i guess this is our best option so far. We could document this step in the Satellite Shipping guide docs TBD

[2022-02-17 19:43] rclee91 commented on #2959
No, I don't know this command at all, I wish I did.
Since we're manually doing it anyways, might as well do it how it manually works for us.

[2022-02-17 19:59] rclee91 commented on #2959
I'm guessing from this line that we get sometimes after running `pnpm install`
[code]
The lockfile will only update with `pnpm install` if something is changed in the various `package.json`

[2022-02-17 20:10] humphd commented on #2959
Correct, which is why `pnpm update ...` makes it happen, since it updates the `package.json` files.

[2022-02-17 21:21] cindyledev opened #2970 "Configure ESLint for Docusaurus sub-project"
Related to #2965

After #2862, a number of ESLint errors showed up in the Docusaurus files. Eg

[code]

[2022-02-17 21:55] humphd opened #2972 "Telescope version not loading properly in hero banner"
The version won't load in the hero banner because the URL is wrong:

<img width="501" alt="Screen Shot 2022-02-17 at 4 54 18 PM" src="https://user-images.githubusercontent.com/427398/154577252-4c969829-ca44-4b43-92da-d5121ac505b0.png">

`https://dev.telescope.cdot.systems/health` doesn't exist.

[2022-02-17 22:05] humphd opened #2974 "Stop pnpm from publishing autodeployment"
Our `pnpm publish` script is working a little too well, and it pushed out a new package: https://www.npmjs.com/package/@senecacdot/autodeployment.

I think we need `"private": true` in https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/package.json to stop that.

[2022-02-17 22:06] humphd opened #2975 "GITHUB_TOKEN showing in logs"
[code]

We should void printing this in build logs.  Is this from debugging? cc @TDDR.

[2022-02-17 22:12] humphd commented on #2974
I deleted the existing package from npm.

[2022-02-18 00:12] humphd opened #2979 "Find a solution for storing and using secrets in production"
In #2978 we're applying a bandaid fix for putting secrets into our production containers via the autodeployment server, by injecting the `.env` file with new values.

This is a good temporary solution, but there are better ways to do this with Docker Swarm secrets or something like Vault, etc.  Let's look for a long term solution to this so that we can keep encrypted secrets somehow.

[2022-02-18 00:13] #2974 closed

[2022-02-18 00:19] humphd commented on #2970
I think that VSCode can't find our .eslintrc file anymore (after we moved it to the sub-project), and so it's using the wrong version of ECMAScript.

[2022-02-18 00:24] humphd commented on #2970
cc @TueeNguyen, who complained of this today too.

I'm also hitting it.

[2022-02-18 01:21] rclee91 commented on #2755
I've updated the tests.

I'm not sure if I should post this in Satellite or here. But, the ES Error change was in `7.16`, it's written here in the [documentation](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/breaking-changes.html). No direct link, but its right under the first code block

[2022-02-18 02:19] tpmai22 commented on #2972
I could not reproduce this

[2022-02-18 03:21] TueeNguyen commented on #2970
I've added this and the complain went away

![image](https://user-images.githubusercontent.com/58532267/154611394-3b159f1b-e69a-42e7-868d-d6cff7c54d48.png)

[2022-02-18 03:22] rclee91 commented on #2913
Reading the [release notes](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/8.0/changelog-client.html), here are some parts I know will already break Search and tests
- [Dropping callback API](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/8.0/changelog-client.html#_drop_callback_style_api)
- [Removing body key from request](https://www.elastic.co/guide/en/

[2022-02-18 05:05] manekenpix commented on #2975
I think this was resolved via #2978, but it'd be nice a second check for confirmation.

[2022-02-18 16:23] humphd opened #2980 "Constant error toasts for build logs"
<img width="385" alt="Screen Shot 2022-02-18 at 11 21 50 AM" src="https://user-images.githubusercontent.com/427398/154721882-bec02594-ce93-4104-a400-ae9e9db7b877.png">

Can we deal with this error in some way that doesn't require the toast to pop-up every 5 seconds?

[2022-02-18 16:24] humphd commented on #2975
Confirmed!

[code]

[2022-02-18 16:29] humphd commented on #2975
I spoke too soon:

[code]

[2022-02-18 17:36] DukeManh opened #2981 "Enable Row Level Security in our tables"
**What would you like to be added**:

Currently, a client, using the public `anon` key is permitted to do any queries such as SELECT, INSERT, UPDATE, DELETE. To protect our data in production, we need to write Row Level Security to restrict public access to our database.

That begins with figuring out who is allowed to do what. This is what our policies could look like. Let us know what you think.

[2022-02-18 18:28] cindyledev commented on #2962
Added myself as a reviewer for Vietnamese :)

[2022-02-18 18:30] humphd opened #2982 "Celebrate our 3,000th Issue and Pull Request"
As [is](https://github.com/Seneca-CDOT/telescope/issues/500), [our](https://github.com/Seneca-CDOT/telescope/issues/1000) [practice](https://github.com/Seneca-CDOT/telescope/issues/1968), we try to pause every time we hit a major milestone in the project and celebrate our community and what we've done together.  Soon we'll hit 3,000.

As I write this, we have:

- 148 Contributors
- 129 Open Issues

[2022-02-18 18:47] #2975 closed

[2022-02-18 19:13] cindyledev commented on #2868
I will also assign myself this issue since this needs some delicate surgery done and I think I know it well enough... maybe _fingerscrossed_

[2022-02-18 19:24] cindyledev commented on #2962
Hello translators, I have started a discussion https://github.com/Seneca-CDOT/telescope/discussions/2985 regarding the About Us page and would like your input. The About Us page should be updated and should be stable enough before being translated into different languages

[2022-02-18 19:43] cindyledev opened #2987 "Home Page for Docusaurus needs to be updated"
Our current Docusuarus home page looks like this:

![Screenshot 2022-02-18 at 14-34-55 Hello from Telescope Telescope](https://user-images.githubusercontent.com/36822198/154750635-61adbf6e-0e8c-49d2-b634-a15ec9ac3dd0.png)

Could probably use fewer dinosaurs and more telescopes? Suggestions are open.

cc @sirinoks because she has mentioned interest in this on Slack and https://github.com/Seneca-CDO

[2022-02-18 19:45] cindyledev commented on #2924
This is blocked by #2865 and #2987

[2022-02-18 20:46] tcvan0707 commented on #2982
"If you cannot do great things, do small things in a great way". 😊

[2022-02-18 21:20] DukeManh commented on #2970
This stops me from doing any work with VSCode. I think it'll be best to reverse #2862, which caused it, and merge it again when we have a fix.

[2022-02-18 21:25] DukeManh commented on #2970
Or we can reverse the eslint config locally to avoid this.

[2022-02-18 21:46] humphd commented on #2970
![image](https://user-images.githubusercontent.com/427398/154765496-0d688571-3320-4f57-9aca-3dfced161ad3.png)

What I think is happening here is that the vscode extension is being thrown off by not finding an eslint config.  We might need to put it in the root of all our packages.

[2022-02-18 21:53] joelazwar commented on #2981
Just to clarify, how do new telescope profiles get created in the sso flow? Users won't be able to make it, so it's limited to 1 for each seneca user when they sign up?

[2022-02-18 21:56] humphd commented on #2970
I also notice when I go into `src/web` and click on a JS file:

[code]

I think `extends: 'eslint-config-telescope'` has to be `extends: '@senecacdot/eslint-config-telescope'` everywhere (e.g., `src/web/.eslintrc.js). cc @tcvan0707, @Meneguini

And we need that same file in all of our sub-packages.

[2022-02-18 22:00] humphd commented on #2964
Chris just added:

- portainer.telescope.cdot.systems, dev.portainer.telescope.cdot.systems
- supabase.telescope.cdot.systems, dev.supabase.telescope.cdot.systems

Waiting on DNS to catch up.  SSL is next!

[2022-02-18 22:57] DukeManh commented on #2981
@joelazwar Users are only created through SSO service using an Admin key and one Seneca student can only create one account yeah.

[2022-02-19 01:32] manekenpix opened #2989 "Replace JWT_TOKEN with JWT_SECRET in deploy script"
The [deploy.sh](https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/deploy.sh) script used by our autodeployment server is injecting a new jwt secret and storing it in an env var named `JWT_TOKEN.

This env var should be renamed `JWT_SECRET`, [here](https://github.com/Seneca-CDOT/telescope/blob/53eee4b9cafc35568b55ed7d2f7b9f149ef05fda/tools/autodeployment/deploy.sh#L44).

[2022-02-19 02:04] humphd commented on #2989
cc @joelazwar

[2022-02-19 15:28] #2989 closed

[2022-02-19 16:04] humphd opened #2993 "Share single nginx container for all static sites"
Follow-up to https://github.com/Seneca-CDOT/telescope/pull/2973#discussion_r810409547, let's run a single nginx container, and have all of our static web content get served by this one instance.

1. `src/web` is our next.js website
2. `src/docs` is our Docusaurus website
3. `test/test-web-content` is a static testing site we only need in development, see https://github.com/Seneca-CDOT/telescope/bl

[2022-02-19 17:36] cindyledev commented on #2993
Can we also rename the `src/web/docs` to `src/web/docusaurus` to avoid file paths from looking like `src/web/docs/docs/*`?

`docs/docs` is waiting for typos to happen.

[2022-02-19 17:51] cindyledev opened #2998 "Configure ESLint for Mobile sub-project"
Related to #2965

After #2862, a number of ESLint errors showed up in the `src/mobile` files. Eg

[code]

These ESLint errors have our developers switching from VS Code to other Code Editors :(

Please see ESLint override configs
https://github.com/Seneca-CDOT/telescope/blob/372976bd563e58d79ad177c00eb645a060a07ca0/tools/eslint/index.js#L47-L53

[2022-02-19 17:58] cindyledev opened #2999 "Configure ESLint for Dashboard sub-project"
Related to #2965

After #2862, a number of ESLint errors showed up in the `src/api/status/*` files. Eg

[code]

Please see ESLint override configs
https://github.com/Seneca-CDOT/telescope/blob/372976bd563e58d79ad177c00eb645a060a07ca0/tools/eslint/index.js#L35-L39

[2022-02-19 18:01] cindyledev opened #3000 "Configure ESLint for Backend sub-project"
Related to #2965

After #2862, a number of ESLint errors showed up in the `src/backend` files. Eg

[code]

Please see ESLint override configs
https://github.com/Seneca-CDOT/telescope/blob/372976bd563e58d79ad177c00eb645a060a07ca0/tools/eslint/index.js#L26-L33

These ESLint errors have our developers switching from VS Code to other Code Editors :(

[2022-02-19 18:09] humphd commented on #3000
See #2994

[2022-02-19 18:09] humphd commented on #3000
Also, #3000! Time to focus on #2982

[2022-02-19 18:16] cindyledev opened #3002 "Configure ESLint for Jest Test files"
Related to #2965

After #2862, a number of ESLint errors showed up in the `test/*` files. Eg

[code]

Please see ESLint override configs
https://github.com/Seneca-CDOT/telescope/blob/372976bd563e58d79ad177c00eb645a060a07ca0/tools/eslint/index.js#L41-L45

These ESLint errors have our developers switching from VS Code to other Code Editors :(

[2022-02-19 18:27] cindyledev commented on #2982
"Do you know what we go through while coding? They [Digital Ocean] know we need good quality [Hacktoberfest t-shirts]. All the blood, sweat, and mainly my tears..."

-- Amasia Nalbandian

[2022-02-19 21:00] #2865 closed

[2022-02-19 22:36] JerryHue opened #3006 "Dependency-discovery gives empty array in staging and production"
**What happened**: The `dependency-discovery` service gives an empty array for the list of projects that Telescope has a dependencies

**What should have happened**: It should have given an array with several project names.

**How to reproduce it (as precise as possible)**: Go to `https://api.telescope.cdot.systems/v1/dependency-discovery/projects`

**Anything else we need to know?**:

It seems th

[2022-02-20 00:58] #3006 closed

[2022-02-20 02:51] humphd commented on #2877
@sirinoks I watched some of your live stream tonight and saw you working on this for a bit.  I thought I'd add some context.

`docker-compose` lets you define a set of containers that you "compose" (i.e., run together).  The files are written in YAML, and the syntax is defined [here](https://docs.docker.com/compose/).

One thing that you can do with compose is to run multiple compose files at the

[2022-02-20 14:00] humphd commented on #2897
I'm seeing this for a second time, still unfixed.  @HyperTHD do you have time to work on this, or should we give to someone else?

[2022-02-20 16:30] Kevan-Y commented on #2490
![Image from iOS](https://user-images.githubusercontent.com/58233223/154853085-6412beb3-5dd8-4e36-8a00-ff677107fb98.jpg)

[2022-02-20 17:51] humphd opened #3012 "Allow Telescope maintainers to have their own Portainer Accounts"
I want to be able to create accounts for our core maintainer group on Portainer.  We have an admin account that Josue, James, and myself have access to right now.

However, Portainer supports creating teams/accounts in the app.  I'd like to figure out how to do this.  We probably need to be able to store a volume between starting/stopping the `portainer` service?  I'm not sure.

I'm going to want

[2022-02-20 19:54] DukeManh commented on #2490
@Kevan-Y

[2022-02-20 20:07] humphd commented on #2490
I'll note that there still isn't a single pic of a "student IN a Hacktoberfest t-shirt."  For all I know, you're all a bunch of bots.

[2022-02-21 02:06] humphd opened #3017 "Give more options for starting a sub-set of our containers"
Telescope continues to grow, and as we add more services and sub-systems, the size of the the running containers is a lot for many people.  Talking with @cindyledev tonight I had a thought.

We have a monorepo, with lots of moving parts.  However, developing any one part often only involves a few of our sub-systems in order to run.  For example, if I'm working on the web front-end, or if I'm hacki

[2022-02-21 02:13] humphd opened #3018 "Fix web socket access for portainer"
Portainer can connect a browser-based shell to running containers in staging and production.  I broke it in https://github.com/Seneca-CDOT/telescope/pull/2950 when I moved Portainer to be behind Traefik.  Specifically, getting rid of this:

[code]

I either need to get this working with Traefik, or restore it to nginx.  Docs on this from https://github.com/portainer/portainer/issues/488.

[2022-02-21 15:16] humphd commented on #2831
Now that we have Supabase, it probably makes sense to store this info in a postgres table, since it won't change very often.

[2022-02-21 18:10] HyperTHD commented on #2897
Been pretty busy lately, but got some time. I'll have a PR up today hopefully for this

[2022-02-21 19:33] #2868 closed

[2022-02-21 22:11] manekenpix commented on #2982
New image: https://unsplash.com/photos/-Xqckh_XVU4

![image](https://user-images.githubusercontent.com/23108901/155031982-0632cd31-199d-4867-8f8a-d41587e2e2fb.png)

[2022-02-21 23:00] manekenpix commented on #2897
The issue is still there
![image](https://user-images.githubusercontent.com/23108901/155035782-ae8ae4db-92e6-4241-90ff-b95149ef5db2.png)

[2022-02-21 23:01] humphd commented on #2897
Won't it need to re-index for this to get applied to that post?

[2022-02-21 23:07] manekenpix commented on #2897
@humphd or, I forgot, let me make the changes on staging to see if it solves the issue

[2022-02-21 23:27] manekenpix commented on #2897
No, still the same issue
![image](https://user-images.githubusercontent.com/23108901/155037855-29f4703e-f56f-4696-8400-42cafc2ea1ed.png)

[2022-02-21 23:29] manekenpix commented on #2897
I think this is probably related to @2306, I see the same behaviour in both cases.

[2022-02-21 23:59] DukeManh commented on #2897
Could be because the hostname is supposed to be `player.twitch.tv` vs `twtich.tv`
@HyperTHD

[2022-02-22 00:00] DukeManh commented on #2897
This is Alex's twitch iframe

[code]

[2022-02-22 00:13] HyperTHD commented on #2897
I tested that hostname, still not viewing it locally

[2022-02-22 00:57] humphd opened #3022 "Telescope not loading proper healthcheck"
<img width="477" alt="Screen Shot 2022-02-21 at 7 56 48 PM" src="https://user-images.githubusercontent.com/427398/155044164-a5ebebd2-79cf-433e-97be-ba842bbaeafa.png">

cc @HyperTHD

[2022-02-22 00:58] humphd commented on #2897
<img width="923" alt="Screen Shot 2022-02-21 at 7 58 05 PM" src="https://user-images.githubusercontent.com/427398/155044259-844fa3eb-40f7-4b74-b4bd-723ac0596ce7.png">

For me on staging, I don't get a URL on the iframe, what am I missing?  Did we try re-indexing?

[2022-02-22 01:12] manekenpix commented on #2897
@humphd yes, all the feeds were re-indexed on staging, but the issue persists.

[2022-02-22 01:29] humphd commented on #2897
@HyperTHD  I'd say that it's the sanitizer using `'www.twitch.tv'` vs. `'player.twitch.tv'` and stripping it during parsing.

[2022-02-22 01:45] HyperTHD commented on #2897
I'm not able to see any changes when switching it out, but I can put up a PR to fix this, and hopefully re-indexing on staging will fix that

[2022-02-22 03:51] HyperTHD commented on #3022
Yup, follow up to my recent PR that updated the health-check
Gonna fix this one up too
For reference, [view here](https://github.com/Seneca-CDOT/telescope/pull/2856#discussion_r802128307)

[2022-02-22 12:14] sirinoks commented on #2987
Looking into https://greensock.com/ - a tool to make CSS animation

[2022-02-22 19:17] humphd commented on #3017
I also wonder if we could leverage https://code.visualstudio.com/docs/remote/containers and https://code.visualstudio.com/docs/remote/containers#_create-a-devcontainerjson-file to define our environment.

[2022-02-22 19:35] humphd opened #3024 "Investigate using AWS for ephemeral dev environments"
Somewhat connect to #3017, I'd like to see if we can figure out how to do a turn-key AWS-dev solution using https://code.visualstudio.com/docs/remote/ssh.  I know @cindyledev has done something pretty similar and documented it.

My idea is to figure out how best to leverage the AWS accounts I can create for students.  My requirements and limitations are as follows:

- students get a sandboxed AWS

[2022-02-22 20:01] Kevan-Y commented on #2936
How do I reproduce that? I tried on my local I don't see this in the nginx logs

[2022-02-22 20:03] humphd commented on #2936
I think this is a hiccup related to load ordering.  I'm going to close, since I can't see the logs in staging.

[2022-02-22 20:03] #2936 closed

[2022-02-22 21:16] humphd commented on #2801
I've just finished a meeting regarding this, and here's the update:

- Chris has to go to campus to move some SSDs around so we can take over one of his servers.
- He's going to create a VM that we can use to host the Docker Registry, and we'll initially have access to a few hundred Gigs of storage.
- Later, he's hoping to move this into a rack with faster network and access to a larger set of net

[2022-02-22 21:34] humphd commented on #3024
https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/getting-started/aws-cloud9.md has a ton of info already.

[2022-02-22 22:52] #2970 closed

[2022-02-22 23:01] cindyledev commented on #3024
Trying this out in a Cloud9 environment. Seems like if we're using only allowed `.large` instances, we only have t3, c5, t2, m4, and c4 available. Unfortunately means only a maximum of 8 GB of RAM

![2022-02-22 17_57_03-Window](https://user-images.githubusercontent.com/36822198/155233629-0301498b-a2d8-4f1e-bfb7-8e85fb81f58d.png)

Will continue to investigate

[2022-02-22 23:57] c3ho commented on #3024
There’s also digital ocean (droplets) for students, I’m not too sure on the specifics. However it’s an alternative to look at, they have the cheapest VMs out of all the cloud providers for the same specs

[2022-02-23 00:16] cindyledev commented on #3024
I can use VSCode to SSH into a r5.large instance (16GB RAM!) as mentioned above. I still gotta make some configurations because it doesn't have a lot of things installed like docker-compose, node, git. This is getting even more exciting.

[2022-02-23 00:53] TDDR commented on #2801
I would like to be involved. I don't have many issues assigned right now for anticipation of this, so load me up with a decent workload for over the next couple of weeks if possible.

[2022-02-23 03:08] DukeManh commented on #2801
What will be the network bandwidth of the current system?

[2022-02-23 03:20] manekenpix commented on #2913
Some more info:
I tried to run the parser with ES v8 (both image and client) and the first thing to deal with is this (the client can't connect to ES):

[code]
It seems that some security features are now enabled by default. In the docs, they mention this to disable security:
[code]
So, what should we disable? I tested disabling the first option `xpack.security.enabled: false`, and the client can

[2022-02-23 03:24] rclee91 commented on #2913
We're using ElasticSearch from Satellite in search and parser, so I'm guessing ES in Satellite will also have to be upgraded as well

[2022-02-23 15:11] Kevan-Y commented on #2801
Just wondering, I read a tutorial, about self-hosting docker registry. Is it something similar to this https://www.digitalocean.com/community/tutorials/how-to-set-up-a-private-docker-registry-on-ubuntu-18-04 we gonna do?

[2022-02-23 16:53] TueeNguyen commented on #2111
Reopened because I haven't got tests in

[2022-02-23 16:59] JiaHua-Zou opened #3028 "Path Typo in the jest.config.js file"
**What happened**:
![image](https://user-images.githubusercontent.com/59105665/155368189-83a2fcc6-293b-4480-8668-dade711ece3b.png)
There is a typo for the path. it should have been `src/api` instead of `src.api`. The `jest.config.js` file is located in the search folder.

[2022-02-23 17:17] #3028 closed

[2022-02-23 19:01] HyperTHD commented on #3022
@humphd I'm not getting that error, actually it appears to be working fine on my end.
![image](https://user-images.githubusercontent.com/16841702/155389004-e60314bf-a2d3-44dc-bad6-d22120e66982.png)

[2022-02-23 19:16] humphd commented on #3022
Interesting.  OK, same for me.  Not sure what I saw.  I'll re-file it I see it again.  Thanks for checking.

[2022-02-23 19:16] #3022 closed

[2022-02-23 19:17] humphd commented on #2111
Or Docker bits to turn it on in docker-compose.yml

[2022-02-23 19:19] humphd commented on #2801
Eventually 10 Gigabit between the docker registry and staging/prod, but not until we move it into the server rack later in the term.  For now, I don't know the answer, but should be pretty fast.

[2022-02-23 19:19] humphd commented on #2801
Yes, very similar, but on Fedora vs. Ubuntu.

[2022-02-23 19:24] humphd commented on #2913
I'm not sure that we'll dump ES any time soon, since Supabase doesn't provide the same capabilities.  We might do that eventually, but not in 3.0.

I think that we should be able to avoid all the security to the ES instance because we don't expose it to the world.  We'll have to figure out how to turn this stuff off, or how to satisfy it?

[2022-02-23 19:27] humphd opened #3029 "See if our nginx configs make any of these common mistakes"
https://www.nginx.com/blog/avoiding-top-10-nginx-configuration-mistakes/ lists various mistakes people often make, and I wonder if we do?  Let's look.

[2022-02-23 19:28] humphd commented on #3024
DigitalOcean is out for me personally.  Even though I love and use them, for Telescope I want to leverage the AWS classes I can create.

[2022-02-23 19:29] humphd commented on #3024
This is what I wanted to hear!  Ideally we make some kind of script or use infrastructure automation to take the base Linux AMI and add that stuff and leave the environment ready for action.

[2022-02-23 19:46] humphd commented on #2755
I've only seen it happen locally, but I wonder if this is what the feed-discovery service is doing when it crashes.

[2022-02-23 19:59] TueeNguyen commented on #2111
@humphd, can you give me some idea how to write e2e test for this?

I plan on adding a few valid, invalid, youtube feeds to the queue, run it and after the queue is drained, I check data in redis, queue's stats

[2022-02-23 20:09] humphd commented on #2111
An e2e test would probably have you add some feeds to the queue (later we'd inject them into the database), have the feed queue start, wait on the queue to drain, then use the posts service to query the feeds and posts data.

[2022-02-23 21:14] humphd commented on #3012
This is done now.  If people need access, they can talk to @cindyledev who is going to help me manage access to this.

Anyone who is debugging stuff on staging/production is welcome to get an account for as long as they need.

[2022-02-23 21:14] #3012 closed

[2022-02-23 21:15] humphd commented on #2964
This is done, closing.

[2022-02-23 21:15] #2964 closed

[2022-02-23 21:16] humphd commented on #2837
@DukeManh this is basically done or in motion, should we close?

[2022-02-23 21:17] DukeManh commented on #2837
This can be closed.

[2022-02-23 21:17] #2837 closed

[2022-02-23 22:01] TueeNguyen commented on #2111
Great, my initial thought is almost correct. But, how do I use posts service in `parser`? Should I import it to `parser`?

[2022-02-23 22:21] humphd opened #3030 "Use oauth2-proxy with GitHub Auth Provider to secure Admin apps"
We've pretty much solved authentication for users.  Next, I want to solve authentication for our "admin" apps.  These are areas of the system that only our dev team should be able to access (e.g., Supabase console).

One solution is for us to add [oauth2-proxy](https://github.com/oauth2-proxy/oauth2-proxy) and configure it with the [GitHub Auth Provider](https://oauth2-proxy.github.io/oauth2-proxy

[2022-02-23 22:26] humphd commented on #3030
I *think* that once we do this, we can configure Portainer to use it too (this needs more research, see https://oauth2-proxy.github.io/oauth2-proxy/docs/features/endpoints):

<img width="978" alt="Screen Shot 2022-02-23 at 5 23 15 PM" src="https://user-images.githubusercontent.com/427398/155419476-c908e2fc-ff83-44e2-9c13-87fa72b1320f.png">

[2022-02-23 22:28] humphd commented on #2111
You wouldn't use it in the parser, you'd `fetch()` it in your tests.  The test is connecting the two, they know nothing about each other.

[2022-02-23 22:31] humphd commented on #294
This problem is going away now that feeds are moving into Supabase.  Closing.

[2022-02-23 22:31] #294 closed

[2022-02-23 22:32] humphd commented on #1059
I think this is going to be solved (i.e., we won't need it) when we import the existing feeds into Supabase.  I'm going to close.

[2022-02-23 22:32] #1059 closed

[2022-02-23 22:33] humphd commented on #1171
This is going away with the backend, so I'm going to close.

[2022-02-23 22:33] #1171 closed

[2022-02-23 22:34] humphd commented on #1193
This was a cool idea, but our UI changed to not have the author list on the side.  Closing.

[2022-02-23 22:34] #1193 closed

[2022-02-23 22:34] humphd commented on #1260
cc @rclee91

[2022-02-23 22:35] humphd commented on #1296
I believe this is fixed.  I haven't seen any issues since we landed the changes to the parser in the fall.  Closing.

[2022-02-23 22:35] #1296 closed

[2022-02-23 22:36] humphd commented on #1869
This is no longer an issue, we have this working in the SSO service with Supabase.

[2022-02-23 22:36] #1869 closed

[2022-02-23 22:38] humphd commented on #2153
In #3030 I'm suggesting that we use GitHub OAuth with org/team membership to define our admins.  Closing this in favour of that.

[2022-02-23 22:38] #2153 closed

[2022-02-23 22:38] humphd commented on #2955
NOTE: #3030 is extending this.

[2022-02-23 22:40] humphd commented on #2933
This is working now with my account, closing.

[2022-02-23 22:40] #2933 closed

[2022-02-23 22:41] humphd commented on #2913
The eslint mock we use doesn't support 8.0 yet, so this is not happening until we get that.  @rclee91 has details in https://github.com/Seneca-CDOT/telescope/pull/3026#issue-1147781142

[2022-02-23 22:44] humphd commented on #2982
I like: https://unsplash.com/photos/zba0XM1kIEQ

Fitting all the different pieces together to make something that will last.

![](https://images.unsplash.com/photo-1616232218232-8461ad93412e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2371&q=80)

[2022-02-23 23:00] #2860 closed

[2022-02-23 23:26] DukeManh opened #3031 "e2e test timeout"
**What happened**:
One 2e2 test failed on master because the timeout limit exceeds

<img width="1314" alt="image" src="https://user-images.githubusercontent.com/51073515/155426631-62b58593-b201-4d69-b330-dfa48f90cd16.png">

- OS:
- Browser:

[2022-02-23 23:35] cindyledev commented on #3031
This actually happens quite frequently, I had to re-run the tests for master to be happy :(

[2022-02-24 00:03] #3018 closed

[2022-02-24 00:06] humphd commented on #3031
I suspect that we're maxing out these CI boxes with our many containers.  We should figure out which ones we can not run during tests.

[2022-02-24 00:08] humphd commented on #3031
We could probably remove status, image, and planet with no problem.  We also don't need the Supabase console.

[2022-02-24 00:11] humphd commented on #3031
#3017 would help with this too: we could run e2e tests for different parts of the tree in different builders in parallel, and only start the portion of containers they need.

We have a monorepo, but we don't have to run our tests as a whole app.

[2022-02-24 00:37] sirinoks commented on #2340
@Grommers00 @humphd Can it be closed now?

[2022-02-24 00:38] #2340 closed

[2022-02-24 00:43] sirinoks commented on #1907
@humphd Is this still a problem?

[2022-02-24 00:44] aserputov commented on #1865
@HyperTHD can this issue be closed ?

[2022-02-24 00:44] humphd commented on #1907
Given that feeds will live in Supabase, we should probably remove this, yes.  It's still needed.

[2022-02-24 00:46] aserputov commented on #1607
@HyperTHD can this one be closed too ?

[2022-02-24 00:47] aserputov commented on #1398
@humphd can we close this one ?

[2022-02-24 00:50] cindyledev commented on #1398
Hahaha, this is the old Gatsby UI! What a sight

[2022-02-24 00:55] aserputov commented on #1310
@humphd I think this one can be closed.

[2022-02-24 01:16] humphd commented on #1398
This is still happening.

[2022-02-24 01:17] humphd commented on #1310
We moved it to posts https://github.com/Seneca-CDOT/telescope/blob/master/src/api/posts/src/validation.js. Unless we rip it out with #1907.

[2022-02-24 01:52] #2895 closed

[2022-02-24 03:09] cindyledev commented on #3024
I'm happy to report that I got Telescope working on an EC2 instance made by an AWS Learner Lab account! The [docs](https://github.com/Seneca-CDOT/telescope/blob/master/src/docs/docs/getting-started/vscode-ssh.md) need work. PR to come.

Our frontend and backend feeds
![2022-02-23 22_03_45-Window](https://user-images.githubusercontent.com/36822198/155450097-0103787e-4fc1-4ea8-8803-38b47469e1a0.png)

[2022-02-24 12:58] humphd commented on #3024
This is very exciting, thanks for sharing!  I really interested in to hear all the gory details when you have time.

[2022-02-24 13:18] JerryHue commented on #2982
I wonder if we could do something somewhat special. I've been looking at three.js for a while, so I was wondering if we could have a hero banner that uses three.js animations. To make it special, the hero banner can appear randomly, with a really low chance of appearing, like an [easter egg](https://en.wikipedia.org/wiki/Easter_egg_(media)). 😄

I think a CSS animation could also be good, to make i

[2022-02-24 13:20] Kevan-Y commented on #2982
https://unsplash.com/photos/03ztkGdYWU8.
There is a bunch of unknown part in telescopes, but we stand out in one part.
![image](https://user-images.githubusercontent.com/58233223/155530972-fd11eed6-a185-4e64-8f81-86a7d22f74f9.png)

[2022-02-24 13:23] Kevan-Y commented on #2982
We can use something like that https://spline.design/ to generate an iframe.

[2022-02-24 13:32] #2053 closed

[2022-02-24 13:32] #2030 closed

[2022-02-24 13:37] aserputov commented on #1907
Related to supabase.

[2022-02-24 13:45] Kevan-Y opened #3033 "Expose supabase studio under nginx"
Follow up of #2791, in the previous issue, we only expo kong via treafik. We want now to expose supabase studio via nginx.
The route would be ` https://dev.supabase.telescope.cdot.systems/ ` and ` https://supabase.telescope.cdot.systems/ ` See  https://github.com/Seneca-CDOT/telescope/issues/2964

This is similar to https://github.com/Seneca-CDOT/telescope/pull/3025

[2022-02-24 13:45] humphd commented on #1907
We should figure out what is actually calling the feeds route.  I suspect it's the old parser, which is going away.  The new parser can talk directly to Supabase (cc @TueeNguyen).

[2022-02-24 14:07] aserputov commented on #2834
Waiting for backend to support this one.

[2022-02-24 14:08] JerryHue commented on #2980
In #2919, I added the alert toast on any part of the code that there was an early return or a caught exception. I labelled the toast to know the origin, so you can head over the [`decorateBuild`](https://github.com/Seneca-CDOT/telescope/blob/da0a7c2068684c02546fcbf23e5f76ee3967b9e7/src/api/status/public/js/build-log/check-build-status.js#L33). Also, this toast is appearing repeatedly since we are

[2022-02-24 14:26] sirinoks opened #3034 "Remove all the unused and useless graphs from dashboard."
Turns out all these cool looking graphs are not doing anything. They are a left over from the time when someone yoinked the design. Not just the parts that we needed, but the whole thing!
![Screenshot_480](https://user-images.githubusercontent.com/13803161/155542438-a9d6d1af-eb4d-4c9f-9ae8-2e0c3e663b4c.png)

You might want to confirm which parts are exactly useless, so correct my issue if I'm wron

[2022-02-24 14:26] aserputov commented on #2121
Related #2444

[2022-02-24 14:28] sirinoks opened #3035 "Adding Twitch streams placement if any are active"
As we have added youtube and twitch support, we are now able to display the recordings in our feeds. However, we can't display streams.

I recommend after having connected a Twitch account for Telescope, have a service that would work with Twitch api. Every time a stream of a user that is registered starts - it activates.

What we would see happen is a container will appear, it will always be at t

[2022-02-24 14:29] sirinoks commented on #1026
Follow #3035

[2022-02-24 14:31] aserputov commented on #2941
@416rehman any updates ?

[2022-02-24 14:37] sirinoks commented on #1073
WE NEED DISLIKES IF WE HAVE LIKES.

So that it's balanced, like all things should be.

[2022-02-24 14:55] TueeNguyen commented on #2111
Hi @humphd, How do I run e2e tests? I don't think I can run it locally.

[2022-02-24 14:59] AmasiaNalbandian commented on #2963
updates: I integrated next-i18next but I'm stuck on an error I keep receiving - hoping to figure out the error soon otherwise I am posting it up as a draft PR tonight for help.

[2022-02-24 15:01] humphd commented on #2801
@TDDR, @rclee91, @Kevan-Y  for the docker registry, here is what I think we need to do:

- [ ] (@ctyler) create VM to host the new registry and grant access to @humphd (in-progress, happening next Friday)
- [x] (@humphd) create a new Seneca-CDOT repo: https://github.com/Seneca-CDOT/docker.cdot.systems
- [ ] (@tddr, et al) read https://docs.docker.com/registry/deploying/, https://www.digitalocean.c

[2022-02-24 15:06] humphd commented on #3030
See https://github.com/Seneca-CDOT/telescope/issues/2801#issuecomment-1049947905 which outlines some of what has to happen.  NOTE: we don't need to do SSL or the like here.

In the case of Telescope, we need to:

- add the [oauth2-proxy container](https://hub.docker.com/r/bitnami/oauth2-proxy/) to our services in the `docker/production.yml` file
- proxy connections to `portainer.telescope.cdot.sys

[2022-02-24 15:10] humphd commented on #2111
Identical way we do it in CI:

https://github.com/Seneca-CDOT/telescope/blob/master/.github/workflows/e2e-tests-ci.yml#L28-L30

[2022-02-24 15:33] TDDR opened #3036 "Update deployment documentation to meantion the inclusion of the GITHUB_TOKEN"
**Where is the problem?**
In #2863 I was asked to update the documentation, or make a separate issue. I had meant to roll it into that PR, but here we are.

![image](https://user-images.githubusercontent.com/59970326/155555274-85e45ab8-9c44-4566-a0a7-c90e8f7602c6.png)

[2022-02-24 15:39] TDDR opened #3037 "Use `stable-alpine` instead on `stable` to reduce image sizes."
In #2944 I was asked to reduce the size of our web service by changing the `nginx` image we use from `nginx:stable` > `nginx:stable-alpine`

In this task we must make the same change in our other services where possible.

[2022-02-24 15:56] humphd commented on #2834
cc @Andrewnt219

[2022-02-24 16:00] pbelokon commented on #3034
I would like to work on it.

[2022-02-24 16:04] humphd commented on #3034
@pbelokon welcome!  Let us know what help you need.  I'm sure @dbelokon would be happy to provide support!

[2022-02-24 17:28] #3036 closed

[2022-02-24 18:31] Andrewnt219 commented on #2834
I'll look into it on the weekend @aserputov

[2022-02-24 18:49] humphd commented on #3024
I wonder if we can use https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html to automatically set up the instance when it boots, via a shell script or cloud-init.

[2022-02-24 21:15] humphd commented on #2801
OK, server is setup, docker.cdot.systems created.  Thank you @ctyler!

Now the fun begins.

[2022-02-24 21:25] DukeManh commented on #2801
This is exciting, I added my name to a task.

[2022-02-24 22:15] TueeNguyen commented on #2111
I did some research on testing bull queue using `ioredis-mock`, apparently, it only works with real redis connection. Refer to this issue https://github.com/OptimalBits/bull/issues/962.

[2022-02-24 22:26] humphd commented on #2111
This is why we need to write e2e vs. mock unit tests (i.e., so we have a real redis).

[2022-02-25 02:12] 416rehman commented on #2941
Haven't had the time to look into this, been busy with school. Feel free to assign it if someone is interested.

[2022-02-25 17:46] cindyledev opened #3046 "Docusaurus Dockerfile doesn't run pnpm build in Production layer"
I was reviewing #3041 and realized that the Dockerfile doesn't run `pnpm build` in the Production layer. Must have been a hiccup when I was working on #2973.

[2022-02-25 20:32] Kevan-Y opened #3048 "Docusaurus broken links."
When building Docusaurus [see](https://github.com/Seneca-CDOT/telescope/blob/master/src/docs), the logs show several broken links. We should fix those broken links.

![image](https://user-images.githubusercontent.com/58233223/155796483-3b1f6c69-54fe-432b-9810-8752e69ce58e.png)

This PR https://github.com/Seneca-CDOT/telescope/pull/3047 ignores all the broken links. So to reproduce it, we need to c

[2022-02-25 21:43] #3046 closed

[2022-02-25 22:04] Kevan-Y commented on #2801
Assigned myself to some tasks too.

[2022-02-25 22:14] humphd commented on #2691
<img width="1264" alt="Screen Shot 2022-02-25 at 5 13 33 PM" src="https://user-images.githubusercontent.com/427398/155810269-2c825dc8-a159-4b00-bcfb-458bf8f6de29.png">

Staging still does this.

[2022-02-26 00:30] #2959 closed

[2022-02-26 02:35] rclee91 commented on #2755
Wondering if any similar crashes are still happening after the fix in [Satellite](https://github.com/Seneca-CDOT/satellite/pull/64)

[2022-02-26 02:38] rclee91 commented on #2913
Unfortunate, but I think I'd be even more sad if we had to rip out the tests that I took so long to get in.
Should I close that PR for now then?

[2022-02-26 04:54] HyperTHD commented on #1865
This needs to be discussed some more in depth because of the supabase integration. Technically speaking, deletion operation is not feasible since the parser service would just add the post back. You'd also have to consider how integrated feeds are with posts. #1907 wants them removed from the posts service, but since a post technically has a feed required, the front-end cannot load the posts witho

[2022-02-26 04:55] aserputov commented on #1865
@HyperTHD thank you

[2022-02-26 04:58] HyperTHD commented on #1907
You have to also change the relationship between a feed and a post. Right now, a post must have a feed, so the frontend cannot load any posts that doesn't have a feed, which is why I didn't remove the feed related code when I made this service. I don't remember if the feeds routes were needed, probably not, but the feed class and methods used there definitely are atm, so you have to consider how t

[2022-02-26 14:04] humphd commented on #2913
Let's leave it open, but block it on these issues being sorted.

[2022-02-26 14:05] humphd commented on #2755
Not sure.  We can close this for now and re-open if we see it again.

[2022-02-26 14:05] #2755 closed

[2022-02-26 20:55] humphd opened #3059 "Remove admin role from JWT roles claim"
We have a `roles` claim in our JWT, which is an array of strings representing the roles for a user.  These include:

- seneca
- telescope
- admin

We are moving toward separating our auth for users vs. admins in #3030, and we can get rid of the `admin` role and all the associated uses of it in Satellite and Telescope.  For example, src/api/sso/test/e2e/super-user.test.js

[2022-02-26 23:46] Kevan-Y commented on #2857
The post API returns the post in HTML. We cannot render directly HTML in React native.
I'm wondering if we should use some third library for that. Or use some other solution.
Some are the library I found.
- https://www.npmjs.com/package/react-native-webview
- https://www.npmjs.com/package/react-native-render-html

[2022-02-27 14:22] humphd commented on #2801
I think oauth2-proxy might be hard to use for automated login scenarios (e.g., pushing to the registry from CI).  I think we should look at https://github.com/cesanta/docker_auth too, which should let us do it with tokens, see https://github.com/cesanta/docker_auth/blob/main/examples/reference.yml#L122-L163

[2022-02-28 01:25] Kevan-Y commented on #3030
Spend a few days doing research and testing this.
I was able to enable it in my local and protect some routes for demo purposes.
For example access to treafik we need to call localhost:8085 which is our oauth2_proxy, then on successful login it will redirect to treafik.

https://user-images.githubusercontent.com/58233223/155909028-86c64dd2-8d36-4761-96f1-f93e5cd5e2cc.mp4

But I have some questions

[2022-02-28 01:29] humphd commented on #3030
@Kevan-Y fantastic!

Can you say more about your concerns with signout?

Portainer is like the Traefik dashboard you used: just a web app we want to restrict access to.  If you can make this work with Traefik's dashboard, we can do it with anything.

"it doesn't support subdomain" can you say more? So we'd have to do it per sub-domain?  That's not a huge problem.

[2022-02-28 01:50] Kevan-Y commented on #3030
I never used portainer before, I'm not sure if there is a signout button or it's a login without signout.
If there is I'm not sure how we could handle that to overwrite it button. (Maybe that case we shouldn't worry too much about it).

Sorry, I think I wrongly described my thought in the previous message.
Let me reformulate here.
As I was reading the docs for [GitHub Authorizing OAuth Apps](https

[2022-02-28 06:21] AmasiaNalbandian commented on #2913
I don't like this one at all.... :(

However, after seeing what @rclee91 detailed, this doesn't seem THAT bad (the documentation is really good for the migration). We can probably start a draft PR in 2.9 and prepare it for release 4.0 so we have a rough outline.

[2022-02-28 06:28] AmasiaNalbandian opened #3073 "Have a bookmark for where you left off on Telescope"
**What would you like to be added**:
I think it would be really cool if I could go to [Telescope ](https://telescope.cdot.systems/) and see the posts from today.

Then next week, when I go back to Telescope, I get put to the exact post I last read, with a little banner that says "5 new posts since you last visited"

**Why would you like this to be added**:
We have a lot of new posts every week, an

[2022-02-28 14:58] TueeNguyen commented on #2987
Perhaps we can make a telescope rotating in the center and blog posts moving around as stars.

[2022-02-28 15:02] cindyledev commented on #2987
Do a good job on the Docusaurus home page and we'll ask you to redo the Telescope home page too XD

[2022-02-28 15:54] #2938 closed

[2022-02-28 16:45] TueeNguyen commented on #2961
Currently working on staging, I can't figured out why it doesn't work in production. Any idea @nguyenhung15913?
![image](https://user-images.githubusercontent.com/58532267/156023083-048932c7-edd2-467a-a767-33117fa70e6c.png)

[2022-02-28 21:11] #2855 closed

[2022-02-28 23:56] manekenpix commented on #2961
I did some testing and this seems to be caused by not using a `github` token. We added support for `github` tokens, but we didn't add any. For testing, I created one for `staging` that will expire in a week (that's why it's working now), I think we can close this and reopen it if it keeps happening after adding tokens for both `staging` and `production`.

[2022-03-01 04:21] Kevan-Y commented on #3030
I think if we put oauth proxy behind portainer. We don't need to set up this configuration in portainer.
I looked at portainer custom oauth, we can setup to login with GitHub, but I think at the end we still have to manually add the user and set the admin/non-admin for them.

A solution for this issue would be (Will have a PR this week for portainer):
Go to our oauth proxy -> login -> redirect to

[2022-03-01 12:30] nguyenhung15913 commented on #2961
Im stuck on that too. May be @manekenpix just gave us the reason

[2022-03-01 13:50] humphd commented on #3030
There's no way to disable auth in Portainer, so I'd like to have the oauth method work if possible.

[2022-03-01 13:51] nguyenhung15913 opened #3081 "Sharing student quotes service between web application and mobile application"
**What would you like to be added**:
According to this [conversation](https://github.com/Seneca-CDOT/telescope/pull/3020#discussion_r812272777), we should move the <code>[src/mobile/src/student-quotes.js](https://github.com/Seneca-CDOT/telescope/pull/3020/files/84859c7d0ada2613e24acd43c5f3cd31e5a8b087#diff-c45fba8b9d568aeb5153a0b3897cd67c8db6653c30142904e0cc7a78240d5ed2)</code> to different locati

[2022-03-01 13:58] nguyenhung15913 opened #3082 "Adding Image service to the home page of mobile app"
**What would you like to be added**:
Image service needs to be added to the front-end of mobile app after we merge #3020 .
To be more specific, [Banner](https://github.com/Seneca-CDOT/telescope/pull/3020/files#diff-944ac70444e74b1b3209cdd6deec86c5ff70bcece397929f906baf6786423d07) component has only the background color. An image service from Telescope API needs to be added so that it will match th

[2022-03-02 01:36] humphd commented on #3073
This is a really interesting idea.  The best way to approach this would be to keep track of our "cursor" in the timeline, where we load the posts, see https://github.com/Seneca-CDOT/telescope/blob/2359565d11aa045eedadfee2ef72d29f62d87bee/src/web/src/components/Posts/index.tsx#L43-L62.  We could easily change the starting location, and get the back-end to tell us what we've missed.  Storing that po

[2022-03-02 14:25] humphd commented on #3030
I think turning off automatic user provisioning, and having to create a user, whose name matches the GitHub username, isn't a terrible way to handle this. cc @cindyledev

[2022-03-02 15:23] Kevan-Y commented on #3030
If we go this way oauth2-proxy will be used here but would be useful for cases like supabase.
I noticed I don't have permission to create OAuth app in this organization.
We need to create Oauth app to enable GitHub oauth in Portainer .

[2022-03-02 15:29] Kevan-Y commented on #3030
yes sorry, typo

[2022-03-02 15:31] humphd commented on #3030
What's the process to create a GitHub app?

[2022-03-02 15:41] Kevan-Y commented on #3030
authorization callback URL is  https://dev.portainer.telescope.cdot.systems/

[2022-03-02 16:18] tpmai22 commented on #3082
@nguyenhung15913 the `Banner` component link is broken. Would you mind updating it in the issue description

[2022-03-02 16:21] humphd opened #3088 "Add full OAuth2 capabilities to SSO service"
We're working on providing admin OAuth2 services via GitHub, oauth2-proxy, etc. and it makes me think that we should consider extending our SSO service so that it provides a full OAuth2 feature set.

To do that, we would add one of these:

- https://github.com/jaredhanson/oauth2orize
- https://github.com/oauthjs/node-oauth2-server

I have never tired this, but I think it should be doable.  Once we