[2020-10-12 20:59] humphd opened #1189 "Remove empty whitespace-only blocks from posts"
I feel like @agarcia-caicedo mentioned this in another issue, but I can't find it now.  A number of blog platforms add extra whitespace blocks to posts, for example:

<img width="576" alt="Screen Shot 2020-10-12 at 4 56 27 PM" src="https://user-images.githubusercontent.com/427398/95789805-32231400-0cac-11eb-8cee-729f79f4659c.png">

We could try doing some work in our HTML post-processing step to r

[2020-10-12 21:02] humphd opened #1190 "Remove empty anchor elements"
Some blog platforms seem to inject heading anchors with no inner content:

<img width="597" alt="Screen Shot 2020-10-12 at 5 01 30 PM" src="https://user-images.githubusercontent.com/427398/95790037-a78ee480-0cac-11eb-9c1e-b97f9b0984e7.png">

This causes the content to shift to the right by 43px, and throws off alignment.  We could strip out these empty `<a></a>` elements from the DOM in our post-p

[2020-10-12 21:04] agarcia-caicedo commented on #1189
The issue I found, #1172, has to do with us treating Medium's tracking pixel as a regular picture.

I however have seen this behaviour too. I think I mostly see it from posts that come from blog post

[2020-10-12 21:07] agarcia-caicedo commented on #1188
I think this has to do with different boxShadow properties between the post and the header

[2020-10-12 21:09] tonyvugithub commented on #1187
@humphd Can I take over this?

[2020-10-12 21:09] agarcia-caicedo commented on #1187
Currently the Hero image is not at 100vh, which seems to work for smaller screens or bigger screens, leaving the medium ones with issues. A possible solution would be to implement breakpoints for the hero banner image

[2020-10-12 21:28] tonyvugithub commented on #1188
I took a quick look, it turned out that the current dark color could be the problem. I changed it to the same color as in the content background then it looks like one.
![image](https://user-images.githubusercontent.com/55034244/95791876-4cf78780-0cb0-11eb-9998-4e6110037542.png)

[2020-10-12 22:34] humphd commented on #1149
I notice that @tonyvugithub's blog is on Telescope, did someone fix?

<img width="867" alt="Screen Shot 2020-10-12 at 6 32 53 PM" src="https://user-images.githubusercontent.com/427398/95795900-87195700-0cb9-11eb-8e4c-a68f508b0dc4.png">

[2020-10-12 22:34] manekenpix commented on #552
I was planning to do some work on this, but after seeing comments and discussions on slack, maybe we should close this and start thinking about the new fron-tend. Thoughts?

[2020-10-12 22:36] humphd commented on #552
I think tests for the REST API and GraphQL endpoints would be good for any/all frontends we do, no?  I can't see a downside to you working on this.

Or, if you would rather, spec it out as bugs other students could do?

[2020-10-12 22:41] manekenpix commented on #552
It's just that it seems our REST API fits better with the way Telescope works, and maybe we're going to end up removing all our GraphQL code (we barely use it), that's why I wasn't sure about spending time on this.

[2020-10-12 22:43] humphd commented on #552
That's another way to go: rip it all out.  We should discuss with people and see what the consensus is.

I could go either way.

[2020-10-12 22:57] manekenpix commented on #1149
I had to delete our db file because it got corrupted after a reboot. It seems the back-end marked @tonyvugithub's feed as valid this time.

[2020-10-12 23:29] humphd commented on #654
Fixed by https://github.com/Seneca-CDOT/telescope/pull/639

[2020-10-12 23:29] #654 closed

[2020-10-12 23:32] #1187 closed

[2020-10-12 23:35] humphd commented on #1149
OK, makes sense.

I wonder if we should increase this to something larger: https://github.com/Seneca-CDOT/telescope/blob/master/env.production#L66.  There's no way that a Medium feed was invalid, so it must have been network issues.  Maybe we should double this to 10?

[2020-10-13 13:50] tonyvugithub commented on #1190
@humphd: Can I take care of this?

[2020-10-13 16:28] humphd opened #1193 "Feature: add synchronized author/post outline in desktop view"
**What would you like to be added**:

In desktop view, I'd like to have a high-level view of all the posts and authors in the current timeline, so I can jump around easily.

Here's a functional example of what I mean from the [Jest Docs](https://jestjs.io/docs/en/mock-function-api):

![scroll-sync](https://user-images.githubusercontent.com/427398/95888480-20df1380-0d4f-11eb-8d5e-a97209039e74.gif)

[2020-10-13 16:38] manekenpix commented on #1193
I'd like to try this, and I'm open to collaboration if anyone wants to join me.

[2020-10-13 16:43] manekenpix opened #1194 "Increase contrast between text and background in '/myfeeds'"
Currently, our `myfeeds` page looks like this:

![image](https://user-images.githubusercontent.com/23108901/95890041-3d7c4b00-0d51-11eb-9d1f-db2583c1742f.png)

Because of the lack of contrast between text and background, it's very hard to read the authors and URLs.

[2020-10-13 19:43] jossiey opened #1195 "suggest to update environment-setup.md"
**What would you like to be added**:
In [environment-setup.md](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md#environment-setup), suggest to add WSL2 as an approach in the part of [install Redis on Windows](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md#windows)

**Why would you like this to be added**:
It looks like Redis can not be

[2020-10-14 00:53] tonyvugithub commented on #1194
@manekenpix : If we want to keep the same background color. I would change the color for text to default color, which is a blackish color, also change the "Blog feed URL" and "Blog feed author" to the same color of remove button on the right. Then the contrast should improve.

[2020-10-14 00:55] manekenpix commented on #1194
@tonyvugithub that sounds good. Let's get the experts here to get more opinions. cc @agarcia-caicedo @cindyledev

[2020-10-14 03:53] agarcia-caicedo commented on #1194
I think this is part of #1173,  since that page hasn't been converted. More or less what @tonyvugithub said needs to happen

[2020-10-14 03:57] manekenpix commented on #1194
Completely missed it in #1137. Closing this one then.

[2020-10-14 03:57] #1194 closed

[2020-10-14 14:20] humphd opened #1199 "Some images are stretched too large"
We have CSS to shrink images so they don't exceed the bounds of the post container.  It works great for 95% of the images I see.  However, it also means that we expand small images to fill the space, too, and it can look odd:

<img width="814" alt="Screen Shot 2020-10-14 at 10 17 11 AM" src="https://user-images.githubusercontent.com/427398/96002042-b093c900-0e06-11eb-9c7a-9ab775c4fcb6.png">

We pr

[2020-10-14 19:43] humphd opened #1200 "TypeError: Cannot read property 'id' of undefined"
[code]

Which is:

[code]

[2020-10-14 19:44] humphd commented on #1200
I also see it when I shut down the server:

[code]

[2020-10-14 20:03] #1195 closed

[2020-10-14 22:48] humphd opened #1201 "Initial load times for content are horrible"
Our app loads fast, but the content takes forever.  On my machine it can take 25s before the main content appears, which includes:

- hero banner image
- stats
- posts

When I profile it, it appears to all be blocking on network I/O (nothing else is happening):

<img width="1571" alt="Screen Shot 2020-10-14 at 6 45 42 PM" src="https://user-images.githubusercontent.com/427398/96053536-b1038280-0e4d

[2020-10-15 01:38] #1130 closed

[2020-10-15 02:12] #1175 closed

[2020-10-15 02:17] humphd commented on #1201
Looking at this again right now, it seems to me that we get back the result of `/posts?page=1` and then it blocks on all the multiple requests happening in the browser.  You can see the turtle icon beside all the blocked requests the browser is waiting on (Firefox):

<img width="1208" alt="Screen Shot 2020-10-14 at 10 16 24 PM" src="https://user-images.githubusercontent.com/427398/96068858-f5514b8

[2020-10-15 14:10] tonyvugithub opened #1203 "Allow giphy.com iframes to load"
**What happened**: If the author including a gif, it does not display in Telescope

**What should have happened**: the gif should display as expected

![image](https://user-images.githubusercontent.com/55034244/96141005-958c8c00-0ece-11eb-8d8e-dd418498dbe6.png)

[2020-10-15 14:29] humphd commented on #1203
This is due to us stripping iframes from posts, due to security restrictions.  We allow iframes only from YouTube and Vimeo, but anything else gets destroyed.

I wonder if we should actually remove the entire element, or replace it with something else vs. showing this hole?

[2020-10-15 14:34] humphd commented on #1190
Yeah, we might be able to a filter https://www.npmjs.com/package/sanitize-html#filters

[2020-10-15 14:35] manekenpix commented on #1203
Also, I think `GIFs` are not blocked:
![Peek 2020-10-15 10-34](https://user-images.githubusercontent.com/23108901/96144219-ef428580-0ed1-11eb-805b-aa2087f4078f.gif)

[2020-10-15 14:46] tonyvugithub commented on #1203
@manekenpix : I should have said gifs from some specific hosts.

[2020-10-15 15:00] tonyvugithub commented on #1190
@humphd :  before you provided the link. I created a function did just what the filter function in sanitize-html does.
![image](https://user-images.githubusercontent.com/55034244/96147699-8ceb8400-0ed5-11eb-87c0-ef33bb9c5e44.png)
I learned sth new by creating this function though

[2020-10-15 17:05] tonyvugithub commented on #1190
@humphd : So I implement the option for exclusiveFilter to get rid of no content anchor as mentioned in the doc.
![firstImplementation](https://user-images.githubusercontent.com/55034244/96162424-86193d00-0ee6-11eb-8c1a-40ad4d9aa1c6.PNG)
When I run test locally, it gave me two errors as below
![fail](https://user-images.githubusercontent.com/55034244/96162478-95988600-0ee6-11eb-846d-b3ea9702854a.P

[2020-10-15 20:10] PedroFonsecaDEV opened #1206 "Delete lines #61 #62 from src/frontend/src/components/ScrollToTop/ScrollToTop.jsx"
The line 61 and 62 of src/frontend/src/components/ScrollToTop/ScrollToTop.jsx should be deleted because we are no longer using it.
There are comments in the code to fix it.

[2020-10-15 20:25] #1070 closed

[2020-10-15 20:31] neilong31 commented on #1206
Hey! I'd love to do this.

[2020-10-15 20:33] manekenpix commented on #1206
@neilong31 assigned to you.

[2020-10-15 21:27] tonyvugithub commented on #1190
Interesting enough, they actually account for the case where between the anchor there is media tags, but for some reason it does not work as expected here. When I implemented the option, it failed the two tests that involve media children tags

[2020-10-15 21:47] tonyvugithub commented on #1190
@humphd : I created a PR using my custom way since built in filter of satinize-html kept failing two tests.

[2020-10-16 03:15] #1206 closed

[2020-10-16 18:37] neilong31 commented on #952
Hey, I'd love to take care of this

[2020-10-16 18:38] agarcia-caicedo commented on #952
thanks @neilong31

[2020-10-17 21:44] humphd commented on #1200
From @smilegodly on Slack

[code]

[2020-10-19 18:27] cindyledev commented on #1199
I'd like to give this a shot

[2020-10-19 20:35] #1199 closed

[2020-10-19 21:14] c3ho opened #1212 "Gatsby Proxy Not working as Intended"
**What happened**:
Trying to login using settings suggested in gatsbyjs.md for the front-end is not working. Users are redirected to localhost:3000 or loclahost:{PORT} . Users have to use `npm run build` instead to use the login functionality when developing locally, which significantly slows down development.

**What should have happened**:
Users should redirected be redirected to localhost:8000

[2020-10-19 21:15] c3ho commented on #1212
@cindyledev  and @PedroFonsecaDEV also experienced similar issues

[2020-10-19 21:17] c3ho commented on #965
This issue has been resolved via #1147.

[2020-10-19 21:17] #965 closed

[2020-10-19 22:20] humphd commented on #1212
Login stuff won't work with the proxy.  You have to have the origins you authenticate from match what the authentication settings expect.  This is one case where you have to run it in a "production" like way.

Should we update docs to help people not trip over this?

[2020-10-19 22:22] c3ho commented on #1212
Definitely

[2020-10-20 01:45] neilong31 commented on #881
Hopefully it's alright if I work on this! I made a PR that should fix this issue.

[2020-10-20 02:05] #952 closed

[2020-10-20 02:25] #1182 closed

[2020-10-20 02:25] #1183 closed

[2020-10-20 02:26] #1169 closed

[2020-10-20 02:38] JackyTea commented on #881
Sorry forgot about this PR. Was trying to get the dev environment to work a while back but never got around to it. Thanks for taking care of it @neilong31.

[2020-10-20 15:35] manekenpix commented on #1145
Resource for this issue: https://create-react-app.dev/docs/running-tests/#option-2-react-testing-library

[2020-10-20 16:20] chrispinkney commented on #1145
BTW @tonyvugithub also expressed interest in this issue

[2020-10-20 16:29] cindyledev commented on #1172
I'd like to take this one

[2020-10-20 22:27] humphd opened #1218 "Decouple Banner loading from Stats info"
We are making startup slower than in needs to be in https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Banner/Banner.jsx.  Let's split the stats display in https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/Banner/Banner.jsx#L163-L168 into a `<Stats />` component and move the API call to the server there too. Similar to what we're doing i

[2020-10-20 22:30] PedroFonsecaDEV commented on #1218
Can I give a try?

[2020-10-20 22:31] humphd commented on #1218
Yup, go for it!

[2020-10-21 00:23] tonyvugithub opened #1219 "Heading h1 is not inline with the rest of the post in some post"
**What happened**: The h1 heading was shift to the right thanks to extra left margin

**What should have happened**: It should have no left margin so it would be consistent with blogs from other sources.

**How to reproduce it (as precise as possible)**: Go to this blog post of Zongwei Yang
![image](https://user-images.githubusercontent.com/55034244/96658265-18b84280-1312-11eb-9dc0-209657c88530.pn

[2020-10-21 00:25] tonyvugithub commented on #1203
@humphd since this was intentional, should I close this issue?

[2020-10-21 01:02] humphd commented on #1203
The iframe in question here is https://giphy.com/gifs/web-shittyreactiongifs-4FQMuOKR6zQRO.  Let's add `giphy.com` to https://github.com/Seneca-CDOT/telescope/blob/6e1627ed5c20687e65aa40eb4ea08c84b468d120/src/backend/utils/html/sanitize.js#L49 and a new test like this one https://github.com/Seneca-CDOT/telescope/blob/6e1627ed5c20687e65aa40eb4ea08c84b468d120/test/sanitize-html.test.js#L44-L47.

[2020-10-21 01:08] tonyvugithub commented on #1203
@humphd you want me to take it as I kinda work on sanitize a bit already. I ensure I finished the other one first though.

[2020-10-21 01:08] humphd opened #1220 "Better error/loading handling when posts can't be loaded"
Right now we don't do a very good job when posts are loading, or can't be loaded form the backend:

In  src/frontend/src/components/Post/Post.jsx:

[code]

and again:

[code]

and in src/frontend/src/components/Posts/Posts.jsx:

[code]

We should do a better job signaling things in the UI.

[2020-10-21 01:09] humphd commented on #1203
Sure, sounds good.

[2020-10-21 01:10] tonyvugithub commented on #1145
Thanks @chrispinkney . Let's do it guy!

[2020-10-21 01:30] humphd opened #1221 "Reduce amount of JSON sent from backend with query results"
In #1217 I'm changing the way our search code works so that we only require a Post's `id` to show results.  Let's modify how the backend `/query` route and front-end `SearchPage` work so that they don't send or require the raw text of the post.  This will involve modifying how the data we get back from an Elasticserach query is formatted.

Relevant files:

- Elasticsearch backend - https://github.

[2020-10-21 01:36] humphd opened #1222 "Allow paging through search results"
In #1217 I'm adding some data fetching paging logic using https://swr.vercel.app.  It could also be used for our search front-end (e.g., SearchPage.jsx) to allow us to page through the results we get back from our backend.

To do this, we need to pass the data to our `<Timeline>` component in "pages" like this:

[code]

The data we get back from the server for a query looks like this:

[code]

See

[2020-10-21 01:38] humphd commented on #1222
I'm doing something pretty similar in https://github.com/Seneca-CDOT/telescope/pull/1217 if you want to see more code like this, and https://codesandbox.io/s/swr-infinite-z6r0r?from-embed=&file=/src/App.js is helpful

[2020-10-21 01:45] humphd opened #1223 "Merge our two "sticky headers" on scroll"
We landed a fantastic PR the other day to support scrolling and having 2 sticky headers.  The only down side of it is that the two headers take up a lot of space at the top.

Today I noticed that GitHub does something similar, but collapses the two down into a single-height header:

![scroll-header](https://user-images.githubusercontent.com/427398/96662747-0abbef00-131d-11eb-8610-45e26394a273.gif)

[2020-10-21 01:46] humphd commented on #1223
cc @PedroFonsecaDEV, who worked on the current sticky header solution.

[2020-10-21 01:50] humphd opened #1224 "Show all posts for an author sorted by date when searching by Author"
When I search "by Author" I really want to see all the posts we have for this user.  It would be great to either replace what we have now with a timeline of their posts, sorted by date (newest to oldest), or add that to what we have now.

[2020-10-21 01:51] humphd commented on #1013
This is already at 10, I think we're good.

[2020-10-21 01:51] #1013 closed

[2020-10-21 01:52] humphd opened #1225 "Reposition search button for search UI"
Our frontend kicks off searches every time you start typing.  I'd love to see us:

- add a button so it doesn't happen until I click or press 'enter'
- and/or debounce this keyboard event so it doesn't start happening until I finish typing

If you type something like, it will fire and re-fire the query on every letter.  That's bad UI, and it overloads the network and React.

[2020-10-21 01:54] humphd opened #1226 "Fix timeline width in search results"
In #1217 I updated how our search results show for posts, but I couldn't get the width right on the container (there's extra padding/margin that makes it narrower than it should be):

![Screen Shot 2020-10-20 at 9 52 59 PM](https://user-images.githubusercontent.com/427398/96663488-bfa2db80-131e-11eb-825e-b1dee4fa9e95.png)

I think the posts should be the same width as the search UI above it.

[2020-10-21 01:56] humphd opened #1227 "Fix eslint warnings spamming our PRs"
Our lovely GitHub Actions code is adding inline eslint warnings to our PRs:

![Screen Shot 2020-10-20 at 9 55 10 PM](https://user-images.githubusercontent.com/427398/96663624-04c70d80-131f-11eb-8619-3ef6ec0cff1a.png)

Let's fix the warnings so we don't have these.

[2020-10-21 01:57] humphd commented on #1227
Switching all our loading over to use https://swr.vercel.app will help with a lot of this, since it lets us get rid of most of our `useEffect()` hooks, which are causing a lot of these.

[2020-10-21 04:35] agarcia-caicedo commented on #1226
I'll work on it

[2020-10-21 04:38] agarcia-caicedo commented on #1225
There currently is a button, but I'm not sure about the code surrounding it, so I'm not sure if its currently doing what its supposed to or not.

[2020-10-21 08:27] PedroFonsecaDEV commented on #1223
I agree with you that we need to improve this feature.
Tomorrow I will create a sketch so we can discuss it together to find the best solution before I start to code it.

You can assign me to this issue too.
Thanks.

[2020-10-21 08:41] #1172 closed

[2020-10-21 14:07] #1201 closed

[2020-10-21 14:11] humphd opened #1228 "Improve ordering of search results"
Today I needed to find a post that I know I read last week.  I remembered that the author wrote about 'UtilityBelt', so I tried searching for it.  The post gets returned, but as the 10th results, and all other results have nothing to do with this search term.

I think what's happening here is related to #1225 and I'm actually seeing results for partial strings vs. the entire string.

[2020-10-21 14:15] manekenpix commented on #1228
I think it's also related to the fact that we use [fuzzy queries](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-fuzzy-query.html) in elasticsearch (which seemed like a good idea back when we added the search engine).

[2020-10-21 14:19] humphd commented on #1228
I think elastic is doing the right thing and this is stale data in the DOM, check this out:

<img width="1198" alt="Screen Shot 2020-10-21 at 10 18 36 AM" src="https://user-images.githubusercontent.com/427398/96732892-d5e48200-1386-11eb-9c59-74b998060316.png">

Eventually, there is a single hit, but I don't see that in the UI, I get old posts instead.

[2020-10-21 14:20] humphd commented on #1228
If I press the Search button, and re-trigger the search, it does the right thing.  So it's somehow a state thing?

[2020-10-21 14:21] humphd commented on #1225
I didn't realize that icon was clickable.  Could we move it down so it's inline with the text box that it goes with?  It looks like decoration vs. usable UI to me.

[2020-10-21 14:24] manekenpix commented on #1228
Hmm, so fixing #1225 would maybe take care of this issue as well?

[2020-10-21 14:26] humphd opened #1229 "Implement infinite scrolling without Load More button"
We used to have an implementation of infinite scrolling that almost worked, but we replaced it with a manual "Load More..." button.  In #1217 I moved us to using paged data and the `useSWRInfinite()` hook, and we could use that to implement infinite scrolling with an `IntersectionObserver`, see discussion in https://sergiodxa.com/articles/swr/pagination.  I think all we'd need to do is listen for

[2020-10-21 14:30] humphd commented on #1228
Maybe?  I'm guessing at root cause, but evidence seems to indicate we have cached nodes in the DOM somehow.

[2020-10-21 18:52] #1203 closed

[2020-10-21 20:14] #1088 closed

[2020-10-22 01:01] tonyvugithub commented on #1229
It is interesting idea. Could I suggest another direction. Instead of watching for a scroll event, i wonder if we can do something like lazy loading that the first load only load 20 posts. and if we pass 20 posts, it loads more. I remember learning Flutter and they have something like that. Don't know if there is similar thing in React.

[2020-10-22 01:02] humphd opened #1232 "Showcase our contributors"
I notice that [node.js has this cool feature in their footer](https://nodejs.org/en/), where the highlight a contributor to their project:

<img width="399" alt="Screen Shot 2020-10-21 at 9 01 22 PM" src="https://user-images.githubusercontent.com/427398/96805906-b5e1ac80-13e0-11eb-885a-7dca81fa13ed.png">

I wonder if we could include something similar somewhere in our app?

[2020-10-22 01:04] humphd commented on #1229
This is what an `IntersectionObserver` does: watches for a DOM element to interact with another element, or the top-level document.

[2020-10-22 01:57] agarcia-caicedo commented on #1232
We could implement something like this in our about page. The page there has a footer, and a picture carousel with nothing related to telescope on it right now.

[2020-10-22 04:44] #1190 closed

[2020-10-22 12:23] tonyvugithub commented on #1145
@manekenpix @chrispinkney : Do we have a guide how we should approach this in term of dividing the workload?

[2020-10-22 13:10] tonyvugithub commented on #1189
@humphd Is this resolved already?

[2020-10-22 13:11] tonyvugithub commented on #1200
@humphd : Is this still an issue? If it is, can I take over it?

[2020-10-22 15:25] humphd commented on #1171
I thought I'd fixed the slow load times, but it looks like there are multiple angles to this.

I now suspect that we're blocking the node event loop in the web server.  Here's a demo that shows it happen.  I do a page load on staging, and then try to hit the `/health` route manually via my terminal.  You can see that the entire web server is locked up on a blocking call somewhere:

![slow-load](ht

[2020-10-22 17:24] tonyvugithub commented on #1145
I talked to @chrispinkney a bit and agreed that we should discuss about which components each person should be taking care of.

[2020-10-22 17:46] humphd commented on #1145
The key to doing something like this is to split it up into lots of smaller PRs.

I would suggest you have one "meta" bug with a checklist, and people can claim an individual file to write tests for.  This would then happen in a PR-per-file, and the meta bug can keep track of what is and isn't done, and who has claimed what.

At the top of this bug, you can do a Markdown checklist of all the parts

[2020-10-22 17:47] humphd commented on #1200
Yes, it is.

Can I ask that you take 1 issue at a time, so we don't have people with multiple things assigned to them while others are looking for bugs to work on?

[2020-10-22 17:48] humphd commented on #1189
It is not resolved, no.  There are a bunch of "empty" elements and multiple blank element combos we need to consider and then remove.

[2020-10-22 17:48] humphd commented on #1232
That's a great place for it, agree.

[2020-10-22 18:26] tonyvugithub commented on #1145
@humphd :I agreed with all you mentioned. How do we create a "meta" bug? like we create an issue?

[2020-10-22 18:36] tonyvugithub commented on #1200
@humphd: certainly. I understand. I focus on the frontend testing first and come back to this if no one has not taken it yet.

[2020-10-22 19:00] c3ho commented on #1145
This could be the metabug and we mention all the front end test issues here

[2020-10-22 20:00] tonyvugithub commented on #1145
@c3ho : So I guess one of the maintainers will create the checklist here. And either myself, or Josue or Chris will pick a component, write tests on it then create PR separately from this "meta". This meta then keep track of what have been done and approved. Do I understand it correctly?

[2020-10-22 20:03] c3ho commented on #1145
Yeah I can update this with the files issues so they can all be mentioned. Feel free to file a issue for the component you’re creating the test for and just mention this specific issue

[2020-10-22 22:51] tonyvugithub commented on #1145
Hi all,
After talking to @manekenpix , we think we need a list of components for easy tracking. I made one myself. Please let me know if this is something we could use.
[componentList.docx](https://github.com/Seneca-CDOT/telescope/files/5426328/componentList.docx)

[2020-10-22 23:35] humphd commented on #1145
No to an external file.  Let's do it in the issue please.

[2020-10-22 23:44] tonyvugithub commented on #1145
@humphd yes, I understand that. I just provide the list so the owner of the issue can use it as a reference to write up the md file here.

[2020-10-23 12:38] tonyvugithub opened #1235 "Add tests for Spinner component as listed in issue #1145"
**What happened**:
Spinner component has no tests

**What should have happened**:
Spinner component should have tests to confirm it renders correctly

This is part of #1145

[2020-10-23 12:48] chrispinkney opened #1236 "Add tests for Logoicon component as listed in issue #1145"
**What happened**:
The `Logoicon` component has no associated front-end tests, I'll try writing a basic one that adds some functionality.

**What should have happened**:
The logo must be tested.

This is part of #1145

[2020-10-23 12:48] chrispinkney commented on #1236
@manekenpix @tonyvugithub

[2020-10-23 14:00] #1235 closed

[2020-10-23 14:19] cindyledev commented on #1180
This is a problem again. Probably happened after #1217
![Screenshot 2020-10-23 101755](https://user-images.githubusercontent.com/36822198/97015096-27247b00-1519-11eb-8629-3e7b186a9128.png)

[2020-10-23 14:21] humphd commented on #1180
We must have wrapped things in another container?  This sounds similar to the issue I have doing the timeline width https://github.com/Seneca-CDOT/telescope/issues/1226

[2020-10-23 14:22] cindyledev commented on #1180
I guess @agarcia-caicedo can work on this one too ;D

[2020-10-23 14:23] humphd commented on #1226
Possibly the same bug or a related issue to #1180.

[2020-10-23 14:30] cindyledev commented on #1235
Did you accidentally close this? It's a valid issue...

[2020-10-23 14:33] manekenpix commented on #1235
We're going to use #1145 for front-end issues.

[2020-10-23 15:24] #1236 closed

[2020-10-23 15:46] humphd opened #1237 "Migrate front-end from GatsbyJS to Next.js"
**What would you like to be added**:

We'd like to try porting the front-end from GatsbyJS to [Next.js](https://nextjs.org/).  We've been enjoying other Vercel technologies (hosting previews for our front-end changes for PRs, [`useSWR` React data hook](https://github.com/vercel/swr)), and this seems like another good fit.

**Why would you like this to be added**:

![Screen Shot 2020-10-23 at 11 36

[2020-10-23 16:19] #1212 closed

[2020-10-23 17:03] tonyvugithub opened #1238 "npm run release failed on Windows"
**What happened**:
When ran `npm run release` on a windows machine, nothing happened. Apparently, it has something to do with the way .env file is read.

**What should have happened**:
The command should work regardless of system.

**How to reproduce it (as precise as possible)**:
Use a windows machine and run `npm run release`

- OS: Windows

[2020-10-23 17:26] tonyvugithub opened #1239 "Inconsistency when run coverage vs test"
**What happened**:
When I run `npm run coverage`, there is one failed test in wiki-feed-parser.test.js, but when I run `npm run test`, everything passes. This could potentially be a bug.
The file is here https://github.com/Seneca-CDOT/telescope/blob/master/test/wiki-feed-parser.test.js
![image](https://user-images.githubusercontent.com/55034244/97034629-33b5cd00-1533-11eb-9b9d-505add0de8ff.png)

*

[2020-10-24 00:00] tonyvugithub opened #1240 "Add tests for backend/web/routes/auth.js"
**What would you like to be added**:
Tests for `backend/web/routes/auth.js`
**Why would you like this to be added**:
To have everything tested under `backend/web/routes`

[2020-10-24 09:18] PedroFonsecaDEV commented on #1229
I was waiting for this.
I'm available.

[2020-10-24 15:58] humphd commented on #1229
As long as you aren't working on another PR at the same time (i.e., squatting on multiple Issues so other students can't get involved) go for it.

[2020-10-24 21:57] PedroFonsecaDEV commented on #1229
I'm assigned on #1223 that is waiting for our decision about it since we may solve the issue with  #1193. (We are waiting for sketches).
Meanwhile, I can work on an infinite scroll if you'd like.
Let me know.

[2020-10-24 22:00] PedroFonsecaDEV commented on #1223
We need to think about #1193 if we will have both or just one of them.
It would be nice to see some sketches about it.
@agarcia-caicedo @humphd

[2020-10-26 01:20] zjjiang2 commented on #1220
Hi professor Humphrey, I would like to work on this issue.

[2020-10-26 01:35] humphd commented on #1220
@zjjiang2 it's all yours, thank you!

[2020-10-26 01:38] humphd opened #1244 "Explore whether bunkerized-nginx provides us anything better"
I noticed this today https://github.com/bunkerity/bunkerized-nginx, which might be useful to us.  Our nginx deployment is the most security critical part of our setup, and locking it down even more might be wise.

Maybe we can learn from it, or maybe we can use it directly?  Not sure.

[2020-10-26 09:15] smilegodly opened #1246 "Syntax highlighter not working"
**What happened**:

Was scrolling through dev and noticed no highlighting in the code blocks. Noticed it's also in prod.

**What should have happened**:
The syntax highlighter we use is https://highlightjs.org/ and the code should be the github highlight theme

**How to reproduce it (as precise as possible)**:
look at the code blocks on dev / prod

**Anything else we need to know?**:
Here is a pic

[2020-10-26 09:17] smilegodly commented on #1246
I'll work on this one, it upsets me.

[2020-10-26 13:34] manekenpix commented on #1246
@smilegodly All yours, thank you!

[2020-10-26 17:20] humphd commented on #1220
cc @agarcia-caicedo, @cindyledev, @raygervais, etc who might have thoughts here.

What is the correct UI choice for cases there we error talking to the backend?  The timeline should somehow indicate that we've tried and failed to load post data somehow, without overloading the user.

[2020-10-26 17:23] humphd commented on #1246
I screwed it up in [this PR](https://github.com/Seneca-CDOT/telescope/pull/1217/files#diff-459129dde45c8c16baf44c2d2206faed2dbc39df42342e91f4970898042c8255L34) when I removed `import 'highlight.js/styles/github.css';`

[2020-10-27 02:18] #1246 closed

[2020-10-27 03:20] agarcia-caicedo opened #1249 "An Empty Blog Appeared"
**What happened**:
A blog with no content got posted. The link does not link back to a blog post, but the post does exist and it has no content.

![image](https://user-images.githubusercontent.com/49992710/97252899-756b9f80-17e1-11eb-9bcb-8551ee0f1a4e.png)

**What should have happened**:
Blogs with no content should not appear

**Environment**:

- OS: Windows
- Browser: Firefox, Chrome

[2020-10-27 16:04] #1218 closed

[2020-10-27 16:06] humphd commented on #1249
cc @chawlapalak

[2020-10-27 16:40] chawlapalak commented on #1249
Hi all,

I can help you out with this. I did not write the content in the blogger, I was making some changes to it in my local computer and made the template of Lab 5 to post it there. I have not pasted it yet. Moreover, I did not use the "open source" label so it wont display in the Telescope feed, but it did, I guess.

So this is what I did.

[2020-10-27 17:30] humphd opened #1250 "Syntax highlighting for <pre> vs. <pre><code>"
I noticed that we aren't syntax highlighting all code blocks:

<img width="983" alt="Screen Shot 2020-10-27 at 1 29 09 PM" src="https://user-images.githubusercontent.com/427398/97339023-70960280-1858-11eb-9383-55f277e50bb9.png">

It looks like this uses a `<pre>` without a `<code>`.  I wonder if we should be looking for `<pre>` without `<code` as well?

[2020-10-27 18:08] smilegodly commented on #1250
Can I give this a shot?

[2020-10-27 19:04] humphd commented on #1250
Yeah, go for it.  I'm a bit concerned that doing this for all `<pre>` might cause some unwanted side effects, but let's see.

[2020-10-28 01:48] PedroFonsecaDEV commented on #1229
I'm not available anymore. If someone wants to work on this issue go ahead.

[2020-10-28 01:56] PedroFonsecaDEV commented on #1223
(Oct/27)Update after sketches:
I'm working on this issue.

[2020-10-28 23:04] humphd commented on #489
Fixed in https://github.com/stipsan/ioredis-mock/pull/1007, we can pull in ioredis 5.1.0 to get this I think (needs to be tested).

[2020-10-29 00:25] manekenpix commented on #489
All tests passed using [ioredis-mock](https://github.com/stipsan/ioredis-mock) 5.1.0 and using `HSET` in [storage.js](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/storage.js).

[2020-10-29 01:52] StellaJung-Student commented on #1221
Hello @humphd, if nobody takes this issue, can I try this?

[2020-10-29 01:56] c3ho commented on #1221
@StellaJung-Student The data is going to looks like this
[code]
What he's asking is to order these values by the score in descending order and then only take the top N (set by environment variable).

[2020-10-29 02:12] StellaJung-Student commented on #1221
I got it but for testing, do I need to sign up? I got this error, GET http://localhost:3000/auth/login 500.

[2020-10-29 02:22] c3ho commented on #1221
You won't need to sign in for this, since we're using the search function of telescope. You can always just `console.log(searchResults)` at line 95 of https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/src/components/SearchPage/SearchPage.jsx and open up the developer console

[2020-10-29 02:23] StellaJung-Student commented on #1221
The response data is always 'text: '{"results":0,"values":[]}' even in previous test case, query.test.js. I can commit but I don't know how I can make sure my task is correct.

[2020-10-29 02:28] c3ho commented on #1221
Do you have the backend running at least? If you have it running natively you won't need docker. I would highly recommend docker though, as it is the easiest way to run everything in the backend. Let me know if you have other questions. Feel free to ask more questions on the slack channel in Telescope if you're still having issues

[2020-10-29 02:33] StellaJung-Student commented on #1221
![image](https://user-images.githubusercontent.com/59578350/97518440-8b0dd000-196d-11eb-86cd-031ad452433b.png)

Oh I didn't know about backend setting~ ok I will talk to you on slack.

[2020-10-29 04:16] StellaJung-Student commented on #1221
Server is working~ but still I am struck on the search with no result.
![image](https://user-images.githubusercontent.com/59578350/97524839-eb0b7300-197b-11eb-8260-3d6a8bf98262.png)

[2020-10-29 04:25] manekenpix commented on #1221
@StellaJung-Student In the search page, you need to click on `filter` and select a filter (in this case, it'd be `Post`). I think we should file an issue for that.

cc @c3ho

[2020-10-29 04:28] c3ho commented on #1221
I'm so blind. I forgot the search function changed. I remember I had either of the options set by default so this doesn't happen

[2020-10-29 04:29] StellaJung-Student commented on #1221
Oh my god, Thank you so much~ if you want me to add the validation ~ let me know~. :)

[2020-10-29 04:45] StellaJung-Student commented on #1221
Thank you both of you. I learned a lot from you guys~. I will take a look at this issue~

[2020-10-29 06:08] StellaJung-Student commented on #1221
So confused about this server and I didn't get it yet. I logged and threw the error before returning values but no error...
The code and file structure is understandable but I am not sure that I am on the correct place.
![image](https://user-images.githubusercontent.com/59578350/97531851-75a79e80-198b-11eb-8360-dcfc49c02b64.png)
It turned out no errors and frontend worked well.

[2020-10-29 06:15] c3ho commented on #1221
@StellaJung-Student I think you're thinking too much into this. Here's what I suggest in [query.js](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/query.js) line 26 let's break it off so we have something like
[code]

[2020-10-29 06:44] c3ho commented on #1171
Can this be closed?

[2020-10-29 06:54] joelazwar commented on #1224
hey @c3ho, i just got the telescope dev env setup on my computer after a few days of trying LOL. was wondering if i could try and attempt to fix this issue as part of my OSD assignment since it looks doable for me😂

[2020-10-29 07:09] c3ho commented on #1224
No worries, go for it

[2020-10-29 14:13] StellaJung-Student commented on #1221
OK. I am not going to think too much.

For sort, I need to use _score property but it is not allowed to use by the rule of no-unserscore-dangle.
Can I use "eslint-disable-next-line no-underscore-dangle" or I can avoid it?

[2020-10-29 14:48] c3ho commented on #1221
I don't think you need underscores as the code should look something like
[code]

[2020-10-29 15:12] StellaJung-Student commented on #1221
I don't think this is a solution. @humphd  mentioned removing the text field is the main purpose for this task and the score is only used for sorting. In the file, indexer.js, previously, it used _id, _text, _score so I tried to delete _text and with _score, tried to sort.
Like this way, const values = hits.hits.sort((a, b) => { return b._score - a._score; }).map(({ _id }) => {  return {  id: _id,

[2020-10-29 15:56] c3ho commented on #1221
No, you're right. That makes it a lot easier now then.
[code]

[2020-10-29 15:59] StellaJung-Student commented on #1221
Oh, thanks~ you are right~ and it is better that if I use map first.

[2020-10-29 16:18] c3ho commented on #1221
[code]

[2020-10-29 16:21] StellaJung-Student commented on #1221
The basic object does not have score property, which is { _id, _text, _score }
You code will cause error.
You should use _score.
Do I miss anything?

[2020-10-29 16:28] c3ho commented on #1221
use "\```" before start of code and "```" the key right to the left of the 1 on keyboard. I tested this code and it should work, I kept the score on previously so I can check if they're right or not:

![image](https://user-images.githubusercontent.com/18711727/97602825-25a7f680-19e2-11eb-9734-88ef3be11b8b.png)

[2020-10-29 16:31] StellaJung-Student commented on #1221
Of course it was working since the original code like this
[code]
The return value are changed {id, text, score} from the {_id, _text, _score}.
Did you get it?

[2020-10-29 16:37] c3ho commented on #1221
I don't even think you need to do sort, since the results are sorted already. You just need to remove the text and score from the `map` function

[2020-10-29 16:39] humphd commented on #1221
Or even just:

[code]

So we spit back an array of `id`s.

[2020-10-29 16:43] StellaJung-Student commented on #1221
@c3ho my original question is that I thought the score is only for sort value that's why I though I needed sort.
@humphd In this case, I thought two options like below.
[code]
I want this
[code]
@humphd I know your solution. but that is not my question~

[2020-10-29 17:01] c3ho commented on #1221
Yeah, the results we get back from es are already sorted, so we only have to remove `id` and `score` from the map part. @humphd solution is correct.

[2020-10-29 17:08] humphd opened #1252 "Reduce log spam"
Our logging is great, but too noisy by default.  It's nice to log all kinds of things re: feed parsing and network errors, but they fill the log with spam that doesn't matter when you're developing or trying to debug a problem on production.

Our logger, Pino, has these levels:

[code]

For production, we probably only care about error/critical, and for normal development, probably only info and u

[2020-10-29 17:26] StellaJung-Student commented on #1221
OK. I see~ I didn't know the elastic search provide sorted data.
Then you guys are right~

[2020-10-29 20:27] zg3d commented on #489
Can I try to do this issue.

[2020-10-29 21:59] #489 closed

[2020-10-31 01:12] humphd opened #1255 "Don't allow style elements or attributes on post content"
It looks like we are allowing CSS style rules to leak into post content:

<img width="874" alt="Screen Shot 2020-10-30 at 9 10 45 PM" src="https://user-images.githubusercontent.com/427398/97767734-7dcf1d80-1af4-11eb-946a-0e17778d9d86.png">

Let's strip this out when we sanitize the HTML for a post.

cc @StellaJung-Student

[2020-11-01 15:15] humphd opened #1257 "/planet won't load images due to CSP"
We tweaked our Content Security Policy recently, and it's causing the `/planet` front-end to break for all images.

STR:

1. Open https://telescope.cdot.systems, notice it displays images
1. Open https://telescope.cdot.systems/planet in a second tab, notice you have no images

I get the following errors in the console:

In Chrome:

[code]

In Firefox:

[code]

Let's [update our `img-src` directive

[2020-11-01 15:37] humphd commented on #1125
@smilegodly how is this coming?

[2020-11-01 17:52] humphd opened #1258 "Improve accessibility of author search results"
We're using a `<button>` vs. an `<a>` for the search results of an author:

<img width="1038" alt="Screen Shot 2020-11-01 at 12 48 26 PM" src="https://user-images.githubusercontent.com/427398/97810272-abc17880-1c40-11eb-927a-89069deb0f84.png">

A `button` element is for triggering some action in the page, while an `a` element is for navigation.  They have different semantics and keyboard/mouse beh

[2020-11-01 18:50] humphd opened #1259 "Allow searching for exact phrases vs. AND'ing all search terms"
Our Elasticsearch indexer uses AND on all terms entered in a search.  It would be nice if we could also search by phrase, maybe using double-quotes?

I was trying to find a blog post by entering an exact phrase I know is in it, but that returns a ton of other searches.

[2020-11-01 18:52] humphd opened #1260 "Add autocomplete to search for Authors"
It would be great if our search page supported autocomplete on the author name.  As I'm typing, if there is a hit on part of the name, I'd love to see those results appear below the search bar, and be able to pick one.

[2020-11-01 19:11] humphd commented on #1255
It looks like this is caused by the entire post being wrapped in an `<h2>` vs. style info leaking.  We can't fix that in our tool, it's an authoring issue.  Closing.

<img width="910" alt="Screen Shot 2020-11-01 at 2 09 49 PM" src="https://user-images.githubusercontent.com/427398/97811956-0c09e780-1c4c-11eb-80c3-7299fcbaedea.png">

[2020-11-01 19:11] #1255 closed

[2020-11-01 19:11] humphd commented on #552
Morphing this to be about removing GraphQL, since we don't need it for next.js.

[2020-11-01 19:13] humphd commented on #1065
This is not longer happening with the way I rebuilt the Load More... button.

[2020-11-01 19:13] #1065 closed

[2020-11-01 19:17] humphd commented on #1185
This is fixed now.

[2020-11-01 19:17] #1185 closed

[2020-11-01 19:17] humphd commented on #1123
This has been fixed, yeah.

[2020-11-01 19:17] #1123 closed

[2020-11-01 19:36] humphd commented on #1118
I ran this again today, and there's a bit more:

[code]

[2020-11-01 20:01] humphd opened #1261 "docker compose up --build doesn't seem to see .env"
[code]

I'm not sure why it says this, since I have a `.env` file.

[2020-11-01 20:08] humphd opened #1262 "Warning: Accessing non-existent property 'logger' of module exports inside circular dependency"
We have a warning we should fix on startup:

[code]

[2020-11-01 20:40] c3ho commented on #552
![image](https://user-images.githubusercontent.com/18711727/97814904-948e8500-1c58-11eb-98c5-bafc33d4832d.png)

[2020-11-01 21:51] humphd opened #1264 "LOG_LEVEL works via shell but not .env"
I noticed today that I couldn't set my `LOG_LEVEL` via the `.env`, but could on the command line.

In both cases I used `LOG_LEVEL=debug` but got `INFO` vs. `DEBUG` when I did it via `.env`, whereas this worked on macOS:

[code]

[2020-11-01 21:57] humphd opened #1265 "Improve Logging docs to include LOG_LEVELs"
Our [docs for the logger](https://github.com/Seneca-CDOT/telescope/blob/master/docs/logging.md) aren't as clear as they could be on how to use `LOG_LEVEL`.

[Pino](https://getpino.io/#/) (our logger) supports these levels:

* trace
* debug
* info
* warn
* error
* fatal

[2020-11-01 23:18] humphd opened #1266 "Missing src attribute on img elements in posts when using data URIs"
I notice a post today that is missing images.  The `<img>` element is there, but it has no `src` attribute:

<img width="971" alt="Screen Shot 2020-11-01 at 6 15 15 PM" src="https://user-images.githubusercontent.com/427398/97818088-52703e00-1c6e-11eb-88e1-5c4666e583c8.png">

The original post does have them: https://palak-chawla.blogspot.com/2020/10/release-02-pr-4.html, but they are using Data UR

[2020-11-02 01:41] humphd commented on #1237
https://adrien.harnay.me/2020-11-02-migrating-your-website-from-gatsby-to-next-js is timely.

[2020-11-02 02:23] cindyledev commented on #1237
Wow this looks like it solves the headache of migrating the About markdown page over to Next.js

[2020-11-02 08:37] c3ho commented on #1261
I took a look at this issue. With the current master branch I ran `docker-compose up --build` created a shell for the Telescope container and did an `ls -a`, was unable to find the .env file

I tried moving the copy of the `.env` file to line 28 of the Dockerfile
![image](https://user-images.githubusercontent.com/18711727/97846796-8b370400-1cbc-11eb-80ab-667fb026d819.png)

And commented out the on

[2020-11-02 08:39] c3ho commented on #1122
Going to close this for now

[2020-11-02 08:39] #1122 closed

[2020-11-02 12:25] chrispinkney commented on #1266
Interesting, I'll have to read up about data URIs, can't say I've heard of them until now.

Could I give this a shot?

[2020-11-02 13:45] egrinberg commented on #1258
Hey, I would like to work on this.

[2020-11-02 14:13] humphd commented on #1258
All yours @egrinberg

[2020-11-02 14:17] humphd commented on #1266
A data URI is a way of embedding a resource *in* the URL itself.  You only use it for small items, for example, a favicon or an image.  The nice thing about them is that they don't require any server storage.  However, our sanitizer is filtering them out, since they don't use a secure origin.

[2020-11-02 14:18] humphd commented on #1266
Assigned to you, @chrispinkney

[2020-11-02 14:19] humphd commented on #1261
cc @raygervais

[2020-11-02 14:19] #1200 closed

[2020-11-02 14:20] humphd opened #1267 "Remove TravisCI"
We've got both CircleCI and GitHub Actions now, and our TravisCI builders fail in odd ways.  Also, they are getting ready to change their pricing model.

Let's remove TravisCI.

[2020-11-02 15:00] humphd opened #1268 "Connect Pino logger to Elasticsearch"
Our [Pino logger](https://getpino.io/#/) supports [various transports](https://getpino.io/#/docs/transports), so you can log into various services and programs.  We're also using [Elasticsearch](https://www.elastic.co/elasticsearch/) for full-text search.

Let's combine these two and add support for https://github.com/pinojs/pino-elasticsearch.  Probably we need to make this optional (i.e., via `.

[2020-11-02 15:20] humphd opened #1269 "Add Kibana for admins to view log and analytics data"
#1268 is going to start logging into Elasticsearch, and we could go to the next level by adding [Kibana](https://github.com/elastic/kibana) to let us consume those logs.

We should put this behind some kind of "admin" route, so you have to be authenticated in the app as an admin to access it.

NOTE: I've never done this, so I'm not sure what all is involved.  Also, we should probably figure out ho

[2020-11-02 15:54] raygervais commented on #1261
@c3ho suggestion works as expected. It was present before Blue / Green and recent updates to Dockerfile
https://github.com/Seneca-CDOT/telescope/commit/67f4e83f08f80c3b468c98d63515d64a5ae300ce#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557

Let's add it back.

[2020-11-02 16:03] raygervais commented on #1269
I'd be interested in helping alongside others with this. I can most def help with the Docker side!

[2020-11-02 16:05] humphd commented on #1261
Let's get one of our new community members to take this.

[2020-11-02 16:06] humphd commented on #1269
It's possible we can/should divide this up into some smaller issues (e.g., do the Docker bits, do the web frontend bit, etc).  Let's figure out how to get a few people involved.

[2020-11-02 16:52] raygervais commented on #1269
I see a few separate scopes we need to handle:
- Docker container and it's volume / network integrations
  - Integration with Blue / Green?
- Log forwarding from various services
- Data Source configurations
- Dashboard configurations
- Update Documentation

[2020-11-02 19:40] humphd opened #1270 "Make searches sharable via URL"
Today I needed to go and look for blog posts students have written on Pandas.  I did a search, and got back my results.  Now I want to share that search and the results with a colleague.  There is no way to do this without telling them how to recreate the search.

A better solution would be to use the React routing and History API to push some state into the URL, so you get something like `https:/

[2020-11-02 19:42] humphd opened #1271 "Long search results need the "Scroll to Top" component"
When you do a search for posts, and get back lots of results, scrolling down doesn't show the up-arrow scroll-to-top widget like you get in the main timeline view.  Let's add it.

[2020-11-02 19:58] HyperTHD opened #1272 "Redis link causing confusion in environment setup (Docs)"
In the environment setup document, when setting up redis for Windows using WSL2, the 2nd step links to a list of instructions that involve downloading and compiling redis as opposed to installing use `apt-get install`. Using the latter option is much easier as opposed to using the former, and so I suggest we edit the docs to remove that option entirely and focus on using apt-get

[2020-11-02 20:02] tianlangwu commented on #1271
I would like to work on this. Could you please assign it to me :D

[2020-11-02 21:56] #1272 closed

[2020-11-02 22:33] c3ho commented on #1259
We currently have the following code when we perform a search on elasticsearch
[code]

I don't think AND for the operator here is the issue, but the [fuzziness](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/common-options.html#fuzziness) can be instead set to 0 to only send you exact results. If that's the case we can change the search function to see if the first char and last char

[2020-11-03 01:06] humphd commented on #1271
Be aware of work happening in https://github.com/Seneca-CDOT/telescope/pull/1274, which will affect this solution.  @PedroFonsecaDEV, is your new scroll-to-top stuff going to need any changes to support the search results?

[2020-11-03 01:08] humphd commented on #1259
I think AND is OK, but I want to be able to treat a term like `"a b c"` (in double-quotes) as a single string.  So doing `a b "c d"` is like saying `a AND b AND "c d"`.  Possible?

[2020-11-03 01:12] raygervais commented on #1261
Sounds good.

[2020-11-03 01:31] c3ho commented on #1259
Ah, ok, I understand now. It is impossible with the type of `query` we're using right now in `indexer.js`. We're using [Match](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/query-dsl-match-query.html) query currently, what I think you're looking for is [Simple Query String](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) or [Q

[2020-11-03 06:46] PedroFonsecaDEV commented on #1271
I don't think the changes I made until now will impact this bug. But I will implement @manekenpix suggestion. Let's keep in touch.

@tianlangwu, please feel free to reach me on slack.

Thanks.
Pedro.

[2020-11-03 14:35] tianlangwu commented on #1271
Thanks for your new scroll component! I won't start this soon, I will wait until your PR gets merged.

[2020-11-03 14:36] humphd commented on #1271
@tianlangwu or pull @PedroFonsecaDEV's branch from his remote into your repo, and start prototyping now.  You can rebase onto master later when it gets finished.

Then you can offer him some advice on any changes you need to make it work in your context.

[2020-11-03 14:45] tianlangwu commented on #1271
oh yes! I might try that way if I have time to start it soon. Thanks!

[2020-11-03 14:55] c3ho opened #1276 "Add guide in UI to help users write queries when searching Posts"
**What would you like to be added**:
Add some type of guide in UI to help users in writing more complex searches on this screen:

![image](https://user-images.githubusercontent.com/18711727/98015188-819bc200-1dca-11eb-8456-e1c1611b9108.png)

**Why would you like this to be added**:
#1275 will allow users to use operators + other options to fine-tune their searches:

![image](https://user-images.gi

[2020-11-03 15:30] humphd opened #1277 "Validate input on REST APIs with Ajv"
We don't currently validate input properly to our REST API endpoints.  Let's add [Ajv](https://ajv.js.org/) to our routes that accept data, and get schema-based validation happening on the data.

Our search is one place where we accept data, and others I can think of include:

- https://github.com/Seneca-CDOT/telescope/blob/d358f2e0950d071cbf854f1e6e02dd959380456d/src/backend/web/routes/feeds.js#L

[2020-11-03 17:07] humphd opened #1278 "Add docs on how to debug the backend"
We have a bunch of VSCode configs (e.g., [`Launch Telescope`](https://github.com/Seneca-CDOT/telescope/blob/master/.vscode/launch.json#L4-L11)) that allow devs to easily debug the backend from within VSCode.  However, if you haven't used them before, it might not be obvious.

Let's add some docs on how to do this.  See https://code.visualstudio.com/docs/editor/debugging#_launch-configurations for

[2020-11-03 17:13] humphd opened #1279 "Better errors for failures with Search and Elasticsearch"
In our search code we have some issues with how errors are handled.  Both the backend and frontend are doing the wrong thing.

When Elasticsearch fails, it will end up right here https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/query.js#L28
src/backend/web/routes/query.js:28

[code]

This is wrong, since we're sending a 200 response with a string vs. an error code with a

[2020-11-03 17:34] humphd opened #1280 "Add more fields to Elasticsearch"
When we store posts in Elasticsearch, we currently only include the posts' `text`:

https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/indexer.js#L12-L30

We can add more fields, and I think it would be good to include the `author` name.  This way we can convert our Author Search feature to also use Elastic vs. doing it manually.

Then we can modify our search to work against t

[2020-11-03 17:47] humphd commented on #1280
From Slack:

[2020-11-03 17:50] humphd commented on #1280
We could probably add title, date, etc. too.

[2020-11-03 18:32] c3ho commented on #1280
Will people need to remove their volumes if running ES through docker for this?

[2020-11-03 18:33] humphd commented on #1280
Yeah, when this gets added, we'll need to have people clean it out.

[2020-11-03 20:17] MLJBrackett commented on #1276
Hey @c3ho Id love take take this issue on! Could you assign me?

[2020-11-03 20:23] c3ho commented on #1276
The solution is open-ended, I'm not sure what the best solution is actually. You can add text above the search bar, a mouse-over or ask in Telescope for suggestions. I suggest you fetch my branch try out my PR with the new search feature and think of how you would like that information to be presented as a user.

[2020-11-03 21:44] TDDR commented on #1160
Hello @c3ho, We talked a little about this issue in the slack channel today. I would like to get assigned this for now.

[2020-11-03 21:50] c3ho commented on #1160
@TDDR Hey, thanks for taking up this issue. This is something more of a meta bug to keep track of back-end tests we're adding. I suggest you create a PR and just mention this issue in the description similar to what I did with #1161.

[2020-11-04 00:33] tonyvugithub commented on #1277
@humphd : Can I take over this?

[2020-11-04 00:33] tonyvugithub commented on #1277
@humphd : I just realize I can assign myself

[2020-11-04 01:08] MSTEWARDSON commented on #1260
@humphd:  I would like to try and implement this feature.

[2020-11-04 01:09] manekenpix commented on #1260
@MSTEWARDSON all yours!

[2020-11-04 16:35] humphd opened #1284 "Tests pass but process hangs on macOS"
I've seen 3 instances of the tests hanging on macOS, and as a result, we timeout or fail CI builds:

1. [Node.js CI / build (macos-latest, 12.x) (pull_request) Cancelled after 360m — build (macos-latest, 12.x)](https://github.com/Seneca-CDOT/telescope/pull/1275/checks?check_run_id=1348848998)
2. [on TravisCI here](https://travis-ci.org/github/Seneca-CDOT/telescope/jobs/741408511)
3. On Slack I saw

[2020-11-04 16:53] StellaJung-Student commented on #1280
Can I take this~?

[2020-11-04 17:34] humphd opened #1286 "Remove console and proxy spam from tests"
Our tests have a ton of spam in them from stray `console.log()` and also the express proxy:

[code]

Let's remove all `console.log`s from our test files that aren't part of a test itself.

Also, let's fix our express proxy middleware to not run in testing.  I think we only need it for development?

[2020-11-04 22:20] tianlangwu commented on #1264
I would like to work on this. Could you please assign it to me :D

[2020-11-04 22:24] humphd commented on #1264
@tianlangwu all yours

[2020-11-04 22:31] humphd commented on #1284
I wonder if we should disable the macOS builders until we solve this?  GitHub is spinning for 3.5+ hours each time, and it's failing all our builds.

[2020-11-05 00:23] c3ho commented on #1280
Before this gets worked on... can we get #1253 fixed + merged first?

[2020-11-05 00:50] raygervais opened #1288 "Explore how we can use Nix / NixOS for non-unix based Developer Environments"
From Slack
[code]

[2020-11-05 01:00] humphd commented on #1288
Yeah, might be a fun experiment to try for adding redis/elastic/etc for devs on Linux/macOS at least.

[2020-11-05 02:13] HyperTHD commented on #1279
I can assume this is just as simple as ensuring an error status is sent here? Reading where the front-end code error occurs, that would seem to do the trick since the json gets parsed if the return status code is 200

[2020-11-05 04:44] c3ho commented on #1269
#1285 Added Kibana to dev in our `docker-compose.yml`

![image](https://user-images.githubusercontent.com/18711727/98198727-a3469780-1ef7-11eb-821b-4a18fde27fa6.png)

[2020-11-05 05:16] #1221 closed

[2020-11-05 05:29] #1259 closed

[2020-11-05 15:25] humphd commented on #1279
I want the backend to send a proper error code here, and the frontend to receive it and deal with it via UI.  So it's a mulit-part fix.

[2020-11-05 16:52] humphd opened #1291 "Create a Heroku based Development Setup and Docs"
Setting up Telescope is hard, especially on Windows.  We rely on a lot of different services, and stitching them all together can be a complex task.

I'd like to see if we can leverage some cloud hosting providers' free tiers to allow contributors to quickly spin up services in the cloud and make local development easier.

@raygervais suggests Heroku, and I think he's on to something.  The ["Free

[2020-11-05 17:18] pyvelkov commented on #1180
Shoot I am so sorry I forgot to request this.
See #1292
Let me know what you think.

[2020-11-05 17:27] humphd commented on #1180
Assigning ti @pyvelkov.

[2020-11-05 18:02] pyvelkov commented on #1226
I think I just fixed this in #1292
Pending Review.

[2020-11-05 19:18] c3ho commented on #203
@manekenpix collab on this? https://github.com/swagger-api/swagger-node/tree/master/docs

[2020-11-05 19:23] humphd commented on #203
https://blog.logrocket.com/documenting-your-express-api-with-swagger/

[2020-11-05 19:23] humphd commented on #203
Perhaps related #1277

[2020-11-05 19:44] manekenpix commented on #203
@c3ho sure, let's collab for this one.

[2020-11-05 20:32] jossiey commented on #1270
I will give this a try.

[2020-11-05 22:13] humphd commented on #1270
All yours @jossiey

[2020-11-06 03:16] manekenpix commented on #1228
@c3ho did you last PRs fix this?

[2020-11-06 03:35] StellaJung-Student commented on #1280
For me, it's hard and I really don't get how to communicate with redis... so I am not sure about my update.
When I tested it locally, the search keyword was worked on each author, text and title.
Also, when I removed the _source, the all fields are shown but again, please let me know better solution~
Thanks.

[2020-11-06 07:24] c3ho commented on #1228
Fixed via #1275

[2020-11-06 07:24] #1228 closed

[2020-11-06 12:13] smilegodly opened #1296 "Fix code within blog posts"
**What would you like to be added**:

Alot of code in Telescope posts have no code blocks and are just in plain text

![image](https://user-images.githubusercontent.com/35276477/98364888-8eedc200-1fff-11eb-97c5-95d9177016d8.png)

![image](https://user-images.githubusercontent.com/35276477/98364948-ad53bd80-1fff-11eb-9798-875a21615d62.png)

**Why would you like this to be added**:

Code should be i

[2020-11-06 14:21] smilegodly commented on #1296
This issue is similiar to https://github.com/Seneca-CDOT/telescope/issues/1250 except all the code in this issue are in  empty `<div>` tags

[2020-11-06 14:43] humphd commented on #1296
This seems risky.  How do you identify code in a post if it isn't marked up?  I also see some people use tables, rows, and table cells for code.

I think it's going to be hard to get this right.

[2020-11-06 15:59] #1264 closed

[2020-11-06 16:26] #1266 closed

[2020-11-06 19:24] humphd commented on #1296
Here's a post that we could maybe fix: https://egrinberg.medium.com/lab-6-dps909-11767c605e33

It uses a `<pre>` per line, so the file is `<pre>...</pre><pre>...</pre><pre>...</pre>...`.  We could probably collapse these together into a single `<pre>`.

[2020-11-06 19:24] VietnameZe opened #1297 "Auto hide Nav bar when scrolling down"
Change a bit about UI, navbar will be hidden when user scroll the page down, then it will be back when user scroll up

The navigation should be hidden to make more space and comfortable to read (only post's header remain appeared). Both navbar and post header together it looks bad to me, let me know what you think about this?

[2020-11-06 19:29] humphd commented on #1297
We've got some work happening on this front already in #1274.  I'm going to close this to let that work complete.

[2020-11-06 19:29] #1297 closed

[2020-11-07 00:59] #1280 closed

[2020-11-07 04:40] badalsarkar commented on #1267
Hello @humphd ,
I can work on this issue. Thanks.

[2020-11-07 20:13] humphd commented on #1267
@badalsarkar yes please, all yours.

[2020-11-07 21:05] isabellaliu77 commented on #1261
Hi, I'd like to work on this one, can you assign this one to me? Thanks! @humphd

[2020-11-07 21:45] humphd commented on #1261
@isabellaliu77 sure, thanks for offering.  All yours.

[2020-11-08 14:28] humphd commented on #1170
*A note to students contributing to this issue this week.*

We are trying to collect a series of Unsplash photos that help tell the story of what our community is doing and who we are.  Telescope is a an open learning and technology project by the Seneca community.  We are a diverse community of individuals, and this is part of our strength.  We are also trying to create a space that is welcoming

[2020-11-08 19:58] jiyoungsin commented on #1286
Hello Professor,

This seems like a quick fix that I could do. Could you tell me more about where these console logs are? I am having a difficult time locating a console.log in the test's directory.

[2020-11-08 20:21] jiyoungsin commented on #1286
In addition, I have a question about how I should go about this issue. I have located the root of the problem in node_modules/http-proxy-middleware/dist/logger.js, however, this will only fix this issue locally since we download everything using npm install. Do you have any idea's on how I should go abouts this?
[code]

[2020-11-08 20:54] jossiey commented on #1270
@humphd Now, I have achieved the first step, when we are typing in search page, url will synchronize with key word, showing https://telescope.cdot.systems/search?q=keyword. I want to know that the next step you mentioned in the last sentence is that you hope to read out the params only or you want to send the url to another person,  he could open it as well.

[2020-11-08 21:50] jiyoungsin commented on #1277
would it be cool if I gave this a shot too? I have created a pull request regarding this issue, however, I am still confused on why the put request and delete request needs any validation since we are not using the req.body. The pull request can be found [here](https://github.com/Seneca-CDOT/telescope/pull/1299).

[2020-11-08 21:56] tonyvugithub commented on #1277
@jiyoungsin : I have almost completed it. You may want to look at other issue.

[2020-11-08 22:15] humphd commented on #1270
@jossiey nice.  What I mean is, if I browse to the URL https://telescope.cdot.systems/search?q=keyword, I want the state of the search input box to be updated to `keyword`.  That is, I want the param to make its way into the UI, as if I typed it there and ran a search.

The end goal would be that browsing to https://telescope.cdot.systems/search?q=keyword would actually do a search for `keyword`.

[2020-11-09 00:42] tonyvugithub commented on #1284
@humphd : I think the macos process back to normal now.

[2020-11-09 00:47] HyperTHD commented on #1279
I'll give this a shot then, you or any other maintainer can assign this to me

[2020-11-09 01:44] humphd commented on #1279
@HyperTHD all yours.  Let us know if you need any help.

[2020-11-09 01:46] humphd commented on #1284
There's a saying: "you never want to lose a bee in your house."  It might be gone, but that's not the same as it being taken care of!

It's strange that we had multiple different CI systems all failing with the same problem. I'd love to understand why.

[2020-11-09 01:48] humphd commented on #1286
The `options` object you can pass to the middleware lets you set a `loglevel`: https://www.npmjs.com/package/http-proxy-middleware#options.  I'd disable it there.

[2020-11-09 02:10] chrispinkney commented on #1170
How about 3?

https://unsplash.com/photos/TamMbr4okv4

https://unsplash.com/photos/2FPjlAyMQTA

... https://unsplash.com/photos/gySMaocSdqs

[2020-11-09 02:11] humphd commented on #1170
@chrispinkney second one we already have, **love** the other 2!

[2020-11-09 08:51] PedroFonsecaDEV commented on #1223
I'm still working. The last commit doesn't represent the final work.

[2020-11-09 20:06] jossiey commented on #1270
@humphd Thanks for the further explanation. I will keep trying to figure it out.

[2020-11-09 20:18] TDDR commented on #1225
Hello, I would like to take a stab at this one if you could assign me please.

[2020-11-09 20:20] c3ho commented on #1225
@manekenpix is this being fixed as part of your PR?

[2020-11-09 20:21] manekenpix commented on #1225
Yes, this is addressed in #1295

[2020-11-09 20:22] c3ho commented on #1225
@TDDR sorry about that, do you mind picking up another issue?

[2020-11-09 20:23] manekenpix commented on #1225
#1295 doesn't move its position though, so that's something that could be done. @TDDR

[2020-11-09 20:37] TDDR commented on #1232
Hello, I can try to implement this if you could assign me please.

[2020-11-09 20:54] humphd commented on #1232
Yes, all yours @TDDR

[2020-11-09 21:07] rogercyyu commented on #971
Hi, I would like to fix this bug. Thank you.

[2020-11-10 00:15] c3ho commented on #1225
With #1295 , I'm going to change the title of this to repositioning it instead.

[2020-11-10 00:26] hyunjiLeeTech commented on #1170
How about these?
https://unsplash.com/photos/SYTO3xs06fU
https://unsplash.com/photos/FlPc9_VocJ4

[2020-11-10 00:35] humphd commented on #1170
@hyunjiLeeTech first one we have, I love that one too.  Second one is perfect!

[2020-11-10 00:39] #552 closed

[2020-11-10 01:50] TDDR commented on #1232
Just to clarify, do you want me to replace the pictures in the carousel with the contributors, or place them in the footer like on the node web page?

[2020-11-10 15:50] yzwdroid opened #1301 "Add github action to automate the release process."
**What would you like to be added**:
I'd like to add a GitHub action to automate the release process. When there is a release tag like `1.5.0` push to the master branch, a release will be created with the release code and description.

**Why would you like this to be added**:
automate the release process.

[2020-11-10 16:21] raygervais commented on #1170
Really loving the suggestions so far, similar to this semester's contributors it appears more and more individual personalities is surfacing within Telescope! @humphd, should we set a deadline on this one or leave it open till X date? Asking so that once deadline is met, I can go about the submitted and add them to the collection (or create a new collection ala Telescope 1.5) all at once.

[2020-11-10 16:59] HyperTHD commented on #1170
https://unsplash.com/photos/TzVN0xQhWaQ
This one highlights determination to get work done and to never give up, cause the moment when your PR is finally merged into the main branch and featured on a big release is something you keep with you forever.
Also helps to pad that resume up too

[2020-11-10 17:02] raygervais commented on #1129
This was addressed in my recent October commits, can be closed.

[2020-11-10 17:02] #1129 closed

[2020-11-10 17:12] humphd commented on #1301
Oh, nice idea!  cc @raygervais.

[2020-11-10 17:12] humphd commented on #1301
NOTE: our release process is documented here https://github.com/Seneca-CDOT/telescope/blob/master/docs/release.md

[2020-11-10 17:13] humphd commented on #1170
@raygervais I asked them to do it as part of the activities for this week, so we can hopefully close this next week and add them.

[2020-11-10 17:14] raygervais commented on #1170
Awesome, sounds good.

[2020-11-10 17:14] humphd commented on #1232
To start, let's try and do something like they do in node in the footer.  But we can play with the location and look.  I'd start by making this work at all, since you'll need to talk to the GitHub API to make it happen.

[2020-11-10 17:18] yzwdroid commented on #1301
Thanks, @humphd. Please assign this to me.

[2020-11-10 17:21] yzwdroid commented on #1291
I already checked Heroku, to add a Redis plugin, we need to add a credit card. but this is a free tier of Redis. Is it ok to add the credit info to the website. Or we can try something else.

[2020-11-10 17:22] humphd commented on #1301
@yzwdroid done!  I think you all have the ability to assign issues to yourself, though.  I added you all as collaborators on the repo.

Looking forward to seeing this happen!

[2020-11-10 17:23] humphd commented on #1291
I think a credit card is a no-go.  Most students won't do this.  Let's look for another solution, or close this.

[2020-11-10 17:23] humphd commented on #1291
See also #1298

[2020-11-10 17:35] chawlapalak commented on #1170
I like these ones, these give me the good vibes and how we all work together and help each other out here. I love the vibe of team spirit and enjoying the success and working through failures together.
[https://unsplash.com/photos/bq31L0jQAjU](https://unsplash.com/photos/bq31L0jQAjU)
[https://unsplash.com/photos/cAtzHUz7Z8g](https://unsplash.com/photos/cAtzHUz7Z8g)
[https://unsplash.com/photos/FBi

[2020-11-10 17:51] VietnameZe commented on #1170
I found:
https://unsplash.com/photos/842ofHC6MaI
https://unsplash.com/photos/MAYEkmn7G6E
https://unsplash.com/photos/wh-RPfR_3_M
https://unsplash.com/photos/Y_LgXwQEx2c
https://unsplash.com/photos/3V8xo5Gbusk

[2020-11-10 17:52] yuanLeeMidori opened #1302 ""Malformed input, repository not added" error message while installing Docker on Linux Mint"
**What happened**: I received the message `Malformed input, repository not added` while using the command below. This command is from the instructions of Docker installation in `environment-setup.md`.
[code]

**What should have happened**: There should not be any message returned after input this command.

**Environment**:

- OS: Linux Mint 19.2 Tina
- Browser: Chrome

[2020-11-10 17:57] tonyvugithub commented on #1170
I found a few I think could represent telescope. My keywords are telescope, togetherness and network

https://unsplash.com/photos/Zyx1bK9mqmA

https://unsplash.com/photos/atSaEOeE8Nk

https://unsplash.com/photos/ZiQkhI7417A

https://unsplash.com/photos/p6gQCmySSO4

[2020-11-10 18:01] sanji11 commented on #1170
I like these ones:
https://unsplash.com/photos/XkKCui44iM0
https://unsplash.com/photos/LaqL8nxiacc
https://unsplash.com/photos/Y_LgXwQEx2c
https://unsplash.com/photos/zi5vRoAP3WY

[2020-11-10 18:35] zg3d commented on #1257
Hey, can I work on this issue?

[2020-11-10 18:42] klee214 commented on #1262
Hello, I think, it seems like because `src/backend/lib/config.js` require `backend/utils/logger.js` and at the same time `backend/utils/logger.js` also require `src/backend/lib/config.js`

ref:
1. [How to deal with cyclic dependencies in Node.js](https://stackoverflow.com/questions/10869276/how-to-deal-with-cyclic-dependencies-in-node-js)
2. [Circular Dependencies in Node](https://ericclemmons.com

[2020-11-10 18:43] humphd commented on #1257
@zg3d all yours.

[2020-11-10 18:46] humphd commented on #1262
We recently landed a fix for this (circular dep in config.js). We should decide if this still exists and close if not.

[2020-11-10 18:47] humphd commented on #1262
See #1287 cc @tianlangwu

[2020-11-10 18:47] klee214 commented on #1262
I see, thank you:)

[2020-11-10 18:48] egrinberg commented on #1258
I investigated this issue and found the following:

In the AuthorResult.js, Card components are used. The <button> is created by the <CardActionArea> component. In order to fix the accessibility issue, we might need to use the Link component from 'react-router-dom'.

[link to the suggested solution](https://stackoverflow.com/a/50444524/11555213).

[2020-11-10 18:59] badalsarkar commented on #1170
https://unsplash.com/photos/TamMbr4okv4
https://unsplash.com/photos/Oalh2MojUuk
https://unsplash.com/photos/WE_Kv_ZB1l0

[2020-11-10 19:06] humphd commented on #1262
@klee214 @tianlangwu are you able to confirm that it's fixed on `master` now?

[2020-11-10 19:12] klee214 commented on #1262
#1262, this issue seems to be solved!

[2020-11-10 19:21] humphd commented on #1262
@klee214 thank you for investigating!  Closing.

[2020-11-10 19:21] #1262 closed

[2020-11-10 19:28] klee214 opened #1304 "localhost:3000"
**What happened**:

**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2020-11-10 19:28] #1304 closed

[2020-11-10 19:48] tianlangwu commented on #1170
https://unsplash.com/photos/c8h0n7fSTqs
https://unsplash.com/photos/ZDwh_sxsX2g
https://unsplash.com/photos/vSI8ASKyMJ8
https://unsplash.com/photos/JdoofvUDUwc

[2020-11-10 19:51] zg3d commented on #1257
@humphd I think this is not an issue and has been fixed in a previous commit.

[2020-11-10 20:00] badalsarkar commented on #1267
I believe I need to remove [this](https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml) file and remove
`    "test-ci": "run-s prettier-check test",` line from [package.json](https://github.com/Seneca-CDOT/telescope/blob/master/package.json#L48).

Am I on the right direction? Is there anything else related to this?

[2020-11-10 20:14] badalsarkar commented on #1267
I seems to me that I just need to delete [this](https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml) file and this repository should be removed from Travis CI account. Is there anything else related to this?

Travis CI is new to me. Please let me know if I am heading to wrong direction.

[2020-11-10 20:55] joey2031 commented on #1170
https://unsplash.com/photos/WE_Kv_ZB1l0
https://unsplash.com/photos/vGgn0xLdy8s
https://unsplash.com/photos/U0tBTn8UR8I
How are these?

[2020-11-10 21:04] Jasper-Mui commented on #1069
I would like to work on this.

[2020-11-10 21:12] klee214 commented on #1229
I am gonna try this one!

[2020-11-10 21:20] egrinberg commented on #1239
I would try this out.

[2020-11-10 21:22] egrinberg commented on #1258
@humphd  This issue should be closed as the latest changes fix it. Posts in the timeline are not using the CardAction component.

[2020-11-10 21:22] #1258 closed

[2020-11-10 21:25] manekenpix commented on #1239
@egrinberg All yours!

[2020-11-10 21:26] MLJBrackett commented on #1170
https://unsplash.com/photos/ZDwh_sxsX2g
https://unsplash.com/photos/Xr1Lwph6eGI
https://unsplash.com/photos/842ofHC6MaI
https://unsplash.com/photos/XMpXzzWrJ6g

[2020-11-10 21:27] manekenpix commented on #1229
@klee214 all yours!

[2020-11-10 21:46] yuanLeeMidori commented on #1089
Hi, is there any one working on this issue? I'd like to give it a try. Thank you!

[2020-11-10 21:49] manekenpix commented on #1089
@yuanLeeMidori all yours!

[2020-11-10 22:05] #1277 closed

[2020-11-10 22:08] humphd commented on #1069
@PedroFonsecaDEV how much is left to do on this after #1223 lands?  I don't want to send @Jasper-Mui down a rabbit hole if your fix will also cover this.

[2020-11-10 22:10] humphd commented on #1267
Removing the TraivsCI YML file is most of it, but see also https://github.com/Seneca-CDOT/telescope/search?q=travis for other places we need to remove things.

[2020-11-10 22:10] humphd commented on #1257
@zg3d awesome, thank you for confirming.

[2020-11-10 22:44] MLJBrackett commented on #1276
Hey @c3ho take a look at my pull request #1306 and tell me what you think of it!

[2020-11-10 22:55] smilegodly commented on #1296
There are going to be lots of problematic edge cases like this for this issue. In the future more are likely to pop up.

A photo of the above mentioned case

![image](https://user-images.githubusercontent.com/35276477/98743067-77a33180-237d-11eb-9284-25b9d433bc35.png)

[2020-11-10 22:58] humphd commented on #1296
It might be interesting to survey the top blog platforms, and see what the HTML they produce is like for "code" blocks.  Then we could write a parser that deals with these cases, and ignore the others (which will be rare or mistakes on the part of a user).

[2020-11-10 23:02] PedroFonsecaDEV commented on #1069
@humphd I hope landing #1223 tomorrow.

I already made all changes on src/frontend/src/components/Header/MobileHeader.jsx that #1223 needed.
@Jasper-Mui can use my last commit [ba3fecd5](https://github.com/Seneca-CDOT/telescope/pull/1274/commits/ba3fecd58d2a5657e9bcde90928c203630a5cc7b)
 from #1223 to work on this issue.
The Vercel's build from the last commit is [here](https://telescope-pmw3r49rx

[2020-11-11 00:17] klee214 commented on #1229
I am looking for some advice!, I am doing this right now, I could implement the infinite scrolling feature with the "more button" (Once the more button is on the viewport, the new posts are updated setSize(size + 1)). However, it seems hard to do this without the "more button" component for 2 reasons,
_1. On the Timeline.jsx, `useRef` is always undefined even if it is on the `useEffect`, so it is

[2020-11-11 00:18] tonyvugithub opened #1307 "Add query params validation for PUT /feeds/:id/flag route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query params validation for PUT /feeds/:id/flag route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.github.io/docs/check-api.

[2020-11-11 00:20] tonyvugithub opened #1308 "Add query params validation for DELETE /feeds/:id route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query params validation for DELETE /feeds/:id route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.github.io/docs/check-api.ht

[2020-11-11 00:21] tonyvugithub opened #1309 "Add query params validation for DELETE /feeds/:id/flag route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query params validation for DELETE /feeds/:id/flag route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.github.io/docs/check-a

[2020-11-11 00:23] tonyvugithub opened #1310 "Add query params validation for GET /feeds/:id route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query params validation for GET /feeds/:id route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.github.io/docs/check-api.html

[2020-11-11 00:25] tonyvugithub opened #1311 "Add query params validation for GET /posts/:id route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query params validation for GET /posts/:id route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.github.io/docs/check-api.html

[2020-11-11 00:35] tonyvugithub opened #1312 "Add query params validation for GET /query?text=<searchTerm>&filter=<filterBy> route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query validation for GET /query?text=<searchTerm>&filter=<filterBy> route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.githu

[2020-11-11 00:41] tonyvugithub opened #1313 "Add query params validation for GET /posts?page=<num>&per_page=<num> route using Express Validator and unit tests"
**What would you like to be added**:
Request to add query validation for GET /posts?page=<num>&per_page=<num> route using [Express-validator](https://express-validator.github.io/docs/) and also unit tests to ensure that it works

**Why would you like this to be added**:
It would be better to validate the query before it reach the route handler.

reference: https://express-validator.github.io/docs/

[2020-11-11 00:41] humphd commented on #1229
We're using [`useSWR`](https://swr.vercel.app/) to do our loading, and it supports this.  Here's an example https://sergiodxa.com/articles/swr/pagination#infinite-scroll.  There are others if you search for 'infinite scroll useswr'.

[2020-11-11 00:45] joelazwar commented on #1170
https://unsplash.com/photos/Q1p7bh3SHj8
https://unsplash.com/photos/kwzWjTnDPLk
https://unsplash.com/photos/OqtafYT5kTw

[2020-11-11 02:51] hyunjiLeeTech commented on #1173
Hi, if you still need to change Telescope Theme to a light theme, can you please assign me to this task? Thanks.

[2020-11-11 03:10] joelazwar commented on #1193
Hey @manekenpix still working on this issue? I'm down to collaborate since this issue seems interesting to work on :)

[2020-11-11 03:14] manekenpix commented on #1193
@joelazwar yes, I have the functionality, and now I'm dealing with styling.

[2020-11-11 04:29] eunbeek commented on #1311
Hi,

May I work on this issue?
I will post some code examples soon, maybe tomorrow morning, if you are okay.

Thanks

[2020-11-11 04:41] sonechca commented on #1310
Hi Tony,

I am interested in this issue and I would like to work on this.
Can I take on this issue?
Thank you :)

[2020-11-11 04:48] tonyvugithub commented on #1311
@eunbeek you can assign yourself to the issue

[2020-11-11 04:49] tonyvugithub commented on #1310
@sonechca : you can assign yourself to the issue. Go ahead!

[2020-11-11 08:08] eunbeek commented on #1311
This is my suggestion about id parameter validation style.

I looked at the function to encode "guid" to "id" with Hash algorithms and then make it slice 10 characters.
I gave up decoding "id" to "guid" and made the validation to check input param's length with express-validation package like below.

![example](https://user-images.githubusercontent.com/50673489/98784771-9af3ce00-23c9-11eb-930c-738

[2020-11-11 13:38] humphd commented on #1173
@hyunjiLeeTech if you want to work on the 404 page or My Feeds page, and follow the work that @agarcia-caicedo began in #1174 and #1176, that would be great.

[2020-11-11 13:41] tonyvugithub commented on #1311
The idea is to put any validation in a form of a middleware.  then put the middleware before the route handler. We tried to modulize our code, but your approach is a good start. You can take a look here https://express-validator.github.io/docs/check-api.html

[2020-11-11 13:44] tonyvugithub commented on #1310
@sonechca : Some reference for you https://express-validator.github.io/docs/check-api.html

[2020-11-11 13:50] tonyvugithub commented on #1311
@eunbeek : There is a file called `validation.js` under `/backend/web`, you should create a middleware in there then export it to use in your route like this example
[code]

[2020-11-11 13:53] eunbeek commented on #1311
Oh, I did not have this code now, I will pull and use your code soon :) Thanks!

[2020-11-11 13:55] tonyvugithub commented on #1311
@eunbeek  You can ignore the part for Ajv, which is another validator we used before but for JSON, start your middleware function right below

[2020-11-11 13:58] badalsarkar commented on #1267
I made necessary changes. I having an issue running `npm test` I get the following error-

[code]
I think this is because some of the dependencies are not installed in my computer. So I ran `sudo npm install` and again I am getting an error-

[code]

I am investigating to see if I can find anything. If you can take a look and provide some direction that would be great. Thanks.

[2020-11-11 14:19] humphd opened #1316 "[Meta] Port existing GatsbyJS code to Next.js"
## Co-ordination of the GatsbyJS to Next.js Port

In #1314 we are beginning the transition from [GatsbyJS](https://www.gatsbyjs.com/) to [Next.js](https://nextjs.org/) for the front-end.  We will run parallel versions of the front-end while the transition occurs, with the current GatsbyJS version being the one we ship.

A new branch, [next](https://github.com/Seneca-CDOT/telescope/tree/next), has

[2020-11-11 15:33] #1267 closed

[2020-11-11 15:44] humphd opened #1319 "Add a README badge icon for our GitHub Actions build status"
Our README.md file includes a bunch of dynamic badges (icon images) that reflect build status.  Let's add one for the GitHub Actions CI we use.  See https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/adding-a-workflow-status-badge.

[2020-11-11 15:49] #1239 closed

[2020-11-11 15:58] matt-ross16 commented on #1319
I can get a badge up and running for the README

[2020-11-11 16:06] humphd commented on #1319
OK @matt-ross16 all yours.

[2020-11-11 16:14] manekenpix commented on #1302
Closed via #1303

[2020-11-11 16:14] #1302 closed

[2020-11-11 16:24] c3ho commented on #1316
Hi, I would like to work on SearchPage

[2020-11-11 16:56] joey2031 opened #1323 "Add test for post.js to call the constructor for a Post()"
**What would you like to be added**: In post.test.js add a test for src/backend/data/post.js that tries to call the constructor for a Post() and pass it invalid dates, and make sure we are throwing.

**Why would you like this to be added**: We have tests for many functions throughout Telescope, however, we are still missing many such as this one

[2020-11-11 16:59] c3ho commented on #1323
Feel free to create a PR and mention the backend test issue.

[2020-11-11 17:08] joey2031 commented on #1323
@c3ho Will do, ill start working on it and if I run into any issues ill bring it up in Slack, Thanks!

[2020-11-11 17:25] #1261 closed

[2020-11-11 18:31] c3ho opened #1325 "Load More Posts button overlaps with border of last pos"
**What happened**:
![image](https://user-images.githubusercontent.com/18711727/98849850-dc17cc80-2421-11eb-9863-b576503b1fee.png)

Discovered while reviewing #1184 . Can confirm it happens in all mobile views

**What should have happened**:
Load More Posts button should look more elegant or at least not have the button overlap with the border of the post
**How to reproduce it (as precise as possib

[2020-11-11 18:32] zg3d commented on #1313
Ill do this.

[2020-11-11 18:42] #1180 closed

[2020-11-11 18:42] #1226 closed

[2020-11-11 19:25] tonyvugithub commented on #1310
@sonechca : the logic for the middleware should be placed inside `backend/web/validation.js`

[2020-11-11 19:27] tonyvugithub commented on #1313
@zg3d : All logic for the middleware should be place inside `backend/web/validation.js`

[2020-11-11 19:32] tonyvugithub opened #1326 "Migrate JSON body validation of POST /feeds from Ajv to express-validator"
**What would you like to be added**:
Initially the JSON object received by POST /feeds is validated through a package named Ajv. But the team decided to switch everything to validate with express-validator.
**Why would you like this to be added**:
Convert the current code inside `backend/web/validation.js` to use [express-validator](https://express-validator.github.io/docs/)

Reference: https://ex

[2020-11-11 19:33] Shinh18 commented on #1219
Hey, I would like to work on this issue.
Thanks

[2020-11-11 19:41] humphd commented on #1219
OK @Shinh18 go for it

[2020-11-11 19:43] tonyvugithub opened #1327 "Suggest new feature to share a blog post to personal social media from Telescope."
**What would you like to be added**:
Viewers has the ability to share the blog that they enjoy reading to their personal social medias. The actually link shared will be the original url

**Why would you like this to be added**:
It would help to increase the exposure of the blog writers to more audiences.

[2020-11-11 20:26] chawlapalak commented on #1312
Hi @tonyvugithub I would like to work on this one.

[2020-11-11 20:45] PedroFonsecaDEV opened #1329 "Increase Post Title padding."
**What would you like to be added**:
<img width="1723" alt="97935177-c5001d00-1d45-11eb-82af-f94bc9d8458f" src="https://user-images.githubusercontent.com/60857409/98861775-d5925080-2433-11eb-84ee-cafdb2c1560b.png">

Fix the padding on Posts' title.

Our post title will have different padding after [PR-1274](https://github.com/Seneca-CDOT/telescope/pull/1274) were merged.

The left side of the phot

[2020-11-11 21:05] #1220 closed

[2020-11-11 21:23] strawberries73 commented on #1170
https://unsplash.com/photos/p55zezwahEk  I like this one because I feel like this a a journey of exploration and discovery.

[2020-11-12 00:43] eunbeek commented on #1311
Hey, @tonyvugithub
Thank you so much for your feedback.

And Hello, a developer who is coding to similar issues about express-validation feel free to ask about it.

I changed this code like below.
When the invalid id value gets in middleware, it returns a "400" error back.

I am waiting for others to update any example on a similar issue.
I will make it look good and pull request it on Friday morn

[2020-11-12 00:49] tonyvugithub commented on #1311
@eunbeek : I think you misunderstood it. The current code in validation.js is following the standard of Ajv which is not express-validator. Even the current code will soon be migrate to express validator.
You should take a look at this link https://express-validator.github.io/docs/check-api.html

[2020-11-12 00:50] tonyvugithub commented on #1311
you should use their current api `query([fields, message])`

[2020-11-12 01:10] 1jz commented on #1249
Hey, I looked into this and it seems like we add posts that pass the tests found at https://github.com/Seneca-CDOT/telescope/blob/7d97026fa84687986bb7a81bb477246c1d892f63/src/backend/data/post.js#L98

The `description` which holds the html for the blog posts can contain whitespace it's context which should be invalid. I created a fix for this but I just need to find a way to test it.

[2020-11-12 04:35] #881 closed

[2020-11-12 16:31] humphd commented on #1249
@1jz nice!  You need to add a test case here https://github.com/Seneca-CDOT/telescope/blob/master/test/post.test.js#L143-L238, following the style of what we already have, but with empty `description`.

[2020-11-12 16:52] humphd opened #1336 "GitHub Actions is triple-reporting lint issues"
We do GitHub Actions builds on multiple platforms, and each one reports the same errors inline in our PRs.  This is annoying, and it would be better to only have lint issues reported once:

<img width="1199" alt="Screen Shot 2020-11-12 at 11 49 40 AM" src="https://user-images.githubusercontent.com/427398/98969951-62451900-24dd-11eb-9668-e8090197c5a0.png">

[2020-11-12 16:54] humphd commented on #1316
@c3ho file an issue for it, edit the top comment beside `SearchPage/` to include the link to the issue number and your name.

[2020-11-12 17:32] yzwdroid commented on #1336
Is this because we run on three different platforms?  `runs-on: ${{matrix.os}}`

[2020-11-12 17:33] #1291 closed

[2020-11-12 17:36] yzwdroid commented on #1288
I can add a vagrant file to handle the redis/elastic env. Hopefully, it'll work on windows.

[2020-11-12 18:26] jiyoungsin commented on #1329
Has this issue been addresses? on my machine I see the ladder.

[2020-11-12 18:28] c3ho commented on #1329
I think this issue will happen once the mentioned PR gets merged. @manekenpix

[2020-11-12 18:34] humphd commented on #1055
@strawberries73 is going to give this a try.

[2020-11-12 18:48] jiyoungsin commented on #1325
Hey would it be cool if I could prepose a fix for this issue?

[2020-11-12 19:37] strawberries73 commented on #1055
@humphd  Do I need to stick with the "blue" theme?

[2020-11-12 19:43] humphd commented on #1336
Correct, and we want to have that build matrix.  But, we don't need triple reporting.

[2020-11-12 19:44] humphd commented on #1288
I wonder if Vagrant gains us much over using docker?

[2020-11-12 19:48] humphd commented on #1325
Go for it @jiyoungsin

[2020-11-12 19:53] humphd commented on #1055
Yes, this isn't about changing colour, only contrast.  @agarcia-caicedo has already done colour theming in other PRs.

[2020-11-12 19:59] yzwdroid commented on #1288
Actually no different. I encounter some permission denied bugs with Docker compose redis and It's still not working on my fedora system. Maybe just another choice.  Too much choice is not good thing for beginners.

[2020-11-12 20:00] humphd commented on #1288
Yeah, I think we should just stick with docker.

[2020-11-12 20:15] yzwdroid commented on #1336
I believe this report is from `"test-ci": "run-s prettier-check test",`,   how about we only run `- run: npm run test-ci`  if the `matrix.os == ubuntu`.

[2020-11-12 20:24] humphd commented on #1336
Yes, that's a possible work around if GitHub Actions has no way to harmonize these results.

[2020-11-12 23:10] sanji11 commented on #1326
Hi, I am gonna work on it, so assigning to myself hehehe

[2020-11-12 23:17] tonyvugithub commented on #1326
@sanji11 Sure. Remember to follow the link I included and all logic should be inside validation.js, you don't have to write tests for this route as they have already been done

[2020-11-13 00:49] manekenpix opened #1340 "Missing argument in deploy.sh script"
**What happened**:
The autodeployment server uses a bash script ([deploy.sh](https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/deploy.sh)) to clone and rebuild telescope, and once it's built, it shuts down the running version and deploys the new one.

In the step where the script shuts down telescope, `docker-compose` is missing an argument that specifies a yml file (`docke

[2020-11-13 01:12] #1173 closed

[2020-11-13 01:20] #1249 closed

[2020-11-13 01:21] hlstasiak commented on #1340
Hello, I would like to work on this if that is okay with you.

[2020-11-13 01:21] #1250 closed

[2020-11-13 01:22] humphd commented on #1340
Sounds good @hlstasiak

[2020-11-13 01:31] humphd opened #1341 "Search loading spinner is left-aligned vs. centred"
If you go to the search page on staging (i.e., https://dev.telescope.cdot.systems/search/) , type some text (e.g., React) and click the search button (i.e., magnifying glass), the search spinner loads for a brief moment but it is left-aligned instead of in the middle where it should be.

I can't get a screenshot of it, the search is so fast now.

[2020-11-13 01:44] eunbeek commented on #1311
@tonyvugithub : Could you let me know how to test with Supertest?
I completed the code like below but unfortunately...I do not know how to use supertest....

posts.js
`posts.get('/:id', validateParam, async (req, res) => {}`

validation.js.
[code]

[2020-11-13 03:03] manekenpix commented on #1341
I can't reproduce, whenever I am able to see the spinner (it's so fast I only see sometimes), the spinner is centered (on dev)

[2020-11-13 03:08] tonyvugithub commented on #1311
here is a reference to the do the test
https://github.com/Seneca-CDOT/telescope/blob/master/test/posts.test.js
Your test flow will most likely like this: You make a request to the app
[code]

[2020-11-13 03:09] tonyvugithub commented on #1311
@eunbeek : And you need a couple of these. Think about scenarios. Like what if the id is has the right length but it is invalid. What if its length is not correct.

[2020-11-13 03:32] humphd commented on #1341
I'm seeing this on Firefox with a window width of 1245px.  I wonder it's super specific to the browser/sizing?

[2020-11-13 03:46] #1223 closed

[2020-11-13 07:18] agarcia-caicedo opened #1344 "Add Bottom margin to search component"
**What would you like to be added**:
Currently, when results are displayed in the search page, there isn't much space separating the search component and the results
![image](https://user-images.githubusercontent.com/49992710/99040032-67927a00-2556-11eb-84a7-d1ba0b5c53e3.png)

**Why would you like this to be added**:
Margin will improve the design of the page

[2020-11-13 07:28] agarcia-caicedo commented on #1341
I've managed to reproduce a few times, but I haven't been able to figure out what triggers it. The more I searched the less it popped up

[2020-11-13 14:17] humphd commented on #1055
Confirmed this was fix with light theme changes, closing.  Sorry Jenn, we'll find you another bug.

[2020-11-13 14:17] #1055 closed

[2020-11-13 14:28] humphd commented on #1344
Assigning to @strawberries73.  From @agarcia-caicedo on Slack:

[2020-11-13 14:54] yzwdroid commented on #1170
https://unsplash.com/photos/Yj1M5riCKk4
https://unsplash.com/photos/5JuLcub3dYg

[2020-11-13 15:21] zg3d commented on #1170
https://unsplash.com/photos/uTWKKYqt3qQ
https://unsplash.com/photos/wxLZQ3vCSYs
https://unsplash.com/photos/TlrEKUrQOXs
https://unsplash.com/photos/_ok8uVzL2gI

[2020-11-13 16:04] #971 closed

[2020-11-13 16:09] #1268 closed

[2020-11-13 21:25] joey2031 commented on #1323
@c3ho So I made quite a bit of progress for this issue I just don't know why the test keeps failing when I pass (invalidDate, validDate) I know it shouldn't throw since the fallbackDate is valid.  I tested the ensureDate function in a separate project and made some adjustments to it. In the other project, I called it in a try-catch and it didn't throw so I'm not sure what's wrong when I put it in

[2020-11-13 21:48] c3ho opened #1347 "Fix environment var for Kibana in docker-compose.yml"
**What happened**:
Issue connecting to Kibana at `localhost:5601`

**What should have happened**:
Users should see the Kibana screen when navigating to `localhost:5601

**How to reproduce it (as precise as possible)**:
`docker-compose up elasticsearch kibana`
`http://localhost:5601`

**Anything else we need to know?**:
Quick fix for the `docker-compose.yml` file
Change `SERVER_HOST` under `kibana:

[2020-11-13 21:56] manekenpix opened #1348 "Use Kibana as main logging system"
**What would you like to be added**:
Now that [Kibana(]https://github.com/elastic/kibana) is part of telescope, it would be interesting to redirect logs from all the services (`redis`, local `login`, `telescope`. `nginx`, `certbot`) to kibana so they'd all be accessible in one place and organized by service.

**Why would you like this to be added**:
Currently, we don't have anything like this, so

[2020-11-13 22:10] PedroFonsecaDEV commented on #1170
https://unsplash.com/photos/In4XVKhYaiI
https://unsplash.com/photos/U1yDO88dyAI
https://unsplash.com/photos/Oze6U2m1oYU
https://unsplash.com/photos/q1zHlqCOe4k
https://unsplash.com/photos/vpxeE7s-my4
https://unsplash.com/photos/mpN7xjKQ_Ns

[2020-11-13 22:30] c3ho commented on #1323
Can you push this as a PR so I can fetch and test it out?

[2020-11-13 22:43] #1229 closed

[2020-11-13 22:53] humphd opened #1349 "Add infinite scrolling to search results"
Once we have #1222 finished we'll be able to page through search results.  When that happens, I want to see something similar to the work in #1332 happen in our timeline of search results.  Ideally we should be able to leverage the same component.

cc @klee214, who worked on the original infinite scrolling and can probably help mentor/review this work.

[2020-11-13 22:56] joey2031 commented on #1323
Just did! Thanks! https://github.com/Seneca-CDOT/telescope/pull/1350

[2020-11-13 22:58] humphd opened #1351 "Reduce number of posts per page we load"
Now that we have infinite scrolling (#1332), we don't need to load as many posts for the timeline to be usable.  Let's go down from 10 to 5 and see how that feels.

The change needs to happen in all these:

https://github.com/Seneca-CDOT/telescope/search?q=MAX_POSTS_PER_PAGE

[2020-11-13 22:58] IcemanEtika commented on #1329
Hey I'd be interested in working on this once the mentioned PR is merged.

[2020-11-13 22:59] c3ho commented on #1323
Thanks, I'll take a look when I get back home

[2020-11-13 22:59] humphd commented on #1329
It's in, go for it @IcemanEtika.

[2020-11-14 00:16] joey2031 commented on #1323
@c3ho Thank you so much!

[2020-11-14 02:07] yzwdroid commented on #1351
I can work on this.

[2020-11-14 10:26] joelazwar commented on #1349
@humphd id like to work on this issue!

[2020-11-14 14:41] Niaz-Ul-Haque commented on #1347
Ill like to assign myself to this issue. Thank you!

[2020-11-14 18:04] humphd commented on #1349
Awesome, thank you @joelazwar.  This will depend on #1222, so we need someone for that too.

[2020-11-14 19:04] #1312 closed

[2020-11-14 21:17] eunbeek commented on #1311
I have a problem with git rebase...Error log returned like below.
![image](https://user-images.githubusercontent.com/50673489/99157195-eb528080-2694-11eb-9f8c-8525ba9edce5.png)

Do you have any idea to solve it?

[2020-11-14 21:44] humphd opened #1354 "[next] Error: Cannot find module 'webpack'"
I pulled the `next` branch, ran `npm install` and then `npm run develop` and I get this:

[code]

It looks like it's not installing dev dependencies?

[2020-11-14 21:47] TDDR opened #1355 "Display Contributor in Footer of About Page"
This issue is part of #1232 . As discussed in that issue we would like to add an area to the About page's footer that would highlight Telescopes contributors.

You will use the `useTelescopeContributor` hook  to fetch a contirbutor that will be displayed in a manner similar to how it is shown on the [node site](https://nodejs.org/en/)

![nodeDisplay](https://user-images.githubusercontent.com/42739

[2020-11-14 21:52] TDDR opened #1356 "Add Tests for `useTelescopeContributor` hook"
This issue is part of #1232 .

There is a new hook that has been added that interacts with GitHub's API. We need a suite of tests to make sure that:
- A single, random contributor is returned from the hook
- An error object that is either `undefined` or an actual `Error` object
- Write tests for failures of the API.

[2020-11-14 21:59] PedroFonsecaDEV commented on #1316
Hi,
I would like to work on issues related to: Port Components from Gatsby to Next.js

[2020-11-14 22:02] manekenpix commented on #1354
I can't reproduce, `npm install` and then `npm run develop` works for me, I'm able to see the front-end.

[2020-11-14 22:08] humphd commented on #1354
Which version of node are you running?

[2020-11-14 22:10] manekenpix commented on #1354
[code]
With [nvm](https://github.com/nvm-sh/nvm)

[2020-11-14 22:14] sanji11 commented on #1326
Hi, I just send a PR. Lemme know if everything looks good :)

[2020-11-14 22:14] jiyoungsin commented on #1325
This issue seems to have been resolved with the new this pull [request](https://github.com/jiyoungsin/telescope/commit/f131e8c2b4f64072cae53e020b9707a9ce73c34f). I will close this issue since it has been resolved. Thank you all for your time :)

[2020-11-14 22:14] #1325 closed

[2020-11-14 22:23] isabellaliu77 commented on #1170
https://unsplash.com/photos/-uHVRvDr7pg
https://unsplash.com/photos/kJxinkriuB4
https://unsplash.com/photos/MMr6FsccqB4

[2020-11-14 22:26] humphd commented on #1316
@PedroFonsecaDEV pick one of the items in the list, file an issue, and edit comment at the top with a link to the issue and your name.

[2020-11-14 22:33] PedroFonsecaDEV opened #1358 "[next] Main page, see src/frontend/src/pages/index.js"
**What would you like to be added**:
[Next.js migration. Port-MAINPAGE](https://github.com/Seneca-CDOT/telescope/issues/1316)
**Why would you like this to be added**:
Next.js migration.

[2020-11-15 01:26] #1319 closed

[2020-11-15 03:19] #1323 closed

[2020-11-15 07:53] zg3d commented on #1257
@humphd  the code in app.js in the current repo is accurate however when i check with a csp Evaluator in the current dev build. The https src in image-src is not shown or used ending up with the above console error.
https://github.com/Seneca-CDOT/telescope/blob/b3ea97107ac7ea6ecf91c0a9800c1de02ff4d914/src/backend/web/app.js#L31
`![image](https://user-images.githubusercontent.com/25188774/99179631-

[2020-11-15 14:05] joelazwar commented on #1349
@humphd Hmmm in that case I can work on that issue first. Hope it's fine if I assign that issue for myself

[2020-11-15 17:27] humphd commented on #1349
@joelazwar sounds good

[2020-11-15 17:34] humphd commented on #1257
We should probably fix up our CSP in a few ways.  These online evaluators flag a couple of different things. @zg3d do you want to work on this or leave for someone else?

[2020-11-15 18:20] manekenpix commented on #1354
@c3ho were you able to get this front-end to run?

[2020-11-15 18:22] c3ho commented on #1354
Tested it ytd, was not able to get it to run. I tried blowing up the node_modules folder in both root directory and /src/frontend. Reinstalled modules and still didn't work.

[2020-11-15 18:50] humphd commented on #1354
I had to mess around with the inner `package.json` a bunch, switched to pinned versions vs. using `^` and blew away the lock and node_modules, and eventually it worked, but I have no idea what made it work.

[2020-11-15 19:01] sonechca commented on #1310
HI, I have finished this issue based on your advice and checking with https://github.com/Seneca-CDOT/telescope/commit/b9a87872b1775f8e8fc0cb3bee468023b0aa656a and https://github.com/Seneca-CDOT/telescope/issues/1311.

I need your advice more can you check my [PR](https://github.com/Seneca-CDOT/telescope/pull/1363)

[2020-11-15 19:27] #1351 closed

[2020-11-15 19:27] #1313 closed

[2020-11-15 19:28] humphd opened #1364 "Add integration test for backend starting successfully"
**What would you like to be added**:

We need an integration test that confirms that our backend app can start and function with the specified `dependencies` (i.e., without `devDependencies`).  For example, we could write a test that runs our backend in a container, installing all deps, and then tries to hit a couple of routes (even if only the healthcheck).

**Why would you like this to be added*

[2020-11-15 19:31] zg3d commented on #1257
Ill leave it for someone else as I am unsure of the interaction here.

[2020-11-15 19:32] zg3d commented on #1348
Is it ok if I take this on.

[2020-11-15 19:33] humphd opened #1365 "Avoid Redis database corruption on power failure"
When we lose power on dev or prod, we sometimes see corruption in the Redis database.  This isn't ideal, and it shouldn't be happening.

Let's figure out what we're doing wrong to cause this.  Others have reported similar situations, see:

- https://github.com/redis/redis/issues/5177
- https://groups.google.com/g/redis-db/c/Jqyk_9sHqYU?pli=1
- https://www.inovex.de/blog/redis-backup/

[2020-11-15 19:42] humphd commented on #1348
Go for it @zg3d.

We're all still learning about how Kibana works for this flow, so this will require some research and trial and error.

[2020-11-15 19:46] humphd opened #1366 "Slack integrations"
**What would you like to be added**:

Let's see what we can do to add some notifications to our #telescope Slack channel.  Maybe there are existing tools that we can leverage for this, or maybe we can build our own (possibly as a separate repo).

**Why would you like this to be added**:

We have a number of situations that would be good to know about when the occur.  For example:

- dev or prod go

[2020-11-15 20:43] Wei-J-Huang commented on #1355
I would like to try this.

[2020-11-15 20:45] #1224 closed

[2020-11-15 20:52] humphd commented on #1355
OK, @Wei-J-Huang.  What needs to happen here is a new React component should get created (`GitHubContributorCard` or something) and it should use the hook function that @TDDR built for #1232.  @TDDR can give you some tips on using it if you need help.  Then, you will add your new component to our About page.

[2020-11-15 21:17] humphd commented on #1171
The bug is still hiding in our code, but we don't trigger it.  I think the stats stuff is the problem.  I'll morph this.

[2020-11-16 00:44] #1311 closed

[2020-11-16 00:47] #1344 closed

[2020-11-16 02:03] tonyvugithub opened #1369 "[next] Port front-end tests to work with Next.js"
**What would you like to be added**:
[Port our front-end tests to use Next.js style](https://github.com/Seneca-CDOT/telescope/issues/1316)
**Why would you like this to be added**:
Next.js Migration

[2020-11-16 03:56] humphd commented on #894
This is done, and still happening in #1170.

[2020-11-16 03:56] #894 closed

[2020-11-16 03:59] humphd opened #1370 "Don't scale images up beyond their natural size"
We're applying a 100% width (and 100% max-width) to all images in blog posts.  It is being done to stop images from being too wide and causing overflow.  However, the opposite is now happening, and we're scaling small images too large:

![image-width](https://user-images.githubusercontent.com/427398/99211359-1e306d80-2796-11eb-8241-4e70d82dedc9.gif)

We shouldn't do this, since images go pixelated

[2020-11-16 04:21] lixiaoqity opened #1371 "Make the picture sticky in About page"
I think we should the pictures sticky in the About page. I will try to prompt it.

When we scroll down, half of the page will be blank now. I looks weird.

[2020-11-16 10:43] PedroFonsecaDEV commented on #1366
I would like to try it.

[2020-11-16 15:02] strawberries73 commented on #1370
@humphd  I would like to work on this issue.

[2020-11-16 16:25] humphd commented on #1341
@VietnameZe can you file that second issue with screenshot for me?

[2020-11-16 16:31] fluentinstroll commented on #1308
Hey Tony! I'd like to take a look at this if @eunbeek hasn't started already.

[2020-11-16 16:33] humphd commented on #1370
@strawberries73 it looks like @phast184 already had a PR up for this.  @phast184 please communicate better in the future, and get the issue assigned to you, so that we don't have this kind of confusion.

[2020-11-16 16:36] humphd commented on #1366
@PedroFonsecaDEV please assign yourself.

[2020-11-16 16:37] VietnameZe commented on #1341
@humphd I just checked and this issue only on "dev telescope.." site, while on the other old one (without dev.) is running okay. should I still file it?

[2020-11-16 16:49] VietnameZe opened #1375 "Search for a Post that contains "react js" triggers css changes."
Go to the search page in development https://dev.telescope.cdot.systems/search/ and try to type 'react js' -> hit search icon -> the top nav bar will be expanded ~1.5x in height.

UPDATE: Also when this big weird nav bar appear, the css 'hover' text color and main page background color both being changed.

Check out 3 screenshots below to see differences:

![](https://i.imgur.com/hiuWhwD.jpg)
![](

[2020-11-16 17:06] strawberries73 commented on #1225
@humphd I would like to work on this issue.

[2020-11-16 17:11] foxviet opened #1376 "Showing BLANK with search terms return NO result"
In search page https://telescope.cdot.systems/search/
When user type something doesn't match any result (ex: ```reactjs html java```), the result page should show something to user.

example on FB:
![](https://i.imgur.com/7tW1nvO.jpg)

[2020-11-16 17:21] VietnameZe commented on #1341
I screen-recorded it, you can see it below. This issue is hard to reproduce probly because of the browser caching. I just tried to navigate to other web tab for a while and then go back, it is easier to reproduce than staying in same tab and try different search terms.
![](https://i.imgur.com/xqAPgho.gif)

[2020-11-16 17:48] phast184 commented on #1370
@humphd thank you for your concern, sir. I would take notes the next time I want to make a PR. Better communication, better work   👍

[2020-11-16 18:12] Shinh18 commented on #1219
@humphd I think this issue is already fixed.
![Screen Shot 2020-11-16 at 1 11 51 PM](https://user-images.githubusercontent.com/48449650/99291173-6179f300-280d-11eb-967d-f6e565053b3c.png)

[2020-11-16 18:13] humphd commented on #1225
@strawberries73 go ahead and assign to yourself.

[2020-11-16 18:15] Shinh18 commented on #1188
@humphd Can I work on this issue?

[2020-11-16 18:23] humphd commented on #1188
@Shinh18 sure, all yours.  Go ahead and assign yourself.

[2020-11-16 18:24] humphd commented on #1219
cc @tonyvugithub. If it's fixed, we should close.

[2020-11-16 18:36] humphd commented on #1341
Nice!  I think I've fixed this in https://github.com/jossiey/telescope/pull/1, which is pending review for #1270.

[2020-11-16 18:41] humphd commented on #1376
This is a great idea, and we could use it for both the Posts Timeline and Search Results.

Be aware of #1328 and #1270 that are doing things related to this.  Co-ordinating everything will be key.

[2020-11-16 18:42] humphd commented on #1308
I think @eunbeek is working on #1311, so go ahead @fluentinstroll.

[2020-11-16 19:35] Shinh18 commented on #1188
@humphd It looks like the box shadow is for both post header and post content.
![Screen Shot 2020-11-16 at 2 29 41 PM](https://user-images.githubusercontent.com/48449650/99298799-3e087580-2818-11eb-8920-44754af24234.png)

[2020-11-16 20:23] jiyoungsin commented on #1356
Hey, I made the tests you requested. However, I am having a difficult time understanding why Jest cannot parse the import file. I have created a branch on my [local repository](https://github.com/jiyoungsin/telescope/tree/issue-1356) with a possible solution.
Just a reminder that this repository is failing the tests "npm test use-telescope-contributor". If you have any idea on why Its having a har

[2020-11-16 21:28] jiyoungsin commented on #1265
I have created a PR regarding this issue [here](https://github.com/Seneca-CDOT/telescope/pull/1377). If anyone could take a look at my pull request it would be greatly appreciated.

[2020-11-16 21:44] raygervais commented on #1170
All images have been added, with a new grand total of 82 unique Unsplash images! 🔭 💻 😃

[2020-11-16 21:44] #1170 closed

[2020-11-16 23:04] humphd commented on #1170
Thank you so much, @raygervais!  Love this feature, and the community involvement.

[2020-11-17 00:27] #1326 closed

[2020-11-17 00:33] tonyvugithub commented on #1354
@humphd : I was talking to @manekenpix  about this. I ran into the same problem. What I did was to have a completely fresh repo and there was no issue. There might be some conflict inside git that is hard to find out.

[2020-11-17 00:48] cindyledev commented on #1354
I hit this issue when the first Next PR was up and what worked for me was deleting the package-lock.json and npm install again

[2020-11-17 00:49] Jasper-Mui commented on #1069
I am not seeing the interaction shown in the gif on master as I see Pedro's PR has been merged. Should I be working on a different branch? Or has we decided to change how the header works?

[2020-11-17 03:08] Shinh18 commented on #1240
@tonyvugithub I'd like to work on this issue.

[2020-11-17 04:44] PedroFonsecaDEV commented on #1069
@humphd ^^

[2020-11-17 05:31] joelazwar commented on #1222
@humphd I looked into PR #1343 and saw the changes for the search page. So I made a new branch based on that and added on to it to get the paging functionality working. Once that PR gets merged I'll rebase and make a PR for this. Here's the branch for now [issue-1222](https://github.com/joelazwar/telescope/tree/issue-1222)

[2020-11-17 06:37] NathanPang001 commented on #1365
Hello, just wanted to ask if I could work on this and if there was a good way to test this without having a power failure.

[2020-11-17 10:09] zjjiang2 commented on #1059
I would like to try working on this Issue, is it still available?

[2020-11-17 13:33] #1270 closed

[2020-11-17 13:37] humphd commented on #1222
@joelazwar #1343 is merged, go ahead and rebase onto master.

[2020-11-17 13:39] humphd commented on #1365
There's no easy way to test this, but yes, you can work on it.

[2020-11-17 17:04] #1340 closed

[2020-11-17 17:45] humphd commented on #1059
We don't really have an Admin page as such, so this is going to be a bit hard to do at the moment.  I think we need to file some other issues to spec all this out, so I'm not sure this is an ideal bug to work on at the moment.

[2020-11-17 17:46] humphd commented on #1069
I think this is now fixed with the work in #1223.  I'm going to close.  Thanks for pointing this out @Jasper-Mui.

[2020-11-17 17:46] #1069 closed

[2020-11-17 17:49] humphd commented on #1240
This is going to be hard.  If you want to write a test for the backend, I'd pick something missing from the coverage report in https://github.com/Seneca-CDOT/telescope/issues/1160.

[2020-11-17 18:20] tonyvugithub opened #1386 "[next] set up Theme src/frontend/src/theme.js in Next"
**What would you like to be added**:
Theme src/frontend/src/theme.js in Next
**Why would you like this to be added**:
Port Theme file to Next

[2020-11-17 18:41] humphd commented on #1356
The code you're trying to test doesn't live in the backend, it's in the frontend, which has separate tests (cc @tonyvugithub).  See https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/test/Spinner.test.js for example.

You'll need to write a hook-based test that mocks a network response from the GitHub API returning user info in the form this hook expects to receive it.

https://blog

[2020-11-17 19:30] Jasper-Mui commented on #950
I have not been able to reproduce this bug. Can you mention when/how this occurs?

[2020-11-17 19:35] PedroFonsecaDEV commented on #1375
So until now, what I know about the bug is:
It's on the search page of DEV (where the bug is worse)and PROD.
It seems to happen only with the string "react js" in any upper and lower case.
If you type another string to search after the "react js" search, the page backs to normal.
When the bug happens, the folder maxcdn.bootstrapcdn.com pop-up on Chrome dev tools.
It only happens when searching for

[2020-11-17 19:47] humphd commented on #950
I haven't seen it happen in a long time.  It's possible it's been fixed.  Let's close until we can reproduce.

@Jasper-Mui once again, thank you for testing and triaging these issues.  It's really appreciated.

[2020-11-17 19:47] #950 closed

[2020-11-17 20:00] Jasper-Mui commented on #950
Happy to help.

[2020-11-17 20:09] Jasper-Mui commented on #1012
I would be interested in working on this. Has anything changed with this issue as it is fairly old? I think that telescope currently still has this issue as the huge DOM is generated as we continue to scroll down to load more posts.

[2020-11-17 20:12] Jasper-Mui commented on #893
Is this still relevant? The banner looks fairly good on both mobile and widescreen now.

[2020-11-17 20:18] humphd commented on #1012
This has been fixed, closing.  Do you want to chat with me on Slack to find a bug that you can work on?

[2020-11-17 20:18] #1012 closed

[2020-11-17 20:19] humphd commented on #893
@raygervais @agarcia-caicedo I'm not sure if you have concrete asks here, or if we should close this now?  I'm tempted to close it.

[2020-11-17 20:24] raygervais commented on #893
I'd be fine with closing it, this was during the design phase. Since then, banner UI has seen updates.

[2020-11-17 20:41] humphd commented on #893
Thanks @raygervais, closing.

[2020-11-17 20:41] #893 closed

[2020-11-17 21:31] Jasper-Mui commented on #1012
@humphd Sure, that would be great.

[2020-11-17 23:23] Jasper-Mui commented on #1307
I would like to work on this.

[2020-11-17 23:28] mamadou-diallo commented on #1278
I'll take care of this :) !

[2020-11-17 23:32] manekenpix commented on #1307
@Jasper-Mui all yours!

[2020-11-17 23:33] manekenpix commented on #1278
@mamadou-diallo thanks, all yours

[2020-11-17 23:38] manekenpix commented on #1089
Closed via #1380

[2020-11-17 23:38] #1089 closed

[2020-11-18 00:26] zjjiang2 commented on #966
I can try working on this, is it still available?

[2020-11-18 01:01] humphd commented on #1089
@yuanLeeMidori you need to use the format `Fixes #....` when you do your PRs in the first comment you leave so that it automatically closes the issue when you merge.  Next time, please.

[2020-11-18 01:47] tonyvugithub opened #1390 "restructure current theme.js to follow MUI theme structure."
**What would you like to be added**:
A matching theming attributes to MUI default theme structure
Change our current theming from ...
[code]
to Something similar to the following...

![image](https://user-images.githubusercontent.com/55034244/99472026-c6207500-2915-11eb-8cf8-653eaca28424.png)

Luckily it seems that we only have a conflict in text attribute, there is no `default` key in `text`
**Wh

[2020-11-18 02:27] yuanLeeMidori commented on #1089
@humphd Got it. I'll follow the convention next time. Thank you for pointing it out for me.

[2020-11-18 03:14] Jasper-Mui commented on #1307
I found the post validator in the web/validation.js.  (https://github.com/Seneca-CDOT/telescope/blob/1e92adca98fe4581724c89c1679fce4404a85867/src/backend/web/validation.js#L78)

Would it not be better if we just use the same validation for the put instead of adding another express validator check?

[2020-11-18 04:45] HenryZerocool commented on #1309
Hi, can you assign this to me please?

[2020-11-18 04:53] ceterisp opened #1393 "Eslint peer dependencies"
**What would you like to be added**:
I got npm warnings earlier when installing eslint. Apparently there are peer dependencies that are required to install. Do we need to add eslint-config-react and eslint-plugin-react as peer dependencies for eslint?

**Why would you like this to be added**:
To remove this warning when installing packages
![image](https://user-images.githubusercontent.com/3698188

[2020-11-18 06:40] NathanPang001 opened #1394 "Add more links in the about footer"
**What would you like to be added**:
I would like to add more links in the footer of the about page.

**Why would you like this to be added**:
It looks a little bare right now, there's not much there and more links would make the page look better.
![image](https://user-images.githubusercontent.com/54946176/99493812-e2d0a300-293d-11eb-830e-b720c6a45969.png)

[2020-11-18 08:03] manekenpix commented on #1394
I don't think this is a real issue. Telescope has a github repo and a slack channel, nothing else (also, Telescope doesn't have a twitter account, Telescope is part of CDOT, it's **not** CDOT).

[2020-11-18 08:03] #1394 closed

[2020-11-18 14:32] humphd commented on #1309
@HenryZerocool you can assign yourself, go for it.

[2020-11-18 14:34] humphd commented on #1307
@Jasper-Mui yes, you can use that, and write tests for your route to make sure it does what we expect for both good and bad data.

[2020-11-18 15:44] ceterisp opened #1396 "Better way to use callbacks with async"
**What happened**:
According to @humphd, at the moment, express callbacks (e.g. `app.use()`) don't work as well with `async/await`, since we need to explicitly call the arguments `next` in the `catch` block for a possible error case.

**What should have happened**:
Some sort of a wrapper that helps make async-callbacks in express middleware chain.

**How to reproduce it (as precise as possible)**:

[2020-11-18 15:53] humphd opened #1398 "Don't show clickable cursor on post titles that can't be expanded"
**What would you like to be added**:

We have a neat new feature where you can click-to-expand post headers that are really long (added in #1380).  It works great, but in the case that a post title is not long enough to need expanding, the click does nothing:

![expandable-header-bug](https://user-images.githubusercontent.com/427398/99553309-ff93c780-298b-11eb-8762-d14b69d8166e.gif)

Let's see if

[2020-11-18 21:38] VietnameZe opened #1401 "Remove box border/shadow of blog posts"
a small change but I think the site looks better without the box border/shadow. It looks just 'cleaner' to me, anyone think the same? I can see most modern sites these day they getting rid of border/shadow

Screenshots:

![](https://i.imgur.com/Na9e9Ux.jpg)
![](https://i.imgur.com/c0Yz3fe.jpg)

[2020-11-18 21:57] Shinh18 commented on #1401
This issue is similar to another issue where the post content did not seem to align with post header because of box shadow, so the property was removed. #1188

[2020-11-18 22:03] #1401 closed

[2020-11-18 22:27] VietnameZe opened #1403 "Auto hide Navbar when scrolling up (Mobile)"
I would like to optimize a bit of the site's UI (mobile version)

Screenshot:
![](https://i.imgur.com/yKHZYWE.gif)

[2020-11-18 22:36] #1276 closed

[2020-11-18 22:43] PedroFonsecaDEV commented on #1403
@VietnameZe This was already fixed. You need to download and build our latest version.

[2020-11-18 22:44] #1403 closed

[2020-11-18 22:54] #1355 closed

[2020-11-18 23:16] VietnameZe commented on #1376
Yes, go ahead!

[2020-11-18 23:30] PedroFonsecaDEV commented on #1403
We had this feature, and then we decided not to have this feature.

[2020-11-18 23:48] #1390 closed

[2020-11-19 00:28] VietnameZe opened #1406 "Overflow & Margin problem on Search page (mobile)"
This happen on the new update of dev site (mobile):
https://dev.telescope.cdot.systems/search/

Problem: overflow part appear on the right -> refresh -> overflow part gone but losing post's header margin.

UPDATE: on local, refresh doesn't get rid of the overflow part.

See screen capture below:

![](https://i.imgur.com/tBAzuhJ.gif)

[2020-11-19 00:37] VietnameZe commented on #1406
@tonyvugithub @PedroFonsecaDEV @humphd

[2020-11-19 01:10] PedroFonsecaDEV commented on #1406
@VietnameZe go for it.

[2020-11-19 01:13] #1222 closed

[2020-11-19 01:13] #1349 closed

[2020-11-19 01:14] #1329 closed

[2020-11-19 01:19] #1308 closed

[2020-11-19 01:53] #1406 closed

[2020-11-19 01:54] #1309 closed

[2020-11-19 01:55] #1369 closed

[2020-11-19 01:55] tonyvugithub commented on #1369
Closed this because it is not the right time

[2020-11-19 02:01] humphd opened #1408 "Add search result metrics info to search results"
**What would you like to be added**:

When we do a search, it would be nice to get some details about how many results matched our query, and maybe how many are currently being shown (e.g., `showing results 35 of 126`).

**Why would you like this to be added**:

We have this amazing new infinite scrolling feature for search results, but no idea how many results there are.  It would be good if we h

[2020-11-19 02:02] tonyvugithub opened #1409 "Remove AuthorResult component from frontend"
**What happened**:
Found `AuthorResult` component not being used by any other component.
**What should have happened**:
We should not have any redundant codes in our source, so `AuthorResult` should be removed.

[2020-11-19 02:05] #1327 closed

[2020-11-19 02:05] tonyvugithub commented on #1327
Closed until further need

[2020-11-19 02:51] klee214 opened #1410 "Wrong function name in `src/frontend/src/components/Posts/LoadAutoScroll.jsx`"
**What happened**:

In the /LoadAutoScroll.jsx, the function name is `LoadMoreButton` which is the previous function for rendering more posts #1229.  This should change to `LoadAutoScroll()`
[code]

**What should have happened**:

`LoadMoreButton` ---> `LoadAutoScroll`

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:
It seems like I made the mistake in my PR

[2020-11-19 03:58] humphd opened #1412 "Deal with inline images being streched (aka reduce the size of Tony)"
Inline images that are within an `<a>` are getting the 100% width treatment, and it ends up not being what the author intended:

<img width="924" alt="Screen Shot 2020-11-18 at 10 55 49 PM" src="https://user-images.githubusercontent.com/427398/99619390-54b5f480-29f1-11eb-8bdf-aa6e338e2484.png">

An `<img>` in an `<a>` is necessarily inline vs. block, so we could maybe fix our selector to not grab

[2020-11-19 03:59] humphd commented on #1412
Also, reduce the size of this guy...

<img width="869" alt="Screen Shot 2020-11-18 at 10 58 54 PM" src="https://user-images.githubusercontent.com/427398/99619553-b1191400-29f1-11eb-94ee-37a4e25a2b71.png">

[2020-11-19 05:39] manekenpix opened #1415 ""No search results" message shows up before searching anything"
**What happened**:

This is what the search page looks like before doing any search:

![Peek 2020-11-19 00-38](https://user-images.githubusercontent.com/23108901/99626102-7cac5480-29ff-11eb-9349-e8af45c21761.gif)

Also, in the image, I'm hitting `ctrl+F5` to show another issue with the position of the elements.

**How to reproduce it (as precise as possible)**:
Go to the search page on telescope

[2020-11-19 06:00] agarcia-caicedo opened #1416 "Improve Mobile Usability by adding a bottom app bar"
**What would you like to be added**:

Proposed design for a bottom app bar, on the left an user that has not logged in, and on the right an user that has:

![image](https://user-images.githubusercontent.com/49992710/99628168-9ea7d600-2a03-11eb-8a5a-330127755644.png)

**Why would you like this to be added**:
While on mobile, design should keep in mind the range of the thumb. Currently, we have a to

[2020-11-19 06:10] cindyledev commented on #1416
*drools* 🤤

[2020-11-19 06:12] PedroFonsecaDEV commented on #1416
I really like it.

[2020-11-19 13:57] joelazwar commented on #1408
I might have something.

![image](https://user-images.githubusercontent.com/43277890/99675425-c8b3d380-2aa9-11eb-954d-28b0fbd96bb9.png)

[2020-11-19 14:17] joelazwar commented on #1408
got it! it updates when you load more posts as well. Just need some help with the UI design now
![image](https://user-images.githubusercontent.com/43277890/99677517-60b2bc80-2aac-11eb-9d76-f79ea39f6d50.png)

[2020-11-19 15:50] #1279 closed

[2020-11-19 16:03] humphd commented on #1416
Yes!

Also, somewhat related on the implementation side is #801

[2020-11-19 16:06] humphd commented on #1408
Awesome!  cc @agarcia-caicedo for thoughts on UI.

[2020-11-19 17:26] VietnameZe commented on #1415
for item alignment problem, I think @humphd has fixed this in https://github.com/Seneca-CDOT/telescope/issues/1341 which is related to another commit need to be reviewed.

I simply used textAlign and it worked
![](https://i.imgur.com/2PjOxHz.jpg)

[2020-11-19 20:42] humphd opened #1417 "Add author suggestions to Elasticsearch indexer backend"
**What would you like to be added**:

If a user starts typing a name, we'd like to be able to present a list of Author completions/suggestions, similar to how Google's search suggestions work.  To do this, we need to add backend support to our [Elasticsearch indexer](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/indexer.js).

**Why would you like this to be added**:

In #1

[2020-11-19 20:57] raygervais commented on #1288
Let's close this @humphd so that others don't pick it up?

[2020-11-19 20:57] #1288 closed

[2020-11-19 21:27] jiyoungsin commented on #1356
Thank you for the insight about frontend and backend having separate tests, I was not aware of this.

I have moved all the code I wrote over to the front end tester and trying to make it work. I am trying to use
[code]
To check if they are of type Object, however, no matter what I try I always get an undefined with the error message below. Anyone have any ideas?
[code]

[2020-11-19 21:36] humphd commented on #1260
First part of this has merged for front-end, and I've filed #1417 for the backend piece.  We'll morph this into connecting the two when that's done.

[2020-11-19 21:53] foxviet opened #1420 "Site CRASH: "load more posts" in EMPTY search result"
When user try to search with keywords that returns no result, now it showing "load more posts" instead of showing something like "no result". When click on "load more posts" button, the web crash in ~20-30 secs.

![](https://i.imgur.com/oUKKK3y.jpg)

This one maybe relate to https://github.com/Seneca-CDOT/telescope/issues/1415, or sth else.

[2020-11-19 22:53] humphd commented on #1420
Nice catch @VietnameZe.  Did I see a bug somewhere else to remove the "Load More Posts" button completely? cc @PedroFonsecaDEV.

[2020-11-19 23:20] humphd opened #1422 "Unable to run frontend tests via npm run release"
Running `npm run release` triggers our tests, and they die in the frontend tests with this error:

[code]

I tried the recommended fixes above, and it doesn't work.  I'm going to disable them for now so I can release, and we'll have to turn them back on later.

[2020-11-19 23:22] humphd commented on #1422
Made two changes with this:

1. https://github.com/Seneca-CDOT/telescope/commit/af5fd8608688cb9982439a49cbc91f995aa7ba06
2. https://github.com/Seneca-CDOT/telescope/commit/592255dc15b153ea9ac79f63bd9e1c80cbf1ad28

[2020-11-19 23:28] humphd commented on #1422
cc @tonyvugithub

[2020-11-19 23:32] humphd opened #1423 "Deal with GitHub sending 3 events per release to autodeployment"
@manekenpix notes that our autodeployment server receives 3 separate events from GitHub when we do a release:

![image](https://user-images.githubusercontent.com/427398/99737018-78cb1180-2a95-11eb-8bbc-95c0b6c780e2.png)

I *think* this is probably a commit, a tag, and a release being made (three different resources), but don't know.  We should see if we can ignore the ones we don't care about, and

[2020-11-19 23:33] humphd commented on #1423
From Slack:

[2020-11-19 23:48] humphd opened #1424 "Fix font colours in GitHub Contributor component"
The new GitHub Contributor component we added to the Footer of the About page is using the wrong font colour for the main text (should be the same "white" as the rest of the footer).

<img width="403" alt="Screen Shot 2020-11-19 at 6 43 44 PM" src="https://user-images.githubusercontent.com/427398/99738093-b761cb80-2a97-11eb-96d8-e37b0eef7434.png">

[2020-11-19 23:52] humphd commented on #1420
Steps To Reproduce:

1. Go to Search
1. Select Post as the filter
1. Type in `paul sinj` (or any text that doesn't exist in a post)
1. Click the LOAD MORE POSTS button
1. Open the DevTools Network tab
1. Watch it load page after page of non-results
1. Eventually it hits page 999, and on page 1000 returns a 400 and renders null (white screen)

<img width="1195" alt="Screen Shot 2020-11-19 at 6 50 4

[2020-11-20 00:07] PedroFonsecaDEV opened #1425 "Fix the anchor tags of scroll-up/scroll-down arrows."
**What happened**:
The post title does not fit 100% into the Navbar when you click on the arrows.
**What should have happened**:
The post title should fit 100% into the Navbar when using the arrows.
**How to reproduce it (as precise as possible)**:
![2020-11-19 19 02 05](https://user-images.githubusercontent.com/60857409/99739265-5f789400-2a9a-11eb-9bbb-b0ca6e807025.gif)

**Anything else we need t

[2020-11-20 00:14] humphd opened #1426 "Scroll To Top button doesn't move to correct position"
Scroll down into the posts and then click the Scroll To Top fab we have.  It will move you up, but not quite to the right spot, so the post title is just out of alignment with the header:

<img width="1190" alt="Screen Shot 2020-11-19 at 7 13 00 PM" src="https://user-images.githubusercontent.com/427398/99739723-6227b900-2a9b-11eb-9a95-32266f5a3674.png">

[2020-11-20 00:19] humphd opened #1427 "Search text param from URL not synced to input control(s)"
We had a couple of features land in 1.4.0 that affect how search params are populated in the UI.  First, we added support for URL query params to allow sharing URLs.  If you open a URL to a search URL, it will run that search.

We also reworked the search bar to add autocomplete behaviour, which meant we changed how we pass and display props.

I wonder if we missed something in a rebase and lost t

[2020-11-20 01:58] tianlangwu commented on #1426
I can not find where is "#back-to-top-anchor" css setting. I try to add a #back-to-top-anchor-searchPage css to my [PR-1428](https://github.com/Seneca-CDOT/telescope/pull/1428) too.

[2020-11-20 02:52] jossiey commented on #1427
@MSTEWARDSON Could you check the SearchBar.js you used? Cause in [my PR](https://github.com/Seneca-CDOT/telescope/pull/1343), I already change [`const { searchText, onChangeHandler, onFilterChangeHandler, filter, onFormSubmit} = props;` ](https://github.com/MSTEWARDSON/telescope/blob/9ddb846de54f6782e1080fe81035b57d116ffd11/src/frontend/src/components/SearchBar/SearchBar.jsx#L105)  to [`const { te

[2020-11-20 02:58] tianlangwu commented on #1426
I have sent a Pull Request([PR-1429](https://github.com/Seneca-CDOT/telescope/pull/1429)) for this issue.

[2020-11-20 03:15] tianlangwu commented on #1425
I have sent a Pull Request([PR-1429](https://github.com/Seneca-CDOT/telescope/pull/1429)) for this issue.

[2020-11-20 03:45] #1425 closed

[2020-11-20 05:14] MSTEWARDSON commented on #1427
@jossiey Sorry I just saw your message now.  I messed up in that PR, so another one was made. The one that was merged had your updated version of the props. `const { text, onTextChange, onFilterChange, filter, onSubmit } = props;`

[2020-11-20 05:16] #1426 closed

[2020-11-20 05:56] PedroFonsecaDEV opened #1432 "Mouse hover on search textField makes border disappeared"
**What happened**:
@VietnameZe pointed out this issue:
Mouse hover on search textField makes border disappeared
**What should have happened**:
The border should not change.
**How to reproduce it (as precise as possible)**:
Mouse hover on search input.
**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2020-11-20 08:36] joelazwar commented on #1420
Hmm yeah we need to code something to detect when it has all the results or else itll keep fetching at the bottom of the page. Working on something for #1408 that also might fix this

[2020-11-20 14:48] humphd commented on #1427
Mistakes happen, and until we have front-end tests, it's really easy to miss little changes like this.  I missed this too in my reviews, as did the other reviewers.  This is "our" mistake as a project vs. the responsibility of one person.

Since you two understand this code better than anyone else, can one of you do a PR to correct it?

[2020-11-20 15:50] jossiey commented on #1427
@humphd Understand. I am trying to find out where the missing codes are.  @MSTEWARDSON  could you send the link of your latest PR to me? Let me figure out the problem.

[2020-11-20 16:34] jossiey commented on #1427
@MSTEWARDSON I will fix this issue. Please send me your latest PR. I will double check your code when I submit a new PR to make sure everything is correct.

[2020-11-20 17:32] MSTEWARDSON commented on #1427
@jossiey Here is the PR [Fix #1260: Added frontend support for autocomplete #1418](https://github.com/Seneca-CDOT/telescope/pull/1418)

[2020-11-20 20:28] chrispinkney opened #1436 "[next] Deal with global config of pages/styles"
**What would you like to be added**:
The config files for pages must be added to our next.js branch

**Why would you like this to be added**:
Since we're migrating from gatsby to next.js, naturally these config files need to be ported over.

See #1316

[2020-11-20 20:39] jossiey commented on #1427
I have fixed the bug. @MSTEWARDSON suggest to double check the pull request. Thank you.

[2020-11-21 00:05] #1375 closed

[2020-11-21 00:12] #1427 closed

[2020-11-21 00:13] PedroFonsecaDEV commented on #1375
This issue was solved?

[2020-11-21 00:14] VietnameZe commented on #1375
@PedroFonsecaDEV I just checked, somehow it doesn't exist anymore

[2020-11-21 01:13] c3ho opened #1438 "Port SearchPage from Gatsby to NextJS"
**What would you like to be added**:
This is an issue to port SearchPage from Gatsby to NextJS

**Why would you like this to be added**:
Part of #1316

[2020-11-21 03:22] humphd opened #1439 "Fix eslint warnings from Gatsby build"
When you run `npm run develop` you get a bunch of eslint warnings, and we should clean them all up:

[code]

[2020-11-21 19:36] jiyoungsin commented on #1416
Hey everyone, would it be cool if I gave this a shot?

In addition, can someone clarify the url for the persons Icon and what the hamburger menu icon should do?

[2020-11-21 19:38] humphd commented on #1416
We use Material-UI for all UI, and it has icons, see https://material-ui.com/components/material-icons/.

[2020-11-21 19:39] humphd commented on #1416
I've assigned this to you, @jiyoungsin, but be warned you're likely in for a lot of back and forth on reviews and styling to get this right.  If you're up for that and expecting it, you'll have no trouble.  You've been warned!

[2020-11-21 19:49] jiyoungsin commented on #1416
Yes, that sounds like a lovely way to spend my Saturday! I am still confused on what the persons Icon and what the hamburger menu icon should do... I will send up a PR in a few minutes with my current status.

[2020-11-21 19:57] jiyoungsin commented on #1416
I am also going to need some help with the login functionality. I have never hooked up the Microsoft 365 log in before. If anyone has any experience with this please help me out 😢 .

[2020-11-21 20:49] humphd commented on #1416
https://github.com/Seneca-CDOT/telescope/blob/master/docs/login.md discusses how to mock login stuff locally via docker.

[2020-11-21 21:43] jiyoungsin commented on #1416
Thank you for this link. I will finish up my lab 8 and get right on this! :)

[2020-11-21 22:24] #1424 closed

[2020-11-22 01:29] #1271 closed

[2020-11-22 23:13] humphd opened #1442 "Error: Unable to parse elastic URL "http://elasticsearch:9200" and/or PORT "9200""
I'm not able to run `docker-compose up --build` locally.  When I do, I get this error in Telescope:

[code]

It doesn't like http://elasticsearch:9200 as a URL (error code is `ERR_INVALID_URL`), which it's picking up from the `docker-compose.yml` file vs. my `.env`.

I think what's happening here is this:

[code]

If the URL includes the port, we double-include the port via this line in src/backen

[2020-11-23 00:31] manekenpix commented on #1442
This issue comes from [this commit](https://github.com/Seneca-CDOT/telescope/commit/cf8de79dd3570b9efd3db691b7896ebb8a30e262). It was possible to run Telescope using docker before this. The problem is the change in line 19:
[code]

[`docker-compose-production.yml`](https://github.com/Seneca-CDOT/telescope/blob/7531ea5bbb3eb9f40d16b744e418ead6ca9afb69/docker-compose-production.yml#L28) has the corr

[2020-11-23 00:32] humphd commented on #1442
I don't think it's that commit; it probably came from my `MOCK_ELASTIC` change.

[2020-11-23 00:33] manekenpix commented on #1442
Sorry about that, I just edited my comment.

[2020-11-23 10:56] jiyoungsin commented on #1286
I will take another look at this Tuesday!

[2020-11-23 21:28] jossiey commented on #1316
I would like to work on Header, including Desktop header and Mobile header

[2020-11-23 21:40] jossiey opened #1446 "[next] Deal with Header, Header/DesktopHeader, and Header/MobileHeader"
**What would you like to be added**:
- [ ] Header/
- [ ] Header/DesktopHeader
- [ ] Header/MobileHeader

**Why would you like this to be added**:
Next.js migration

[2020-11-23 23:33] humphd opened #1447 "Build Gatsby and Next PR Previews"
In #1444 I'm going to merge the Gatsby and Next branches together in `master` so we will have `src/frontend/gatsby` and `src/frontend/next`.  I'd like to find a way to build both frontends on every PR, while we are porting between the two.

In theory, we can do this with Vercel via [their monorepos support](https://vercel.com/blog/monorepos).  I've tried to understand how this works, but can't, so

[2020-11-23 23:51] humphd commented on #1447
A bunch of sites discuss the difficulty of doing this automatically from git, but that you can do it via GitHub Actions with multiple deploy steps, see https://carlosroso.com/how-to-deploy-a-monorepo-in-vercel/ for example.

[2020-11-23 23:57] humphd opened #1448 "Logging no longer formatted for pretty display locally"
We used to have really nice logging, pretty-printed for local debugging, but now I get raw JSON:

[code]

It might be something about how me `.env` is setup after the Kibana change?  Not sure, but I miss my pretty logs.

cc @c3ho

[2020-11-24 01:56] humphd commented on #1439
#1444 fixes some of these (errors) but there are still warnings to deal with.

[2020-11-24 02:09] humphd opened #1449 "Post header overlap (z-index) issue with hamburger menu"
Our new sticky post header is fighting with the hamburger menu, such that it overlaps Home and About:

<img width="1177" alt="Screen Shot 2020-11-23 at 9 07 31 PM" src="https://user-images.githubusercontent.com/427398/100037436-185b0d80-2dd0-11eb-8f82-ab1b09ca510d.png">

Probably a z-index issue?

[2020-11-24 02:48] tianlangwu commented on #1449
It's definitely a z-index issue.

[2020-11-24 03:37] c3ho commented on #1448
It was the pino change, I have a fix for it. Regression testing for pino and then I'll submit a PR

[2020-11-24 14:55] #1409 closed

[2020-11-24 16:50] HyperTHD commented on #1316
I shall attempt to port the banner and footer pages including the about footer page if everyone is okay with that

[2020-11-24 17:07] humphd commented on #1316
@HyperTHD perfect.  Can you file two issues, then edit the comment at the top of this issue to include your name and issue numbers?

[2020-11-24 19:35] HyperTHD opened #1454 "[Next] Port Footer to NextJS"
**What would you like to be added**:
This issue shall address the porting of the above mentioned components to Next

**Why would you like this to be added**:
This issue is a part of #1316, the transitioning of the Telescope front-end from Gatsby to Next

[2020-11-24 21:19] humphd opened #1455 "Author links can point to /"
I've seen a few posts where the author link points to `/` which takes you back to our Telescope app vs. the author's blog URL, for example:

<img width="998" alt="Screen Shot 2020-11-24 at 4 17 37 PM" src="https://user-images.githubusercontent.com/427398/100152407-a555a380-2e70-11eb-98d5-438dfd0b9215.png">

This might be intentional (i.e., our myfeeds form might have allowed it?)  Or the wiki feed

[2020-11-24 21:20] humphd commented on #966
Fixed by #1441.

[2020-11-24 21:20] #966 closed

[2020-11-24 22:10] joey2031 commented on #1316
Hi, I can I do Login/?

[2020-11-24 22:12] joey2031 opened #1456 "Port Login Component from Gatsby to NextJS"
**What would you like to be added**:
This issue shall address the porting of the above-mentioned components to Next

**Why would you like this to be added**:
This issue is a part of #1316, the transitioning of the Telescope front-end from Gatsby to Next

[2020-11-24 22:21] humphd commented on #1316
I need reviews on #1444 so I can unleash you all on this work.

[2020-11-24 23:37] #1410 closed

[2020-11-25 00:13] #1442 closed

[2020-11-25 16:56] raygervais commented on #1447
I'd be interested in experimenting with this, continuing my core contributions around the CI/CD & Docker space for 🔭.
Would I need to get Vercel access? I have Netlify access (but not connected to Telescope of course).

Given the amount of build minutes we use in a month, I imagine we'd be close to Netlify's build limit quota. https://www.netlify.com/pricing/faq/

[2020-11-25 16:58] humphd commented on #1447
@raygervais if you're open to it, that would be great.

I hope that the secondary build will be short lived while we port the frontend, and then we can turn it off.  Maybe Netlify would be ok for that period?

[2020-11-25 17:01] strawberries73 opened #1457 "LoadAutoScroll missing file extention"
**What happened**:
I noticed an error in Timeline.jsx  Missing file extention for ./LoadAutoScroll.jsx

**What should have happened**:
The path to module should have been resolved.

![image](https://user-images.githubusercontent.com/39388566/100258948-a1c82800-2f15-11eb-8a79-238bc19f4b9e.png)

[2020-11-25 17:02] raygervais commented on #1447
Makes sense, I'll reach out over Slack to discuss Netlify creds or how to access under the `Seneca-CDOT` account (or walk you through it once I have config done).

[2020-11-25 17:11] humphd commented on #1238
Fixing https://github.com/Seneca-CDOT/telescope/issues/1301 might be preferable to this, so we can get rid of the cli release process completely.

[2020-11-25 17:11] humphd commented on #1301
@yzwdroid you still working on this?

[2020-11-25 17:33] humphd commented on #1310
@sonechca can we close this?

[2020-11-25 17:33] humphd commented on #1307
@Jasper-Mui can we close this now?

[2020-11-25 17:34] Jasper-Mui commented on #1307
Yes

[2020-11-25 17:34] #1307 closed

[2020-11-25 17:39] yzwdroid commented on #1301
yeah, I plan to do this as a part of release 0.4. Sorry for the delay.

[2020-11-25 18:21] rogercyyu commented on #1316
Hi, can I do `Post/ ` & `Posts/`?

[2020-11-25 18:50] humphd commented on #1252
@jenn, working on this PR involves the following:

1. Read the docs for https://getpino.io/ which is the module we use to do our logging.
1. Try adding `pino` to your link checker so you get the idea how it works.  Once you're comfortable with the concept, move to 3.
1. Learn about the intention of different log levels in an application.  From https://dzone.com/articles/logging-levels-what-they-ar

[2020-11-25 21:18] humphd commented on #1316
@rogercyyu sure, please follow the same advice I've given above about how to assign yourself to these.

[2020-11-25 21:25] humphd opened #1458 "[next] Update 500 error UI styling for failed search"
When our Elasticsearch server fails, and we send the browser a 500, we show an error message:

<img width="1260" alt="Screen Shot 2020-11-25 at 4 22 18 PM" src="https://user-images.githubusercontent.com/427398/100282993-a18e5380-2f3a-11eb-866e-bd3b88bfabf8.png">

Let's improve the look of this to be more consistent with the app.  There is some similar discussion for "no results" happening in #1413

[2020-11-25 21:50] humphd commented on #1316
## UPDATE

In https://github.com/Seneca-CDOT/telescope/commit/6195af3fb3b9a277ca52e24a72c95e765be57791 we merged the `next` branch with `master`, giving us two frontends in the same tree:

- `src/frontend/gatsby` is our current Gatsby.js based frontend.  Please don't break it, as we are still running it on https://dev.telescope.cdot.systems (our staging box).
- `src/frontend/next` is our new Next.

[2020-11-25 22:07] sonechca commented on #1458
I would like to work on this issue. Can I join in this issue?

[2020-11-25 22:18] humphd commented on #1458
Go for it.

[2020-11-25 22:39] rogercyyu opened #1459 "[next] Port Post and Posts to Next.js"
**What would you like to be added**:
This issue shall address the porting of the mention items to Next.js
**Why would you like this to be added**:
Next.js migration

[2020-11-26 01:12] humphd opened #1460 "Some posts not loading on production"
Right now on https://telescope.cdot.systems we have a bunch of posts that won't load:

<img width="906" alt="Screen Shot 2020-11-25 at 8 09 35 PM" src="https://user-images.githubusercontent.com/427398/100296461-44a29580-2f5a-11eb-87bb-579740ccfb8d.png">

I opened dev tools and reloaded, and they seemed to come in.  I wonder if this is a cache issue with `useSWR`?

There might be nothing to debug h

[2020-11-26 01:20] #1448 closed

[2020-11-26 15:36] chrispinkney opened #1463 "[next] create About page from Gatsby version"
**What would you like to be added**:
About page, see src/frontend/src/markdown-pages/about.md

**Why would you like this to be added**:
Surely, it must be transferred.

See #1316

[2020-11-26 15:54] tonyvugithub commented on #1238
@humphd : Should I close this issue then to prevent any overlap?

[2020-11-26 15:57] humphd commented on #1238
Sure, let's do that.

[2020-11-26 15:57] #1238 closed

[2020-11-26 20:31] tianlangwu commented on #1412
Can we just hide the avatar here? I tried a few times, don't know where is the selector. Where can I modify and select the post-content? does it automatically convert from feeds?

[2020-11-26 20:33] humphd commented on #1412
All the CSS for a post's content is in https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/Post/telescope-post-content.css

[2020-11-26 21:54] tianlangwu opened #1464 "Scroll To Top button on the search page does not work in mobile version"
**What happened**:
Scroll To Top button on the search page does not work for the mobile version.
**What should have happened**:
Scroll To Top button should move the scroll to the top of the page in the mobile version.
**How to reproduce it (as precise as possible)**:
1. Open telescopes in mobile version, click on the search icon to navigate to the search page.
2. Scroll the page down until the but

[2020-11-26 22:04] manekenpix commented on #1464
I can't reproduce. Did you test `dev.telescope.cdot.systems` or `telescope.cdot.systems`?

![Peek 2020-11-26 17-05](https://user-images.githubusercontent.com/23108901/100393949-64dd5d80-3009-11eb-98ed-abb0942a384a.gif)

[2020-11-26 22:07] tianlangwu commented on #1464
did u test it on the search page or the main page? When I am testing, the search page one does not work on mobile version

[2020-11-26 22:08] manekenpix commented on #1464
Oh, the search page. Yes, I just tested in on the search page and it doesn't work on mobile version.

[2020-11-26 22:25] tianlangwu opened #1465 "exclamatory mark on search bar doesn't show instruction in mobile version"
**What happened**:
Click on the exclamatory mark of the search bar on mobile version does not show any instruction on how to use search.
**What should have happened**:
It should show the instruction on how to use search as on desktop version.
![1606427759(1)](https://user-images.githubusercontent.com/60892464/100394529-6c056b00-300b-11eb-85f8-3cb2d8958b5b.jpg)

**How to reproduce it (as precise as

[2020-11-27 01:04] #1465 closed

[2020-11-27 01:06] tianlangwu commented on #1465
It turns out that the instruction will appear if keep press on the screen.

[2020-11-27 14:52] hyunjiLeeTech commented on #1316
Hi, I can I take Error page part for it?

[2020-11-27 14:53] humphd commented on #1316
@hyunjiLeeTech sure, follow advice above for signing up.  NOTE: the error page stuff is partly done in the backend in Express and partly in frontend.  @raygervais has worked on this, and can likely provide details when you get further along.

[2020-11-27 15:00] hyunjiLeeTech opened #1468 "Port Error page from GatsbyJS to Next.js"
**What would you like to be added**:
This is an issue to port Error page from Gatsby to NextJS

**Why would you like this to be added**:
Part of #1316, transitioning of the Telescope front-end from Gatsby to Next

[2020-11-27 15:42] raygervais commented on #1468
If you have any questions, feel free to reach out @hyunjiLeeTech. I've assigned you to this so it's easier to track as well.

[2020-11-27 21:21] #1464 closed

[2020-11-27 21:45] #1432 closed

[2020-11-28 16:19] tianlangwu opened #1469 "[next] Port ScrollAction from Gatsby to NextJS"
**What would you like to be added**:
This is an issue to port ScrollToTop from Gatsby to NextJS
**Why would you like this to be added**:
Part of #1316, Next.js migration.

[2020-11-29 00:20] #1449 closed

[2020-11-29 07:17] jiyoungsin commented on #1416
This is where I am currently sitting at. I log into the SAML page and it directs me to localhost:3000. Nothing appears on localhost:3000, however, If I look at localhost:8000/user/info I can see the user I have logged into. Could you point me into the right direction to confirm that it is working locally?

![issue1416](https://user-images.githubusercontent.com/44411777/100535651-d32c4680-31e8-11eb

[2020-11-29 13:21] humphd commented on #1416
Are you running the login container via docker-compose?

[2020-11-29 14:48] MSTEWARDSON commented on #1316
Can I take on the SearchBar conversion? If I'm reading this write I need to open an issue for it, then edit this page to mark I'm working on it correct?

[2020-11-29 18:24] MSTEWARDSON opened #1470 "[next] Port SearchBar from Gatsby to NextJS"
**What would you like to be added**:
This is an issue to port SearchBar from Gatsby to Next.js

**Why would you like this to be added**:
Part of [#1316](https://github.com/Seneca-CDOT/telescope/issues/1316), Next.js migration project.

[2020-11-29 20:52] jiyoungsin commented on #1416
![Screen Shot 2020-11-29 at 3 50 23 PM](https://user-images.githubusercontent.com/44411777/100553221-9731c980-325a-11eb-8532-6d0146a3ea0e.png)
 This is how my docker is running. for some reason my telescope_telescope_1 never works. It seems like the npm start is equivalent, however, this is an assumption. I am not sure what exactly is contributing to telescope_telescope_1 not being able to communi

[2020-11-30 15:23] humphd commented on #1416
What error is the `telescope_telescope_1` container giving when this happens (see the logs).

[2020-11-30 22:10] PedroFonsecaDEV opened #1471 "Remove the string "Enter fullscreen mode Exit fullscreen mode" on posts."
**What happened**:
I've seen this text on Telescope's posts: "Enter fullscreen mode Exit fullscreen mode," but it doesn't appear on the original posts sites.
It seems relateded with``` <pre><code></pre>``` tags.

**How to reproduce it (as precise as possible)**:
You can check on this post: [post](https://telescope.cdot.systems/search?filter=post&text=Help%2C%20there%27s%20a%20snake%20in%20my%20pip

[2020-11-30 22:12] #1471 closed

[2020-11-30 23:42] jiyoungsin commented on #1365
I am having difficulties running the "docker-compose up --build redis elasticsearch login" command. It gives me this error log ( screenshot posted below ). However, If i delete the redis-data directory I am able to launch this repository.

![Screen Shot 2020-11-30 at 6 38 14 PM](https://user-images.githubusercontent.com/44411777/100678685-b8b6b200-333b-11eb-9a64-70a76fd2f9d9.png)

[2020-12-01 02:57] jiyoungsin commented on #1416
It seems like I have figured it out! Here is a video of me signing in on this gif!

https://gph.is/g/4LjQrzd

[2020-12-02 14:15] humphd opened #1476 "Don't overlap serach input text with input search adornment"
In #1474 we are moving the search button down inside the search input.  If search text is long, it will overlap the text, and cover it.  Probably we should add internal padding to the right side to stop the text from going beyond the area covered by the adornment.

<img width="625" alt="Screen Shot 2020-12-02 at 9 12 38 AM" src="https://user-images.githubusercontent.com/427398/100883981-f2440600-3

[2020-12-02 14:16] #1225 closed

[2020-12-03 12:05] joelazwar opened #1478 "[Next] Port AuthorResults Component to Next.js"
**What would you like to be added**:
Porting the AuthorResults component from Gatsby to Next
**Why would you like this to be added**:
as part of the front end Next.js migration task in #1316

[2020-12-03 15:35] #1436 closed

[2020-12-03 15:38] c3ho commented on #1478
Im pretty sure this component is not used anymore in the master branch

[2020-12-03 19:04] c3ho opened #1479 "Port Spinner from Gatsby to Next.js(TS)"
What would you like to be added:
This is an issue to port Spinner from Gatsby to NextJS

Why would you like this to be added:
Part of #1316

[2020-12-03 19:05] c3ho opened #1480 "Port BackToTopButtom from Gatsby to Next.js(TS)"
What would you like to be added:
This is an issue to port BackToTopButton from Gatsby to NextJS

Why would you like this to be added:
Part of #1316

[2020-12-03 20:56] chrispinkney opened #1481 "[next] Add LogoIcon"
**What would you like to be added**:
LogoIcon!

**When do we want it?**:
Now!

**Why would you like this to be added**:
See #1316

[2020-12-03 22:00] chrispinkney commented on #1481
https://nextjs.org/docs/basic-features/image-optimization 😮

[2020-12-04 01:16] joelazwar commented on #1478
oh my bad youre right, i completely forgot we dropped this component for searching for author posts. I'll add a note on #1316 about this unused component

[2020-12-04 01:16] #1478 closed

[2020-12-04 01:34] joelazwar commented on #1480
If you haven't already, I could help out with porting this if you'd like.

[2020-12-04 02:00] c3ho commented on #1480
No worries, I assigned it to you.

[2020-12-04 02:22] tonyvugithub opened #1484 "[next] Porting Search page component, see src/frontend/src/pages/search.js from Gatsby to Next"
**What would you like to be added**:
SearchPage rewritten in TS
**Why would you like this to be added**:
We want to port this page to Next using TS

[2020-12-04 15:37] raygervais commented on #1468
So I don't believe any of the front end logic utilizes Gatsby aside from the router. You should be good to port to NextJS and utilize NextJS Router to access the page. Unsure what's _partly done_ :confused: @hyunjiLeeTech

[2020-12-05 19:25] 1jz opened #1488 "XSS Vulnerability - Content Within Inline <code> Element is Run"
**What happened**:
I came across this when attempting to view a piece of regex I posted on my blog and the following appeared on telescope:

regex: `(<br>(\s?)+?){2,}`

![](https://i.imgur.com/SZRM24l.png)

**What should have happened**:
The HTML displayed should be
[code]

**How to reproduce it**:
When using backticks on some blogging platforms the text between the backticks are put into a \<code

[2020-12-06 19:38] tianlangwu commented on #1480
isn't this part of #1469? I thought ScrollToTop contains both BackToTopButton and ScrollAction.

[2020-12-06 19:50] tianlangwu commented on #1480
I guess I can just do Scroll Action, then you can take BackToTopButton @joelazwar

[2020-12-07 01:15] PedroFonsecaDEV opened #1490 "About Page - Fix content alignment."
**What happened**:
<img width="396" alt="Screen Shot 2020-12-06 at 7 54 04 PM" src="https://user-images.githubusercontent.com/60857409/101299137-0aa97d00-37ff-11eb-97dd-aeea782cc90b.png">
<img width="424" alt="Screen Shot 2020-12-06 at 7 53 36 PM" src="https://user-images.githubusercontent.com/60857409/101299139-0aa97d00-37ff-11eb-99bf-d98bd1d955c4.png">

**What should have happened**:
The content

[2020-12-07 01:25] tonyvugithub opened #1491 "[next] Port MyFeedsPage, see src/frontend/src/pages/myfeeds.js to NextJS"
**What would you like to be added**:
Port MyFeedsPage to TS and Next
**Why would you like this to be added**:
Porting

[2020-12-07 01:28] tonyvugithub opened #1492 "[next] Port Dynamic image from Unsplash Collection, see src/frontend/gatsby-node.js to NextJS"
**What would you like to be added**:
Port Dynamic image from Unsplash Collection
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:31] tonyvugithub opened #1493 "[next] Deal with global config of pages/styles, see src/frontend/src/pages/PageBase.js, src/frontend/src/styles/globals.css, src/frontend/src/templates/template.js"
**What would you like to be added**:
Porting global config to Next
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:32] tonyvugithub opened #1494 "[next] Port AdminButtons/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/AdminButtons
**What would you like to be added**:
Port all components inside AdminButtons/ to NextJS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:33] tonyvugithub opened #1495 "[next] Port DynamicImage/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/DynamicImage
**What would you like to be added**:
Port all components in DynamicBackgroundContainer/ to NextJS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:34] tonyvugithub opened #1496 "[next] Port GitHubContributorCard/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/GitHubContributorCard
**What would you like to be added**:
Port all components in GitHubContributorCard/ to NextJS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:35] tonyvugithub opened #1497 "[next] Port MyFeedsPage/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/MyFeedsPage
**What would you like to be added**:
Port all components in MyFeedsPage/ to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:36] tonyvugithub opened #1498 "[next] Port SEO.js to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/SEO.js
**What would you like to be added**:
Port SEO.js to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:37] tonyvugithub opened #1499 "[next] Port SearchHelp/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/SearchHelp
**What would you like to be added**:
Port all components in SearchHelp/ to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:38] tonyvugithub opened #1500 "[next] Port SearchInput/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/SearchInput
**What would you like to be added**:
Port all components in SearchInput/ to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:39] tonyvugithub opened #1501 "[next] Port contexts/User/ to NextJS"
**What would you like to be added**:
Port all components in User/ to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2020-12-07 01:40] tonyvugithub opened #1502 "[next] Port hooks/ to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/hooks
**What would you like to be added**:
Port all hooks in hooks/ to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2020-12-07 03:25] joelazwar commented on #1480
@tianlangwu I think the task list on #1469 is a little outdated, some components are missing/does not exist anymore. It should definitely be updated, but sure I can take the backtotopbutton component for now

[2020-12-07 20:30] humphd commented on #1488
cc @smilegodly

[2020-12-09 02:21] hyunjiLeeTech commented on #1468
@raygervais Hi, I have a question about this task. When I researched how to create Nextjs error page, it said I need to create _error.js file. I've almost done to display status code and error message but EsLint test is not passed my work because it has the rule that it doesn't allow to create the file extension not using ts or tsx. Can you please tell me whether I need to find another way to use

[2020-12-09 02:22] raygervais commented on #1468
Sure let's have a look, do you have a PR open? @hyunjiLeeTech

[2020-12-09 02:33] raygervais commented on #1468
I see your PR, according to issues such as https://github.com/vercel/next.js/issues/12127 and https://github.com/vercel/next.js/issues/12256 this should be possible. What error are you encountering?

[2020-12-09 02:39] hyunjiLeeTech commented on #1468
I've seen the error 'JSX not allowed in files with extension '.js'' from EsLint test.

[2020-12-09 02:43] hyunjiLeeTech commented on #1468
Also,
'prop-types' shold be listed in the project's dependencies. Run 'npm i -S prop-types' to add it import/no-extraneous-dependencies
message when I run 'npm test'. I've pushed my commits to resolve previous errors from lint.

[2020-12-09 03:16] hyunjiLeeTech commented on #1316
Hi, if I would like to take AdminButton, how can I check whether my work is properly working or not? I ask this question because when I see the Gatsby code for AdminButton, it seems that is checks whether the user is admin or not. Please tell me if it would be better to take another task.

[2020-12-09 03:19] hyunjiLeeTech opened #1507 "Port SearchHelp from Gatsby to Nextjs"
What would you like to be added:
This is an issue to port SearchHelp from Gatsby to NextJS

Why would you like this to be added:
Part of #1316, transitioning of the Telescope front-end from Gatsby to Next

[2020-12-09 04:53] hyunjiLeeTech opened #1508 "Port SEO from Gatsby to Nextjs"
What would you like to be added:
This is an issue to port SEO from Gatsby to NextJS

Why would you like this to be added:
Part of #1316, transitioning of the Telescope front-end from Gatsby to Next

[2020-12-09 19:43] MLJBrackett commented on #1476
Hey @humphd I'd like to give they a try, please assign me and I'll get to work.

[2020-12-09 20:15] hyunjiLeeTech commented on #1468
The second issue is resolved :)

[2020-12-09 23:55] sonechca commented on #1458
I update PR, Can you check my PR? https://github.com/Seneca-CDOT/telescope/pull/1512
Thank you :)

[2020-12-10 06:51] joelazwar commented on #1499
looks like @hyunjiLeeTech has opened another of the same issue (#1507) and taken it. I'll close this to avoid any confusion.

[2020-12-10 06:51] #1499 closed

[2020-12-10 06:52] joelazwar commented on #1498
Duplicate again #1508

[2020-12-10 06:52] #1498 closed

[2020-12-10 06:53] joelazwar commented on #1496
I'll take this one

[2020-12-10 18:18] humphd opened #1514 "Feeds with summary missing content"
I notice that @badalsarkar's blog posts only show the first paragraph:

<img width="811" alt="Screen Shot 2020-12-10 at 1 16 47 PM" src="https://user-images.githubusercontent.com/427398/101813024-31f79700-3aea-11eb-8080-b7ed8a2235cf.png">

[The actual post is much longer](https://badalsarkar.ca/blog-opensource/opensource/my-open-source-journey/) and I notice that the [blog feed](https://badalsarka

[2020-12-10 18:48] humphd commented on #1514
This is an Atom feed with both `content` and `summary` (in that order) and it looks like the `summary` is being used for `description`, despite there being `content` too.  Some background https://github.com/danmactough/node-feedparser/issues/156.

[2020-12-10 20:56] sonechca commented on #1495
I want to take this issue. Can I join this one?
Thank you :)

[2020-12-11 00:02] sonechca commented on #1494
Hi Tony,

I ported the admin button to Next.Js and added PR
Can you check my [PR](https://github.com/Seneca-CDOT/telescope/pull/1515)? let me know if I need to fix more
Thank you :)

[2020-12-11 00:14] tonyvugithub commented on #1494
I don't think they plan on accepting any PR now. They want to have some discussions before doing so I think. Someone like @manekenpix or @humphd might be able to answer you better

[2020-12-11 04:42] sonechca commented on #1494
Ok  I am gonna ask them. Thank you, Tony :)

[2020-12-11 05:15] HenryZerocool commented on #1501
Hi, I don't see User components in gatsby, frontend.
Are you sure it's there?

[2020-12-11 12:32] tonyvugithub commented on #1501
@HenryZerocool it is not a component. It is in the contexts folder. More like contexts.

[2020-12-12 21:07] #1447 closed

[2020-12-13 10:37] joelazwar commented on #1492
I'm currently working on porting the DynamicImage component, is this file a dependency for it? if it is how should I go about migrating this to next?

[2020-12-13 15:59] humphd commented on #1336
We still have double-reporting via lint and build actions:

<img width="1215" alt="Screen Shot 2020-12-13 at 10 58 43 AM" src="https://user-images.githubusercontent.com/427398/102017022-3dd59a00-3d32-11eb-8365-a436ea514a02.png">

[2020-12-22 01:16] humphd opened #1532 "<Image> text being converted to <img> tag"
<img width="819" alt="Screen Shot 2020-12-21 at 8 15 08 PM" src="https://user-images.githubusercontent.com/427398/102837179-4f214500-43c9-11eb-88f9-1741743af90c.png">

The original from https://blog.humphd.org/snowyowls-ca/ has this:

[code]

Maybe because it isn't wrapped in a `<pre>`?

[2021-01-06 22:27] shenqu1 commented on #1476
Hi @humphd, how is this issue going? Can I work on it?

[2021-01-06 22:31] humphd commented on #1476
@shenqu1 go for it, that would be great.

[2021-01-07 02:15] #1476 closed

[2021-01-14 01:41] birtony opened #1534 "Node Version 15+ Does Not Install Dependecies Properly"
**What happened**: I have tried to set up the project to run on my local machine. I followed [the environment setup documentation ](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md)and on [the final step](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md#finally) I could not start the backend. `npm start` returned an error:
![image](https:

[2021-01-15 12:18] smilegodly commented on #1296
I'm picking this issue back up again.

[2021-01-15 19:38] cindyledev commented on #1534
If Telescope doesn't work with Node 15, as a temporary bandaid, we need to mention that Telescope only supports Node 14 in the [environment docs](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md) to prevent new contributors from getting Node 15 and have Telescope not work.

[2021-01-15 22:41] chrispinkney commented on #1534
I can confirm that it doesn't install or run in version 15.

[2021-01-15 23:40] birtony opened #1535 "Project documentation is missing initial project scribble"
**What would you like to be added**:
@humphd suggested we should add the initial project diagram scribble to the documentation:
![initialProjectDiagram](https://user-images.githubusercontent.com/33902374/104788757-09a22e80-5761-11eb-9347-406ce5583030.jpeg)

**Why would you like this to be added**:
It would be nice to have this initial drawings to appear in docs

[2021-01-16 02:48] HyperTHD commented on #1454
As per the [list here](https://github.com/Seneca-CDOT/telescope/wiki/Front-end-Port:-List-of-Components), I got the unlucky route of having 2 components being related to one another. I'll still be dealing with this issue, but will have to separate the footer component from the other two until the necessary components for the aboutFooter and Banner are merged.

[2021-01-16 06:46] manekenpix commented on #1193
The PR #1368 was a first attempt to work on this issue when Gatsby was the main front-end. The code in that PR can be used as template for a new attempt once the Gatsby-NextJS port is completed.

[2021-01-16 23:49] tonyvugithub opened #1538 "[next] Port SnackBar to NextJS"
https://github.com/Seneca-CDOT/telescope/tree/master/src/frontend/gatsby/src/components/SnackBar
**What would you like to be added**:
Port SnackBar component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-16 23:51] tonyvugithub opened #1539 "[next] Port DeleteFeedDialogButton to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/MyFeedsPage/DeleteFeedDialogButton.jsx
**What would you like to be added**:
Port DeleteFeedDialogButton component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-16 23:54] tonyvugithub opened #1540 "[next] Port LoadAutoScroll component to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/Posts/LoadAutoScroll.jsx
**What would you like to be added**:
Port LoadAutoScroll component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-16 23:57] tonyvugithub opened #1541 "[next] Port AuthorSearchInput to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/SearchInput/AuthorSearchInput.jsx
**What would you like to be added**:
Port AuthorSearchInput component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-16 23:59] tonyvugithub opened #1542 "[next] Port PostSearchInput to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/SearchInput/PostSearchInput.jsx
**What would you like to be added**:
Port PostSearchInput component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-17 00:03] tonyvugithub opened #1543 "[next] Port Timeline to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/Posts/Timeline.jsx
**What would you like to be added**:
Port Timeline component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-17 00:04] tonyvugithub opened #1544 "[next] Port ExistingFeedList to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/MyFeedsPage/ExistingFeedList.jsx
**What would you like to be added**:
Port ExistingFeedList component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-17 00:05] tonyvugithub opened #1545 "[next] Port SearchInput to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/SearchInput/SearchInput.jsx
**What would you like to be added**:
Port SearchInput component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-17 00:06] tonyvugithub opened #1546 "[next] Port SearchResults to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/SearchPage/SearchResults.jsx
**What would you like to be added**:
Port SearchResults component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-17 00:10] tonyvugithub opened #1547 "[next] Port HelpPopoverButton component to NextJS"
https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/components/MyFeedsPage/HelpPopoverButton.jsx
**What would you like to be added**:
Port HelpPopoverButton component to NextJS using TS
**Why would you like this to be added**:
Porting reason

[2021-01-17 01:44] #1535 closed

[2021-01-17 09:14] PedroFonsecaDEV opened #1548 "[next] Port global config of 1)pages/styles 2)src/frontend/src/pages/PageBase.js 3)src/frontend/src/styles/globals.css 4)styles/telescope-post-content.css 5)highlight.js/styles/github.css"
**What would you like to be added**:
[next] Deal with global config of:
|  PR |  MERGED	|  ITEM  	|
|---	|---	|---	|
|   info1	| info1 	|   ~~1.src/frontend/src/pages/PageBase.js~~	|
|   <ul><li>[x] </li></ul>	|   <ul><li>[x] </li></ul>	|   2.`src/frontend/src/styles/globals.css`	|
|   info2	|  info2	|   ~~3.`src/frontend/src/templates/template.js`~~	|
|   <ul><li>[x] </li></ul>   |   <ul><li>[x]

[2021-01-17 13:53] tonyvugithub opened #1549 "[next] - Modify _app and _document files to ensure class names matching in both client and server side"
**What would you like to be added**:
Modification of _app and _document.

**Why would you like this to be added**:
For class names generated at run time like MUI's one, NextJS renders different class names on server vs client and hence making the style inconsistent and not displayed as expected.

[2021-01-17 15:16] #1493 closed

[2021-01-17 15:16] tonyvugithub commented on #1493
@PedroFonsecaDEV open a similar issue at #1548

[2021-01-17 17:26] humphd commented on #1548
Per discussion in https://github.com/Seneca-CDOT/telescope/pull/1504#pullrequestreview-546736818, we also need to include `styles/telescope-post-content.css` globally for next.js.

[2021-01-17 21:16] #1549 closed

[2021-01-18 15:38] humphd opened #1553 "Remove all uses of React.FC in our TypeScript code"
**What happened**:

We have a mix of different approaches to defining our React components in the next.js TypeScript.  In some places we use `React.FC` for typing, and in others we don't.

Let's remove all instances of `React.FC`.

**What should have happened**:

According to https://github.com/facebook/create-react-app/pull/8177, there are some issues with always using `FC`, and we'd probably be

[2021-01-18 15:45] humphd opened #1554 "Directly export all components in next.js code as Component.tsx files"
Our current Gastby code uses a component file layout like this:

[code]

I want to move toward this:

[code]

Some history and thoughts on the various approaches to this:

- JSX (and for TypeScript, TSX) is a non-standard extension of JavaScript
- Some people, especially outside the React ecosystem, don't like using `.js` for a file that isn't standard JavaScript (or `.ts` for TypeScript).
- Trans

[2021-01-18 18:44] #1481 closed

[2021-01-18 19:02] #1538 closed

[2021-01-18 20:30] tonyvugithub commented on #1554
@humphd : Should we just remove the index.ts and keep the folder though? Some of the components with multiple dependent will require the folder to have all relating things in one place.

[2021-01-18 22:03] #1469 closed

[2021-01-18 22:05] humphd commented on #1554
If you are importing `Foo/index` or `Foo` both ways will work.

I don't think a folder is needed if you don't have any secondary files.  I would use a folder where you have a set of files, and an `index.ts` help manage the default entry point.

[2021-01-18 23:59] #1454 closed

[2021-01-19 01:25] HyperTHD commented on #1542
I'd like to handle the porting of this component if that's alright

[2021-01-19 01:36] #1502 closed

[2021-01-19 02:16] humphd opened #1557 "Add guide for working with TS, MUI, next.js"
We're using TypeScript with next.js, React, and Material UI, and there are lots of quirks and things to know.

I've been using these docs and examples a lot:

- https://github.com/typescript-cheatsheets/react#reacttypescript-cheatsheets
- https://material-ui.com/guides/typescript/
- https://github.com/vercel/next.js/tree/canary/examples/with-typescript
- https://github.com/vercel/next.js/tree/cana

[2021-01-19 02:47] #1496 closed

[2021-01-19 03:52] #1542 closed

[2021-01-19 03:59] HyperTHD opened #1560 "[next] Porting AboutFooter to NextJS"
**What would you like to be added**:
The AboutFooter component ported over to NextJS using TS

**Why would you like this to be added**:
Part of the porting of the Telescope Front-end. Originally issued as part of #1454 but was split away since there were some components missing for the rendering of the AboutFooter component. Those were LogoIcon (now Logo), and GitHubContributorCard. Both are now m

[2021-01-19 17:02] #1560 closed

[2021-01-19 17:40] chrispinkney commented on #1557
Good comment from Abdul [here](https://github.com/Seneca-CDOT/telescope/pull/1558#pullrequestreview-570874083):

[2021-01-20 04:44] #1358 closed

[2021-01-20 06:55] PedroFonsecaDEV commented on #1548
@tonyvugithub
please check this issue description regarding your work on `SEO`.

[2021-01-20 07:07] PedroFonsecaDEV commented on #1548
@humphd
Could you please review the description of the issue?

[2021-01-20 14:00] #1501 closed

[2021-01-20 15:16] nilan01 commented on #1547
Hi there, I would like to take this issue on.

[2021-01-20 15:18] HyperTHD opened #1570 "[next] Adding Feed types to interfaces/index.ts"
**What would you like to be added**:
I'd like to add the necessary types for all the related myFeeds components

**Why would you like this to be added**:
They'll be necessary when porting over the aforementioned components over to next and ts. This should ideally pave the way to get DeleteFeedDialogButton component done so we can continue onwards

[2021-01-20 15:22] #1479 closed

[2021-01-20 16:55] humphd commented on #1547
Go for it @nilan01

[2021-01-20 17:01] #1570 closed

[2021-01-20 17:15] chrispinkney opened #1572 "Fix Material-UI Icons not rendering"
**What happened**:
See PR #1564:

**What should have happened**:
The icon from the PR (i.e. `BackToTopButton` component) should have been rendered. The code looks fine to me, so I suspect the issue might be deeper than expected.

This needs fixing before we launch next entirely.

[2021-01-20 17:15] #1480 closed

[2021-01-20 17:37] cindyledev commented on #1572
Regarding the BackToTopButton https://github.com/Seneca-CDOT/telescope/pull/1564#issuecomment-763814176

[2021-01-20 17:38] #1456 closed

[2021-01-20 18:09] #1386 closed

[2021-01-20 19:31] #1227 closed

[2021-01-20 20:07] manekenpix opened #1576 "Use an env var to determine which front-end gets served"
**What would you like to be added**:

We need a way to specify which front-end gets served by telescope.
Currently, the path to the folder where the front-end build lives is [hard-coded](https://github.com/Seneca-CDOT/telescope/blob/6cfd7dfce743ed80bf38a7364c5a5511e4b50001/src/backend/web/routes/index.js#L50), and it's the `Gatsby` front-end.
We could have a variable in our `env.example` (and even

[2021-01-20 20:19] nilan01 commented on #1545
Hi there! Would be happy to take this on once `AuthorSearchInput` is complete.

[2021-01-20 21:04] #1547 closed

[2021-01-20 21:10] chrispinkney commented on #1545
Closed by #1575

[2021-01-21 01:38] chrispinkney commented on #1545
@nilan01

Before starting this please see `AuthorSearchInput.tsx` and `PostSearchInput.tsx`.

Both search bars are currently styled locally inside the component, however the actual `SearchInput` component styles both components and passes in a themed style prop that both `SearchInput` components will need to apply.

See the Gatsby version of `SearchInput` and `AuthorSearchInput.tsx` and `PostSearc

[2021-01-21 01:47] nilan01 commented on #1545
Will do, thanks @chrispinkney !

[2021-01-21 03:02] #1507 closed

[2021-01-21 03:08] #1541 closed

[2021-01-21 03:09] humphd commented on #1576
Per https://github.com/Seneca-CDOT/telescope/pull/1487#discussion_r561535188, the path for next's build is `out` vs. `.next`

[2021-01-21 10:57] PedroFonsecaDEV commented on #1545
We need to clean our Issues because we have dups.
I just made this PR (it was an old PR), but the issue was #1500 a different one.

The PR: https://github.com/Seneca-CDOT/telescope/pull/1580

<img width="964" alt="Screen Shot 2021-01-21 at 5 53 22 AM" src="https://user-images.githubusercontent.com/60857409/105341750-77a98400-5bad-11eb-87cd-c0b0ca694d6f.png">

[2021-01-21 10:57] #1545 closed

[2021-01-21 13:54] tonyvugithub commented on #1494
@sonechca : is there any update on this? We are waiting on this as it is a dependent component for some others.

[2021-01-21 14:05] HyperTHD commented on #1539
Taking this one over

[2021-01-21 14:55] chrispinkney commented on #1545
@PedroFonsecaDEV I don't see anyone assigned to the previous issue (#1500) until you assigned yourself 6 hours ago while Nilan expressed interest in doing this yesterday.

[2021-01-21 15:04] nilan01 commented on #1545
Sorry for the mix-up this was the Searchinput that was linked on the [wiki page](https://github.com/Seneca-CDOT/telescope/wiki/Front-end-Port:-List-of-Components).

[2021-01-21 15:33] c3ho commented on #1545
Ah this was my issue, the previous merging of my other or closed this issue I think

[2021-01-21 20:50] Metropass commented on #1576
I'll try to make a mockup, should be done within the next few days.
I was thinking we can use something that is of type `enum` for this?

[2021-01-21 21:51] PedroFonsecaDEV commented on #1545
I was checking for abandoned PRs: [PR - 1520]( https://github.com/Seneca-CDOT/telescope/pull/1520)
There weren’t any comments about someone working on the PR, and we ship tomorrow. So I jumped in.
I noticed the dup after I sent the PR when I checked the milestone progress, and I saw this issue as part of the milestone.

[2021-01-21 22:47] manekenpix commented on #1576
@Metropass I think we could use our `.env` files to decide which front-end gets served. This way, we can select the front-end we want to build without having to make changes to the code (we would have to make a PR every time we want a different front-end served).

Feel free to assign the issue to yourself!

[2021-01-22 00:31] Metropass commented on #1576
Will do!

[2021-01-22 05:03] PedroFonsecaDEV opened #1584 "[next] Create a context to Search components."
**What would you like to be added**:
We are drilling props on our SeachPage components, let's create a context to solve this.
**Why would you like this to be added**:
I don't like to drill more than one level.

[2021-01-22 05:38] manekenpix opened #1586 "[next] Both next's production server and telescope's back-end use port 3000"
Next's production server runs on port 3000, like telescope's backend.
This makes it impossible to run both at the same time.

We could change the production server's port in the `package.json` located in the `next` folder:

[code]

[2021-01-22 16:16] chrispinkney commented on #1576
@Metropass See [this](https://github.com/Seneca-CDOT/telescope/pull/1487/files#diff-c3877fbd3e2c4a17fe86388d235278d2eb5c5c367d71c9a147463d2c2b7c6706R30), until this is merged I think we're using 'build' as the output directory from `npm run build:next`, so if you aren't getting the `/out` folder you know why, just make a change locally on your end until my PR is merged.

[2021-01-22 16:30] #1500 closed

[2021-01-22 16:57] #1539 closed

[2021-01-22 17:49] #1470 closed

[2021-01-22 18:18] humphd opened #1588 "Update highlight.js"
I notice a warning in our build for highlight.js:

[code]

[2021-01-22 18:27] humphd opened #1589 "telescopeUrl env variable not set properly in Netlify builds"
When I load https://deploy-preview-1504--telescope-next.netlify.app/ for #1504, it looks like `telescopeUrl` is undefined on Netlify, it is loading this URL:

https://deploy-preview-1504--telescope-next.netlify.app/undefined/posts?page=1

We need to get the env to properly pass this up from the build into the frontend.

[2021-01-22 18:28] #1459 closed

[2021-01-22 18:51] humphd commented on #1589
[code]

[2021-01-22 19:37] humphd opened #1590 "[Regression] npm run build fails with MDX about page in next.js"
After we landed #1463 we noticed that the `npm run build` command no longer completes, and seems to be related to the introduction of the MDX loader?

For now, we'll revert.

Here's the STR and log:

[code]

[2021-01-22 19:45] humphd commented on #1463
Filed #1590 on the failing build case we found in Netlify and locally.  Reverted in https://github.com/Seneca-CDOT/telescope/commit/0a23cf5774f6c970125f46ebbec0c5b475ba1c06

[2021-01-22 19:52] humphd commented on #290
Morph this into a bug about doing the same thing in next.js.  cc @chrispinkney,  related to #1463 for followup.

[2021-01-22 20:22] #1589 closed

[2021-01-22 20:29] humphd opened #1592 "Update deps from 1.5 release"
[code]

[2021-01-22 20:30] humphd commented on #1592
Per @birtony, we should also look into using some automated tooling like Dependabot.

[2021-01-22 20:49] Metropass opened #1593 "Add ./out into prettier ignore"
**What would you like to be added**:
Add .out into `.prettierignore`
**Why would you like this to be added**:
Currently, ./out isn't configured in `.prettierignore` and is giving out a bunch of unnecessary warnings

[2021-01-22 23:35] humphd opened #1595 "[next] Infinite Scrolling of Posts is broken"
**What happened**:

In #1504 we landed the new Posts, Post, and Timeline components for next.js.  The first page loads OK, but when you scroll down, the infinite scrolling isn't working correctly.  It looks like there is a ton of network activity (i.e., it's loading pages like it should) but it's not being updated in the UI.  I also think it's loading too much, so we may have a dependency issue wi

[2021-01-22 23:38] humphd opened #1596 "[next] BackToTopButton issues"
**What happened**:

The ScrollToTop control in the posts timeline has a few issues:

- the colours don't match what Gatsby has (white vs. black)
- clicking the icon doesn't scroll the page

<img width="181" alt="Screen Shot 2021-01-22 at 6 36 40 PM" src="https://user-images.githubusercontent.com/427398/105560112-ea674c00-5ce0-11eb-92cb-16722e7de602.png">

**What should have happened**:

This shoul

[2021-01-22 23:41] humphd opened #1597 "[next] Post banner has incorrect height/margins and alignment"
**What happened**:

The Post Header component has the wrong height/margins compared to what we have in Gatsby:

<img width="1629" alt="Screen Shot 2021-01-22 at 6 39 58 PM" src="https://user-images.githubusercontent.com/427398/105560286-58ac0e80-5ce1-11eb-8cbf-473b130d84ad.png">

**What should have happened**:

We should match the design in the current site.

**How to reproduce it (as precise as p

[2021-01-22 23:41] humphd commented on #1597
cc @rogercyyu

[2021-01-22 23:43] humphd commented on #1597
Another issue I notice is that the author and date are now on 2 lines vs. 1.

[2021-01-22 23:44] humphd commented on #1597
I wonder if this is partly due to the feature @yuanLeeMidori added last term to expand/hide the contents of the header on click?

[2021-01-23 01:22] yuanLeeMidori commented on #1597
Let me check it

[2021-01-23 01:29] rogercyyu commented on #1597
okay, might be my fault:
Post,jsx (line -165)
[code]
Post.tsx (line - 164)
[code]
`variant="p"` is missing.

[2021-01-23 01:49] yuanLeeMidori commented on #1597
@humphd Hi, I don't think it's related to my expand title feature. My expand feature only apply to the `<Typography>` of title element. It seems to me like the issue is in the author name or the published time element.

[2021-01-23 01:51] yuanLeeMidori commented on #1597
I just checked it, I think @rogercyyu is right. I put the `variant="p"` to the author element and it makes the author name and published time on the same row, just like what it was in the gatsby.

[2021-01-23 02:34] chrispinkney opened #1598 "Add a Vercel badge to README.md"
**What would you like to be added**:
A Vercel deployment badge could also be placed on our `README.md` file so that the newly added Netlify badge won't be so lonely.
I think @humphd is the owner/admin of the Netlify service so I think the badge is something only he can provide us.

[2021-01-23 02:35] humphd commented on #1598
https://github.com/vercel/vercel/discussions/4824 claims it doesn't exist yet :(

[2021-01-23 05:26] PedroFonsecaDEV commented on #1596
Working on it.

[2021-01-23 05:27] PedroFonsecaDEV commented on #1597
@yuanLeeMidori, Could you please send a PR to fix this for us?

[2021-01-23 05:45] PedroFonsecaDEV commented on #1548
All items have been merged.

[2021-01-23 05:45] #1548 closed

[2021-01-23 05:48] yuanLeeMidori commented on #1597
Sure, I'll send one tomorrow

[2021-01-23 17:40] cindyledev commented on #1590
I was able to reproduce this issue locally. Getting rid of the `distDir: 'out'` line in
`module.exports = withMDX({ ... });` seems to solve this problem. What was `distDir` supposed to do anyway?

[2021-01-23 17:47] cindyledev commented on #1592
Don't we already use Dependabot?
![Screenshot 2021-01-23 124627](https://user-images.githubusercontent.com/36822198/105609708-1504e380-5d79-11eb-8a7b-d38f16b79934.png)

[2021-01-23 17:56] cindyledev commented on #290
Once #1463 gets resolved, I'd like to progress forward with this. After so many morphs, I think MDX with Next.js will be the one to actually get implemented.

https://nextjs.org/blog/markdown looks promising.

[2021-01-23 22:07] chrispinkney commented on #1590
See [this](https://github.com/Seneca-CDOT/telescope/pull/1487#discussion_r561531250).

@raygervais @humphd given that running `npm run build:next` already runs `next build && next export`, which according to [this](https://nextjs.org/docs/advanced-features/static-html-export#how-to-use-it) already outputs to an `/out` folder, can we not just drop the `distDir` all together?