[2019-10-28 17:20] miggs125 opened #2 "Discussion: BACKEND technologies"
Part of the [MVP features](https://github.com/Seneca-CDOT/telescope/blob/master/docs/overview.md#mvp-features) is to determine what technologies to use. This is a discussion on what technologies to use for the backend. We should be able to create a poll so everyone can voice their opinion.

[2019-10-28 17:20] miggs125 opened #3 "Discussion: FRONT-END technologies"
Part of the [MVP features](https://github.com/Seneca-CDOT/telescope/blob/master/docs/overview.md#mvp-features) is to determine what technologies to use. This is a discussion on what technologies to use for the front-end. We should be able to create a poll so everyone can voice their opinion.

[2019-10-28 18:25] humphd commented on #2
Backend needs to be "node" with whatever set of deps people need.  At this stage (MVP), I'd avoid adding a lot of other services until we need them (e.g., db).

[2019-10-28 18:27] humphd commented on #3
For an MVP, I'd encourage us to think "static" vs. dynamic web app.  Could we do this with something pre-baked to start?  For example, [11ty](https://www.11ty.io) will let you take a bunch of markdown, html, etc. and produce a static site.

If people want to get into fancy frontends, that's great.  I just don't want to block on that, and don't want to exclude people from making progress early beca

[2019-10-28 18:58] Silvyre opened #4 "Discussion: Kubernetes"
"Running on Seneca's [Kubernetes](https://kubernetes.io/) container cloud" is listed by [our overview document](https://github.com/Seneca-CDOT/telescope/blob/master/docs/overview.md) as one of the features required of Telescope to constitute a minimum viable product (MVP).

This issue exists to:
- aggregate research and useful information for those interested in contributing to this MVP feature.
-

[2019-10-29 16:46] c3ho commented on #4
@Silvyre Regarding 6. Perhaps we could use Kubernetes related tags for issues?

[2019-10-29 16:58] ODAVING commented on #3
While 11ty is a decent option, I was wondering if we could possibly use Angular6+ to make sure the site can be easily upgraded and become future proof

[2019-10-29 18:15] humphd commented on #3
I'm happy for people to experiment with Angular, React, etc. and for more than one front-end to happen in parallel.  We don't even have to have it all happen in this repo (e.g., `telescope-ng` vs. `telescope-react` repos can be made).

However, I'd encourage us to not start with a technology stack, but rather with a mockup of what we want any stack to produce.  Until we have a thing to build, *how

[2019-10-29 18:50] cryolis commented on #2
Should we use some kind of framework like Express or node would be enough?

[2019-10-29 23:08] jerryshueh commented on #2
I'd suggest that we get some sort of a baseline going before we start seeking higher level technologies. Like we discussed in class, a simple system that produces static HTML pages based on feed data is a good starting point. Looking through [npm](https://www.npmjs.com/), there are a number of existing technologies that can help us get started.

For example, when I think of data manipulation in no

[2019-10-29 23:49] manekenpix commented on #2
I'm with @jerryshueh, let's start with something simple, maybe using [http](https://nodejs.org/api/http.html), and [dotenv](https://www.npmjs.com/package/dotenv) for simple config files. Also, it'd be interesting to start adding labels so we can tag issues and PRs as mentioned [here](https://github.com/Seneca-CDOT/telescope/issues/4), and we could even use the wiki to add documentation (technologi

[2019-10-30 03:30] Silvyre commented on #2
All for labels. We could also make use of [GitHub's project management functionalities](https://github.com/features/project-management/), such assigning [Milestones](https://help.github.com/articles/viewing-your-milestone-s-progress/) to MVP features (which can function to label/categorize Issues, as well).

[2019-10-30 03:34] ragnarokatz opened #5 "Github pages as a starting point"
I would like to get this project started by doing the following:

- copy the existing template/css files (just the simple one from the basic folder) from [zenit](https://people.gnome.org/~jdub/bzr/planet/devel/trunk/) and paste it into this repo
- activate github pages for this repo
- check it out at [the github page](https://Seneca-CDOT.github.io/telescope)

If people are okay with this, I can ge

[2019-10-30 04:19] sukhbeersingh commented on #2
Since the discussions seems to be closing in at Node, maybe we can put in a basic server file. I can do that, if agreeable. Another thing to consider is which package manager we want to use. We're all familiar with npm, but from most of the projects I encountered in the last month, yarn is pretty popular too.

[2019-10-30 12:40] manekenpix commented on #2
Before writing anything, I think it'd be a good idea to make a decision on these:
- npm vs yarn
- node 12.13 LTS vs node 13.01 current
- Linter (to avoid 60 different styles of code)

[2019-10-30 14:15] kartik-budhiraja opened #6 "Discussion: CI/CD"
The MVP needs to have a CI/CD pipeline set up with automatic tests and deployments.
We need to decide between the following options:
- Github Actions
- Travis CI
- Circle CI

I suggest going for github actions because other options would require setting up external accounts while for github actions, its all here on github only.
On the other side, github actions is still in beta but fairly stable s

[2019-10-30 14:19] humphd commented on #6
Because we have so many people who want to be involved, and everyone is learning technologies as they go, we could also consider implementing multiple pipelines.  Obviously we can't do deploy multiple times, but linting, unit tests, performance testing, fuzz testing, etc. could be done in parallel on all of GH Actions, Travis, Circle CI, etc.

Later on we can finalize on one if we want, but having

[2019-10-30 14:22] humphd commented on #5
I love the idea of pulling the existing template/css from zenit and using it as a starting point.  CC @ctyler, who has access to these files and could maybe help us access them?

I'm not sure if people will want to use gh-pages for deploy or not.  I'd split this issue up into at least two parts, since doing an MVP with static HTML could well be another bug.

[2019-10-30 14:23] UltimaBGD opened #7 "Simple Text Analysis"
As stated in the overview document, we would like to implement some form of text analysis.

Simple text analysis: Word Length, Reading Time, Writing level, etc

Would be the focus for this issue. This can most likely be developed as a stand alone feature before being integrated into the project. In essence, it can be developed to work on some text, and when the project is advanced enough to suppor

[2019-10-30 14:25] ODAVING commented on #3
@humphd do you think it’d be possible for me to tackle the html static page? Or should we split it up into further components?

[2019-10-30 14:26] UltimaBGD commented on #6
That may lead to a bit more maintenance with multiple pipelines, but with a larger group like this would probably okay, especially if people specialize in maintenance of 1 or 2 pipelines. May not be the most efficient way, but probably far more educational.

[2019-10-30 14:31] UltimaBGD commented on #2
Jumping onto the labels discussion, it would be best to start that early, and I think that could be filed under another issue itself. While it may not be direct work on the project, keeping the list of issues easily indexible will be fairly crucial for an active team of 50+ people in terms of organization, and I think should be high priority before we really start going.

[2019-10-30 14:36] c3ho commented on #6
I recall the prof mentioning he doesn't expect us to complete this project, but it should be more of a learning experience/experimenting. I'm all for learning different pipelines.

[2019-10-30 17:19] jatinAroraGit commented on #7
Hey @UltimaBGD and @humphd ,
We can also implement npm packages that already does this and on top can provide certain characteristics of a post like sentiment, writing level and support more languages other than English.
I can look for some packages that can do this.

[2019-10-30 17:43] humphd commented on #7
@jatinAroraGit exactly!

[code]

[2019-10-30 19:01] jerryshueh commented on #7
If we're doing any sort of NLP at all, I recommend we use Python for this particular module. The support for data science work on Python is fantastic, with many libraries and modules we can use that require just single lines of code to run. We can export the final metrics out in a CSV file for use by the core systems, or even a JSON file if we need more semantics. Just my two cents - I've personal

[2019-10-30 19:40] ragnarokatz commented on #6
I've had experience with [jenkins pipeline setup w/docker](https://hub.docker.com/r/jenkinsci/blueocean/) before but haven't played around with the others as much. I'm particular interested in **travis CI** as well as using **sonarqube** for code scans.

[2019-10-30 19:41] ragnarokatz commented on #5
Hello, renamed the title of this issue appropriately to reflect the above recommendations.

[2019-10-30 20:00] humphd commented on #7
@jerryshueh you can run models pretty much in any backend ML engine (tensorflow has bindings for c++, python, node, and the browser), but we can also leverage other tools as well.  Our wrappers can return JSON, agreed, and then we can connect them to REST endpoints for others to consume.

Let's not worry about which tech we use at this point, and focus instead on which analysis we want to do.  Let

[2019-10-30 20:07] ragnarokatz opened #8 "Discussion: where to host?"
Where are we hosting this application?
- seneca zenit/matrix server?
- heroku?
- others

Also, are we hosting it behind a web server?
- nginx
- apache tomcat
- others
this is for useful functionalities such as ip-whitelisting, firewall, load-balancing, https, etc.

[2019-10-30 20:09] humphd commented on #8
We have a Kubernetes Container Cloud at Seneca that we'll use to host this.  Any containerized app(s) we want to run will work.

I imagine we'll have a few web servers: node micro-service REST apis; maybe an nginx reverse proxy or static server, but the rest of load balancing etc. will happen via Kubernetes automagially.

[2019-10-30 20:11] Silvyre commented on #8
@ragnarokatz May I suggest closing this issue and moving discussion on this subject to #4?

[2019-10-30 20:56] #8 closed

[2019-10-30 20:57] ragnarokatz commented on #8
moving dicussion to #4

[2019-10-30 21:54] ragnarokatz commented on #5
reference PR #9

[2019-10-30 21:56] ragnarokatz commented on #5
I did some reverse-engineering/hacking.
- did view source on the current planet page [here](http://zenit.senecac.on.ca/~chris.tyler/planet/), cleaned it up, and replace texts with lorem ipsum
- stole the css from [here](http://zenit.senecac.on.ca/~chris.tyler/planet/planet.css)
- managed to get the pictures [here](http://zenit.senecac.on.ca/~chris.tyler/planet/images/)

[2019-10-31 04:05] Reza-Rajabi commented on #5
Doesn't that lead us to make the same front-end? Maybe it is fine to stick on old stuff (nostalgia), though.

[2019-10-31 04:15] ODAVING commented on #5
My thoughts exactly! I mean if it hasn't been updated since early 2000s
maybe we should modernize it xD

On Thu, Oct 31, 2019 at 12:05 AM rare <notifications@github.com> wrote:

[2019-10-31 06:05] sukhbeersingh opened #10 "Discussion: Git workflow"
We need to talk how we’re going to manage our git workflow. What branches will our repo have?
I propose feature branches, that lead to develop which finally builds to master.

[2019-10-31 07:12] Reza-Rajabi opened #11 "[Discussion] Agile Project Management Practice (Suggestion)"
While we are working in such a mid-size project with a large number of contributors, one thing that could be helpful and could let us act more efficiently would be project management consideration. Moreover, it is an opportunity for us as a student to get used to the best practices.
We can use the Github project management feature or any other similar technologies for the following concerns :

**P

[2019-10-31 07:24] Reza-Rajabi commented on #3
Although it seems we have decided to start with a static web page as a warm-up, I think because of the number of developers, we might better think of a component base frontend such as React, Angular, or Vue. Anyhow, assuming we might start such a component design in the future or parallel, I will make a new issue concerning about UI design and Mockups.

[2019-10-31 07:42] Reza-Rajabi opened #12 "Mockups for user interface"
We have discussed in [issue #3](https://github.com/Seneca-CDOT/telescope/issues/3) about our frontend technology. But how our final frontend looks like? This is important that we think about it for the number of reasons:
- Knowing how our UI looks like helps us to identify our app's features and our project's scope.
- Having a UI design gives us an idea about who can work on what in terms of our f

[2019-10-31 13:40] jatinAroraGit commented on #11
We could start by creating issues for each enhancement/feature/function to be added and then we can leverage what github already gives us like Assignees on each issue and use github labels to indicate what kind of issue it is.

[2019-10-31 15:10] ragnarokatz commented on #5
this is just a starting point, by no means it is what we are looking for or the end product itself.

this particular issue serves the following 2 purposes:
1. Just get going. this is to give people somewhere to start on, and get the project going. It's hard to get things going when all the talks are in the air without something solid to reference against. Once there's some basic materials in the r

[2019-10-31 15:50] birtony opened #13 "Create a .gitignore file"
We should create a `.gitignore` file in order to eliminate any unwanted files to appear in the repository.

[2019-10-31 16:02] jatinAroraGit opened #15 "Implement sentiment analysis of blog posts"
Sentiment analysis can be helpful in determining how negative or positive a blog post is. It will be also helpful to flag blogs which use contain negative wording.

I would like to work on this feature.

[2019-10-31 16:06] birtony opened #16 "Develop a worker to parse contents from the blog's url"
We should create a worker that would implement the following features:
- Get contents from particular blog post url
- Parse the contents into the JSON format
- Pass the generated JSON file over

Receives: url
Returns: JSON file

[2019-10-31 16:11] c3ho commented on #16
Hi, I’ll take on this issue!

[2019-10-31 16:17] birtony opened #17 "Implement word count feature for the contents of the blog post"

[2019-10-31 16:19] birtony opened #18 "Sanitize HTML from feed posts (XSS, script, etc removal)"
Sanitizer should clean any HTML code found in the blog post to eliminate possibility of running some else's script in our system.

[2019-10-31 16:20] birtony opened #19 "Implement a reading time feature for the blog post"

[2019-10-31 16:20] birtony opened #20 "Implement feature to generate summary of the blog post"

[2019-10-31 16:21] birtony opened #21 "Create a spam checker for blog posts"

[2019-10-31 16:23] birtony commented on #16
Great! 👍

[2019-10-31 16:47] cindyledev opened #22 "Implement a way to filter active and inactive bloggers"
There is a long list of bloggers but a lot of them do not blog anymore. We should have a way to show currently active bloggers and hide the ghosts.

[2019-10-31 20:19] smilegodly opened #23 "Add number of lines added feature for each github PR / blog"
This counts the lines of code added and deleted and gives a result (added-deleted), for each blog post that links a Github PR..

[2019-11-02 01:00] #13 closed

[2019-11-02 22:45] neilong31 opened #25 "Implement ability to email admins/users"
This issue is a part of the [MVP Features](https://github.com/Seneca-CDOT/telescope/blob/master/docs/overview.md#mvp-features).

It should send an email to an admin or the user if:

- A post is deemed inappropriate
- Any major errors are logged (ex. issues downloading feeds)
- If it crashed

If there any other times an email should be sent out please suggest them as well.

[2019-11-03 02:25] Reza-Rajabi commented on #4
I am also interested to work on this issue.

[2019-11-04 13:56] Reza-Rajabi commented on #4
My goal for this week is to make docker files and docker image.
I appreciate if anybody let me know if they have any comment on that.

[2019-11-04 15:12] manekenpix commented on #4
@Reza-Rajabi I've worked with docker before, we can work together on that.

[2019-11-04 15:18] robertbegna opened #26 "Allow users to pick positive reactions to blog posts"
I think it would be interesting to allowing the users to react to each other's blog posts, similar to how facebook lets us react to posts

[2019-11-04 16:13] Reza-Rajabi commented on #4
@manekenpix my pleasure. I am thinking of using the CloudNativeJs template for the Node.js, Express backend. What do you think about it?

[2019-11-04 16:55] Silvyre commented on #4
Sounds great! I'm interested in contributing a Makefile.

[2019-11-04 17:10] agarcia-caicedo commented on #26
I don't feel this is a constructive way to interact with blogs nor a way to encourage meaningful feedback

[2019-11-04 17:27] UltimaBGD commented on #26
I feel like for the blog writers, it would be not exactly convenient. They wouldn't get that feedback on their blogs, only on the planet.

[2019-11-04 17:39] drwm-base opened #27 "Add a CONTRIBUTING.md file for environment setup and tracking"
Most projects that I found throughout Hacktoberfest had some sort of documentation that helped developers to set up their environment faster. As we add code to the project, we should have a centralized place to contain everything we need to get working on the project. It could also be used to track the progress of the project (what people are working on and where to look), according to the [MVP Fe

[2019-11-04 18:12] smilegodly opened #29 "Getting the planet cdot codebase"
I was able to download the planet cdot code from the overview.md using wget
#28

[2019-11-04 23:09] ImmutableBox commented on #16
Hi, I would like to aid in this issue. **JUST TO BE CLEAR,** I want to help @c3ho not take the issue. This issue can be branched out to many smaller issues, I just want to get something started for people to look at.
- - -
I did some research on how to convert XML to JSON since feeds are made up of XML.
Here are some packages I found:
-[rss-parser](https://www.npmjs.com/package/rss-parser)
-[rss-t

[2019-11-04 23:55] drwm-base commented on #27
I will be working on this.

[2019-11-05 00:42] manekenpix commented on #4
@Reza-Rajabi I've never used CloudNativeJs but I think we can create our own ([check this out](https://docs.docker.com/get-started/part2/)). It'd be something like this:
[code]

And then we could do something like [this](https://docs.docker.com/get-started/part3/) for deployment, and/or use [docker-compose](https://docs.docker.com/compose/).
Let me know what you think.

[2019-11-05 01:43] Reza-Rajabi commented on #4
That's it. [CloudNativeJs](https://github.com/CloudNativeJS/docker) only has ready temples for them. So if I am in the right way, would you like to let me make them, and would you mind reviewing them? How does that sound to you?

[2019-11-05 01:58] Reza-Rajabi commented on #4
@Silvyre I didn't think about it that way. The OS might don't matter for this case. I would like more of your thoughts.

[2019-11-05 02:46] Reza-Rajabi commented on #11
@humphd Would you like to let us play with the Project section of the Github? I am trying to convince everybody that it might be beneficial for us. Maybe I need two weeks to fail or succeed in this idea. I want to maintain and update the project status based on our progress to see what we can get out of it.

[2019-11-05 03:00] humphd commented on #11
@Reza-Rajabi I've added you all as collaborators, so go ahead and set up whatever you want!

[2019-11-05 03:07] humphd commented on #26
I wonder if there is a positive way to do this?  I appreciate what @agarcia-caicedo  is saying.  For example, Medium does "Claps" as a positive reaction, and doesn't offer an inverse, negative reaction.  I kind of like the idea of being able to say, "This is good."  or "Me too!" or something else that would be positive.

[2019-11-05 03:15] humphd opened #31 "Add support for EditorConfig"
It would be nice to make editor settings predefined in the repo like VSCode does with [EditorConfig](https://editorconfig.org/).  You can see their setup at https://github.com/microsoft/vscode/blob/master/.editorconfig.

For us, I'd suggest:

- 2 or 4 space indent
- Unix LF end of line
etc

[2019-11-05 03:17] humphd opened #32 "Add ESLint to lint all our JS/JSON"
We should really have a proper automated linting step using [ESLint](https://eslint.org/).  You can see good docs on how to do this at https://eslint.org/docs/user-guide/getting-started, and look at how lots of other projects do their linting by reading their `.eslintrc` file(s).

Until we get automated tests written, this can serve as our `npm test` step, and let us start automating CI in other b

[2019-11-05 03:19] humphd opened #33 "Branding: we need a logo!"
Is anyone good at drawing logos?  We could use one, so we can put it in our README.

[2019-11-05 03:20] humphd commented on #6
Filed #32, which we can use as our first CI automation target.  Once we get that landed, we can spin up various CI platforms to automatically build every PR and merge commit.  Later we can expand this to full tests.

[2019-11-05 03:23] humphd commented on #23
I really love this idea.  When people blog about GitHub repos, issues, or PRs, we can use the [GitHub API](https://github.com/octokit/rest.js/) to pull in extra info and display it along with the post!.

I've done a bit of work like this in the past with https://github.com/humphd/github-contrib-stats, and I know others in the class have done eve more with https://github.com/Seneca-CDOT/ostep-dashb

[2019-11-05 03:24] brucremo commented on #33
I could draw us a logo for our README!

[2019-11-05 03:29] humphd commented on #19
https://www.npmjs.com/package/reading-time probably does what we want.

[2019-11-05 03:36] humphd commented on #18
Maybe we can use https://github.com/cure53/DOMPurify?

[2019-11-05 03:39] humphd commented on #17
Maybe we can use https://www.npmjs.com/package/wordcount?

[2019-11-05 03:42] drwm-base commented on #4
Hey guys, if were going to be using Redis, we should probably include it in the docker files? I don't know much about docker but in my research on Redis installation it seems a lot easier than installing it on your machine.

[2019-11-05 03:43] humphd commented on #4
See https://hub.docker.com/_/redis.  We can just pull existing images for it.

[2019-11-05 03:55] kartik-budhiraja commented on #6
I will spin up the pipeline on Travis CI and GitHub actions as soon as the eslint config is added!

[2019-11-05 03:58] kartik-budhiraja commented on #32
We can use [Airbnb Javascript style](https://github.com/airbnb/javascript) guide as starting base and extend it. The eslint config is available through npm package `eslint-config-airbnb-base`.

[2019-11-05 04:06] humphd opened #35 "Add logging support to our backend"
Let's do proper logging for everything in the back-end using [Pino](http://getpino.io/#/).  Ideally, I'd like to see us logging things for regular operations, errors, but also offer debug logs to help developers see what's going on.

We can roll this out in stages, but it would be good to add initial logging support with at least INFO or ERROR levels.

[2019-11-05 04:07] ragnarokatz commented on #31
@humphd I would like to take on this issue please.

[2019-11-05 04:31] ragnarokatz commented on #31
reference PR #36

[2019-11-05 06:40] UltimaBGD commented on #32
In the event Airbnb style is something we are interested in, I will quickly put up a pull request with it setup for people to test with.

[2019-11-05 16:49] hansal7014 commented on #35
Hi @humphd,
I would like to work on this issue.

[2019-11-05 16:52] ragnarokatz opened #39 "Update documentation to include instructions for using editorconfig"
Update documentation to include instructions for using the .editorconfig file in the following IDE/environments:

the main one:
- **visual studio code**

optional ones:
- notepad++
- sublime text
- atom
- eclipse
- others

reference link: https://editorconfig.org/

[2019-11-05 17:08] ODAVING commented on #12
If no one is working on the mockup, I can use Adobe XD to create a mock up of what it can look like. @humphd @Reza-Rajabi Do you guys prefer the mockup? or should I just go ahead and create an HTML document issue #3

[2019-11-05 17:11] PavanKKamra commented on #33
Can I also attempt to draw a logo for our README? :)

Regards,
Pavan K.

[2019-11-05 17:56] #31 closed

[2019-11-05 18:04] ODAVING opened #40 "Implement pagination for front-end"
The current planet CDOT is long and arduous to read every post. I'm thinking of implementing a pagination in JS to use for the web-page. Feel free to add more suggestions with regards to this.

[2019-11-05 18:04] ODAVING opened #41 "Pagination for front-end"
Duplicate due to Github error. Should be deleted

[2019-11-05 18:25] lucacataldo commented on #12
@ODAVING I don't mind taking the reigns on the design & prototyping or helping you out. Want me to start out by making a shared XD document? That'll allow everyone to contribute ideas and whatnot to the design.

[2019-11-05 18:30] ODAVING commented on #12
If this is acceptable then I’d like that! Otherwise we should get started
with the static html. Awaiting David’s response to this.

On Tue, Nov 5, 2019 at 1:25 PM Luca Cataldo <notifications@github.com>
wrote:

[2019-11-05 18:34] lucacataldo commented on #12
Sounds good! I'll get started on a general mockup with XD regardless that way the actual creation of the HTML will be easier later on. Will make a link available later on today for review & editing.

[2019-11-05 18:44] humphd opened #42 "Add testing infrastructure"
We're starting to get some code in the repo, and it's time to think about how we'll test all the features we add.

I'd like to see us get an initial test in place, so we can figure out our infrastructure, and let others add more tests in future PRs.

Let's use [Mocha](https://mochajs.org/) or [Jest](https://jestjs.io/) to automate our tests.  At first, we need a simple `npm test` run that runs one

[2019-11-05 18:46] humphd commented on #33
@PavanKKamra it sounds like @brucremo is going to do this, maybe you can help with reviews?

[2019-11-05 18:48] humphd commented on #41
Closing in favour of #40

[2019-11-05 18:48] #41 closed

[2019-11-05 18:49] humphd commented on #35
Awesome @hansal7014, go for it!

[2019-11-05 18:53] humphd commented on #6
@kartik-budhiraja would you be willing to file separate issues for each of Travis, GH Actions, CircleCI, and any others people want to try?  Ideally we'll let them get done by individuals vs. one person doing multiple (i.e., pick one of travis or gh, but not both).

Thanks for offering to work on this, I'd love to get the CI pipeline flowing.

[2019-11-05 19:13] kartik-budhiraja opened #43 "Set up CI/CD pipeline at Travis CI"
Set up the base pipeline as per [comment](https://github.com/Seneca-CDOT/telescope/issues/6#issuecomment-549646158)  on Travis

[2019-11-05 19:14] kartik-budhiraja commented on #43
I will be taking this over. :)

[2019-11-05 19:15] kartik-budhiraja opened #44 "Set up CI/CD pipeline (GH Actions)"
Set up the base pipeline as per comment (https://github.com/Seneca-CDOT/telescope/issues/6#issuecomment-549646158) at Github actions.

[2019-11-05 19:16] kartik-budhiraja opened #45 "Set up CI/CD pipeline at Circle CI"
Set up a base pipeline as per [comment ](https://github.com/Seneca-CDOT/telescope/issues/6#issuecomment-549646158) at Circle CI.

[2019-11-05 19:17] kartik-budhiraja commented on #6
@humphd  Sure, I filed three separate issues (#43, #44, #45) and I will be taking over only travis setup.

[2019-11-05 20:23] MeisterRed opened #47 "Add a CODE-OF-CONDUCT.MD for the project"
I've noticed that in many other GitHub projects, a code of conduct is created to provide standards as to how contributors should behave and how they can participate in the project.

In this file, we can pretty much define what we consider is acceptable behavior and unacceptable behavior. We can also provide information as to how someone can report something that violates the code of conduct. This

[2019-11-05 23:31] aprilllllllll opened #48 "ECONNREFUSED while requesting the feed URL."
I download the code and try to run it. It is giving me Error: connect ECONNREFUSED while requesting the feed URL.

[2019-11-05 23:33] manekenpix commented on #48
Than happens when Redis is not running. Try to run Redis before launching telescope

[2019-11-05 23:43] ImmutableBox commented on #48
This is also explain in the pull request https://github.com/Seneca-CDOT/telescope/pull/34 which adds the CONTRIBUTING.md. If someone can review, approval and merge it that would be great.

[2019-11-05 23:50] aprilllllllll commented on #48
Thank you~

[2019-11-05 23:53] #48 closed

[2019-11-06 00:03] humphd commented on #48
@aprilllllllll we should add some code that gives a more useful error message if Redis can't be found.  Do you want to work on a PR to address this?  We probably need to catch an error case in `Bull` so that it doesn't crash like this.

[2019-11-06 00:08] aprilllllllll commented on #48
yes sure~

[2019-11-06 00:25] Reza-Rajabi commented on #12
@ODAVING @lucacataldo I made this issue more as a discussion, so feel free to start working on this as you wish.

[2019-11-06 00:39] robertbegna opened #50 "Render the list of urls to an html page/view rather than console"
In the feed-worker.js file, the urls are read from the textfile and just outputed to the console. I think it would be better if it was presented on a web page, which could serve as the basis for a view that contains the list of blogs

[2019-11-06 00:40] robertbegna commented on #50
i'd like to work on this small issue

[2019-11-06 01:31] #50 closed

[2019-11-06 01:38] robertbegna opened #51 "add catch after exports.start in feed-worker.js"
I would like to add a catch after this function so that any errors can be dealt with

[2019-11-06 01:50] lucacataldo commented on #12
Here's the link to review & comment on the design, if anyone would like write / edit access to the file please contact me.

https://xd.adobe.com/view/f1e160d0-2c49-4700-4ca6-2f2f660dfb6f-87d0/

[2019-11-06 03:33] #27 closed

[2019-11-06 04:53] Reza-Rajabi commented on #51
Would you like to take a look at [this](https://javascript.info/async-await) and decide about how would you like to approach this issue?

[2019-11-06 05:07] Reza-Rajabi commented on #23
'Extract all URLs from a blog post. Once we have all the URLs referenced in a blog, one type can be GitHub URLs, which we can process here'.
I am setting an issue for this.

[2019-11-06 05:18] Reza-Rajabi opened #53 "Extract all URLs from a blog post."
Extract all URLs from a blog post for further enhancement as well as statistic analysis, extracting data from external API ( as mentioned in [#23 )](https://github.com/Seneca-CDOT/telescope/issues/23#issuecomment-549646731) etc.

[2019-11-06 06:00] manekenpix opened #54 "Use Github API to fetch data related to URLs from a blog post."
After extracting URLs from a blog post (issue #53), use the [Github API](https://developer.github.com/v3/) (if it's a Github URL) to fetch related data like author, description, date of creation, avatars, labels, assignees, projects...

Library that could be used for this: [github-url-parser](https://www.npmjs.com/package/parse-github-url).

[2019-11-06 15:22] lucacataldo commented on #33
Hey @brucremo when making the UI [mockup](https://xd.adobe.com/view/f1e160d0-2c49-4700-4ca6-2f2f660dfb6f-87d0/) I created a very simple logo as a placeholder before seeing this. If you want to use it as a basis let me know and I can send you the SVG! If not I'll include yours in the mockup when it's ready. 😄

[2019-11-06 15:46] ImmutableBox commented on #42
I would like to try my hand at this. After some research/testing I decide to use [Jest](https://jestjs.io/). My reasoning:
- [Jest ](https://jestjs.io/)setup was easier to setup.
- [Jest ](https://jestjs.io/)sent a warning message about problems with async operations while [Mocha](https://mochajs.org/) did not.

[Mocha](https://mochajs.org/) does seem to be more flexible, but the setup takes some

[2019-11-06 16:27] lucacataldo opened #56 "Add Redis install notes fo Windows in CONTRIBUTING.md"
The windows install notes are missing for Redis in CONTRIBUTING.md

[2019-11-06 16:31] s-arika commented on #25
Maybe we could use nodemailer https://nodemailer.com/about/

[2019-11-06 16:32] ImmutableBox opened #57 "Adding test instructions into CONTRIBUTING.md"
Add instruction `npm test`, `npm run eslint`, `npm run eslint-fix` to CONTRIBUTING.md. See https://github.com/Seneca-CDOT/telescope/pull/55 for more information about the testing infrastructure.

[2019-11-06 18:10] UltimaBGD commented on #32
The pull request has been merged, shall we close this issue or keep it up for further discussion?

[2019-11-06 18:15] humphd commented on #32
Close.  Also, we should make sure that people use the "Fixes <issue number>" style in their PRs so GitHub will auto-close issues fixed by PRs.

Thanks for working on this!

[2019-11-06 18:15] #32 closed

[2019-11-06 18:20] MeisterRed commented on #47
I will take on the task and create the code-of-conduct.md file

[2019-11-06 18:52] humphd opened #59 "Automatically fetch and parse complete feed list from wiki"
At the moment we're using a hack to read feed URLs from a text file.  This is fine for our initial efforts, but we should really be pulling those feed URLs from https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List.

Looking at the markup in that page, we need to grab the contents of the single `pre` element on the page:

[code]

We then need to lightly process this:
- ignore lines beginni

[2019-11-06 18:56] humphd opened #60 "Start using .env to configure our system"
In keeping with the [12 Factor App](https://12factor.net) approach, we need to move toward using environment variables so we can have a proper [config](https://12factor.net/config).

Let's use `dotenv` for this.  Here's a good discussion on how to set this up: https://www.twilio.com/blog/2017/08/working-with-environment-variables-in-node-js.html

Once we have the env system in place, we can start

[2019-11-06 20:18] s-arika commented on #60
@humphd Could I try this one out?

[2019-11-06 20:19] humphd commented on #60
@s-arika it's all yours.  Let us know how you make out with your research, and any questions you might have.

[2019-11-06 20:40] jerryshueh commented on #22
Let me attempt this. For now, I'm just going to work off the queue system that Dave already implemented. I'll also start a simple config file for filters, maybe a filter.json that will allow us to define the rules of what gets displayed or not.

[2019-11-06 21:01] KarlaChen commented on #12
@lucacataldo For the participants page, can we add a quick search bar then people can easy to find the people name.

[2019-11-06 21:17] ODAVING commented on #12
This is a good place to get inputs while we build the static page

[2019-11-06 21:20] ODAVING opened #61 "Optimize HTML"
Using suggestions and mock ups in issue #12 I'll be making a static HTML page to start, once that's done we can continue adding more features or even containerizing it using Angular/React

[2019-11-06 21:29] hansal7014 commented on #60
This would be useful for my issue too (#35 ). We can use an environment variable to set the log level.

[2019-11-06 21:55] manekenpix commented on #54
I'll take care of this one

[2019-11-06 22:20] cryolis commented on #59
I would like to work on this.

[2019-11-06 22:20] lucacataldo commented on #12
@KarlaChen Good idea Karla, I've added a "quick and dirty" search bar design to the participants modal

[2019-11-06 22:25] humphd commented on #59
Go for it Igor.  You might be able to get away with a regex for this, or might decide to use some node based DOM parser to extract the <pre>'s innerText.

[2019-11-06 22:34] KarlaChen commented on #12
@lucacataldo I was thinking use anchorScroll or search bar which one is better, eg: There is A,B, C on the side, when you click A, it will go to the section A and show all the name start from A.

[2019-11-06 22:34] cryolis commented on #59
I was thinking of using request and cheerio libraries to connect and traverse DOM, also maybe a good idea to start using express.js at this point.

[2019-11-06 22:34] humphd opened #62 "Add UI dashboard support for Bull queues"
We're using Bull to manage our work queues, so let's also add a UI so we can see what's happening.  https://github.com/vcapretz/bull-board will give us the ability to add a route to a web server to show what's happening in our queues:

![](https://raw.githubusercontent.com/vcapretz/bull-board/master/shot.png)

Eventually this should be behind an admin login, but for now, we can expose it.  It will

[2019-11-06 22:36] humphd commented on #59
Don't use `request`, as it's a dead project.  Use `bent`, see https://github.com/mikeal/bent and look at my code in the worker for downloading feeds.

For parsing the DOM, I'd use https://www.npmjs.com/package/jsdom vs. cheerio, since it's also better maintained.

And you won't need express for this.  We're just going to feed this data into the queue, like I do now in the src/index.js file.

[2019-11-06 22:39] lucacataldo commented on #12
@KarlaChen I was envisioning as a "search while you type" search bar where you can just start typing and filter down the list of participants, the functionality will likely be discussed when the development of the page starts though at which point we can test out different ideas!

[2019-11-06 22:41] miggs125 opened #63 "Create HTTP server"
We need to create a web server for telescope. We should add what has been mentioned in #62 to this.

[2019-11-06 22:45] humphd commented on #63
Great idea.  Something that this can eventually do is connect via `ioredis` to our Redis instance, and provide a way to query into our cache for posts, analytics, etc.

When you do this, it would be good to start with a health check endpoint, https://microservices.io/patterns/observability/health-check-api.html.

[2019-11-06 22:46] humphd commented on #63
See also https://cloud.ibm.com/docs/node?topic=nodejs-node-healthcheck

[2019-11-06 23:18] humphd opened #64 "Add OPML endpoint export for feed list"
In #59 we're adding the ability to ingest our current feed list from the wiki.  In #63 we're adding a web server.  It might be nice to connect both of these and offer a way to get the feed list *out* of our app as an [OPML](https://en.wikipedia.org/wiki/OPML) file.  OPML seems to be the standard way of sharing a feed list these days.

What I envision is adding a route that allows for obtaining an

[2019-11-06 23:19] humphd commented on #64
Here's an example of what one looks like https://github.com/paulirish/frontend-feeds/blob/gh-pages/frontend-feeds.opml

[2019-11-07 01:23] humphd commented on #25
Sounds good to me, let's try it.  https://stackabuse.com/how-to-send-emails-with-node-js/ has a good discussion of this, including how to test it.  Who wants to do this?

[2019-11-07 02:01] RyanWils commented on #25
Hi I would like to work on this

[2019-11-07 03:01] ImmutableBox opened #67 "Running both ESLint and Jest together"
Currently ESLint and Jest is run by using different commands:
`npm run eslint`
`npm run eslint-fix`
`npm run jest`

Would be nice that have something like a prescript as @UltimaBGD suggested to run these commands.

### More information/options:
- - -
@humphd :
the && operator won't work on all shells (e.g., many Windows shells). There are few work arounds for this:
1. we can use pre and post scrip

[2019-11-07 03:02] Reza-Rajabi commented on #4
@manekenpix @humphd  @Silvyre @c3ho @drwm-base  I have posted a [pull request](https://github.com/Seneca-CDOT/telescope/pull/65) regarding our Docker files, but I need help with a problem that I mentioned over there.

[2019-11-07 03:10] ImmutableBox commented on #42
Merged with https://github.com/Seneca-CDOT/telescope/pull/55.

[2019-11-07 03:10] #42 closed

[2019-11-07 03:46] Reza-Rajabi commented on #19
@birtony This issue already mentioned in #7 . Please consider closing this issue. If you decided to close this issue, that would be greate to address the @humphd 's above comment somewhere on #7 .

[2019-11-07 03:50] UltimaBGD commented on #67
I'll get something up really quick.

[2019-11-07 04:48] Reza-Rajabi commented on #61
This seems to have conflict with #5 .

[2019-11-07 04:50] varshannagarajan commented on #62
I would like to look into setting this up. I could try and just start on setting this up while someone is working on issue #63  if that makes sense. Than add it to that server.

[2019-11-07 04:51] Reza-Rajabi commented on #17
This seems to have conflict with #7 and #19 .

[2019-11-07 04:55] neilong31 commented on #62
@varshannagarajan I'd like to work on this with you if that's okay?

[2019-11-07 05:04] ODAVING commented on #61
@Reza-Rajabi As of right now, we don't have any front-end to work with at all, #5 doesn't have a PR. I might actually containerize the whole thing, so people who are interested in the front-end aspect of it can work simultaneously.

[2019-11-07 05:32] Reza-Rajabi commented on #61
@ODAVING Thank you Sina (jan). I thought that could be something you would like to consider. I think #5 has a PR, but it was not approved, reviewed or finalized. That meant to be a starting point, so maybe improving it to a .hbs or .pug could be an option.

[2019-11-07 06:02] Reza-Rajabi commented on #4
Problem addressed by @manekenpix (thanks). I will make a docker-compose file soon.

[2019-11-07 13:49] Reza-Rajabi commented on #4
Docker files are waiting for review. Once it gets merged I will reflect these on Documents. Any thoughts about our next moves for this issue? Can I breakdown this to the following steps:

- adding Helm charts
- Deploy on Kubernetes
- Adding Health checks (self healing)

how does that sound?

[2019-11-07 14:21] humphd commented on #17
@Reza-Rajabi I don't think they are in conflict, but rather represent parallel steps along an "analysis" pipeline.  We just have to chain them all together.

[2019-11-07 14:37] asyam1 opened #70 "Add a .md file to discuss the modules/dependencies being used"
Since we will be using NodeJS, it will be appropriate to have a discussion page to add or remove modules/dependencies. It would also help others to understand why a particular module is used and how it will help the project.

[2019-11-07 14:55] robertbegna commented on #63
if anyone isn't doing this, I'd like to set up a basic web server to start us off

[2019-11-07 14:57] jrdnlx commented on #64
Hey, may I try to do this?

[2019-11-07 15:03] cindyledev commented on #57
PR #55 has merged; closing this issue.

[2019-11-07 15:10] cindyledev commented on #39
PR #36 has merged; closing this issue.

[2019-11-07 15:19] birtony commented on #19
@Reza-Rajabi I believe that #7 is quite a generic issue, and it might be useful for us to split it into smaller parts to work on. However, thank you for referring it here, as both of them are definitely related.

[2019-11-07 15:32] #56 closed

[2019-11-07 15:39] cagomezr commented on #61
In the  front end area do we have a folder/ route structure to work on  yet?

[2019-11-07 15:40] ODAVING commented on #61
Not yet, unfortunately!

On Thu, Nov 7, 2019 at 10:39 AM cagomezr <notifications@github.com> wrote:

[2019-11-07 15:44] mskuybeda opened #71 "Create relational database and its interface to store all information from parsed feeds"
I would like to implement the MySql to store data from parsed feeds and overall information about posts. I think we will also need to have an interface for the server so back end scripts can exchange data. The data about that posts also needs to be properly organized  and structured. As a result, there should be a js script which gets infromation from MySql and format it into JSON so other back en

[2019-11-07 15:45] cindyledev commented on #61
Waiting for PR #9 to rebase and reviewed so we have some HTML and CSS to work with.

[2019-11-07 15:46] cagomezr commented on #61
Have  we  decided what css  framework we are  using or  style ?

[2019-11-07 15:47] jordanhui19 commented on #21
What do you mean by spam checker?
Are you checking if multiples of the same blog are being added or if the blogs themselves are posting spam?

[2019-11-07 15:52] ImmutableBox opened #72 "Create test for feed-parser"
A test is needed for feed-parser once https://github.com/Seneca-CDOT/telescope/pull/37 is merge. You can start working on this now, can be a basic check to see if feed-parser returns values.

Can check if the feed-parser is able to parser these blogs below:
- [Blogger](https://www.blogger.com/about/?r=1-null_user)
- [Medium](https://medium.com/)
- [Wordpress](https://wordpress.com/)

`feed-queue.t

[2019-11-07 15:53] nazneennahar commented on #72
hey i would wanna work on this issue.

Thanks.

[2019-11-07 15:57] MusaBajwa opened #73 "Updating/Adding to readme file"
A README file is a text file that contains information for the user about the software program. README files often contain instructions and additional help, and details about patches or updates. Our README file is only a couple of lines, and I will be adding information on how our system works.

[2019-11-07 16:02] Cadesh opened #74 "Validate blog URLs"
Currently the feeder do not validate the blog's URLs. Students will add and modify blogs URLs and there must be a way to check if these new URLs are valid and reachable.  In this issue the objective is to check for valid format of URLs only.

[2019-11-07 16:03] cyh0968 commented on #19
@birtony For this issue, @humphd recommended a reading-time library that calculates not only reading time but also word count. If we can get the information about the level of vocabulary from a text, I think we can get a more precise reading time. Plus, if we can get the information for a reader's mother tongue, I guess we can get more precise reading time based on a user's language group or langu

[2019-11-07 16:06] mskuybeda commented on #71
The parsed data from [Issue#16/PR#37](https://github.com/Seneca-CDOT/telescope/pull/37) can be stored in this database and can be communicated using js script. I will attempt to implement both. But feel free to give me suggestions.

[2019-11-07 16:06] humphd commented on #71
Let's try and do this with Redis first.  We probably don't need anything else.  You can use `ioredis` from npm to work against the Redis instance.

[2019-11-07 16:09] humphd opened #75 "Extract plain text form html"
We are building a bunch of pieces of our pipeline that will give us HTML, that is, a blog post from a user's feed.  What we also need for later parts of the analysis pipeline is the ability to work on plain text vs. html.

Let's add a parsing function that works like this:

- given some HTML as an argument
- parse the HTML using https://github.com/jsdom/jsdom into a DOM
- `querySelector()` for the

[2019-11-07 16:09] PavanKKamra commented on #75
Hello David,

I would like to attempt this issue.

Thank you,
Pavan K.

[2019-11-07 16:15] Cadesh commented on #74
The idea is to create a utils.js file to hold and export the method to validate the URLs. This utils.js file will have more functions in the future.
There are several possibilities to validate a URL:
1) is-url package: [https://www.npmjs.com/package/is-url](url)
2) validurl package [https://www.npmjs.com/package/valid-url](url)
3) with NodeJS url module [https://nodejs.org/docs/latest/api/url.html

[2019-11-07 16:18] cyh0968 commented on #7
I think we can use [reading-level](https://www.npmjs.com/package/reading-level) to measure the level of writing.

[2019-11-07 16:22] humphd commented on #75
OK @PavanKKamra, go for it.  Please ask questions in here, and keep us updated on your progress.

To get started, I would do the following:

- being a new branch `issue-75`
- add JSDOM using `npm install --save jsdom`
- add a new file to `src` named `text-parser.js` or something
- in your new file, create a function with this basic shape:

[code]

[2019-11-07 16:33] izhuravlev commented on #71
Hey @humphd  @mskuybeda,
I am interested in working on data storing via Redis. Can I help?

[2019-11-07 16:39] cindyledev commented on #73
Can I work on this with you? I can provide instructions and common errors with solutions for Linux (specifically Fedora).

[2019-11-07 16:45] smilegodly opened #77 "Darkmode js incorporation"
For me personally, Darkmode on a website is a must have as it becomes much easier to read all of the text that website. Seeing as the purpose for this website is reading blogs, it seems like a good idea to have the option to toggle darkmode on/off.

One option to achieve this is Darkmode.js
https://darkmodejs.learn.uno/

We can customize this to our needs (colors, animations, etc)

[2019-11-07 16:47] UltimaBGD commented on #7
That seems like a good plugin!

[2019-11-07 16:58] ragnarokatz commented on #39
@cindyledev This is not complete. You, or anybody is welcome to work on this issue.

This is supposed to be the follow up step after the initial commit of .editorconfig file. PR #36 fixed issue #31.

[2019-11-07 17:06] robertbegna commented on #70
i can work on this

[2019-11-07 17:21] humphd commented on #43
Travis is connected to telescope at https://travis-ci.org/Seneca-CDOT/telescope

[2019-11-07 17:21] lozinska opened #79 "Implement feature to see how long it will take to read the blog post"
I think it will be a good idea to have feature that will show the reader how long it will take to read the blog post

[2019-11-07 17:23] varshannagarajan commented on #62
Yeah absolutely!

[2019-11-07 17:24] dbeigi commented on #26
@humphd maybe we could have multiple reactions for people to use?

[2019-11-07 17:29] MusaBajwa commented on #73
Yeah go for it.

[2019-11-07 17:30] RyanWils commented on #79
Hi Krystyna,
I think this issue is already created.
refer to #19 and they also discussed this feature in #7

[2019-11-07 17:35] Silvyre commented on #4
Fantastic @Reza-Rajabi!

I've found a Kubernetes-related blog post via Planet CDOT that I wanted to share: https://medium.com/@andrewvrosa/the-cdot-telescope-project-01-76b40317b6d7

Let's collect a Kubernetes-related blog posts, like these, within this thread!

[2019-11-07 17:36] ragnarokatz commented on #61
#9 has been updated with latest changes from master & re-based. please some time to review.
the requirements/decisions to enhance the basic HTML file to .hbs or .pug can be captured in a follow-up issue.

[2019-11-07 17:40] Reza-Rajabi commented on #75
@humphd Do we need to close #16 now?

[2019-11-07 17:42] asyam1 commented on #70
@robertbegna I am currently working on it, once modules.md file gets uploaded to the project, feel free to update the information or add missing modules

[2019-11-07 17:42] Reza-Rajabi commented on #75
@humphd It looks similar to #16 to me.

[2019-11-07 17:43] smilegodly opened #81 "Ability to translate page to different languages"
We could add a drop down menu that displays a list of different languages. When the user clicks a language the text on the page gets translated to the selected language..
The page default should be English obviously.

[2019-11-07 17:43] humphd commented on #75
@Reza-Rajabi it's a portion of what happens after #16 I think.  We can make #16 be specifically about just parsing from url to xml.

[2019-11-07 17:48] birtony commented on #21
@jordanhui19 I initially intended to describe the feature to check the contents of each blog post for spam. However, checking for multiple instances of the same project should probably be filed as an issue as well!

[2019-11-07 17:48] #29 closed

[2019-11-07 17:50] vitokhangnguyen commented on #51
I can work on this issue and at the same time, switch all Promise-based then() catch() to async/await. Does that sound good?

[2019-11-07 17:52] Sbaah commented on #81
Hello, I would like to attempt this.

[2019-11-07 17:57] lozinska commented on #79
@RyanWils Thank you for letting me know, I missed that

[2019-11-07 17:57] #79 closed

[2019-11-07 17:58] mskuybeda commented on #71
@humphd Okay, we will move on with redis. The requirements and script will still kind of be in the same work load.

@izhuravlev Sure, we can work on these together if we can split it all of these into 4 pull requests so we both get a grade. @humphd is it a possiblity to for example create the database structure together and both of us get a grade? Its kind of a big pull request if compared to exis

[2019-11-07 17:58] ODAVING commented on #61
@Reza-Rajabi @lucacataldo Do you guys think we should close this, and create a new one for the whole .hbs or .pug? or should we enhance it first based on mockups?

[2019-11-07 18:01] izhuravlev commented on #71
@mskuybeda Thank you!
I believe we can probably separate this into two issues that will be correlated: one for Redis data storage implementation and another one for data retrieval script.

[2019-11-07 18:03] neilong31 opened #82 "Creating a Test that ensure's the email ability is working correctly"
Creates testing for feature in #25

I will be using nodemailer and ethereal to test that the we are able to send emails out.

Similar to [https://nodemailer.com/smtp/testing/](https://nodemailer.com/smtp/testing/)

[2019-11-07 18:05] asyam1 commented on #70
@robertbegna oh I see that you have already made the file and changes, thanks

[2019-11-07 18:06] izhuravlev commented on #71
I will start researching Redis, `ioredis` and will post here as soon as I have any updates.

[2019-11-07 18:10] robertbegna commented on #70
@asyam1 yep feel free to add changes to it, could you also review my pull request and help me get it merged thanks!

[2019-11-07 18:12] giatuongtran9 opened #83 "Test for issue #75"
A simple test to check if the html can be converted to text plain once #75  is merge

Test are written in [Jest](https://jestjs.io/)
Command to run test: **npm test**

Test is saved in **test** repo

[2019-11-07 18:15] ragnarokatz commented on #57
@ImmutableBox I don't believe this documentation issue has been completed, please correct me if I'm wrong.

[2019-11-07 18:18] ragnarokatz commented on #57
Please rename the section into "The list of things must be done by a contributor before filing a PR", so that it includes `jest`, `npm test`, `eslint` and whatever might be added in the future.

[2019-11-07 18:23] birtony commented on #19
@cyh0968 sure, sounds good! I have already started working on the word counter in https://github.com/Seneca-CDOT/telescope/pull/78, so now I am not sure if need it anymore?

[2019-11-07 18:23] Sbaah commented on #81
According to @humphd this is something that should be done, down the road after we have a working site. So i would like to retract my previous statement.

[2019-11-07 18:25] lozinska opened #84 "Implementing writing level"
I would like to add feature to check the writing level

[2019-11-07 18:25] lozinska opened #85 "Date and time of the post"
May be we can add feature that will show date and time when the post came up?

[2019-11-07 18:26] Grommers00 opened #86 "SAML2 - Middleware"
Please add the middleware that we can start using to start building out our SAML2 system

Do some research to make sure these are compatible before pushing and merging.

[2019-11-07 18:26] neilong31 commented on #86
@Grommers00 I'd like to work on this issue!

[2019-11-07 18:26] Grommers00 commented on #86
Cool, I assigned you!

[2019-11-07 18:27] Grommers00 opened #87 "Tests for SAML2"
We will need a list of tests that will test our SAML2 out. I believe these can be done before hand. Can anyone take charge?

[2019-11-07 18:28] RyanWils commented on #82
Hi Neil,
I will submit a PR for a basic email sending function so you can start on your tests.
Sorry I miss clicked on the close issue button.

[2019-11-07 18:29] cagomezr commented on #61
I m currently working a  quick  proof of concept of responsive , I do think we need to enhance  first

[2019-11-07 18:30] lucacataldo opened #88 "Write current data from worker to XML file"
It might be helpful for development / hacking something together to test if we have the data written to an xml file instead of printed to the console.

[2019-11-07 18:30] Grommers00 opened #89 "Create a test environment for SAML2"
Create a quick test environment to test out SAML2 and its flow.

[2019-11-07 18:33] smilegodly opened #90 "buymeacoffee button"
There is this cool website called Buy Me A Coffee: https://www.buymeacoffee.com/?=ga2
It is a website that you can pay creators by buying them a coffee if you enjoy their work.
Should we incorporate this into our Planet Cdot?

Let me know what you all think..

[2019-11-07 18:36] ODAVING commented on #61
I will be adding a channel to slack named "DPS909-Tele-FE" @cagomezr @lucacataldo @Reza-Rajabi @ragnarokatz feel free to join it. And we can discuss this further. I've read up on both .pug and .hbs, is there a reason why we should use either one, as opposed to containerizing the FE with REACT/Angular?

[2019-11-07 18:45] Grommers00 opened #91 "Create a dummy HTML site for SAML2 Testing"
Need a dummy SAML2 site for SAML2 testing this can be done with simple HTML and javascript and is used for testing purposes only.

[2019-11-07 18:45] agarcia-caicedo commented on #91
I would like to work on this issue

[2019-11-07 18:45] Grommers00 commented on #91
Sounds good I have assigned you

[2019-11-07 18:47] ImmutableBox commented on #57
Yup, you are correct. This hasn't been implemented yet.

[2019-11-07 18:49] ImmutableBox commented on #57
The CONTRIBUTING.md already has a list of things to be done (Setting up Redis, `npm install`), this issue is only suppose to add testing instructions.

[2019-11-07 18:49] ODAVING commented on #12
Is the mockup up to date for this issue? I'm starting on enhancing the HTML portion of it in issue #61

[2019-11-07 18:52] KarlaChen commented on #12
I want to do it as well. Is it possible to do it together?

[2019-11-07 18:53] vitokhangnguyen commented on #87
Thanks for the issue. I will collaborate with you on this.

[2019-11-07 18:55] UltimaBGD commented on #67
This was worked on and merged via #69.

[2019-11-07 18:55] #67 closed

[2019-11-07 18:55] dbeigi commented on #90
This issue might relate to #26 . I think this is a great idea.

[2019-11-07 18:56] cagomezr commented on #61
I should be on slack under same name , if not Carlos A Gomez.

[2019-11-07 18:58] Reza-Rajabi commented on #90
If we want to implement some donation feature, I suggest making our own rather than having payment to a mediator. Because CDOT and Seneca are known, we don't need to lock the donation system to any third party. A third party is a desirable choice for an individual who does not connect to any organization like a personal Github page.

[2019-11-07 18:59] dbeigi commented on #6
@humphd is it possible to help someone with their pipeline?

[2019-11-07 18:59] ODAVING commented on #12
@KarlaChen I'll add you to the slack channel, if it was containerized, with multiple pages, I'd say yes, but as of right now, it's just the index.html that's about it :(

[2019-11-07 19:56] smilegodly commented on #90
@Reza-Rajabi I disagree with your premise that we would want to connect Seneca and/or CDOT to donations/tips.

A third party works fine because at the end of the day we are all individual developers working on this project. Furthermore this solution helps to incentivize bug bounties or features that somebody wants added in the future.. It would serve as an extra motivation to get the ball rolling

[2019-11-07 20:04] haichuan0424 opened #94 "Implement blog post count by domain"
It is good to add a function to count the number of blog posts from each domain, such as Github, Wordpress, Medium, etc.

[2019-11-07 20:04] KarlaChen opened #95 "Test the function of counting each domain post."
There is a function to counting each domain posting, such as from WordPress, blogger. This function is counting how many blogs are coming from those domains.

[2019-11-07 20:04] KarlaChen commented on #94
@haichuan0424 Can I take it?

[2019-11-07 20:04] haichuan0424 commented on #95
Hi Karla, I'd like to work on this.

[2019-11-07 20:23] smilegodly commented on #90
Another idea I had in substitute of this would be to do tips/donations/bounties via crypto wallet public keys.

[2019-11-07 20:24] vitokhangnguyen opened #96 "Combine EditConfig, ESLint, and Prettier to manage code style and formatting"
A noticeable example of this is the size of code indentation: ESLint is expecting 2 spaces while EditConfig is specifying 4.

I can uniform these miscellaneous things.

[2019-11-07 21:00] mskuybeda commented on #71
@izhuravlev I wanted to do both and already started on database design. We can cooperate on that if you want.

[2019-11-07 21:42] ragnarokatz commented on #96
@vitokhangnguyen you should be able to set the parameters in the eslint config file. please refer to this link: https://stackoverflow.com/questions/48902050/eslint-airbnb-with-4-spaces-for-indent

[2019-11-07 21:51] ragnarokatz commented on #61
@ODAVING Bowei Yao

[2019-11-07 21:53] lucacataldo commented on #12
@ODAVING the mockup contains everything discussed in this thread but I haven't added anything from any other threads as of yet. Trying to get more people added to the XD document as contributors to spread the load and keep things up to date.

I agree though it's tough to split load in terms of templating and html cause it'll likely be one large doc and it won't work if everyone's working on the sa

[2019-11-07 21:56] wajeehsheikh commented on #6
Hi all,

Seeing that David is open to multiple CI
I would like to work on [Jenkins](https://jenkins.io)

Thank you,
Waj

[2019-11-07 21:59] wajeehsheikh opened #98 "Set up CI/CD pipeline at Jenkins"
Seeing that David is open to multiple CI/CD platforms.
I would like to work on [Jenkins](https://jenkins.io)

Thank you,
Waj

[2019-11-07 22:11] wajeehsheikh commented on #6
HI @dbeigi,
You can help me with setting up Jenkins for CI/CD if you want.
#98 Set up CI/CD pipeline at Jenkins.

Thank you,
Waj

[2019-11-07 22:53] humphd commented on #74
4. is out.  URLs are really tricky to get right in a regex.

[2019-11-07 23:28] Reza-Rajabi commented on #87
@Grommers00 I thought you want to work on some automation on our project board, and I apologize for that. Feel free to add a new page inside any boards that I made, or let me know if you want me to do so. If you want to make a separate project only for SAML2, it is also fine, but we can only have issues assigned to one project at a time. That means I don't need to (I can't) keep track of them. In

[2019-11-07 23:42] Reza-Rajabi commented on #90
@smilegodly What I meant by that is the fact that we are paying a part of the donation to the third party for their service, and I was saying let's use Seneca resources to donate, directly and completely, to the developers. So in this sense, I am in accord with you actually. I am not sure though if the whole thing is appropriate or feasible and just wanted to clarify that I would rather taking car

[2019-11-08 01:26] Reza-Rajabi commented on #61
Up to you. I suggest holding one issue for each task in the project.

[2019-11-08 01:36] dbeigi commented on #6
@wajeehsheikh 👍

[2019-11-08 01:37] dbeigi commented on #98
Hey @wajeehsheikh, I would like to help you set up the pipeline. Excited for the learning experience.

[2019-11-08 01:47] ODAVING commented on #61
I’ll keep it open for now, making the website resemble the mockups for now.

On Thu, Nov 7, 2019 at 8:26 PM rare <notifications@github.com> wrote:

[2019-11-08 03:50] s-arika commented on #60
@humphd  If I create an .env.sample file and have the developer fills in the values for the keys in the .env.sample file and rename it as .env file is that ok? Or should I just create both an .env.sample file and .env file and put the .env file in .gitignore.

[2019-11-08 03:58] s-arika commented on #60
@hansal7014 If you know the variables that you'll need, I could add them if you'd like

[2019-11-08 04:07] manekenpix commented on #60
I'd go with that option. Also, maybe we could call it .env.example?

[2019-11-08 04:20] s-arika commented on #60
Yes sorry got confused, even if I create a .env file and ignore it, we'll still need the .env.example

[2019-11-08 04:32] lozinska commented on #12
Hi guys @lucacataldo, @KarlaChen, @ODAVING I was reading through this discussion and I have some questions
1. What will go into IMG part?
2. Do you think it's important to show whole post or may be just first few sentences with ability to "show more" if user wish to continue reading?

[2019-11-08 04:35] KarlaChen commented on #12
@lozinska I prefer show more cause people can read a part of it and know they are interested in it or not.

[2019-11-08 04:48] cyh0968 commented on #84
you may refer [this link](https://github.com/Seneca-CDOT/telescope/issues/7#issuecomment-551151290). I think we can use [reading-level](https://www.npmjs.com/package/reading-level) to measure the level of the writing. you may refer [issue 19](https://github.com/Seneca-CDOT/telescope/issues/19). One thing I'm worried about is the duplication of the work since the level of the writing may affect the

[2019-11-08 05:08] lucacataldo commented on #12
@lozinska I think that's a great idea! As far as the <img> goes it was just intended to show how images might be positioned / formatted in a post should someone insert them. It doesn't necessarily mean that every post will have one.

[2019-11-08 05:19] cyh0968 opened #103 "Creating to-do-list on wiki page"
Right now there are 59 issues in the repository. Since a lot of contributors are participating in a compact timeline, it is hard to catch up with new information. As a result, we can find several duplication issues.

Perhaps, it is wasting to check if a similar issue exists already. Also, it is hard to see the whole picture and progress even though there is a project page.

If we make a list of wo

[2019-11-08 05:26] manekenpix commented on #103
I don't know, I think the search bar + filters + labels should be enough to keep track of what's going on. The search bar allows multiple types of filtering, and even the labels can help you isolate the area or type of issue one might be looking for.
I'm not sure about this, but I'd like to hear other people's opinions.

[2019-11-08 06:15] manekenpix commented on #96
@vitokhangnguyen I think the best solution would be getting rid of EditConfig. It seems ESLint is the one we're going to be using, so I don't see the need of having EditorConfig.

[2019-11-08 06:22] vitokhangnguyen commented on #96
@ragnarokatz Thank you for the link. I will fix the bug accordingly.

@manekenpix After some research, I find that there is still value to keep both. Although ESLint checks the code for quality and rule compliance, it does not adjust the configuration of the code editor. This can lead to situations that the contributor has to see a lot of errors/warnings during writing code before they run a comma

[2019-11-08 06:30] manekenpix commented on #96
@vitokhangnguyen how about using [prettier](https://www.npmjs.com/package/prettier) then? It's an npm package and it [integrates with linter](https://prettier.io/docs/en/integrating-with-linters.html) quite smoothly. Would you think it'd be a better option?

[2019-11-08 06:50] vitokhangnguyen commented on #96
@manekenpix Funny that you mention it. During my reading, I came across this article: https://blog.theodo.com/2019/08/why-you-should-use-eslint-prettier-and-editorconfig-together/
I think that using a combination of these 3 is a good solution too.

I can go ahead and configure for these 3 to work together smoothly.

[2019-11-08 06:58] vitokhangnguyen commented on #86
Issue #63 when solved can have great benefit for this issue

[2019-11-08 07:14] Reza-Rajabi commented on #103
I am trying to keep track of things using the project board. It has not enough features though, so I am trying to find complementary solutions.
I agree that the labels and filters can give us enough tools to find our way out, but still, we can use other tools to make a map/picture from the whole project, identify conflicts, find bottlenecks that are specific for our project. For instance, for this

[2019-11-08 07:31] Reza-Rajabi commented on #51
@robertbegna I am closing this issue since the related pull request is closed.
Please reopen it again if this is a mistake from my side.

[2019-11-08 07:31] #51 closed

[2019-11-08 07:47] Reza-Rajabi commented on #103
I just finished the project's board makeup and here is the project status right at this time:

- 10 ------ Discussions
- 04 ------ To-Do issues (not assigned tasks)
- 46 ------ Active issues (assigned/under-review tasks)
- 14  ------ Jobs done (merged pull request)
- 18  ------ Closed task (issue/pull request)

So almost everybody has got something. Impressive no? It seems like we can live on the

[2019-11-08 13:19] #61 closed

[2019-11-08 14:18] lozinska commented on #84
@cyh0968 Thank you for your comment. I think that reading-time and reading-level are part of the analysis that suppose to perform on the text mention in issue #7 and they are not a duplication of each others. This conclusion is based on the fact that reading time doesn't analyze the complexity of the text but just do rough estimation base on the plain text, while reading-level determine level base

[2019-11-08 15:55] lozinska commented on #84
@humphd please review if you have time and leave comment as well. Thank you

[2019-11-08 17:08] s-arika opened #106 "ESLint Errors in dialogue.js"
There are some lint errors in dialogue.js that needs to be corrected.

[2019-11-08 17:14] humphd commented on #84
Reading Level and Reading Time are indeed different things.  It's fine to do PRs for both (I think Reading Level is underway already).

[2019-11-08 17:26] humphd commented on #70
I'm going to close this, I don't think we need it.

[2019-11-08 17:26] #70 closed

[2019-11-08 17:56] cyh0968 commented on #103
I checked the project board. I agree that the issues and the project board are pretty cool. However, as you mentioned, it will be really nice to view the whole picture. And I realized that if one or two people manage the to-do-list on wiki page, it would be annoying and uncomfortable. I think we can use Github extension.  I found [an article](https://everhour.com/blog/project-management-using-gith

[2019-11-08 18:29] robertbegna opened #108 "Hook new feed parser into feed worker"
Hello,
My previous requests weren't able to get merged, and I am unsure of how to contribute to this project. Does anyone have any issues they could recommend for me to try?

[2019-11-08 18:54] asyam1 opened #110 "Implement trending, most viewed and other tags to blog post"
As seen on other websites, it would be nice to see hashtags and tags to find which is the most treading or latest blog post to read. We can use #26 to find which blog post has most views and likes to automatically arrange them. @humphd I would be happy to work on this if you think this is a good feature for the project

[2019-11-08 21:12] RyanMarzec commented on #26
I agree with @dbeigi idea, I think having a set of reactions would be the best implementation of this, similar to the reactions for the comments here to keep a positive environment. Then we can use the reaction count as a starting point to sort by trending mentioned in #110

[2019-11-08 21:13] #88 closed

[2019-11-09 01:12] humphd commented on #108
I'm going to morph this into a bug for @robertbegna.  We are about to land #37, which adds url to xml feed parsing.  We need to hook that into our feed worker.  We can do something really basic to start, and I've got a model in https://github.com/Seneca-CDOT/telescope/pull/37#pullrequestreview-314522718.

[2019-11-09 02:41] #16 closed

[2019-11-09 02:45] Reza-Rajabi commented on #103
@cyh0968 Great!

[2019-11-09 03:32] humphd opened #112 "Meta Issue for Best practices research on using Bull and Redis"
We're using Redis and Bull to implement our backend queue pipeline.  Most of our development team has never used either before, so this bug is a starting point for documenting things *other* established projects do when they use these two technologies together.  To start I've been going through these:

- https://github.com/sourcegraph/sourcegraph
- https://github.com/coralproject/talk
-  https://g

[2019-11-09 03:34] #15 closed

[2019-11-09 04:01] ragnarokatz commented on #57
@ImmutableBox @humphd
If you don't mind, can we please put this ticket on high priority and get it done/merged ASAP? I'm starting to see examples such as #76 and #106 where people are spending time fixing other people's code because the original author didn't run the linting/ tests before PR creation/subsequent merging.

Please name the section in CONTRIBUTING.md **The list of things must be done

[2019-11-09 04:05] humphd commented on #57
We really need to get #97 landed, which will stop this from happening, by running every PR through eslint/tests.  cc @kartik-budhiraja.

But I agree, someone should get a PR up that adds these instructions.  You're welcome to get the ball rolling if you want, since you already have some text above.

[2019-11-09 04:06] ImmutableBox commented on #57
Ill get this out of our hairs. Just give me a couple of minutes.

[2019-11-09 04:25] kartik-budhiraja commented on #57
@ImmutableBox would appreciate it if you could review PR #97 so we could get the pipeline up and running.

[2019-11-09 04:26] ImmutableBox commented on #57
😄

Sure. Let me finish this first.

[2019-11-09 04:36] manekenpix commented on #106
This issue was resolved in #107

[2019-11-09 04:36] #106 closed

[2019-11-09 04:42] jatinAroraGit opened #115 "Create Test for sentiment analysis of a blog."
Need to write test for code in https://github.com/Seneca-CDOT/telescope/blob/master/src/sentiment-analysis.js file to check its functionality.

I will take up this issue but will need help as I have not written tests from scratch. Also, other pull request are welcomed for fixing this issue.

[2019-11-09 05:14] #43 closed

[2019-11-09 05:21] ImmutableBox commented on #57
Resolve in https://github.com/Seneca-CDOT/telescope/pull/114.

[2019-11-09 05:21] #57 closed

[2019-11-09 05:41] Reza-Rajabi commented on #4
@Silvyre Thanks.

[2019-11-09 05:43] Reza-Rajabi commented on #4
I continue working on this issue as I listed above.

[2019-11-09 05:51] humphd opened #117 "Invalid CSS selector in planet.css"
[code]

`h1c` should probably be `h1`.  Someone might want to add an issue/pr to include [stylelint](https://stylelint.io/) like we have for eslint, to catch these types of bugs automatically.

cc @ODAVING, this came in with 0786e2cc it looks like.

[2019-11-09 05:52] manekenpix commented on #4
Add the list to the first message, maybe something like:
- [x] Add docker files to project
- [ ] Add documentation about Docker (deployment, rebuilding containers...)
- [ ] Adding Helm charts
- [ ] Deploy on Kubernetes
- [ ] Adding Health checks

[2019-11-09 05:53] humphd opened #118 "Add stylelint to our automated testing"
Some people are beginning to experiment with CSS, and it would be good to add linting for it, to catch typos and other bugs (#117 is an example that we could catch via automation).

Let's add [stylelint](https://stylelint.io/) similar to eslint, so it can be run automatically as part of `npm test`.

[2019-11-09 05:53] humphd commented on #117
Filed #118 for stylelint.

[2019-11-09 05:54] Silvyre commented on #4
Feel free to edit the original post to add tasks lists!

[2019-11-09 06:07] humphd opened #119 "Update eslint env for all environments we are using"
In `.eslintrc.js`, we currently define our environments like so:

[code]

This is good, but we should add a few more from the [list of possible env](https://eslint.org/docs/user-guide/configuring#specifying-environments), specifically:

- `node` - for node.js
- `es2017` - for ECMAScript 2017, which has `async`/`await`

[2019-11-09 06:20] humphd opened #120 "Add coverage reporting to Jest"
Having tests is great, but only if they test the code we have: all functions, branches within those functions (e.g., if/else), etc.  It can be hard to know if you are testing everything in your code without getting detailed reports.

One tool we can use is a test coverage report.  [Jest will automatically](https://jestjs.io/docs/en/cli#coverage) do this if we configure it.  Someone should enable c

[2019-11-09 08:37] jpjjulie commented on #120
Hi, I would like to work on this issue.

[2019-11-09 15:39] ImmutableBox opened #122 "Catch testing error and display a more user friendly error message."
Currently when running `npm test` you get this error if the Redis server is off:
[code]
Should catch this error and display a more user friendly error message.

Here is a link that may help facebook/jest#5311
- - -
I think this issue was mention before, but I couldn't find the issue relating to this one. Can close if it already exist.

[2019-11-09 16:04] humphd commented on #122
See previous discussion in https://github.com/Seneca-CDOT/telescope/pull/116#issuecomment-552070543 and #48.  CC @aprilllllllll

[2019-11-09 18:52] cindyledev commented on #118
Hi, I would like to work on this

[2019-11-09 19:28] lozinska opened #124 "Creating test for reading-level"
As all analysis that we perform on the incoming feed has to be tested we should also have test for reading-level issue #84

[2019-11-09 19:59] lozinska commented on #124
#84 Implementing writing level

[2019-11-09 20:14] lozinska commented on #124
#84

[2019-11-09 20:14] lozinska commented on #124
#84

[2019-11-09 20:16] lozinska opened #127 "Creating test for summary (issue #20)"
Testing of summary analysis issue #20 and issue #7

[2019-11-09 20:18] lozinska opened #128 "Creating test for reading time (issue #19)"
Testing reading time issue #19, #7

[2019-11-09 20:20] lozinska opened #129 "Test for analysis"
I just wonder if it will be possible to have one test for all type of analysis #19, #20, #84?

[2019-11-09 20:26] lozinska opened #130 "Check for multiples of the same blog"
As mention in issue #21 by @jordanhui19 we probably also check for multiples of the same blog that have been added

[2019-11-09 20:28] Reza-Rajabi commented on #129
I think each function might better be tested as a unit.
Related functionality requires integrity tests as well.
These three that you mentioned looks to have separated scopes.

[2019-11-09 20:33] Reza-Rajabi commented on #130
@lozinska Would you please put more words on the title of the issue to make it more clear?

[2019-11-09 20:40] Reza-Rajabi commented on #130
@lozinska I am wondering if I could change the title to "Check for ..." to make it clear for myself.

[2019-11-09 20:50] humphd commented on #130
@Reza-Rajabi, with things like this, just go ahead and edit things.  This is "our" code, these are "our" issues, etc., and anything we can do **together** to improve things is welcome.

[2019-11-10 03:42] humphd commented on #117
UPDATE: the work in #125 caught this, which is a good sign moving forward.

[2019-11-10 04:10] humphd commented on #75
In #83, an initial implementation of this is being landed, so the tests can pass.  We can probably improve this a bit by changing the JSDOM parsing to use [`fragment`](https://github.com/jsdom/jsdom#fragment) parsing, and simplify the code a bit.

[2019-11-10 04:13] humphd opened #133 "Silence npm logs when builds fail"
When tests fail, we spit out a bunch of useless `npm` error logs that have nothing to do with the actual problem, for example:

[code]

We can suppress this noise by adding an `.npmrc` file to our project root that contains the following line:

[code]

[2019-11-10 04:23] humphd commented on #75
If we can't get this to happen with JSDOM, we may need to switch to a full browser via Puppeteer, see https://github.com/GoogleChrome/puppeteer/issues/3260#issuecomment-422081505.

[2019-11-10 04:26] humphd commented on #75
NOTE for later: we can also use [`page.setContent(html)`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetcontenthtml-options) to render a snippet of HTML in a real DOM, before calling into it to get `innerText`.

[2019-11-10 06:45] zufishanali commented on #133
Hi @humphd, may I look into this?

[2019-11-10 13:50] humphd commented on #133
Go ahead @zufishanali.  This will be a 1 line fix, so you probably want to pair this with another issue for your release.

[2019-11-10 18:14] SeanPrashad commented on #60
Fantastic work on this @s-arika - I was wondering if we can close this issue now? 🤔

[2019-11-10 18:32] SeanPrashad opened #134 "Update CONTRIBUTING.md to specify starting Redis"
My Node version is `12.12.0` and my operating system is Mac OS Catalina `10.15.1 (19B88)`.

As a new individual to telescope, I was trying to setup the project using the steps listed under `Setup` found [here](https://github.com/Seneca-CDOT/telescope/blob/master/docs/CONTRIBUTING.md#environment-setup).

However, an error occurred after step 5 (`5. Run npm test`) which states that the `able to add

[2019-11-10 18:32] SeanPrashad commented on #134
I'll be happy to submit a patch for this 🦧

[2019-11-10 18:39] SeanPrashad commented on #134
As these are unit tests, it might be helpful to use [`redis-mock`](https://www.npmjs.com/package/redis-mock) to simulate a running instance of Redis to avoid this problem in the future.

[2019-11-10 19:11] cryolis commented on #59
I created PR for the parser, currently it displays data to the console, but later we can save it to json or db. I  commented out the code that saves the data to the txt file. It can be removed later or used for test purposes.

[2019-11-10 19:20] cryolis commented on #59
Also some of the feeds were written a bit different from the rest so I did a check to remove unnecessary tags. Like this one for example:

[href="https://amddeeb.wordpress.com/feed/]
name = Ahmed Deeb

It has "href=" inside square brackets, I'm not really sure how many more mistakes like that is in the feed list, cause its huge and I didn't go through the whole list, but if whoever notices, your w

[2019-11-10 21:00] jerryshueh commented on #22
So it seems that we're moving forward with JSON parsing. I've followed the development on the feed-parser and ended up at issue #108. Since I need the XMLs parsed to JSON, and I don't want to disrupt any work @robertbegna may be doing, I'll just try to blackbox the script as best as possible. For now, I'll just assume any feed data being passed around after going through the queue/ parser is in JS

[2019-11-10 21:57] humphd commented on #134
#122 is related to this as well.  A lot of people are stumbling on this.  We should fix it in a few ways (docs, better error message, etc).

redis-mock is interesting.  We could consider this, but we're already running Redis in CI, so it's not critical.  Probably worth filing another issue on it at least.  The work in #71 could likely benefit from it in testing as well.

[2019-11-10 23:02] aprilllllllll commented on #122
Yes, I am working on this.

[2019-11-11 00:30] #118 closed

[2019-11-11 02:01] zufishanali commented on #133
Thanks @humphd. Yes, for sure!

[2019-11-11 02:22] #133 closed

[2019-11-11 02:24] s-arika commented on #60
Yup, thanks @SeanPrashad !

[2019-11-11 02:24] #60 closed

[2019-11-11 02:31] jerryshueh commented on #96
Which style are we going with? This conflict is causing eslint testing to fail, we should decide on a standard soon. There's also other default rules such as `noplusplus` which shouldn't affect the readability of the code. Unless we want to enforce rules like that as a standard going forward.

[2019-11-11 02:33] humphd commented on #44
This turns out to be impossible in the short term with our CDOT org type on GitHub, closing.  My apologies.

[2019-11-11 02:33] #44 closed

[2019-11-11 02:33] vitokhangnguyen commented on #96
We are  going with most of the rules of [Airbnb Coding Styke ](https://github.com/airbnb/javascript) with some changes, I suggest, such as indentation size of 4 spaces in stead of 2,

[2019-11-11 02:35] humphd commented on #96
By the way, my goal this week is to get all of EditorConfig, eslint, and Prettier integrated in our repo.  They can, and should!, live happily together.

[2019-11-11 02:39] humphd commented on #96
I'm going to morph this bug so that it's about getting these three to work together.

In class on Monday/Tuesday I'll talk about Prettier in depth.  @vitokhangnguyen are you OK to own this in its expanded scope?  NOTE: one thing that will be a bit tricky about this will be timing the merge, since it will reformat all the existing code while people are still doing PRs.  We might want to schedule it

[2019-11-11 02:40] humphd commented on #96
btw, [VSCode](https://github.com/Microsoft/vscode) is an example of a project that uses all 3 together.  It's pretty common now.

[2019-11-11 02:43] vitokhangnguyen commented on #96
Hi @humphd,

I am more than happy to own the expanded scope. As you mentioned, I will configure the tools, pull the `master` branch and make the PR on Friday night/Saturday morning so all codes are well-formatted.

[2019-11-11 03:10] humphd commented on #7
This is underway in numerous PRs now and follow-up Issues with more specific details.  Closing in favour of the work happening there.

[2019-11-11 03:10] #7 closed

[2019-11-11 03:12] humphd commented on #10
I think at this point we're treaing `master` as deployment/integration target, and using feature branches.  Our production builds are a ways off, and will likely not happen in git at all, but via docker images being pulled into our cluster.

Since we're on our way, and this hasn't got a lot of discussion, I'm going to close for now.  Let's re-open an issue on anything specific we come up with late

[2019-11-11 03:12] #10 closed

[2019-11-11 03:15] humphd commented on #6
We've got good tickets covering the specifics of this now, closing in favour of those.

[2019-11-11 03:15] #6 closed

[2019-11-11 03:17] humphd commented on #2
I think this is well in hand now in follow up issues/prs that address specifics of the above.  Closing in favour of what's happening there.

[2019-11-11 03:17] #2 closed

[2019-11-11 03:35] wajeehsheikh commented on #4
1. Did anyone push the telescope GitHub project to a repo on the Docker hub yet?
2. Enable automated image builds and pushes to the registry, when new merges are approved?

If not, I would like to help with that.

[2019-11-11 03:51] humphd commented on #96
https://blog.echobind.com/integrating-prettier-eslint-airbnb-style-guide-in-vscode-47f07b5d7d6a is another good read on how to approach this.  There are a few ways.

[2019-11-11 03:53] vitokhangnguyen commented on #96
@humphd
Thank you for the link. I will make a **draft** PR soon so people can suggest changes but won't finalize it until all codes come in for re-formatting.

[2019-11-11 04:05] ODAVING commented on #117
@humphd Sorry, didn't see this issue until now. h1c is a different custom class. I didn't want to alter h1 as it causes a bug in the "participants page" heading.

[2019-11-11 04:05] humphd commented on #117
If it's a custom class, please prefix it with `.`

[2019-11-11 04:06] ODAVING commented on #117
Custom tag. my mistake

[2019-11-11 04:08] humphd commented on #117
HTML5 doesn't allow for custom element definition like this.  Please use standard HTML/CSS, and create a class.

[2019-11-11 04:31] #117 closed

[2019-11-11 05:19] sukhbeersingh commented on #45
Hey @Reza-Rajabi do you need help with this? My submission for Github Actions couldn't be merged due to limitations of beta program.

[2019-11-11 06:07] Reza-Rajabi commented on #4
Hi @wajeehsheikh ,
Currently, @manekenpix, @Silvyre, and I are working on this issue based on the list at the beginning of these comments (the action plan at the bottom). I would be more than happy to have your help here as well. Here is the detail report of what we have so far from my point of view and my understanding:

What we have:
 - We have made Docker files for build and run locally. (sorry

[2019-11-11 16:02] Reza-Rajabi commented on #45
Hi @sukhbeersingh my pleasure. I absolutely need help for that. So far I have learned that we need to make a Circle account and add its dependency on our repo. So feel free to start working on it.

[2019-11-11 16:49] wajeehsheikh commented on #4
@Reza-Rajabi
This is very helpful.
I can start working on:

- creating docker files for dev and debug environments.

- Creating an official Seneca account or using a current one on Docker hub to push the project on.

[2019-11-11 19:45] Reza-Rajabi commented on #4
I have used [CloudNativeJS](https://github.com/CloudNativeJS/docker) Docker templates for the one that we have now. You might find them helpful.

[2019-11-11 19:55] zufishanali commented on #112
Hi @humphd , I would like to take on the first portion of Redis.

[2019-11-11 20:26] evlnyng commented on #130
Is there anyone working on this right now? If not, I'd like to give it a shot.

[2019-11-11 21:14] jerryshueh commented on #96
What should we do in the meantime for eslint tests? Would including the config file edits violate the context of the PRs, as they technically aren't related to other issues (seeing as how hard we're cracking down on that)?

[2019-11-11 22:49] humphd opened #144 "Specify redis url in our config"
Split off from #112, this deals with specifying server info about redis in our env, and reading that in when we create a queue.

We should move the Redis URL into our .env and when we make Bull Queues, pass this URL on via the constructor. With #105, we can do this. Doing so will make it easier to switch between development and production environments:

[code]

[2019-11-11 22:57] humphd commented on #130
@evlnyng I'm worried that this bug isn't well scoped, and it's going to be hard to finish it without more pieces in place.

Can I suggest another one for you to consider?  In #35 @hansal7014 is adding logging support.  Once that goes in, I want to add proper logging to our feed queue.  It would mean modifying the code in `src/feed-queue.js` to do essentially what they do in [this code](https://git

[2019-11-11 22:58] evlnyng commented on #130
@humphd I will take that advice. Thank you!

[2019-11-11 23:08] evlnyng opened #145 "Add logging to events in the feed queue"
As suggested by @humphd in #130.

[2019-11-11 23:25] robertbegna opened #148 "Implement a Visitor Counter/Page Hit for main CDOT page"
I thought it might be a good idea to implement this feature. As users are scrolling through various feeds, it will help users determine what blogs are most visited or interesting reads

[2019-11-11 23:52] Manan311 commented on #119
Hello humphd,

If it is okay I would like to work on this and if this issue could be assigned to me.

Thank You,
Manan311

[2019-11-12 02:37] humphd opened #151 "Confine CSS to its own directory, update stylelint"
In https://github.com/Seneca-CDOT/telescope/pull/66#discussion_r344993179 we ran into an issue where our `stylelint` checks are looking at files that aren't relevant.  Right now, we're [checking every file that *isn't* being ignored](https://github.com/Seneca-CDOT/telescope/blob/master/package.json#L8).  Let's flip this around and *only* check files in certain paths.

To do this, let's move our fr

[2019-11-12 05:52] cindyledev commented on #151
After this gets approved, someone should edit the index.html file links to planet.css in its new location.

[2019-11-12 05:54] ODAVING commented on #151
Tag me when this is done and I’ll do it

On Tue, Nov 12, 2019 at 12:52 AM Cindy Le <notifications@github.com> wrote:

[2019-11-12 17:17] izhuravlev commented on #127
I can work on it

[2019-11-12 17:58] lucacataldo opened #153 "Base html template and style doesn't render properly and needs work"
@ODAVING and everyone who worked together in #12 & the frontend slack channel did a great job of creating a base HTML for us to work with from the template but it needs some work and cleaning up to get it ready for proper templating. I'd like to rework the structure of the HTML to make it more understandable and easier to feed content into. Additionally, while doing this, some of the CSS will need

[2019-11-12 18:14] birtony commented on #112
Hey @humphd, it would've been nice if I could work on the second point from the Redis portion.

[2019-11-12 18:36] jordanhui19 opened #155 "Checking for duplicate feeds"
There needs to be a way to check whether or not a feed has already been added to prevent duplicates of a feed from being added.

[2019-11-12 18:51] c3ho opened #156 "Create testing for feedparser"
For the recent PR #37. There are no test cases available. Assigning issue to myself with help from @evlnyng.

[2019-11-12 21:08] robertbegna opened #159 "Add a try-catch block in sentiment.js to handle possible errors"
I would like add some error handling in this function for good measure

[2019-11-12 21:15] ThomasLuu00 commented on #127
I have already included testing for the summary feature PR #20. Once its merged you may add any other tests to the summarize.test.js file.

[2019-11-12 21:34] robertbegna opened #161 "Add a footer to index.html"
Noticed that index.html was missing a <footer> tag. Things such as the Copyright and Number of Visitors could be added here to the main page

[2019-11-12 21:38] ThomasLuu00 opened #162 "Update stylelint to only target specific directories"
Issue was noticed by @humphd, as stated in https://github.com/Seneca-CDOT/telescope/pull/66#discussion_r344993179.

Can we do a fix so everything but specific directories are targeted by stylelint?
This way people don't need to constantly add exceptions into the .stylelintrc.js file.

[2019-11-12 21:45] ThomasLuu00 commented on #162
Realized this is duplicate to issue #151 so I'm closing this

[2019-11-12 21:45] #162 closed

[2019-11-12 23:35] humphd commented on #112
Co-ordinate with @zufishanali, who is doing something similar.  See if there is anything left for you to do.

[2019-11-12 23:35] humphd commented on #155
Ironically, this sounds like a duplicate as well, see #130

[2019-11-13 00:26] lucacataldo commented on #33
@brucremo hey any progress on this or would you like me to take over / help out?

[2019-11-13 00:26] humphd commented on #151
By the way, we need to move all of our frontend web files (`index.html`, `pagination.js`, etc) out of the root and into `src/frontend/*`.  The `planet.css` is happening in the PR for this, but after that lands, can someone file an Issue/PR to do the rest?  We shouldn't have any source files in the root, only project config files.

[2019-11-13 00:45] jordanhui19 commented on #155
Alright, I'll close this one

[2019-11-13 00:45] #155 closed

[2019-11-13 00:52] #151 closed

[2019-11-13 01:46] dbeigi commented on #84
@lozinska is this feature still being worked on?

[2019-11-13 02:15] dbeigi opened #167 "Test case for Extracting of URLs from blog feed"
Goal is to write some test cases for the issue #102

[2019-11-13 02:47] lozinska commented on #84
@dbeigi you can work on it

[2019-11-13 02:50] humphd commented on #167
@dbeigi I assume you're doing this?  If so, assign yourself.  If not, ignore this.

[2019-11-13 03:04] lozinska opened #168 "Move all frontend files from root"
We need to separate frontend files (index.html, pagination.js, etc) from root to src/frontend/*. Keep in root only configuration files

[2019-11-13 03:05] humphd commented on #168
NOTE to whoever does this: use `git mv` not `mv`

[2019-11-13 03:41] robertbegna commented on #168
i'll work on this

[2019-11-13 04:52] #119 closed

[2019-11-13 05:48] Reza-Rajabi commented on #129
@lozinska Do you think we should have this issue still open for more ideas?

[2019-11-13 07:26] zufishanali commented on #112
Hi @birtony, feel free to work on it if you like! Here is PR #171 for reference on progress thus far.

[2019-11-13 12:00] brucremo commented on #33
Good morning @lucacataldo! I am almost done with my last sketch and should have the PR up by the end of today, got some nice things cooking!

[2019-11-13 14:14] lucacataldo commented on #33
Awesome @brucremo I'm looking forward to it! 👍

[2019-11-13 16:08] #47 closed

[2019-11-13 16:24] izhuravlev commented on #112
Hey @birtony, @zufishanali, @humphd
If nobody has taken the Queues part - I would be happy to open an issue related to it and work on it.
Does this sound good?

[2019-11-13 16:28] izhuravlev opened #172 "Implement Queue Failed Feeds/Downloads Behaviour"
As described by @humphd in Issue #112:
"One of our design goals is to have failed downloads of feeds get automatically retried some number of times, but to apply an exponential backoff so we don't just go into an endless loop of failure. [This code shows one way to do this via options to the Bull queue.](https://github.com/syuilo/misskey/blob/873444c3c6f7e3b9ecb6cce569d8cdb3fa032012/src/queue/inde

[2019-11-13 16:30] izhuravlev opened #173 "Implement Queue Shutdown"
As mentioned in Issue #112, We need to add a "graceful shutdown" for each queue, in the case that the process is being killed (by OS, user initiated via SIGHUP, etc).  The [docs on this with Bull are here](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueclose), and you can see it happen in [this file](https://github.com/Chocobozzz/PeerTube/blob/2b4dd7e26d93c2d9bef4f365cb03c511ef

[2019-11-13 16:31] izhuravlev commented on #173
I will be happy to work on that

[2019-11-13 16:38] miggs125 commented on #120
FYI this can be done by configuring jest by adding the following to the package.json file:
[code]
Here we are telling jest to collect coverage, the type of format, ignore coverage for node_modules and the test environment (node). You can also opt to configure jest in a ```jest.config.js ``` file instead. Depending on the amount of configuration you'd like to include, the latter might make more sen

[2019-11-13 17:01] Reza-Rajabi commented on #4
@RyanWils Your pull request will close this issue since you have #4 in the title of your commit.

[2019-11-13 17:21] lozinska commented on #129
@Reza-Rajabi Yes, i'm closing now

[2019-11-13 17:21] #129 closed

[2019-11-13 19:41] humphd commented on #112
@izhuravlev that would be great.  I see you filed some issues for it.

[2019-11-13 19:55] humphd commented on #168
This was fixed with https://github.com/Seneca-CDOT/telescope/pull/170, but the GitHub comment wasn't correct.  Manually closing.

[2019-11-13 19:55] #168 closed

[2019-11-13 19:56] humphd opened #174 "Move src/dialogue.js to src/frontend"
We have a stray frontend file in `src/` but we're moving all of those files to `src/frontend/*`.  We need to move `src/dialogue.js` into `src/frontend` and also update all the files in `src/frontend` so their paths work relative to their new home (i.e., use relative paths from `index.html` so they can all find each other).

[2019-11-13 20:29] wajeehsheikh commented on #161
I can add a footer!

[2019-11-13 20:30] wajeehsheikh commented on #174
I can fix this issue.

[2019-11-13 20:39] robertbegna commented on #172
Sure I'll try this

[2019-11-13 20:49] zufishanali commented on #174
Since @humphd has mentioned updating all files in `src/frontend`, I wanted to point out that there are currently 2 `planet.css` files present in the repository. One is in `src/frontend` while the other is in `src/frontend/style`. As per issue #151, the preferred location for `planet.css` appears to be `src/frontend/style`. I wasn't sure if I should create a new issue for this.

[2019-11-13 20:59] wajeehsheikh commented on #174
No need to create another issue.  I can change the paths for all files pointing to `src/frontend/style/planet.css `to `src/frontend/planet.css` aswell.  Unless its the issue you wanted to work on?

[2019-11-13 21:06] #159 closed

[2019-11-13 21:11] cyh0968 commented on #19
reading time = word count / the number of word per min
reading level = reading difficulty (the level of writing level) x reading time

I think they are highly coupled together, what about making them as one class? such as basic analysis?

[2019-11-13 21:30] zufishanali commented on #174
@wajeehsheikh Oh no, I just wanted to point it out in case. You may continue working on it. Thanks!

[2019-11-13 21:35] #144 closed

[2019-11-13 21:44] mskuybeda commented on #59
@humphd  I will make functionality that will receive the data parsed by @cryolis and send them to redis db.

[2019-11-13 22:06] mskuybeda commented on #71
@humphd I will do the functionality to pass the parsed data made by @cryolis as a pull request. It will be passed to redis db which can be implemented in the next couple of weeks. I will use this issue as a branch

[2019-11-13 22:14] humphd commented on #71
"next couple of weeks" is not going to work.  I'm looking for something "this week."  We already have a Redis database attached to our project.  All you need to do is use https://github.com/luin/ioredis to connect to it from node.js, and store your data in a key.

[2019-11-13 22:16] humphd commented on #19
@cyh0968 they can be combined eventually, but we have two people approaching the problem at once, and two pull requests with tests.  Let's take both, and then refactor our code to include both tests, but share the implementation.

[2019-11-13 22:23] jpjjulie commented on #120
Thank you very much @miggs125

[2019-11-13 22:41] #63 closed

[2019-11-13 22:43] humphd commented on #62
The Express web server just landed on `master` (thanks @miggs125)!  You can do this easily now.  Take a look at the code in `src/server` to hook your route into it.

[2019-11-14 00:21] dbeigi commented on #167
Oh I seem to forget to assign myself

[2019-11-14 00:26] dbeigi commented on #167
@smilegodly did you want to work on this together?

[2019-11-14 01:13] smilegodly commented on #167
@dbeigi
It's already in process of being written.
Thanks though for the offer.

[2019-11-14 01:44] dbeigi commented on #115
@jatinAroraGit I can help you with doing some testing on this code

[2019-11-14 02:15] #120 closed

[2019-11-14 15:12] #20 closed

[2019-11-14 15:50] #45 closed

[2019-11-14 16:20] #153 closed

[2019-11-14 16:23] sukhbeersingh opened #181 "Run CircelCI on windows and mac environment"
The current config file only runs CI on a linux environment. We should add support for running the integrations on windows and mac environments.

[2019-11-14 16:30] sukhbeersingh opened #182 "Run Travis CI on windows and mac environment"
The current [travis config](https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml) file only runs CI on a linux environment. We should add support for running the integrations on windows and mac environments.

[2019-11-14 16:46] Manan311 commented on #182
Hey, @sukhbeersingh I could work on adding support for window and mac environments for the current Travis config.

[2019-11-14 16:47] robertbegna commented on #181
I'll try working on this

[2019-11-14 16:47] robertbegna commented on #172
this issue is free for others to try

[2019-11-14 16:53] Manan311 commented on #182
Quick question, is there any specific version you need for mac? By default, Travis ci uses macOS 10.13 and Xcode 9.4.1 but there are other versions it also supports. The list can be found [here](https://docs.travis-ci.com/user/reference/osx/). For Windows Server, version 1803 is currently the only one supported.

[2019-11-14 17:26] #83 closed

[2019-11-14 17:32] jayson528 commented on #108
i spoke with the prof in class and i was assigned to this issue

[2019-11-14 18:08] Manan311 commented on #182
I am going to add the default configuration for mac and add the windows config and send in a pull request. If you want this changed let me know and I will change it.

[2019-11-14 18:26] PavanKKamra opened #187 "Switch from JSDOM to Puppeteer"
JSOM does not support innetText. After testing, innerHTML and textContent works fine but innerText will return 'undefined'. Furthermore, JSDOM does not support new line when converting from HTML to text. We need to switch to a full browser via Puppeteer.

[2019-11-14 18:43] sukhbeersingh commented on #182
Lets go with the defaults. Thanks for picking this up.

[2019-11-14 18:59] humphd commented on #181
Looking at https://circleci.com/docs/2.0/configuration-reference/ I can see two examples:

1. Windows - https://circleci.com/docs/2.0/configuration-reference/#example-usage-3
2. macOS - https://circleci.com/docs/2.0/configuration-reference/#example-usage-2

I think if we follow these configs, it might get us close.

@sukhbeersingh I know you worked on the original code, and I spoke with @robertbeg

[2019-11-14 19:23] cagomezr opened #189 "Mobile issues"
With the new Html designed we have a few issues with font size on mobile menu, and on mobile  there is mild issues with area of access in iphones and  small phones, so fixing that issue

[2019-11-14 19:40] #174 closed

[2019-11-14 19:45] cindyledev commented on #189
Yeah, we should make it responsive.

[2019-11-14 20:00] RyanWils opened #190 "Create an Email Templates for NodeMailer"
I created a basic email sender in issue #25. In this issue I would like to create a email template to make it easier to send emails/ will be more visually appealing than plain text.

[2019-11-14 21:24] c3ho opened #191 "High Severity Vulnerability found when running npm install"
[code]

Just did a git pull upstream master right now and got the high severity vulnerability message.

[2019-11-14 21:53] jatinAroraGit commented on #115
Hey @dbeigi ,
In case you wondering what the function returns it returns a promise object which looks like this :

{ score: 1,
  comparative: 0.010638297872340425,
  calculation: [ { progress: 2 }, { hard: -1 } ],
  tokens:
   [ 'the',
     'external',
     'project',
     'named',
     'tachiyomi',
     'is',
     'a',
     'project',
     'built',
     'using',
     'kotlin',
     'you',
     'c

[2019-11-14 22:12] cryolis commented on #59
I managed to push my commits to upstream/issue#59 branch but they are not shown in the PR that was created. Should I create another PR?

[2019-11-14 22:14] #75 closed

[2019-11-14 22:14] c3ho commented on #59
@cryolis try pushing to origin instead with your branch

[2019-11-14 22:27] cryolis commented on #59
I think I did it but it pushed like 20 commits with it.

[2019-11-14 22:40] c3ho commented on #191
![image](https://user-images.githubusercontent.com/18711727/68902282-e23b7600-0705-11ea-88a9-de7f8e526fa8.png)

[2019-11-14 23:34] #25 closed

[2019-11-14 23:46] dbeigi opened #197 "add test case for issue #22"
Need test cases for this issue #22

[2019-11-14 23:55] #22 closed

[2019-11-14 23:58] #74 closed

[2019-11-15 00:10] jerryshueh commented on #197
Thanks @dbeigi for opening this issue. To clarify, the inactive blog filter needs tests to verify it's actually returning properly for `update()` and `check()` functions.

`check()` should return `false` if an item is **not** filtered (aka not listed in the redlist JSON), and `true` if it **is** redlisted.

`update()` parses the entire feeds list (from the text file, for now) using our feed-parser

[2019-11-15 00:13] jerryshueh opened #199 "Make inactive blog filter update asynchronous"
Right now the `update()` function in the inactive blog filter module is no asynchronous by design. It may be more efficient to change it to an async function that resolves/rejects a promise upon completion.

[2019-11-15 00:39] #59 closed

[2019-11-15 01:23] varshannagarajan opened #202 "Restrict access to admin route"
The admin routes (`/admin/*`) should only be accessible to developers, we should add some kind of auth service to prevent this.

[2019-11-15 01:33] varshannagarajan opened #203 "Document REST API"
We have added some different route such as the one to view the bull queues. We should add some documentation on how to use it and any new routes we add.

[2019-11-15 02:26] #35 closed

[2019-11-15 02:31] miggs125 opened #204 "Update Backend to Use Logger"
#142 has landed and we can start logging instead of calling ```console.log```. We need to update the existing backend code.

[2019-11-15 02:42] kartik-budhiraja commented on #204
I will take this over.

[2019-11-15 03:02] #54 closed

[2019-11-15 03:10] lozinska opened #205 "Add watch option to Jest"
Watch will watch for the files that has changes and rerun tests related to that file

[2019-11-15 03:16] manekenpix opened #206 "Switch from `bent` to `node-fetch`"
Right now, telescope is using both [`bent`](https://www.npmjs.com/package/bent) and [`node-fetch`](https://www.npmjs.com/package/node-fetch) for requests.  To avoid having multiple dependencies for doing the same, we should go with just one of them. `node-fetch` seems to be a bit more versatile than `bent`, so it'd be a good idea to replace it with `node-fetch` wherever is used.

[2019-11-15 03:27] Silvyre commented on #197
Looking into this.

[2019-11-15 03:39] manekenpix opened #208 "Use mock responses when testing the GitHub data fetching tool"
Currently the test for the tool to fetch data from GitHub's API is not using mock responses, which has the potential to fail (network down, API down, throttling, etc).
It'd be interesting to replace the responses to make sure the tests fail when they have to, and not because of external factors.

@humphd suggested [nock](https://www.npmjs.com/package/nock), and [jest-fetch-mock](https://www.npmjs.

[2019-11-15 04:57] c3ho opened #210 "Need a package to create mock network requests"
Please see #192 for this issue. Some tests such as the one below uses a real blog as a test. In the case this blog is removed, this test will fail.

[code]

@humphd has mentioned using https://www.npmjs.com/package/jest-fetch-mock to create mock network requests

[2019-11-15 05:02] #156 closed

[2019-11-15 05:04] manekenpix commented on #208
See #210

[2019-11-15 05:04] manekenpix commented on #210
See #208

[2019-11-15 05:05] c3ho commented on #208
Sorry, did not notice you created this issue. I can close mine if you want!

[2019-11-15 05:12] manekenpix commented on #208
@c3ho I think we should keep both, or if anything yours, mine is too specific.

[2019-11-15 05:13] manekenpix commented on #208
Or you can create an issue specifically for what you were working on. It was `feedParser`, right?

[2019-11-15 05:44] c3ho commented on #208
Yeah, specifically the unit testing for it.

[2019-11-15 08:21] Silvyre opened #213 "Establish guidelines for writing Jest tests"
Presently, across all [merged](https://github.com/Seneca-CDOT/telescope/tree/master/test) and [pending](https://github.com/Seneca-CDOT/telescope/pulls?q=is%3Apr+is%3Aopen+label%3A%22type%3A+test%22) test files, an assortment of testing syntax is used, and few structural similarities exist. For example, some testing files use [`describe()`](https://jestjs.io/docs/en/api.html#describename-fn), while

[2019-11-15 10:34] Manan311 commented on #182
PR# [212](https://github.com/Seneca-CDOT/telescope/pull/212)

So for the mac and windows, config am I suppose to start the Redis server as well or just have them installed? When I have the servers running it waits for a connection until Travis times out and kills the test.

[2019-11-15 12:55] #108 closed

[2019-11-15 12:56] humphd commented on #182
Our tests connect to a running Redis instance, yes.

[2019-11-15 14:18] miggs125 commented on #213
This is a great idea!. We should do this in the [CONTRIBUTING](https://github.com/Seneca-CDOT/telescope/blob/master/docs/CONTRIBUTING.md) file

[2019-11-15 15:16] sukhbeersingh commented on #181
Surely, @robertbegna let me know if you need any help. If you look [here](https://circleci.com/docs/2.0/hello-world-windows/), CircleCI has cmd, poweshell and GNU bash. You can specify whichever one you want to make your executor and then you can run commands of that shell. I would lean more towards bash.
Also check the list of software that is pre-installed with the windows env(Node is one of the

[2019-11-15 15:30] wajeehsheikh opened #215 "Remove duplicate dialogue.js from src folder"
Fixing my original closed pr #185

[2019-11-15 15:55] Manan311 commented on #182
<img width="865" alt="Screen Shot 2019-11-15 at 10 40 08 AM" src="https://user-images.githubusercontent.com/50086671/68956356-e1522500-0795-11ea-9540-1cdfbcb9f389.png">
 Once I start the Redis server, the above screenshot, it gets initialized and is in a state to accept a connection but I am not too sure how the connection will actually be set. Right now I am just trying to make mac os run, so to

[2019-11-15 16:06] cindyledev commented on #191
I'm currently experiencing this too on Linux

[2019-11-15 16:35] hansal7014 commented on #206
Hi @manekenpix,
I would like to work on this. Thanks.

[2019-11-15 17:51] #115 closed

[2019-11-15 17:55] humphd commented on #182
When we do `npm test` it will create a connection and then close it.

[2019-11-15 19:51] Silvyre commented on #197
Testing for `check()` was merged in #211.

As @jerryshueh mentioned, in order to produce proper testing for `update()`, we'll need to set up some testing conditions (e.g. a mock version of `feed-redlist.json`), or alter `update()`. If anyone has any ideas or suggestions regarding this, feel welcome to post them!

[2019-11-15 20:30] nazneennahar opened #220 "Wiki feed parser Testing"
Wiki Feed parser has the JS file but needs a testing file .

[2019-11-15 20:43] jatinAroraGit opened #221 "Uncaught error in dialogue.js"
Type: Bug.
Area: Front-End

**Description**:
There is an error originating from  dialogue.js file.

**How to reproduce**:
Make sure you are running the latest copy of the project.

1. Open index.html
2. In Chrome , open Developer settings and go to console tab

You will see the following error:

![image](https://user-images.githubusercontent.com/28763265/68974214-2c802e00-07be-11ea-862c-f20b203164

[2019-11-15 21:21] #89 closed

[2019-11-15 21:22] jatinAroraGit opened #222 "Add Support for Dark Mode"
Type: Feature Request
Area: Front-End

**Description**:
Add a feature to support dark theme throughout the UI of the website.

**Detail**:

Many desktop and mobile application have now the functionality to enable dark mode/theme for the application.
It would be a nice thing to have as the Telescope project is meant for reading blogs and it with  a dark theme it can reduce the glare and blue light

[2019-11-15 21:32] jerryshueh commented on #197
We _could_ pass `update()` the parsed JSON rather than the module reading the redlist itself. It was one of the things I debated, but in the end I decided to have the module handle everything because I wanted to blackbox it at the time. Also, since the parsing of feeds is asynchronous, the final JSON will not be the same each time, even if the URLs we pass are the same, because it all depends on t

[2019-11-15 21:45] #94 closed

[2019-11-15 21:50] humphd commented on #221
Looks like a DOM timing bug on startup, wrap this in a `DOMContentLoaded` event.

[2019-11-15 21:58] #215 closed

[2019-11-15 22:03] c3ho opened #224 "Files in src need proper documentation"
I noticed some of the source files(including mine) are missing proper documentation, such as comments describing the functions , parameters and what it returns.

There are a few good examples in the src directory at the moment, such as email-sender.js, github-url.js we could use as an example. I suggest we pick one of the two and use it as a standard going forward.

[2019-11-15 22:06] humphd opened #225 "Test failures on Travis with test/github.test.js"
I'm seeing this a bunch, only on Travis (e.g., https://travis-ci.org/Seneca-CDOT/telescope/builds/612600779#L231):

[code]

I wonder if we need to add a token to Travis' environment?  I wonder if we're hitting rate limiting from the Travis IP?

This might also get fixed with #208.

cc @manekenpix

[2019-11-15 22:10] neilong31 opened #226 "Issue in emailsender.js"
it seems like const transporter = nodemailer.createTransport('SMTP', {  is an old format which is failing on the Travis Ci.
You can remove the 'SMTP to make it const transporter = nodemailer.createTransport({
This works the same way, was just trying to be more explicit
Not sure if we should leave it or change it once we get the SMTP credentials

_Originally posted by @RyanWils in https://github.co

[2019-11-15 22:15] humphd commented on #225
@manekenpix one short term fix would be to disable these tests until we have a fix, so you buy yourself more time.  People are getting the failures and don't understand, and I don't want to rush you.

[2019-11-15 22:18] RyanWils commented on #226
I can create a PR for it. Nodemailer had a parameter where you can specify which connection you want to connect to to be more explicit. I will change it to the original

Original from https://nodemailer.com/about/
![image](https://user-images.githubusercontent.com/49354833/68979470-a79c1100-07cb-11ea-8163-812009478325.png)

[2019-11-15 22:25] KarlaChen opened #228 "update blogDomainCounter to pass tester"
In the PR #176, ```blodDomainCounter``` cannot pass when it passes an empty array.

[2019-11-15 22:25] manekenpix commented on #225
@humphd I think disable the tests is the best solution. I'll probably have a fix tomorrow. Are you going to disable them on Travis or should I do something on my side?

[2019-11-15 22:30] humphd commented on #225
We have to disable just these tests, switch `test()` to `test.skip()` in your file in a PR, and we'll merge it.

[2019-11-15 23:14] jatinAroraGit commented on #221
Hey @humphd ,
I did what you recommended but it still throws the error.
Looks like there are lot of things wrong in this file.
We do not have any button with the id="participants"
and neither any span element with that class.
I ran the in-built debugger in chrome. It only hits the button call if I add the id in the participants button in index.html.
Rest I am not sure what this file was for but ne

[2019-11-15 23:16] #228 closed

[2019-11-15 23:17] #226 closed

[2019-11-15 23:57] #82 closed

[2019-11-16 00:00] cyh0968 opened #233 "Add grid system to index.html"
It seems like there is no grid system for our mockups. I think it is a good idea to add a grid system.

[2019-11-16 00:06] cyh0968 commented on #233
I will hand this issue.

[2019-11-16 00:23] vitokhangnguyen commented on #96
Hi @humphd,
Release 0.3 dues tonight. May I have a go for ESLint,  Prettier and EditConfig integration late tonight or tomorrow morning?

[2019-11-16 01:29] #91 closed

[2019-11-16 01:37] #17 closed

[2019-11-16 01:54] humphd commented on #96
@vitokhangnguyen Let's leave to Monday when I see you in person.  I suspect we'll still have unmerged work I need to figure out.  Sorry to delay you, but it will be too painful to have to fight through all these rebases.

[2019-11-16 01:54] cindyledev commented on #191
Okay, I don't know which PR did it but I'm not getting the vulnerability anymore :)

[2019-11-16 01:55] humphd commented on #191
I've had to manually fix the package.json and package-lock.json files, so one of them must have done it.

For future reference, if people need to update `package.json` for any reason:

1. Use `npm install package` to add it vs adding a dep manually
2. Run `npm install` to update `package-lock.json`

[2019-11-16 01:55] #191 closed

[2019-11-16 02:03] humphd commented on #221
See https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/index.html#L35, the `<button>` needs an `id="participants"` for this selector to work.

[2019-11-16 02:16] humphd opened #238 "Travis fails due to Redis error: connect ECONNREFUSED 127.0.0.1:6379"
The PR in https://github.com/Seneca-CDOT/telescope/pull/212 was merged early, and we aren't actually passing tests on macOS/Windows yet.  The problem seems to be the connection to Redis, here's an example on current `master`:

https://travis-ci.org/Seneca-CDOT/telescope/builds/612670221

We need to figure this out.  Is it due to the URL redis is using (different port on these machines?), or is Red

[2019-11-16 02:27] vitokhangnguyen commented on #96
@humphd For sure. I will see you next week andd talk about this, then.

[2019-11-16 02:47] Manan311 commented on #238
I wrote this. Redis is running but I couldn't figure out why the test was breaking. I think it might be because of the URL  since you mention it now but I am too sure.

[2019-11-16 02:49] humphd commented on #238
I think I have Mac fixed, just trying to figure out Windows...

[2019-11-16 03:15] evlnyng opened #240 "Additional tests for the feed parser"
As mentioned in #192.

I think we should also check for specific kinds of RSS feeds, such as category feeds.

[2019-11-16 03:17] Manan311 commented on #238
For windows, can't we install Redis from choco?

[2019-11-16 03:50] humphd commented on #238
@Manan311 I got it working.  We also need to install it as a Windows service, and start the service.  PR is up at https://github.com/Seneca-CDOT/telescope/pull/239 if you want to look.  I'll merge once it goes green.

[2019-11-16 04:03] Manan311 commented on #238
yes, that would be great, sorry for all the trouble I caused but this was a learning experience I will never forget in open source. Also, I want to clarify what do you mean by installing it as a windows service and then starting the service?

[2019-11-16 04:16] humphd commented on #238
@Manan311 It's OK, learning how this all works is what we're here for.  The key lessons here are:

- don't land code that's not passing CI.  It will cause chaos for all the other devs who depend on it
- if part of the tests or CI is failing, move that bit to a new PR vs. landing everything at once
- make sure that tests pass vs. just installing packages.  Redis was installed, but not running

RE:

[2019-11-16 04:17] #238 closed

[2019-11-16 04:25] #53 closed

[2019-11-16 04:35] #21 closed

[2019-11-16 04:36] #240 closed

[2019-11-16 04:56] humphd commented on #33
First attempt at this landed in #175.

[2019-11-16 04:56] #33 closed

[2019-11-16 04:56] cyh0968 opened #242 "Add search bar for the mock-ups"
It seems like that the telescope has its search bar to search the participant. However, it is uncomfortable to find the search bar. I think we should expose the search bar on the top always in mobile and desktop environments. For instance, the GitHub site has a search bar on the top, so we don't have to look for it. With one click, we can search whatever we want.

[2019-11-16 04:57] humphd commented on #40
@eekbatani, @ODAVING can we close this now that the pagination.js file has landed in tree?  If YES, please close this.

[2019-11-16 04:58] humphd commented on #62
Fixed in https://github.com/Seneca-CDOT/telescope/pull/200

[2019-11-16 04:58] #62 closed

[2019-11-16 05:00] #40 closed

[2019-11-16 05:02] humphd commented on #222
Duplicate of https://github.com/Seneca-CDOT/telescope/issues/77

[2019-11-16 05:02] #222 closed

[2019-11-16 05:11] humphd commented on #81
Fixed in #184

[2019-11-16 05:11] #81 closed

[2019-11-16 05:12] humphd commented on #189
Font sizes were fixed.  We should file another Issue on making this responsive and work well on mobile in general.

@cagomezr, @cindyledev can one of you file that, please?

[2019-11-16 05:12] #189 closed

[2019-11-16 05:20] humphd opened #243 "Windows/Linux CI Test failures for feed-parser.test.js: socket hang up"
We're getting some new test failures that we should deal with on `master`

[code]

See these failed builds as examples:

- https://travis-ci.org/Seneca-CDOT/telescope/jobs/612698756
- https://travis-ci.org/Seneca-CDOT/telescope/jobs/612698758

This is coming from changes we landed in #241, cc @evlnyng, @c3ho.

Let's get a new PR up for this to fix the underlying issue, remove the failing tests and

[2019-11-16 05:22] humphd opened #244 "Remove stray console.log() in basic_analysis.test.js"
We have some console spam in https://github.com/Seneca-CDOT/telescope/blob/master/test/basic_analysis.test.js#L24 we need to get rid of:

[code]

[2019-11-16 05:34] #208 closed

[2019-11-16 05:34] #225 closed

[2019-11-16 05:35] humphd commented on #210
The PR in https://github.com/Seneca-CDOT/telescope/pull/245 shows you how to do this.

[2019-11-16 05:39] humphd opened #246 "Audit tests to replace real network requests with mocks"
In https://github.com/Seneca-CDOT/telescope/pull/245 we added code to allow a network request to be "mocked."  This means you specify what data should be returned from a network request, and then have a test do the request, but get back your mock/fake data.  This is safer than relying on the real network, since it can fail when you run your tests.

We have a few places where we are currently doing

[2019-11-16 05:39] humphd commented on #213
See #245, which has some excellent sample code for doing mock network requests in tests.

[2019-11-16 05:40] humphd commented on #213
cc @manekenpix, who has written a bunch of our test code.

[2019-11-16 05:47] #73 closed

[2019-11-16 05:53] humphd commented on #96
@vitokhangnguyen when you do this, can I add a couple things to the list?

- update the README.md to use a Prettier badge vs. the Standard one that is there now, since we don't actually use Standard.
- talk to me and see if we can remove this code https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml#L20-L25.  I don't think we'll need it once we properly rewrite the files using LF every

[2019-11-16 06:07] humphd opened #247 "Automate CI checks for changes to package-lock.json"
I've been helping people merge code today, and a lot of people struggle to understand how to work with `package.json`, `package-lock.json`, `npm install`, and git.

One thing that we could try is to integrate [Danger JS](https://danger.systems/js/) to help remind people when they need to update it.  It gets run as part of CI, and reports back on things we want people to know about.

[code]

There'

[2019-11-16 06:09] humphd commented on #247
See https://danger.systems/js/guides/getting_started.html

[2019-11-16 06:43] #134 closed

[2019-11-16 07:03] c3ho commented on #247
Hi, I’ll take this issue on. I want to try some things that are CI/CD related.

[2019-11-16 16:19] #243 closed

[2019-11-16 16:23] wajeehsheikh commented on #244
I can take care of this issue.

[2019-11-16 18:27] ragnarokatz commented on #39
@robertbegna this is still an open issue. feel free to take this issue if you need something to work on.
cc @humphd

[2019-11-16 18:36] Reza-Rajabi opened #249 "Update CONTRIBUTING.md to address different build, run, test environment setup"
Currently, if we want to set up our app in a local machine for the development, test, or run purpose, we have different ways to do so, which has been discussed in the pull request #135. It would be nice to have clear instructions about these options through the detail steps in the CONTRIBUTING.md. The installation guide for Redis, Node.js and Docker could be provided through an external link in th

[2019-11-16 18:51] c3ho opened #250 "Rewrite spam-checker.js async function to parse content after checking for empty title"
Currently for #193 part of the async function contains the following code

[code]
We should rewrite it so ` const noTagsDesc = await textParser.run(content.description);` is called after we do all the checking for content.title.

[2019-11-16 19:42] Reza-Rajabi opened #251 "Instruction, and a call for help for Our Project Board"
I have been trying to make a summary of all issues and pull requests status by using the [Project Board](https://github.com/Seneca-CDOT/telescope/projects/1). We could have an instantly updated and reliable board if more/all of us help with that. Here is what we can do:

- When making a new issue/ pull request (task), select the project `Main` from the `⚙️`  `👉` setting button provided under the `

[2019-11-16 19:44] #11 closed

[2019-11-16 22:13] humphd commented on #251
Let's discuss this as a group this week in class.

[2019-11-16 22:52] vitokhangnguyen commented on #96
Hi @humphd,

Sorry for my late reply. I have been in bed all day.

I surely can add more to-do things to the list. I completely agree that we do not need that snippet anymore in Travis setup since EditConfig will take on that responsibility.

I do not understand what you mean by Prettier badge vs. Standard badge. If you can kindly explain that to me, I would definitely be able to have it in my upc

[2019-11-16 23:32] robertbegna commented on #181
@sukhbeersingh
Hi, could you take a look at my most recent commit, i'm trying to emulate what you did with the linux build, but the windows build fails because of this error "Expected Linebreaks to be 'LF' but found 'CRLF'. Also the docker images, will they be needws in the windows build and if so how can I add it to the build? Because reading through the documentation, windows executors so far on

[2019-11-16 23:43] #86 closed

[2019-11-16 23:49] manekenpix commented on #181
@robertbegna what's `0` here?
[code]

[2019-11-16 23:49] humphd commented on #181
I don't have much Circle CI experience, so I'll defer to @sukhbeersingh.  But one note for you @robertbegna.  I had to fix failing tests on Travis CI last night for macOS and Windows.  [Some of what I did might help you](https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml).

The relavent bits are these:

1. We have a [hack to deal with CRLF vs. LF on Windows](https://github.com/Seneca

[2019-11-17 00:00] humphd commented on #96
Our README has ![](https://camo.githubusercontent.com/d0f65430681b67b7104f6130ada8c098ec5f66ba/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f636f64652532307374796c652d7374616e646172642d627269676874677265656e2e7376673f7374796c653d666c6174) in it, and should have ![](https://camo.githubusercontent.com/687a8ae8d15f9409617d2cc5a30292a884f6813a/68747470733a2f2f696d672e736869656c64732e696f2f

[2019-11-17 00:16] vitokhangnguyen commented on #96
Thank you for your explanation, I can have that in my PR.

[2019-11-17 00:46] humphd opened #255 "Figure out solution for logs in CI and tests"
In #252 we're starting to add logging, which is getting triggered in CI and tests:

<img width="750" alt="Screen Shot 2019-11-16 at 4 51 21 PM" src="https://user-images.githubusercontent.com/34118418/68999817-1e044600-0894-11ea-9afa-ed4b78d42fc5.png">

This makes reading the test results more difficult.  We need to figure out a solution only show logs when we want them.

Luckily, we have some opti

[2019-11-17 03:44] vitokhangnguyen commented on #96
Hi, @humphd,

I propose some more changes to add to my PR if you think they fit in:

1. Adding instruction to install ESLint, Prettier and EditorConfig plugins to VSCode (and maybe other editors)
1. Modify some ESLint rules that can benefit the developers to avoid bugs. Here is the list of it:

[code]

If you don't think they should be in this PR, I can open a new issue for it if necessary.

[2019-11-17 04:02] #182 closed

[2019-11-17 04:31] humphd opened #256 "Add a .vscode folder with VSCode Workspace recommendations"
Many of us use VSCode to do our development.  One of the features it allows is creating a set of [project-wide settings for all users who use VSCode](https://code.visualstudio.com/docs/getstarted/settings).  For example, you can see how [Microsoft does this for VSCode itself](https://github.com/microsoft/vscode/tree/master/.vscode).  A Workspace can include things like:

- common editor settings (

[2019-11-17 04:43] #161 closed

[2019-11-17 04:43] #148 closed

[2019-11-17 04:44] humphd commented on #18
@shmooey how is this going?  Need any help?

[2019-11-17 06:06] manekenpix commented on #249
I can work on this one. Is that ok @SeanPrashad?

[2019-11-17 06:08] Reza-Rajabi commented on #181
@humphd based on Docker [website](https://www.docker.com/blog/docker-official-images-now-multi-platform/) their official images are multiplatform (platform aware). Also, In the [Docker Hub](https://hub.docker.com/_/redis?tab=tags) I select `Windows x86-64 (latest)` and the command to pull the image is the same as all other platforms.

[2019-11-17 08:18] smilegodly opened #257 "sort URLs by type"
Take the URLs from the array of URLs and sort them by type...
An example would be sorting all Github URL's to be in their own array to later be used by Github API.

[2019-11-17 12:50] Reza-Rajabi commented on #4
@wajeehsheikh are you still working on these:

[2019-11-17 13:43] humphd commented on #181
@Reza-Rajabi I couldn't get it to work on Travis, but it's quite possible that I'm just doing it wrong.  Maybe we should file a new issue and see if we can switch all Travis CI to use Docker for Redis. Someone can experiment with getting that to work.  Meanwhile, we can use the native installs it currently uses.

[2019-11-17 13:46] humphd commented on #96
For 1., I filed #256, which is probably the right place to do that.  Can you comment on that issue?  We can automate some of it, and add the docs in that issue vs. here.

For 2. can you explain why these extra rules are necessary in this change?

[2019-11-17 14:00] Sbaah commented on #220
Hello I would like to attempt this.

[2019-11-17 14:06] humphd opened #258 "Allow tests to use mock Redis with Bull Queue"
In #201 we're adding the initial support for Redis in our code.  Part of that change includes adding support for the `MOCK_REDIS` environment variable.  When `MOCK_REDIS=1` is set, we have code to swap our Redis JS provider from [ioredis](https://github.com/luin/ioredis) to [ioredis-mock](https://github.com/luin/ioredis), an in memory replacement that simulates talking to a Redis database server.

[2019-11-17 14:19] nazneennahar commented on #220
sure :)

[2019-11-17 14:33] humphd opened #259 "Create a Post type to represent the data from a feed article"
Our [feed-parser](src/feed-parser) is working now, and turns a feed URL into a JavaScript Object representing a feed article.

<details>
<summary>Here is an example of what the Object looks like</summary>
<code><pre>
{ title: 'My First Blog',
  description:
   'I have never done this before, so let\'s make this short. This post is just a test on how my blog post will look like.',
  summary: null,

[2019-11-17 14:37] humphd commented on #259
We should also consider whether or not to include different analysis metrics as properties or methods on this type.  Things like word count, reading level, reading time, and the other analysis we've done elsewhere.

[2019-11-17 15:13] humphd commented on #71
@mskuybeda's initial work on this to connect with redis has landed on `master`.  I'm going to close this, and file some follow-up issues to build on it.

[2019-11-17 15:13] #71 closed

[2019-11-17 15:26] Reza-Rajabi commented on #181
@humphd I make a new issue to address that.

[2019-11-17 15:30] humphd opened #260 "Allow a Post to get stored in Redis"
In #201 we added [storage.js](src/storage.js) and some initial [tests](test/storage.test.js).  We need to extend that to allow for a Post to be saved and returned from Redis.  We can (eventually) connect this with the work happening in #259 to add a `Post` type, accepting and returning `Post` objects.

We need `addPost()` and `getPost()` methods to be added to the `storage` module.  The code can b

[2019-11-17 15:33] humphd opened #261 "Update frontend design to include all Post data"
In #259 we're creating a type for a Post.  Our frontend UI should take the various properties of a Post into account, and somehow make use of them.  We should also figure out how to display things like reading time, word count, or other analysis we might include.  Not all of this has to be visible in the UI (yet), but we should try to think about where it might go.

[2019-11-17 15:39] humphd opened #262 "Add routes for getting posts and a post"
In #260 we're going to be adding the ability to store Posts in the Redis database.  In #261 we're thinking about how to display the data in the UI.  Once these are in, we'll want to be able to get the posts out of Redis via our web server.

We need some routes to allow for querying the database for posts, and an individual post, as JSON, something like:

- `posts/` should return an array of IDs fo

[2019-11-17 15:43] humphd opened #263 "Update frontend to fetch() post data from the web server"
In #262 we're adding routes to the web server to allow for getting `data from the database, /posts` (all post IDs in the database); and `/post/<id>` (get a particular post).  In #261 we're updating the frontend code to make use of all the data in a post (see #259).

We also need to change the frontend code so that it uses [fetch()](https://developers.google.com/web/updates/2015/03/introduction-to-

[2019-11-17 15:46] humphd opened #264 "Feed Worker should store Posts in Redis when done"
Our [feed-worker.js](src/feed-worker.js) currently parses Posts, puts them into an array, and console.logs them.

We need to use the work in #260 and #259, we need to update it so that a Post gets stored in the database.  This depends on #260 for the changes to [storage.js](src/storage.js).

[2019-11-17 16:14] c3ho commented on #264
I can work on this one!

[2019-11-17 16:19] humphd opened #265 "Write tests for wiki-feed-parser.js"
We have code to download and parse the Wiki Feed List page in [wiki-feed-parser.js](src/wiki-feed-parser.js).  However, we have no tests for it.

We need to test both `getData()` and `parseData()`.  Since these rely on the network, these jests should use mocked fetch requests.  Take a look at how [test/github.test.js](test/github.test.js) does this using [jest-fetch-mock](https://www.npmjs.com/pac

[2019-11-17 16:23] humphd opened #266 "Connect wiki-feed-parser to feed queue"
We have code to download and parse the Wiki Feed List page in [wiki-feed-parser.js](src/wiki-feed-parser.js).  We should connect this into our [logic for enqueuing feed jobs](https://github.com/Seneca-CDOT/telescope/blob/master/src/index.js#L50).  Most of the code in [src/index.js](src/index.js) related to reading [feeds.txt](feeds.txt) can get deleted now, along with that file.

When this is done

[2019-11-17 16:27] humphd commented on #12
Do we still need this issue?  Should we start iterating on what's landed in src/frontend?  Or is there more design work you want to do here?  If we can, I'd close this and open new issues on iterating.

[2019-11-17 16:36] humphd commented on #187
Doing this should involve the following:

[code]

Once you have a `page` object, you can do something with `page.setContent()`, see [API docs](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetcontenthtml-options).

Then, you should be able to get the `innerHTML` back out using something like this:

[code]

I'm not sure what you should use for your `selector`.  It will depen

[2019-11-17 16:38] humphd commented on #98
This doesn't seem to have happened, and we now have both Travis CI and Circle CI landed in our tree.  Should we keep this open?

[2019-11-17 16:40] humphd commented on #220
I totally missed this, and filed #265. Sorry about that.  Moving my comment over from there:

We have code to download and parse the Wiki Feed List page in [wiki-feed-parser.js](src/wiki-feed-parser.js).  However, we have no tests for it.

We need to test both `getData()` and `parseData()`.  Since these rely on the network, these jests should use mocked fetch requests.  Take a look at how [test/gi

[2019-11-17 16:40] humphd commented on #265
Duplicate of #220, closing.

[2019-11-17 16:40] #265 closed

[2019-11-17 16:42] humphd commented on #264
@c3ho can I get you to do 1 Issue at a time?  Right now you have 3 assigned to you, and other students will want a piece of the action, too.

[2019-11-17 16:44] #206 closed

[2019-11-17 16:46] Reza-Rajabi opened #267 "Update the `.travis.yml` to use Docker's Redis image for all OS platforms"
Travis uses its virtual build and test environment to build and test our pull requests on Github. Sometimes before sending a pull request, we might want to make sure that all Travis tests will be passed. In this case, we need to set up and test with Travis locally. The problem arises when the local installation is needed: Redis installation for local Travis seems to be a pain.
- The first solution

[2019-11-17 16:49] humphd commented on #267
If we can make it work, the actual code change needed here is pretty simple, see [docs](https://docs.travis-ci.com/user/docker/).  Essentially:

1. add `docker` to the list of [`services` we have](https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml#L4)
1. for [one (or all) of the OS install steps](https://github.com/Seneca-CDOT/telescope/blob/master/.travis.yml#L30-L42), run the appro

[2019-11-17 16:49] humphd commented on #267
This same pattern could be used with Circle CI, see @robertbegna.

[2019-11-17 16:52] Reza-Rajabi commented on #181
@humphd If the issue that I made is not what you are looking for please feel free to delete or edit it or ask me to do so.

[2019-11-17 16:52] humphd commented on #181
I think it's good.  I added a comment with some more details from my own attempts.

[2019-11-17 16:57] humphd opened #268 "Improve test coverage"
Running `npm test` prints test coverage information.  Currently on `master` when I run the tests I see this:

[code]

In the final column of that table are all the line numbers that did *not* get hit during testing.

To see this with more detail, open the file `coverage/lcov-report/index.html` in your browser after running the tests.  This will show you all the files, and let you click through to

[2019-11-17 17:03] manekenpix commented on #268
I'll add more tests for the github part.

[2019-11-17 17:06] Reza-Rajabi commented on #12
I think we are good to close this one.

@ODAVING @lucacataldo @KarlaChen @lozinska
I close this issue. You might open it up again if we need to, or make a new issue to address current design concerns.

[2019-11-17 17:06] #12 closed

[2019-11-17 21:28] cryolis commented on #266
Can I try this if none is working on it yet?

[2019-11-17 22:18] PavanKKamra commented on #187
Yes, we want to collaborate on this. We haven't discussed it fully, however, we were thinking that @giatuongtran9 does the testing portion.

[2019-11-17 23:12] humphd commented on #266
Sure @cryolis, go for it.

[2019-11-17 23:12] humphd commented on #187
Great, sounds good.

[2019-11-17 23:19] giatuongtran9 commented on #187
@humphd I have noticed that in ```wiki-feed-parser.js``` function ```getData()``` is similar to what @PavanKKamra has done in ```text-parser.js```. Can you check on that?

[2019-11-17 23:22] humphd commented on #187
@giatuongtran9 yes, you two and @cryolis had to solve essentially the same problem.

It would be good to refactor to only have a single "html to text" parser.  I'll file another issue, and someone can work on refactoring it.

[2019-11-17 23:25] humphd opened #270 "Refactor wiki-feed-parser.js to use text-parser.js"
We've got two parallel implementations of "HTML to Text" parsers in the tree:

- [src/wiki-feed-parser.js](https://github.com/Seneca-CDOT/telescope/blob/master/src/wiki-feed-parser.js) and `getData()`
- [src/text-parser.js](https://github.com/Seneca-CDOT/telescope/blob/master/src/text-parser.js)

In #187 we're going to be reworking our code to use [Puppeteer](https://pptr.dev/), which has a lot mo

[2019-11-17 23:26] humphd commented on #187
Filed #270 for the refactor.

[2019-11-17 23:26] giatuongtran9 commented on #187
I can do the refactor thing and we can discuss on switching to puppeteer or keeping jsdom since @cryolis works fine with it

[2019-11-17 23:29] giatuongtran9 commented on #270
I can give it a try since I do the testing for ```text-parser.js```

[2019-11-18 00:02] humphd commented on #270
@giatuongtran9 do you want to pick one to work on between this and #187?  We can let others work on it too that way.  Ideally we'll do 1 issue per person to start, so we have something for everyone.

[2019-11-18 00:03] giatuongtran9 commented on #270
I will work on the #187 then

[2019-11-18 00:04] humphd commented on #270
Great.  If you get #187 done and this is still open, go ahead and grab it.

[2019-11-18 00:17] humphd opened #271 "http://localhost:3000 is missing styles, logo, needs express.static middleware"
Our current frontend doesn't load properly:

<img width="1091" alt="Screen Shot 2019-11-17 at 7 15 53 PM" src="https://user-images.githubusercontent.com/427398/69016690-bbcc4380-096e-11ea-8270-eb7d112912fe.png">

There are a bunch of issues:

- style/main.css is being sent with a mime type of text/html vs. text/css
- 404 on /dialogue.js
- 404 on img/logo.svg

[2019-11-18 00:23] humphd opened #272 "Add webhint for extra frontend checks"
Let's integrate https://webhint.io/ into our npm scripts.  Webhint is cool because it gives you all kinds of [information about errors, warnings, and other issues in a web page](https://webhint.io/docs/user-guide/hints/).  You use the `hint` command to test your page, for us that would be `http://localhost:3000/`, and it gives back a report with all sorts of things you can improve with CSS, securi

[2019-11-18 00:29] humphd opened #273 "Write a command line tool for injecting a feed into the queue"
In #112, I mentioned a cool idea that I got from [this code](https://github.com/GetStream/Winds/blob/48cda6bef1ae4cd0612368bef86becead4f0e8c5/api/src/commands/winds-og.js) is to add a node.js command-line tool that lets you inject a feed name/URL manually into the running queue.

This would be great for debugging, and for our testing purposes right now, while we wait to get all the feeds loading a

[2019-11-18 00:31] vitokhangnguyen commented on #256
This issue when solved would bring many benefits to #96 where we will have ESLint, Prettier and EditorConfig working

[2019-11-18 00:34] wajeehsheikh commented on #98
No need to keep this open if we have two working CI platforms.

[2019-11-18 00:34] #98 closed

[2019-11-18 00:36] humphd opened #274 "Add Pino logging to our Express web server"
We've got [logging](docs/logging.md) now, so let's [add it to our Express web server](http://getpino.io/#/docs/web?id=express).

See also #204, which is doing similar work elsewhere in the backend.

[2019-11-18 00:39] humphd commented on #274
This should probably also update our `package.json` file so that in development, we [pretty-print our logs](http://getpino.io/#/docs/pretty).  NOTE: [special case on Windows](https://github.com/pinojs/pino-pretty/issues/71).

[2019-11-18 00:40] vitokhangnguyen commented on #96
Hi @humphd,

1. I just did. I can take that on after this one if you are cool with that.

2. The extra rules are not necessary for this change except the `'prettier/prettier': ['error']` where we delegate all styling/formatting error to Prettier instead of ESLint.

So for the other extra 2:
[code]
Should I file a new issue for that since, in some case, they will help avoiding potential bugs?

[2019-11-18 00:42] humphd commented on #96
When we see each other tomorrow, let's go over this in person, and make some decisions.  I'm happy to consider changing some of the eslint rules if we have to; but if we don't have to, I'd prefer not to.

[2019-11-18 00:46] humphd opened #275 "Move utils/logger.js to src/lib/logger.js"
We're keeping all source files under `src/`, so let's move `utils/logger.js` to `src/lib/logger` and update all code which `require()`'s it to point to the new location.  Make sure to use `git mv` instead of `mv` when you do this.

[2019-11-18 01:12] SeanPrashad commented on #249
Give it a go @manekenpix!

[2019-11-18 01:22] SeanPrashad commented on #249
Food for thought (_but be aware that this increases scope and is probably best for a separate ticket_): Maybe exploring [docusaurus](https://github.com/facebook/docusaurus#--docusaurus--) would be a neat project, after we've decided how to solve the [OP](https://github.com/Seneca-CDOT/telescope/issues/249#issue-523879946)!

I'd love to see @cindyledev pick up the docusaurus work! I'd be happy to p

[2019-11-18 01:28] miggs125 commented on #274
I'll take this

[2019-11-18 01:39] #275 closed

[2019-11-18 05:02] miggs125 commented on #273
I'll take this

[2019-11-18 07:33] c3ho commented on #210
Tried using the references provided and was unable to get it to work.

Had something like this:
[code]
Technically the response from data should now be an object with a title and a description no?

[2019-11-18 07:50] jatinAroraGit commented on #259
I would like to work on this one

[2019-11-18 13:04] manekenpix commented on #210
@c3ho I think `response` should be something like
`?xml version='1.0' encoding='UTF-8'?...` which is what feedParser is expecting from the url you're passing to it.

[2019-11-18 13:26] robertbegna commented on #272
I'd like to try this for release 0.4

[2019-11-18 13:31] Reza-Rajabi opened #280 "Move `jest-fetch-mock` from `dependencies` to `devDependencies` in `package.json`"
The `dependencies` needs to have only production-level dependencies. So we need to move `jest-fetch-mock` from `dependencies` to `devDependencies` in the `package.json` file

[2019-11-18 13:54] manekenpix commented on #210
The idea is that `feedParser` needs the data fetched from the URL you're passing, and `jest-fetch-mock` will intercept that request and respond to with what you have in `response`.
I think a request to the URL you're passing would return:
[code]

Our feedParser uses [feedParser-promise](https://github.com/alabeduarte/feedparser-promised), which I think uses [http](https://nodejs.org/api/http.html)

[2019-11-18 15:43] cindyledev commented on #271
I can fix this

[2019-11-18 16:02] manekenpix commented on #210
@c3ho I got it to work with this:
[code]

I got the XML in reply from [here](https://www.w3schools.com/XML/xml_rss.asp).
Test it if you have a minute and let me know what you think.

[2019-11-18 16:30] humphd commented on #272
OK @robertbegna, let's discuss when we see each other and make a plan.  I'll assign it to you.

[2019-11-18 16:31] humphd commented on #259
It's all yours @jatinAroraGit!

[2019-11-18 16:56] Silvyre commented on #268
I'm planning on writing more tests for `inactive-blog-filter.js`.

[2019-11-18 17:54] lucacataldo commented on #263
I'm going to work on this as more data gets exposed from the webserver (ie #262 gets done). In fact, I'm thinking of pairing these two together to try and speed things up if no one else claims 262 by the end of today.

[2019-11-18 18:54] humphd commented on #263
Awesome, thanks @lucacataldo.  One thought for you and others, as we begin this: we can feed fake data into the pipeline at any point to help connect the system.  What I mean is, don't get blocked on missing pieces (e.g., posts in Redis), just land code that returns fake data of the right format until we get real pieces in place to give good data.  Make sense?

[2019-11-18 18:57] humphd opened #281 "Investigate Workflows in Circle CI"
I got an email from Circle CI today, telling me about one of their features:

- Use resources more efficiently
- Increase speed by getting faster feedback
- Run and troubleshoot jobs independently with real-time status feedback
- Schedule jobs that should only run periodically
- Fan-out to run multiple jobs in parallel for efficient version testing
- Fan-in to quickly deploy to multiple platforms

[2019-11-18 19:11] Reza-Rajabi commented on #4
@wajeehsheikh I am wondering if I could have your feedback. Are you still working on this?

[2019-11-18 20:35] lucacataldo commented on #263
Yup makes sense! Thanks I'll try and get started then

[2019-11-19 02:26] humphd commented on #281
@RayGervais is thinking to give this a shot, which is awesome.  Second alumni to join the project! cc @SeanPrashad.

[2019-11-19 02:28] humphd opened #283 "Add Lighthouse CI"
Similar to #272, it would be interesting to experiment with [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci).  Lighthouse is Google's tool for finding performance and other frontend web issues in a site.

Like with webhint, I'm not sure we need to run this by default with `npm test`; but it could be an optional thing people can run if they are working on the frontend code.

[2019-11-19 02:37] vitokhangnguyen commented on #283
I have no experience with CI/CD before os I would like to try this out.

[2019-11-19 03:05] manekenpix commented on #262
Can I take this one?

[2019-11-19 04:39] Reza-Rajabi commented on #103
@cyh0968 Hi, I was just wondering how this issue is going?

[2019-11-19 04:57] Reza-Rajabi opened #284 "Refactor the `index.html` to a template file ?"
I am not sure if we would accept this issue, so I will edit the title and content properly.

Currently, our `index.html` is only an example of how the frontend would look like. Soon, we will need to load the processed data into it. One option would be using a template engine, and nowadays [PugJs](https://pugjs.org/api/getting-started.html) (formerly known as Jade) looks to be the most popular one.

[2019-11-19 17:20] sukhbeersingh opened #286 "Fail CircleCI build if any test skipped/waiting due to async"
This is a bug that I noticed in commit ff4643a28 for pull request #252. This fails for Travis but not for [CircleCI](https://circleci.com/gh/Seneca-CDOT/telescope/348?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link). We need to configure CircleCI to fail the build if all the tests didn't pass successfully.

[2019-11-19 18:24] jordanhui19 commented on #250
I can work on this, since I made the spam checker

[2019-11-19 18:37] humphd commented on #267
@Manan311 and I were discussing this in class today, and https://github.com/travis-ci/travis-ci/issues/5738 would seem to indicate that using Docker on Mac is not going to happen.

[2019-11-19 18:55] Grommers00 opened #287 "Setting up mock SAML2 server"
https://github.com/Sustainsys/Saml2

I believe this is something we can utilize. That we might be able to add the right parts to our code so we can start setting up simple login.

However, if you have better recommendation perhaps we can incorporate that instead! This is open for discussion!

[2019-11-19 19:35] humphd commented on #287
Let's not use C# and ASP.NET.  What about the ideas in https://medium.com/disney-streaming/setup-a-single-sign-on-saml-test-environment-with-docker-and-nodejs-c53fc1a984c9?

[2019-11-19 21:12] lucacataldo commented on #262
hey @manekenpix not sure if you've started working on this yet but try and keep in mind that pagination is something we should be handling at the same time. Also, I'm going to be working on the front end fetching of data from the server (#263) so we should try and stay on the same page in regards to how data will be formatted so that we can avoid creating more work for ourselves in the future. For

[2019-11-19 22:26] KarlaChen commented on #261
@humphd  I want to  try it with @haichuan0424 , can you assign it for me?

[2019-11-19 22:45] haichuan0424 commented on #260
@humphd I'd like to work on this one with @KarlaChen.

[2019-11-19 23:48] humphd commented on #260
OK, sounds good.  Be aware of #259 as well.

[2019-11-19 23:50] humphd commented on #262
NOTE: those properties, names, etc are a guideline.  If you all find that they need to be changed due to frontend, backend, or data needs, make changes.

[2019-11-20 00:11] manekenpix commented on #280
I'll work on this one, and also I'll move `setupJest.js` to a lib folder

[2019-11-20 02:31] humphd opened #289 "Server crashes if LOG_LEVEL is upper case"
[code]

[2019-11-20 02:44] cindyledev commented on #271
I lied I don't know how to fix this....

[2019-11-20 02:54] humphd commented on #271
@cindyledev see https://expressjs.com/en/starter/static-files.html.  The problem is that our web server is serving the index.html raw as a file, but none of the other resources are being served.  Add express static middleware.

cc @miggs125

[2019-11-20 03:00] humphd commented on #284
We can also do this client side, and do the "templating" in the DOM vs on the server side.  This is a more modern approach, and is the basis for many virtual DOM implementations, like React, Vue, Angular, etc.

We don't need a full blown framework yet; but we could use basic DOM manipulation to first `fetch()` data from our API (#262) and then display it in the page (#261).

If someone *also* want

[2019-11-20 03:03] cindyledev opened #290 "Convert our GitHub docs to MDX in Next.js"
[docusaurus](https://docusaurus.io/) is a neat way to organize and maintain markdown docs. It's used in many Facebook repositories and I think we could totally implement it in our project as well.

Here is an example from [create-react-app](https://github.com/facebook/create-react-app):

All of their [markdown documents](https://github.com/facebook/create-react-app/tree/master/docusaurus/docs) sho

[2019-11-20 03:06] cindyledev commented on #290
@SeanPrashad you're not on the assignees list for some reason so I'm tagging you here

[2019-11-20 03:08] humphd commented on #290
Sent @SeanPrashad an invite to be a collaborator on the repo.

[2019-11-20 03:14] humphd commented on #287
cc @wajeehsheikh, @Reza-Rajabi, @manekenpix who have been pretty active on our Docker work so far.  The article I linked above uses a SAML identify provider already implemented as a PHP app running in Docker.

@Grommers00 so for our work, we'd need to add this docker container in our dev/testing environment so we can mock Seneca's SSO server.  These guys can probably lend you a hand figuring out t

[2019-11-20 03:17] humphd commented on #233
Closing until our design has a need for this.  Please file a new issue with work in the front end that needs this.

[2019-11-20 03:17] #233 closed

[2019-11-20 03:18] humphd commented on #85
cc @lucacataldo, as I think this is referring to frontend design?

[2019-11-20 03:37] Reza-Rajabi commented on #284
@humphd I will close this issue if that's OK. Working with virtual DOM on the client-side makes more sense. I thought we couldn't have done that without using React or Vue.

[2019-11-20 03:39] humphd commented on #284
Sure, let's close.  If someone really wants to do a server-side templated version, we can let both happen in parallel, and eventually remove one.  But I'm all for experimentation and learning, so whatever people want to try...

[2019-11-20 03:39] #284 closed

[2019-11-20 03:41] Reza-Rajabi commented on #4
I am referencing #287 to not miss the comment

[2019-11-20 03:56] humphd commented on #287
Link drop:

- Grafana does this in their config https://github.com/grafana/grafana/blob/e83953f24ec18f5ed47c1d326bff829693bfdea8/devenv/docker/blocks/saml/docker-compose.yaml
- Express app that uses this docker container https://github.com/Tandem-App-Tuni/Kivako-app-backend/blob/fd26699a6599213b7e455e238188e2cd30731d9c/src/configs/app.js
- and more results searching for that container on github in

[2019-11-20 04:03] humphd commented on #259
@jatinAroraGit the work in #277 that @shmooey is doing to sanitize HTML so it's safe to use it (e.g., no XSS attacks, scripts, etc) is about to land.  When it does, please make sure you use it in this fix to clean `content`.

[2019-11-20 04:05] manekenpix commented on #287
@Grommers00 @humphd @Reza-Rajabi @wajeehsheikh Just tested our `docker-compose` adding SAML following the medium article:

![Screenshot from 2019-11-19 23-05-03](https://user-images.githubusercontent.com/23108901/69208268-ed850c00-0b20-11ea-81bc-88911f7301e4.png)

[2019-11-20 04:25] #18 closed

[2019-11-20 04:37] manekenpix commented on #262
@lucacataldo Excellent, thank you for this! I'll keep you posted with the development of this issue so we can coordinate on all that you mentioned in your comment (pagination, formatting, data structure...). Also, we should consider what @humphd mentioned, altering properties if needed.

[2019-11-20 05:13] ragnarokatz commented on #289
@humphd Unfortunately, I am unable to reproduce this issue on Ubuntu 18.04. Anyone else able to reproduce this?

[2019-11-20 15:27] lucacataldo commented on #85
@lozinska just to clarify, do you mean including a date/timestamp for when we index / fetch the post? Or when the post was written? The latter is already included (although missing the time) but regardless the former could also be useful although maybe not crucial to display in the header so as not to confuse the reader in regards to which date is which. Just something to keep in mind 😄

(thanks f

[2019-11-20 15:32] lucacataldo commented on #262
@humphd  Of course! I just wanted to use it as a reference for some common ground to start on.

Also, @manekenpix, sounds good 👌

[2019-11-20 15:40] lucacataldo commented on #271
@cindyledev Hey, if you need some help I put together a fix in a temp branch I've got for some frontend stuff. In /src/backend/web/routes/index.js you can replace the router.get("/"...) with the following to create a static server in the frontend directory:

![image](https://user-images.githubusercontent.com/35984346/69253102-0ffb4180-0b82-11ea-9e88-58264090decc.png)

[2019-11-20 15:49] dbeigi commented on #283
@humphd @vitokhangnguyen Possible to have two people work on this issue?

[2019-11-20 15:56] humphd commented on #289
Interesting.  @ragnarokatz, what command did you run exactly?

The crash originates here: https://github.com/pinojs/pino/blob/master/lib/levels.js#L157.

We need to deal with the case of bad log levels when starting the logger.  In [src/lib/logger.js](src/lib/logger.js) we should be careful about how we pass the level from the `env` to Pino.  It needs to be one of the expected levels, see http://g

[2019-11-20 15:57] humphd commented on #289
See http://getpino.io/#/docs/api?id=levels

[2019-11-20 15:59] humphd commented on #283
@vitokhangnguyen since you've got some other PRs going, I'm going to give this to @dbeigi so we spread the load.  Maybe @vitokhangnguyen can be one of the reviewers.

[2019-11-20 16:19] Manan311 commented on #267
@humphd I think we might be able to incorporate it with Linux and windows but I am still looking into it and need to do a bit more research on it.

[2019-11-20 16:27] humphd commented on #267
The problem I had on Windows is that Travis is using AMD64 for Windows and I couldn't find a compatible Windows AMD64 docker image that would work.  There are some, but they seemed to be built for Linux.

[2019-11-20 16:58] ragnarokatz commented on #289
@humphd I pulled a fresh copy of telescope on to my laptop since it doesn't have it yet. here are the commands i ran in order:
`npm install`
`docker-compose up -d redis`
`LOG_LEVEL=INFO npm start`

[2019-11-20 17:00] Manan311 commented on #267
[How to install docker chocolatey way.](https://stefanscherer.github.io/how-to-install-docker-the-chocolatey-way/)
[Docker for Windows](https://chocolatey.org/packages?q=docker)
[Get started: Prep Windows for containers - Microsoft Docs](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server)

I am not far in research yet or tried anyth

[2019-11-20 17:06] humphd commented on #289
The code I linked to above doesn't seem to have OS related checks.  Interesting that you don't hit it.

Regardless, let's fix how we do this based on my suggestion above.  Because this can throw, we should be dealing with it.

[2019-11-20 17:10] ragnarokatz commented on #172
@humphd @izhuravlev I would like to work on this issue please.

[2019-11-20 17:14] humphd commented on #172
Awesome @ragnarokatz, go for it.  Let us know if you need any help.

[2019-11-20 17:39] #280 closed

[2019-11-20 17:41] humphd commented on #213
https://devhints.io/jest is really useful, we should link to it somehow in our docs.

[2019-11-20 17:56] humphd opened #294 "Keep feeds in Redis synchronized with wiki over time"
This is related to #266, #264.  We are going to be downloading the feed list (names, urls) from the wiki, and placing them in Redis.  We'll need to keep this data in sync:

1. we need to re-run this download code over and over at some interval, every 10 minutes?  It should be configurable in the `env`
1. when we re-download, we have to be careful to remove any feeds/posts from Redis that shouldn't

[2019-11-20 23:11] humphd opened #296 "Update outdated npm packages"
We have a few packages that could be updated (`npm outdated` will show you):

[code]

NOTE: the `pino-pretty` update is happening in #278, so ignore that one.  But the rest might be good to do.  The only two that need a bit of investigation, to make sure they don't break us with API changes, are `nodemon` and `stylelint`.  Go look at these repos and their releases/changelog to see what changed in

[2019-11-20 23:58] ODAVING commented on #242
I'll take on this issue.

[2019-11-21 00:34] ODAVING opened #298 "dialogue.js not working properly"
Somehow in one of the front-end iterations, the code that made dialogue.js functional has been deleted. I could put it back again, but I'm already busy with another issue. Could someone please edit the html in a way that gets the dialogue.js working again.

Once it's fixed, I'll create another issue for styling, to ensure it's compatible with mobile devices.

[2019-11-21 00:43] ragnarokatz commented on #172
@humphd @izhuravlev @Reza-Rajabi I need help with writing the unit test for the `feed-worker.js` module. Please take a look at the referenced PR when you have time, thanks.

[2019-11-21 00:46] humphd commented on #172
@ragnarokatz, see discussion in https://github.com/Seneca-CDOT/telescope/issues/210#issuecomment-555081981 which is pretty similar to what you're doing.  Also see my work in #288 that builds on @evlnyng's.  You could review that so we can merge, and it will help you here to mock the queue with redis.

[2019-11-21 00:46] humphd commented on #298
See also #221, #271, which this might dupe.

[2019-11-21 00:49] ragnarokatz opened #299 "bug: Error options.uri is a required argument"
OS: Ubuntu 18.04
node -v v10.17.0
npm -v 6.11.3

**Reproducibility: Only happens sometimes**

Steps to reproduce:
`docker-compose up -d redis`
`npm start`

Ctrl+C to stop
Leave docker+ redis running for a while, then

`npm start`
gives:
[code]

I have attached the complete log of this run as well, found in npm's logs folder:
[code]

[2019-11-21 00:51] humphd commented on #299
Fixed by https://github.com/Seneca-CDOT/telescope/pull/288, just waiting on reviews to land.  @ragnarokatz can you review?

[2019-11-21 00:56] #258 closed

[2019-11-21 00:57] ODAVING commented on #298
Yep! I'll close it then

[2019-11-21 00:57] #298 closed

[2019-11-21 01:03] ODAVING commented on #221
@jatinAroraGit during iterations of the FE the dialogue portion of index.html had gotten removed. The code for that is linked below. Please make sure that when participants button gets clicked it'll open a new animated window, where you can either close it with the 'x' mark on the top right or get rid of it if you were to click outside the dialogue box area. That was the original intention of the

[2019-11-21 01:06] jatinAroraGit commented on #298
Hey @ODAVING,
I just did a PR for #221 , I fixed the errors thrown initially on loading website but it will still error out when we click the 'Participants' button and the reason for that is the index.html does not have any id with 'dialogue'.

[2019-11-21 01:09] ODAVING commented on #298
I made a comment on #221 , Please take a look at a we'll discuss it there. This issue is closed and we'll talk on #221

[2019-11-21 01:11] ragnarokatz commented on #299
@humphd it looks fixed on my end. closing this ticket. thank you.

[2019-11-21 01:11] #299 closed

[2019-11-21 01:16] lozinska commented on #85
Hi @lucacataldo. I think I should close this issue because as you said that date is already implemented in another PR. I don't think we need to have 2 different dates when feed came into queue and when blog was posted, because it will be confusing. Do you think we should include time?

[2019-11-21 01:36] jatinAroraGit commented on #221
Hey @ODAVING ,
Thanks for this.
I will incorporate this code and make a new commit.

[2019-11-21 01:55] vitokhangnguyen commented on #283
@humphd Yep, that will work

[2019-11-21 02:46] Reza-Rajabi commented on #4
@wajeehsheikh I am trying to send a pull request including docker file(s) for development, test and deployment. I am not sure yet if I better have them in a single file or two files. Please let me know if you are still working on the dev file. I will send them around the weekend if I don't have a chance to hearing from you.

[2019-11-21 03:21] #210 closed

[2019-11-21 05:19] c3ho opened #303 "Remove the skips from feed-parser-test.js"
Since we have mock network tests ready, we should remove any of the tests with skip in them.

[2019-11-21 11:38] jerryshueh commented on #303
To clarify, we're removing the tests that are using "test" urls, correct? If so, I can certainly do this little maintenance task.

[2019-11-21 14:38] #274 closed

[2019-11-21 14:41] manekenpix commented on #256
Closed with #285

[2019-11-21 14:41] #256 closed

[2019-11-21 14:43] humphd opened #305 "Test failure: TypeError: logger.debug is not a function"
I think the way `logger` is being [exported](https://github.com/Seneca-CDOT/telescope/pull/278/files#diff-339e40296231835cde0cae0efe2af447R49) after the change in #278 has changed, breaking this.

[code]

cc @miggs125, @hansal7014

[2019-11-21 15:00] humphd commented on #305
Whoever fixes this should also add regression tests for `logger.js`, such that we check to see that all the methods we call on it, e.g., `debug()`, exist and are in fact functions.

[2019-11-21 15:15] c3ho commented on #303
Hey @jerryshueh, there's already a PR for this #304. Feel free to add on more tests though!

[2019-11-21 15:15] #303 closed

[2019-11-21 15:17] Cadesh commented on #257
Can I work on this please?

[2019-11-21 15:21] sukhbeersingh commented on #294
I'd like to take this up.

[2019-11-21 15:24] Cadesh commented on #246
Can I give a try on this one?

[2019-11-21 15:36] shmooey commented on #296
I'll try this one

[2019-11-21 15:56] cindyledev commented on #271
Thanks @lucacataldo , your fixed worked, I'm gonna submit a PR after #305 gets merged

[2019-11-21 16:06] #305 closed

[2019-11-21 16:50] c3ho opened #309 "Create a test for logger"
There was a recent PR #306, we don't have a test for it.

[2019-11-21 16:52] Sbaah commented on #286
Hello i would like to attempt this issue.

[2019-11-21 16:58] MeisterRed commented on #199
I would like to give this a shot

[2019-11-21 17:00] evlnyng opened #310 "Removing unnecessary console message in tests"
<img width="401" alt="Screen Shot 2019-11-21 at 11 58 02 AM" src="https://user-images.githubusercontent.com/34118418/69359329-68037800-0c56-11ea-9699-c8de181e81d3.png">

Pictured above.

[2019-11-21 17:08] lucacataldo commented on #262
Hey, @manekenpix Just so we're on the same page about structure and pagination:

I'm thinking each request includes a "page" query or parameter and the response is an object that contains an array of posts in it plus another key that specifies which page it is.

For example this is how I have my dummy data response setup:
![image](https://user-images.githubusercontent.com/35984346/69359936-9766b48

[2019-11-21 17:19] birtony opened #312 "Update documentation regarding rebasing"
We should make it clear how to complete rebasing, including squashing/fixup. Current documentation does not mention anything about squashing or fixup.

[2019-11-21 17:23] neilong31 opened #313 "Improve test coverage for email-sender.js"
Currently the test for email-sender covers 14% of the statements. The current status of the test can be seen at #268

[2019-11-21 17:28] #221 closed

[2019-11-21 17:29] humphd opened #314 "Add Server Sent Events to web server to signal new posts"
We need a way to signal to the browser that new posts are available to be downloaded.  When our feedQueue completes processing all the posts, we need to listen for an event, and then trigger a message to the browser.

Let's try using [Server Sent Events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events).

In another PR, we also need to update our fronten

[2019-11-21 17:33] humphd commented on #286
@sukhbeersingh I'm just chatting with @Sbaah in the lab, and we're not sure what can really be done with this issue.  Did you have something specific you wanted here?  As far as we can tell, Circle CI already does what we want.

[2019-11-21 17:43] birtony opened #315 "Specify Redis username and password in .env and pass it to the Bull queue constructor"
According to suggestion introduced in #112, we should include Redis username and password into .env file to be passed to the Bull queue constructor.

[2019-11-21 17:55] Grommers00 opened #316 "To connect main page with login page"
We have an issue with our main page not connected to the login page.

Would someone be able to connect these two. This is still for testing purposes, and not the final look for the login page, ideally we will eventually be able to point this towards the Seneca Login Page.

[2019-11-21 17:56] agarcia-caicedo commented on #316
Can I work on the issue?

[2019-11-21 17:59] Grommers00 opened #317 "Configure docker to allow for mock SAML2 Server."
Docker allows for SAML2 mock server. We need this set-up and configured, this relates too #287 .

[2019-11-21 17:59] ragnarokatz opened #318 "add fixtures.js in test folder"
In a similar format used by `bull`'s own test suites, I would like us to implement our own set of fixtures to be used for testing. They can be easily used to mock things, as well as reduce repetition in the code.

Bull's own testing fixtures: https://github.com/OptimalBits/bull/tree/develop/test/fixtures

In the immediate time frame, I would like the following code from `test/feed-parser.test.js`

[2019-11-21 18:00] Grommers00 opened #319 "Create certs for the mock saml2 for docker."
This will allow someone to easily input this information when running docker so they can configure the server for their own specific use.

[2019-11-21 18:02] Grommers00 commented on #316
Yes, thank you!

[2019-11-21 18:02] #242 closed

[2019-11-21 18:23] manekenpix commented on #317
Part of the work is already done in #287 (see [this](https://github.com/Seneca-CDOT/telescope/issues/287#issuecomment-555828061)), and from that I think it won't need much tweaking. We can work together on this one.

[2019-11-21 18:26] jerryshueh commented on #318
I don't see any self-assignees or PRs on this issue, so I assume it is up for grabs? If so, I'd like to try my hand at this seeing as I haven't had a hand in anything test-related. This might be a good start :smiley:.

[2019-11-21 19:58] ragnarokatz commented on #318
@jerryshueh Yes it is up for grabs. Feel free to work on it.

[2019-11-21 21:44] humphd commented on #242
I'd love to see some issues filed to figure out how we'll use this Search feature in the backend.  What are you searching for when you use it?  How should we index things to give you that data? How are results displayed, etc.  Needs more thought and issues filed.

[2019-11-21 21:50] humphd commented on #262
A couple of thoughts:

1. `updated` and `published` should be real DateTime data, so we can use it in any way we want in the UI (e.g., show date, time, whatever).
1. for `page`, should we instead give you the range of posts you have?  As in, "here are posts 50-65 of 100 posts"?  A "page" doesn't really have a meaning, and we'll know the exact amount of posts we have.
1. Should `/posts` give back a

[2019-11-21 21:51] humphd commented on #244
Fixed in #311.

[2019-11-21 21:51] #244 closed

[2019-11-21 21:52] humphd commented on #310
Duplicate of #244, closing both now that this is merged.

[2019-11-21 21:52] #310 closed

[2019-11-21 21:52] humphd commented on #286
I'm going to close this.  If we come up with a solution, please file again.

[2019-11-21 21:52] #286 closed

[2019-11-21 21:54] humphd commented on #246
@Cadesh I think you might have done this already, but in case not, please speak with @manekenpix and @c3ho, who have been doing a bunch of this in other issues/prs.

[2019-11-21 21:57] Reza-Rajabi commented on #317
@Grommers00 @manekenpix As you know, we need to update the Docker file to do that for us. I am trying to finish the final version of docker files this weekend both for development and deployment. The solution for this mock server is already tested by @manekenpix on #287, so I can include that in our development docker file with my pull request, or I can ignore this, letting you guys update the com

[2019-11-21 22:17] #271 closed

[2019-11-21 22:41] humphd opened #322 "Search icon floating with window resize"
In #302 we added a search field and icon to the frontend mockups.  Testing this locally, I notice that it seems to be positioned relative to the viewport vs. it's container, and changing the window size causes it to float around.

![search-icon-bug](https://user-images.githubusercontent.com/427398/69382833-09ee8900-0c86-11ea-8cb1-b93117fddc2e.gif)

[2019-11-21 22:41] humphd commented on #322
cc @ODAVING

[2019-11-21 23:37] miggs125 commented on #289
I was able to reproduce this. ``` LOG_LEVEL=info ``` seems to work

[2019-11-22 01:10] UltimaBGD commented on #205
Are you still working on this?

[2019-11-22 01:16] lozinska commented on #205
Hi @UltimaBGD, yes I'm almost done, just need to send PR

[2019-11-22 02:43] sukhbeersingh opened #323 "Add .gitattributes file and disable linebreak-style"
Currently, when windows users run npm test against the latest changes prettier complains about line endings. Same for our CI services. See #194. This issue can be solved for the time being by disabling the `linebreak-style` rule from `.eslintrc.js`.

[2019-11-22 02:52] humphd commented on #323
Specifically, see my comment in https://github.com/Seneca-CDOT/telescope/pull/194#issuecomment-556061359.  Also, @sukhbeersingh is referring to our eslintrc.js file, which needs to have the ['linebreak-style': 'off'](https://eslint.org/docs/rules/linebreak-style) rule set, to ignore end of line checks, and let Prettier do them.

[2019-11-22 02:53] humphd commented on #323
Also note: this is pretty high priority, so the sooner we get this done, the better.  It should help people moving forward, especially on Windows.

[2019-11-22 02:53] sukhbeersingh commented on #323
I will send a pr in a few minutes. and then follow up another to fix the windows Circle CI issue

[2019-11-22 02:56] humphd commented on #323
Thank you, @sukhbeersingh, really appreciated!

[2019-11-22 03:22] c3ho commented on #247
This is so weird as I've rebased multiple times AND ran a npm install.

[2019-11-22 03:39] manekenpix commented on #317
@Reza-Rajabi I'm sorry, I just remembered that you mention this in another issue and I completely forgot. Please keep working on the docker files and feel free to include my suggestion from #287 (it might need a bit of tweaking) or maybe you can come up with a better approach. Let me know when your PR is ready and I'll be happy to review it.

[2019-11-22 04:06] humphd opened #326 "Update eslint and stylelint configs for Prettier plugins"
The prettier docs have some guidelines on plugins to use with eslint and stylelint, both of which we use:

- eslint: https://prettier.io/docs/en/integrating-with-linters.html#recommended-configuration
- stylelint: https://prettier.io/docs/en/integrating-with-linters.html#stylelint

cc @vitokhangnguyen

[2019-11-22 04:11] humphd commented on #323
Fixed by #324

[2019-11-22 04:11] #323 closed

[2019-11-22 04:21] vitokhangnguyen commented on #326
I can take on this issue.

The guideline of Prettier for ESLint has been followed when I set them in #96. I can do the same for stylelint, too.

[2019-11-22 06:35] Reza-Rajabi commented on #317
@manekenpix No worries sir. My pleasure.

[2019-11-22 14:19] eekbatani commented on #322
I can go ahead and get this fixed.

[2019-11-22 19:27] Grommers00 commented on #317
Sounds good @manekenpix @Reza-Rajabi Are you guys fine with me closing this issue and just keeping #287 ?

[2019-11-22 19:27] jatinAroraGit commented on #259
Hey @humphd ,
Have been doing what you suggested but on uisng the function in the file: https://github.com/Seneca-CDOT/telescope/blob/master/src/sanitize-html.js
 the  promise returned takes a while to resolve. Even after using .then it does not work and outputs Promise { pending } . Some tests might be required to test the sanitize function for longer blog posts.

[2019-11-22 19:28] Grommers00 commented on #319
The basic information needed to create the certificates are here. https://medium.com/@Ratnaparkhi/testing-saml-flow-in-your-node-js-application-1ab82f95b69d

[2019-11-22 20:04] jatinAroraGit commented on #259
Hey @humphd ,
Working on adding sanitize functionality now.

[2019-11-22 20:45] agarcia-caicedo commented on #316
00fd39b46110c682f48a7395385e4ee4f401e033

[2019-11-22 20:45] #316 closed

[2019-11-22 21:23] agarcia-caicedo opened #328 "Allow users to be able to login"
Until SAML is able to be implemented, a simple login functionality should be added. The user should be able to login, redirected to a confirmation page, and then redirected back to the main blog.

[2019-11-23 00:02] jordanhui19 commented on #84
Is anyone working on this? If not, I can take it.

[2019-11-23 00:55] robertbegna commented on #202
has this been done? if so I'd like to give this a short

[2019-11-23 00:59] #172 closed

[2019-11-23 01:36] #322 closed

[2019-11-23 02:42] humphd opened #333 "Remove console.logs spamming tests"
When you run `npm test` on `master`, it spams you with a lot of console.logs:

<details>
<summary>Click here to see a sample</summary>
<code><pre>
  ● Console

    console.log src/extract-urls.js:9
      Printing URLs from blog feed data
    console.log src/extract-urls.js:10
      [ 'https://1.bp.blogspot.com/-ekwVZE9_TS8/Xcic-AbhGJI/AAAAAAAABU0/yASGB_J42iQdI2S1M28DkhdtBXTX5SLYACLcBGAsYHQ/s1600/f

[2019-11-23 02:47] ragnarokatz opened #334 "Move constants to .env file"
link to issue #297, as per comment left by @humphd

Move constants from `src/index.js` file into the `.env` file.

[code]

[2019-11-23 02:50] ragnarokatz opened #335 "Remove duplicity caused by using both async and Promise in a function"
reference comments left by @humphd in PR #297:

This is referring to code:
[code]

in `src/feed-worker.js`

[2019-11-23 03:16] ragnarokatz commented on #289
@humphd magically, I am able to reproduce this now. No idea why :laughing:

[2019-11-23 03:44] Reza-Rajabi commented on #317
@Grommers00 Sure. Go for it.

[2019-11-23 04:42] ragnarokatz commented on #319
oops, misclick.
@Grommers00 are you looking for a SP certificate to test against?

[code]

[2019-11-23 07:20] Reza-Rajabi commented on #247
@humphd I am updating the Dockerfile and I need your thoughts about the same issue regarding the `package-lock.json` file. Node.js [documentation](https://docs.npmjs.com/files/package-lock.json) suggests keeping the `package-lock.json` to guarantee all of the developers be using the same dependencies. We might need to force ourselves using `npm update --dev` rather than `npm install`.

I have foun

[2019-11-23 14:47] humphd commented on #247
@Reza-Rajabi it's true that using `package-lock.json` will help with deployments.  When building node apps vs. libraries, it's recommended to do it.  However, you can also use exact versioning, which we've switched to in `package.json` and `.npmrc`.  This will make sure that we're installing the same packages in dev and prod.

Later on, when development slows, we could re-introduce a package-lock.

[2019-11-23 16:43] Reza-Rajabi commented on #247
@humphd Thank you. Now it is clear to me how to differentiate the deployment set up from the development.

[2019-11-23 19:58] jcclay33 commented on #249
https://play.google.com/intl/en_us/about/developer-content-policy-print/

[2019-11-23 23:04] #333 closed

[2019-11-23 23:07] humphd commented on #266
@cryolis how is this coming?  We are going to need this to land soon.  If you can't do it, I'll give it to someone else so we make sure it gets done.  Let me know.

[2019-11-24 02:33] cindyledev opened #338 "Link to login.html doesn't work"
![Annotation 2019-11-23 213212](https://user-images.githubusercontent.com/36822198/69488555-cc7e2d00-0e38-11ea-842a-177527d50763.png)

[2019-11-24 03:12] humphd commented on #338
Nice catch.  Let's move `src/login/login.html` to `src/frontend/login.html` and also update `src/frontend/index.html` to refer to the correct relative URL for login.

cc @agarcia-caicedo, @Grommers00

[2019-11-24 03:26] humphd commented on #318
Closed in #321

[2019-11-24 03:26] #318 closed

[2019-11-24 03:26] cryolis commented on #266
@humphd Sorry I was working on the external project. I will start on this today.

[2019-11-24 05:21] cryolis commented on #266
I think im done with it, but when I run it some jobs get completed and some get errors, could that be because the urls that are getting read no longer exist?

[2019-11-24 15:51] humphd commented on #266
Great, thanks for diving into this.  In terms of the errors, I suspect that using that live data set is going to mean we'll uncover a lot of edge cases (blogs that don't exist anymore, invalid URLs, servers that sometimes return data and sometimes don't, HTML being sent back vs. XML, etc).

This is part of why I want to get your code in quickly, so we can start filing/fixing these issues.

I'd say

[2019-11-24 15:55] humphd commented on #262
Saw this the other day, it's a good read when thinking about how to design routes: https://github.com/microsoft/api-guidelines/blob/master/Guidelines.md

Also, there's a PR up right now by @KarlaChen and @haichuan0424 for the Redis side of this, see #332.  One thing I was mentioning to them was that having the ability to request ranges of posts in the set (e.g., to implement paging) would be good.

[2019-11-24 15:59] nazneennahar commented on #334
hey can i work on this please

[2019-11-24 16:03] robertbegna commented on #335
I can try fixing this

[2019-11-24 16:55] manekenpix commented on #262
@humphd thank you for the link, I just took a quick look at it and it's going to be very useful. Thank you!

I'll keep an eye on #332 while working on this one so both pieces can start working together right away without having to make too many adjustments.

Also, you mentioned this in a previous message:

I used this approach in another project and seemed to work well. I think we should go with t

[2019-11-24 17:34] humphd opened #339 "Improve readability of CSS in frontend"
I took a look at a few sites that are focused on presenting articles, reading, and doing similar things to what we're building.  I wanted to find inspiration and some CSS patterns and techniques we could leverage.  Consider:

- [Medium](https://medium.com/@REAS/collecting-in-the-age-of-digital-reproduction-ab0640a42fe6)
- [Longreads](https://longreads.com/2019/11/07/california-burning/)
- [The New

[2019-11-24 17:42] humphd opened #340 "Add API to storage.js for getting number of feeds and posts in Redis"
Our storage.js code should make it possible to get the number of feeds and posts in the Redis database:

[code]

Both of these are implemented as Sets in Redis, and a Redis Set has `SCARD` to determine this, see https://redis.io/commands/scard.

Depends on work happening in #332 right now.

[2019-11-24 17:50] humphd commented on #335
Some more background here.  Our current feed workers are all reporting failures:

[code]

This is because of the way the `Promise` is being done from this function.  A worker function should return a `Promise` that gets `resolved` or `rejected`.

This code should get rid of all the `Promise.reject(...)` and `Promise.resolve(...)` code, and replace it with `throw ...` or `return ...`.  I think that

[2019-11-24 18:49] #317 closed

[2019-11-24 19:20] Grommers00 commented on #287
I will be looking at seeing how the configuration is set-up to move this forward, so from my understnading this is installed? @manekenpix

[2019-11-24 19:30] wajeehsheikh commented on #4
@Reza-Rajabi I was going to start on them this week but if you're already done with the files. Send in the pull request. I will find another issue to work on.

[2019-11-24 19:42] manekenpix commented on #287
@Grommers00 right now @Reza-Rajabi is working on it so I think we'll get a PR from him soon that'll include this.

[2019-11-24 19:55] Reza-Rajabi commented on #4
@wajeehsheikh I am almost done with the dev file, and I will be having a pull request tonight. I am so sorry; I messaged you two times since 7 days ago. I feel bad because of your message now. @humphd I am not sure if that's fair if I send a pull request.

[2019-11-24 20:03] humphd commented on #4
@Reza-Rajabi it sounds like @wajeehsheikh hadn't started on them yet, so no harm done.  I'm happy to help any and all of you find other things to work on.

@wajeehsheikh let me know if I can be helpful.

[2019-11-24 20:07] Reza-Rajabi commented on #4
Thanks @humphd @wajeehsheikh .

[2019-11-24 21:26] humphd commented on #272
Closed in d36593d7b5785912933f1aeac250eb02dc9c98db

[2019-11-24 21:26] #272 closed

[2019-11-24 21:26] humphd opened #342 "Fix frontend issues uncovered by Webhint"
The work in #291 added support for [Webhint](https://webhint.io/) reporting.  This gives us insight into frontend web issues with performance, accessibility, security, etc.

I ran it just now using `npm run webhint` and this is what I see:

[code]

Let's see if we can reduce this!

[2019-11-24 21:32] humphd opened #343 "Test Failure on master: TypeError: Cannot read property 'fetch' of null in test/sanitize-html.test.js"
I'm not clear what started triggering this all of a sudden, but it just failed for me when I merged on master:

[code]

cc @shmooey did you ever hit this?

[2019-11-24 21:35] humphd commented on #343
See also:

- https://github.com/cure53/DOMPurify/issues/375
- https://github.com/jsdom/jsdom/issues/2701

[2019-11-24 22:47] raygervais commented on #281
Just some brainstorming to begin with after reviewing the documentation and general architecture of the application, defintialy open to more discussion and understanding the best approach in this case for CI/CD.

*Notes*

- Allows parallel jobs, this could be advantagous for testing various components of telescope
- Daily deploys can be done via workflows, which enables master (post-CI/CD test pas

[2019-11-24 23:14] humphd commented on #343
cc @miggs125, who probably knows the most about JSDOM among us.  I suspect that not having a proper document is causing issues here, using a fragment like this.  But I could be wrong.  It seems odd to me that DOMPurify can pass all their unit tests with JSDOM and we can't.  Look at https://github.com/cure53/DOMPurify/blob/dd053931337b457da156530c4db0c1d5c92f66a4/test/jsdom-node.js.

[2019-11-24 23:38] humphd commented on #281
cc @sukhbeersingh, @Reza-Rajabi, @manekenpix, et al, who might have ideas.

Currently, we have `npm install` and `npm test` as primary script entry-points, with linting and unit tests.  We're working on Docker-based deployment automation, but don't have it yet.

We're aiming to have the entire pipeline of our program working within the next few weeks, which will make things like e2e tests possible

[2019-11-24 23:40] humphd commented on #343
This test is literally doing what we're doing now, but with what looks like a more robust document setup, https://github.com/cure53/DOMPurify/blob/3bc348bf5882b200e559f65f3fc749733afb812d/test/bootstrap-test-suite.js#L13-L37.

[2019-11-25 00:14] raygervais commented on #281
I'm all for experimenting, my background for the past two years has been around the areas of CI/CD, though I don't have any real experience with Circle CI. Only roadblock I see is accessing telescope's Circle CI system, so I could utilizing my fork experiment on my own instance for the time being.

Looking forward to hearing ideas from @Reza-Rajabi @manekenpix  and @sukhbeersingh!

[2019-11-25 03:31] #72 closed

[2019-11-25 05:56] Reza-Rajabi commented on #4
@humphd @manekenpix @kartik-budhiraja
There is one issue persists from the current (old) docker-compose file that I have stuck on, and I need help with that.
In the current docker-compose file in the telescope repo, we have the following line:
[code]
This code is wrong and it causes the image to work as a host and not as a server, so there is not any exposed port as the result. we can inspect that

[2019-11-25 06:39] Reza-Rajabi commented on #281
@humphd I am trying to close #4 in November. #4 Is a similar workflow but using Kubernetes with Helm charts. I would be more than happy if I can help with this issue too.
I am glad that we have @raygervais and @SeanPrashad. Maybe they can give me a clue with an issue that I am struggling with and I have commented on #4.

[2019-11-25 13:11] Reza-Rajabi commented on #4
It just came in my mind, it is not wrong. Because telescope is a host for redis. So it needs to be both host and server. Is that true?

[2019-11-25 17:24] ragnarokatz commented on #335
so there are two ways to write a callback function that can either success or fail a job, according to documentation of `bull`: https://github.com/OptimalBits/bull#documentation

no promise:
[code]

using promise:
[code]

[2019-11-25 18:24] #96 closed

[2019-11-25 19:22] humphd commented on #335
[code]

Is a third way, and doesn't involve explicit use of `Promise`.

[2019-11-25 19:28] RyanMarzec opened #347 "Create GitHub templates for pull requests and issues"
As discussed in class about pull requests without enough details,  I was thinking it would be a good idea to create a pull request template for the repo. I think this could help reduce review time for both the contributor and reviewer.

I believe since this project will be continuously worked on by new students who may have no open-source background as we did at the beginning of the course it coul

[2019-11-25 19:31] humphd commented on #347
This is a great idea.  See [docs](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates) from GitHub on how to do it.

[2019-11-25 19:50] Grommers00 commented on #347
Perhaps this could be done for issues as well?

[2019-11-25 19:51] humphd commented on #347
Great idea, updated the title.

[2019-11-25 20:03] humphd commented on #4
I'm not an expert on docker compose, but I don't think you need to specify a different network type, they should be able to discover and locate each other:

We'd just need to make sure that we are setting the right host vs. container ports on the containers.

See the docs in https://docs.docker.com/compose/networking/

[2019-11-25 20:37] Reza-Rajabi commented on #287
@Grommers00 I got back to the article that @humphd [mentioned](https://medium.com/disney-streaming/setup-a-single-sign-on-saml-test-environment-with-docker-and-nodejs-c53fc1a984c9) before with more attention, and it could answer the ambiguities for me. I thought you might also find it useful.

[2019-11-25 20:43] Reza-Rajabi commented on #287
@manekenpix Your changes for the docker-compose file in the image you shared, was quite useful and I almost had nothing to change more than that. Thank you.

[2019-11-25 21:30] manekenpix commented on #347
I think Kubernetes has [good templates](https://github.com/kubernetes/kubernetes/issues/new/choose), we could try to come up with something similar.

[2019-11-25 22:12] manekenpix commented on #343
@humphd could it be that DOMPurify uses ["jsdom": "8.x.x"](https://github.com/cure53/DOMPurify/blob/3bc348bf5882b200e559f65f3fc749733afb812d/package.json#L70) and we're using ["jsdom": "15.2.1",](https://github.com/Seneca-CDOT/telescope/blob/d061def977fa7e6b041cce997e3e5ed0b78f6249/package.json#L54)?
I noticed that what they do in [line 15](https://github.com/cure53/DOMPurify/blob/3bc348bf5882b200

[2019-11-26 00:11] Grommers00 commented on #338
Good find! it starts locally from the direct.html site, but not when the server is booted up. Interesting!

[2019-11-26 00:18] vitokhangnguyen commented on #338
The `login` folder is not being served as a static asset.

This line in the `app.js` would help but I think there is a more appropriate fix than this as @humphd  mentioned:
[code]

[2019-11-26 00:32] brucremo opened #348 "Update logo link to Seneca-CDOT's GitHub Repository"
The link to the image on our Readme.md still points to my GitHub repo, this needs to be fixed in order to maintain consistency of the repo's assets

[2019-11-26 00:33] brucremo commented on #348
Addressed via the [pull request #349 ](https://github.com/Seneca-CDOT/telescope/pull/349)

[2019-11-26 02:35] wajeehsheikh commented on #4
No worries. Im super busy myself with 6 courses and work so I dont want to slow you guys down. I cant blame you for wanting to get this project deployed and running asap. Good luck! :)

[2019-11-26 05:52] #343 closed

[2019-11-26 05:59] UltimaBGD commented on #347
Can we break this down into two separate PR's? PR's and Issues likely won't have the same template, and I would like to try my hand at making a template for one of them.

[2019-11-26 06:09] UltimaBGD commented on #270
The idea for this one is to remove the getData function from wiki-feed-parser and replace it with the exported run function from text-parser.js? I can take a look at it if that is the case.

[2019-11-26 14:48] kartik-budhiraja commented on #348
Closed through #351.

[2019-11-26 14:48] #348 closed

[2019-11-26 15:42] humphd commented on #347
@UltimaBGD sure, just do it.

[2019-11-26 15:46] humphd opened #352 "Investigate DOMPurify and JSDOM issues in HTML sanitizer"
In #344 we applied a bandaid fix to a seemingly larger problem: our HTML sanitizer uses DOMPurifier and JSDOM in such a way that certain HTML can cause it to throw.  Specifically, anything that requires a resource to be loaded (e.g., `<img src>`).

We need to get this working in a way we can count on.  Ideas to investigate:

- version issues with JSDOM and DOMPurify, see https://github.com/Seneca-

[2019-11-26 16:29] Grommers00 commented on #347
@UltimaBGD @RyanMarzec Can we perhaps create them in sync so that way they kind of feed into each other opposed to two seperate templates that do not talk to each other or have similar layouts.

[2019-11-26 16:29] #328 closed

[2019-11-26 16:30] Grommers00 commented on #287
Hey @Reza-Rajabi,
Would you be able to push the current set-up you have for Docker and the saml2 to our github?

[2019-11-26 16:30] RyanWils commented on #313
Hi Neil,

If you want to test nodemailer with an SMTP server you can use the following, this is the one I've been testing it with.
![image](https://user-images.githubusercontent.com/49354833/69652659-02413280-1040-11ea-88a8-48859d0ac743.png)
[code]

[2019-11-26 16:35] Grommers00 opened #353 "Documentation for SAML2 Work Flow Images"
We will need someone to draw the intended work flow for SAML2 on the local side. I can help with it if you need help and explain the intended flow. But we'd like to create some documentation on how this will look going forward, so that anyone else can keep working on it.

[2019-11-26 16:40] Grommers00 opened #354 "Updating the login button to point to the saml2 server"
Once issue #287 is set up, we will need to update the login button to point towards the saml2 server.

This can be set up to be hard coded at first, but will eventually need to take use of the process.env variables.