[2019-11-26 16:41] Grommers00 opened #355 "Hide Tokens from Logger located in usingPassport.js"
These should not be in the current logger, in particular the access and refresh tokens. Can we take them out as these are things that need to be privatized, we also currently do not need to log them.

[2019-11-26 17:08] wajeehsheikh commented on #355
I can take a shot at this!

[2019-11-26 18:29] mskuybeda commented on #340
I will work on it as discussed in class

[2019-11-26 18:39] cindyledev commented on #347
@manekenpix I really like Kubernetes' issue templates too

[2019-11-26 18:49] c3ho commented on #247
Closing this issue, exposing github token to build log is deemed a bit dangerous (required as part of danger js setup).

[2019-11-26 18:49] #247 closed

[2019-11-26 19:06] RyanMarzec commented on #347
@UltimaBGD you can definitely help out, but I agree with @Grommers00, we should come together and make sure that we follow the same layout for every template.

[2019-11-26 20:05] #355 closed

[2019-11-26 20:41] aprilllllllll commented on #339
Could I take this issue?

[2019-11-26 22:47] Reza-Rajabi commented on #287
@Grommers00 Hi. Sorry for the delay. Sure, I will do it when I reach home tonight. Currently, I can not get the localhost and I am not sure if that can help you in any way. My aim is to make the localhost accessible until tomorrow night. Currently, I am communicating with a student from the computer networking program about this issue.

[2019-11-26 23:20] Grommers00 commented on #287
Okay awesome, we can talk about it during class Thursday. Once it's up, I will try seeing about switching those URLs too.

[2019-11-26 23:46] miggs125 commented on #343
@manekenpix DOMPurify [works with jsdom v10+](https://github.com/cure53/DOMPurify#using-the-minified-and-tested-production-version-source-map-available)

[2019-11-26 23:50] miggs125 commented on #352
@humphd I've started investigating this after you mentioned it yesterday, I can focus on this one but I may have to give away the issue I am currently assigned #273

[2019-11-27 00:04] #338 closed

[2019-11-27 00:05] humphd commented on #339
Go for it

[2019-11-27 00:09] humphd commented on #340
Please assign yourself when taking issues.  I've done it for you this time, next time you can do it.

[2019-11-27 00:11] humphd commented on #352
@miggs125 this isn't critical, I just wanted to get it filed for later.  We can loop back on it.

[2019-11-27 01:12] miggs125 commented on #343
perhaps we should try writing the code that is causing the error with the previous version of the jsdom API and determine if that makes any difference

[2019-11-27 03:55] cagomezr commented on #353
Ill help with this let me know what you need and how you need it drafter

[2019-11-27 05:48] Reza-Rajabi commented on #287
@Grommers00 it's there 👆

[2019-11-27 16:57] Grommers00 commented on #353
Just need documentation on the flow. I will be at David's class tomorrow at 11:40, and I can show you what we want. Thanks.

[2019-11-27 17:06] agarcia-caicedo commented on #354
I'll work on it

[2019-11-27 18:53] miggs125 opened #359 "Rename files in src/feed/ to drop feed- prefix"
I've noticed under the feed folder, we have three different modules worker, queue and parser. Perhaps we can create an index.js module under src/feed/ that imports all feed-* files and exports all of them under one module. This way we only have to ``` require('./src/backend/feed') ``` once while having access to all feed related functionality.

[2019-11-27 18:53] miggs125 commented on #359
@humphd ^

[2019-11-27 19:00] humphd commented on #359
I would leave them separate, but drop the `feed-` prefix from all of them, so we have `src/backend/feed/parser`, `src/backend/feed/worker`, and `src/backend/feed/queue`.

[2019-11-27 19:02] jatinAroraGit commented on #259
Hey @humphd ,
I am stuck on something.
Both textParser and sanitize html  functions are promises and to set values of a class attribute in a constructor I call these functions and use 'then' to make sure to populate values but instead all i get is value set to 'Promise { pending }. Probably missing something but I am not able to find it out yet.

My Class Constructor :
![image](https://user-images

[2019-11-27 19:09] humphd commented on #259
There are a few ways we could go.

1. We could require that those async operations happen *before* you get the data in the constructor, so that you don't have to wait.  This would involve changes to code in the callers of your class.  This is probably the easiest way to do it.
1. We could accept a raw `html` string in the constructor, and expose `async` methods on the Post object to *generate* the

[2019-11-27 22:41] #204 closed

[2019-11-27 23:06] humphd commented on #145
This was fixed in #252.

[2019-11-27 23:06] #145 closed

[2019-11-27 23:06] cagomezr commented on #353
Okiedokie thanks

[2019-11-28 02:51] humphd opened #361 "Fix all log.error() calls to include full error object + message"
We have a bunch of cases [where we call `log.error`](https://github.com/Seneca-CDOT/telescope/search?q=log.error&type=Code) with our Pino logger. Sometimes we log a message, sometimes a string, sometimes the error itself.

We should be doing something like this:

[code]

This way we'll get an error message, some info from our program, and also a full call stack.  This is critical for debugging, es

[2019-11-28 02:53] SeanPrashad commented on #361
Looks like we have the following `log.error()` calls in the codebase at the moment:

[code]

[2019-11-28 02:53] #205 closed

[2019-11-28 04:53] lucacataldo opened #362 "Running "npm start" causes error, start script doesn't seem to be pointing to the right path"
Not sure if this is an issue with my current system / setup, but it looks like the npm start script is pointing to /src which is not where the index.js entry point is located. The start script in package.json currently reads:
`node src`

It looks like it should be
`node src/backend`

Again, I could be wrong but the above fix seems to work for me.

Steps to reproduce:

1.  Clone repo
2.  Run npm in

[2019-11-28 14:29] humphd commented on #362
Thanks for filing, @lucacataldo.  It looks like this got lost in a rebase during https://github.com/Seneca-CDOT/telescope/commit/3cd0686db1b7e99c9250939d359b1e9aa2c44db7.  cc @lozinska.

We really need to add a test to make sure that `npm start` works.

[2019-11-28 14:32] humphd opened #363 "Add test to make sure our app starts"
We broke `npm start` recently (#362), and one of the problems here is that we have no test to check if our app works or not.

Let's add a test using Let's add a test for this using https://www.npmjs.com/package/start-server-and-test to make sure that `npm start` a) works; and b) allows us to hit a route (e.g., get the home page at `/`).

[2019-11-28 14:32] humphd commented on #362
I filed a new issue on adding a test for this, #363

[2019-11-28 14:49] evlnyng commented on #363
I would like to work on this one.

[2019-11-28 15:09] cagomezr commented on #362
working on it

[2019-11-28 15:59] drwm-base commented on #359
I would like to work on this

[2019-11-28 16:53] c3ho opened #365 "Tests for spam-checker might require updating"
We'll be merging a PR #329 into the project, however we don't know if tests need to be updated or new tests need to be added.

[2019-11-28 17:09] lucacataldo opened #366 "[Preemptive] CSS issues with real-world blog post elements and content"
Once #346 gets merged, we will see some sample posts being rendered with real-world blog content on the front-end. While working on this, I came across some issues with the CSS where titles would overflow, responsive views weren't optimized and various other smaller fixes to the UI that could use some polishing. In the review, others made a valid point that these fixes shouldn't be included in tha

[2019-11-28 17:18] cagomezr opened #367 "Add Logging for the Feed parser"
The Feed parser  doesn't  provide us with   a lot of  feedback,  it be very useful to  have a way to get a log of where failures happened so that we can review later.

[2019-11-28 17:39] giatuongtran9 commented on #367
I can give it a try.

[2019-11-28 18:21] #260 closed

[2019-11-28 18:36] manekenpix opened #374 "Duplicated file storage.js"
`Storage.js` is currently in 2 different places, in `src/` and in `src/backend/utils/`
This probably happened after rebasing.

![Screenshot from 2019-11-28 13-33-25](https://user-images.githubusercontent.com/23108901/69827075-dfe81a00-11e3-11ea-8a88-24470c57f469.png)

[2019-11-28 18:41] manekenpix commented on #359
Closed via #360

[2019-11-28 18:41] #359 closed

[2019-11-28 18:44] humphd commented on #374
cc @mskuybeda.

[2019-11-28 18:50] KarlaChen commented on #374
@humphd the stoage.js under frontend is the latest one, should I copy all the code from there to utils/storage.js and remove the storage.js under frontend?

[2019-11-28 19:23] birtony commented on #315
[Upd]: Redis constructor only accepts password as on option, but not the username. Therefore, we can only pass the password to the Bull queue constructor.

[2019-11-28 20:00] cindyledev commented on #342
I got the same error running `npm run hint` on Linux, I don't understand most of the errors XD like what's wrong with our logo and favicon?

[2019-11-28 22:04] UltimaBGD commented on #347
Right, that was always the intent!

[2019-11-28 22:26] UltimaBGD commented on #347
As for Kubernetes templates, the issue one is almost perfect, with maybe just a few modifications to the environment section as not everything there applies. The PR template has type tagging, which would be good in standardizing the use of those. We could also add a section about if the new code has tests running for it already.

[2019-11-28 22:38] Grommers00 commented on #319
Hey Sorry @ragnarokatz  Sorry for the late reply.

The tutorial we are using currently is here
https://medium.com/disney-streaming/setup-a-single-sign-on-saml-test-environment-with-docker-and-nodejs-c53fc1a984c9

I'm not sure about this particular certificate, but how to build it is listed on the site I provided.  If they do the same thing I don't see an issue for it. I believe it will have to be

[2019-11-28 22:47] #173 closed

[2019-11-28 22:49] #374 closed

[2019-11-28 22:53] humphd commented on #362
Fixed by #364.

[2019-11-28 22:53] #362 closed

[2019-11-28 23:26] humphd commented on #181
I'm going to close for now, since we have all 3 on Travis, and CircleCI has been a bit of a pain to get working.  If someone wants to do this again, please file a new issue.

[2019-11-28 23:26] #181 closed

[2019-11-29 00:12] c3ho commented on #264
const feedQueue = require('./queue');
const feedParser = require('./parser');
const { logger } = require('../utils/logger');
exports.processor = async function(job) {
  const { url } = job.data;
  logger.info({ url }, 'Processing job');
  let posts;
  try {
    posts = await feedParser(url);
  } catch (err) {
    logger.error({ err, url }, 'feed parser failed to parse url');
    throw err;
  }
  r

[2019-11-29 01:20] jrdnlx opened #379 "Parsing information for OPML Generator"
I am building an OPML-Generator (issue #64 ) that shows feed list information in OPML format when you use the route `localhost:3000/opml` . We need to be able to get all the data and use it in that route.

Example of the data types needed is shown in the picture.

![image](https://user-images.githubusercontent.com/42614134/69837249-c662c480-121b-11ea-8f64-0949e0116f52.png)

[2019-11-29 01:21] ImmutableBox commented on #197
@Silvyre Hi, I also want to work on this issue. I just want to create a few tests for the `dateDiff` function to improve the coverage of `inactive-blog-filter`:

![image](https://user-images.githubusercontent.com/30512065/69837380-77695f00-121c-11ea-9db3-05dc85e32d27.png)

Is that ok?

[2019-11-29 01:28] Silvyre commented on #197
@ImmutableBox Certainly; please feel welcome to create tests to cover `dateDiff`. Thanks!

[2019-11-29 03:16] humphd commented on #379
What do `text` and `type` refer to exactly?  What are the possible values of each?

[2019-11-29 04:47] #334 closed

[2019-11-29 07:25] #64 closed

[2019-11-29 16:34] lozinska commented on #342
Hey, I would like to do investigation on this issue

[2019-11-29 18:28] Grommers00 opened #382 "Bug with example.env file"
https://github.com/Seneca-CDOT/telescope/pull/381 @nazneennahar

Looks like there's some white space in between the env environment example file when copying it to a new .env file it will give some errors while building as there can't be whitespace between the = operator and the variable name and the value.

[2019-11-29 18:43] humphd commented on #382
@nazneennahar can you fix this in a new PR, please?  There shouldn't be any spaces after the `=` signs in an `env` file.

[2019-11-29 18:47] humphd commented on #382
I wonder if we can lint this, or otherwise help devs get this right in the future?

[2019-11-29 19:16] #287 closed

[2019-11-29 19:16] Grommers00 commented on #287
I'm going to consider this close based on @Reza-Rajabi pull request. And a seperate issue I'm going to create for the configuration of it.

[2019-11-29 19:17] Grommers00 commented on #353
Can we fix this up to a proper pull request? @cagomezr

[2019-11-29 22:48] nazneennahar commented on #382
sure i will work on it

[2019-11-29 23:02] PavanKKamra commented on #367
Hello, I would like to attempt to try this issue!

[2019-11-30 00:24] humphd opened #384 "Circle CI needs to be able to run Puppeteer"
In #383 we're adding support for [Puppeteer](https://pptr.dev/), which uses Chromium in a headless way via JavaScript.  It's currently [failing in Circle CI builds](https://circleci.com/gh/Seneca-CDOT/telescope/611?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link).

As I [mentioned in my review](https://github.com/Seneca-CDOT/telescope/pull/383#pullrequestreview-3

[2019-11-30 02:04] jrdnlx commented on #379
Type refers to what kind of feed format we are using, so in telescope we are using rss format for our feeds. Another format we could use is atom.

Text refers to anything you want to, it could be the author name or title. In this example (https://github.com/paulirish/frontend-feeds/blob/gh-pages/frontend-feeds.opml) they use text as the title of the blog. Since for us we have a title already we sh

[2019-11-30 02:29] #326 closed

[2019-11-30 16:17] jayson528 commented on #384
is it okay if i try and have a go at this?

[2019-11-30 16:45] drwm-base opened #386 "CONTRIBUTING.md Redis and Prerequisites are outdated"
The prerequisites and redis setup sections are redundant at this point, and should include information on getting docker-compose and docker up and running. The environment requires docker and these instructions would be misleading to future developers.

Instructions on setting up the .env file would also be helpful here, aside from just entering credentials.

[2019-11-30 16:52] humphd commented on #386
Great suggestion.  cc'ing @Reza-Rajabi, who has spent the most time on the docker-compose pieces, and could probably help with reviewing this, or offering tips.

Another thing I think we should do in these docs is highlight the fact that you can use the `choco` package manager on Windows.  [Here's how we do Redis on Travis CI for Windows](https://github.com/Seneca-CDOT/telescope/blob/master/.travi

[2019-11-30 16:53] humphd commented on #384
@jayson528 you may have already seen this, but I've got a PR up for this in #385.

[2019-11-30 16:54] humphd commented on #386
https://chocolatey.org/ is the site for info on using `choco`.

[2019-11-30 17:00] humphd opened #387 "Travis CI Windows fails Redis install"
This is a tracking bug for the test failure on Travis CI for Windows:

[code]

I spoke to the team running chocolatey, and they think its a temporary network problem with their package registry.

For now, we'll have to ignore this.  I might disable Windows builds if it persists.

[2019-11-30 17:02] jayson528 commented on #384
@humphd yes i noticed the PR and removed unassigned my self. Just looking for an issue to work on.

[2019-11-30 17:16] manekenpix commented on #386
There's already an issue for all this, it's #249. I'm working on it but I'd be happy to merge what I have with @drwm-base and/or @Reza-Rajabi.

[2019-11-30 17:26] drwm-base commented on #386
Oops my bad. I'll let you go on with it. If I have anything to add I will after.

[2019-11-30 17:30] humphd commented on #386
@manekenpix have you actually started work on #249?  If not, maybe we should let @drwm-base take this, since you have other issues you're doing in parallel, and I know he's looking for something.

Regardless, let's close one of these two issues, and move forward in the other.

[2019-11-30 17:40] drwm-base commented on #386
@manekenpix its up to you, if you already started on this I can find something else.

[2019-11-30 17:50] manekenpix commented on #386
@humphd I put together some material about installation (not much), but it'd be great if @drwm-base  could take on this one.

@drwm-base I can transfer what I have to you if you don't want to start from scratch (installing docker on windows is a pain in the neck, I already did that part).

Let's close #249 then.

[2019-11-30 19:13] Grommers00 commented on #354
@agarcia-caicedo as soon as issue #319 lands, we can continue with this process.

https://medium.com/disney-streaming/setup-a-single-sign-on-saml-test-environment-with-docker-and-nodejs-c53fc1a984c9

We will keep going through this.

[2019-11-30 19:14] humphd commented on #249
We're going to close this in favour of #386, and just use markdown in tree.  Later (next term) we can expand this if we want.  If you have things you want included, add them to that issue.

[2019-11-30 19:14] #249 closed

[2019-11-30 19:15] humphd commented on #386
Closed #249, thank you @manekenpix.  @drwm-base you can take this, and please get input and reviews from people who have been working on this code, so we don't miss anything.  Thanks to you both.

[2019-11-30 21:58] drwm-base commented on #386
@manekenpix if you can send me what you have so far I would really appreciate it

[2019-11-30 22:53] humphd commented on #387
This is working again, closing.

[2019-11-30 22:56] humphd opened #388 "Reuse Puppeteer browser and page for text parser"
In #383 we are moving to use Puppeteer.  This uses a real Chromium browser to render content in a full DOM.  We can reuse the `browser` and `page` objects, so we don't have more than one instance.  We just have to use a Promise chain pattern, see https://github.com/puppeteer/puppeteer/issues/486#issuecomment-324221441:

[code]

Depends on #383.

[2019-12-01 00:27] manekenpix commented on #386
@drwm-base Absolutely, let me know if I can send it you by email or some other way.

[2019-12-01 00:48] #309 closed

[2019-12-01 00:48] #266 closed

[2019-12-01 00:57] #340 closed

[2019-12-01 01:11] humphd commented on #255
Assigning this to @jayson528, in case he wants to take it.  If not, we can unassign it.

[2019-12-01 02:25] Reza-Rajabi commented on #386
@drwm-base Let me know if I can help. Also, there are some instructions commented in `Dockerfile` and  `docker-compose` files which you may find useful.

[2019-12-01 03:02] #384 closed

[2019-12-01 03:13] sukhbeersingh commented on #388
I'll give this a go, once #383 is landed.

[2019-12-01 04:11] sukhbeersingh opened #391 "CircleCI failing to launch chrome"
Circle CI is failing to launch chrome for puppeteer with a third party orb. It complains of a missing shared library. However, putting the installation command for headless chrome dependencies into the config.yml file seems to solve the issue.

[2019-12-01 04:17] Cadesh opened #393 "Add last test for backend/storage.js"
The are still tests missing for the storage.js
![missing](https://user-images.githubusercontent.com/19479159/69909318-7e80a080-13c7-11ea-84e8-3d443709b582.png)

[2019-12-01 04:17] Cadesh commented on #393
I will fix this one

[2019-12-01 04:20] humphd commented on #387
Re-opening.  We need to allow this to fail and not fail Travis builds overall.

[2019-12-01 06:50] #387 closed

[2019-12-01 13:59] drwm-base commented on #386
@manekenpix I sent you an email through our internal email. Hopefully it reached you.
@Reza-Rajabi thanks for the offer, I will definitely use those comments and I will be putting up a pull request soon. I will be @ing people in that pull request whose features I am less sure of, to get feedback.

[2019-12-01 16:27] Silvyre opened #396 "Ensure that all environment variable calls are properly handled"
Since our CI testing does not define any of the environment variables that we set locally via our `.env` file, calls to any such variables (e.g. `process.env.BLOG_INACTIVE_TIME`) will return undefined during CI testing. As such, _environment variables should always be accompanied by a [default value](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_Operators#Shor

[2019-12-01 16:40] humphd commented on #335
@robertbegna this issue needs a fix very soon, as it will block other work.  Are you close?  If you can't get it done, I'll do it.  Let me know.

[2019-12-01 16:41] humphd commented on #262
How is this coming? It's one of the more important pending issues we have, as it will connect the backend and frontend.  I'd like to see some/all of it get in early this week if possible.  If you need help, let me know.

[2019-12-01 17:34] ragnarokatz commented on #319
@Grommers00 no worries.

According to the tutorial:
`openssl req -x509 -newkey rsa:4096 -keyout certs\key.pem -out certs\cert.pem -nodes -days 900` will generate a pair of certificate. However, the problem here is that I can't commit these to the repo since they are considered as sensitive information. Should I just email you the certificates?

I think this is supposed to be generated as part of t

[2019-12-01 17:41] manekenpix commented on #262
@humphd It's almost done, I'll probably have a PR tomorrow or maybe later today.

[2019-12-01 18:57] Grommers00 commented on #319
Ah. Makes sense. Is there a way to implement a script to do this?

[2019-12-01 20:03] ragnarokatz commented on #319
@Grommers00 I think a simple bash shell script can do the certificate generation part. I don't know about `sftp`ing the public key to the SP though. I think someone will have to manually install the certificate on SP to approve access of this particular IDP. Otherwise, anybody can just simply create a certificate and send them to SP and it will just accept all of them.

cc @humphd for advice and h

[2019-12-01 23:29] raygervais commented on #281
Will look into this further this week, hopefully we can find a great starting solution together @Reza-Rajabi! Apologies for the delay, work  + holidays makes the schedule terrible. Is there a background as to why'd utilize CircleCI over K8 and Helm @humphd?

[2019-12-02 00:21] Grommers00 commented on #319
Wouldn't that be okay just for testing purposes? @ragnarokatz, the SAML2 server we will be using is one that is built right into docker at the moment.

[2019-12-02 00:57] jatinAroraGit commented on #259
Hey @humphd ,
Everything seems to work fine but as soon as I include sanitize function it thows error. Trying to find a workaround for past week but could it be related to the bug mentioned in #352 ?.
If that is the case , I can just submit the PR with text parsing working and add sanitize capability in future.

[2019-12-02 01:09] shmooey commented on #347
I'm late, but Home Assistant has a pretty good PR template with fixed issue #, description and a checklist to confirm tests have been ran

[2019-12-02 02:27] Reza-Rajabi commented on #281
@raygervais That issue has been solved. Now I am working on the deployment part. I have made the Dockerfile for deployment (a different version from the development version that we have in repo now) and I have been trying to deploy it in Kubernetes. Yet I couldn't find an effective way. I have found different solutions that none of them made me sure that it's the better way of doing this. Here are

[2019-12-02 02:58] #197 closed

[2019-12-02 02:58] #199 closed

[2019-12-02 03:07] humphd commented on #382
Fixed.

[2019-12-02 03:07] #382 closed

[2019-12-02 16:10] humphd commented on #264
@c3ho I'm going to need this fix to land in the next day or so.  Are you able to do it that quickly?  If not, I'll need to take it from you.  Let me know.  We could also work on it in class tomorrow.

[2019-12-02 16:11] humphd commented on #393
This is fixed, closing.

[2019-12-02 16:11] #393 closed

[2019-12-02 16:15] humphd opened #405 "Refactor inactive-blog-filter.js to use Redis vs. files"
We have some logic that is using files to deal with state, and we need to move that into Redis, so it can be distributed across nodes in production.

The various files that are being used in `inactive-blog-filter.js` should be refactored to use Sets in Redis, which we should be able to use to do set operations (unions, diffs, intersections, etc), and thereby keep our list of feeds up to date.

See

[2019-12-02 16:22] humphd commented on #391
I think this won't be necessary, I wasn't calling into the orb, https://github.com/Seneca-CDOT/telescope/commit/174fa8c5a7c81f4471231515808cbe1f9adf6fa5.

[2019-12-02 16:27] humphd opened #406 "TypeError: readingLevel is not a function"
Seen during a test run on Circle CI:

[code]

[2019-12-02 16:40] Silvyre commented on #405
Please allow me!

[2019-12-02 16:54] Silvyre commented on #406
Looking into this.

[2019-12-02 16:55] Silvyre commented on #405
Stepping aside from this until #406 is resolved.

[2019-12-02 16:55] #391 closed

[2019-12-02 17:48] #335 closed

[2019-12-02 17:54] #187 closed

[2019-12-02 18:26] haichuan0424 commented on #405
Karla and I are going to do this.

[2019-12-02 18:49] c3ho commented on #264
I’ll be able to finish by tomorrow

[2019-12-02 19:22] humphd commented on #406
This turns out to be an issue of node versions.  We can improve things by requiring that our node `engine` be new enough to support `fs.promises`.

[2019-12-02 19:23] humphd commented on #388
Turns out we're going to need this sooner rather than later.  I'm using it in #408, and without it, it's going to use too many resources to run the server.  Let's do this in class together tomorrow morning.

[2019-12-02 19:27] humphd commented on #264
Awesome.  Let's plan to work on reviewing and merging this in class in the morning.

[2019-12-02 19:47] humphd commented on #388
This might be overkill, but we could maybe use the [puppeteer-cluster](https://github.com/thomasdondorf/puppeteer-cluster) module, which does a bunch of this for free.

This is sort of what we're doing: https://github.com/thomasdondorf/puppeteer-cluster/blob/HEAD/examples/function-queuing-complex.js.

cc @giatuongtran9

[2019-12-02 21:12] Silvyre commented on #406
Should we additional set [`engine-strict=true`](https://docs.npmjs.com/misc/config#engine-strict) in [`.npmrc`](https://github.com/Seneca-CDOT/telescope/blob/master/.npmrc) to more strongly enforce this?

[2019-12-02 22:23] humphd commented on #406
Let's start with just warning, and we can escalate from there if necessary.

[2019-12-02 22:24] Silvyre commented on #406
On it.

[2019-12-02 22:31] RyanMarzec commented on #347
ignore 77e394.
@humphd @UltimaBGD @Grommers00 @manekenpix. I started first draft of the pull request template and just wanted some input on what I currently have, let me know if you think anything should be changed/added/removed.
or @ anyone you think might have good input to add!

Thanks

[2019-12-02 23:54] raygervais commented on #281
Thanks for the update @Reza-Rajabi! Below are my thoughts on some of the points you listed 👍, I'd love to help you with the deployment work where I can, and I'll repeat: apologies again for the delay at times in responses.

* In my experience, I'd advise not looking at Docker-Compose as an unsafe tool to utilize; I've seen it in production in a multitude of startups and enterprise setups. It's wid

[2019-12-03 01:12] ThomasLuu00 commented on #220
I'll work on this if no one has started.

[2019-12-03 01:41] humphd commented on #406
Another data point for you:

[code]

We are going to have some version issues to deal with for using LTS.  cc @manekenpix, who is hitting this in Circle CI, and @shmooey who is working on version updates, and might find this interesting.

[2019-12-03 01:57] #296 closed

[2019-12-03 01:59] humphd opened #415 "Remove spam-filter module and associated code"
We're having issues using the https://www.npmjs.com/package/spam-filter module, since it depends on a really old version of node.  Let's remove it, or replace it.

We're not currently using spam filtering at all, so it's critical to have this (yet).

[2019-12-03 02:07] humphd opened #416 "Circle CI install failure on @hint/utils-compat-data@^1.0.2."
We have an issue with @hint/utils-compat-data@^1.0.2 we should address, it's failing Circle CI.

[code]

[2019-12-03 02:14] humphd commented on #416
This appears to be a caching issue on Circle CI.  The `@hint/utils-compat-data@^1.0.2` package is a very recent update.  I restarted the build on Circle CI and it worked.

[2019-12-03 02:14] #416 closed

[2019-12-03 02:21] shmooey opened #417 "Update hint"
Hint is outdated and causing errors

[2019-12-03 02:27] humphd commented on #281
This week I'm in last-week-mode trying to get all PRs merged before end of term, so realistically, I can't do any design work on this.

I do want to return to this, but FYI, I'm slammed.  You all can make some decisions and iterate.

[2019-12-03 02:37] cindyledev commented on #415
Seeing how spam-filter hasn't been updated in 2 years and depends on node 8 and npm 5... I started digging around our packages to see which ones are also in the same boat where it hasn't been updated in a while.
[code]
These aren't complaining now but I'm worried that they might complain in the future @_@
Am I overthinking or are these ticking time bombs?

[2019-12-03 03:04] UltimaBGD commented on #347
Okay, I will follow suit with one in a similar format for issues shortly.

[2019-12-03 03:04] UltimaBGD commented on #347
My apologies, misclicked.

[2019-12-03 03:35] Reza-Rajabi commented on #281
@raygervais Thank you for your detail comment.
By too much detail and health probs in YAML file, I meant something like the variables that have been defined in [this](https://github.com/CloudNativeJS/helm/blob/master/chart/nodeserver/values.yaml) example.
I like your suggestion of docker-compose.

[2019-12-03 03:44] cindyledev commented on #417
Closing this since the PR has landed

[2019-12-03 03:44] #417 closed

[2019-12-03 03:49] cindyledev commented on #406
Reopening this as #412 doesn't resolve this issue

[2019-12-03 03:53] humphd commented on #406
For the `readingLevel` issue, I think it can be fixed like so:

[code]

[2019-12-03 03:54] humphd opened #419 "Error: textParser.run is not a function"
We rewrote how we expose the `textParser`: it used to have a `run` method, and now it's just a function.  We need to update `src/backend/utils/spam-checker.js`:

[code]

[2019-12-03 03:57] humphd opened #420 "Consolidate utils/basic_analysis and utils/reading-level"
We have two files doing essentially the same thing:

- src/backend/utils/basic_analysis.js
- src/backend/utils/reading-level.js

Both use the `reading-level` module.  We don't need both, so let's get rid of one, and update the tests to use the proper one.  Also, we aren't importing correctly in both files, see #406.

[2019-12-03 03:59] humphd commented on #420
I also see some unhandled errors being thrown by what looks like one of these in our tests:

[code]

[2019-12-03 04:10] raygervais commented on #281
Let's try pressing forward for Docker-Compose then @Reza-Rajabi, it's the least verbose and appears so far to be the solution with the least amount of friction in my opinion. If needed, pivot is of course an option, but let's see if we can pull out any value from a Kubernetes + Docker-Compose stack before writing it off. If there's any way I can help with that let me know!

I'm assuming the origin

[2019-12-03 08:15] ragnarokatz opened #423 "optimize text-parser.js to use the same browser"
The file `telescope/src/backend/utils/text-parser.js` needs to have its logic modified so it doesn't open a new browser window everytime the function is called.

Current state:
[code]
Target state:
1. instantiate a browser instance to be used
2. use the same browser instance for all function calls
3. close the browser instance after all text parsing services have completed

[2019-12-03 13:37] Reza-Rajabi commented on #4
@raygervais I will try to make a docker-compose draft and make a pre-pull request along with a deployment docker file. The docker-compose file may require a lot make up though afterward. How does that sound as a starting point? would you suggest any example for the docker-compose file?

[2019-12-03 13:48] #319 closed

[2019-12-03 13:59] Manan311 commented on #419
I can send in a pr for this bug.

[2019-12-03 14:05] Grommers00 opened #424 "Add necessary express routes for SAML2"
Adding everything that is needed in express to get SAML2 test server working.

[2019-12-03 15:46] raygervais commented on #4
@Reza-Rajabi, that's a great starting point. We can workout draft file together. Let me get back to you on that example, but if you have any ideas that you want to try please go ahead. You got this 😄

[2019-12-03 17:06] #259 closed

[2019-12-03 17:24] #264 closed

[2019-12-03 18:01] #262 closed

[2019-12-03 18:58] ThomasLuu00 commented on #423
Is there a reason we require a browser instance to parse the html text?

[2019-12-03 19:29] #283 closed

[2019-12-03 19:33] humphd commented on #423
@ThomasLuu00 they added it because JSDOM isn't able to do any text parsing that depends on layout information (i.e., you need a full browser to handle that).  They moved to Puppeteer to achieve this.

This bug is a dupe of #388, cc @sukhbeersingh.  I don't care who wants to fix this, but make sure you two co-ordinate, and close one of these.  @sukhbeersingh assigned this first, so I'd say he has r

[2019-12-03 19:36] humphd opened #428 "Encode guids in URLs returned in posts JSON results"
In https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/posts.js#L24 we are builidng a URL to pass back to the browser.  In it, we do:

[code]

We had a bunch of bugs today due to encoding/decoding of this data.  Let's change this so that the URL we return is already properly encoded:

[code]

The `id` can remain decoded (i.e., leave it as is).

[2019-12-03 19:40] humphd opened #429 "Sanitize HTML before storing in Post"
In the feed worker, we have a function that turns parsed feed objects into `Post` objects.  We need to [update this to pass the HTML through our HTML Sanitizer](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/feed/worker.js#L13).

[2019-12-03 19:41] #386 closed

[2019-12-03 19:41] humphd commented on #429
NOTE: we also need to get the raw text parsed out too, but we need to get our Puppeteer resource sharing done first, see #388.

[2019-12-03 19:48] #419 closed

[2019-12-03 19:50] humphd opened #430 "Add tests for HTTP /post route"
We recently added a `/post` route to our web server.  It works by taking a Redis key (guid) for a post in the database, and returning a JSON object for that that post.  We need tests for:

- 404 case: if we give an id that doesn't exist in the database, it should return a 404
- 500 case: possibly hard to test, we need to do the right thing if the database goes down
- 200 case: given a key in the d

[2019-12-03 19:57] humphd opened #431 "Add tests for HTTP /posts route"
We recently added a `/posts` route to our web server.  It currently works by taking no arguments and returning a JSON Array of objects with `id` and `url` for all posts in the database.  We need tests for:

- 500 case: possibly hard to test, we need to do the right thing if the database goes down
- 200 case: expect this to return array with correct number and type of elements.

To test the latter

[2019-12-03 20:00] humphd opened #432 "Limit number of posts returned by HTTP /posts route"
We got the code to run today, and it's already obvious that we can't ever return/use all posts from the database--there are too many.

We should start by updating the `/posts` route to take an optional number: `/posts/:count?`, where `count` should be a number.  We'd use this as the upper limit for the number of posts we request from the database.

By default, I suggest that we should limit this t

[2019-12-03 20:12] cindyledev commented on #314
Reopening because there are two parts for this issue

[2019-12-03 20:34] c3ho commented on #314
Permission to work on part2 of this?

[2019-12-03 20:52] ragnarokatz commented on #423
@humphd oops didn't see #388
Closing this ticket now and referencing the old ticket.

[2019-12-03 20:53] #423 closed

[2019-12-03 20:54] ragnarokatz commented on #388
Updated code:

Current state:
module.exports = async function(htmlFragment) {
  let browser;
  try {
    browser = await puppeteer.launch();
    const page = await browser.newPage();
  }
...

Target state:
1. instantiate a browser instance to be used
2. use the same browser instance for all function calls
3. close the browser instance after all text parsing services have completed

[2019-12-03 22:20] humphd commented on #432
I wonder if my design for this is wrong.  Probably we should look at prior art.  Maybe we should allow query string params with a range?

Another thing we should do is reverse the order of what Redis returns from the set.  I would expect the most recent posts, not the oldest.  We can do that in this PR or in another.

[2019-12-03 23:20] manekenpix commented on #432
I think `/posts` vs `/posts/:count` would be enough unless we want to limit or alter the number of returned posts in other ways, all at once.

I'll add sorting most recent to oldest in this PR.

[2019-12-03 23:32] haichuan0424 commented on #405
Going to take #270 instead. Feel free to take this.

[2019-12-03 23:42] PavanKKamra commented on #429
Hello, I would like to give this a try :).

Thanks,
Pavan.

[2019-12-04 00:56] jrdnlx commented on #420
@humphd are we looking to fully remove one and just use one of the reading modules? and do we want to keep both tests or just update the tests that we keep and remove the other test?

[2019-12-04 02:22] humphd opened #435 "Set up automatic build and push for Docker images when merging to master"
I spoke with @ctyler today about standing up a staging environment, and we agreed that the best way to get there is to leverage Docker, and do some automation.  We already have the excellent work that @Reza-Rajabi, @manekenpix, et al have done on dockerizing our app and deps.  Here's what I'd like to do to leverage this.

When we merge to `master`, I'd like to have it automatically trigger a build

[2019-12-04 03:21] manekenpix commented on #432
I'm wrong. From what I've been reading, it seems that:

So I guess I'll use query parameters. @humphd what do you think?

[2019-12-04 03:41] raygervais commented on #435
_Init Docker Hub Idea_
Thought that is a downside of Docker Hub, I wouldn't let it discourage. I can't say I have any experience with the the organization-esque side of Docker, but here's what I'm thinking we could look into. Telescope could employ the idea of creating a `Seneca CDOT` organization for example, and once initial setup is done and multiple administrators have been appointed (thus rem

[2019-12-04 04:25] #190 closed

[2019-12-04 04:32] #428 closed

[2019-12-04 04:44] #220 closed

[2019-12-04 14:16] humphd commented on #432
I think we should [follow GitHub's lead here](https://developer.github.com/v3/#pagination), they do it well.  Specifically:

- `/posts` should return 30 items by default
- `/posts?per_page=15` should return 15 items
- `/posts?per_page=101` should return 100 items (i.e., cap it at 100 as a max value)

Given the above, we can also do pagination, either in this PR or a new one:

- `/posts?page=2` sho

[2019-12-04 14:17] humphd commented on #432
https://developer.github.com/v3/guides/traversing-with-pagination/ is really useful to understand this, especially from the consumer side.

[2019-12-04 14:20] humphd opened #437 "Test Failure on master for test/storage.js"
[code]

[2019-12-04 14:23] humphd commented on #437
cc @KarlaChen, @haichuan0424, this looks like your test from 1adf9edb

[2019-12-04 14:39] manekenpix commented on #432
@humphd I'll include `per_page`. `page` and `Link` can be part of different PR(s).

[2019-12-04 16:02] lozinska commented on #342
Hi @humphd ,@robertbenga I'm trying to run `npm run webhint` and it's giving me error (see pic below).
NOTE: Before I `pull upstreammaster` I was able to generate report.
Question: Is it just me or there were some updates that stop this command from generating report?
![image](https://user-images.githubusercontent.com/49209351/70157998-828d1680-1684-11ea-8ce0-f6b979035c93.png)

[2019-12-04 18:00] humphd opened #439 "Intermittent timeouts in text-parser tests"
Sometimes, when running tests locally, I'm failing text parser tests due to timeouts.  I wonder if we need to bump up the timeout for these tests to 10s or something?  cc @giatuongtran9, @PavanKKamra:

[code]

[2019-12-04 18:14] #432 closed

[2019-12-04 18:22] #314 closed

[2019-12-04 18:23] humphd commented on #431
Add tests to check that we honour the number of elements returned:

-  `/posts` should return 30 items by default
- `/posts?per_page=15` should return 15 items
- `/posts?per_page=101` should return 100 items (i.e., cap it at 100 as a max value)

[2019-12-04 18:24] humphd opened #441 "Update /posts route to support paging"
We should [follow GitHub's lead](https://developer.github.com/v3/#pagination), they do pagination well.  Specifically:

- `/posts?page=2` should return 30 items, but the second 30 items in our set
- `/posts?page=3&per_page=10` should return 10 items, but the third page of 10 items

We should also add a `Link` header with URLs for `next`, `prev`, `first`, `last`.  These would allow the browser to n

[2019-12-04 18:25] humphd commented on #437
Fixed.

[2019-12-04 18:25] #437 closed

[2019-12-04 18:59] UltimaBGD commented on #439
As mentioned in my PR above, which does not change any of these files, it has also timed out when being tested on Travis. Circle CI however, remained fine.

These are the logs for the timeouts on [Windows](https://travis-ci.org/Seneca-CDOT/telescope/jobs/620759132?utm_medium=notification&utm_source=github_status) and [Mac](https://travis-ci.org/Seneca-CDOT/telescope/jobs/620759131?utm_medium=notif

[2019-12-04 19:00] UltimaBGD commented on #439
The Mac build passed as well in the latest build of my PR, despite no changes that should affect the test or the code.

[2019-12-04 19:10] humphd commented on #439
Let's bump these tests up.  You do it like this:

[code]

Add a third arg to the test to specify a timeout in ms.

[2019-12-04 19:14] humphd opened #443 "Support Accept header in /posts route"
Our `/post` route returns JSON for a post, given a key.  Let's add support for `Accept: text/plain`.  Using [`req.accepts()`](https://expressjs.com/en/api.html#req.accepts), we can check for text or json, and give back either JSON, or return the pure text content of the post.  We might also want to support `text/html` and just send the HTML content?

[2019-12-04 20:25] humphd commented on #342
Delete your `node_modules` and re-run `npm install` to get all the deps installed properly.  I found just running `npm install` didn't do it.

<details>
<summary>Here is what I get when I do that</summary>
<pre>✖ Finishing...
You can view the HTML report in "/Users/humphd/repos/telescope/hint-report/http-localhost-3000/index.html"
http://localhost:3000/
                 Error              'http://

[2019-12-04 20:55] humphd opened #445 "Short circuit feed processing if we already have processed data"
If you run the server, and let it process all the feeds, it will have all the data it needs cached in Redis when it ends.  However, if you restart the server, it will start again, and re-process all the data.

We should try and be smarter about this.  A few ideas:

- When we download a feed, we could first check headers, and see if it's been updated since the last time we downloaded.  We'd have to

[2019-12-04 21:04] lozinska commented on #342
@humphd thank you. Will do

[2019-12-04 21:42] humphd opened #446 "Expose posts count via HTTP api"
We don't currently have a way to let the user know the number of posts in our posts collection.  We're working on adding pagination in #441, but it won't necessarily include info about total count of posts.  We should consider how to approach this.

We could do it via a `/posts/count` end point, but I don't know if this is ideal.  We could also include it in the headers of our `/posts` response, m

[2019-12-05 03:50] humphd opened #451 "Add Windows script for generating SSL certs needed for SAML2 login flow"
In #448 and #449 we're working on getting the SAML2 login flow working, and it will require SSL certs for development and testing.  We have a script to do it on *nix, but not Windows.

There are a number of ways this can be done, see https://medium.com/the-new-control-plane/generating-self-signed-certificates-on-windows-7812a600c2d8.  This fix needs to do at least 2 things:

- add a script to `too

[2019-12-05 04:23] cyh0968 opened #452 "Add new templates for the next release"
The current version of the index.html page has been developed a lot. It seems good but it should contain a lot of functionality so the index.html code will be very complicated in the end. It might be a good idea to make another clean template that focuses on UI/UX because when we complete the basic functionalities, we can easily integrate our code with the new templates. Plus, it is always nice to

[2019-12-05 04:24] cyh0968 commented on #452
If you don't mind, I want to handle this part.

[2019-12-05 04:30] cyh0968 opened #453 "Add comments features on the blog post."
The telescope will be the place for Seneca opensource community. Therefore, it seems like a good idea to have comment section. If we add comments sections, we can easily communicate. For instance, when someone tries to follow some content of the feed, he may face some trouble. In this case, if telescope support to read/write comments features, he can easily solve a problem. Plus, other readers can

[2019-12-05 04:31] cyh0968 commented on #453
For this issue, I will add a comment section on the index.html.

[2019-12-05 04:37] cyh0968 opened #454 "Add post analysis information to index.html"
Even though the telescope has a variety of options to analyze the blog post, the current version of the index.html template does not reflect the update. It will be a good idea to contain that information in the template.

[2019-12-05 04:37] cyh0968 commented on #454
My workflow is related to this part, so I will handle this part.

[2019-12-05 04:39] manekenpix commented on #454
Could you explain what you mean with `update`?

[2019-12-05 04:44] aprilllllllll commented on #453
Can I do the CSS for this part?

[2019-12-05 04:46] #431 closed

[2019-12-05 05:01] cyh0968 commented on #454
Oh yes, for instance, our analysis feature provides information about a blog post such as reading time, reading level, word count and summary. But the current version of index html has no html component to show that information. So I think it would be good that the index.html has an element to show analysis information.

[2019-12-05 05:03] cyh0968 commented on #453
Sure, once I finish the html, then you can add CSS. I will tell you when I update the html component about the comment.

[2019-12-05 06:02] cyh0968 opened #456 "New Feature Suggestion: Add like feature"
One of the purposes of the telescope project is to share useful information. Since a lot of Seneca students or graduates will read and update post, I think it is crucial to know which information is more valuable than others. One solution can be counting the number of like of each post for a specific period (it can be one week or one month like git trend). Plus, to categorize each topic, using has

[2019-12-05 06:07] manekenpix commented on #456
See #26

[2019-12-05 09:28] cyh0968 commented on #456
Well, I think the feature seems similar but the intention is different. The reason I suggested "like feature" is to distinguish more valuable information, not to find who is the most popular one. The basic idea is from [hacker news](https://news.ycombinator.com/).

If we can't distinguish which information is more weighted, then it would be extremely hard to find proper information. If our project

[2019-12-05 14:37] humphd opened #458 "CI Test failures in feed-worker.js"
I keep [running into these test failures](https://travis-ci.org/Seneca-CDOT/telescope/jobs/620930584?utm_medium=notification&utm_source=github_status), and it might be due to improved `try/catch` error handling in the feed worker's processor function:

[code]

I don't think these tests are doing what we expect, and they shouldn't be causing failures all the time.  cc @ragnarokatz, who was one of t

[2019-12-05 14:41] #429 closed

[2019-12-05 15:02] humphd commented on #367
I'm doing this, closing.

[2019-12-05 15:02] #367 closed

[2019-12-05 15:03] izhuravlev commented on #430
I would be happy to work on it!

[2019-12-05 15:16] MusaBajwa commented on #365
Hi I am going to try to fix this issue.

[2019-12-05 15:23] asyam1 commented on #456
I would like to help you with this feature

[2019-12-05 15:28] humphd commented on #446
This requires modifying `/src/backend/web/routes/posts.js` to add a new `/count` route, which should call `getPostsCount()` in `/src/backend/utils/storage.js` and return it as JSON.

[2019-12-05 15:29] humphd commented on #446
Tests for this could happen here, or in another follow-up PR.  Using the work that @manekenpix already did for the tests in #450.

[2019-12-05 15:43] c3ho opened #461 "Update index.html to connect listen for server events"
Let's try using Server Sent Events.

In another PR, we also need to update our frontend index.html to connect to this route, and listen for these updates.

[2019-12-05 15:45] c3ho commented on #461
Complete message here from #314

We need a way to signal to the browser that new posts are available to be downloaded. When our feedQueue completes processing all the posts, we need to listen for an event, and then trigger a message to the browser.

Let's try using Server Sent Events.

In another PR, we also need to update our frontend index.html to connect to this route, and listen for these upda

[2019-12-05 16:01] c3ho opened #462 "Integrate inactive blog url and include logic to filter inactive feeds"
Currently we have work for the inactive blog, but we'll need smarter logic in order to filter feeds, could probably improve on this as we go.

- We will probably need a set for inactive feeds
- Include logic to designate the feeds that are in the feed set and inactive set
- The intersection between feeds and inactive sets should be designated to inactive after the current 8 tries

[2019-12-05 16:16] humphd commented on #352
We're going to need a fix for this soon, since we've hooked up the sanitizer.  I think we probably need to change how we/DOMPurify is creating the HTML document that gets parsed, so that it doesn't fail when trying to load resources (e.g., img)

[code]

[2019-12-05 20:14] manekenpix opened #464 "Formatting error in CONTRIBUTING.md"
I'm not sure but I think this part of [CONTRIBUTING.md](https://github.com/Seneca-CDOT/telescope/blob/master/docs/CONTRIBUTING.md) is not supposed to look like this. @drwm-base can probably verify it

![Screenshot from 2019-12-05 15-11-06](https://user-images.githubusercontent.com/23108901/70270130-b72acc00-1771-11ea-9821-522026e889ae.png)

[2019-12-05 21:29] c3ho commented on #461
@humphd when you mean index.html... you're talking about main.js file right?

[2019-12-05 21:42] c3ho commented on #405
If someone is not taking this, I think I can work on it too, since there is some dependency from 462 on this.

[2019-12-05 21:54] ragnarokatz commented on #458
@humphd I'll take a look at this.

[2019-12-05 22:03] giatuongtran9 commented on #439
@humphd sorry for my late reply, do you want to increase the run time for that specific test? I found this on the Jest document https://jestjs.io/docs/en/configuration#timers-string that you can create a fake timer but I don't know how to add it to the project

[2019-12-05 22:09] giatuongtran9 commented on #388
@humphd sorry for my late reply. Do you still want to use puppeteer-cluster? I can have a look at it

[2019-12-05 23:34] sukhbeersingh commented on #388
Hey @giatuongtran9 if you want to try this please go ahead. I would love to work on this but I have some assignments backlog for other courses so I won’t be able to touch this until next week.

[2019-12-05 23:39] humphd commented on #461
@c3ho correct.

[2019-12-05 23:58] UltimaBGD commented on #439
Would you need to create a fake timer? I think adding the timeout at the end of the test should be enough, but I could be wrong.

[2019-12-06 00:41] humphd commented on #464
I keep seeing this file get updates in people's PRs.  I wonder if we need to do `npm run prettier` to reformat it?

[2019-12-06 00:42] humphd commented on #458
My change in #466 fixed these for me, not 100% sure why.  I suspect our tests aren't doing the right thing with failed promises, and it's getting tripped by the errors thrown from DOMPurify.

[2019-12-06 00:55] #270 closed

[2019-12-06 01:02] c3ho commented on #445
Where would you suggest making these changes? Should the change happen in worker.js or in addPost() of storage.js?

Expanding on this should we include an updatePost for storage.js?

[2019-12-06 01:09] humphd commented on #445
What about this.  Here's the headers of your blog feed:

[code]

What if we did a HEAD request to a feed URL, and determined if it's been updated since we last downloaded and parsed it?  We have some info in the headers:

- date
- cache-control
- expires
- last-modified

See https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers.

We could add some of this

[2019-12-06 01:11] humphd commented on #445
We could also add an `If-modified-since` header to let the remote server tell us if we need to re-download it.  See https://flaviocopes.com/http-request-headers/#if-modified-since

[2019-12-06 01:21] humphd commented on #445
So summing up, what if we try this:

1. When we parse a feed in our worker, we try to get a `last-modified` key value out of the feed hash from Redis (it won't exist the first time).  We'll have to add this to our storage code.
1. If it exists, we can use it to do a node-fetch HEAD request, passing `If-Modified-Since: ''+date.toUTCString()` on the headers.  If we get back a 200, we go ahead and pr

[2019-12-06 01:21] #352 closed

[2019-12-06 01:28] c3ho commented on #445
Yep, that should be enough info for anyone wanting to work on this one.

[2019-12-06 01:46] humphd opened #467 "Content scrolls beyond post title header"
There's a width/scrolling bug with how the post headers are done, allowing content to scroll to the left/right of it.  The header should extend 100% of the width of the content container, such that the post itself scrolls beneath it.

![scroll-bug](https://user-images.githubusercontent.com/427398/70288648-3f27ca80-17a0-11ea-80a5-cf1df40c02d9.gif)

[2019-12-06 02:11] ragnarokatz commented on #458
@humphd yup. After pulling down the latest changes from upstream master, I can confirm this is fixed on my end. I guess the troublemaker was indeed the `DOMpurify` module.

I'm opening up 2 more issues based on this one:
1. Seeing that we only have one simple test case in `sanitize-html.test.js`, we should add more to catch these errors on a unit test level, not when the errors get carried over al

[2019-12-06 02:13] ragnarokatz opened #468 "add more test cases to sanitize-html.test.js"
This issue was created as a result of fixing #458

Add more unit test cases to `sanitize-html.test.js`. This will serve as documentation as to how `sanitize-html` behaves according to different content passed in.

[2019-12-06 02:14] ragnarokatz opened #469 "update tests in feed-worker.test.js to use nock/fixture"
This issue was created as a result of fixing #458

The tests in `feed-worker.test.js` have gone out of date. Instead of going out to the web to get real responses, the responses should be mocked up using our `nock` and `fixture` modules in a fashion similar to `feed-parser.test.js`.

[2019-12-06 02:32] ragnarokatz commented on #458
The key error message was this: `Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch().`

My guess is that it was referring to these lines:
[code]

when `sanitizeHTML.run` errors, `Promise.all` didn't have a `catch` to handle it.

[2019-12-06 03:10] ragnarokatz commented on #388
@giatuongtran9 I can work with you on this issue.

[2019-12-06 03:19] #464 closed

[2019-12-06 03:20] humphd commented on #458
@ragnarokatz interesting.  I'm unclear why the enclosing `try/catch` wouldn't be enough to deal with that...

[2019-12-06 03:21] humphd commented on #458
Let's close this, and follow-up in your other issues.  Thanks for your research.

[2019-12-06 03:21] #458 closed

[2019-12-06 03:46] humphd commented on #3
We've got an initial MVP front end, so let's close this.  We'll iterate on it more, probably rewriting in React or something in the next iteration.

[2019-12-06 03:46] #3 closed

[2019-12-06 07:19] c3ho commented on #461
Alright, I got an issue. I played around a bit, but I'm not sure of the exact implementation.
I'm unable to include server-sent-events.js into main.js as a require (forgive me as it has been a while since I've done any front end)

I rewrote the function here to play around with it
[code]
Should I just call getPostsPage() again right after the console.log line?

[2019-12-06 07:54] c3ho commented on #461
Update, I tried the getPostsPage() within the source.onmessage, it worked. It's a rough ride though as it'll keep update the page non stop while it processes all the feeds. I tried to put a timeout of 30s
like so to delay the getPostsPage() by 30s
[code]
Didn't work, still updating on every process. I'd imagine this wouldn't be as annoying when all the current posts have been processed.

[2019-12-06 16:51] asyam1 commented on #467
I would like to work on it

[2019-12-06 16:55] humphd opened #475 "Add support for ?since to /posts route"
In #474 we're adding support for paging.  If you know how many items you want, you can request to receive them in pages of up to 100 elements.

Another approach I'd like to see us implement in parallel is adding code to handle `?since` queries to the `/posts` route.  Here, we'd allow requesting new posts, which have been added/updated in our sorted set *since* the given time.

We could either have

[2019-12-06 19:40] #289 closed

[2019-12-06 20:11] Silvyre commented on #406
I am unassigning myself from this issue, as
1. I believe my role its resolution is complete, and
1. I suspect my assignment may be keeping others from investigating further

Ideally, some input from @jordanhui19 (the author and sole contributor of [`reading-level.js`](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/reading-level.js) and [`reading-level.test.js`](https://gith

[2019-12-06 21:49] s-arika opened #478 "Post Author and Date Inconsistencies"
Some of the post author and date have inconsistent layout.
<img width="909" alt="Screen Shot 2019-12-06 at 4 47 26 PM" src="https://user-images.githubusercontent.com/28491962/70358767-21ae3b80-1848-11ea-89e9-f58c87ed897d.png">

<img width="1070" alt="Screen Shot 2019-12-06 at 4 47 35 PM" src="https://user-images.githubusercontent.com/28491962/70358771-2246d200-1848-11ea-8bc7-0d8f85b739c7.png">

<i

[2019-12-06 22:05] ragnarokatz commented on #388
@humphd can I take on this issue and assign it to myself? @giatuongtran9 seems to be busy and hasn't responded yet.

Don't worry about merging this PR in a hurry if you have other PRs to merge for Friday night/over the weekend.

[2019-12-06 23:47] Grommers00 opened #482 "Create documentation to get saml server running"
This is just documentation  regarding how to run the saml service locally and test things out- @agarcia-caicedo asked me to help her with this.

[2019-12-06 23:49] agarcia-caicedo commented on #482
I will submit the documentation soon

[2019-12-07 00:16] humphd commented on #446
Closed by #465

[2019-12-07 00:16] #446 closed

[2019-12-07 00:17] humphd commented on #388
@ragnarokatz go for it.  I think others are slammed with other work.  I'd love a PR for this.

[2019-12-07 00:23] #312 closed

[2019-12-07 00:34] #347 closed

[2019-12-07 00:40] #255 closed

[2019-12-07 00:43] #420 closed

[2019-12-07 00:44] #469 closed

[2019-12-07 00:49] KarlaChen commented on #468
@ragnarokatz Tony and I are going to add more test for it.

[2019-12-07 00:56] humphd commented on #468
It would be helpful to take a look at the actual HTML being sent to our server now, and write some cases for things people actually do in their posts.

[2019-12-07 01:00] humphd opened #483 "Figure out how paging works in Gatsby and implement it for UI"
**What would you like to be added**:

Add support for `Link` header parsing in our HTML.  We can use https://www.jsdelivr.com/package/npm/parse-link-header to extract it from the headers of our `fetch` call.

**Why would you like this to be added**:

When #441 lands, we'll have proper paging supported in our backend.  We need to support it in the UI of our frontend.

[2019-12-07 01:54] humphd opened #485 "PR Template has different sized headings"
**What happened**:

The recently added template for PRs has some issues, and the size of headings is different, see example:

<img width="696" alt="Screen Shot 2019-12-06 at 8 53 06 PM" src="https://user-images.githubusercontent.com/427398/70367052-88445100-186a-11ea-965f-9177fabd9ebb.png">

**What should have happened**:

Let's standardize all the headings to be the same size.

**How to reproduce

[2019-12-07 02:23] KarlaChen opened #487 "Add <figure> to allowedTags in sanitize-html.js"
**add ```<figure>``` allowedTag to ```sanitize-html.js```**:

**```<figure>``` is a useful tag for blog post**:

[2019-12-07 02:49] Silvyre commented on #406
With the removal of reading-level.js and reading-level.test.js, I believe that this issue can be considered resolved. Thoughts, @humphd?

[2019-12-07 03:12] Silvyre commented on #268
Coverage for `inactive-blog-filter.js` (as of #395) and `email-sender.js` (as of #476)—the two files that this issue primarily concerns—has been greatly improved. Should this issue be closed? Thoughts, @humphd?

[2019-12-07 03:15] Manan311 commented on #267
I don't think this is possible for windows and mac so we decided to close this. All my findings are in my blog [here](https://manan-patels-blog.blogspot.com/2019/12/the-learning-curve.html).

[2019-12-07 03:15] #267 closed

[2019-12-07 03:31] agarcia-caicedo commented on #354
e6224e337d74c7b2357e2af96183849e3092097e

[2019-12-07 03:31] #354 closed

[2019-12-07 03:50] humphd commented on #268
74% to 86%, so yeah, better!  Let's keep at it new issues, and close this.

[2019-12-07 03:50] #268 closed

[2019-12-07 03:51] #273 closed

[2019-12-07 03:54] humphd commented on #406
Agreed.

[2019-12-07 03:54] #406 closed

[2019-12-07 04:49] #424 closed

[2019-12-07 04:55] #313 closed

[2019-12-07 05:08] #339 closed

[2019-12-07 05:12] #468 closed

[2019-12-07 05:18] mskuybeda opened #489 "Replace HMSET to HSET when becomes avaliable"
**What would you like to be added**:
Replace HMSET with HSET in storage.js and storage.test.js

**Why would you like this to be added**:
HMSET is deprecated as of now and is replaced with HSET. I was not able to use HSET originally since it was not implemented in neither ioredis nor mock-redis.

I have implemented the functionality of HSET into ioredis, please refer [HERE](https://github.com/luin/

[2019-12-07 05:19] humphd opened #490 "Server Sent Events block web server from shutting down properly"
**What happened**:

The web server doesn't shutdown properly anymore.

**What should have happened**:

When you try to kill the server (`ctrl+c`), it should shut down the feed queue and web server, but the web server gets stuck, and has to be forcefully shutdown:

[code]

**How to reproduce it (as precise as possible)**:

Run the server with `npm start`, open your browser to `http://localhost:3000

[2019-12-07 08:02] manekenpix commented on #441
Closed via #474

[2019-12-07 08:02] #441 closed

[2019-12-07 17:26] c3ho opened #491 "Integrate adding feeds from storage.js"
**What would you like to be added**:
Store feeds in Redis. This should probably be added in worker.js or add-feed.js

**Why would you like this to be added**:
We have code in storage.js to store feeds, but we currently don't use it

[2019-12-07 18:35] humphd commented on #490
I tried fixing this today, but broke something in how our tests work with the express app that I don't have time to fight with today.

For sure this is the problem.  Here's the basics of a fix, which involves emitting a `close` event from our shutdown code to stop the server sent events connection(s):

[code]

[2019-12-07 18:36] humphd commented on #491
This is a great idea.  We need this so we can get the proper names of people, too, via HTTP end points.

I think we should consider changing what we use for our key in Redis to be the feed URL, since they will be unique.

[2019-12-07 20:50] agarcia-caicedo commented on #482
41f605c40b2fa3027848d39722acd81166451a0c

[2019-12-07 20:50] #482 closed

[2019-12-07 22:47] #315 closed

[2019-12-07 23:52] Reza-Rajabi commented on #4
@raygervais Hi. Sorry for the delay. I have made the drafts, so you might want to look into the pull request 👆and help to improve them.

[2019-12-08 16:47] humphd opened #496 "Populate missing fields in Redis Post data"
**What happened**:

The data we store in Redis for a Post is incomplete.  Here's an example:

[code]

**What should have happened**:

We should be parsing and populating data for all fields.  Specifically, we're missing:

- `site`: the URL of the post's main blog site (i.e., where you'd go to see all the HTML posts). This is available in `meta.link` from the feed parser data.
- `url`: the URL to t

[2019-12-08 19:59] humphd opened #498 "Increase test coverage of Post type in posts.js"
**What would you like to be added**:

In #497 I updated the `Post` class, and added a bunch of new code.  We don't have full test coverage for all of it yet.

[code]

[2019-12-08 22:16] humphd opened #500 "Celebrate our 500th Issue and Pull Request"
I just made a PR that was #499, and it made me realize it's time to pause and celebrate all this hard work. Thanks to everyone who got their code merged, filed a bug, wrote some docs, reviewed a PR, or otherwise helped get the project to this point.

It's a nice way to end the term!

![](https://i.giphy.com/media/6nuiJjOOQBBn2/source.gif)

cc @Reza-Rajabi: I told you we'd make it to 500 :)

[2019-12-08 22:39] Reza-Rajabi commented on #500
Congratulations!
This is awesome. This much of impressive works has been done only in less than 2 months. @humphd, I couldn't believe what you could see from the beginning. A large number of talented people, a huge amount of potential, they can make the next big thing. Thank you Dave for all that we learned and the confidence that we earned.

[2019-12-08 23:07] SeanPrashad commented on #500
![Yodito](https://user-images.githubusercontent.com/13009507/70398070-91a5f880-19e5-11ea-8b20-9231e3cb7973.JPG)

Incredible!

[2019-12-08 23:07] SeanPrashad commented on #500
Incredible!

![Yodito](https://user-images.githubusercontent.com/13009507/70398070-91a5f880-19e5-11ea-8b20-9231e3cb7973.JPG)

[2019-12-09 00:17] miggs125 commented on #500
hurray!  :+1:

[2019-12-09 00:56] Grommers00 commented on #500
Awesome accomplishment!

[2019-12-09 06:11] cindyledev commented on #485
I'd like to take this

[2019-12-09 06:45] cindyledev commented on #500
Poppin bottles

[2019-12-09 17:35] #361 closed

[2019-12-09 17:59] humphd opened #502 "Add support for multiple "timelines""
**What would you like to be added**:

Talking with @cathyatseneca today about Telescope, and she made an interesting suggestion:  It would be neat if you could create multiple, separate timelines out of the various feeds in the system.

Let's define a "timeline" as a set of posts, ordered by publication date, from a group of authors.  A "feed" is one author's output (e.g., an RSS feed for a blog).

[2019-12-10 02:30] humphd opened #503 "Telescope needs to continually update"
**What would you like to be added**:

In order to be useful, our data has to be current.  And in order to be current, we need to continually re-download and parse all the blog feeds into Redis.

Luckily, this is a feature easily supported by Bull.  We can use a [cron job style string](https://github.com/OptimalBits/bull#repeated-jobs) to define repeated jobs.  Later we'll have to add code to purge

[2019-12-10 15:57] Reza-Rajabi commented on #496
could link possibly be an array of all links on the page?

[2019-12-10 16:02] humphd commented on #496
We could augment with link info, yes.  But that would need another field.  This issue is about fixing the data that we currently get from the feedparser and which we store vs. adding to it.

[2019-12-10 16:50] #485 closed

[2019-12-11 21:38] humphd commented on #445
I think we can probably use https://github.com/jshttp/fresh to do a bunch of this.

[2019-12-11 21:40] humphd commented on #503
Started to work on this a bit, and I disagree with my earlier idea to use the cron job, repeating jobs idea.  Instead, we probably need to have a few queues:

- one for processing feed URLs into Feed objects
- one for processing Feed objects into Post objects

The former should be the basis for enqueuing the latter, and we can do it on an interval that runs every N minutes.

[2019-12-12 15:29] #496 closed

[2019-12-12 20:18] wlto opened #505 "UI Enhancement"
**Background**

After taking a look at the current user interface for Telescope, I have a few suggestions about the user interface for the designers of this website and along with it are some suggestions on CSS improvements. This issue is created not to disregard the works of previous fellows but simply to suggest enhancements we can make to create a better user experience. Reading posts on a scre

[2019-12-12 20:30] humphd commented on #505
Hey @wlto.  One of the things I want to do in January is to start iterating more seriously on the frontend.  We didn't have fully working backend until last week, which made it hard to build out a frontend that focused on everything we'll need going forward.

We've gotten to the point now where we've evolved a backend REST API that can be consumed in a frontend, or, by multiple frontends.  For me

[2019-12-12 21:08] wlto commented on #505
@humphd Yes, definitely! I will try to break these suggestions into smaller issues so we can tackle them one by one. Thank you for your suggestion!

[2019-12-12 21:32] humphd commented on #505
OK, sounds good.  I'm going to close this in the meantime, but please don't take that to mean you shouldn't try and do some of this.  Let's just do it in pieces.

[2019-12-12 21:32] #505 closed

[2019-12-13 20:12] humphd opened #508 "Add CORS to REST API routes to support third-party access"
**What would you like to be added**:

Add [CORS](https://expressjs.com/en/resources/middleware/cors.html) headers to our post, posts, etc. API end-points so that we can run clients on separate domains.

**Why would you like this to be added**:

I want to move toward splitting our server from our clients, and let the clients run on different domains.  For example, from gh-pages, or some other stati

[2019-12-13 20:12] #430 closed

[2019-12-14 04:48] humphd opened #509 "Move /posts/count to X-Total-Count header for /posts"
**What happened**:

In #446 and #465 we added a route named `/posts/count`.  I think this is wrong, and we should really be moving this into the headers, similar to what we did with pagination in the header via `Links` for `/posts`

**What should have happened**:

We should have followed the more common use of the `X-Total-Count` header, and return this as part of a `GET` to `/posts`

So our heade

[2019-12-14 04:50] humphd opened #510 "Rename /post/:guid route to /posts/:guid"
**What happened**:

We added both `/posts` and `/post/:guid` routes.

**What should have happened**:

We should have done `/posts` (i.e., return all posts) and `/posts/:guid` (i.e., return the post with `guid`).

We'll have to update the implementation, tests, and frontend, which calls it.

[2019-12-14 17:29] wlto opened #511 "UI Enhancement: Colours"
This issue is more of a discussion than a code issue. This is a smaller piece that is extracted from #505 . It includes colour enhancement suggestions. Currently the main colour of the website is white, red and black. While it fits well with Seneca's colour scheme, I personally think the bright red colour we have can be a bit distracting for users. Hence, I would like us to have a discussion more

[2019-12-14 17:34] cindyledev commented on #478
I'd like to try this one

[2019-12-14 17:39] wlto opened #512 "UI Enhancement: CSS styling"
This issue is a smaller piece which is extracted from #505.

Currently, I see that we don't have much consistent in our CSS code. I would like to propose using [BEM](https://blog.decaf.de/2015/06/24/why-bem-in-a-nutshell/) as a general style guide for how we name our classes and how we structure our CSS code.

And also, I realized that we are using various types of selectors in our CSS. I would su

[2019-12-14 17:43] wlto opened #513 "UI Enhancement: Fonts"
This issue is a smaller issue extracted from #505.

Currently, we are using inconsistent fonts for the website. I would like us to decide on 2 base fonts for the main content and for the headings. I believe font is an important part especially in a website where users are presented with essentially a lot of content.

I'm not a font expert but I think a serif font for content (with a more subdued b

[2019-12-14 17:54] wlto opened #514 "UI Enhancement: Components"
This issue is extracted from #505.

As more work on the back-end is under construction, we should also start thinking about core UI components that are used throughout the website (buttons, links, headings, content, etc.). By doing this, we can work on each component one-by-one and hopefully, at the end we can combine them together for different pages and layouts.

In my experience, components sho

[2019-12-14 19:52] ragnarokatz commented on #510
@humphd hello, I would like to work on this please.

[2019-12-14 19:55] humphd commented on #510
@ragnarokatz hit it!

[2019-12-14 20:15] humphd commented on #511
https://www.happyhues.co/ is another one that's being discussed a lot right now.

See also https://coolors.co/, http://colormind.io/, etc.  There are a lot of good ones out there.

I would say that less-is-more for what we're doing, since we want to mix arbitrary content from users with whatever we choose, and their posts will include images that will introduce all kinds of crazy colours to the pa

[2019-12-14 20:24] ragnarokatz opened #515 "unable to discard working directory changes"
**What happened**:
unable to discard working directory changes after pulling latest changes from upstream master:
![image](https://user-images.githubusercontent.com/33646954/70854100-0d3ff380-1e85-11ea-8dff-ec5516954738.png)

**What should have happened**:
after running `git checkout .` or `git checkout -- specfic_file`, the changed file in the working directory should be discarded.

**How to repr

[2019-12-14 20:32] wlto commented on #511
I agree. I will try to experiment with different colour schemes that fit our website and present it here for everyone to take a look.

[2019-12-14 20:37] humphd commented on #515
Why are you doing `git pull origin master`?  Your fork's `master` shouldn't really be involved.

To fix this, I'd do `git checkout upstream/master src/frontend/img/feed-icon-10x10.png` etc.

I wonder if your `master` is way out of date, and missing the `.gitattributes` file you need to solve the CRLF issues?

[2019-12-14 20:38] cindyledev commented on #512
I like the idea of enhancing our CSS styling and structure. I tried to play around with the header in #478 but it's hard to get around because we're using both flexbox and css grid for some reason.

And I also like having classes over ids. If we can, I want to move away from using `px` units and use `rem` if we can.

[2019-12-14 20:44] wlto commented on #512
Yes! Totally agree! We should be consistent with the units as well.

[2019-12-14 20:45] ragnarokatz commented on #515
oh that `git pull origin master` step is just an extra step for myself. I can be on either ubuntu or windows, so my local copy can be behind the `master` branch on `origin`. I've removed this extra step from the issue description above.

[2019-12-14 21:41] serviceatclick commented on #224
I have just made an account on git hub. Previously I have made couple of accounts n git , but once I upload my bootstrap template which is also online and associated with its own domain rather then bootstrap. My account gets flagged.

Please let me know how can I use git I want to upload my own template by using node or bootstrap repositories?

[2019-12-15 09:16] mrmojorisin92 commented on #224
[webData.zip](https://github.com/Seneca-CDOT/telescope/files/3964760/webData.zip)

[2019-12-15 16:42] humphd opened #517 "Automatic PR deployments for frontend"
**What would you like to be added**:

I'd love to see if we can get our frontend to be auto-deployed to [Zeit Now](https://zeit.co/docs/v2/more/now-for-github) (or a similar free service) so that we can easily test frontend changes whenever someone makes a change and wants to have it get merged.

**Why would you like this to be added**:

A lot of projects use this for static portions of their app

[2019-12-15 17:22] humphd commented on #122
https://github.com/Seneca-CDOT/telescope/pull/494#issuecomment-565826164 is another example of the problem this needs to fix.

[2019-12-15 17:25] humphd opened #519 "Use Let's Encrypt for certs on staging"
**What would you like to be added**:

When we ship to staging (and eventually production), we'll need proper certs that aren't self-signed.  We can [use Let's Encrypt](https://www.humankode.com/ssl/how-to-set-up-free-ssl-certificates-from-lets-encrypt-using-docker-and-nginx) for free.  We'll need to do this automatically when we push to staging.

**Why would you like this to be added**:

We'll nee

[2019-12-16 16:51] c3ho commented on #405
This depends on changes from #462

[2019-12-16 18:22] c3ho commented on #462
@humphd for the `check` function in inactive-blog-filter.js can we instead check the feedId and whether it is a member using [SISMEMBER ](https://www.w3resource.com/redis/redis-sismember-key-member.php) of the INACTIVE_FEED set instead of checking using the feedUrl? I would think that both do the same thing.

[2019-12-16 19:30] manekenpix commented on #519
2 articles that I think could be useful for adding Let's Encrypt:
https://medium.com/@yash.kulshrestha/using-lets-encrypt-with-express-e069c7abe625
https://flaviocopes.com/express-letsencrypt-ssl/

[2019-12-16 20:53] wlto commented on #513
Hi guys, I'll start looking for fonts that I think would look good for Telescope.

[2019-12-16 21:17] wlto commented on #511
Hi @humphd , shouldn't this issue be labeled `area:front-end` instead of `area:back-end`?

[2019-12-16 21:21] humphd commented on #511
Indeed, thank you.  @wlto I'm going to add you as a collaborator, so you can make fixes like this yourself.

[2019-12-16 21:22] wlto commented on #511
ok! Thank you!

[2019-12-17 15:35] #510 closed

[2019-12-17 22:57] humphd opened #522 "Standardize on base64 encoded, SHA-256 hashed, normalized URIs as Redis keys"
**What would you like to be added**:

Our `Feed` (see #520) and `Post` objects need to live in Redis.  I've been doing a bit of research on the best way to do this, and here is what I suggest:

1. A `Feed` is a Redis Hash stored using the feed's URL as its key.  Let's use [normalize-url](https://www.npmjs.com/package/normalize-url) to clean it up a bit (so we don't have slight variations leading t

[2019-12-17 23:06] humphd opened #523 "Add /feeds route to match what /posts does"
**What would you like to be added**:

Everything we did for the `/posts` route is going to be necessary for `/feeds` once we get `Feed` landed (#520).

One thing we'll have to consider is how to deal with active vs. inactive feeds, maybe via query string params?

**Why would you like this to be added**:

We're going to need a way to query the feeds we have, and get info out of them.

[2019-12-18 07:51] #515 closed

[2019-12-18 07:52] #509 closed

[2019-12-18 18:12] #250 closed

[2019-12-18 18:12] c3ho commented on #250
Fixed via #329

[2019-12-19 20:06] humphd opened #524 "Research and Learn from the Mercury Reader project"
The [Mercury Reader](https://mercury.postlight.com/reader/) is a Chrome extension that used to be called "Readability."  It's allows you to take a cluttered web page, and strip it down to its pure content, and format it for easy reading.

I've been reading their [parser code](https://github.com/postlight/mercury-parser), and they do some interesting things that we could learn from and/or borrow.

[2019-12-19 23:49] humphd opened #525 "Add eslint-plugin-promise and fix async/Promise issues"
We have a bunch of improper uses of `async` (e.g., without `await`) and also a bunch of `Promise` bugs that will affect performance.

A first step on the path to fixing this would be to add some linting for Promises.  We can use https://github.com/xjamundx/eslint-plugin-promise, with the recommended rules defined.  I tested it locally, and it already finds 24 problems we can fix.

We should also e

[2019-12-19 23:52] humphd commented on #525
Let's also add these rules:

- https://eslint.org/docs/rules/require-await
- https://eslint.org/docs/rules/no-async-promise-executor

[2019-12-20 20:28] humphd opened #526 "Server and Queue should wait on Redis connection to be ready"
**What would you like to be added**:

We need to rewrite our startup logic so that we wait on the Redis connection in all code paths that will require it (e.g., web server, feed queue).  The code that tries to connect, should also keep trying to connect until it finds the Redis database (i.e., until it spins up).

**Why would you like this to be added**:

I've been reading a bunch about deploying

[2019-12-26 01:49] #508 closed

[2019-12-27 04:55] ragnarokatz commented on #517
@humphd

So I've been playing around with this. I created an account on zeit, and I was able to do some manual deployment so far: https://frontend-zeta-beige.now.sh/

steps in order to deploy manually:
[code]

I have linked up my own fork of telescope on github with my zeit app as well. However, the automatic deployment after every PR creation does not seem to work. It is unsupported at the moment

[2020-01-05 22:33] wlto commented on #511
Hi everyone, hope you have had a great holiday!

Today I played around with some colour choices for Telescope. So I usually go pretty minimal for colours. I would pick a monochrome palette in black & white as main colours and one or two accent colours in the same family. Here are some previews for you:

# Monochrome & Coral

![Monochrome and Coral](https://i.imgur.com/0zkJHgo.png)

# Monochrome &

[2020-01-06 00:36] humphd commented on #511
Of the three here, I'd vote for either Monochrome & Coral or Monochrome & Blue.

My only suggestion would be around contrast and accessibility.  The lighter buttons don't pass accessibility contract guidelines, for example [the first Read More button above fails](https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=FF989A&api).  You can test this in Chrome's dev tools, or with an onl

[2020-01-06 03:04] wlto commented on #511
Hi @humphd , thank you for your suggestion! I couldn't find a good deep coral colour that can go well with others. Hence, for the **Monochrome & Coral** colour scheme, I propose that we don't have to use the coral/fluorescent orange colour in buttons. Here are the revised versions of those two colour schemes:

# Monochrome & Coral

![Monochrome & Coral](https://i.imgur.com/SzrJikG.png)

# Monochro

[2020-01-06 03:32] manekenpix commented on #511
They both look nice, I vote for **Monochrome & Blue**.

[2020-01-06 20:19] humphd commented on #500
Now that everyone was had a chance to properly celebrate this milestone, I'll close this, and we can celebrate again when we hit 1,000.

A note to anyone who worked on Telescope last term, and isn't taking OSD700/DPS911: we are going to continue development on the project this term, aiming to ship a 1.0 to production by April.  If you want to continue to be involved, please do so.  Let us know wha

[2020-01-06 20:19] #500 closed

[2020-01-06 21:09] wlto commented on #513
Hi guys, as promised, I have combined some fonts together for everyone to check out. The body text's line height is 26px for all fonts. Of course, I'm waiting for feedback and we can definitely adjust it. Here are the samples:

# Roboto Bold & Roboto

![Roboto Bold & Roboto](https://i.imgur.com/l75sPgt.png)

# Roboto Bold & Lora

![Roboto Bold & Lora](https://i.imgur.com/Q9NXlSl.png)

# Roboto Bol

[2020-01-06 21:09] wlto commented on #513
Note: All these fonts are available for free on Google Fonts!

[2020-01-09 14:46] humphd commented on #513
@wlto I did a bunch of research in https://github.com/Seneca-CDOT/telescope/issues/339 on fonts, sizes, line spacing, etc. by looking at well designed, popular reading sites.  Can you take a look at some of the recommendations I made in that issue and reflect it here?

In terms of fonts, I'm of two minds on this:

- Of the combos you listed, I think we want to eliminate any that use sans-serif in

[2020-01-09 15:04] humphd opened #530 "Create domains for staging and production"
**What would you like to be added**:

We need domains for hosting our staging and production deployments.  @ctyler has said we can run these off of the cdot.systems domain.  We need to create both of:

1. telescope.cdot.systems for production
1. dev.telescope.cdot.systems for staging

**Why would you like this to be added**:

We're hoping to get things deployed during January, and we need a way to

[2020-01-09 15:27] humphd opened #531 "Initial work on GatsbyJS based frontend"
**What would you like to be added**:

Bootstrap the new [GatsbyJS](https://www.gatsbyjs.org/) based frontend.  I want to use a [monorepo](https://en.wikipedia.org/wiki/Monorepo) for Telescope, which means we will have to deal with having multiple projects (web server, web frontend, etc) all in the same repo.

In this issue, I'd like to see us add a new GatsbyJS project inside our repo living at `/

[2020-01-09 15:38] humphd opened #532 "Add graphql support to our server"
**What would you like to be added**:

Expose the equivalent of our current `/post`, `/posts`, etc. REST endpoints as a [GraphQL](https://graphql.org/).  Much as [GitHub does with its API](https://github.blog/2016-09-14-the-github-graphql-api/), we can support both REST and GraphQL in parallel (maybe later we'll remove the REST API, but for now it's good to have it, since it's working).

**Why woul

[2020-01-09 15:39] humphd commented on #531
I filed #532 for the qraphql work.

[2020-01-09 16:07] humphd commented on #251
I'm going to start using this next week.  I've already created a 0.5 Release project.

@cindyledev we should probably convert this Issue into being some kind of documentation to our team on how to use the Project Board flow.

[2020-01-09 16:07] miggs125 commented on #531
I would like to be part of front end

[2020-01-09 16:17] humphd opened #533 "Audit and Improve our Contributing docs for new Linux and Mac contributors"
**What would you like to be added**:

Go through our current docs for new developers in [README.md](README.md), [CONTRIBUTING.md](docs/CONTRIBUTING.md), etc. and figure out where we have shortcomings, what is unclear, what is in need of correction and make fixes.

To help this happen in a realistic way, I'm going to ask that @cindyledev work with @yatsenko-julia.  @yatsenko-julia let's assign you

[2020-01-09 16:41] manekenpix commented on #519
I think @miggs125 wants to try this.

[2020-01-09 16:54] humphd commented on #519
Assigned!  I spoke to @ctyler and he suggested we might want to start with some manual work to just generate and then copy/paste certs over.

BTW, I've filed #530 for the domains we'll need to get this working.  Let's Encrypt needs public domains to exist.

[2020-01-09 17:14] manekenpix commented on #530
@humphd Chris will have to do it.

[2020-01-09 17:28] humphd commented on #530
Assigning to @ctyler.

[2020-01-09 20:58] wlto commented on #513
Hi @humphd , yes sure, I will take a look at that issue and make the changes on Figma first. For fonts, I was using Google Fonts mainly because of unification (not sure if that's the correct word haha). Because some system fonts like Helvetica are not available on other systems, so the text will end up looking different on different systems. Also I will look for a good monospace font for the code

[2020-01-10 01:31] Grommers00 opened #534 "/login route is currently not working."
**What happened**:
In a frantic rush to meet deadlines the /login route went broke when moving it to the router. It should actually re-direct to the other sign-on page.

**What should have happened**:
Clicking the login button should re-direct it correctly.

**How to reproduce it (as precise as possible)**:
Click on the login button.

**Anything else we need to know?**:
This will probably need som

[2020-01-10 18:16] humphd commented on #532
Another interesting implementation I saw on Twitter: https://dev.to/apollographql/add-a-graphql-server-to-a-restful-express-js-api-in-2-minutes-4gdb

[2020-01-10 18:42] manekenpix commented on #532
@humphd Thank you, I went with [express-graphql](https://github.com/graphql/express-graphql), but I'll take a look at Apollo to see how it works (mentioned in your link).

[2020-01-11 17:00] humphd commented on #532
I'm happy for us to use any graphql implementation at this stage (we can change later), but let's pick whichever one is:

- best supported (getting updates, contributors, etc)
- most compatible with what we need for Gatsby (it might not make a difference, but let's confirm)

[2020-01-11 22:39] #534 closed

[2020-01-12 13:57] humphd commented on #531
I notice that the [GatsbyJS repo](https://github.com/gatsbyjs/gatsby) itself does [exactly what I'm suggesting we do](https://spectrum.chat/gatsby-js/general/nesting-a-gatsby-site-within-an-existing-project~d8a0c112-fece-4a74-969c-5ba73e363200), namely, their website and docs are sub-dirs within the root of the project's monorepo.  See their [www/](https://github.com/gatsbyjs/gatsby/tree/master/ww

[2020-01-12 14:06] humphd commented on #532
Once this is in, [these docs on using 3rd party graphql APIs](https://www.gatsbyjs.org/docs/third-party-graphql/) should be helpful.  cc @agarcia-caicedo.

[2020-01-12 19:32] miggs125 commented on #514
@humphd  Do we want to make our own components or are we open to using something like material UI?

[2020-01-12 19:34] humphd commented on #514
Can we go one step backward and first answer: what do we even need?

I think there's an issue missing here: what is our UI?  Components should flow from that.  Want to file and lead this discussion with @agarcia-caicedo, et al?

[2020-01-12 19:46] miggs125 opened #536 "UI Design - discussion"
We need to determine what our UI is going to look like so we can start working on the front-end. @agarcia-caicedo you're lead on this, do you have any ideas? Wire-frames would be useful for this. I've tagged people that have mentioned interest in the front end. Feel free to tag yourself or someone else if I've missed them.

[2020-01-12 19:50] humphd commented on #536
Things I know I've heard people discuss:

- Login/Logout for our SSO flow.
- A way to display a single post in a responsive way
- A way to navigate through posts (i.e., some kind of timeline)

I would recommend you "borrow" heavily here vs. inventing something 100% new.  If there are [Gatsby starters](https://www.gatsbyjs.org/starters/?v=2) we can use as a basis, and customize from there, let's co

[2020-01-13 08:02] yatsenko-julia commented on #533
Thanks, David. I guess I'll be working on #443 since I use Mac. My task is to fix the issue and at the same time look for things that are unclear to me in the documentation, right?
Also, I am not sure I received any request to join the project.

[2020-01-13 15:47] #85 closed

[2020-01-13 15:49] humphd commented on #90
We discussed this a bit more with the team implementing this term, and decided against adding any kind of monetization features.  I'm going to close.

[2020-01-13 15:49] #90 closed

[2020-01-13 15:52] humphd commented on #112
This has been done in follow up issues, closing.

[2020-01-13 15:52] #112 closed

[2020-01-13 15:52] miggs125 commented on #110
we've decided not to go with these features. Feel free to look at the issue list to see what we need help with :)

[2020-01-13 15:52] #110 closed

[2020-01-13 15:53] c3ho commented on #103
Closing this issue as we're moving towards Github projects to track status of ongoing issues.

[2020-01-13 15:53] #103 closed

[2020-01-13 15:58] humphd commented on #130
This will be fixed when we do #522, let's deal with it there.  Closing.

[2020-01-13 15:58] #130 closed

[2020-01-13 15:59] agarcia-caicedo commented on #167
Looks like this was merger, closing.

[2020-01-13 15:59] #167 closed

[2020-01-13 16:08] #246 closed

[2020-01-13 16:09] humphd commented on #342
We're going to refactor the frontend and write in Gatsby, so let's close this for now and circle back later.

[2020-01-13 16:09] #342 closed

[2020-01-13 16:11] #263 closed

[2020-01-13 16:11] #261 closed

[2020-01-13 16:41] manekenpix commented on #257
Thank you for the idea, we might come back to this sometime in the future. I'm closing this issue now and we can open a new one if/when we decide to add this.

[2020-01-13 16:41] #257 closed

[2020-01-13 16:47] manekenpix commented on #23
Thanks for the idea. I'm closing this issue now and we can open a new one if/when we decide to add this in the future.

[2020-01-13 16:47] #23 closed

[2020-01-13 17:13] humphd commented on #533
@yatsenko-julia correct.  Because you're new to this project, you're in a perfect position to help us determine what is out-of-date, unclear, or missing in our documentation and on-boarding process for new community members.  Please keep a list as you go, and share your findings with all of us, but @cindyledev in particular, who is leading work on improving our docs in general.

You can use a comb

[2020-01-13 17:14] humphd commented on #533
NOTE: I went through a similar process with the [plumadriver project](https://github.com/Seneca-CDOT/plumadriver) this weekend, see my notes in https://github.com/Seneca-CDOT/plumadriver/issues/117.

[2020-01-13 17:48] agarcia-caicedo commented on #26
After a discussion, we have decided against post interactions within telescope. This issue will be closing.

[2020-01-13 17:48] #26 closed

[2020-01-13 19:15] Silvyre commented on #95
During [our latest Triage Meeting](https://github.com/Seneca-CDOT/telescope/wiki/Triage-Meeting-Jan-13-2020), we have decided to backbench several outstanding data analytics functionalities. As such, this issue will be closed. If you are interested in resuming development on this feature, please feel welcome to reach out on the Telescope Slack channel. Thank you!

[2020-01-13 19:15] #95 closed

[2020-01-14 01:04] miggs125 commented on #536
I think a simplified version of the [Mozilla blog](https://blog.mozilla.org/) is doable. Toughts @agarcia-caicedo ?

[2020-01-14 01:14] miggs125 commented on #536
I went through the gatsby starters and here are some that caught my eye:
https://gatsby-contentstack-starter.netlify.com/blogs
https://gatsby-starter.haezl.at/
https://foxandgeese.github.io/tiny-agency/
https://gatsby-starter-devto.netlify.com/
https://the404blog.netlify.com/

[2020-01-14 02:39] manekenpix commented on #451
@Grommers00 I found [Microsoft documentation](https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=win10-ps) with multiples examples of how to create a certificate depending on your needs. I created a certificate using the first example, but since I'm not really sure what the certificate is for I couldn't test it with telescope. Let me know if it helps or if

[2020-01-14 02:49] manekenpix commented on #523
I'll work on this one after 0.5

[2020-01-14 03:18] wlto commented on #536
Hi guys, sorry I have been absent for the past few days. I agree with @humphd that we should try to look for a good starter example to work on. I personally don't have much preference in terms of the look of it. As long as it is simple enough and easy to use, I'm down.

@miggs125 Thanks for inviting me to this discussion and looking at the Gatsby starters, I personally really like the `dev.to` sam

[2020-01-14 03:19] wlto commented on #514
Hi @humphd , should I close this issue since we are already having a discussion issue #536 ?

[2020-01-14 03:30] manekenpix commented on #536
[haezl](https://gatsby-starter.haezl.at/) looks nice, good starter.

[2020-01-14 04:41] lozinska commented on #84
Thank you @jordanhui19 for creating PR for this issue. This is very nice to have this feature. As your piece of code had been merger already I will close this issue.

[2020-01-14 04:58] lozinska commented on #84
Reading level was implemented in PR 373 and merged into our code. As this issue had been resolved I will close it now. Thank you @jordanhui19 for your contribution for this nice feature.

[2020-01-14 04:58] #84 closed

[2020-01-14 15:00] humphd opened #537 "Add full-text indexing and search to our backend"
**What would you like to be added**:

When we process feeds in our backend, and add them to Redis, let's also do full-text search indexing.

One common approach to this would be to use [Elasticsearch](https://www.elastic.co/products/elasticsearch):

- https://blog.logrocket.com/full-text-search-with-node-js-and-elasticsearch-on-docker/
- https://blog.patricktriest.com/text-search-docker-elasticsea

[2020-01-14 15:06] humphd opened #538 "Expose search endpoint via our web api"
**What would you like to be added**:

We need to expose search via our service API.  In the simplest case, this could mean doing something like `?q=searchTerm`.  This should return the posts that we have which match that search.

Here are some things to research:

- GitHub does it like this: https://developer.github.com/v3/search/
- Shopify does it like this: https://help.shopify.com/en/api/gettin

[2020-01-14 15:06] humphd commented on #537
Filed #538 to cover the web server aspect of this.

[2020-01-14 15:06] humphd commented on #538
I'm unclear how to expose this as part of graphql.  That might need another issue.

[2020-01-14 15:13] humphd opened #539 "Add "image" to our post object and extract during processing"
**What would you like to be added**:

If a post has an image associated with it (e.g., social media image, first image in the post, etc), we should extract it out and include it as part of our Post object's JSON.

**Why would you like this to be added**:

Our frontend design may need to show a cover image for a post, and/or we want to allow better sharing with social media, which usually expects a

[2020-01-14 15:16] humphd commented on #536
A couple of things that are important to me, and I'd like to see us integrate.  NOTE: we could do some of this in follow-up vs. blocking our initial release to get everything at once:

- Search: I often need to go back and find something that I read in a student blog, and figure out who said it, find the post, etc.  One thing I really like about the current Planet, which these don't do, is allow m

[2020-01-14 15:17] humphd commented on #514
@wlto good idea, let's continue this in #536 and follow-ups from that.

[2020-01-14 15:17] #514 closed

[2020-01-14 15:20] humphd commented on #530
Via Slack, I see that the following domains now exist:

1. `telescope.cdot.systems` - production
2. `dev.telescope.cdot.systems` - staging

I think we can close this now.  @manekenpix agree?  Or do you have anything else we need to do?

One thing we should probably do is to add these domains (and what they each represent) to our docs.  Maybe a PR can happen for that and then we close this.

[2020-01-14 15:57] manekenpix commented on #530
@humphd

I think that's a good idea.

[2020-01-15 14:40] humphd commented on #281
@raygervais this has stalled out, mostly due to my lack of time to focus on it before the break.

In #494 we're pushing forward with a deployment plan, and our CI story seems to be in pretty good shape right now.  I'm tempted to close this and continue the work in #494 and follow-ups.

Sorry to leave you hanging with this.  Are you OK with me closing, or do you have a concrete thing you want to do

[2020-01-15 17:05] agarcia-caicedo commented on #536
I like the [haezl](https://gatsby-starter.haezl.at/), but I also really like [the404blog](https://the404blog.netlify.com/). The search and darkmode function are really nice

[2020-01-15 17:08] agarcia-caicedo commented on #536
I agree with @humphd with making sure reading blogs is more fluid, I'm not a fan of the clicking to read more, in terms of user experience.

[2020-01-15 17:48] humphd commented on #443
From discussions in class today with @yatsenko-julia, I wanted to give some more info on where to look for this in our code.

The code where we do the `/posts` route lives in https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/posts.js, and in particular, we want to deal with the case that a post is requested by its `guid`, which is https://github.com/Seneca-CDOT/telescope/

[2020-01-15 21:21] miggs125 commented on #536
I like the 404 blog too, it seems a good one to start with

[2020-01-15 21:27] wlto commented on #536
Regardless of whichever starter kit we pick, I was wondering if we are going to implement what was discussed in #511 and #513 ? Or are we more likely to go with whatever is set in the starter kit?

[2020-01-15 21:34] miggs125 commented on #536
I think it would be great to implement what is being discussed in those issues. You've already put in some good work into it.

[2020-01-15 22:01] wlto commented on #536
@miggs125 oh cool, thank you!

[2020-01-16 19:24] miggs125 commented on #511
I agree with @manekenpix I like **Monochrome & blue**

[2020-01-17 02:23] raygervais commented on #281
Hey @humphd, okay with closing this if that's what you want to do. My bad as well for keeping the thread quiet, after seeing the direction we were going with Docker and Kubernetes, didn't want to get in the way with my own questions / trials here. I agree that your CI is in much better shape now, and that the Docker/K8s seems to be in good hands with your students and contributors so far! Happy to

[2020-01-17 14:34] humphd commented on #281
OK, let's close this.  Yes, if you want to still be involved, we're working on this actively again this term with a small but dedicated team.  Hop into the #telescope channel on Slack, or send me an email, and we can find something that you'd like.

[2020-01-17 14:34] #281 closed

[2020-01-18 02:23] #439 closed

[2020-01-18 15:14] humphd opened #546 "UnhandledPromiseRejectionWarning in feed-worker.test.js"
**What happened**:

We have some Promise-based warnings happening in the feed-worker.test.js:

[code]

**What should have happened**:

We shouldn't be seeing unhandled promise rejections.  It means we aren't dealing with something that we should be, either in our code or our tests.

**How to reproduce it (as precise as possible)**:

[code]

**Anything else we need to know?**:

I'm not sure if @c3h

[2020-01-18 15:34] #39 closed

[2020-01-18 17:45] c3ho commented on #546
I just checked with ```npm run jest feed-worker.test``` on my branch. The work I'm doing in #527 will be fixing these issues. Going to close this for now, will reopen if needed.

[2020-01-18 17:45] #546 closed

[2020-01-18 17:48] c3ho commented on #533
I checked the issue we were having in class with docker-compose up for Redis. @manekenpix  and I confirmed that part is working and can npm start telescope on Mac without natively starting Redis.

[2020-01-19 04:15] miggs125 commented on #531
Here are some screenshots of what I have been working on:

![telescope1](https://user-images.githubusercontent.com/32024054/72674727-26b9f980-3a48-11ea-9130-6ea133c05221.png)
![telescope2](https://user-images.githubusercontent.com/32024054/72674729-2b7ead80-3a48-11ea-9f10-394aab8125e1.png)
![telescope3](https://user-images.githubusercontent.com/32024054/72674731-2f123480-3a48-11ea-8cb7-6ce085cc9ac

[2020-01-19 17:52] humphd opened #548 "Respond appropriately to feed parsing errors"
**What would you like to be added**:

When a feed can't be parsed for some reason, we throw an error.  We should use the error information to inform what we do in response.

I took a look at all errors that currently happen when we parse the complete set of feeds we have in the wiki.  Not all errors look the same, nor do they have the same properties.  But there are some markers we can use as clue

[2020-01-19 17:57] humphd opened #549 "Standardize on the naming of the error object in logs"
**What would you like to be added**:

Follow-up from #361, let's standardize on the way we do our naming in logs for errors.  In our code we do both of the following:

[code]

Let's pick one (I prefer `err` but `error` is probably better) and do it everywhere.

**Why would you like this to be added**:

I was grepping through logs today, looking for errors, and it was made more difficult by the fac

[2020-01-19 19:56] humphd commented on #548
I realized after writing the above that some of these errors are feed-level errors, and others are post-level errors.  The feed-level errors are the most problematic, because it blocks us from parsing *any* of posts.  Post-level errors can at least be overcoming by skipping a bad post.

[2020-01-19 21:09] cindyledev commented on #478
We are currently reworking our front-end. This issue will not carry over to the new UI. Closing

[2020-01-19 21:09] #478 closed

[2020-01-19 21:09] cindyledev commented on #478
We are currently reworking our front-end. This issue will not carry over to the new UI. Closing

[2020-01-19 21:36] manekenpix opened #552 "Remove GraphQL implementation"
**What would you like to be added**:

Our backend will soon incorporate [GraphQL](https://graphql.org/) support (#532 ) and we'll need tests for queries requesting both feeds and posts.

Here is [a module](https://www.apollographql.com/docs/apollo-server/testing/testing/) for testing developed by the Apollo-server community.

Another possibility could be [easygraphql-tester](https://github.com/Eas

[2020-01-19 22:29] Silvyre commented on #365
I looked into this.

PR #329 deals with a single line:
https://github.com/Seneca-CDOT/telescope/blob/21d63cdc2612c86be2c836fdf285227d3abb88e9/src/backend/utils/spam-checker.js#L28

This line, which defines a `noTagsDesc` variable, was simply relocated immediately before the defined variable is called:

https://github.com/Seneca-CDOT/telescope/blob/21d63cdc2612c86be2c836fdf285227d3abb88e9/src/backe

[2020-01-19 22:29] #365 closed

[2020-01-20 01:47] yatsenko-julia opened #554 "Add description of the project"
We should add a small paragraph that in a simple, understandable for a new contributors way describes what exactly is Telescope. This paragraph should be added to the beginning of the [overview.md](https://github.com/Seneca-CDOT/telescope/blob/master/docs/overview.md) file.

The purpose of this paragraph is to summarize the content of [overview.md](https://github.com/Seneca-CDOT/telescope/blob/mas

[2020-01-20 02:26] lozinska commented on #124
Test for reading-level was implemented when PR for issue #84 were created, so there is no need for this issue to be open

[2020-01-20 02:26] #124 closed

[2020-01-20 02:30] lozinska commented on #127
This issue had been resolved with PR #66. Thank you @ThomasLuu00 for your great contribution to this project.

[2020-01-20 02:30] #127 closed

[2020-01-20 04:03] #251 closed

[2020-01-20 04:19] yatsenko-julia opened #555 "Update 'Contributing to Telescope' section"
The 'Setup Telescope' in [CONTRIBUTING.md](https://github.com/Seneca-CDOT/telescope/blob/master/docs/CONTRIBUTING.md) file should be updated. With current instruction new user cannot set up Telescope properly.

Here are things that should be changed:

- Add an explanation to the step 2. This step is unclear for people that cannot find .env file as it is hidden (Mac users),
- Remove useless steps f

[2020-01-20 05:46] cindyledev commented on #533
I have successfully completed the setup of our Telescope project on Ubuntu with Docker and on Mac with Docker as well. I ran into a few problems on Linux but I was able to figure it out; I had no problems on Mac. The documentations do need some work but not a lot so I'll make a formal write up soon. `npm run server` works.

@yatsenko-julia what problems are you encountering?

[2020-01-20 06:17] yatsenko-julia commented on #533
@cindyledev I run the project during last class with a help of out classmates and everything worked fine. I believe that instructions should be updated, as it is hard to set up everything correctly if you follow what we have in set up section right now. I already created issues for the problems I found: [#555](https://github.com/Seneca-CDOT/telescope/issues/555) and [#554](https://github.com/Senec

[2020-01-20 15:19] agarcia-caicedo commented on #452
This is being fixed on #514, so we'll be closing this issue

[2020-01-20 15:19] #452 closed

[2020-01-20 15:24] Silvyre opened #556 "Block iframes from our sanitized HTML"
**What happened**:

While running Telescope (via Ubuntu Desktop on VMWare), my Avast anti-virus consistently flags this one blog (URL in screenshot below) as malicious:

<img width="449" alt="Threat" src="https://user-images.githubusercontent.com/13500769/72737516-b7d6c080-3b6d-11ea-9b8c-3ce3c40cb177.png">

**What should have happened**:

The [HTML sanitizer](https://github.com/Seneca-CDOT/telesco

[2020-01-20 15:28] miggs125 commented on #467
Hi @asyam1, we are currently fixing this in #531 so this issue will be closed. Feel free to contribute there :)

[2020-01-20 15:28] #467 closed

[2020-01-20 16:15] humphd commented on #388
This was fixed by #540.

[2020-01-20 16:15] #388 closed

[2020-01-20 16:56] humphd commented on #522
Reading https://twitter.com/joepie91/status/1218867444489641985 made me think that we might want something other than MD5 here.  We just need "unique" without security consideration, where fast is important.  I'm not sure what the best algorithm would be.  On my Mac, openssl has these implemented:

[code]

[2020-01-20 17:10] agarcia-caicedo commented on #475
Right now, this isn't a focus for us. While we might like to look into this later, I'm closing this issue for right now.

[2020-01-20 17:10] #475 closed

[2020-01-20 19:07] humphd commented on #556
I don't think this is malicious, just a parked domain,  I'm not sure why it's triggering Avast.  Here is what I get:

<details>
<summary>$ curl http://blog.jordantheriault.com/category/open-source/feed/</summary>
<pre>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta

[2020-01-20 19:52] humphd commented on #522
Probably we can just swap out MD5 for SHA-256:

[code]

[2020-01-20 20:06] Grommers00 commented on #451
Awesome! Thanks I'll take a look!

[2020-01-20 20:13] humphd commented on #489
This is still blocked on https://github.com/stipsan/ioredis-mock/pull/898.

[2020-01-20 20:41] manekenpix commented on #456
Thank you for your proposal. This could be a good idea to develop in the future. We're closing this issue and we'll open a new one if/when it's decided to develop this idea.

[2020-01-20 20:41] #456 closed

[2020-01-20 20:43] humphd commented on #522
One bug this will fix, that our current implementation has, is that we won't keep duplicating feeds in Redis.  The fix in #547 really exposes it, since it keeps doubling, tripling, etc. the feeds that have to get processed.  So we should probably do this sooner vs. later.

[2020-01-20 21:01] humphd commented on #487
We have code now to examine all feeds and their posts, and do an analysis of the elements that are contained in the HTML.  I ran it just now, and here is what people use:

[code]

Our code to strip/allow HTML elements is here:

https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/sanitize-html.js#L8-L10

And the docs on what is allowed by default is here:

https://github.com/apos

[2020-01-20 21:03] humphd commented on #549
I'm going to suggest this issue to a student of mine that wants to join us.  I'll assign it to myself so it doesn't get taken.

[2020-01-20 21:15] miggs125 commented on #556
Interesting...when I looked at the site in class I found a hidden iframe which had a link but had height and width set to 0 and "display" set to "none" as if someone was trying to hide it. When I access the link now, I can only see the blue host header, no hidden iframe

[2020-01-20 21:16] manekenpix commented on #522
I'll try to have a PR by the end of today or tomorrow morning.

[2020-01-20 21:18] humphd commented on #556
Maybe they alter what you get served depending on the UA string?  I was coming at it via curl vs. a browser.  They may also be injecting it at runtime, which would help explain why it's not in the HTML above.

Regardless of intent, we should also deal with the case that a "feed" URL is returning something other than RSS/ATOM XML.  Probably #548 covers this case, but we should confirm.

[2020-01-20 21:19] humphd commented on #556
Also, I was reading about our sanitizer, and currently `iframes` are allowed, see https://github.com/apostrophecms/sanitize-html#what-are-the-default-options.

[2020-01-20 21:20] miggs125 commented on #556
@humphd you answered my question before I could ask haha. I'm not sure we should allow iframes as these can be a security issue.

[2020-01-20 21:22] humphd commented on #556
So I can tell you that in the past 15 years, there have been exactly `61` `<iframe>` elements used in all the blog posts to our planet.

As such, I think it's reasonable to consider removing support for them.  Want to do a PR to adjust that in our sanitizer, and add a test to confirm that it does?

[2020-01-20 21:29] miggs125 commented on #556
sounds good!

[2020-01-20 23:18] #503 closed

[2020-01-20 23:42] sukhbeersingh commented on #294
This is potentially a duplicate of #503.

[2020-01-21 00:54] humphd commented on #294
This one is different.  In #503 we added a way to loop forever, and re-download/parse feeds.

This issue is about keeping the feeds in Redis up-to-date with what's in the wiki.  The work in #503 won't do anything to remove a feed from Redis if it's removed from the wiki, for example.

[2020-01-21 00:58] #461 closed

[2020-01-21 01:54] Silvyre opened #562 "Friendly error message if wiki feed URL is missing from .env"
Similarly to #122, the lack of a proper `.env` setup currently results in an error logging that does not immediately indicate a cause:

![image](https://user-images.githubusercontent.com/13500769/72768899-dcab5200-3bc6-11ea-9f5c-26ecc0f85b91.png)

The current stack trace logging should be replaced with a user-friendly error message.

[2020-01-21 02:13] humphd commented on #562
Some extra notes:

- The code is https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/wiki-feed-parser.js#L14
- That `fetch()` expects an absolute URL
- If the `.env` doesn't have the right variable set, the value will be empty and cause this error
- The fix is to set `FEED_URL=https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List` in the `.env`

We should mention this in

[2020-01-21 04:42] c3ho commented on #415
@cindyledev Thank you for the good point. As she pointed out, this hasn't been updated in 2 years and its dependencies will conflict with the rest of our other libraries. Closing.

[2020-01-21 14:08] humphd opened #566 "Divide our web API server from the feed parser"
**What would you like to be added**:

Our "backend" is really two separate things:

1. an express web API server, exposing HTTP REST/GraphQL endpoints and some UI.
1. a feed parsing service that runs forever and keeps downloading/parsing feeds of blog posts

The two are connected via a Redis database, in which they both share state (feeds, posts, etc).

Let's divide them into two separate node app

[2020-01-21 16:10] humphd opened #567 "Add support for JSDoc and TypeScript type checking"
**What would you like to be added**:

Let's add support for type checking in our functions based on arguments and return types using [JSDoc and @ts-check](https://ricostacruz.com/til/typescript-jsdoc).  This issue will be about adding the infrastructure to make it work, and in subsequent issues, we can work on adding annotations one file at a time.

We can engage new developers who want to join th

[2020-01-21 17:39] #554 closed

[2020-01-21 18:54] humphd commented on #567
I started to play with this, and it got messy really fast.  I'm going to pause on it for now, since I think it will cause a lot of churn until our code settles down a bit more.

[2020-01-21 19:01] humphd commented on #562
NOTE: The error I want to see here is slightly different from missing the `.env`, which is what I describe how to do in https://github.com/Seneca-CDOT/telescope/pull/550#pullrequestreview-346109439.  Here I'm looking for an error message that indicates that the developer is missing a URL for the wiki feed itself, which we depend on, and can't guess.

[2020-01-21 19:55] humphd commented on #566
Here's a proposal for restructuring our code:

[code]

1. Get rid of `src/` and move things up to the top-level, dividing into the following directories
1. `web/` - our express-based web API server.  It would share data with the "feeds" app via Redis. This would be most of what we have now in `src/backend/web`.
1. `app/` - our GatsbyJS-based web app.  This would be most of what we have now in `src

[2020-01-21 19:58] humphd opened #569 "Add static route to serve new GatsbyJS frontend"
**What would you like to be added**:

Let's include static routes for our GatsbyJS web app.  This should work for the built version, and potentially for the development version as well (I'm not sure if that's ideal or if we should let Gatsby's dev server do it instead).

**Why would you like this to be added**:

We're adding a GatsbyJS app in #541, and we'll need to be able to build and host it wi

[2020-01-21 20:10] agarcia-caicedo commented on #569
I'll work on this issue

[2020-01-21 20:14] #525 closed

[2020-01-21 20:49] #532 closed

[2020-01-21 21:51] humphd opened #570 "UnhandledPromiseRejectionWarnings in our tests"
[code]

Let's see if we can get rid of these.  @c3ho looks like we have some promise issues still somewhere.

[2020-01-22 01:54] yatsenko-julia commented on #487
It appeared that `<figure>` tag is already added to allowedTags in sanitize-html.js.

@humphd  I went through all tags that you mentioned and compared them to those that are allowed by default. It appeared all the tags we are using in the project are default except `<img>` and `<figure>` that are already in sanitize-html.js. I think we can close this issue.

[2020-01-22 01:56] manekenpix opened #574 "Wrong port used in env.example file"
**What happened**:

Currently, our `env.example` has:

`REDIS_URL=redis://127.0.0.1:6379`
`REDIS_PORT=6739`

In our `docker-compose-yml`, we use [`REDIS_PORT` with a wrong port number](https://github.com/Seneca-CDOT/telescope/blob/2074cc592a92c8a7d95f164f0a35aec45ca2fa55/env.example#L20) for deployment, and it crashes at launch.
The port number should be `6379`, as we use in `REDIS_URL`

Also, we

[2020-01-22 02:05] agarcia-caicedo opened #575 "Add support for React in our ESlint configuration"
**What would you like to be added**:

eslint-plugin-react

**Why would you like this to be added**:

In order to use React without running into ESlint errors, proper eslint configuration is required.

[2020-01-22 03:29] cindyledev commented on #533
This task has been completed for Linux and Mac. I'm opening a new issue for Windows users.

[2020-01-22 03:29] #533 closed

[2020-01-22 03:33] cindyledev opened #576 "Audit and Improve our Contributing docs for new Windows contributors"
**What would you like to be added**:
Related to #533
Improved documents for Windows users.

**Why would you like this to be added**:
Environment setup docs have been audited for Linux and Mac but not for Windows.

[2020-01-22 03:46] cindyledev commented on #555
Step 2

Yeah, this step is explained in [Local_Login](https://github.com/Seneca-CDOT/telescope/blob/master/docs/Local_Login.md) but no one would think to look in here because the file name doesn't have 'env' in it. I'll do a formal write up once all the issues involving .env have been fixed (ie #574 )

Step 4

This can also be improved on.

Step 7-8

You're right, this has nothing to do with the T

[2020-01-22 03:50] humphd commented on #487
Awesome, thank you @yatsenko-julia.

[2020-01-22 03:50] #487 closed

[2020-01-22 13:16] Grommers00 commented on #87
This is actually already built into the SSO server that we are currently testing, currently most testing is done already on whoever the test SSO provider is. I'm going to close this - and we can consider other forms of testing when our front end is actually done.

[2020-01-22 13:16] #87 closed

[2020-01-22 14:48] #122 closed

[2020-01-22 14:58] humphd opened #577 "Shutdown if .env is missing and add generated .env to CI"
**What would you like to be added**:

Let's crash early if we're missing the `.env` file.  We need all kinds of values from it, so not having one is asking for trouble.  Right now we try to deal with a missing `.env` by setting defaults for things, but we should really make sure that we have an `.env` before we start the app.

To do this, let's build on the code from #396 that adds error logging f

[2020-01-22 18:15] c3ho commented on #415
@humphd are you ok with me assigning it to you so your students can take this issue?

[2020-01-22 18:16] humphd commented on #415
That, or assign it to yourself, and you can mentor.  Either works.

[2020-01-22 19:53] miggs125 opened #579 "Deal with gatsby front end directories in .gitignore"
**What would you like to be added**:
certain directories in the frontend need to be prefixed in the project's root .gitignore file. Some of these include `public/` and `.cached` which are created when running `npm i`

**Why would you like this to be added**:
prefix directories we want to ignore in the frontend inside .gitignore

[2020-01-22 19:56] miggs125 opened #580 "Update gatsby-config.js file"
**What would you like to be added**:
The `src/frontend/gastby-config.js` file still contains some boilerplate information that needs to be updated or removed to reflect our code.  See #541 for more information.

[2020-01-22 19:59] miggs125 opened #581 "Remove redundant information from frontend package.json"
**What would you like to be added**:
The frontend's package.json file contains information that is either redundant or unnecessary and should be removed.
This includes:
- [ ] remove prettier form devDependencies
- [ ] remove scripts associated with prettier
- [ ] remove `repository` key and associated value
- [ ] remove `bugs` and `url` keys and values
- [ ] anything else that looks like it should

[2020-01-22 20:17] miggs125 opened #582 "Update layout.js to include standard ES6 method declarations as opposed to class properties"
**What happened**:
Linting tests for the front-end are currently failing because class properties are being used and they have not been integrated into ecmascript yet. We need to change these to regular class method declarations and use `.bind()` where appropriate. Alternatively, we could add babel and add a rule that allows function expressions to be used. See #541 for more information.
[this](ht

[2020-01-22 20:19] miggs125 opened #583 "Remove SASS from frontend"
Sass was added to the frontend previously but we have decided that the complexity it adds outweighs the benefits it brings to the project. We need to remove sass from the frontend's dependencies. See #541

[2020-01-22 20:24] miggs125 opened #584 "Restructure frontend components to include logic and style in component directory"
**What would you like to be added**:
Previously, style had been separated from react logic but as we are removing sass, we can restructure the frontend directory to include both logic and style, thereby keeping all parts of the component together

**Why would you like this to be added**:
This would make it easier to remove and replace components without too much stuff breaking. It also makes debug

[2020-01-22 20:30] miggs125 opened #585 "Fix hamburger button"
**What happened**:
The hamburger button is not styled to look like a hamburger. We need to fix this.
**What should have happened**:
The button should look like a hamburger button:
![image](https://user-images.githubusercontent.com/32024054/72931222-7b50c380-3d2b-11ea-87bc-f6feb745922d.png)

**How to reproduce it (as precise as possible)**:
navigate to `/src/frontend/` and run `npm i` then `gatsby-

[2020-01-22 20:32] miggs125 opened #586 "Improve frontend styling"
The frontend looks like it is a website out of the 90's. We need to style it to look like more of a modern web app.

[2020-01-22 20:33] manekenpix opened #587 "Documentation for GraphQL"
**What would you like to be added**:

We need documentation for our [GraphQL](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/graphql/index.js) endpoint containing information about how it works and the types and queries that it uses. Including a few examples would be very helpful.

**Why would you like this to be added**:

This will make it easier for backend developers to ad

[2020-01-22 20:43] miggs125 opened #588 "Fix Sticky Header"
**What happened**:
The frontend's sticky header seems to remove any bottom margin when fixed at the top of the page. This needs to be fixed so that the main text area does not jump and stick to the header when it is fixed at the top.

**What should have happened**:
The sticky header should appear seamless. Not the current behaviour

**How to reproduce it (as precise as possible)**:
`npm i`
`cd src

[2020-01-22 22:17] #575 closed

[2020-01-22 22:41] cindyledev opened #589 "Remove email-sender.js and related code"
We're not using email-sender.js anywhere and probably won't be using it in the future. We should remove it and anything in the env.example file connected to it. We can remove the nodemailer dependency in the package.json as well.

[More detail in this comment](https://github.com/Seneca-CDOT/telescope/pull/571#issuecomment-576957748)

[2020-01-22 22:44] #522 closed

[2020-01-23 02:22] manekenpix opened #591 "Add filters to GraphQL to remove getPost"
**What happened**:

Recently #565 was merged and the way we store posts and feeds changed. That affected GraphQL, specifically our [getPost](https://github.com/Seneca-CDOT/telescope/blob/08c55d4d694cf7b8a2c37b7945606c792976191d/src/backend/web/graphql/index.js#L40) query. `getPost` was kept for legacy reasons, so this issue wont' prevent Telescope from serving all available posts.
Instead of patch

[2020-01-23 20:32] lozinska commented on #453
Thank you @cyh0968 filing this issue. For now we decide that we will not use this option in Telescope project and may be return to this later once the project launched.

[2020-01-23 20:32] #453 closed

[2020-01-23 21:10] agarcia-caicedo opened #593 "React Version Warning"
When npm run eslint is run, a warning about the react version pops up:

![image](https://user-images.githubusercontent.com/49992710/73023863-5c6d3280-3dfa-11ea-82d1-4ae8fce482dc.png)

Eslint should be configured for the correct React version

[2020-01-23 21:20] miggs125 commented on #582
fixed in #541. Will close if Pr is merged.

[2020-01-23 23:08] c3ho commented on #591
#592 may or may not fix some of the concerns

[2020-01-24 02:14] #396 closed

[2020-01-24 03:24] cindyledev commented on #443
Hi @yatsenko-julia , it seems you pushed a branch instead of submitting a pull request. Please refer to https://github.com/Seneca-CDOT/telescope/blob/master/docs/CONTRIBUTING.md#workflow-in-git-and-github to setup your remotes so that `origin` is your fork and `upstream` is the telescope repo. If you need further assistance, we're available on Slack.

[2020-01-24 04:14] #498 closed

[2020-01-24 04:18] Silvyre commented on #491
I believe this was resolved by #592

[2020-01-24 04:18] #491 closed

[2020-01-24 17:19] #531 closed

[2020-01-24 17:28] Silvyre opened #595 "Write Jest tests for src/backend/web/routes/opml.js"
As requested in https://github.com/Seneca-CDOT/telescope/pull/594#pullrequestreview-348101295, Jest tests should be written to test the logic used within the new `/opml` API endpoint.

[2020-01-24 17:52] LuigiZaccagnini commented on #589
I can take this issue!

[2020-01-24 17:54] humphd commented on #589
Go for it @LuigiZaccagnini.

[2020-01-24 18:00] #549 closed

[2020-01-24 19:00] #582 closed

[2020-01-24 22:51] #379 closed

[2020-01-25 00:52] #589 closed

[2020-01-25 02:11] lozinska commented on #454
Thank you @cyh0968 for opening this issue. We value your contribution to Telescope project, but for now I will close this issue, because we decide to show only reading time. Thank you again

[2020-01-25 02:11] #454 closed

[2020-01-25 02:17] lozinska opened #598 "Display reading time for every article"
**What would you like to be added**:

Add reading time for each blog post on the Telescope front end.

**Why would you like this to be added**:
While we already have included npm package reading time into our project, we should use that code to display how long it will take to read certain blog post on the Telescope page.

[2020-01-25 02:54] humphd commented on #598
I think we should consider moving this into our frontend.  It would be a lot cheaper to calculate it on the browser when rending the post instead of doing it for every post and storing that in Redis.  It's a really small amount of code to accomplish it.

[2020-01-25 14:11] humphd opened #602 "Add dev docs for interacting with Redis"
**What would you like to be added**:

Some simple docs to help our devs understand how to interact with Redis on the command line.  Maybe an FAQ style, or cheat sheet, or something else that gives common commands to run when you need to do things.  Some examples of things that come to mind:

1. Use the `redis-cli` command to run commands.  Link to the docs for it are at https://redis.io/topics/red

[2020-01-25 22:58] humphd opened #603 "Regression - can't do a graceful shutdown"
**What happened**:

Clean shutdowns of the server no longer work when doing `Ctrl+C` in the terminal.  I suspect the parallel Bull worker processes are holding open the main process.

**What should have happened**:

It should allow a graceful shutdown.

**How to reproduce it (as precise as possible)**:

In your `.env` set `FEED_QUEUE_PARALLEL_WORKERS=*` so it will run multiple parallel workers.  T

[2020-01-25 22:58] humphd commented on #603
Or maybe the Bull Board UI in my browser.

[2020-01-25 23:18] humphd commented on #490
This was done in #557.

[2020-01-25 23:18] #490 closed

[2020-01-26 12:46] humphd commented on #603
I wondered if it was a redis connection in the child processes doing this, so I added:

[code]

That doesn't seem to have solved it.  I thought it might be Bull Board holding open the web server (it doesn't seem to be).

So I tried adding [why-is-node-running](https://www.npmjs.com/package/why-is-node-running) to the shutdown code:

[code]

I wonder if it's open network requests doing `fetch()`.

[2020-01-26 13:01] humphd opened #605 "Use Redis as cache for Apollo Server"
**What would you like to be added**:

The Apollo GraphQL server can use Redis as a backing cache, and share data between multiple web server instances that way.  See https://www.apollographql.com/docs/apollo-server/data/data-sources/#using-memcachedredis-as-a-cache-storage-backend.

**Why would you like this to be added**:

When we move to production and run more than one instance of our web serve

[2020-01-26 13:11] humphd opened #606 "Switch to beforeExit from exit event on process"
Our code to handle the `exit` event should probably be using `beforeExit`, since it looks like [you can't run asynchronous code in the `exit` handler but can in `beforeExit`](https://blog.heroku.com/best-practices-nodejs-errors#node-js-exit-events):

[code]

[2020-01-26 16:43] humphd opened #608 "On startup, server should complete existing jobs before adding new ones"
**What would you like to be added**:

When we start the server, one of the first things we do is to download the wiki feeds and create feed jobs in our job queue.  We do this regardless of whether or not there are already jobs in the queue for this feed's URL.

Let's allow the queue to `drain` existing jobs before we add our first batch of feed jobs.  This will let the server pick-up where it left

[2020-01-26 19:16] cindyledev opened #610 "Blogs not showing up in chronological order"
**What happened**:
Our http://dev.telescope.cdot.systems/planet groups blogs by the same person differently than in http://zenit.senecac.on.ca/~chris.tyler/planet/.
Chronologically, the "How I Learned to Stop Worrying..." blog shouldn't be grouped with Ana's other two blogs because it was posted at a different time.
![Annotation 2020-01-26 140235](https://user-images.githubusercontent.com/36822198

[2020-01-26 19:37] manekenpix opened #611 "Variable declared twice"
**What happened**:

Our `env.example` has the variable `FEED_QUEUE_DELAY_MS` declared twice:

[code]

According to the [repo's history](https://github.com/Seneca-CDOT/telescope/commit/72a6c5798546ead49d94f0750f7a256f66d5691d#diff-005950e1aff25afa320a11650c8979d6), the second declaration was added in a commit related to a different part of the code that doesn't use this variable.

This second decla

[2020-01-26 20:07] humphd commented on #610
This isn't a high priority issue, but if someone wants to work on this, here are some details:

- the code that does the template for this lives in https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/planet/views/planet.handlebars
- the data for it comes from https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/planet.js
- the code in https://github.com/Sene

[2020-01-26 20:26] #523 closed

[2020-01-26 21:01] c3ho commented on #462
This changes quite a bit of stuff, will need discussion on how we should approach this. Should we create separate functions or use parameters for existing functions to determine what they should do with the feeds?

[2020-01-26 21:59] humphd commented on #610
I was reading the new planet just now, and I think what it's actually doing is showing all posts by the author, ignoring chronology.  The multiple posts by @agarcia-caicedo are a good test case right now.

Compare:

a. http://zenit.senecac.on.ca/~chris.tyler/planet/
b. http://dev.telescope.cdot.systems/planet

[2020-01-27 05:19] #19 closed

[2020-01-27 05:19] #128 closed

[2020-01-27 14:07] miggs125 opened #613 "Add centralized error handling"
**What would you like to be added**:
Centralized error/exception handling would make writing async/await a little easier, prevent uncaught exceptions and make the code look cleaner

[2020-01-27 14:41] Grommers00 opened #614 "Profile Page"
**What would you like to be added**:
Now that Gatsby will be our front end, lets get a profile page going for the logged in SSO.
This should include the user, and a place to put there feed for now.

Show a login / log out message.
**Why would you like this to be added**:
This will allow us to start utilizing SSO, and will allow a better process for telescope.

[2020-01-27 15:00] #603 closed

[2020-01-27 15:38] cindyledev commented on #353
This issue is stale because it has been open for over two months with no activity. Closing.

[2020-01-27 15:38] #353 closed

[2020-01-27 16:01] c3ho commented on #586
@wlto Would you be interested in this issue? I noticed you had a few discussions open regarding styling/design.

[2020-01-27 16:08] humphd commented on #579
Things like `public/` and the like may need to get added, but things like `node_modules` are already covered.

[2020-01-27 16:11] wlto commented on #586
@c3ho Yep sure! I'll start working on it on Thursday perhaps?

[2020-01-27 16:15] humphd commented on #556
Let's fix this by blocking `<iframe>` elements in our HTML sanitizer.

[2020-01-27 16:20] #526 closed

[2020-01-27 16:23] #483 closed

[2020-01-27 16:28] miggs125 commented on #366
Hey @lucacataldo, we've decided to go a different direction so we will be closing this issue. Feel free to checkout our open issues and contribute there :)

[2020-01-27 16:28] #366 closed

[2020-01-27 16:30] c3ho commented on #586
Great I'll assign this issue to you. Feel free to reach out to @miggs125 and @agarcia-caicedo  as they're the ones leading the charge for front-end related stuff

[2020-01-27 17:46] humphd commented on #608
Looking at this on http://dev.telescope.cdot.systems/admin/queues, it seems like we may need to take into account all jobs vs. just waiting job count, since we don't want to flood the machine with thousands (or 10s of thousands) of delayed jobs, like we do now.

Monitoring the flow of new jobs into the queue will help things a lot here.

[2020-01-27 22:09] wlto commented on #586
@c3ho Sounds good! Thanks!

[2020-01-27 22:50] #443 closed

[2020-01-27 23:10] humphd opened #615 "Add tests for /posts/:id route Accepting different Content-Types"
**What would you like to be added**:

We need to add more test cases to the `test/posts.test.js` file to cover the cases of a client requesting JSON, Text, or HTML for a given post id.

The particular part of this file that needs updating is in [lines 65-117](https://github.com/Seneca-CDOT/telescope/blob/master/test/posts.test.js#L65-L117).  We are using [Jest](https://jestjs.io/) and [supertest](

[2020-01-27 23:16] humphd opened #616 "Replace accepts module with req.accepts() if possible"
**What happened**:

In #612 we added support for the Accepts header in our `/posts/:id` route.  To do it, we add the [accepts](https://www.npmjs.com/package/accepts) module.  I *think* it's possible to do this without using an external module, using the [`req.accepts()` method built into Express](http://expressjs.com/en/5x/api.html#req.accepts).

**What should have happened**:

Let's see if we can

[2020-01-27 23:52] humphd commented on #608
@Silvyre I think I accidentally fixed part of this while working on another issue, see #618.  Sorry about that.

[2020-01-28 01:19] #608 closed

[2020-01-28 01:19] #611 closed

[2020-01-28 02:02] #593 closed

[2020-01-28 02:43] humphd commented on #569
@agarcia-caicedo some thoughts on this, as you begin.

- When we're in development mode, it would be useful to have the Gatsby dev server setup to proxy requests to our other routes (graphql, rest apis, etc).  We can do that via https://www.gatsbyjs.org/docs/api-proxy/
- Based on those docs, I'm wondering if we should consider namespacing all of our web "APIs" with `/api`, for for example: `/api/g

[2020-01-28 05:35] agarcia-caicedo commented on #586
@wlto have you used AdobeXD before?

[2020-01-28 16:41] humphd opened #620 "Return HTTP result 406 if accepts value is invalid for /posts/:id"
**What would you like to be added**:

If the `/posts/:id` route is called with an Accepts value that we don't support (i.e., not one of JSON, Text, or HTML), we should return an [HTTP 406 result code error](https://httpstatuses.com/406).

Let's also add a test for this case.

**Why would you like this to be added**:

This would make our API more correct.

[2020-01-28 20:30] #445 closed

[2020-01-29 00:20] #574 closed

[2020-01-29 00:21] yatsenko-julia commented on #556
@humphd I am not sure I get  everything correctly. Do I need to add iframe tag to disallowedTagsMode?

[2020-01-29 01:30] humphd commented on #556
You should do 3 things:

1. Add another test case to https://github.com/Seneca-CDOT/telescope/blob/master/test/sanitize-html.test.js that includes an `<iframe>` and make sure that it gets removed after being run through the sanitize HTML function.  Make sure the test fails
1. Splice `<iframe>` out of the array at https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/sanitize-html.

[2020-01-29 01:32] #579 closed

[2020-01-29 01:37] humphd commented on #574
Thank you for doing this today, this was a bad bug to have in master.

[2020-01-29 02:17] humphd opened #624 "Deal with 429 responses from medium.com, and other feeds"
**What happened**:

I noticed that [Tim's blog feed](https://medium.com/feed/@timfosteman) is showing on our
old planet, but not on Telescope.  I took a look through the logs:

[code]

Most likely we're being rate limited, and it would be good to try and get the `Retry-After` value (if sent) so we can hold off before we attempt to request it again.

**What should have happened**:

We're probably h

[2020-01-29 03:07] humphd commented on #624
One way to approach this would be to [add a key to Redis for a feed, and give it a time to live (TTL) so it expires](https://redis.io/commands/setex) after some period (1 hour = 3600 seconds)

[code]

This would create a new key `t:feed:ebbb25abaa:wait` that includes the `id` of the affected feed, and give it a TTL of 3600 seconds (1 hour).  When we start a feed update process, we would look for `

[2020-01-29 04:01] wlto commented on #586
Hi @agarcia-caicedo , no I haven't used Adobe XD before. But I've used Skecth, Photoshop and Figma. I think XD is a UI design software by Adobe with prototyping?

[2020-01-29 04:55] #587 closed

[2020-01-29 05:25] Silvyre commented on #624
This sounds interesting! I appreciate (and would like to accept) the offer to collaborate on this!

[2020-01-29 05:41] #555 closed

[2020-01-29 05:41] #576 closed

[2020-01-29 06:07] agarcia-caicedo opened #625 "Discussion: Interface Design Layout Suggestion"
<h2>Why we need a better design flow</h2>
In order to save time during styling process of the front-end, we should spend more time doing mock-ups and prototypes. This allows contributors working on setting up the front-end to have a better idea of how everything should look at the end, how components should interact, and what sort of functionality most elements should have.

Doing mock-ups and pro

[2020-01-29 13:52] miggs125 commented on #586
@wlto I think photoshop should be good enough to create some styles for the UI.

[2020-01-29 17:15] wlto commented on #586
@miggs125 Yep definitely. However, if possible, I would like to use Figma since it's web-based so others don't have to download and install it :)

[2020-01-29 17:29] miggs125 opened #626 "There is a spelling mistake in the GraphQL docs"
**What happened**:
![image](https://user-images.githubusercontent.com/32024054/73380952-e9990700-4292-11ea-962f-8f1dac7b0ef0.png)

[2020-01-29 17:48] LuigiZaccagnini commented on #585
I can take this issue!

[2020-01-29 22:22] cindyledev commented on #625
_hops on the frontend bandwagon_

[2020-01-29 23:59] cindyledev commented on #626
ah the double slash

[2020-01-30 00:17] lozinska opened #627 "Npm install --prefix src/frontend does not work for Windows OS"
Command `npm install` is not working properly. It just update back end and once it reach src/frontend it exit with errors.

To reproduce error run comand
`npm install` on Windows OS

[2020-01-30 02:05] humphd commented on #625
Thanks for leading this, @agarcia-caicedo.  Some thoughts I have:

- Add a way to see the Author, Date of Post, and also a link to the post (plus maybe the blog in general)
- Reduce the width of the post, increase the line height, increase the font size.  See discussion in https://github.com/Seneca-CDOT/telescope/issues/339#issue-527730366

[2020-01-30 02:09] humphd commented on #625
cc @wlto.  We're discussing initial work on the new frontend, if you want to get involved.

[2020-01-30 02:09] #451 closed

[2020-01-30 02:44] #627 closed

[2020-01-30 02:53] wlto commented on #625
Hi @humphd , thank you for letting me know of this issue.
@agarcia-caicedo Thanks for starting the work on re-designing the front-end. I think there's a lot of spacing that can be added here so that the content can be more readable. As for the layout, I think the top bar is taking too much space (about 10% of the viewport's height). So maybe reducing it might reveal more content for the user? 😃

[2020-01-30 07:17] agarcia-caicedo commented on #625
Thanks for the feedback, I'll be working on an improved version later today

[2020-01-30 14:44] humphd commented on #585
Great.  @LuigiZaccagnini please chat with @miggs125 and @agarcia-caicedo on Slack about any questions you have.

Assigning to myself so it's clear that this is being worked on.

[2020-01-30 17:46] humphd commented on #294
@Silvyre, I was thinking about this today.  Our wiki feed list is (currently) our "source of truth," and we want to use it as the official list of what we store in our system.  Given this, here are the cases I can think of that we need to deal with:

1. the wiki feed list has 100 feeds in it, redis has zero feeds in it (first run): we need to put all 100 feeds into redis
1. the wiki feed list has

[2020-01-30 17:55] humphd commented on #462
@c3ho I think we should use a similar solution for this to what I'm suggesting in https://github.com/Seneca-CDOT/telescope/issues/624#issuecomment-579571774.  Specifically, when a feed becomes "invalid" (maybe after we try it a bunch of times, it fails every time, and we give up on it), we set a key in Redis to indicate that.  If the feed in question has an `id` of `ebbb25abaa`, we'd do this:

[co

[2020-01-30 18:11] humphd commented on #517
@cindyledev I notice you [can do this with Netlify as well](https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/).

One thing I'm not clear on how we should do is to specify the backend URLs to use for accessing our REST/GraphQL endpoints when we do this.  We'd need to tell the version deployed to zeit/netflify to use our staging box vs. the same box serving the content.

[2020-01-30 18:49] c3ho commented on #591
Got an issue with filters, Prisma doesn't support Redis as of yet... So all the documents on Apollo Server doesn't apply. I just spent 3/4 hours figuring this out.

[2020-01-30 18:51] humphd commented on #591
I don't follow, we can connect to redis ourselves, we don't need Prisma afaict.

[2020-01-30 18:53] c3ho commented on #591
https://www.howtographql.com/graphql-js/8-filtering-pagination-and-sorting/. I think to use any of this it relies on things generated by Prisma.

[2020-01-30 18:57] humphd commented on #591
This stuff is more for when you have a really big database/query set, and need to automate a lot of the code.  For our needs, we're going to have a handful of things we need to return and query by.  Let's find a way to accomplish what we need without worrying about Prisma.

[2020-01-30 19:12] cindyledev commented on #625
@agarcia-caicedo I made some modifications and messaged you on Slack last night. Lemme know what you think :)

[2020-01-30 22:34] c3ho commented on #591
Ok, so you're fine with the way I kind of had it in the blog to test out nested queries? I was trying to find some "elegant" way to do it like a traditional DB, instead of retrieving all the posts then filtering it.

[2020-01-30 22:47] humphd commented on #591
I appreciate you trying to do this in an elegant, idiomatic way; but I want it to ship on time even more.  Let's go with the stuff you were doing in your blog, and refine that as we learn more about our needs.  Shipping Code > Perfect Code (that never ships).

[2020-01-31 00:52] miggs125 commented on #625
hey @agarcia-caicedo great work! I think we could make the transition between the front page and the blog area smoother. Currently, the front page has a very dark background and switching to a white and grey background immediately after seems a little abrupt. Perhaps we can use another color palette that makes this transition more seamless?

[2020-01-31 00:57] miggs125 commented on #625
I also have an idea which is up for discussion. Feedly styles their posts like so:
![image](https://user-images.githubusercontent.com/32024054/73503494-6a8ef600-439a-11ea-991b-3a7062a6a36c.png)
What if we copy the style but make the blogs expandable and collapsible and bind that to a click event? The user would be able to obtain a quick bird's eye view of the blog posts, and read any blog without

[2020-01-31 03:16] humphd commented on #625
@miggs125 I like the look of the feedly approach, but I would not like having to click through to every post (I'm a completionist, and read everything on the planet!).  That said, we could experiment with having a timeline view like this, where you click through, and also have some way to expand them all so you can scroll through them like we do now.

[2020-01-31 04:54] wlto commented on #625
@miggs125 I agree with @humphd , I think it's better if we can just click on the post and read it. I like the Feedly layout though. Perhaps the left sidebar can be used to create reader's bookmarks or preferred categories :)

[2020-01-31 05:57] agarcia-caicedo commented on #625
@miggs125 @humphd how would you feel about a post that are able to be collapsed, but they start off collapsed. Something like how reddit comments behave?

[2020-01-31 13:56] cindyledev commented on #625
I just joined the front end team a couple days ago and I'm already having a hard time following along with that's going on because we have like 5 discussions going on and many issues filed with their own conversations. I think we're pondering for too long on the basic design; we need to remember that our focus for our 0.6 release is to give @humphd his [dog food]. The initial design does not need

[2020-01-31 14:27] humphd commented on #625
In our meeting on Wednesday, @agarcia-caicedo said that she was going to incorporate some feedback, and then "freeze" a design for 0.6.  I think we should move on this today/tomorrow, so that we have it up for everyone before we go into next week.  All other UI related work is blocked on this design.

The design we use for 0.6 is simply that: a design for the 0.6 release, and nothing more.  We can

[2020-01-31 14:41] miggs125 commented on #625
@agarcia-caicedo  this is exactly what I was thinking

[2020-01-31 18:56] cindyledev commented on #625
We're moving discussions like this to https://github.com/orgs/Seneca-CDOT/teams/telescope-frontend/discussions, please feel free to start your own discussions about whatever topic you wanna talk about :)

[2020-01-31 19:33] c3ho commented on #405
[code]

We're using URL here did you want to change to use a ```feedId``` here instead?

[2020-01-31 22:07] wlto commented on #586
This issue is currently being discussed in the `telescope-frontend` team.

[2020-01-31 23:49] humphd commented on #577
I don't think this is needed after the work that @Silvyre did to add useful warnings, closing.

[2020-01-31 23:49] #577 closed

[2020-01-31 23:50] humphd commented on #517
https://www.gatsbyjs.org/docs/environment-variables/ has some good ideas on this, and https://www.gatsbyjs.org/docs/environment-variables/#example gives an example very close to what we need to do.

[2020-02-01 13:37] humphd commented on #405
I want to get rid of this code completely, and use the the invalid key concept with a feed id like I mentioned in the other comments I left.

[2020-02-01 14:43] humphd commented on #203
Our REST api is getting pretty close to being "finished," and it might be good to consider adding these docs now.  There are a few automated tools we could use to generate the docs based on comments:

- [apidoc](https://apidocjs.com) which uses inline "JavaDoc" style comments
- [aglio](https://github.com/danielgtaylor/aglio) which uses [API Blueprint](https://apiblueprint.org/) formatted docs

Of

[2020-02-01 14:46] humphd commented on #569
@manekenpix in our new nginx staging/production setup, we should skip the express static routing completely, and let nginx do it for us.  That probably needs another issue, but I'll wait until the rest of the nginx stuff lands.

[2020-02-01 14:53] humphd opened #634 "nginx configuration for staging and production"
**What would you like to be added**:

A few things we should do in our nginx config for staging and production:

- setup nginx to [serve our static content](https://docs.nginx.com/nginx/admin-guide/web-server/serving-static-content/) (e.g., GatsbyJS frontend) instead of the node app
- setup proper [caching for our endpoints](https://serversforhackers.com/c/nginx-caching) to reduce load on the node

[2020-02-01 15:34] miggs125 commented on #634
I'll take this

[2020-02-01 16:48] Grommers00 opened #635 "Create a button on a page to represent the logged in status vs logged out"
**What would you like to be added**:
As there is a lot of discussion right now going on about ther design of the front end, we need to have a basic page just to start using a login button. This is just creating a page with a button.

**Why would you like this to be added**:
The SSO shouldn't be held up by the front end design, so if we can get a base page that has a button. We are good to go.

[2020-02-01 17:07] Grommers00 opened #636 "Auth.js needs to be setup for Gatsby for SSO"
**What would you like to be added**:

Auth.js will actually manage our login status. The particular file I am talking about is located here
https://www.gatsbyjs.org/tutorial/authentication-tutorial/

However, this needs to be integrated with our current JSon Object returned.
our current Json object looks like this
[code]

**Why would you like this to be added**:
This will make it easier for us to

[2020-02-01 19:16] humphd commented on #635
Regardless of our design, this can be added to the existing fronted Gatsby app in `src/frontend`.  If we build it as some kind of "login/logout" button component in React, we can use that in the new design later, and don't need to block on anything now.

I've added this to 0.6, since we need it for this release.

[2020-02-01 19:17] humphd commented on #636
Adding to 0.6.

[2020-02-01 21:20] humphd opened #637 "Image and favicon for generated /feeds/* routes"
**What would you like to be added**:

Add feed image and favicon to generated `/feeds/*` route.

**Why would you like this to be added**:

In #633 we added `/feed/*` endpoints for a bunch of different feed types.  We need a few more things for this:

- favicon for our site's feeds (we can probably find an existing "feed" or "rss/atom" icon)
- image for our feed, which could be our logo or somethin

[2020-02-01 21:24] humphd opened #638 "Add tests for /feed/* routes"
**What would you like to be added**:

Add tests for all the routes under `/feed/*`, including:

- `/feed/rss`
- `/feed/atom`
- `/feed/json`
- `/feed/wiki`

NOTE: the `/feed/opml` tests are being done in #595.

These tests can make sure that we return something of the right `Content-Type`, with the correct HTTP Status Code, and that we get a body that roughly matches what we expect (this can be pre

[2020-02-02 00:39] Grommers00 commented on #635
Awesome sounds good!

[2020-02-03 03:40] Silvyre commented on #562
We decided that this was resolved by #550 (specifically https://github.com/Seneca-CDOT/telescope/commit/e4c5a12a32b21a76efdeaf8feede880ddb3f31d6#diff-997fe4fbd6c88492e7a8aae70ea0d74b).

[2020-02-03 03:40] #562 closed

[2020-02-03 05:24] agarcia-caicedo opened #642 "Make a Hero Banner"
**What would you like to be added**: [A Hero Banner](https://www.tributemedia.com/blog/what-is-a-hero-banner)

**Why would you like this to be added**: Based on our [discussions](https://github.com/orgs/Seneca-CDOT/teams/telescope-frontend/discussions/1) about the design of the front-end, we have decided to include a Hero banner for Telescope. as it is a great way to quickly give the user an idea

[2020-02-03 06:11] agarcia-caicedo opened #643 "Create a blog component"
**What would you like to be added**: A component for blog posts

**Why would you like this to be added**: Currently, the Gatsby posts don't show all the information we want from the posts. Additionally, they do bot make their best use of the space and do not fit our desired look for telescope.

What the blog posts should have: Post title, Date post was made, author, whole blog post content.

How t

[2020-02-03 15:31] agarcia-caicedo commented on #513
I think this issue can be closed. We are currently using the fonts suggested, any further discussion can go to https://github.com/orgs/Seneca-CDOT/teams/telescope-frontend/discussions

[2020-02-03 15:31] #513 closed

[2020-02-03 15:32] agarcia-caicedo commented on #511
Our current colour selection derives from this issue, however, further discussion about the choice can go to https://github.com/orgs/Seneca-CDOT/teams/telescope-frontend/discussions

[2020-02-03 15:32] #511 closed

[2020-02-03 15:39] agarcia-caicedo commented on #512
This conversation can be moved to https://github.com/orgs/Seneca-CDOT/teams/telescope-frontend/discussions

[2020-02-03 16:31] agarcia-caicedo commented on #586
I have made a figma file with the components. I'm open to trying using it alongside xd

[2020-02-03 17:16] wlto commented on #512
cool!

[2020-02-03 17:16] #512 closed

[2020-02-03 21:43] #602 closed

[2020-02-04 01:53] #517 closed

[2020-02-04 02:26] miggs125 commented on #585
@LuigiZaccagnini

To answer your question, we are not using any icon packages for this. You can style the button using css or sass (which ever you prefer) inside the `hamburger-button` sass file. You then import this into the main.scss file. If you need to add any classes to the component, you can do so in the component file by adding it to the `className` property.

[2020-02-04 02:27] miggs125 commented on #585
I will be restructuring the frontend in the future to make this process easier

[2020-02-04 03:58] #595 closed

[2020-02-04 19:05] humphd opened #646 "SAML metadata for our SP"
**What would you like to be added**:

We need to provide Seneca with the SAML metadata for our app.  We can use [`generateServiceProviderMetadata()`](https://github.com/bergie/passport-saml#generateserviceprovidermetadata-decryptioncert-signingcert-) in `passport-saml` to do this, and even provide it as an endpoint in the app

**Why would you like this to be added**:

I spoke with ITS about connec

[2020-02-04 22:07] humphd opened #648 "Switch from in-memory to Redis-backed session management"
**What would you like to be added**:

Let's switch from [express-session](https://www.npmjs.com/package/express-session) to [connect-redis](https://www.npmjs.com/package/connect-redis) for proper session management.

**Why would you like this to be added**:

We need to use a [proper session management provider](https://www.npmjs.com/package/express-session) in production with Express:

[2020-02-05 03:35] c3ho opened #653 "Proper logging for invalid feeds"
**What would you like to be added**:
PR for #462 should land this week, the PR invalidates feeds and provides a reason. Problem is the reason is not working properly and will be outside of the scope of that PR. You can find the code responsible for invalidating feeds inside src/backend/index.js

**Why would you like this to be added**:
At the moment all feeds that error will have a value of unknow

[2020-02-05 03:40] c3ho opened #654 "Check if a feed is already added to the feed set before setting it to invalid"
**What would you like to be added**:
PR for #462 is going to land and the `setInvalidFeed` function within `src/backend/utils/storage.js` will need a check to see if the feed exists before it can be invalidated

**Why would you like this to be added**:
Before a feed is invalidated (added to the Invalid Feeds set), it should be added to the Feeds set

[2020-02-05 18:54] #583 closed

[2020-02-05 19:25] manekenpix opened #658 "Add building frontend for staging and production deployment"
**What would you like to be added**:

Currently, we have scripts in our `package.json` to build the front end, but they have to be run manually. For staging and (maybe) production deployment, building the front end needs to happen automagically, otherwise the backend (or nginx once that part is added) won't have anything to serve.

Our [Docker](https://github.com/Seneca-CDOT/telescope/blob/master/

[2020-02-05 20:52] humphd commented on #658
We'd also need to `ADD` or `COPY` the `src/frontend/public` folder after that build step completed, I think.

[2020-02-06 00:01] humphd opened #660 "Remove /planet/compare route"
**What would you like to be added**:

Remove the `/planet/compare` route that got added in https://github.com/Seneca-CDOT/telescope/commit/4770bad385eee1899a91d6142b73f0e0b5bcfc65

**Why would you like this to be added**:

My beloved CDOT planet is now officially dead:

<img width="581" alt="Screen Shot 2020-02-05 at 6 58 02 PM" src="https://user-images.githubusercontent.com/427398/73894267-f21caf

[2020-02-06 01:46] c3ho commented on #660
I'll help put this poor route out of its misery

[2020-02-06 01:47] c3ho commented on #648
I'll take this issue on

[2020-02-06 16:38] humphd opened #661 "Use docker-compose config to validate our docker-compose.yml files"
**What would you like to be added**:

Let's find a way to use [`docker-compose -f docker-compose.yml config`](https://docs.docker.com/compose/reference/config/) to validate and print our config.

**Why would you like this to be added**:

One of the things that can break our deployments will be missing or incorrect configs for docker.  This command validates your config, and prints it out.  It also

[2020-02-06 22:24] humphd opened #664 "Use env variable for Telescope API URL in Gatsby app"
**What would you like to be added**:

Let's use environment variables (e.g., our `.env`) to define a base URL for our Telescope backend API, so that the code in `src/frontend/src/components/Layout/Layout.js` will work with different instances of the backend.

**Why would you like this to be added**:

In #663 we are hard coding the staging box's URL into our frontend code to fetch post data.  We sh

[2020-02-06 22:31] c3ho opened #665 "Nested Queries in GraphQL"
**What would you like to be added**:
GraphQL filters should be going in soon (crosses fingers), we should get nested queries going in too.

**Why would you like this to be added**:
Gives our front-end people more flexibility when using GraphQL APIs

[2020-02-06 22:36] c3ho commented on #665
@manekenpix you've previously done work/research on nested queries so I'm going to volunteer you for this.

[2020-02-07 00:28] #202 closed

[2020-02-07 00:57] humphd opened #666 "Add data volume to redis container"
**What would you like to be added**:

Add a data volume to our Redis container to persist data between restarts.

**Why would you like this to be added**:

It would be nice if our data didn't get lost every time we have to restart the container.  From the [container docs](https://hub.docker.com/_/redis/):

[2020-02-07 01:00] manekenpix commented on #665
Nice, I'll need your help since you worked on the filters so we can come up with something good combining filters and nested queries.

[2020-02-07 01:22] humphd opened #667 "Figure out how to do CORS properly for our needs"
**What would you like to be added**:

We should tweak our [`cors()` options](https://www.npmjs.com/package/cors#configuration-options) in the express app for exposing our routes to cross origin requests.

**Why would you like this to be added**:

We [turned on CORS in our express server](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/app.js#L19-L21), but we haven't set a bunc

[2020-02-07 01:29] humphd opened #668 "Compare our nginx config with Mozilla's recommendations"
**What would you like to be added**:

Let's make sure our ngix config is correct in terms of security.

**Why would you like this to be added**:

Mozilla has a really [good tool](https://ssl-config.mozilla.org/) for [safely configuring your server](https://wiki.mozilla.org/Security/Server_Side_TLS#Recommended_Server_Configurations).  Let's compare what we have to what the recommend and adjust as n

[2020-02-07 01:33] humphd opened #669 "Use helmet security module for our express server"
**What would you like to be added**:

Let's add the [helmet](https://www.npmjs.com/package/helmet) module to our express server, and start tightening our security practices.

There are a lot of things we can enable with helmet, and not all of them will make sense.  We can start with:

[code]

**Why would you like this to be added**:

We want to get ready for production and our 1.0, and we should b

[2020-02-07 02:35] #556 closed

[2020-02-07 03:09] manekenpix commented on #537
An option to consider: [FlexSearch](https://github.com/nextapps-de/flexsearch)

[2020-02-07 04:33] #462 closed

[2020-02-07 15:28] manekenpix opened #673 "Telescope crashes at job failure"
**What happened**:

Telescope crashes when processing one of the jobs

[code]

**What should have happened**:

Telescope should keep running

**How to reproduce it (as precise as possible)**:

Run telescope for about 15 min

**Environment**:

- OS: Fedora 30

[2020-02-07 16:27] manekenpix opened #674 "Wrong path to telescope's cert files"
**What happened**:

After using our script for SAML setup, a `certs` directory was created inside of the `tools` directory.
At launch, telescope shows this error:
[code]
Telescope is trying to load `key.pem` from `telescope/certs`, but the folder `certs` was created in the `tools` directory. The path should be `telescope/tools/certs`.

**How to reproduce it (as precise as possible)**:

Execute `ge

[2020-02-07 17:15] cindyledev commented on #673
I'm currently trying to reproduce this. How many lines did you get in your log file when this happened? I'm passing 2000 lines and so far it's still running

[2020-02-07 17:15] c3ho commented on #673
@cindyledev It seems like it works locally, but for some reason is breaking on the box that's hosting the app.

[2020-02-07 17:44] manekenpix opened #675 "Documentation should reflect redis conflict when running it locally and with docker"
Our documentation should mention that the methods suggested to run redis can't be used at the same time and, in case of redis error, the developer should check if another instance of redis is running using any other method.

Example:
Developer tries `docker-compose up redis` and gets:

The problem is that redis is already running natively so it should be stopped (CLI and services should be checked

[2020-02-07 18:32] #673 closed

[2020-02-08 00:29] cindyledev commented on #643
Closing. Initial work in #659 and completed in #663

[2020-02-08 00:29] #643 closed

[2020-02-08 02:51] #569 closed

[2020-02-08 02:53] manekenpix commented on #658
Closed via #678

[2020-02-08 02:53] #658 closed

[2020-02-08 02:54] #530 closed

[2020-02-08 02:57] #519 closed

[2020-02-08 02:59] #636 closed

[2020-02-08 02:59] #635 closed

[2020-02-08 02:59] #614 closed

[2020-02-08 03:01] #638 closed

[2020-02-08 03:13] manekenpix opened #680 "Add documentation for staging + production deployment"
**What would you like to be added**:
Now that #649 landed, we need documentation to setup the staging server, including information about our settings for the [staging docker-compose file](https://github.com/Seneca-CDOT/telescope/blob/master/docker-compose-staging.yml), [nginx config file](https://github.com/Seneca-CDOT/telescope/blob/master/nginx.conf), [certbot](https://github.com/Seneca-CDOT/te

[2020-02-08 03:29] #580 closed

[2020-02-08 03:29] #581 closed

[2020-02-08 04:18] humphd commented on #664
This breaks local development, so it would be good to fix it soon.

[2020-02-08 05:37] humphd opened #682 "Reduce size of telescope Docker container"
**What would you like to be added**:

Audit our Dockerfile, and see what we can do to trim it down.  I did an initial experiment tonight:

[code]

This only installs production node dependencies, and no devDependencies.

That resulted in this size change:

[code]

That's a 1.2G saving!  The `node:lts` image alone goes from `913MB` to `85.2M` with `node:lts-alpine`, which is huge.  There are detail

[2020-02-08 05:49] manekenpix commented on #682
Also, we can consider the same option for the other images used in our `docker-compose.yml` and `docker-compose-staging.yml` files.
-  [redis:alpine](https://github.com/docker-library/redis/blob/b6d413ceff3a2bca10a430ace121597fa8fe2a2c/5.0/alpine/Dockerfile)
-  [nginx:alpine](https://github.com/nginxinc/docker-nginx/blob/5971de30c487356d5d2a2e1a79e02b2612f9a72f/mainline/alpine/Dockerfile)

Maybe n

[2020-02-08 16:40] humphd opened #683 "Deal with large logs on staging and production"
**What would you like to be added**:

Let's be careful with how we generate our logs on staging and production. Some thoughts:

- we probably don't need/want `debug` logs.  Let's use `info` or `error`, and set `NODE_ENV=production`
- we should figure out how to do log rotation, so we don't create massive files, or too many files over time.  Maybe use https://github.com/pinojs/pino/blob/master/docs

[2020-02-08 16:58] raygervais commented on #682
Alpine was designed from my understanding for containerization, at the cost of many build tools and libraries being missing from the base image. Their lack of glibc truly does make building and running certain applications border-line impossible. Still, if there is an Alpine for Node, Redis, NGINX, I say go forward with using it if possible.

The other item that we should explore @humphd is multi-

[2020-02-08 17:30] humphd commented on #682
My sense of the `alpine` stuff is that it either works or doesn't with musl vs. glibc, so we can test and see how it goes.  The redis container is already pretty small, but for the node container, it's a huge win.

I love the idea of doing multi-stage builds to throw away build artifacts.  Some notes:

- we have a 2 stage build for our node app(s).
- `npm install` will install the stuff you need f

[2020-02-08 20:00] humphd opened #685 "Updated outdated modules"
We're going to have to keep our dependencies up-to-date.  To check what's outdated, we can use:

[code]

Of these, here is my suggestion

## Update all of these

These should all be straight forward, non-breaking changes we can go ahead with:

[code]

## Confirm these breaking changes and Update if possible

These are all probably fine, but we should look at the release notes for each, and make su

[2020-02-09 01:38] #363 closed

[2020-02-09 03:39] #682 closed

[2020-02-09 04:13] #591 closed

[2020-02-09 04:17] c3ho commented on #405
Closing this as it was addressed by #630

[2020-02-09 04:17] #405 closed

[2020-02-09 16:27] humphd opened #691 "Allow authentication tokens to make it through nginx proxy"
Our login on staging doesn't work correctly anymore:

<img width="973" alt="Screen Shot 2020-02-09 at 11 23 42 AM" src="https://user-images.githubusercontent.com/427398/74105761-a65e5400-4b2e-11ea-8121-0f7e6c489a3c.png">

I think the issue here is that our HTTPS ngnix reverse proxy to the node app is not allowing authentication headers to pass through to the client.

I'm not 100% how to fix this.

[2020-02-09 16:44] c3ho commented on #691
I’ll take this issue on, want to learn about this stuff.

[2020-02-10 15:11] Silvyre commented on #294
I plan to collaborate on this as part of Release 0.7

[2020-02-10 15:11] Silvyre commented on #624
I plan to collaborate on this as part of Release 0.7

[2020-02-10 17:02] Grommers00 opened #694 "Logout Needs to be fixed on the express server"
**What would you like to be added**:
I would like to add the ability to logout of our site, you can login, and currently you are there forever.

**Why would you like this to be added**:
Let's remedy that so people can leave telescope.

[2020-02-10 17:04] Grommers00 opened #695 "Logout needs to be fixed on the front end."
**What would you like to be added**:
Another issue. Fix #694  will fix our back end so we can logout correctly.

This also needs to be done on the front end, so that actual user can do it with the ease and click of a button!
**Why would you like this to be added**:

This way the front end will let you to logout easy from a click of a button.

[2020-02-10 17:30] c3ho commented on #669
Can take this issue on. Did you want to use default settings?

[2020-02-10 20:41] #664 closed

[2020-02-10 21:18] humphd commented on #691
I ran into another issue with login today on HTTPS for staging.  When I try to login, our express server is using a GET request to `/auth/login/callback` but it should be a POST.

You can try to Login on https://telescope-eq0rhvdfk.now.sh/ and after you do, you'll see that it gives a 404 while trying to GET `/auth/login/callback`.  We have that, but it's POST.

[2020-02-11 02:33] humphd commented on #694
@Grommers00 linked me to to this article suggesting we not bother with logout: https://uit.stanford.edu/service/saml/logout at all.  Another option to consider.

[2020-02-11 02:36] humphd opened #697 "Switch from REST to GraphQL for Gatsby to Telescope"
**What would you like to be added**:

Let's use the [gatsby-source-graphql](https://www.gatsbyjs.org/packages/gatsby-source-graphql/) plugin to allow using our Telescope GraphQL API instead of getting posts/feeds/etc from the REST API.

**Why would you like this to be added**:

Gatsby uses GraphQL all the way through, so we might as well embrace that.  Also, we have the GraphQL endpoint on Telesco

[2020-02-11 02:58] c3ho commented on #669
@humphd did you want to disable it.. or [fake](https://helmetjs.github.io/docs/hide-powered-by/) it?

[2020-02-11 13:28] humphd opened #699 "Automatic deploys to staging on commit to master"
**What would you like to be added**:

Let's add a webhook flow for our staging deployment builds.  When we commit on the `master` branch of the  Seneca-CDOT/telescope repo, we should trigger a build process on dev.telescope.cdot.systems.

I think the way to do this is using a [GitHub webhook] for the [push event](https://developer.github.com/v3/activity/events/types/#pushevent) from our repo on Gi

[2020-02-11 13:46] humphd opened #700 "Fix formatting of Posts component's content for readability"
I'm going to resurrect some things that I wrote in #339, which still aren't done.  We can do them now for this issue.

## Background

I took a look at a few sites that are focused on presenting articles, reading, and doing similar things to what we're building.  I wanted to find inspiration and some CSS patterns and techniques we could leverage.  Consider:

- [Medium](https://medium.com/@REAS/coll

[2020-02-11 14:10] humphd opened #701 "Add authenticated user info to GraphQL via passport.js"
**What would you like to be added**:

Let's expose Passport.js' `user`, `isAuthenticated()`, etc. on our GraphQL `context`.  We can use [graphql-passport](https://github.com/jkettmann/graphql-passport) to do this via the `buildContext()` function.  The code would look something like this:

[code]

Now the `context` object will have new methods we can call in our queries, the ones we care most abou

[2020-02-11 14:11] humphd commented on #701
Some useful background reading:

- https://jkettmann.com/authentication-and-authorization-with-graphql-and-passport/
- https://jkettmann.com/password-based-authentication-with-graphql-and-passport/

NOTE: we probably don't need the local strategy it talks about, since we already have a SAML strategy.

[2020-02-11 15:20] c3ho opened #702 "Unreachable feed list causes the feed queue to error and not recover"
**What happened**:
https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List was down last night and being unable to fetch the feeds from wiki caused feed queue to error and never recover from the error.

**What should have happened**:
Feed queue should be able to recover from the error, and once the feeds were available again add them to the queue.

**How to reproduce it (as precise as possib

[2020-02-11 15:35] #660 closed

[2020-02-11 16:36] humphd opened #704 "Release command needs some fixes"
I just did a release for 0.6.0, and it worked really well.  For reference, here is what it looked like:

[code]

This generated a new [GitHub Release](https://github.com/Seneca-CDOT/telescope/releases/tag/0.6.0), updated our [package.json version](https://github.com/Seneca-CDOT/telescope/commit/8e984f9545922e7c033f4377ff5729d1bf0d041c), and pushed to GitHub.

Only 2 things that I can see didn't wo

[2020-02-11 21:02] humphd opened #705 "Missing docker deps"
**What happened**:

When we build the frontend app in our Docker container, we have a few failures, I think due to missing deps:

[code]

None of these seem fatal, but I wonder if we should try to fix?

**What should have happened**:

It would be nice if our build didn't error.  If it's possible to do this without importing a ton of things to bloat our container, it would be nice.

**How to reprod

[2020-02-12 03:08] c3ho opened #706 "Change storage.js to support the adding of feeds"
**What would you like to be added**:
We need to change code in `storage.js` to allow new namespaces:
- `t:user:` to store feeds for individual users, one user can have multiple feeds for example `t:user:user@myseneca.ca` can contain a feed for OSD700 and one for SPO600

We'll need a new redis key called `t:users`

We need additional functions to:
- create the keys with the namespaces
- add feeds t

[2020-02-12 03:11] c3ho opened #707 "Add a POST route to allow a user to add a feed"
**What would you like to be added**:
Add a POST route to allow a user to add feeds

**Why would you like this to be added**:
Once #706 goes in we need to allow users to enter their feeds so we can add them to Redis

[2020-02-12 03:13] c3ho opened #708 "Create a design for a page to allow users to add feeds"
**What would you like to be added**:
Create a design/mockup for users to add feeds

**Why would you like this to be added**:
Once #706 and #707 goes in, we need to update Gatsby to use the updated code from those two issues.

[2020-02-12 03:16] c3ho opened #709 "Create admin users"
**What would you like to be added**:
Create admin users giving them the ability to delete or add a feed for someone other than them.

![image](https://user-images.githubusercontent.com/18711727/74299911-1ed63800-4d1c-11ea-8fda-92211a4e5c07.png)

**Why would you like this to be added**:
#706, #707 code will allow users to add feed, we want to allow the removal of feeds in case one of their feeds ge

[2020-02-12 04:27] cindyledev opened #710 "Constrain large images in blog posts"
Related to #700

**What would you like to be added**:
Some blog posts have large images that go out of the page, they should not be able to do that. We can file another issue to deal with emoticons as well.

**Why would you like this to be added**:
We don't want large pictures and screenshots taking over Telescope

[2020-02-12 04:36] cindyledev opened #711 "Display Release version somewhere in the design"
**What would you like to be added**:
We should show our release version somewhere in the design. Suggested locations are in the bottom right corner or in an About page or /health. It doesn't have to be one of these locations, they're just suggestions. Feel free to put it somewhere you deem fitting.

**Why would you like this to be added**:
We just released 0.6.0, the version number should be displ

[2020-02-12 04:44] cindyledev opened #712 "Frontend code cleanup"
**What would you like to be added**:
Go through the frontend code and ensure its being done the proper way (Some research required)
Utilize Gatsby things, such as
- Proper React procedures
- Use `<Link>` instead of `href=`

**Why would you like this to be added**:
Our code should be consistent and utilize as much Gatsby as possible

[2020-02-12 04:55] cindyledev commented on #708
This can be broken up into smaller issues:
1) mockups and maybe prototype (I'm getting clarification on what prototype is)
2) implementing the design

Additional information:
This is how we're adding feeds right now https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List
Let's make adding feeds to Telescope better than this :)

[2020-02-12 05:14] cindyledev opened #713 "Remove starry background"
**Why would you like this to be removed**:
Apparently no one digs the starry background. Remove background and replace it with some cool solid colour from our assets

[2020-02-12 05:16] agarcia-caicedo commented on #713
Colour Assets:
![image](https://user-images.githubusercontent.com/49992710/74305077-dc692700-4d2c-11ea-8ed5-a9be6674d8ab.png)

[2020-02-12 06:51] cindyledev commented on #584
Closing. PR has merged

[2020-02-12 06:51] #584 closed

[2020-02-12 15:54] c3ho opened #714 "Implement design to create a page for users to add feeds"
**What would you like to be added**:
We'll need to implement a page to allow users to add feeds

**Why would you like this to be added**:
#708 will create the design, this issue will be to implement the design.

[2020-02-12 15:55] c3ho commented on #708
@cindyledev changed, thanks!

[2020-02-12 17:27] Grommers00 opened #715 "Improve docs for prettier/eslint/vscode environment setup"
Prettier is creating a lot of errors for people.

Can we post below and include the
OS
Issue
How to replicate the issue

[2020-02-12 21:07] c3ho opened #716 "Update Post class to have a feedId property"
**What would you like to be added**:
To support the addition of new feeds, the `post` class in `post.js` will have to be updated to support.
We need to add a new property called `feedId` and perhaps remove `url` and `site` as that information can be retrieved from the feed class (not too sure). Some of this might block on #706 as it will need functions to interact with Redis.

**Why would you like

[2020-02-12 21:11] c3ho opened #717 "Create a User class"
**What would you like to be added**:
We currently have a feed class in `feed.js`, a post class in `post.js`, but we need one more, a user class in `user.js` to use the functions we are going to add to `storage.js` in #706 . Good references would be the other existing classes we have currently to give you an idea.

All code that interact directly with Redis will be in `storage.js`, any code that us

[2020-02-13 01:05] manekenpix commented on #699
@c3ho and I tested github webhooks using a small repo we created for testing and [github-webhook-handler](https://www.npmjs.com/package/github-webhook-handler), and it worked very well. We have some doubts about how to proceed next.
For context, these are the steps required for a manual, successful update and deployment of telescope:
[code]
The idea is to have a clean deployment after cloning tele

[2020-02-13 02:24] humphd commented on #435
Let's continue this in #699, I forgot we had this issue when I filed that, but we have more info there.

[2020-02-13 02:24] #435 closed

[2020-02-13 02:53] humphd commented on #699
I wonder if the easiest way to do this is with a Green/Blue deployment pattern, where you have 2 versions of docker compose going using project names, and one is running while you are building/running the new one, then you switch over to that.

This is where Kubernetes would help us, but let's try and find a simple solution for staging.  @raygervais, what would you do?

[2020-02-13 03:01] humphd commented on #699
Some examples of what I mean:

- https://www.maptiler.com/blog/2016/08/blue-green-deployment-with-docker-and.html
- https://coderbook.com/@marcus/how-to-do-zero-downtime-deployments-of-docker-containers/

We could put a load balancer in front of our two apps (green/blue) and let it route traffic to one while the other builds and starts, then cut over to the other one and remove the first.  In this

[2020-02-13 03:12] humphd commented on #715
I'd like some more info on this.  I've seen first hand that it doesn't work on James laptop.

@Grommers00 can you try some things for me?

- delete your `node_modules` folder
- confirm that you're on `master`, and it's exactly the same commit as the `upstream`
- make sure you version of node.js is `12.*.*` and update if it's older than that.
- make sure your version of VSCode is `1.42.0` and updat

[2020-02-13 03:25] raygervais commented on #699
I like the idea of Green/Blue deployment strategies, and I think the two links show great value in how it can be done (I prefer the simplicity of the first, but only truthfully skimmed the two). One problem that both face, similar to your load-balancer concept: They are manual steps. If we are seeking automated deployments via Blue/Green, then perhaps the only manual step should be merging to mast

[2020-02-13 04:07] humphd commented on #699
@raygervais I bet we don't need the `develop` branch here at all, and can do a webhook from GitHub for merges to `master` the way you describe.  We'd use tagged releases to do something similar for production later.  I outlined some of that in the initial comment at the top.

I bet this is how we should do this, but we might decide it's too complicated for 0.7, and start work on it, knowing it mig

[2020-02-13 04:46] c3ho commented on #706
For all issues mentioned, feel free to refer to this:
![image](https://user-images.githubusercontent.com/18711727/74402301-d6894980-4df1-11ea-8be5-6faee6422c9d.png)

[2020-02-13 20:14] #620 closed

[2020-02-13 22:37] humphd commented on #669
Disable.

[2020-02-14 00:00] #642 closed

[2020-02-14 00:30] agarcia-caicedo opened #720 "Create a Search page"
**What would you like to be added**:

Create a search page that would go under the pages folder in the front-end. It should import the navbar and use the main styling.

**Why would you like this to be added**:
This page is needed to add search functionality

[2020-02-14 00:44] agarcia-caicedo opened #721 "Create a search bar component"
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/49992710/74490791-b744f780-4e97-11ea-9bf7-5fa37b53f174.png)

The component should look like this.
The drop down menu should currently only have "Author" as an option.

Assets:
Drop down background and search button colour:
#3670A5
Drop down text colour and icon colour:
#002944
Placeholder text colour:
#6E6E6E
S

[2020-02-14 00:52] agarcia-caicedo opened #722 "Create an Author Result Component"
**What would you like to be added**:
A component that shows the author as a result of a search need to be created. It should look like this:

![image](https://user-images.githubusercontent.com/49992710/74491462-a39a9080-4e99-11ea-831f-01086288745c.png)

The avatar picture does not need to be implemented at this time.
The last post should be a link the last post the author made.
The more>  will cur

[2020-02-14 04:17] Grommers00 commented on #715
Okay - so I was never npm installing before, as I exclusively ran everything with docker previously.

npm install fixed this for me, I also had prettier/eslint already installed previously as extensions on visual studio code!

Thansk @humphd

@cindyledev not sure if this will help you?

[2020-02-14 14:27] humphd commented on #715
Great, I'll morph this into a bug about fixing our docs to be more clear on how to set this up.

[2020-02-14 14:29] humphd commented on #722
There are quite a few "Letter" avatar or placeholder avatar React components, which give a circle and the initials of a user, or just the first letter, etc.  We can probably use one of them.

Material UI, which I think we already have included in our tree, has some.

[2020-02-15 01:56] humphd opened #724 "Add site property to Feed Class and Redis"
In #718 we're reworking the `Feed` and `Post` and one of the things it does is to remove the `site` property.  When we parse a feed, we get back a URL that is the `site` (HTML site for the feed's blog).  It doesn't make sense to repeat this every time on each `Post`, so we should add it to the `Feed`.

To do this, we'll need to parse the `Feed` and get the feed data, which includes the site.

[2020-02-15 21:05] Silvyre opened #725 "Prototype the Add Feed view in React"
**What would you like to be added**:

Anticipating @yatsenko-julia's delivery of a design/mockup for a new `Add Feed` view, we should take at least the initial steps necessary to implement this design by creating a React component to house this design.

**Why would you like this to be added**:

Once @yatsenko-julia delivers her design for the `Add Feed` page, these initial steps task will already

[2020-02-16 01:48] #716 closed

[2020-02-16 16:16] humphd opened #728 "Remove second react dependency"
We have react defined in two different places:

1. https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/package.json#L18
1. https://github.com/Seneca-CDOT/telescope/blob/master/package.json#L99

The first one (in `src/frontend/package.json`) is correct, and the other one (`package.json`) needs to get removed.

[2020-02-16 16:18] humphd commented on #728
Maybe I'm wrong.  Did we do this for detecting the react version?  cc @agarcia-caicedo, @miggs125

One way or the other, let's only include this once so we don't have version conflicts later.

[2020-02-16 16:38] yatsenko-julia commented on #725
Here is a rough sketch of how the Add Feed page could look like.

![Untitled-1 2](https://user-images.githubusercontent.com/28925746/74608365-5ba08700-50ae-11ea-9f33-3a6ff219d15a.jpg)

When user clicks on 'Add blog link' the dropdown with URL field appears on the screen. I've also added _i_  tooltip with more detailed information about what exactly could be added in this section and why.

![Untitl

[2020-02-16 16:49] Grommers00 commented on #725
I like it.

Just to note that
![image](https://user-images.githubusercontent.com/42331013/74608816-47f71f80-50b2-11ea-9211-09bff4b31cbf.png)

It will have to be done in 0.8 as we aren't linking users to there blog at this time, however, a place holder maybe can be put into place?

[2020-02-16 17:01] #624 closed

[2020-02-16 17:14] agarcia-caicedo commented on #728
The one in the package.json was for detecting react

[2020-02-16 17:40] Grommers00 commented on #725
One more note, I realize as I'm adding the back end.

The problem with the name currently is that we don't have a name (author) linked to our current SSO.

We can either use a default name - e.g. David Humphrey if we test this out, or we can use email.

Once we have the Seneca SSO, we should be able to get a first/last name that we can use for the author going forward.

@humphd thoughts on how to

[2020-02-16 17:44] humphd commented on #725
This is really cool, thanks @yatsenko-julia.  One thing that would be very useful to do in a follow-up release is to leverage what you have here to provide a better user experience for adding a blog feed if a user doesn't know what a feed URL is.

What I mean is, imagine these different scenarios and users:

1. User A comes to Telescope and knows that his blog is http://myblog.com, but has no idea

[2020-02-16 18:27] humphd opened #730 "Pick a React component library as our base UI toolkit"
**What would you like to be added**:

Let's pick a well supported React component library, and use it as a base for building our designs.  The ones I know, and would suggest:

- https://react-bootstrap.github.io/
- https://material-ui.com/

Microsoft's Fabric components https://developer.microsoft.com/en-us/fabric#/controls/web are neat too, but look a bit too "Office" for our needs.

There are a

[2020-02-16 18:32] Grommers00 commented on #706
So I'm not sure, but I think @humphd added this feature with the create function in `../../data/feed.js `

[2020-02-16 19:14] cindyledev commented on #730
Looking at the Material UI docs and components, I think it's a solid pick for Telescope. I've used Bootstrap for so long that I can smell it from a mile away. Material UI looks beautiful and it has a lot of the components we will be using.

I wish I realized we already had Material UI in our tree before I implemented the Hero Banner. I'm embarrassed to say how long I spent on it. Implementing futu

[2020-02-16 19:19] cindyledev commented on #722
Some Material UI components I think would be useful in creating this:
- [Letter Avatars using Material UI](https://material-ui.com/components/avatars/#letter-avatars)
- [Over 1000 icons](https://material-ui.com/components/material-icons/) to use
- Maybe [Expansion Panel](https://material-ui.com/components/expansion-panels/) for the 'more'?

[2020-02-16 19:31] cindyledev commented on #721
Maybe
- https://material-ui.com/components/selects/#customized-selects
- https://material-ui.com/components/app-bar/#app-bar-with-search-field

[2020-02-16 19:37] cindyledev opened #731 "Add Scroll to Top button"
**What would you like to be added**:
Add a scroll to top button

**Why would you like this to be added**:
It would be nice to be able to scroll back to the top

Helpful link:
https://material-ui.com/components/app-bar/#back-to-top

[2020-02-16 20:09] agarcia-caicedo commented on #730
I agree with @cindyledev, I'm good with using material ui

[2020-02-16 20:17] Grommers00 opened #732 "API_URL Login redirects to dev.telescope.cdot.systems when run Locally"
**What happened**: If you run the API_URL to the dev.telescope.cdot.systems and run your gatsby application locally. After logging in, it redirects you to dev.telescope.cdot.systems opposed
to your localhost.

**What should have happened**:
It should redirect you back to your localhost.

**How to reproduce it (as precise as possible)**:
In the .env file point API_URL to dev.telescope.cdot.systems,

[2020-02-16 20:31] humphd commented on #732
The problem here is that when you get logged in, the SSO provider sends you back to the express server's login callback, where we do a redirect:

https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/auth.js#L22

We currently use `/` as our redirect URL, and this sends you to the root of staging.  What we need to do is somehow keep track of where you came from when you hit `/

[2020-02-16 20:31] humphd commented on #732
cc @Silvyre, who made us aware of this problem in Slack.

[2020-02-16 20:33] humphd commented on #730
That's 3 votes for Material UI, and I think given that Miguel add it originally, we can say "4 votes."

[2020-02-16 21:52] Silvyre commented on #725
Regarding the creation of a React component/prototype: I ran into [some issues](https://github.com/orgs/Seneca-CDOT/teams/telescope-frontend/discussions/5) when attempting to add a component that would be rendered post-login. Resolving my own issues will likely required first resolving the redirection-related issue #732.

[2020-02-16 23:54] Grommers00 commented on #706
This next step will probably have to be added in 0.8.

[2020-02-17 00:34] humphd commented on #725
@Silvyre notice you took yourself off this issue.  I'd suggest you still consider taking it, and we can hack around the auth problem.  Fixing it perfectly doesn't need to block your work on this bug.  Happy to discuss options on Slack or in person.

[2020-02-17 00:52] humphd commented on #706
I'm still trying to decide the best way to approach this.  My goals are:

- store as little data as possible about authenticated users.
- expose as little of what we store via APIs as possible.
- keep the design simple.

User A authenticates with the SSO provider.  We get back a "profile" object that has some data, probably email, username, a user id, etc.

User A wants to add a feed.  When we cre

[2020-02-17 01:08] Grommers00 opened #734 "Feeds.js - Routes and Test need to include Protect"
**What happened**:
Feeds.js in `src\backend\web\routes\feeds.js`  and `test\feeds.test.js` both need to be updated
once we get protect working on the back end and we can test accordingly.

**What should have happened**:
Protect should be put on the post route, and this will affect the tests at the same time.

**How to reproduce it (as precise as possible)**:
You can test by not logging in and stil

[2020-02-17 01:19] cindyledev commented on #708
Design mockups were posted [here](https://github.com/Seneca-CDOT/telescope/issues/725#issuecomment-586726492) as a comment.

Closing this issue. To be continued in #725.

[2020-02-17 01:19] #708 closed

[2020-02-17 01:20] cindyledev commented on #714
Duplicate. Closing this issue in favour of #725

[2020-02-17 01:20] #714 closed

[2020-02-17 01:25] Silvyre commented on #725
I am hoping to get the auth problem solved with some in-person help, tomorrow. After I'm sure I am capable of contributing, I plan to reassign. 👍

[2020-02-17 01:26] cindyledev commented on #290
Mentioned by @humphd a while ago that this can be achieved using Gatsby as well.
https://www.gatsbyjs.org/docs/adding-markdown-pages/

I will likely morph this into Gatsby markdown pages in the future instead of implementing docusaurus.

[2020-02-17 01:54] Silvyre commented on #730
5 votes; I like MUI

[2020-02-17 03:27] humphd commented on #732
I spent some time on this tonight, and I'm not sure how to solve this cleanly.  I was able to modify our backend authentication routes so that when a user is redirected to the login/logout routes, we capture the referring URL.  I then put this in the `RelayState` of the SAML request we make to the SSO server.  This data will survive the trip to the SSO, and in the POST callback, I get it back.  Th

[2020-02-17 06:44] agarcia-caicedo opened #737 "Remove Telescope Logo from under the Hero Banner"
Currently, the logo is randomly under the hero banner. It does not make for a good user experience, so it should be removed from its current spot.

![image](https://user-images.githubusercontent.com/49992710/74630334-61d34980-5128-11ea-9768-3b9307c2f13b.png)

[2020-02-17 16:25] #737 closed

[2020-02-17 16:26] #713 closed

[2020-02-17 17:23] #707 closed

[2020-02-17 19:57] humphd commented on #730
Picking up on [another discussion related to this](https://github.com/Seneca-CDOT/telescope/pull/735#discussion_r380266107), a point for us to consider is how we want to do CSS if using MUI.  You can do [any CSS approach you want with MUI](https://material-ui.com/guides/interoperability/), but using [their built-in styling](https://material-ui.com/styles/basics) has some advantages.  For one, it's