[2021-04-16 00:00] humphd commented on #2156
@huynguyez where are you seeing this?  I can't reproduce on staging.

[2021-04-16 00:05] huynguyez commented on #2156
@humphd I just checked on recent deployment: https://telescope-qeexsdyrj-humphd.vercel.app/
,seems ok on Firefox, screenshots above were on Chrome (mac).
Below is on Safari, I have seen this a long time ago, not new but it's still there and no one talk about it. Or am I wrong..?

![Screen Shot 2021-04-15 at 8 01 39 PM](https://user-images.githubusercontent.com/10421864/114953085-a12d2100-9e25-11eb

[2021-04-16 00:32] PedroFonsecaDEV commented on #2156
@huynguyez
I can't see this on [DEV](https://dev.telescope.cdot.systems/) or Production.

[2021-04-16 00:38] huynguyez commented on #2156
@PedroFonsecaDEV I you tried on 3 browsers? FF is okay but the other 2 are not (at least on my mac)

[2021-04-16 00:40] Meneguini opened #2157 "Align post content on mobile under 600px"
**What happened**:
When viewing posts on mobile under 320px, any large image will appear beside the post title.

**What should have happened**:
The post's content should be aligned to avoid appearing beside the title of the post.
**How to reproduce it (as precise as possible)**:
Set the screen's width to 320px, or choose iphone5/SE on Chrome's responsive mode.

**Anything else we need to know?**:

[2021-04-16 00:46] PedroFonsecaDEV commented on #2156
@huynguyez
It's hard to understand without all the instructions, but I see what you mean. Ok. go for it @huynguyez.

[2021-04-16 01:14] manekenpix commented on #2156
I can reproduce on both staging and production servers, using Chromium

![image](https://user-images.githubusercontent.com/23108901/114957685-8c558b00-9e2f-11eb-9d85-6b13e60ab399.png)

[2021-04-16 01:40] manekenpix opened #2160 "Remove unused env variables"
After adding `traefik` to telescope, some work was done to have `traefik` use SSL certificates. This was ultimately discarded, but the env variables used for this are still in our `env.staging` and `env.production` files, [here](https://github.com/Seneca-CDOT/telescope/blob/c6238c8c72529223a1f942765a7d17478a848a83/config/env.staging#L28) and [here](https://github.com/Seneca-CDOT/telescope/blob/c62

[2021-04-16 02:27] #1968 closed

[2021-04-16 02:29] humphd commented on #2156
Fun.  OK, let's fix!  Thanks for filing @huynguyez.

[2021-04-16 02:34] #2157 closed

[2021-04-16 15:00] tonyvugithub commented on #2117
@humphd : Correct me if I am wrong. Currently did we already extract the original url link in our feed parser? I remember having similar thought before and Pedro told me to hold off on it. I might still have the code of the sharing button.

[2021-04-16 15:33] chrispinkney commented on #2117
I say go for it, especially if you have the code already. We can always discuss it as a PR later and see how everyone feels.

[2021-04-16 16:45] humphd opened #2162 "Don't crash during /logout if session not found"
In this code, we have a code path where there can be an `error` to the `logout` callback, which is not really fatal: we should redirect the user in all cases vs. crashing and sending back a 500.  Probably it's happening when the user doesn't have a session anymore:

[code]

[2021-04-16 18:52] #2156 closed

[2021-04-16 19:28] humphd opened #2166 "Add shutdown hook to Satellite"
The Satellite services can spin up long-running services and connections to external hosts (Redis, Elastic, etc).  We need a way to signal to a microservice that it's being shut down, and to start shutting-down those connections.

[@godaddy/terminus](https://github.com/godaddy/terminus) is the package we use to handle our shutdown logic, and it has some hooks for this, but we need to expose them t

[2021-04-16 20:42] #1995 closed

[2021-04-16 22:10] yuanLeeMidori opened #2168 "Some texts are invisible in search page (dark mode)"
**What happened**:
Some texts in search page are invisible in dark mode.

"No more posts found" is invisible in dark mode
![chrome-capture (2)](https://user-images.githubusercontent.com/50813726/115088739-dd708800-9ede-11eb-9fea-a0ad5c031716.gif)

"No result found" is invisible in dark mode
![chrome-capture (3)](https://user-images.githubusercontent.com/50813726/115088747-e5302c80-9ede-11eb-8d4c-0

[2021-04-17 01:27] #1983 closed

[2021-04-17 13:41] #2162 closed

[2021-04-17 14:09] humphd opened #2169 "Rename blog prop to url in PostAvatar, deal with optional value"
We use `blog` for the link's `href` in the `PostAvatar`:

[code]

In the new signup code we're re-using this component to show the GitHub avatar in the signup form, and it's odd to name the URL we pass `blog` (it isn't a blog).

Let's rename `blog` to the more generic `url`, and update all callers to do the same.

Also, `blog` is an optional prop, but we always use it.  We should be returning an `

[2021-04-18 17:04] PedroFonsecaDEV opened #2171 "Fix styles on SignUp page."
**What would you like to be added**:
We need to fix/improve the styles of our SignUp

[2021-04-18 17:05] PedroFonsecaDEV commented on #2171
@Meneguini are you in?

[2021-04-18 17:08] Meneguini commented on #2171
@PedroFonsecaDEV, yes I'm in.

[2021-04-18 18:07] #1643 closed

[2021-04-18 18:15] Metropass commented on #1801
So, that package is quite unsafe:
https://mobeigi.com/blog/security/xss/sanitize-html-react-vulnerability/

I'll test out another package called `DOMPurify`
https://www.npmjs.com/package/dompurify

[2021-04-18 21:40] humphd commented on #2134
This has landed in Satellite.  I've triggered a [new release](https://github.com/Seneca-CDOT/satellite/actions/runs/761624069), and when it completes, this will be available in v1.13.0.

[2021-04-18 21:40] #2134 closed

[2021-04-18 22:32] #801 closed

[2021-04-19 01:42] HyperTHD commented on #1928
Posts service now has createErrors used in #2165
Gonna continue adding this on the other microservices where needed

[2021-04-19 01:50] HyperTHD commented on #1974
Gonna see what I can do with this. Think it's safe to try this with a few quotes to begin with, then we can add some more as more quotes become available

[2021-04-19 16:06] #2001 closed

[2021-04-19 16:12] HyperTHD commented on #2168
Think we might need a new image specifically for dark mode. Shouldn't be too hard to find

[2021-04-19 16:36] yuanLeeMidori commented on #2168
That is true. Let me open another issue, thanks!

[2021-04-19 16:39] #1938 closed

[2021-04-19 16:39] yuanLeeMidori opened #2178 "Change result not found picture in dark mode"
**What happened**:
As @HyperTHD suggested, the picture of result not found in dare mode is a bit hard to see. I'd like to know what other developers think? Should we change a picture for dark mode?

![image](https://user-images.githubusercontent.com/50813726/115272218-278a8100-a10c-11eb-9eec-788150fb12d9.png)

**How to reproduce it (as precise as possible)**:
Search `jhk` in search page, you shoul

[2021-04-19 16:42] Metropass opened #2179 "Implementing Cross-Origin-Read-Blocking (CORB) for sensitive Responses"
**What would you like to be added**:

Implement Cross-Origin-Read-Blocking for sensitive responses in the future

**Why would you like this to be added**:

We use the `Content-Type` header quite a bit to determine what the content type of the returned response actually is.
In the MDN, they mention that Browsers will do a `MIME Sniff` in order to determine what media format the returned response is

[2021-04-19 16:43] #2112 closed

[2021-04-19 18:33] PedroFonsecaDEV commented on #2178
@izhuravlev

[2021-04-20 01:50] HyperTHD opened #2180 "User service post route returns wrong status code on trying to add duplicate data"
[On this line here](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/users/src/routes/users.js#L111), we send a 400 status code if a new user is attempted to be created but that new user already exists in the database. This should really be a 409 status code instead since we aren't sending bad data, but that there's a conflict with the current state of the request, which makes sense.

[2021-04-20 01:56] chrispinkney opened #2181 "Return http error code 409 instead of 400 in the Users MS POST route"
**What happened**:
The users micro-service [currently returns 400](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/users/src/routes/users.js#L111) when attempting to post a user which already exists.

**What should have happened**:
[As raised by Abdul](https://github.com/Seneca-CDOT/telescope/pull/2173#discussion_r615976781) the correct response should be 409.

**Please note that this

[2021-04-20 02:02] chrispinkney commented on #2181
Aw man. #2180 beat me to it.

[2021-04-20 02:02] #2181 closed

[2021-04-20 02:05] chrispinkney opened #2182 "Change users microservice port"
**What happened**:
The users microservice currently uses port `6666` which is currently considered unsafe. See [this document](https://medium.com/@msinha2801/why-are-some-ports-considered-unsafe-restricted-c3c22d0596c0) for some more information.

**What should have happened**:
The port (sadly) must be changed. The contributor will have to find all instances of the port being used and change it, i

[2021-04-20 02:08] humphd commented on #2182
See https://github.com/Seneca-CDOT/telescope/search?q=6666

[2021-04-20 10:11] izhuravlev commented on #2178
I think the issue should be changed to not the picture, but the "No Results Found" message, which is just not visible because of the dark font colour.

If we want to make the image itself visible, we can probably add a little white container behind the image.

[2021-04-20 13:58] #2049 closed

[2021-04-20 13:58] #2168 closed

[2021-04-20 14:29] chrispinkney commented on #2111
@c3ho What's the status of this right? We're trying to land this for Friday if possible. Should someone else take this on?

[2021-04-20 14:39] humphd opened #2186 "Signup flow fails with feed-discovery"
I tested the Signup flow on our Triage call today with staging, and it fails at the feed-discovery step:

<img width="1194" alt="Screen Shot 2021-04-20 at 10 36 59 AM" src="https://user-images.githubusercontent.com/427398/115414931-7c89ce00-a1c4-11eb-953d-019e83fc3746.png">

It looks like the feed-discovery URL is wrong in the front-end somehow.  Instead of hitting the feed-discovery service, it s

[2021-04-20 14:40] chrispinkney commented on #1611
Our front end sign up implements GitHub API to fetch a GitHub profile, as such this isn't necessary anymore.

[2021-04-20 14:40] #1611 closed

[2021-04-20 14:47] chrispinkney commented on #2178
I personally think it's fine as is atm.

[2021-04-20 14:54] chrispinkney commented on #1160
As we're currently using microservices in every which way for Telescope, this is too vague to be kept open at this time.

[2021-04-20 14:54] #1160 closed

[2021-04-20 14:59] chrispinkney commented on #1929
This has been completed.

[2021-04-20 14:59] #1929 closed

[2021-04-20 15:05] chrispinkney commented on #2155
This is currently tagged for our 2.0 release (which is happening on friday), what's the status of this at the moment?

[2021-04-20 15:28] Metropass commented on #1974
I think Chris' quote perfectly describes my fumbles with Git sometimes

"Lovely. I had to reclone my fork and continue on my way. Not the end of the world but definitely annoying."

[2021-04-20 15:47] rjayroso commented on #1974
Without context, these made me smile:
- "Bow down to your excellence, THE KING, Abdul XD!" - [Abdulbasid Guled](https://dev.to/hyperthd/dps911-blog-6-1-7-releases-no-more-playing-around-594a)
- "I may not be a smart developer, but I love rules and deadlines and respect them." - [Yuan-Hsi Lee](https://dev.to/yuanleemidori/taking-the-first-challenge-with-nextjs-and-project-release-43hp)

I like this

[2021-04-20 15:47] chrispinkney commented on #1974
Taken from https://shreenasopensource.wordpress.com/
___

Taken from https://medium.com/@juliakmdev/the-virtues-of-open-source-4cd3e080399d
___

Taken from our own Abdul: https://dev.to/hyperthd/4-months-of-open-source-what-i-ve-learned-from-taking-dps909-and-what-i-plan-to-do-about-dps911-next-month-1g62

[2021-04-20 16:42] humphd opened #2187 "Evaluate RedisSearch and RedisJSON"
We currently use Elasticsearch for our search indexing.  It works great.  However, Elasticsearch is heavy to run, and since we already use Redis, I wonder if we should evaluate using the equivalent features built on-top of Redis:

- https://oss.redislabs.com/redisearch/
- https://oss.redislabs.com/redisjson/

The nice thing is that we don't expose Elasticsearch, but wrap our services around it.  I

[2021-04-20 16:48] tonyvugithub commented on #1974
From https://moho472.medium.com/dps911-here-we-go-telescope-28e0b9a51f86

From https://roycedev.medium.com/two-steps-forward-one-step-back-b0c105037a04

From https://dev.to/chrispinkney/going-down-with-the-ship-p51

[2021-04-20 16:53] humphd commented on #2187
https://www.youtube.com/watch?v=B10nHEdW3NA is an interesting discussion of how it works.

[2021-04-20 17:00] HyperTHD commented on #1974
From my blog post: https://dev.to/hyperthd/4-months-of-open-source-what-i-ve-learned-from-taking-dps909-and-what-i-plan-to-do-about-dps911-next-month-1g62

From Chris's blog post: https://dev.to/chrispinkney/going-down-with-the-ship-p51

From Ilya's blog post: https://ilya-zhurik.medium.com/bye-gatsby-episode-1-3fd63db08aa1

[2021-04-20 18:41] #2186 closed

[2021-04-20 19:36] humphd opened #2189 "Use correct font for version in header"
We have the version of Telescope in the bottom-left of the banner, and it looks like a different font from the rest of the redesigned 2.0 landing page:

<img width="665" alt="Screen Shot 2021-04-20 at 3 35 01 PM" src="https://user-images.githubusercontent.com/427398/115453870-1c0f8680-a1ee-11eb-91db-f1d734c994e4.png">

Let's make it all match.

[2021-04-20 19:47] #2054 closed

[2021-04-20 19:47] #2180 closed

[2021-04-20 21:51] humphd commented on #2187
Reading a bit deeper into this, I don't think the Redis stuff is as far a long, and ES does what we need and more.  I'll close this so we don't waste time.

[2021-04-20 21:51] #2187 closed

[2021-04-20 22:30] Meneguini commented on #2155
@chrispinkney, I just finished the PR.

[2021-04-20 22:33] #2189 closed

[2021-04-20 23:35] #2155 closed

[2021-04-20 23:48] humphd opened #2193 "Remove stray commented line in logout.js"
There's a line of code that needs to be removed at https://github.com/Seneca-CDOT/telescope/blob/master/src/api/auth/src/routes/logout.js#L51:

[code]

Someone who hasn't fixed a bug in Telescope before is welcome to take this.

[2021-04-21 01:34] humphd opened #2197 "feedparser-promised deprecated"
The feed parser module we use has been deprecated: https://www.npmjs.com/package/feedparser-promised

We need to find a new one that's being maintained.

[2021-04-21 02:19] HyperTHD commented on #2197
Gonna recommend this library: rss-parser https://www.npmjs.com/package/rss-parser

As per the README, here's an example output from the library:

![output for rss-parser](https://user-images.githubusercontent.com/16841702/115487281-63b20480-a226-11eb-8fee-8d8c2600981e.png)

[2021-04-21 07:46] c3ho commented on #2111
@chrispinkney Hi Chris, sorry work has been killing me... as you can tell by the time of this message. Could someone else take it on?

[2021-04-21 13:48] humphd commented on #2111
@c3ho no worries, thanks so much for getting the ball rolling on this.  We'll take it from here.

[2021-04-21 14:10] #2169 closed

[2021-04-21 14:49] humphd commented on #1778
I'd like to experiment with this, and use [pnpm](https://pnpm.io/).  I'm reading more and more about it lately, especially for projects doing monorepos.  We need a better solution than the one we have now, since we have so many sub-packages in Telescope.  Also, I want to be able to do internal workspace references with Satellite in the Telescope tree vs. as a separate repo.  One deal-breaker will

[2021-04-21 14:58] humphd commented on #1931
This is fixed now.

[2021-04-21 14:58] #1931 closed

[2021-04-21 15:00] humphd commented on #1416
Is this not done now?  @chrispinkney @tonyvugithub

[2021-04-21 15:01] humphd commented on #1336
I haven't seen this in a while.

[2021-04-21 15:01] #1336 closed

[2021-04-21 19:12] #2193 closed

[2021-04-21 19:35] humphd commented on #2171
Are there more of these coming, or has #2148 and #2190 taken care of it (i.e., can we close this)?

[2021-04-21 22:55] PedroFonsecaDEV commented on #2171
@humphd There is one more coming. Dealing with the `font size` of the pop-ups. Landing tomorrow.

[2021-04-22 02:54] humphd opened #2201 "Extra width causing horizontal overflow"
Something recent is adding width and making the window scroll horizontally:

![overflow](https://user-images.githubusercontent.com/427398/115648970-6b3fdf00-a2f4-11eb-8ce3-02ae394b9c15.gif)

cc @PedroFonsecaDEV @DukeManh @Meneguini

[2021-04-22 02:55] humphd commented on #1974
From @manekenpix on Slack, quoting @c3ho:

[2021-04-22 05:53] PedroFonsecaDEV commented on #2201
@humphd nothing on my end.
How to reproduce it?

[2021-04-22 05:56] huynguyez commented on #2201
@PedroFonsecaDEV  Same, probably this happens after logged in? I can't log in with my Seneca account (need permission or sth) so I'm not sure.

[2021-04-22 14:13] Meneguini commented on #2201
@humphd @huynguyez @PedroFonsecaDEV It happened on my screen too. (it has a 1280px width resolution). Using the dev tools of chrome, I could reproduce it only by opening the dev tools and reducing the screen's width until the horizontal bar appears. I couldn't reproduce using the toggle mobile device toolbar, though. I will investigate what is causing it to happen.

[2021-04-22 20:45] #2201 closed

[2021-04-22 21:38] #2171 closed

[2021-04-22 21:49] chrispinkney commented on #1932
@humphd Here is some info I curated. See this and #2204. I can also add the below info to that doc if required, or close that PR and add it all here. Whichever is easier to search and navigate.

- can we give multiple people access to this if using the free tier?  If not, probably I need to register them.
  - Yes, however I couldn't seem to find a hard limit to the number of users we can allow acc

[2021-04-23 00:52] #2050 closed

[2021-04-23 03:48] #2047 closed

[2021-04-23 13:03] #2166 closed

[2021-04-23 13:07] humphd opened #2207 "Use satelite's shutDown() handler for all services needing it"
Satellite v1.14.0 includes a new [`shutDown` option](https://github.com/Seneca-CDOT/satellite#satelliteoptions), which allows a microservice to gracefully shut-down any external connections (Redis, Elastic, etc).  We should use it in our services (Parser, Posts, etc).

[2021-04-23 13:55] tonyvugithub commented on #1416
@humphd it is done!

[2021-04-23 13:55] #1416 closed

[2021-04-23 13:57] izhuravlev commented on #780
So, Because I want to be able to provide us those stickers, we will do the following:

[Here ](https://docs.google.com/spreadsheets/d/1E0TwI6qyP98GCgzuVBzz6sA4apVupcF1REIdKoBpJAU/edit#gid=0) is the Google Sheets document  - anybody interested in receiving those stickers - please fill in at least your name and email so I can contact you.

My plan is to finalize the documents for stickers (the files

[2021-04-23 14:24] #1932 closed

[2021-04-23 14:57] #2120 closed

[2021-04-23 17:09] #2178 closed

[2021-04-23 18:00] humphd commented on #2153
[code]

[2021-04-23 18:02] #1693 closed

[2021-04-23 18:02] #1928 closed

[2021-04-23 18:06] humphd opened #2210 "Add node 16 to our CI build matrix"
We should probably add node 16 to go with 12 and 14, since it's the new LTS, see https://nodejs.org/en/about/releases/

[2021-04-23 22:20] humphd opened #2212 "Remove api:* scripts if not needed"
In `package.json` (root) we have two scripts that I think are no longer needed, but I'm not sure:

[code]

If these aren't being used anymore (e.g., in scripts outside Telescope for deployment?), let's remove.

[2021-04-24 00:32] HyperTHD commented on #2212
Agreed, we use `npm run services:start` and `npm run services:stop`, which essentially runs these 2 scripts. These two can be safely removed

[2021-04-24 15:57] humphd opened #2214 "Create single, reusable Dockerfile for all microservices"
We have a whole bunch of Dockerfiles under `src/api/**/Dockerfile` that are basically identical.  The only real difference between these is the context that gets passed in, and therefore, which files get copied into the container when it's built.

I'm wondering if we could move the Dockerfile up a level (e.g., to `src/api/Dockerfile` maybe, or even into `docker/*) and pass in a build `ARG` to indi

[2021-04-25 21:18] humphd commented on #2135
Or maybe [undic](https://github.com/nodejs/undici)i, which is [picking up traction](https://twitter.com/rauchg/status/1386427567771508737).

[2021-04-28 14:57] humphd opened #2218 "Update to next 10.2"
https://nextjs.org/blog/next-10-2.  Other than bumping the version, let's also look to see if there are any obvious wins we can get from using new features.

[2021-04-28 16:10] HyperTHD commented on #1265
#1377 didn't properly close this issue, but did solve this issue, so closing this issue

[2021-04-28 16:10] #1265 closed

[2021-04-28 17:45] huynguyez opened #2220 "Syntax highlighting problem [Dev.To] code block"
This is on original blog post: https://dev.to/yuanleemidori/my-last-telescope-post-as-a-student-hopefully-5fg2

![origin](https://user-images.githubusercontent.com/10421864/116449056-c22f4200-a827-11eb-80e1-2275db01681a.jpg)

### Chrome
![chrome](https://user-images.githubusercontent.com/10421864/116449094-cd826d80-a827-11eb-9014-af8b01cad296.jpg)

### FireFox:
![FF](https://user-images.githubuser

[2021-04-28 18:32] humphd commented on #2220
Duplicate of https://github.com/Seneca-CDOT/telescope/issues/2131.  See also discussion in https://github.com/Seneca-CDOT/telescope/pull/2172.

[2021-04-28 18:45] #2220 closed

[2021-04-29 15:54] humphd opened #2221 "Add auto-opt-out of FLOC in Satellite"
Similar to what many are doing right now (e.g., [GitHub with Pages](https://github.blog/changelog/2021-04-27-github-pages-permissions-policy-interest-cohort-header-added-to-all-pages-sites/)), we should code to Satellite to automatically include the [header necessary to opt-out of FLoC](https://github.com/WICG/floc/blob/main/README.md#opting-out-of-computation):

[code]

[2021-04-29 22:36] DukeManh opened #2222 "Use preferred theme on page load."
**What happened**:
When you choose dark mode, close the window and then open Telescope again, the page will start out in light mode before transitioning to dark.

https://user-images.githubusercontent.com/51073515/116626706-b7ed7080-a919-11eb-8b9d-41428231b919.mp4

**What should have happened**:
We should see our preferred theme right away.
**How to reproduce it (as precise as possible)**:

**Anyt

[2021-04-29 22:41] DukeManh opened #2223 "Stop navbar animation on theme switch"
**What happened**:
@humphd

![toggle](https://user-images.githubusercontent.com/51073515/116626980-406c1100-a91a-11eb-8736-92d4cd4f32e8.gif)

**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-04-30 20:02] HyperTHD opened #2224 "add-feed link in tools README points to nothing"
**What happened**:
We must have removed this file from the tools directory at some point, because the link here still points to the file, which doesn't exist in the repo anymore

![url-in-question](https://user-images.githubusercontent.com/16841702/116748263-2ccdb280-a9cd-11eb-8696-d354f10640c2.png)

[This is the link that developers will see](https://github.com/Seneca-CDOT/telescope/blob/master/t

[2021-05-01 22:24] humphd opened #2225 "Support email notifications to users"
We've tried doing email notifications in the past, and it wasn't done properly.  I'd like to try again, and see if we can get the proper setup.

I spoke to ITS about how we should approach this, so that our mail won't be rejected by Seneca as spam:

You just have to add proper entries in your DNS server (i.e SPF record) to allow your server to be published a trusted sender for that domain, so it w

[2021-05-02 14:52] humphd commented on #667
https://ieftimov.com/post/deep-dive-cors-history-how-it-works-best-practices/ is useful

[2021-05-03 16:47] humphd commented on #2207
Fixing in https://github.com/Seneca-CDOT/satellite/pull/16

[2021-05-05 16:23] #2207 closed

[2021-05-06 15:47] HyperTHD commented on #2135
I'll have a POC in today, with node-fetch. If we feel that we can try our undici, I can update my PR to use that instead @humphd

[2021-05-06 16:54] humphd commented on #2135
Let's stick with node-fetch and we can alter it later if it becomes less well supported.

[2021-05-10 05:09] manekenpix opened #2229 "Post microservice's README has "Image Service" as title"
The [README](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/posts/README.md) document in the `Posts` microservice has **Image Service** as title. This should be changed to **Posts Service**.

[2021-05-10 06:16] manekenpix opened #2230 "Telescope fails to build the front-end when deployed with docker"
Telescope fails to to build the front-end in the staging and production servers:

[code]

@tonyvugithub

[2021-05-10 06:44] manekenpix commented on #2230
@HyperTHD @PedroFonsecaDEV @yuanLeeMidori @DukeManh

[2021-05-10 07:43] RitikJainRJ commented on #2229
Hi I would like to help you on this issue.

[2021-05-10 08:09] PedroFonsecaDEV commented on #2229
Hi @RitikJainRJ
I really appreciate your initiative to ask to solve one of our issues.
Unfortunately, we received a PR that will solve this issue.
You still can pick another `good first issue` from this [list](https://github.com/Seneca-CDOT/telescope/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22), and I will help you if you need.
Thanks.

[2021-05-10 14:50] shubhammehra4 commented on #2224
may I take this?

[2021-05-10 14:52] shubhammehra4 commented on #2182
may I take this?

[2021-05-10 14:53] #2229 closed

[2021-05-10 15:00] humphd commented on #2230
What does bumping https://github.com/Seneca-CDOT/telescope/blob/master/src/web/package.json#L25 to 5.2.21 do?  I see other people getting this same error, which I suspect is in a downstream auto-prefixer dependency.

[2021-05-10 22:10] manekenpix commented on #2230
This no longer happens, the front-end gets built on the staging and production servers for every new deployment.

[2021-05-10 22:10] #2230 closed

[2021-05-11 05:27] shubhammehra4 commented on #2224
add-feed is also included in the "bin" in package.json and docs/git-workflow.md but as you mentioned above the file is not present in the tools directory so should I remove it from there too?

[2021-05-12 01:34] chrispinkney commented on #2182
Sure, go for it!

[2021-05-12 05:56] PedroFonsecaDEV commented on #2225
Following.

[2021-05-12 22:04] #2224 closed

[2021-05-13 01:37] #2197 closed

[2021-05-13 14:28] #2182 closed

[2021-05-13 14:49] menghif commented on #2097
I can take this one!

[2021-05-13 14:50] chrispinkney commented on #2097
@menghif All yours!

[2021-05-13 16:24] menghif commented on #2097
In [login.md](https://github.com/Seneca-CDOT/telescope/blob/master/docs/login.md) there is a reference to "Gatsby techniques like client-only routes". How is this done now with NextJS? How should I update this doc?

[2021-05-13 23:48] #2135 closed

[2021-05-14 18:40] humphd opened #2240 "Use Satellite's fetch() function and remove local deps for microservices"
Now that #2135 is fixed, and v1.16.0 of Satellite is released, we can use `const { fetch }  = require('@senecacdot/satellite')` to get a `fetch()` function in our microservices.  Any of the services that are currently using `fetch()` or `got()` or the like to do client HTTP requests should switch to use this.

[2021-05-17 03:25] HyperTHD commented on #2240
Will have a PR for this up soon, so gonna claim this issue

[2021-05-18 01:53] manekenpix commented on #1514
I wonder if this was an issue with @badalsarkar 's feed. @raygervais had a similar issue (I think) with his blog, but he changed his feed and it works now:
https://telescope.cdot.systems/search/?text=gervais&filter=author

[2021-05-18 15:13] humphd commented on #1514
It very well could be.  @raygervais so your issue was with your end vs. us?  I had assumed it was due to how we parsed RSS vs. some later versions of Atom with a summary included.

[2021-05-18 15:19] raygervais commented on #1514
That's correct, in my case (using Hugo as the CMS Platform), I had to update my RSS feed template: https://github.com/raygervais/raygervais.dev/commit/635d0978c1a9abe07debd99109442fc69ac765cc

By default, Hugo only displays the summary. So for my case, it was a problem with my site itself since it wasn't displaying the entire content in the feed.

[2021-05-18 19:52] humphd commented on #1514
OK, I'm going to close this and we'll refile if it happens again.  Thanks for the update on what happened.

[2021-05-18 19:52] #1514 closed

[2021-05-19 01:45] birtony opened #2243 "Experiment with npm-merge-driver"
**What would you like to be added**:
We currently do not use the `package-lock.json` due to git conflicts that often arise out of it. We could experiment with [`npm-merge-driver`](https://www.npmjs.com/package/npm-merge-driver) to see if it can help us resolve these conflicts more swiftly and possibly allow us to use [the lock files](https://docs.npmjs.com/cli/v6/configuring-npm/package-lock-json)

[2021-05-22 18:20] #2097 closed

[2021-06-21 19:43] humphd opened #2264 "See if we can use the new GitHub container registry"
I've looked at this before, but I don't think the Seneca-CDOT org could use this.  Maybe we can now? https://github.blog/2021-06-21-github-packages-container-registry-generally-available/

[2021-06-21 19:43] humphd opened #2265 "Update to next.js 11"
Let's update to next.js 11, which was just released https://nextjs.org/blog/next-11

[2021-07-12 00:55] yuanLeeMidori commented on #1608
Update:

This issue has been addressed with multiple sub-issues and PRs (see the [label of accessibility](https://github.com/Seneca-CDOT/telescope/issues?q=label%3Aaccessibility+))

There is more we can do in the future.

[2021-07-12 01:02] yuanLeeMidori commented on #1398
I tried to calculate the length of the full title and compare it with the current length of title size in order to make the fullly-displayed ones non-clickable/non-expandable, but it didn't work. Alternatively, the title font size has been shrink so that the title will mostly be fully displayed. However, it is still good to have the feature that can distinguish between the expandable ones and the

[2021-07-25 01:29] PedroFonsecaDEV opened #2278 "(Front end)Classnames from snapshots created locally does not matches with the ones created on CI/CD."
**What happened**:
Our CI/CD is failing when comparing front-end snapshots from our components. The `class names` generated by MUI don't match:

[code]

**What should have happened**:
The class names should be the same on our local machines and in our CI/CD.

[2021-08-12 06:38] #2278 closed

[2021-08-13 21:52] PedroFonsecaDEV opened #2284 "Margin-top in About page"
**What happened**:
<img width="921" alt="Screen Shot 2021-08-13 at 5 41 29 PM" src="https://user-images.githubusercontent.com/60857409/129421783-0554b14e-8440-4919-afb6-fb2df55a4d14.png">
**How to reproduce it (as precise as possible)**:
Visit: https://dev.telescope.cdot.systems/about/
**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-08-13 22:46] #2284 closed

[2021-08-14 00:34] #2265 closed

[2021-08-14 02:21] manekenpix commented on #2218
Closed via #2283

[2021-08-14 02:21] #2218 closed

[2021-08-14 02:41] manekenpix commented on #2214
Instead of reusing our `Dockerfile`, we could create an image that could be uploaded to [docker hub](https://hub.docker.com/) and then fetch it at build time like we do with `redis` and `elasticsearch`. This way, we wouldn't have to worry about how copying files or anything like that, and our `docker-compose` files already pass `ARGS` so I think this could be achieve with very minimal changes.

[2021-08-14 02:48] manekenpix commented on #2214
Taking  a second look at the code, I think maybe it's not as straight forward as I initially thought. The common parts in all the services are not "common" enough to create a single image that could be reused.

[2021-08-14 19:06] humphd commented on #2214
I tried this too, but it's really hard to accomplish.  The work on Satellite makes is somewhat easier, since we can share some common things; but anything that's rooted in directories higher up makes it a pain.

I'm tempted to close.

[2021-09-07 22:47] humphd opened #2294 "Author card not in sync with blogs"
I notice on prod right now that all posts are showing as authored by Le Minh Pham:

<img width="1232" alt="Screen Shot 2021-09-07 at 6 46 17 PM" src="https://user-images.githubusercontent.com/427398/132420038-ddae8887-def1-4f2b-9c19-4911b888d971.png">

[2021-09-07 23:04] humphd commented on #2294
This doesn't look like a front-end bug. We’re sending the wrong feed info, and/or storing the wrong feed info. They all get JSON feed data like `{id: "f5875d3da0", author: "Le Minh Pham"…` from the /posts service, so it’s likely that we’re inserting it incorrectly into Redis.

[2021-09-08 00:11] humphd commented on #2294
As a bandaid, we might consider commenting this signup code out https://github.com/Seneca-CDOT/telescope/blob/970a1a847679d9245b30b9daa232ad00c5973a89/src/web/src/components/BannerButtons.tsx#L110-L119

[2021-09-08 03:30] Meneguini commented on #2294
@humphd I will fire the bandaid solution.

[2021-09-08 13:03] humphd commented on #2294
@Meneguini thanks!

This bug is really interesting.  I think the issue is actually due to a URL difference in the feeds:

1. https://dev.to/feed/?tag=opensource&authors=lmpham1
2. https://dev.to/feed/lmpham1

I wonder what it is about `?tag=opensource&authors=lmpham1` that breaks our parser?

[2021-09-08 13:14] humphd opened #2296 "Re-enable Sign Up link when sign-up flow is fully implemented"
In #2295 we temporarily removed the Sign Up button from the UI so users don't try to use it. We need to finish the sign-up flow before we can point people at it.  Once it's done, let's re-enable this by undoing that change.

[2021-09-08 16:54] HyperTHD commented on #2294
@humphd I remember when using `dev.to` last year that the first link would not work with regards to linking my rss feed to telescope but that the second link worked. I couldn't be more specific unlike other blogging platforms such as medium. Could just be platform specific perhaps

[2021-09-08 22:04] #2160 closed

[2021-09-11 03:41] manekenpix opened #2299 "No margin between author name and date"
There's no margin between an author's name (when it's a long name) and a post's published date.

![image](https://user-images.githubusercontent.com/23108901/132935048-28eb91b0-0457-4a0d-b379-11e2c0bf550b.png)

[2021-09-14 02:29] manekenpix opened #2301 "Bad wrapping displaying 'What is Telescope?' header in README"
In some mobile resolutions, the `What is Telescope?` header in our [README](https://github.com/Seneca-CDOT/telescope/blob/master/README.md) is displayed with weird wrapping.
![image](https://user-images.githubusercontent.com/23108901/133184242-8943b687-749c-4c2d-b1db-c7245fe89a87.png)

[2021-09-14 13:31] humphd commented on #2301
Is this not a GitHub bug?

[2021-09-14 23:15] manekenpix commented on #2301
Maybe, but I thought we could try to _fix_ it changing where the header is displayed.
![image](https://user-images.githubusercontent.com/23108901/133345747-69adb033-9dbc-4ecb-a1f5-6ed1d58f5aed.png)
I think if we display the header right below Telescope's logo we'll fix this issue (and also, it'll look better).

[2021-09-14 23:23] manekenpix opened #2303 "Dependabot pull requests cause development flow to crash"
**What happened**:
`dev` crashed during deployment after merging a `dependabot` PR

**What should have happened**:
`dev` should've deployed normally.

**How to reproduce it (as precise as possible)**:
Merge a `dependabot` PR into master

**Anything else we need to know?**:
Whenever a `dependabot` PR is merged, 2 webhook events are triggered, causing our deployment flow to crash.
![image](https://u

[2021-09-16 15:19] DukeManh opened #2306 "Gist code is not displayed"
**What happened**:
Code from Gist shows a blank square.
**What should have happened**:
It should support Gist
**Anything else we need to know?**:
David suggests adding Gist domain to the allowed iframe host list.

<img width="899" alt="image" src="https://user-images.githubusercontent.com/51073515/133639224-93042f0b-8402-429b-a95e-e0ffeddaff1e.png">

**Environment**:

- OS:
- Browser:

[2021-09-16 15:57] DukeManh opened #2307 "Extra white area at the bottom of the search page"
**What happened**:
There is a white area at the bottom of the Search page because of `No more posts found` margin.
<img width="1680" alt="Screen Shot 2021-09-16 at 11 52 02 AM" src="https://user-images.githubusercontent.com/51073515/133644923-b430dc77-35f2-4ddb-bd45-c440a0ffbf84.png">
**What should have happened**:

**How to reproduce it (as precise as possible)**:
Search anything that has at leas

[2021-09-23 13:41] humphd opened #2312 "Better filtering of GitHub webooks by autodeployment server"
From https://github.com/Seneca-CDOT/telescope/pull/2308#pullrequestreview-761590261, we notice that there are more webhooks coming in from GitHub than we thought, and we need to do a better job of filtering these.  For example, when we merge a PR from dependabot, there are two `push` actions happening: one to `master` and another to the branch in question.

We don't currently do any filtering on b

[2021-09-24 16:12] humphd opened #2313 "Syntax highlighting issues with code blocks"
[This post](https://dev.to/beamazedvariable/week-3-getting-comfort-and-a-bit-exciting-about-open-source-459p) is not being rendered correctly (note the code blocks).  Original on the left, Telescope on the right:

<img width="1546" alt="Screen Shot 2021-09-24 at 12 11 06 PM" src="https://user-images.githubusercontent.com/427398/134707105-334d4974-b039-4960-9266-a0872b83e0de.png">

It looks like th

[2021-09-24 17:53] Kevan-Y opened #2314 "Search page error"
**What happened**:

After the first search (search API being call), clicking at the search icon on the far left, it will give an error message. (see screenshot below)
![image](https://user-images.githubusercontent.com/58233223/134718655-8e529458-62a1-457a-adb8-34df588dfa3b.png)

**What should have happened**:

Should not have an error message.

**How to reproduce it (as precise as possible)**:

1.

[2021-09-24 21:01] humphd opened #2315 "Infinite SAML requests/redirects can lock up server"
Twice today I've seen prod and staging stop processing feeds.  When I want to Portainer and looked at the logs for Telescope, it shows the same thing: passport SAML objects being dumped to the logs.  Probably this is an error handler somewhere in the authentication/authorization code logging during an exception.  This is probably worth investigating, as it might point to some kind of hack attempt,

[2021-09-24 21:38] manekenpix commented on #2314
After following the 3 steps explained in the description of the issue. clicking on `About` shows this:

![image](https://user-images.githubusercontent.com/23108901/134742401-22718bd7-8906-425d-b424-6e9e823da5fd.png)

[2021-09-24 23:21] mqnguyen5 commented on #2141
If possible, I would like to give it a try. Can you explain more about the work needed to be done? And, is there anything I should be aware of like testing before submitting it for review?

[2021-09-24 23:24] humphd commented on #2141
It's all yours @mqnguyen5.  You don't need to file an issue, this will do.  You can create a new branch for `issue-2141`, then use the command I gave above to revert the old work.  Create a pull request for the work and our automated tests will run it for you.  Let us know if you need help with any of it.

[2021-09-24 23:26] mqnguyen5 commented on #2141
I understand. Thanks for the info. Will try to work on it as soon as possible!

[2021-09-27 03:21] oliver-pham commented on #2212
Can I take on this issue?

[2021-09-27 11:54] humphd commented on #2212
@oliver-pham Yes, please go ahead with this.  Thanks.

[2021-09-29 01:51] manekenpix commented on #2306
I'm not sure why we've closed this issue, since Gist code blocks are still not displayed.

[2021-09-29 05:49] bharati-21 commented on #2222
Hi @DukeManh ,
Are you using transitions to switch the theme? If yes, that may cause this.

[2021-10-01 04:37] #2210 closed

[2021-10-01 19:31] Kevan-Y opened #2322 "Inline block code display issue"
**What happened**:
[This post](https://dev.to/pandanoxes/lab-3-merging-and-resolving-code-conflict-3304) is not being rendered correctly.
The post contains a single line code
 `` `Closed by <short_name_issue_code>.` `` in telescope it is render `<code>Closed by <short_name_issue_code>.</short_name_issue_code></code>`

![image](https://user-images.githubusercontent.com/58233223/135676272-27cafadf-e

[2021-10-01 19:33] humphd commented on #2131
See also #2322, #2313

[2021-10-01 19:51] humphd commented on #2322
This is a possible duplicate of #1801, #2131, and #2313.  I think the solution to this is to fix [our `sanitize-html` logic](https://github.com/Seneca-CDOT/telescope/blob/124cf42e3e42a89c7181f6eadbbab40669c28aaa/src/backend/utils/html/sanitize.js) so that it [escapes vs. removes unknown HTML tags](https://github.com/apostrophecms/sanitize-html#what-if-i-want-disallowed-tags-to-be-escaped-rather-th

[2021-10-02 04:38] #2312 closed

[2021-10-02 21:33] #2307 closed

[2021-10-02 21:48] humphd opened #2324 "Cannot find module '../lib' from 'src/web/node_modules/react-icons/fa/index.js'"
After landing @DukeManh's recent PR, we're failing on `master` with:

[code]

I don't think they are related, but I don't understand this either.

[2021-10-02 21:48] humphd commented on #2324
See https://github.com/Seneca-CDOT/telescope/runs/3778501984.  I've re-triggered the builds.

[2021-10-02 22:09] humphd commented on #2324
Looks like upstream breakage: https://github.com/react-icons/react-icons/issues/490

[2021-10-02 22:14] humphd opened #2325 "Material-UI: The `css` function is deprecated. Use the `styleFunctionSx` instead."
Seen in our tests:

[code]

We should investigate what's going on with our use of `css()` and update if necessary.

[2021-10-02 22:16] #2141 closed

[2021-10-02 23:05] #2324 closed

[2021-10-03 14:59] #2212 closed

[2021-10-03 15:04] humphd opened #2329 "Update to react-icons ^4.3.1"
We were [broken by react-icons version 4.3.0](https://github.com/Seneca-CDOT/telescope/issues/2324), which we patched temporarily by [pinning the last-known-good version, 4.2.0](https://github.com/Seneca-CDOT/telescope/commit/c38f1b1adf54bcd901822391a7d6d3b602b832cc).  A new version, [4.3.1](https://github.com/react-icons/react-icons/releases/tag/v4.3.1), was pushed last night to fix the underlyin

[2021-10-03 22:49] Semin-J commented on #2329
Hello @humphd ,
If no one is working on this yet, can I work on this one?

[2021-10-03 23:04] SandraBiros commented on #2329
Hello, Can I work on this issue ?

[2021-10-03 23:05] humphd commented on #2329
@Semin-J sure, you can take it.  @SandraBiros, I'll let @Semin-J try it first, since they asked first.

[2021-10-03 23:41] rheimon1 commented on #2325
hello, @humphd ! Can you assign it to me?

[2021-10-03 23:42] humphd commented on #2325
@rheimon1 sure, you can go ahead.

[2021-10-04 01:06] lyu4321 commented on #2299
Hi @manekenpix , I'd like to try working on this if no one else is.

[2021-10-04 01:17] humphd opened #2332 "Parser is too aggressive with marking feeds invalid"
It looks like my blog has been marked invalid:

[code]

I know this has happened to @raygervais in the past, too.  We need to tune our code for setting feeds invalid, see callers of https://github.com/Seneca-CDOT/telescope/blob/29951b7b60fa33d83e14b05f24d4a4c2722f9ef7/src/backend/index.js#L46-L55.

[2021-10-04 01:18] humphd commented on #2332
Discussing with @manekenpix and we also wonder if https://github.com/Seneca-CDOT/telescope/commit/71fd28e1e4e88001a02bfd7f447a75c284d60419 is helping with this on staging right now (prod doesn't have it yet).

[2021-10-04 01:19] humphd commented on #2299
@lyu4321 yes, go for it.

[2021-10-04 02:40] raygervais commented on #2332
I was just convinced that my blog didn't make the Telescope™️  quality standard 🤣

[2021-10-04 12:54] #2329 closed

[2021-10-04 13:17] humphd opened #2334 "bull-board has been deprecated, update to use @bull-board/* packages"
We [use bull-board](https://github.com/Seneca-CDOT/telescope/search?q=bull-board) to visualize our parser feed queue.  The [package we use is no longer supported](https://www.npmjs.com/package/bull-board), and they have [split things up into a bunch of smaller packages](https://www.npmjs.com/search?q=%40bull-board).

We should update our use of bull-board to use the new packages.

[2021-10-04 13:17] humphd commented on #2109
Closing in favour of #2334.

[2021-10-04 13:17] #2109 closed

[2021-10-05 13:34] #2332 closed

[2021-10-05 14:42] Kevan-Y commented on #2322
The sanitize-html convert  tag like `<text>` into `<text></text>` (if adding disallowedTagsMode: 'escape' | 'recursiveEscape' to the config).
I tried to add the suggestion config from the related issue comment. None of those worked.
One solution I found is to convert every thing wrapped into <code> .( < will be &lt; > will be &gt;). Then pass to the sanitizeHtml() This way it will not procedure th

[2021-10-05 14:55] humphd commented on #2322
I think we have a few bugs here, and your fix for adding `disallowedTagsMode: recursiveEscape` to the sanitizer might be a good start.  I think it would fix some of the cases we have in the linked issues (e.g., React components).  Do you want to create a PR just for that bit?

The second thing we should explore is what's happening in https://github.com/Seneca-CDOT/telescope/blob/master/src/backend

[2021-10-06 00:09] #2299 closed

[2021-10-06 03:52] JerryHue commented on #2315
@humphd, how difficult would this be for a beginner to the project like me?

I'm willing to follow any pointers or guidance you have.

[2021-10-06 14:54] humphd commented on #1994
All yours @JerryHue.  Probably the main place to look for these values is in the frontend code: https://github.com/Seneca-CDOT/telescope/tree/master/src/web

[2021-10-06 16:21] AmasiaNalbandian commented on #2301
Hello! Can I please take this on?

[2021-10-06 16:22] humphd commented on #2301
@AmasiaNalbandian it's all yours.

[2021-10-06 19:04] Grommers00 commented on #2315
I'll take a look at this if thats okay ^^.

[2021-10-07 03:09] humphd commented on #2301
I think doing h2 for everything makes sense, yes.  Good idea.

[2021-10-07 15:05] JerryHue commented on #2314
I think I can try to work on this.

@humphd, let me know if you are okay with this one.

[2021-10-07 18:22] Grommers00 opened #2340 "Need access to portainer.io to read logs"
**What would you like to be added**:

I would like to be able to see the portainer.io logs for production and staging.

**Why would you like this to be added**:

 If I can get access so I can properly deduce the cause of issue #2315 and check to see if my theories are correct as well see what happens when it breaks.

[2021-10-08 00:22] #2221 closed

[2021-10-08 04:11] Grommers00 commented on #2315
@humphd do you remember what container it happened on?

[2021-10-09 03:24] manekenpix opened #2345 "Bull-board has been deprecated, update to use @bull-board/* packages in feed-parser microservice"
**What would you like to be added**:
Apply the changes added to our legacy back-end in #2341 to the `feed-parser` microservice.

**Why would you like this to be added**:
Telescope is in transition to become a fully microservice based web app, and this change is required since we'll eventually remove telescope's legacy back-end.

[2021-10-09 03:47] manekenpix opened #2346 "The autodeployment server crashes during production deployments"
Telescope's autodeployment server processes 2 different types of payloads depending on which webhook event takes place.

The autodeployment server relies on the `ref` parameter in the [push payload](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#push) to determine if the action to process is a `push` to master or a new telescope `release`.
Unfortunat

[2021-10-09 14:30] #1868 closed

[2021-10-09 15:09] #1219 closed

[2021-10-09 15:11] humphd commented on #2240
Closed by https://github.com/Seneca-CDOT/telescope/pull/2242

[2021-10-09 15:13] humphd commented on #2153
Based on the changes I just made in #2344, we can probably do this by insisting that only an admin (super user via env, or existing admin) can **update** an existing user to an Admin in the db.  The work in #2153 is heading in this direction, we just need to finish it.

[2021-10-09 15:14] humphd commented on #570
I don't see this anymore, closing.

[2021-10-09 15:14] #570 closed

[2021-10-09 15:15] humphd commented on #1341
Confirmed this is fixed.

[2021-10-09 15:15] #1341 closed

[2021-10-09 15:53] humphd opened #2347 "Add link to status service on README.md and in front-end"
We have a status microservice, which is useful for knowing when things are failing:

- staging https://dev.api.telescope.cdot.systems/v1/status
- prod https://api.telescope.cdot.systems/v1/status

We should add a link to the prod one on our README, and also find a way to add it to the front-page in a discrete way.  Maybe something small beside the version number in the bottom-left-hand corner so y

[2021-10-10 00:27] menghif commented on #2147
I would like to work on this :)

[2021-10-10 02:06] Grommers00 commented on #2264
I'll take a look at this!

[2021-10-12 03:09] manekenpix commented on #2346
@Semin-J sure, all yours.

[2021-10-12 14:37] AmasiaNalbandian commented on #1974
Hello - I can do this :)

[2021-10-12 15:52] humphd commented on #2347
@dbelokon done!  Let us know how we can help.

[2021-10-12 16:39] Kevan-Y opened #2354 ""No more posts found" hide by bottom navbar"
**What happened**:
"No more posts found" is hidden by the bottom navbar
![image](https://user-images.githubusercontent.com/58233223/136995248-b53e3ab9-25fd-47e4-bc89-c0340d30d1dc.png)

**What should have happened**:
The bottom navbar should not hide "No more posts found"

**How to reproduce it (as precise as possible)**:
1. Reduce screen size (Make navbar at the bottom)
2. Seach for something that

[2021-10-13 00:33] humphd commented on #2347
There are various tools that can do it, e.g., https://github.com/MichaelCurrin/badge-generator

[2021-10-13 12:14] humphd opened #2357 "Show correct dev/prod status info on front-end"
In #2356 we're adding a link to the Status API service on the front-page.  Currently, it's hard-coded to the prod instance, https://api.telescope.cdot.systems/v1/status.  Let's define `STATUS_URL` in the env and set it to this or https://dev.api.telescope.cdot.systems/v1/status (i.e., staging) and pass it through to the front-end, and define it in [config.ts](https://github.com/Seneca-CDOT/telesco

[2021-10-13 12:17] humphd opened #2358 "Split Status API into dev/prod versions"
We have two Status API endpoints:

1. Prod API Status - https://api.telescope.cdot.systems/v1/status
2. Dev API Status - https://dev.api.telescope.cdot.systems/v1/status

Both show the status of every service on prod and staging.  Let's have them only show the data for the current server (e.g., dev.api shows only the staging services, prod only the prod services).

Probably the code in https://git

[2021-10-13 17:52] #2354 closed

[2021-10-14 19:11] humphd opened #2360 "Add GitHub components for Repos, Issues, PullRequests"
I'd like to add a way to quickly see all the GitHub repos, issues, and PRs discussed in a blog post.  I'm thinking to include a side-bar of details showing quick links to things discussed in a post.  Here's a really rough mock-up (ignore colours, spacing, design, etc):

<img width="962" alt="Screen Shot 2021-10-14 at 2 43 52 PM" src="https://user-images.githubusercontent.com/427398/137377421-dfecc

[2021-10-14 19:26] humphd opened #2361 "Extract GitHub URLs from posts before rendering"
In #2360 @menghif is working on some new UI to render GitHub info for a post in the sidebar, below the author's name and date.  We need to get data into that component, which means we have to transform the post's raw HTML into a list of URLs, and then extract only the GitHub URLs (removing duplicates).

We can probably use `DOMParser` and `parseFromString()` to create an HTML document that we can

[2021-10-14 21:30] Andrewnt219 commented on #2361
@humphd I'd like to help.

[2021-10-14 23:48] humphd commented on #2315
@Grommers00 OK, thanks for looking into this.  I'm in the same boat.  We'll leave this open for a bit and close if we don't see it again.

[2021-10-14 23:51] humphd commented on #2361
@Andrewnt219 that's just quick pseudo-code, you can do it however makes sense.  Essentially, I want to go from `post.html` to having the various GitHub data sorted into types, with dupes removed.

[2021-10-15 21:40] humphd opened #2362 "Update ESLint to 8.x"
Let's see if we can update our eslint infrastructure to 8.x, [which was released recently](https://eslint.org/blog/2021/10/eslint-v8.0.0-released).  I have no idea what will break when we try this.

[2021-10-16 19:48] #2347 closed

[2021-10-17 14:25] #2361 closed

[2021-10-17 19:25] #1149 closed

[2021-10-17 22:26] joshuali7536 commented on #653
Hi, I would like to take on this issue.

[2021-10-17 22:32] manekenpix commented on #1644
Now that #2360, do we still need this?

[2021-10-17 23:40] humphd commented on #1644
I'd love to go deeper with it how we use GitHub data, but I see your point.  I'll file new issues when I have specifics.

[2021-10-17 23:40] #1644 closed

[2021-10-17 23:40] humphd commented on #653
@joshuali7536 awesome, thank you!  It's all yours.

[2021-10-20 00:09] cindyledev opened #2369 "Outdated environment setup documentation"
I went through the process of setting up the Telescope environment on my Windows 10 machine running Docker and used this [environment-setup.md](docs/environment-setup.md) as a guide. A lot has changed since it was last modified such as the frontend is a microservice now so we do not need to run `npm run dev` for development.

[2021-10-20 13:14] humphd opened #2370 "Fix layering of Author and GitHub info on scroll"
In #2367 we're adding GitHub info below the Author info for a post.  When we [scroll the post away](https://github.com/Seneca-CDOT/telescope/pull/2367#issuecomment-946216012), the GitHub info is elevated (`z-index` maybe?) and sliding over the author info instead of with it.  Here's an example:

https://user-images.githubusercontent.com/427398/138099812-6d63f505-99e9-4a32-9ea5-5209c12bc285.mov

[2021-10-20 13:22] humphd opened #2371 "Improve how we show GitHub Repos for a post"
In #2367 we are adding GitHub info to a post.  For the repos, we decided to try only showing the repo name vs. the username/org-name + repo, due to length: `telescope` instead of `Seneca-CDOT/telescope`.  However, [this leads to a bit of a bug](https://github.com/Seneca-CDOT/telescope/pull/2367#issuecomment-946861890) where the same repo name with different user/org shows up twice.

We should see

[2021-10-20 13:24] humphd opened #2372 "Add GitHub commits to post sidebar info"
In https://github.com/Seneca-CDOT/telescope/pull/2367#discussion_r732359480 we discussed adding commits to go along with repos, issues, and pull requests.  Let's add them.  We should show only the first 6 or 8 characters.

[2021-10-20 13:27] humphd opened #2373 "Mobile UX/UI for GitHub post info"
In #2367 we are adding GitHub info to the sidebar for a post.  Currently, it only works in desktop, and there's nothing visible in mobile.  I'd like to see if we can add a design and UI for the mobile case.

One option might be to show a collapsed GitHub area that expands when you touch it.  If there's no GitHub details, we wouldn't show it.  But if a post does have any, we'd include a GitHub icon

[2021-10-20 13:32] humphd opened #2374 "Include more details about Issue and Pull Requests in title attribute"
In #2367 we're adding GitHub info do a post.  We show Issues and Pull Requests discussed in a post as numbers only.  This is good for the space we have available, but when we hover over them, it would be good to add more detail.

For example, if a post talks about 2 or more repos, and then shows Issues and Pull Requests, which repo do they go with?  Instead of using `Issue #...` in the `title` att

[2021-10-20 15:10] humphd commented on #2372
@Andrewnt219 go for it.  I'm hoping we get #2367 merged soon, but if you want to start, build on top of that branch and rebase when it hits `master`.

[2021-10-21 04:10] HyperTHD commented on #2374
I assume this is waiting for #2367 to go through, I'll take this on once that PR gets merged in if that's okay

[2021-10-21 16:33] humphd opened #2377 "Improve dark mode code colours"
Our dark mode isn't great for `<code>...</code>` (i.e., inline) and `<pre><code>...</code></pre>` (i.e., block):

<img width="811" alt="Screen Shot 2021-10-21 at 12 30 18 PM" src="https://user-images.githubusercontent.com/427398/138319486-1e40e7da-da0a-441b-81f0-9fa933fcc37c.png">

We should probably take a look at how GitHub and other sites render code in dark mode, and see what we can borrow.

[2021-10-21 17:04] humphd commented on #2374
Yeah, we need #2367 to go in first, which I *hope* @menghif is going to do soon...

[2021-10-21 20:16] humphd opened #2378 "Memoize extractedGitHubUrls"
In #2367 we're adding GitHub info for posts, and we have included a new function, `extractedGitHubUrls`.  We'd like to [memoize this result](https://reactjs.org/docs/hooks-reference.html#usememo), but our early work at doing so hasn't been successful. Here's what we think it should look like, but it needs to get fixed so it works:

[code]

cc @menghif @DukeManh

[2021-10-21 20:18] Andrewnt219 opened #2379 "Remove duplicate code between Issues, Commits, Repos, PullRequest"
**What would you like to be added**:

As [suggested in #2360](https://github.com/Seneca-CDOT/telescope/pull/2367#discussion_r731383464). These components are quite the same, but there are still many differences in content. Therefore, we can either go with a component exposing many props or just abstract the styling and markup:
[code]

**Why would you like this to be added**:
Improve maintainabilit

[2021-10-21 20:24] humphd opened #2380 "Reorganize GitHubInfo components into a directory"
In #2367 we're adding GitHub info to the side bar of a post.  We've currently got a bunch of components being added to the `Post/` directory, but everything is flat, at the top level.  Let's reorganize this a bit:

[code]

There is also #2376 going in, which will add another file for `Commits`, so we might want to wait until these all go in.

[2021-10-21 20:26] humphd commented on #2379
See also #2380 which should help with this.

[2021-10-21 20:26] menghif commented on #2378
It currently works with `useMemo` as of right now. However it does not work if we change this:
[code]
into this:
[code]
We have used this syntax: `condition && <Component/>` in `GitHubInfo.tsx` so we would like to change it here too for consistency.

[2021-10-21 20:51] menghif commented on #2378
We can delete this, I fixed it in #2367. It was a typo `??` instead of `&&`. Sorry about that.

[2021-10-21 22:21] cindyledev opened #2381 "Outdated AWS Cloud9 documentation"
[aws-cloud9](https://github.com/Seneca-CDOT/telescope/blob/master/docs/aws-cloud9.md) is outdated and one can simply not get Telescope running with this doc! Changes must be made!

[2021-10-21 22:30] cindyledev opened #2382 "[Feature] Connect to a virtual machine (AWS EC2) with Visual Studio Code"
I want to write a document that will help developers create and connect to a virtual machine (specifically AWS EC2) using the Visual Studio Code Remote - SSH extension. I just found out about it recently and it sounds super cool. This will let developers use the virtual machine resources in the cloud instead of their own local resources while working on Telescope.

Reference:
[Remote development o

[2021-10-22 00:20] humphd opened #2383 "Create HTTP redirects in nginx to autodeployment servers"
We run autodeployment servers on port `4000` on both staging (https://dev.telescope.cdot.systems:4000) and production (https://telescope.cdot.systems:4000).  From these, you can get access to a few things:

- build logs at `/log`: https://dev.telescope.cdot.systems:4000/log and https://telescope.cdot.systems:4000/log
- current status info at `/status`: https://dev.telescope.cdot.systems:4000/statu

[2021-10-22 00:28] humphd opened #2384 "Autodeployment server not remembering previous build info"
In https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/builds.js#L79-L80 and https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/builds.js#L68-L71 we have a bug where we don't set the ` builds.previous` to be the current build when changing to a new build, thus losing track of that info.

If you go to our autodeployment server's `/status` endpoint, you'l

[2021-10-22 02:48] dhillonks commented on #2384
@humphd Can I work on this?

[2021-10-22 22:23] cindyledev opened #2387 "Outdated dependencies for package.json in root directory"
After reading #2386, I checked to see if we had other outdated dependencies and we clearly have many that need to be addressed.

// package.json
[code]

We have other package.json files but I figured it would be too much to do for one issue so let's break it down into multiple issues.

[2021-10-23 21:46] cindyledev opened #2389 "Outdated dependencies for package.json in Next.js directory"
Related to #2387

There are a number of outdated dependencies that need to be addressed.

// src/web/src/package.json

[code]

[2021-10-24 15:03] #2370 closed, assigned to dbelokon

[2021-10-25 16:15] DukeManh opened #2393 "Explore using Gitpod to easily spin up development environment"
I was contributing to RedwoodJS, and noticed they had an option for new contributors to open a web-based VSCode running on the cloud.

When you go to gitpod.io/#branch_url, Gitpod will look through gitpod.yml and automatically install dependencies, spin up docker images and run the development server for you.

I think we should do the same for Telescope because our environment setup can be tedious

[2021-10-25 18:14] humphd opened #2395 "Expand status service to include a static UI Dashboard"
We have a [very basic status service](https://api.telescope.cdot.systems/v1/status), which lives in [src/api/status](https://github.com/Seneca-CDOT/telescope/tree/master/src/api/status).  I'd like to see this get expanded to be a proper dashboard, giving us insights into what's happening with Telescope.

The work for this should get spread over a number of issues/pull requests, but I wanted to fil

[2021-10-26 21:27] Andrewnt219 opened #2399 "Deploy material-dashboard demo to status page"
Related issue: #2395

- [ ] Copy [demo page ](https://demos.creative-tim.com/material-dashboard/pages/dashboard.html)
- [ ] Config build step

[2021-10-26 23:19] humphd opened #2401 "Update to nextjs 12"
https://nextjs.org/blog/next-12 is out, let's update:

- Rust Compiler: ~3x faster Fast Refresh and ~5x faster builds
- Middleware (beta): Enabling full flexibility in Next.js with code over configuration
-  React 18 Support: Native Next.js APIs are now supported, as well as Suspense
-  `<Image />` AVIF Support: Opt-in for 20% smaller images
-  Bot-aware ISR Fallback: Optimized SEO for web crawler

[2021-10-27 00:18] humphd opened #2402 "Remove old /posts route in backend"
We're working on migrating our monolithic backend to smaller microservices.  One such service is the `posts` service, which is also duplicated in the backend, see https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/index.js#L13.

We don't use this anymore, so we can remove this, as well as potentially other files that are only used by this.  See https://github.com/Seneca-CD

[2021-10-27 13:08] #2384 closed, assigned to dhillonks

[2021-10-27 14:47] cindyorangis opened #2404 "Outdated dependencies for package.json in Auth Service"
Related to #2387 and #2389

// src/api/auth/package.json

[code]

Note: We don't want node-fetch 3.0.0

[2021-10-27 15:59] #2402 closed, assigned to lmpham1

[2021-10-27 22:05] #2404 closed, assigned to cindyorangis

[2021-10-28 03:16] manekenpix opened #2407 "Eslint v8.1 breaks docker deployment"
After merging #2386, our `staging` server broke. The issue is that `@typescript-eslint/eslint-plugin` and `@typescript-eslint/parser` don't support `eslint v8.1` yet ([here's the issue in their repo](https://github.com/airbnb/javascript/issues/2478)).

Since we don't use `devDependencies` in production, this bug should never happen, **BUT** a closer look to what `npm` does when installing dependen

[2021-10-28 15:11] #2360 closed, assigned to menghif

[2021-10-29 04:54] HyperTHD opened #2409 "Empty docs link in docker docs"
A link inside [the docker documentation](https://github.com/Seneca-CDOT/telescope/blob/master/docs/docker.md) contains a link to a md file that no longer exists. This should be updated to link to our environment setup docs as that's where the steps to run the microservices live in.

This is the link in question:

![empty url](https://user-images.githubusercontent.com/16841702/139377777-224c1a48-33

[2021-10-29 14:57] humphd opened #2412 "Add /feeds/invalid route to Posts service"
In #2395 we are adding an expanded status service dashboard.  One thing I want to include in it is the ability to see a list of all feeds that have been flagged as `invalid` in our system.  @joshuali7536 did some work toward making this possible in #2388, and @manekenpix has done some more in #2396 to include the `/feeds` endpoint in the Posts service.

I'd like to see a new route get added to Pos

[2021-10-29 15:06] humphd opened #2413 "Add /feeds/delayed route to Posts service"
In #2395 we are adding an expanded status service dashboard.  One thing I want to include in it is the ability to see a list of all feeds that have been flagged as `delayed` in our system, which happens when we get an HTTP 429 back from the server. @manekenpix has done some more in #2396 to include the `/feeds` endpoint in the Posts service.

I'd like to see a new route get added to Posts:

[code]

[2021-10-29 15:14] humphd opened #2414 "Expose basic feed queue stats from Status service"
In #2395 we are adding an expanded status service dashboard. One thing I want to include in it is the ability to see the current status of the feed queue.  That includes things like:

- how many jobs are in the queue?
- how many are active?
- how many have failed?
- how many are delayed?
- how many are waiting?

We use [Bull + Redis](https://github.com/OptimalBits/bull) to manage our [feed queue](

[2021-10-29 15:15] #2409 closed, assigned to nobody

[2021-10-29 15:28] humphd opened #2415 "Add live build logs in status dashboard"
In #2395 we are adding an expanded status service dashboard. One thing I want to include in it is the ability to see live build logs from the [autodeployment server](https://github.com/Seneca-CDOT/telescope/tree/master/tools/autodeployment), which are exposed at `/log`, for example:

- staging is https://dev.telescope.cdot.systems:4000/log
- production is https://telescope.cdot.systems:4000/log

I

[2021-10-29 15:35] humphd opened #2416 "Add live build status details in status dashboard"
In #2395 we are adding an expanded status service dashboard. One thing I want to include in it is the ability to see build status info from the autodeployment server, which is exposed at `/status`, for example:

- staging is https://dev.telescope.cdot.systems:4000/status
- production is https://telescope.cdot.systems:4000/status

@dhillonks started improving the code related to this in #2392.  Now

[2021-10-29 15:39] humphd opened #2417 "Add GitHub stats to our status dashboard"
In #2395 we are adding an expanded status service dashboard. One thing I want to include in it is the ability to see various statistics about our `Seneca-CDOT/telescope` and `Seneca-CDOT/satellite` repos.  The GitHub API can be used to query various stats, see https://docs.github.com/en/rest/reference/repos#statistics.

Let's query GitHub for this and present some useful details visually in the da

[2021-10-29 15:46] humphd opened #2418 "Rewrite the Microservices API status check in the new status dashboard"
In #2395 we are adding an expanded status service dashboard. One thing I want to see done is to port the existing Microservices API status check code over to the new dashboard.  The current status check UI is at:

- staging https://dev.api.telescope.cdot.systems/v1/status
- production https://api.telescope.cdot.systems/v1/status

It is a simple UI that queries all the health routes for each servic

[2021-10-29 15:49] humphd opened #2419 "Show Posts count on status dashboard"
In #2395 we are adding an expanded status service dashboard. One thing I want to include in it is the ability to see the current number of Posts and Feeds in the database.  We expose this data as a header when you query for `/posts` or `/feeds` from the Posts service:

https://github.com/Seneca-CDOT/telescope/blob/master/src/api/posts/src/routes/posts.js#L55

Let's add a widget to the dashboard th

[2021-10-30 01:33] #2374 closed

[2021-10-30 01:51] #2322 closed

[2021-10-30 01:58] HyperTHD commented on #2357
Taking this one as I have done this previously with the posts, and search service in the aformentioned PR. Not sure how the vercel update would work but doesn't sound too difficult

[2021-10-30 17:11] humphd opened #2421 "Add GitHub avatars for users mentioned in posts"
@menghif, @Andrewnt219, and @HyperTHD have been iterating on extracting and displaying GitHub info in the sidebar of a post.  Today I thought of another one that would be nice: showing the people that are referred to.  Consider this post:

<img width="1014" alt="Screen Shot 2021-10-30 at 10 54 19 AM" src="https://user-images.githubusercontent.com/427398/139542408-78d4d1be-b9ab-4c22-8d19-4602eb5cda

[2021-10-30 18:34] Andrewnt219 commented on #2421
Are users shown only when it's `github.com/user`? Or `github.com/user/repo/isssue/1` is counted as well (like what we did with repos)?

[2021-10-30 18:37] humphd commented on #2421
It's a good question.  It could be good to always show them all, or might get overwhelming.  Probably worth doing a test with both.  Easy to start with everything, and then limit it later?

This might be a good issue for us to give someone new, who hasn't hacked on this code, and you three can mentor and review.

[2021-10-30 21:08] AmasiaNalbandian commented on #1974
@humphd Is there a preference on where to put in the JSON file? I was thinking under signup I create a directory for "data" and then list it under as studentQuotes.js.

the implementation is under Banner.tsx

[2021-10-30 21:10] humphd commented on #1974
I would probably put it at `src/web/src/student-quotes.json`.

[2021-10-31 04:16] manekenpix commented on #2407
Closed via #2408

[2021-10-31 04:16] #2407 closed

[2021-10-31 06:12] #1974 closed

[2021-10-31 08:21] japneetsingh035 commented on #2377
<img width="499" alt="Screen Shot 2021-10-31 at 4 19 49 AM" src="https://user-images.githubusercontent.com/47236363/139574300-576adb4a-1af6-40da-b25e-f286026e371a.png">

How about this combination. It is actually similar to GitHub & dev. Please let me know!

[2021-10-31 12:54] humphd opened #2423 "Student Quote changes on scroll"
In #2422 we added a way for the student quote to be randomly changed on the front page.  However, it's not stable per load, and changes when I scroll the page (i.e., new random number is generated on re-render).

Steps to Reproduce:

1. Go to https://dev.telescope.cdot.systems/
2. Scroll down a few inches, then back up, then down
3. Notice the quote changes over and over again

We need to deal wit

[2021-10-31 13:17] DukeManh commented on #2423
Looks like we'd have to return memoized value of the function.

[2021-10-31 13:30] humphd commented on #2423
Or put it in state.

[2021-10-31 13:33] humphd commented on #2377
The red on black isn't great for contrast.

I would look at the existing stylesheets that exist for dark-mode with highlight.js:

- https://www.npmjs.com/package/highlightjs-material-dark-theme
- https://draculatheme.com/highlightjs
- etc

[2021-10-31 13:39] humphd commented on #2358
This problem is sort of going away with the work happening in #2418, so I'll close and we can fix when we do #2418.

[2021-10-31 13:39] #2358 closed

[2021-10-31 13:40] humphd commented on #1058
I don't think we need this.  I'll re-open if it becomes necessary.

[2021-10-31 13:40] #1058 closed

[2021-10-31 13:40] humphd commented on #780
I think that this isn't needed anymore so I'll close.  If that's wrong, feel free to re-open.

[2021-10-31 13:41] #780 closed

[2021-10-31 13:45] humphd commented on #1347
I'm not sure we need Kibana.  I'll close for now and we can re-open if we end up wanting it.

[2021-10-31 13:45] #1347 closed

[2021-10-31 13:46] humphd commented on #1422
`npm run release` no longer exists, closing.

[2021-10-31 13:46] #1422 closed

[2021-10-31 13:47] humphd commented on #2315
I'm going to close for now.  Let's open a new bug if this happens again.

[2021-10-31 13:47] #2315 closed

[2021-10-31 13:53] humphd opened #2424 "Update Traefik to newer version"
We're currently [using version `v2.4.5`](https://github.com/Seneca-CDOT/telescope/blob/master/docker/docker-compose.yml#L256) of [Traefik](https://traefik.io/), and there's a [newer version available for `v2.5.x`](https://hub.docker.com/_/traefik).  Let's check the changelog and see if any will break us, and try updating.

[2021-10-31 13:58] humphd commented on #1897
This is now at 7.14.2.  We need to update https://github.com/Seneca-CDOT/telescope/blob/master/docker/docker-compose.yml#L273.

[2021-10-31 16:45] Grommers00 commented on #2315
Sounds good.

[2021-10-31 17:02] AmasiaNalbandian commented on #2423
No worries - We can put it in state. Where are the states handled in the codebase? @humphd

[2021-10-31 17:14] #2399 closed

[2021-10-31 17:18] humphd commented on #2423
Probably something like:

[code]

We won't need a `setQuote` function, so ignore.  @DukeManh may have another suggestion.

[2021-10-31 17:30] tuanthanh2067 commented on #2423
@humphd hi, I have a suggestion for this issue.

[code]

[2021-10-31 18:40] humphd commented on #2423
We can memoize, but typically the recommendation for `useMemo` is that it be used for expensive operations, whereas this is really just state that's not being updated.

To be honest, either is fine.

[2021-10-31 18:41] tuanthanh2067 commented on #2423
Oh I see

[2021-10-31 21:00] Qiwen-Yu commented on #2424
@humphd Hi, can I take this issue?

[2021-10-31 21:26] humphd commented on #2424
All yours, @Qiwen-Yu.

[2021-10-31 21:39] #1257 closed

[2021-10-31 22:53] AmasiaNalbandian commented on #2421
I can take this on please.

[2021-10-31 22:53] AmasiaNalbandian commented on #2423
Kindly assign this to me, I will fix the bug using state.

[2021-10-31 23:29] humphd commented on #2421
Go ahead, @AmasiaNalbandian.  @Andrewnt219, @menghif, and @HyperTHD can answer questions or provide reviews.

[2021-10-31 23:29] humphd commented on #2423
Done.  Thank you for continuing to improve this.

[2021-11-01 01:27] AmasiaNalbandian commented on #2421
Am i complicating this, or is there a way to grab the github username of the individual from a post? Right now I see there's three interfaces under index.js (feed, post, signupform). If there's a way to grab the feed author and then look up that user and grab their github username/url to construct the link to their image on github?

[2021-11-01 01:29] humphd commented on #2421
You don't need to do any backend work for this.  Look at the various GitHub components in https://github.com/Seneca-CDOT/telescope/tree/master/src/web/src/components/Posts.  You're making something just like these, but for users vs. commits/pull requests/issues.

[2021-11-01 01:35] AmasiaNalbandian commented on #2421
Right but commits/pr/issues were parsed from the blog posts from DOM. I'm not sure there's any reference in the post to parse the github user.

[2021-11-01 01:37] humphd commented on #2421
All the URLs that are extracted out will be of the form:

[code]

So you `https://github.com/user` for each, and you're done.  Throw them in a `Set` to deal with duplicates, and then turn that into an array, `map()` it to produce the `.png` version, and put into components.

[2021-11-01 01:50] AmasiaNalbandian commented on #2421
I've misunderstood what I am changing. I think I get it now. So we want a new section with all people involved through GitHub links in the post. Should we add it's own section and call it something like "contributors" or "mentioned"

[2021-11-01 01:51] humphd commented on #2421
I think `Users` and use the GitHub icon https://react-icons.github.io/react-icons/search?q=github

[2021-11-01 01:51] AmasiaNalbandian commented on #2421
OK sounds good. Sorry about that. I thought we're pulling in the post author's github image.

[2021-11-01 01:53] humphd commented on #2421
@AmasiaNalbandian we have code for that, but it's blocked on other things in the db.

[2021-11-01 02:00] DukeManh opened #2427 "Pass Gitpod urls to the frontend"
With the change from #2406, when a Gitpod workspace starts, images are built correctly but our frontend is making requests to `localhost`. We need to find a way to pass gitpod URLs to Next in build time.

I've tried to pass URL through build arguments but we prefer a monkey-patching approach where we don't have to touch the current configuration.

A way to do this would be generate an `env.gitpod`

[2021-11-01 02:06] #2393 closed

[2021-11-01 02:09] humphd commented on #2427
@DukeManh assigned to you.

[2021-11-01 02:12] DukeManh commented on #2427
Responsibility!

[2021-11-01 02:14] DukeManh commented on #2427
I'll continue hacking once I catch up with all the due dates coming.

[2021-11-01 02:21] humphd commented on #2427
cc'ing @raygervais and @cindyledev, who might have time and wisdom here.

[2021-11-01 02:28] humphd commented on #2427
Looks like the GitPod integration is working:

<img width="920" alt="Screen Shot 2021-10-31 at 10 27 21 PM" src="https://user-images.githubusercontent.com/427398/139613238-3b4396cb-6d8e-47d5-b348-24dc8b2e37fb.png">

New PRs get this button attached, see https://github.com/Seneca-CDOT/telescope/pull/2428 for example.

Question: any issues having this here without it working fully?

[2021-11-01 02:31] humphd opened #2429 "Add documentation on how to use GitPod to develop/run the code"
We recently added support for [GitPod](https://www.gitpod.io/) in #2406.  It's not fully ready yet (see #2427), but it's close, and the integration is complete in the repo, see https://github.com/Seneca-CDOT/telescope/issues/2427#issuecomment-955874717.

We need to properly document this, so our devs know what this is, what the implications are of using it, and how to make it all work.  I especial

[2021-11-01 02:31] humphd commented on #2427
Filed #2429 to properly document this.

[2021-11-01 02:32] humphd commented on #2429
- https://www.gitpod.io/docs
- https://www.gitpod.io/docs/getting-started

[2021-11-01 02:35] humphd commented on #2429
Might be nice to add a README badge too, see https://community.gitpod.io/t/is-there-any-open-on-gitpod-badge-that-i-can-just-copy-and-paste/989/6

[2021-11-01 02:53] DukeManh commented on #2427
We could test the frontend on it using `env.staging` and run `npm run dev`.
The doc could mention this too, like you don't have to wait for docker build if only testing the frontend.

[2021-11-01 04:16] Andrewnt219 commented on #2415
@humphd I want to help with this feature.

[2021-11-01 13:22] humphd commented on #2415
Excellent!  Here are my notes on what I did, but feel free to improve:

1. We'll need to poll the [`/log` endpoint](https://github.com/humphd/telescope/blob/autodeploy-ui/tools/autodeployment/src/web/api.js#L23) every so often to see if we're building.  We could also use the `/status` endpoint to get better data (which commit we're building, who wrote it, etc).  I played around with a build header

[2021-11-01 15:22] humphd opened #2433 "Customize the dashboard so it looks like it belongs to Telescope"
Our new Dashboard is landed and running, see https://dev.api.telescope.cdot.systems/v1/status:

<img width="1389" alt="Screen Shot 2021-11-01 at 11 17 34 AM" src="https://user-images.githubusercontent.com/427398/139695602-7001617c-91a9-4fc5-b801-7ad7055e9bdb.png">

Let's fix some things so it looks and feels more like Telescope.  Here are some initial things to be fixed:

- use the Telescope logo

[2021-11-01 17:42] suhhee1011 commented on #2433
Hi @humphd, Can I work on this issue?

[2021-11-01 17:58] humphd commented on #2433
Yes @suhhee1011, go for it.

[2021-11-01 18:40] menghif commented on #2417
I would like to try this! Any suggestions on what GitHub stats we are looking for?

[2021-11-01 18:46] humphd commented on #2417
Maybe total contributor count, weekly vs all time/yearly counts of commits, etc.  See what kinds of data you can get from the GitHub API and experiment.  It's always nice to see various numbers growing, and for us to have a way to look at the size and health of the community.

[2021-11-02 13:29] cindyledev opened #2437 "Outdated dependencies for package.json in Feed Discovery Service"
Related #2387 #2389 #2404

// src/api/feed-discovery/package.json
[code]

[2021-11-02 13:38] cindyledev opened #2438 "Outdated dependencies for package.json in Image Service"
Related #2387 #2389 #2404 #2437

// src/api/image/package.json
[code]

[2021-11-02 16:19] #2357 closed

[2021-11-02 17:38] humphd commented on #2264
I would love to see this happen.  In the Gitpod work we're feeling the startup cost of building so many containers.

https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry

It's possible that this will require us to move the repo to a new ORG that supports the container registry.  I'll do that if we have to, but I won't start by doing it.

[2021-11-03 02:07] humphd commented on #2111
When this gets fixed, make sure to undo what I did in https://github.com/Seneca-CDOT/telescope/pull/2441, where I disabled the parser service.

[2021-11-03 02:54] humphd opened #2442 "Add tooltip title to TelescopeAvatar, use with GitHub User component"
In #2430 we're adding a GitHub user avatar.  We want to be able to pass down the username and have it be used as a `title` attribute, so you can hover and see the name.

In https://github.com/Seneca-CDOT/telescope/blob/master/src/web/src/components/TelescopeAvatar.tsx#L49 it looks like it's setting `alt` but not `title`.  Let's fix that, then use it for all the places we use the TelescopeAvatar co

[2021-11-03 02:58] humphd opened #2443 "Fix React warning on page load"
We have a React warning that should get cleaned up:

[code]

[2021-11-03 03:01] humphd opened #2444 "[Satellite] Add CORS to health checks"
When I try to run on GitPod, I get this CORS error:

[code]

The problem comes from our microservice base, [Satellite](https://github.com/Seneca-CDOT/satellite).  Here we define healthchecks as part of using [Terminus](https://www.npmjs.com/package/@godaddy/terminus):

https://github.com/Seneca-CDOT/satellite/blob/d42a831a8ca6666dd5759eeccdbe932fe34239ca/src/satellite.js#L20

It would be great if

[2021-11-03 13:44] #2427 closed

[2021-11-03 13:45] humphd commented on #2429
Here are some things I ran into when I tried using it, which we might be able to document:

https://github.com/Seneca-CDOT/telescope/pull/2439#issuecomment-958616206

I also had questions that we should answer:

- how to turn off/stop/delete the workspace?

[2021-11-03 15:46] humphd commented on #2442
Let's make the TelescopeAvatar get wrapped in a link so it's clickable, then it will fix a few issues we have.

[2021-11-03 15:52] DukeManh opened #2445 "Consider removing scroll snap on the front page"
I wanted to file this issue for a while now. In #2080, I introduced scroll-snap-like behavior on the landing page as suggested by #2042.
However, due to Telescope's layout, we couldn't use CSS scroll snap to do that but rather had a hacky solution by using an `IntersectionObserver` and promised to improve it.
I had been having trouble triggering scroll-snap behavior consistently. Plus it causes un

[2021-11-03 15:53] #2421 closed

[2021-11-03 16:14] menghif opened #2446 "Open all sidebar links in new page."
**What would you like to be added**:

All the new Github links that we added open in a new page but clicking on the blogger's name or the date opens links in the current page.
<img width="259" alt="Screen Shot 2021-11-03 at 12 06 39 PM" src="https://user-images.githubusercontent.com/53121061/140098505-5b23a8fd-ffd4-4ef2-91a3-deb92b428b4b.png">

**Why would you like this to be added**:

This will a

[2021-11-03 19:56] irenejoeunpark commented on #2373
Hi @humphd, If no one has started working on this, can I start contributing to the UI implementation for mobiles?

[2021-11-03 20:00] humphd commented on #2373
@irenejoeunpark that would be great, please do.  I would encourage you to chat with people in the #telescope channel on Slack, as many of the devs/users will have opinions about this, so getting community input early will be key.  Also, we can do this in stages (e.g., you don't have to solve the whole thing in one PR).

Looking forward to seeing this happen!

[2021-11-03 23:33] #2442 closed

[2021-11-03 23:40] manekenpix commented on #2445
@DukeManh I like this idea, but we should get more opinions. I'm going to convert this into a discussion here (good opportunity to see how that feature works).

[2021-11-03 23:41] #2445 closed

[2021-11-04 00:59] DukeManh commented on #1778
@humphd, it looks like we have to use Rush on top of pnpm because Rush doesn't work well with with newer versions of npm https://rushjs.io/pages/maintainer/package_managers/.
So if anyone takes on this, can they use our initial pnpm PR as a starting point?

[2021-11-04 04:14] manekenpix commented on #2424
@Qiwen-Yu any progress with this issue?

[2021-11-04 14:00] humphd opened #2449 "Add border to avatar"
I notice that GitHub uses a slight border around the avatars, and we don't:

<img width="163" alt="Screen Shot 2021-11-04 at 9 58 50 AM" src="https://user-images.githubusercontent.com/427398/140327174-80cfde7f-6502-43f3-82df-82eddafd56e8.png">

Let's steal this.  They look wrong without it.

[2021-11-04 15:24] humphd commented on #1778
pnpm is amazing.  The only down side of using it is that [dependabot doesn't support it (yet)](https://github.com/dependabot/dependabot-core/issues/1736).  To me, this isn't a deal breaker.

Also, Node 16.9 includes support for `corepack` to let a project define its package manager: https://nodejs.org/dist/latest-v16.x/docs/api/corepack.html#configuring-a-package, and it will download it automatic

[2021-11-04 16:55] Qiwen-Yu commented on #2424
Hi, I am still working on this.

[2021-11-04 17:01] tuanthanh2067 commented on #2449
Can I steal this issue?

[2021-11-04 17:21] tuanthanh2067 commented on #2446
As I know, currently we only blogger's name and the date. What you'd like to add is repos, issues, pull request and commit below the date. Am I correct?

[2021-11-04 17:29] menghif commented on #2446
That's already implemented: https://dev.telescope.cdot.systems
This issue is just about opening all the sidebar links in a new page

[2021-11-04 17:38] humphd commented on #2449
Go for it, Dustin.

[2021-11-04 17:45] humphd commented on #2446
We need a `target="_blank"` added for these links

[2021-11-04 21:01] cindyorangis opened #2451 "Generalize tools/aws-ip.sh script for remote development"
Follow up to #2398

As mentioned in https://github.com/Seneca-CDOT/telescope/pull/2398#discussion_r742951047, we should generalize [aws-ip.sh](https://github.com/Seneca-CDOT/telescope/blob/master/tools/aws-ip.sh) so we can use it for both AWS and Gitpod. This means we also need to rename the file to something more appropriate.

[2021-11-05 00:25] manekenpix opened #2452 "Consider removing scroll snap on the front page"
### Discussed in https://github.com/Seneca-CDOT/telescope/discussions/2448

<div type='discussions-op-text'>

<sup>Originally posted by **DukeManh** November  3, 2021</sup>
I wanted to file this issue for a while now. In #2080, I introduced scroll-snap-like behavior on the landing page as suggested by #2042.
However, due to Telescope's layout, we couldn't use CSS scroll snap to do that but rather

[2021-11-07 02:13] hphan9 commented on #2412
Hi prof,
Could I try to work on this issue?
I want to learn more about Redis

[2021-11-07 02:53] manekenpix commented on #2412
@hphan9 all yours!

[2021-11-07 07:08] mkim219 commented on #2443
This issue looks interesting for me. Can I work on this issue?

[2021-11-07 13:28] humphd commented on #2443
Go for it @mkim219

[2021-11-08 01:35] AmasiaNalbandian commented on #2383
I'd like to grab this but might need more info tomorrow after I investigate further.

[2021-11-08 01:43] humphd commented on #2383
Sure, ask on Slack in #telescope and we can help you.

[2021-11-08 15:19] HyperTHD commented on #2423
Another thought, we can use the `useRef()` hook. It has an interesting property of memoization similar to useMemo, however, it doesn't cause a re-render. Ik it's pretty niche, but something to also consider

[2021-11-08 15:32] humphd commented on #2423
I think we're over thinking this.  We just want to set some state in the app that doesn't change.  This is exactly what `useState()` is for.

[2021-11-09 00:22] nguyenhung15913 commented on #2419
Hi David. I am interested in this issue. But I am quite new with NextJS and this project. Could you please explain to me how can I access the dashboard page?. Thanks

[2021-11-09 00:39] humphd commented on #2419
The Dashboard lives in https://github.com/Seneca-CDOT/telescope/tree/master/src/api/status, specifically in https://github.com/Seneca-CDOT/telescope/tree/master/src/api/status/public.  We have a generic dashboard there now, which is being worked on by various people.

The idea here would be to write some JS to `fetch()` this info from the Posts service, then show it in a widget.  We return an `x-t

[2021-11-09 01:07] tuanthanh2067 commented on #2419
Response returned from `/feeds` is the same as from `/posts` right?

[2021-11-09 01:08] tuanthanh2067 commented on #2419
Can I try this issue?

[2021-11-09 02:16] humphd commented on #2419
@tuanthanh2067 it looks like @nguyenhung15913 already asked, but I can see 2 parts to this:

- show the current Posts count in the Dashboard
- show the Feeds count in the Dashboard

The Feeds are available as a header at https://dev.api.telescope.cdot.systems/v1/posts/feeds (that's staging).

So I'll give this one to @nguyenhung15913 for the Posts count, and @tuanthanh2067 you can file another sim

[2021-11-09 02:17] tuanthanh2067 commented on #2419
Great, sure!

[2021-11-09 03:41] tuanthanh2067 opened #2454 "Npm run dev not working correctly in status api folder"
**What happened**: When I try to test `/src/api/status` locally by using npm run dev, I received a page that looks messed up

**What should have happened**: It should load css and javascript properly

**How to reproduce it (as precise as possible)**: Go to `/src/api/status`, then `npm install`, then `npm run dev`, and then open up your google chrome and then redirect to `http://localhost:1111/`

*

[2021-11-09 04:27] DukeManh commented on #2423
Not to make this more complicated but I think the easiest way is to not use any hook and generate `studentQuote` inline.
[code]

[2021-11-09 04:34] DukeManh commented on #2423
Generate if outside of the component.

[2021-11-09 04:52] DukeManh commented on #2401
I'd be interested in taking a look at the good stuff of  NextJS 12.

[2021-11-09 13:11] humphd commented on #2423
Yes, that makes sense.

[2021-11-09 13:22] humphd commented on #2454
The root of the problem here is that we're compensating for how our API router (Traefik) works in production, where we add `/v1/status/*` as a prefix, see https://github.com/Seneca-CDOT/telescope/blob/master/docker/docker-compose.yml#L34.  To get around this, we added a `<base href="/v1/status/" />` element to the page in order to resolve all links relative to `/v1/status`, see https://github.com/

[2021-11-09 20:19] Kevan-Y opened #2457 "[BUG] - `&&` not displaying correctly in post"
**What happened**:
Post with `&&` wrapped in code tag turn to `&amp&amp`.

![image](https://user-images.githubusercontent.com/58233223/140997513-b7322799-980a-42c4-ab39-6a7458a59216.png)

Post Link: https://telescope.cdot.systems/search/?text=Static%20Analysis%20tooling%20%F0%9F%9B%A0&filter=post

**What should have happened**:
`&&` should render correctly

**Anything else we need to know?**:
Rela

[2021-11-09 20:56] Kevan-Y commented on #2457
I'm gonna take this issue

[2021-11-09 21:53] ycechungAI commented on #2446
can i work on this as backup for release 0.3

[2021-11-09 21:57] nguyenhung15913 commented on #2419
Hi @humphd , I reviewed the code and realized that due to the CORS, I could only access some certain headers but not the X-TOTAL-COUNT (return null). I did some research and they say that we can only fix in the server. Are there other ways? And also is there any specific route to the dashboard ("/dashboard") so that it will be much easier to add front-end features. I have been trying to find it bu

[2021-11-09 23:16] ycechungAI commented on #2446
made the changes and just running npm run test now

[2021-11-09 23:22] humphd commented on #2419
You can change the server here to allow this https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/src/server.js#L12

[2021-11-09 23:36] nguyenhung15913 commented on #2419
@humphd How about the specific route to the dashboard? is there something like localhost:8000/dashboard?

[2021-11-09 23:45] tuanthanh2067 commented on #2419
I'm sorry but what's the staging server?

[2021-11-10 00:20] ycechungAI commented on #2446
![image](https://user-images.githubusercontent.com/55400510/141026593-fb0da37c-cc44-4327-aa57-6cecd196c8d5.png)

[2021-11-10 00:52] humphd commented on #2446
Is there a PR you want me to look at?

[2021-11-10 00:56] humphd commented on #2419
Staging is https://dev.api.telescope.cdot.systems

[2021-11-10 13:56] humphd commented on #2419
I think you want to use `process.env.API_URL` which is defined in https://github.com/Seneca-CDOT/telescope/blob/master/config/env.production#L21, and for local development you can add a variable to https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/env.local to expose the proper hostname.  The proper format looks like this https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/

[2021-11-10 15:35] ycechungAI commented on #2446
https://github.com/Seneca-CDOT/telescope/pull/2459

[2021-11-10 15:36] ycechungAI commented on #2446
just waiting for it to pass, I accidently created the branch on telescope and redo it on my own repo and ran tests again

[2021-11-10 15:58] ycechungAI commented on #2446
![image](https://user-images.githubusercontent.com/55400510/141147508-6f360394-d64e-42fe-8130-3619df4758f9.png)
not sure why my amend didnt change the repo

[2021-11-10 16:54] ycechungAI commented on #2446
Looking for someone to review these changes as well (need a 2nd reviewer)

[2021-11-10 16:56] humphd commented on #2446
@ycechungAI because you didn't use proper syntax in your PR description, this didn't autoclose on merge.  Use `Fixes #....` vs. `#....` in the future.

[2021-11-10 16:56] #2446 closed

[2021-11-10 23:07] humphd opened #2460 "Optional Chaining (?.) requires node 14 as a minimum"
@mkim219 and I were discussing a crash he had tonight.  We use [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining), for example: https://github.com/Seneca-CDOT/telescope/blob/6a7fe654f6f01ef83d5620cff59585f9c639046b/src/backend/feed/processor.js#L202.  This requires [node 14 or greater](https://developer.mozilla.org/en-US/docs/Web/Java

[2021-11-12 02:34] #2449 closed

[2021-11-12 02:34] #2415 closed

[2021-11-12 02:56] humphd opened #2461 "Build Log dashboard should use same layout/CSS as rest of Dashboard"
The [new Dashboard build log](https://dev.api.telescope.cdot.systems/v1/status) doesn't look like the rest of the Dashboard:

<img width="1285" alt="Screen Shot 2021-11-11 at 9 55 06 PM" src="https://user-images.githubusercontent.com/427398/141401228-3d084181-9ba4-4b11-9f8c-3ba3c0bc4d7c.png">

vs.

<img width="1276" alt="Screen Shot 2021-11-11 at 9 55 46 PM" src="https://user-images.githubusercont

[2021-11-12 02:59] humphd opened #2462 "CSP error in build log fetching from autodeployment server"
We need to fix CSP for the Dashboard's build log to fetch from the autodeployment server:

<img width="1261" alt="Screen Shot 2021-11-11 at 9 54 13 PM" src="https://user-images.githubusercontent.com/427398/141401517-6753a286-f44a-4fa6-8636-ff74e1e74c31.png">

We need to fix our `connect-src` rules to include the autodeployment server:

https://github.com/Seneca-CDOT/telescope/blob/master/src/api/s

[2021-11-12 04:25] #2462 closed

[2021-11-12 04:38] mqnguyen5 commented on #2461
Can I give it a shot? And, should I wait for #2433 to finish to keep the styling consistent?

[2021-11-12 14:03] humphd opened #2465 "Prettier check failing on CI for src/api/status/src/server.js"
[code]

[2021-11-12 14:03] humphd commented on #2465
Possibly due to https://github.com/Seneca-CDOT/telescope/commit/06c71038ad617c0ac805e4f3ccc9cbb1147862c3

[2021-11-12 14:17] humphd commented on #2461
@mqnguyen5 go for it, and no, don't wait.  We'll adjust once #2433 is merged. cc @suhhee1011

[2021-11-12 14:55] suhhee1011 commented on #2461
Oh I am almost done with the issue #2433 .I am planning to push my code in this weekend. I will comment here if I push my code :)

[2021-11-14 04:39] #2460 closed

[2021-11-14 04:47] cindyledev commented on #2465
I'll take this

[2021-11-14 07:40] #2465 closed

[2021-11-14 23:26] manekenpix commented on #2383
@humphd  Since #2455 got merged, do we still need this?

[2021-11-15 00:58] humphd commented on #2383
Yeah, let's add it.  I think it's helpful to not have to remember a magic number

[2021-11-15 02:38] juuuuuuun commented on #2452
Hello, Can I work for it?

[2021-11-15 03:48] manekenpix commented on #2452
@juuuuuuun all yours.
Here's a discussion about this issue https://github.com/Seneca-CDOT/telescope/discussions/2448

[2021-11-15 20:51] DukeManh commented on #2429
Seeing how many people struggling to get started, I will write a quick doc for this.

[2021-11-15 21:19] cindyledev commented on #2429
Ping me for review

[2021-11-15 21:19] suhhee1011 commented on #2433
- [ ] use the Telescope logo
- [ ] use the Telescope favicon
- [ ] Change "Material Dashboard 2" to "Telescope Dashboard"
- [ ] Get rid of "Upgrade to Pro" button
- [ ] Get rid of copyright and other links in the footer
- [ ] Change the primary colour from redish/purple to use the primary Telescope colour

[2021-11-16 01:32] menghif opened #2473 "Improve local development set up of status dashboard"
It is currently possible to setup the new [status dashboard](https://api.telescope.cdot.systems/v1/status) for front-end development (with automatic reload) like this:
1. Add: `API_HOST=https://dev.telescope.cdot.systems` to [env.local](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/env.local)
1. Run: `npm run dev` from `src/api/status/`
2. Go to: http://localhost:1111/

This

[2021-11-16 03:01] humphd commented on #2473
One way to fix this is to add an environment variable to `env.local` (maybe `PATH_PREFIX=/v1/status`) that when set causes use to use `/v1/status` instead of `/` for our static root here: https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/src/server.js#L33

[code]

[2021-11-16 03:45] drew5494 commented on #2473
can I work on this issue?

[2021-11-16 12:49] humphd commented on #2473
Go for it @drew5494

[2021-11-16 18:51] JiaHua-Zou commented on #2438
Can you assign this to me?

[2021-11-17 00:11] cindyledev commented on #2438
Yes, there have been minor updates for the nodemon and sharp packages so please update accordingly

[code]

[2021-11-17 01:29] JiaHua-Zou opened #2478 "Wrong link used to redirect to its section of the document."
**What happened**: When I was reading the [`environment-setup.md`](https://github.com/Seneca-CDOT/telescope/blob/master/docs/environment-setup.md) and try to press these links:

![image](https://user-images.githubusercontent.com/59105665/142091920-83b71355-10c9-4b23-a0f9-46673331eb8e.png)
It doesn't redirect me to the correct section of the document.

**What should have happened**: The link show r

[2021-11-17 04:03] humphd opened #2479 "Remove paragraphs with only a br inside"
We have a bug where a blog can have a bunch of paragraphs with `<br>` elements inside, and nothing else.  We should remove these.

Here's an [example post](http://ycechung-opensource.blogspot.com/2021/11/lab-8-jest-enough.html) with the problem:

<img width="1276" alt="Screen Shot 2021-11-16 at 11 02 05 PM" src="https://user-images.githubusercontent.com/427398/142132506-c0b29a24-c428-476e-928e-247

[2021-11-17 04:29] mkim219 commented on #2479
@humphd Can I work on this?

[2021-11-17 13:34] humphd commented on #2479
Sure, that sounds great.  Start with a test for what you want to fix in https://github.com/Seneca-CDOT/telescope/blob/master/test/remove-empty-paragraphs.test.js.

[2021-11-17 13:37] humphd commented on #2438
@JiaHua-Zou all yours

[2021-11-17 14:28] #2417 closed

[2021-11-17 19:48] AmasiaNalbandian commented on #2383
@humphd Wanted some feedback about what the route name should be for redirection? Should we do something like https://dev.telescope.cdot.systems/servers? I'm not sure if there are other servers being hosted for auto deployment.

[2021-11-17 19:55] japneetsingh035 commented on #2478
Can I work on this bug @JiaHua-Zou ?

[2021-11-17 20:08] JiaHua-Zou commented on #2478
yea. I can fix it.

[2021-11-17 22:31] JiaHua-Zou commented on #2478
@japneetsingh035 sorry. I misread your message. 🤦

[2021-11-17 23:52] Andrewnt219 opened #2486 "Build log for autodeployment is not working properly"
**What happened**:
Mismatch object shape. The script expects the response to have a `started` key...
https://github.com/Seneca-CDOT/telescope/blob/3131812c364e551b697c123aa9a66df695b9e723/src/api/status/public/js/build-log/api.js#L6-L19
... but the server response
https://github.com/Seneca-CDOT/telescope/blob/3131812c364e551b697c123aa9a66df695b9e723/tools/autodeployment/builds.js#L46-L53

**What s

[2021-11-18 00:25] #2478 closed

[2021-11-18 01:10] humphd opened #2487 "Lines Added/Lines Removed is empty"
<img width="774" alt="Screen Shot 2021-11-17 at 8 08 25 PM" src="https://user-images.githubusercontent.com/427398/142332522-48438851-033a-4175-96cc-7440690f0518.png">

[code]

[2021-11-18 01:59] HyperTHD commented on #2487
I'm not seeing this on my screen, might want to double check this

This is on Chrome, OS is Windows 10 Home
![image](https://user-images.githubusercontent.com/16841702/142337436-4e17b1f4-e71e-472f-a18c-1ff55b38752f.png)

[2021-11-18 13:10] humphd commented on #2438
Fixed by #2483.  @JiaHua-Zou next time uses "Fixes #..." in your PR description so it automatically closes the associated issue.

[2021-11-18 13:10] #2438 closed

[2021-11-18 13:15] #2429 closed

[2021-11-18 13:28] humphd commented on #2487
I wonder if it was cache, a failed response from GitHub, rate limiting, ...  Today it's working for me.

I'll leave open for now and close if it doesn't happen again.

[2021-11-18 13:29] humphd opened #2488 "Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”)."
The dashboard is showing a bunch of failed CSP script issues with script loading.  Let's sort this out.

[2021-11-18 14:10] #2382 closed

[2021-11-18 15:27] Andrewnt219 opened #2489 "Add SCSS compiler step to status dashboard"
**What would you like to be added**:
Use SCSS for status dashboard

**Why would you like this to be added**:
The primary color and many other presets/components are defined in the Material Dashboard 2 SCSS files. It's inconvenient to keep overriding the same presets/components.

[2021-11-18 15:54] cindyledev commented on #2381
Resolved in #2398

[2021-11-18 15:54] #2381 closed

[2021-11-18 16:09] #2457 closed

[2021-11-18 16:27] #2479 closed

[2021-11-18 18:36] humphd opened #2490 "There are no pictures of students in Hacktoberfest T-Shirts on Telescope"
I'm reading lots of posts like this:

<img width="731" alt="Screen Shot 2021-11-18 at 1 35 03 PM" src="https://user-images.githubusercontent.com/427398/142476134-e0a54171-01cd-470a-b409-7e307e04b096.png">

But I see no pictures of T-Shirts from anyone.  This is a bug I want to see fixed.

[2021-11-18 19:13] cindyledev commented on #2490
I didn't know people already got their shirts! I just sent in my order last week...

[2021-11-18 21:36] mqnguyen5 commented on #2490
Mine is being delivered...

[2021-11-18 23:06] humphd opened #2492 ""Unknown" for name of last contributor"
<img width="226" alt="Screen Shot 2021-11-18 at 6 05 22 PM" src="https://user-images.githubusercontent.com/427398/142510841-35bbb889-da56-40a7-8d45-03bf84340d19.png">

However, when you hover it shows @mkim219, so it must have some info.

[2021-11-18 23:31] menghif commented on #2490
I planted a tree 🌲

[2021-11-19 00:10] tpmai22 commented on #2492
Hi @humphd , would you be able to explain it a bit more ? I would love to work on this as soon as I got a bit more information

[2021-11-19 01:10] humphd commented on #2492
@menghif can probably shed some light on it.

[2021-11-19 02:49] menghif commented on #2492
Here we are getting an array of commits from the Github API and grabbing the contributor's name from the latest commit (first element in the array).

Not sure why but the API returns unknown for @mkim219 author name:

[code]

The docs are [here](https://docs.github.com/en/rest/reference/repos#list-commits) if you want to have a look.

[2021-11-19 02:50] humphd commented on #2492
Interesting! @mkim219, you need to set a name on GitHub.  Closing.

[2021-11-19 02:50] #2492 closed

[2021-11-19 02:51] #2383 closed

[2021-11-19 02:52] #2419 closed

[2021-11-19 03:27] humphd commented on #2473
Fixed by #2493. @drew5494, next time use `Fixes #...` in your PR description so it auto-closes.

[2021-11-19 03:27] #2473 closed

[2021-11-19 06:40] Qiwen-Yu commented on #2424
@humphd, in my local setup, I ran `docker run -d -p 8080:8080 -p 80:80 \
    -v $PWD/traefik.yml:/etc/traefik/traefik.yml traefik:v2.5` in terminal after install docker and docker-compose. But I am not sure if I did it correctly.

[2021-11-19 14:33] humphd opened #2497 "Update logger to use newer pretty printing API in pino"
In #2496 we updated our logger dependencies.  The new versions have changed the way you're supposed to do pretty printing of logs, see https://getpino.io/#/docs/pretty, resulting in this warning when you start the backend:

[code]

Our [logger](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/utils/logger.js) should get updated to use the new way of pretty printing logs in debug mo

[2021-11-19 14:37] humphd opened #2498 "Remove all Elastic APM code from Telescope"
We had an idea to use Elastic APM for monitoring our logs and services.  In the end we haven't gone that route, and use a simpler Portainer setup.

Let's get rid of all the APM code from our docker/compose files, envs, logging, Satellite, docs, etc. code.

[2021-11-19 14:40] humphd opened #2499 "[Satellite] update pino"
Similar to #2497 we need to update pino and audit [how we do pretty printing](https://getpino.io/#/docs/pretty) in Satellite to make sure it's OK with the latest versions:

- https://github.com/Seneca-CDOT/satellite/blob/master/package.json#L35-L36
- https://github.com/Seneca-CDOT/satellite/blob/master/src/logger.js

[2021-11-19 14:57] humphd commented on #2499
Let's also switch to pino-http vs. the express-pino-logger, since the latter uses the former. https://github.com/pinojs/pino-http

[2021-11-19 16:59] humphd commented on #2424
Please use "Fixes #..." vs. "Fix issue #..." so that GitHub autocloses.

[2021-11-19 16:59] #2424 closed

[2021-11-19 18:53] #2454 closed

[2021-11-19 20:03] HyperTHD commented on #2490
Can I count since I did this course last year?

[2021-11-19 20:09] humphd commented on #2490
Yes!  Blog and pic :)

[2021-11-19 22:29] Qiwen-Yu commented on #2424
Sorry, I should've used `Fixes #`.

[2021-11-20 00:38] #2461 closed

[2021-11-20 01:52] #2433 closed

[2021-11-20 14:34] humphd opened #2502 "Post title overlaps (z-index) mobile nav strip"
When you scroll on mobile, the post title header is on top of the mobile nav strip at the bottom.  It should be behind it.

https://user-images.githubusercontent.com/427398/142730165-1d54a526-a5f2-4fd0-b57a-aeaac94c8af1.mov

[2021-11-20 23:22] humphd opened #2504 "Switch to express.json() vs. body-parser in backend"
Remove https://github.com/Seneca-CDOT/telescope/blob/0d83efa2f4edb1ea51f4b3f0a3840a4356807e53/src/backend/web/app.js#L3 and the dependency from `package.json` and change https://github.com/Seneca-CDOT/telescope/blob/0d83efa2f4edb1ea51f4b3f0a3840a4356807e53/src/backend/web/app.js#L52-L53 to to use:

- https://expressjs.com/en/api.html#express.json
- https://expressjs.com/en/api.html#express.urlenco

[2021-11-21 17:54] humphd opened #2505 "Dashboard and Build Log are not the same"
Compare:

- https://dev.api.telescope.cdot.systems/v1/status/
- https://dev.api.telescope.cdot.systems/v1/status/pages/build.html

The sidebar is not the same, nor is the highlight colour.

<img width="1044" alt="Screen Shot 2021-11-21 at 12 52 17 PM" src="https://user-images.githubusercontent.com/427398/142773336-f3bd69ee-e63c-49de-a67e-f11c0203c3ce.png">

[2021-11-21 17:57] humphd opened #2506 "Link to latest contribution"
In the Dashboard we list the last contributor to Telescope and Satellite, which includes a link to the user's name.  However, I can't click anything to see the PR that they made.  Let's find a way to include this info somehow and a link.

<img width="748" alt="Screen Shot 2021-11-21 at 12 55 34 PM" src="https://user-images.githubusercontent.com/427398/142773443-836579cf-b0d5-4031-9548-cfc4fefbc26b

[2021-11-21 17:58] humphd opened #2507 "Hide "Weekly Commits" if zero"
When the number of weekly commits is zero, let's remove the entire DOM element for "Weekly Commits" and "0" instead of showing it.  We already say "No commits this week" at the bottom, so it's not needed.

<img width="245" alt="Screen Shot 2021-11-21 at 12 57 25 PM" src="https://user-images.githubusercontent.com/427398/142773486-c47ebb0b-60f9-4a22-8106-fced0a0c7437.png">

[2021-11-21 21:59] humphd commented on #2423
@AmasiaNalbandian you asked for this 3 weeks ago, should I leave it with you or unassign so someone can fix?  What's the status?

[2021-11-21 22:00] humphd commented on #2452
@juuuuuuun what's the status of this?

[2021-11-21 22:01] humphd commented on #2412
@hphan9 you asked for this to be assigned 2 weeks ago, are you still working on it?  If not I'll un-assign so someone else can work on it.  What's the status?

[2021-11-21 22:01] humphd commented on #2401
@DukeManh you asked for this to be assigned 2 weeks ago, are you still working on it?  If not I'll un-assign so someone else can work on it.  What's the status?

[2021-11-21 22:02] humphd commented on #2362
Fixed by #2386

[2021-11-21 22:02] #2362 closed

[2021-11-21 22:21] ycechungAI commented on #2507
I would like to work on this for release 0.4 secondary issue

[2021-11-21 22:22] Kevan-Y commented on #2506
Hi, I never touched the front end part of telescopes dashboard. I would like to work on this issue.

[2021-11-21 22:24] ycechungAI commented on #2497
I would like to work on this for release 0.4 primary issue

[2021-11-21 22:40] juuuuuuun commented on #2452
Sorry sir still I'm working on it...

[2021-11-21 22:45] humphd commented on #2506
Sounds good, @Kevan-Y.  Quite a few of your peers have written this code, so you can ask them for advice or to get reviews.

[2021-11-21 22:47] humphd commented on #2497
There's a few issues that are interrelated to this:

#2499, #2498

This one isn't huge, so you might be able to add one or both of those.

[2021-11-21 23:00] ycechungAI commented on #2499
i liked to work on this

[2021-11-21 23:02] ycechungAI commented on #2497
ill add both of them as well

[2021-11-21 23:02] ycechungAI commented on #2498
ill add this one as well

[2021-11-22 02:20] suhhee1011 commented on #2507
@humphd Can I work on this?

[2021-11-22 02:29] suhhee1011 commented on #2505
@humphd Can I work on this? I think I can fix it

[2021-11-22 03:05] humphd commented on #2505
For sure, go for it.

[2021-11-22 03:05] humphd commented on #2507
Yes, go for it.

[2021-11-22 03:06] humphd commented on #2498
Great stuff, thanks.

[2021-11-22 03:07] humphd commented on #2499
This may not be clear, but the code for this lives in a different repo: https://github.com/Seneca-CDOT/satellite

[2021-11-22 07:27] DukeManh commented on #2401
I was looking at the [upgrade guide](https://nextjs.org/docs/upgrading) and thinking we only have to update NextJS, React dep, and replace Babel with SWC by removing `babel.config.js`. The other things like React Server Components and URL Imports, etc are features that we should file separate issues explore their usage in our project.

I will put up a PR for upgrading dependencies soon.

[2021-11-22 14:00] #2389 closed

[2021-11-22 16:42] humphd commented on #1801
Fixed by #2337

[2021-11-22 16:42] #1801 closed

[2021-11-22 16:42] humphd commented on #2131
Fixed by #2337

[2021-11-22 16:42] #2131 closed

[2021-11-22 16:42] humphd commented on #2313
Fixed by #2337

[2021-11-22 16:42] #2313 closed

[2021-11-22 18:19] humphd commented on #2416
@mqnguyen5 is going to take this.

[2021-11-22 18:21] mqnguyen5 commented on #2416
@humphd Can you give me a walkthrough of what should be done?

[2021-11-22 18:57] humphd opened #2511 "CSP error in Dashboard"
See https://dev.api.telescope.cdot.systems/v1/status/pages/build.html and open dev tools to see console:

<img width="1285" alt="Screen Shot 2021-11-22 at 1 53 16 PM" src="https://user-images.githubusercontent.com/427398/142918908-03323537-ddc3-446f-a9ad-15fbecab8b05.png">

[2021-11-22 18:59] humphd commented on #2416
There are two places where this info could go:

1. The first is to add a new widget card to the Dashboard that shows a detailed view of all we know about the previous and next builds (see list above).
2. The second would be to add a header across the top of the build log page (e.g., above the log terminal) showing details about who did what, with links, avatar, detailed info, etc.

Here's how GitH

[2021-11-22 20:25] humphd commented on #2414
@TueNguyen2911 is going to work on this.

[2021-11-22 20:27] humphd commented on #2414
Now that the posts service has the [feeds](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/posts/src/routes/feeds.js) included, I wonder if we should put the new route on that service at `/feeds/info`, and have it return a JS object with details from the Bull Queue.

@TueNguyen2911 I'd tackle this in pieces (multiple PRs).  Get the backend stuff working then add frontend.

[2021-11-22 20:31] humphd commented on #2414
We'd need to essentially copy something like https://github.com/Seneca-CDOT/telescope/blob/29951b7b60fa33d83e14b05f24d4a4c2722f9ef7/src/backend/lib/queue.js into the post service so we can query the feed queue and send back JSON data.  This one wouldn't need all these event handlers, and could instead use the Bull API for things like [this](https://github.com/OptimalBits/bull/blob/develop/REFERENC

[2021-11-22 20:38] TueNguyen2911 commented on #2414
Got it! I'll ask if something comes up

[2021-11-22 21:28] #2423 closed

[2021-11-23 01:13] humphd commented on #2486
While we're fixing this, let's also add `Cache-Control: no-cache` to the headers of the response we send out, so that browsers don't reuse the `/status` response.

[2021-11-23 03:48] #2504 closed

[2021-11-23 03:49] humphd commented on #2504
@LuigiZaccagnini we try to get 2 reviews on changes before merging, mainly to spread knowledge of changes across the community, so that if something breaks, more than one person knows why.

[2021-11-23 03:52] LuigiZaccagnini commented on #2504
@humphd Sorry, I will make sure to request another review next time!

[2021-11-23 03:53] humphd commented on #2504
It's my fault for not resetting our branch protection, you couldn't have known.

[2021-11-23 03:55] LuigiZaccagnini commented on #2504
Do you think this merge will be ok?

[2021-11-23 03:57] humphd commented on #2504
Every change is dangerous, in that so many unintended things can break.  I *think* this is safe, but we need more tests.  We'll see.  But if something breaks in areas related to this, we'll have some idea why.  The key is, you need reviewers who are watching when things suddenly break or stop working correctly and can remember, "oh yeah, we just merged a change that touches this code."

[2021-11-23 16:19] humphd commented on #1778
@menghif is going to give this a try.

[2021-11-23 16:24] Andrewnt219 opened #2515 "Prevent client from caching /status response"
**What would you like to be added**:
Is related to #2486
Add Cache-Control header to endpoint /status in tools/autodeployment to prevent caching.

**Why would you like this to be added**:
Clients should always get the most up-to-date build status.

[2021-11-23 16:54] Kevan-Y commented on #2506
Wasn't able to get link to the PR, but I can get the commit URL.
Is something like that okay?
![image](https://user-images.githubusercontent.com/58233223/143068791-98135cb8-7fab-4d8c-a4fd-3371590942c8.png)

[2021-11-23 17:45] humphd commented on #2506
I think that makes sense.  Can you put it to the right of the person's name?

[code]

And have the avatar/name link to the person, and the commit sha link to the commit.   We might have to do some overflow `...` in CSS to deal with really long names.

[2021-11-23 17:49] LuigiZaccagnini commented on #2444
I can take this issue @humphd

[2021-11-23 19:58] humphd commented on #2418
@Kevan-Y is going to work on this.

We could probably re-purpose this layout to do it:

<img width="650" alt="Screen Shot 2021-11-23 at 2 58 27 PM" src="https://user-images.githubusercontent.com/427398/143095011-6aa3c295-08fe-488f-a307-862fe83730b2.png">

[2021-11-23 22:20] #2502 closed

[2021-11-23 23:56] #2506 closed

[2021-11-24 00:00] humphd opened #2519 "Extend build terminal in dashboard to full height of viewport"
The build terminal (see https://dev.api.telescope.cdot.systems/v1/status/pages/build.html) is only occupying the top portion of the page.  Let's have it extend to fill the available space vertically.

<img width="1254" alt="Screen Shot 2021-11-23 at 6 58 11 PM" src="https://user-images.githubusercontent.com/427398/143147402-718cb809-0d3e-448a-8fd0-6438331dda98.png">

[2021-11-24 01:59] mqnguyen5 commented on #2416
I just need to build upon the code in [here](https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/builds.js) right?

[2021-11-24 02:08] Andrewnt219 commented on #2416
@mqnguyen5 no, it should be a new js file inside [build-log](https://github.com/Seneca-CDOT/telescope/tree/master/src/api/status/public/js/build-log). Call it `build-header.js`

production is https://telescope.cdot.systems:4000/status

IWhen you goes to these links, you can see the response JSON has all the details under `githubData`.

[2021-11-24 03:53] #2486 closed

[2021-11-24 04:17] hphan9 commented on #2412
Hello @humphd , I am working on this and I will send a PR soon. I have a question about this
[code]
Do you mean we should modify the setInvalidFeed(id,reason) to store all the information of the feed in the invalid key ?

[2021-11-24 15:15] hphan9 commented on #2413
Can I also work on this issue? Thank you !

[2021-11-24 16:07] humphd commented on #2413
Yeah, that sounds like a good idea, since you'll be the expert on this part of the code!

[2021-11-24 16:10] humphd opened #2521 "Use /deploy vs :4000 for autodeployment links"
Recently, @AmasiaNalbandian [added a redirect in our nginx router](https://github.com/Seneca-CDOT/telescope/blob/c505e3ba6fc38407d91514d5906cf8f6278d3799/config/nginx.conf.template#L236-L239) from :4000 -> /deploy, such that you can do https://dev.telescope.cdot.systems:4000/status or https://dev.telescope.cdot.systems/deploy/status.  The latter is much nicer from a developer experience point of v

[2021-11-24 17:00] Yoda-Canada commented on #2519
@humphd I would like to work on this for release 0.4

[2021-11-24 17:04] humphd commented on #2519
@Yoda-Canada sounds good.  NOTE: this isn't enough for 0.4, so look for some other things to pair it with.

[2021-11-24 21:20] Qiwen-Yu commented on #2521
@humphd Can I take this one, thank you so much!

[2021-11-24 21:36] humphd commented on #2521
Sure.  I would pair this with some other work, as it's pretty small.

[2021-11-24 21:38] Yoda-Canada commented on #2519
@humphd where is the code? I find the code in the webpage, but can't find it on GitHub

[2021-11-24 21:39] humphd commented on #2519
https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/public/pages/build.html and https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/public/js/pages/build.js

[2021-11-24 22:18] Yoda-Canada commented on #2519
I only can find the id="terminal" and I try to "go to definition", but can't find anything.
![image](https://user-images.githubusercontent.com/55161917/143319573-76551d25-c534-4636-b325-590aecfbbac6.png)

[2021-11-24 23:22] humphd commented on #2519
Yes, it gets created dynamically by xterm.js at runtime.  You need to stretch the `#terminal` parent element to fill the vertical space, and the terminal should fill it automatically.

[2021-11-25 03:35] Yoda-Canada commented on #2519
@humphd I try to use the following code to solve this issue, but it doesn't change.  Then I check the container size and the main class size doesn't fit the whole screen. I changed the max-height, but it not useful. Could you give some clues?
[code]
![image](https://user-images.githubusercontent.com/55161917/143374410-ca7ff93e-14e6-4988-b440-6ad394535da8.png)

[2021-11-25 14:45] humphd commented on #2519
Short of solving this myself, I'm not sure.  You need to do some research, work with your classmates to try and dig into things, etc.  You can do this.

[2021-11-25 19:51] Qiwen-Yu commented on #2511
@humphd Can I take this one?

[2021-11-25 23:09] tuanthanh2067 commented on #2117
I want to give this one a try, but I have a few questions about how you want this share thing go.

1. I think I will add a share button below the image, when one clicks the button, I will copy the link the clipboard
![image](https://user-images.githubusercontent.com/51014333/143506509-1ae40ce8-25f4-4f07-9ea0-3e955a0532e7.png)

2. This is what I'm struggling. I think I'm going to have a url serving

[2021-11-25 23:12] humphd commented on #2117
I think you should put it beside the date, since that's the link to the blog, and I'd share the original blog URL vs. a Telescope URL.

[2021-11-25 23:19] tuanthanh2067 commented on #2117
I think about something bigger like: the share button will copy the telescope url, and when a person goes to that url, the post will be displayed, and a couple of share buttons to social platforms and a button to get the original blog URL will be put at the bottom.

[2021-11-25 23:56] tuanthanh2067 commented on #1408
Is this issue still open? I think we can do something like bit
![image](https://user-images.githubusercontent.com/51014333/143508725-18dde6a0-39d4-4079-a5c6-31903b2e4c57.png)

[2021-11-26 02:09] humphd commented on #2117
we don't have deep linking into posts in Telescope.  I would start simpler

[2021-11-26 02:10] humphd commented on #1408
Yeah, it's still open.  That's an interesting idea.  I don't love it looking identical to the title, but the concept is cool.  Could also put it in the right-hand side area?  Worth experimenting.

[2021-11-26 02:13] tuanthanh2067 commented on #2117
I don't understand, can you please explain it?

[2021-11-26 02:15] humphd commented on #2117
We don't have a way to link to a specific post in Telescope (deep linking), so the only URL we should be giving to the user is the original blog URL.

[2021-11-26 02:17] tuanthanh2067 commented on #1408
You mean right below user's information?

[2021-11-26 02:21] humphd commented on #1408
What if you put a Chip component to one side of the title: `(1 of 13)`, so it stands out from the title text as a piece of UI. https://mui.com/components/chips/

Or it could go on the right, but I think that will get cluttered with all the GitHub info.

[2021-11-26 02:23] tuanthanh2067 commented on #1408
Chip components sound interesting, I will go with it

[2021-11-26 02:29] Andrewnt219 commented on #2521
@Qiwen-Yu Can you also update the links in [autodeployment README](https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/README.md)?

[2021-11-26 04:21] HyperTHD commented on #2519
Might be wrong on this as I'm not the best with css and styling in general but this is what you want right? I also had it align with the dashboard as we

https://user-images.githubusercontent.com/16841702/143526317-44fd647a-54c2-4d83-a5f6-8990c4424e03.mp4

ll

[2021-11-26 05:58] Yoda-Canada commented on #2519
@HyperTHD I think it is right. Could you tell me how to do it? thx

[2021-11-26 17:02] #2240 closed

[2021-11-26 18:42] DukeManh opened #2525 "Linter was not running the whole time"
I was looking at a PR and noticed an unused variable was not detected by `npm run lint`
**Shocking discovery 🙃**

Our linting script `eslint --config .eslintrc.js` does not provide a glob pattern to ESLint and no files are linted.

Developers only notice problems found by ESLint if they have installed the VSCode ESLint extension because the extension puts squiggly underlines on them. Otherwise, ru

[2021-11-26 18:48] DukeManh commented on #2525
I can fix this while I'm on it.

[2021-11-26 18:51] humphd commented on #2525
Fantastic!  Great work.  Looking back through blame history, looks like we never did this correctly.  Question: can we do that in the config (define the glob) vs. script?

[2021-11-26 18:59] DukeManh commented on #2525
I think it's not possible as per [this discussion](https://github.com/eslint/eslint/issues/11223#issuecomment-450545186).

[2021-11-26 19:04] tuanthanh2067 commented on #2117
The author also mentioned about bookmarking posts, how do you think about it?

[2021-11-26 19:11] humphd commented on #2117
Can you say more about what you mean?  As I mentioned above, we have no way to link into Telescope in order to show a specific post, so bookmarking won't work (on the Telescope side).  However, you can bookmark or share the original post URL, which is what I'd recommend.

[2021-11-26 19:15] tuanthanh2067 commented on #2117
For bookmarking, I think that I will save post id in local storage or database, and I will use these post id's to show posts just like how you show posts in search.

[2021-11-26 19:17] tuanthanh2067 commented on #2117
So I need an api that can help me get all posts by id's

[2021-11-26 19:17] humphd commented on #2117
I don't think this is a good idea.  Our posts are ephemeral (i.e., we cache them, we don't store them), and they may or may not exist the next time you come.  If people want to bookmark something, it has to be the original.

[2021-11-26 19:21] tuanthanh2067 commented on #2117
Oh I see but I still think bookmarking is a pretty cool feature to have in telescope. As we put all people's posts together from all different platforms, some posts are good and people want to save to read later but they want to go directly to the original sites

[2021-11-26 19:23] humphd commented on #2117
Let's do this:

- Have this issue be about providing a "Share" link/icon for the original blog URL
- File a new issue to explore the idea of allowing an authenticated Telescope user to create "collections" of posts, or something, which can be date-ordered set in Redis of post ids.

[2021-11-26 20:31] Qiwen-Yu commented on #2521
@Andrewnt219 Yes, sure.

[2021-11-26 21:14] HyperTHD commented on #2519
It's the height of the xterm-screen itself. I looked at the new status service related content and couldn't find out where it gets loaded into, but you'd basically want to increase the height of that, and add some border radius so that it ends up rounded at the bottom like the dashboard. Hope this helps @Yoda-Canada

[2021-11-26 22:36] raygervais opened #2526 "Slimming Telescope Feed-Discovery Docker Image"
**What would you like to be added**:

Recently, I had found https://github.com/docker-slim/docker-slim which claims to work with Node based Docker containers. If this were to work, it would improve both local and server storage requirements.

Furthermore, this may help the future plan of integrating Kubernetes clusters or moving to the cloud by reducing the storage costs of the various micro servi

[2021-11-26 23:11] suhhee1011 opened #2527 "Under the telescope links on the Sidebar, the menu displays duplicated"
**What happened**:
- Under the telescope links on the Sidebar, the menu displays duplicated

**What should have happened**:
- It should be displayed only once.

![image](https://user-images.githubusercontent.com/50640730/143660340-7c5adcc1-4899-4f23-94ac-4498cf3d4906.png)

[2021-11-27 02:38] TueNguyen2911 commented on #2414
This is my idea to tackle with this issue. I wonder if it's headed into the correct direction

First of all, the `queue` returned from `createQueue(name)` [backend/lib/queue.js](https://github.com/Seneca-CDOT/telescope/blob/29951b7b60fa33d83e14b05f24d4a4c2722f9ef7/src/backend/lib/queue.js) is a Bull queue with a `ioredis` client connection.

I probably can create a new Bull queue with same `ioredi

[2021-11-27 02:41] humphd commented on #2414
Yes, you're right.  The "backend" of the feed is in our Redis database, and you're basically attaching (another) Bull client to it.

I wonder if this should go in the Posts service, or in the Parser service.  We don't currently use the parser service, so probably we should start with the change to Posts, and migrate there later if necessary.

[2021-11-27 03:25] TueNguyen2911 commented on #2414
I never looked at the Parser service, it looks like it has what is needed to query the queue's status.

Anyways, I think I'll try adding the change into the Posts service.

[2021-11-27 22:50] tuanthanh2067 commented on #1408
I'm wondering whether or not we're able to get the total amount of posts when doing a search? Because in the `SearchResults.tsx`, it seems like it fetches 5 posts at a time

[2021-11-27 23:40] humphd commented on #1408
You access in the JSON returned, `results`:

<img width="1089" alt="Screen Shot 2021-11-27 at 6 39 17 PM" src="https://user-images.githubusercontent.com/427398/143723516-1b7e1f14-9609-4880-9c43-94a4a91b63eb.png">

[2021-11-28 02:42] #2527 closed

[2021-11-28 15:35] humphd opened #2533 "Add trojan source eslint plugin to Telescope and Satellite"
Let's add https://github.com/lirantal/eslint-plugin-anti-trojan-source to Telescope and Satellite, so we can avoid some of the problems other npm packages have had recently.

[2021-11-28 15:44] #2489 closed

[2021-11-28 15:47] humphd opened #2534 "Add padding to build log terminal"
The build log terminal's content is pressed right against the edge, and doesn't look as nice as it could.  Let's add a small bit of padding so there is some extra "black" space.

<img width="1356" alt="Screen Shot 2021-11-28 at 10 46 05 AM" src="https://user-images.githubusercontent.com/427398/143775346-d8afdcf7-b618-463d-86ac-a1972e09ac2a.png">

[2021-11-28 15:51] humphd opened #2535 "Cache build log for current/previous build"
When you go to the build log in the dashboard, it shows you what's happening with the current build:

<img width="1345" alt="Screen Shot 2021-11-28 at 10 49 36 AM" src="https://user-images.githubusercontent.com/427398/143775429-437bc028-4b12-422f-b8bc-6dbb5d937dd5.png">

That's useful, but not as useful as it could be.  What I'd really like is to see is the entire log for the current build get sen

[2021-11-28 16:15] menghif commented on #2534
I would like to take this one

[2021-11-28 20:50] humphd opened #2537 "Stop using actions/cache in GitHub Actions Workflows"
See https://github.com/Seneca-CDOT/telescope/pull/2536#issuecomment-981127629.  Let's try using the built-in npm `cache` facility of the setup-node action and remove the actions/cache.

[2021-11-28 20:53] #2525 closed

[2021-11-28 20:57] humphd opened #2538 "MIME type mismatch in build log dashboard"
<img width="1364" alt="Screen Shot 2021-11-28 at 3 56 52 PM" src="https://user-images.githubusercontent.com/427398/143785713-1bc41807-8249-4692-b4ea-70df1f373093.png">

[2021-11-28 20:59] humphd opened #2539 "Build log get stuck after loading"
When I go to look at a build happening in the dashboard, the log initially shows, but then nothing ever gets added.  It seems like the connection isn't being processed properly.

<img width="1359" alt="Screen Shot 2021-11-28 at 3 59 06 PM" src="https://user-images.githubusercontent.com/427398/143785786-0515fb17-e005-47ed-b9ef-9767b2d51a89.png">

[2021-11-28 21:16] Andrewnt219 commented on #2539
Did it work as expected before?

[2021-11-28 21:51] humphd commented on #2539
Not sure, this is the first time I'm using it vs. reviewing.

[2021-11-28 22:02] Andrewnt219 commented on #2539
I'll look into this.

[2021-11-28 23:23] TueNguyen2911 commented on #2414
Hi @humphd, I've added a draft PR.

[2021-11-29 02:11] dhillonks commented on #2533
@humphd Can I work on this?

[2021-11-29 02:12] humphd commented on #2533
Sure, combine this with some other fixes for 0.4.  This is pretty small.

[2021-11-29 02:15] dhillonks commented on #2537
@humphd Can I also work on this?

[2021-11-29 08:28] mkim219 commented on #2538
Can I work on this issue?

[2021-11-29 13:52] humphd commented on #2538
Yup, go for it.

[2021-11-29 14:58] humphd opened #2542 "Indicate a build is in progress in Dashboard build page"
When I go to a build in GitHub Actions, I get an animated indication that a build is happening, and how long it's been going for:

<img width="249" alt="Screen Shot 2021-11-29 at 9 55 32 AM" src="https://user-images.githubusercontent.com/427398/143890526-2b06dc28-f4b0-49a4-976a-2d4eb02f8930.png">

When it's done, the yellow animated circle becomes a green check mark or a red 'x'.

<img width="258"

[2021-11-29 15:40] humphd commented on #2542
Sure thing, assigned.

[2021-11-29 19:55] Yoda-Canada commented on #2542
@humphd Do I need to add the animated indication to each section?
![764667048d4dd311a1e8b376341f2eb](https://user-images.githubusercontent.com/55161917/143933835-d498532e-ae1e-4250-bf9b-a4054dc560c4.png)

[2021-11-29 19:58] humphd commented on #2542
Not on that page, on the build page, probably in the header:

https://dev.api.telescope.cdot.systems/v1/status/pages/build.html

[2021-11-29 20:15] Yoda-Canada commented on #2542
What is the purpose of this log and who will build it? I can't find the relevant information in README and CONTRIBUTING.

[2021-11-29 20:29] mqnguyen5 commented on #2515
Can I give this a shot?

[2021-11-29 20:31] humphd commented on #2515
Sure, pair it with other things to make something large enough for 0.4 (this is small).

[2021-11-29 20:31] mqnguyen5 commented on #2515
Will do, I already have another issue undergoing

[2021-11-29 20:35] humphd commented on #2542
Aren't you also working on #2519, which is related to this as well?

The autodeployment server builds our containers when someone merges/tags on GitHub, and deploys it to staging or production.  We stream that log and the build log page displays it in the terminal.

The log is available from https://dev.api.telescope.cdot.systems/deploy/log (404 if no log is happening) and the build status is at h

[2021-11-29 20:36] humphd opened #2546 "https://dev.api.telescope.cdot.systems/deploy/status is 404"
https://dev.api.telescope.cdot.systems:4000/status works but https://dev.api.telescope.cdot.systems/deploy/status gives 404. Do I have the URL wrong, or is this broken?

cc @AmasiaNalbandian, @manekenpix

[2021-11-29 20:58] Andrewnt219 commented on #2515
Oh wait, I think @manekenpix  did this already.

[2021-11-29 22:52] #2401 closed

[2021-11-29 22:53] manekenpix commented on #2546
@humphd I think the URL is supposed to be https://dev.telescope.cdot.systems/deploy/status

[2021-11-29 23:06] humphd commented on #2546
That makes sense!  Thank you for correcting me.  Morphing this into an issue about docs

[2021-11-30 00:27] suhhee1011 commented on #2535
Can I give it a shot?

[2021-11-30 01:28] humphd commented on #2535
@suhhee1011 sure.  This is going to likely involve updates to https://github.com/Seneca-CDOT/telescope/blob/master/tools/autodeployment/builds.js.  @manekenpix and I are probably the ones most aware of this code, if you want to ask questions.

[2021-11-30 19:05] tuanthanh2067 opened #2549 "Bookmarking posts for authenticated users"
**What would you like to be added**: A feature in which authenticated user will be able to bookmark a post, and view later.

**Why would you like this to be added**: In my opinion, this is quite a cool feature as we gather all people's posts from different sites.
For example, a person may like this post, that post, another post which are from created by `3 different people` and published from `3 d

[2021-11-30 21:27] DukeManh opened #2550 "`justify` in Grid is deprecated, use `justifyContent` instead"
There are some places in our code where we use `justify` prop in Grid component. The prop name is deprecated and we should use `justifyContent` instead.

<img width="587" alt="image" src="https://user-images.githubusercontent.com/51073515/144130573-a611fd34-a1a6-4f96-a453-8459bdd40121.png">

**What would you like to be added**:

**Why would you like this to be added**:

[2021-11-30 22:36] nguyenhung15913 commented on #2550
@DukeManh @humphd I can work on this, can you assign it to me?

[2021-11-30 22:42] humphd commented on #2550
Sure, done.

[2021-12-01 01:54] Andrewnt219 opened #2553 "Add a template engine for status dashboard"
**What would you like to be added**:
A template engine somewhat like this

[code]

[code]

At the moment, I'm looking at the good old [handlebars](https://handlebarsjs.com) from WEB322. It's the closest to HTML and has a [simple compiler setup](https://handlebarsjs.com/installation/precompilation.html#getting-started) like SCSS.

**Why would you like this to be added**:
Two main reasons:
- The dup

[2021-12-01 02:33] #2507 closed

[2021-12-01 02:34] humphd commented on #2553
Sounds like a good idea to me.

[2021-12-01 02:43] Kevan-Y commented on #2553
Maybe we can separate into several issues maybe, one to setup handlebars, other to add components

[2021-12-01 02:43] DukeManh commented on #2553
Let's eventually use React to write it 😃.

[2021-12-01 02:46] Kevan-Y commented on #2553
That what I was thinking too using Next.Js.

[2021-12-01 02:49] humphd commented on #2553
@DukeManh I'm hoping to use a different set of technologies so students not as interested in React have a place to work as well.  We have all the Next.js we can handle already :)

[2021-12-01 03:07] mqnguyen5 commented on #2416
Hi, after spending some time working on the code, I managed to do it like this:

[code]

I would really appreciated if someone can let me know if I'm on the right track. Thanks

[2021-12-01 03:12] humphd commented on #2416
Looks like you're heading in the right direction to me.  I would make this change:

[code]

Also, your `catch` is going to need to do more than just log an error (e.g., we'll have to show this in the UI as well).

[2021-12-01 04:24] #2550 closed

[2021-12-01 06:07] HyperTHD opened #2554 "Search page re-renders on entering input"
**What happened**:
When entering any text inside the search bar, the search page re-renders and focus is removed from the search bar.

**What should have happened**:
When entering any text, it should keep focus so that you can continue entering your search text. This is a render issue, most likely a variable/function introduced in one of our recent PRs that caused this issue.

The issue is caused

[2021-12-01 06:29] Kevan-Y commented on #2553
I can try and work on it.

[2021-12-01 16:32] humphd opened #2555 "[3.0] Investigate Supabase"
I wonder if we could use a self-hosted https://supabase.com/, (project is on https://github.com/supabase/supabase).  https://www.youtube.com/watch?v=WiwfiVdfRIc is a good overview.

One of my longer term goals is to move toward running Telescope in the cloud.  I haven't figured out how to fund that (yet), so in the meantime we probably need to create our own cloud instead.  Since we're already sli

[2021-12-01 23:40] DukeManh commented on #2555
If I remember correctly, self-hosted Supabase doesn't have a dashboard.

[2021-12-01 23:49] humphd commented on #2555
@DukeManh they open sourced it today! https://news.ycombinator.com/item?id=29401589

[2021-12-01 23:51] DukeManh commented on #2555
@humphd That's awesome news.

[2021-12-02 00:03] drew5494 commented on #2554
Can I work on this? @humphd

[2021-12-02 00:16] humphd commented on #2554
Assigned!

[2021-12-02 01:35] humphd commented on #2537
This is happening as part of #2545, closing.

[2021-12-02 01:35] #2537 closed

[2021-12-02 01:36] humphd commented on #2243
We're going to try using pnpm, so this isn't needed any more.  Closing.

[2021-12-02 01:36] #2243 closed

[2021-12-02 03:53] mqnguyen5 commented on #2416
<img width="1084" alt="Screen Shot 2021-12-01 at 10 52 49 PM" src="https://user-images.githubusercontent.com/59778930/144354666-505bd5d4-b2d1-4728-9da3-d7fe129c6d7e.png">

Messing around with the design, @humphd what do you think of it?

[2021-12-02 03:55] humphd commented on #2416
Keep going, it's looking cool.

[2021-12-02 03:57] humphd commented on #2416
One thing, if the build is currently happening, we should include some icon/animation.  Maybe instead of Start Date/Stopped Date, we have something like whether it's happening or not, and how long its been running.  If it's stopped, how long it took and when it stopped.

[2021-12-02 03:58] humphd commented on #2416
<img width="927" alt="Screen Shot 2021-12-01 at 10 58 39 PM" src="https://user-images.githubusercontent.com/427398/144355143-589806cf-9fe9-4860-9156-2457b14aeaad.png">

Consider how GitHub does it.

[2021-12-02 04:00] mqnguyen5 commented on #2416
Alright, I'll see what I can do

[2021-12-02 06:35] dbelokon commented on #1026
Hello, @humphd, @cindyledev!

This really sparked my interested, so I would like to bring this idea "back to life"; it sounds like a really cool feature that everybody would like to try out.

I have a couple of comments/ideas as to how this can be realized:

1. I find that there are three major features that are, in some way, related to each other: regular videos presented in the feed, mixed with

[2021-12-02 15:41] #2117 closed

[2021-12-02 18:26] cindyledev commented on #1026
I'm excited for this idea to be resurrected

[2021-12-02 18:31] cindyledev commented on #2555
I've been struggling with Next Auth and Prisma at work for who knows how long. This issue has motivated me to give Supabase a try. It actually looks super promising. If I get Supabase working at work, I'll share my knowledge with everyone at Telescope via blog post or Slack :)

[2021-12-02 18:49] irenejoeunpark opened #2559 "Link a title to redirect to the original post"
**What would you like to be added**:
When the user clicks the title, redirect to the original post on its platform.

**Why would you like this to be added**:
Currently, the title is clickable, but when clicking the post title, nothing happens.
Want to make the title redirect to the original post.

[2021-12-02 18:59] irenejoeunpark commented on #2488
@humphd This seems like something I have never worked on before. Can I work on this issue?

[2021-12-02 19:35] humphd commented on #2498
[code]

[2021-12-02 19:47] humphd commented on #2488
Sure.  We set our policy here: https://github.com/Seneca-CDOT/telescope/blob/master/src/api/status/src/server.js#L9-L30, and you can read about it at https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP and https://helmetjs.github.io/.

[2021-12-02 21:08] HyperTHD commented on #2559
One thing you can also do, is have the original post open on a new tab instead of on the same tab.
Let's users continue checking out other telescope posts without having to go back while also having the blog they want to read available as well

[2021-12-02 21:14] tuanthanh2067 commented on #2549
@humphd any suggestion of how to implement this?

[2021-12-02 21:36] humphd commented on #2559
Clicking on the title should expand it, for long titles.  Also, clicking that expands to show the mobile GitHub area.  If we create multiple click areas, will it get confusing?  Also, click the date, or the new share icon will do this.

[2021-12-03 04:44] dhillonks opened #2560 "Add ESLint to Satellite"
**What would you like to be added**:
[ESLint](https://eslint.org/) to Satelitte
**Why would you like this to be added**:
As a part of #2533, trojan source eslint plugin is being added to Telescope. However, Satellite does not have `eslint` configured yet. So, it would be nice to add a linter to Satellite and it would also allow the addition of the trojan source plugin.

[2021-12-03 04:55] dhillonks commented on #2560
PR created here: https://github.com/Seneca-CDOT/satellite/pull/21

[2021-12-03 16:21] #2533 closed

[2021-12-03 18:30] humphd opened #2563 "Standardize package versions across package.json files"
In #2545, @menghif and I are debugging an issue in CI with versions and the lock file.  It led me to take a look at what packages/versions we have defined for `dependencies` and `devDependencies` in all of our `package.json` files (see below).

***tldr;***: we should standardize all of our packages, and probably start using `^` versions by default, since `pnpm` is going to introduce a lock file.

[2021-12-03 20:21] menghif opened #2564 "Optimize Gitpod Environment Image"
In #2545 we are adding a [custom Gitpod Dockerfile](https://github.com/Seneca-CDOT/telescope/pull/2545/commits/b43484b4b83f56ef690ddbf090616c205a714296) to install `pnpm` in our Gitpod environment.

By default Gitpod uses the [`gitpod/workspace-full`](https://github.com/gitpod-io/workspace-images/blob/master/full/Dockerfile) image. This includes a lot of tools we don't need. Instead we could use t

[2021-12-04 01:30] HyperTHD commented on #2563
So are we re-introducing lock files with the switch to pnpm? Hoping this actually ends up benefiting unlike the lock files with npm

[2021-12-04 01:31] humphd commented on #2563
We're thinking to try and see how it goes.  Right now we have an odd mix of pinned and un-pinned versions, so it's a mess (see above).  The lock files will help a ton in CI and deployment especially.

[2021-12-04 03:59] dhillonks commented on #2564
I'd like to give this a try.

[2021-12-04 16:36] #2387 closed

[2021-12-04 17:42] Andrewnt219 opened #2566 "Card for total posts is not displayed"
**What happened**:
![image](https://user-images.githubusercontent.com/52666982/144719159-10d507be-aacf-4786-b71a-e96f0988c206.png)

**What should have happened**:
Total posts should display and align with total feeds card

**How to reproduce it (as precise as possible)**:
Go to [https://dev.api.telescope.cdot.systems/v1/status](https://dev.api.telescope.cdot.systems/v1/status)

**Anything else we

[2021-12-04 18:40] #2566 closed

[2021-12-04 21:32] AmasiaNalbandian commented on #2222
Should we store this in their localstorage and read the preference on load?

[2021-12-04 21:58] AmasiaNalbandian opened #2568 "Min-height for blog posts needs adjustment to avoid GitHub details overflowing into the next post"
**What happened**:
When a user submits a short blog, the blog details on the right side overflow into the next blog.

**What should have happened**:
The blog details should not overflow into the blog below - we should try to set a min-height per blog to avoid the overflow. This will leave some extra space in the blog area, but will not interfere with the design.

**How to reproduce it (as precise

[2021-12-05 03:34] AmasiaNalbandian commented on #2110
@humphd I can take a look into this again now, I saw the last two PRs that you linked and it seems like it's been left open. Should I continue from the work there or are there new suggestions for the search?

[2021-12-05 03:35] humphd commented on #2568
Great catch, and good suggestions.

[2021-12-05 03:36] humphd commented on #2222
We do, see https://github.com/Seneca-CDOT/telescope/blob/bcf9c4a59a3bf81750e42bc45683d936899d1794/src/web/src/hooks/use-preferred-theme.ts#L9

[2021-12-05 03:37] humphd commented on #2110
@AmasiaNalbandian Sure, if you like.  There are a few PRs already open on this that you could start with.

[2021-12-05 14:43] ritikbheda commented on #2568
Hi, I would like to work on it.

[2021-12-05 14:52] #2412 closed

[2021-12-05 20:48] humphd opened #2569 "Improve invalid feed handing"
Now that @hphan9's work on #2520 is merged, we can finally see what's happening with our feed parser and invalid feeds: https://dev.api.telescope.cdot.systems/v1/posts/feeds/invalid.

Looking through these I think we need to fix some things:

- remove `\n` from the `reason` so that we can display it as a single line.  We could replace them with `' '` (space)
- figure out why 304s are showing up as

[2021-12-05 20:58] tpmai22 commented on #2569
I would love to give this a try !

[2021-12-05 21:09] humphd commented on #2569
@tpmai22 OK, sounds good.  @hphan9 is our resident "invalid feeds" expert, so you can chat with her and get her to review.

[2021-12-06 02:25] HyperTHD commented on #2222
Just tested this the way @DukeManh showed in his video, and hasn't broken for me.
Might not be an issue anymore, can anyone else verify if this is still an issue?

[2021-12-06 17:28] #2534 closed

[2021-12-06 17:32] #1408 closed

[2021-12-06 20:33] irenejoeunpark commented on #2559
That makes more sense I guess! I will leave it like this for now!

[2021-12-06 20:34] #2559 closed

[2021-12-06 20:55] humphd commented on #2539
I think the issue here is that we're processing the first chunk, and then not calling `read()` again to handle the next one.  See https://developer.mozilla.org/en-US/docs/Web/API/Streams_API/Using_readable_streams#reading_the_stream

In my original version we create a "loop" by having `processLog` trigger the next `read()`: https://github.com/humphd/telescope/blob/9e6be5ebf663b8c28d562fab5026a95c0

[2021-12-06 21:05] dhillonks commented on #2560
Also added to CI/CD: https://github.com/Seneca-CDOT/satellite/pull/22

[2021-12-06 21:05] #2560 closed

[2021-12-06 21:05] dhillonks commented on #2560
Merged and closed!

[2021-12-06 22:15] HyperTHD opened #2574 "Use Redis from Satellite in all microservices that need them"
**What would you like to be added**:
Redis was added awhile back to Satellite. We should update our microservices that use redis to bring it from Satellite. Once that's done, any reference to `ioredis` and `ioredis-mock` can be removed from the services currently using them

[2021-12-06 22:18] humphd commented on #2574
Nice catch, thanks for filing this.

[2021-12-06 22:34] Andrewnt219 commented on #2539
Thanks for the lead, I'll spend time on this today.

[2021-12-06 22:37] AmasiaNalbandian commented on #2222
I was able to reproduce this on the weekend... but now it's fast and I can't tell. On the weekend, you would see a quick flash of white before it swapped back to the dark theme. Today, I don't see any white background on refresh.

[2021-12-06 23:10] humphd commented on #2222
Shall we close and re-open if it starts happening again?

[2021-12-07 00:02] AmasiaNalbandian commented on #2222
I tested on Chrome and Firefox and it was fine. I think we're ok to close.

[2021-12-07 03:30] #2222 closed

[2021-12-07 05:55] Andrewnt219 commented on #2539
Didn't know there was a js version of this logic. Pretty nice way to organize the logic too.

[2021-12-07 05:57] manekenpix commented on #2452
@juuuuuuun any progress here?

[2021-12-07 15:24] #2539 closed

[2021-12-07 16:53] #2563 closed

[2021-12-07 18:49] #2418 closed

[2021-12-07 18:55] HyperTHD opened #2578 "Extract ElasticSearch from Satellite, use in all relevant services"
**What would you like to be added**:
Similar to #2574, ES was added to Satellite awhile back. Let's extract it and use it in all relevant services (Mainly the search service)

[2021-12-08 03:13] TueNguyen2911 commented on #2574
I’d like to try this one

[2021-12-08 16:37] #2564 closed

[2021-12-08 17:27] LuigiZaccagnini commented on #2444
Fixing [this terminus issue](https://github.com/godaddy/terminus/issues/195) to help solve this issue.

[2021-12-08 18:21] irenejoeunpark commented on #2578
I would like to give it a try on this issue!

[2021-12-08 18:58] humphd commented on #2578
Go for it @irenejoeunpark

[2021-12-08 18:59] irenejoeunpark opened #2583 "Title container floating with some space, and overflow with the scroll on mobile view."
While working on issue #2373, found out that the title container is floating and overflowing when scrolling through the content.

https://user-images.githubusercontent.com/54859944/145267660-f8ad73fb-d6ee-4604-b781-08385c3edbb1.mov

**What happened**:
The title container is stuck on the top, but floating with a small space so that the background content is slightly showing on top of the container.

[2021-12-09 01:09] JiaHua-Zou commented on #2583
Is this issue taken? If not I would like to try fixing this issue.

[2021-12-09 01:18] irenejoeunpark commented on #2583
Oh I am actually working on this issue! Thanks for the interest

[2021-12-09 03:27] hphan9 commented on #2437
Hi Cindy, Can I work on this issue?

[2021-12-09 14:04] #2554 closed

[2021-12-09 14:17] humphd commented on #2583
@irenejoeunpark please assign yourself so that it's clear to others.

[2021-12-09 16:11] #2553 closed

[2021-12-09 16:39] DukeManh commented on #2569
I think there's a problem with how feeds are invalidated. For example:
This feed https://dev.api.telescope.cdot.systems/v1/posts/feeds/8b0d40ff90 is invalid but their posts are still showing here https://telescope.cdot.systems/search/?text=vincent%20lam&filter=author.

https://telescope.cdot.systems/search/?text=Shelley%20Shi&filter=author && https://dev.api.telescope.cdot.systems/v1/posts/feeds/1

[2021-12-09 16:54] humphd commented on #2569
I wonder if WordPress went through some kind of down-time or migration where the returned result for these failed, and we marked them invalid; now they work.  It's very odd.  @manekenpix was discussing this too.

For sure a 304 should not be invalid.

[2021-12-09 19:45] Andrewnt219 opened #2587 "Add button to copy build-log content to clipboard"
**What would you like to be added**:
A button to copy all current content of the build-log into the clipboard

**Why would you like this to be added**:
cc @humphd

[2021-12-09 19:46] humphd commented on #2587
@tuanthanh2067 did similar work for sharing posts in #2548, which might inform this, in case that's helpful.

[2021-12-09 19:49] Andrewnt219 commented on #2587
I skimmed through Xterm exposes methods, and it looks like we should be able to get the content from the canvas and then write it to the clipboard.

[2021-12-09 20:16] Andrewnt219 opened #2588 "Add a helper to display Toast in dashboard"
**What would you like to be added**:
A helper to display [toasts](https://getbootstrap.com/docs/5.0/components/toasts)
[code]

**Why would you like this to be added**:
I'm working on #2587 and I need a way to inform users if the content is successfully copied to the clipboard or something wrong has occurred. Also to replace the `console.error(error)` in catch.

[2021-12-10 14:51] #2413 closed

[2021-12-10 14:56] hphan9 commented on #2437
Hello @humphd  and @cindyledev , I checked the // src/api/feed-discovery/package.json. It seems like the file is updated:
[code]
Maybe we don't need this issue.

[2021-12-10 15:02] humphd commented on #2437
Great, thanks for confirming this.  Do we have any other issues that should be closed that are similar?

[2021-12-10 15:02] #2437 closed

[2021-12-10 15:16] hphan9 commented on #2437
this issue #1897  https://github.com/Seneca-CDOT/telescope/issues/1897 might be similar but it is not fixed. I can take that issue.

[2021-12-10 16:39] humphd opened #2591 "Add UI to deal with GitHub rate limiting in front-end"
We've got a bunch of fancy new GitHub components for our posts, each of which make various calls to the GitHub API from the browser.  GitHub's API is [rate limited](https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting), and for unauthenticated requests:

I haven't hit this yet, but it's just a matter of time.  As we scroll through posts, eventually we'll hit the 60/hour

[2021-12-10 17:08] Andrewnt219 commented on #2591
Is this for the dashboard?

[2021-12-10 17:09] humphd commented on #2591
No, for the React front-end with GitHub info in the sidebar of a post.  We can manage this on the server side for the Dashboard with caching in Redis.

[2021-12-10 17:24] Andrewnt219 commented on #2505
Closed with #2570

[2021-12-10 17:24] #2505 closed

[2021-12-10 17:25] Andrewnt219 commented on #2519
Closed with #2556

[2021-12-10 17:25] #2519 closed

[2021-12-10 19:49] #2414 closed

[2021-12-10 20:35] HyperTHD opened #2592 "Broken url when trying to go back to dashboard from build page on staging"
**What happened**:
When on the build log page on the dev view for the status page and trying to go back to the dashboard, it leads to an empty page that doesn't exist.

![image](https://user-images.githubusercontent.com/16841702/145637618-03bd6f0a-8a65-458e-b470-2f5cfafebbb3.png)
![image](https://user-images.githubusercontent.com/16841702/145637872-01885e63-b1d4-4b6a-b4b9-0d186dc2fdb9.png)

[2021-12-11 16:22] humphd opened #2597 "Update Elasticsearch when update for log4j vulnerability is shipped"
From https://discuss.elastic.co/t/apache-log4j2-remote-code-execution-rce-vulnerability-cve-2021-44228-esa-2021-31/291476

[2021-12-11 17:45] humphd commented on #1897
Related: #2597

[2021-12-11 17:52] hphan9 commented on #1897
@humphd , so we need to downgrade the version 7.14.2 to 6.8.21 or upgrade it to 7.16.1 .  I saw the newest version is 7.16.0 https://www.elastic.co/guide/en/elasticsearch/reference/7.16/release-notes-7.16.0.html

[2021-12-11 18:36] #1897 closed

[2021-12-11 18:37] humphd commented on #1897
I suspect we'll see a 7.16.1 shipped very soon.

[2021-12-12 23:56] #2588 closed

[2021-12-13 04:59] #2592 closed

[2021-12-13 17:55] humphd opened #2602 "Refactor GitHub Actions workflows to use Reusable Workflows"
Our current CI and Release workflows duplicate a bunch of things.  It would be good if we could have the deploy reuse things from CI, or form a base file.  This is now supported in GitHub Actions, see https://docs.github.com/en/actions/learn-github-actions/reusing-workflows

[2021-12-13 19:23] tpmai22 opened #2604 "Figues out why 304 got marked as `invalid`"
**What happened**:
Refer to #2569

The 304 show up as an invalid when it state that the content has not been modified yet and we would set `shouldDowload` to false
https://github.com/Seneca-CDOT/telescope/blob/8b022875006add9b1b7f228ec1d47d58ba5f983b/src/backend/feed/processor.js#L76

After my debugging attempt it seem like the `304` get into the parser
https://github.com/rbren/rss-parser/blob/33a

[2021-12-13 19:25] humphd opened #2605 "Deal with console errors/warnings in Dashboard"
Go to https://dev.api.telescope.cdot.systems/v1/status and open your console:

[code]

[2021-12-13 19:26] humphd commented on #2604
@tpmai22 I did a whole debugging session for you on Slack to look at why this is, can you include that info here for follow up?

[2021-12-13 20:07] tpmai22 commented on #2604
Debugging session and advices:

[2021-12-14 02:34] #2597 closed

[2021-12-14 02:48] #2569 closed

[2021-12-14 14:23] humphd opened #2609 "Switch to Renovate from Dependabot for pnpm support"
Every dependabot PR is breaking, due to pnpm.  [Until dependabot has pnpm support, let's try renovate](https://github.com/dependabot/dependabot-core/issues/1736#issuecomment-950607617).

[2021-12-14 16:23] humphd opened #2610 "Update swr to 1.1.1 in order to pick up Andrew's feature work"
One of my goals for 2022 is that we start to become more outward facing in our Telescope contributions, and find ways to give back to the projects that we depend upon.  Christmas came early and we have one of our first examples of what this looks like.  One of our favourite front-end dependencies is Vercel's [swr](https://swr.vercel.app/), and our colleague @Andrewnt219 has been on an epic journey

[2021-12-14 16:41] Andrewnt219 commented on #2610
Thanks for the shout-out. I'll happily make this upgrade.

As for its use, I can only think of this case where [backend includes an interval in the response](https://github.com/vercel/swr/releases/tag/1.1.1)

[2021-12-14 16:44] humphd commented on #2610
We don't need to find a way to use the feature, I just want it updated as reflection of the work, and what it represents.  This is the way to exist in the open source ecosystem: dependencies should be something we use, but also something we help maintain.

[2021-12-14 17:39] dhillonks commented on #2602
Can I work on this?

[2021-12-14 18:27] humphd commented on #2602
The answer is always 'yes.'

NOTE: this is a brand new feature, so you'll have to research how it works a bit, and we'll have to iterate a bunch.

[2021-12-14 19:16] #2416 closed

[2021-12-14 19:25] humphd opened #2611 "Dashboard Build Log layout issues"
We don't have the layout quite right on the [build log dashboard page](https://dev.api.telescope.cdot.systems/v1/status/build).

First, the height of the terminal isn't right, now that we've added the build header, and it's overflowing the page:

<img width="1242" alt="Screen Shot 2021-12-14 at 2 22 02 PM" src="https://user-images.githubusercontent.com/427398/146065612-2851dd33-915d-4b03-9618-5267

[2021-12-15 04:14] HyperTHD commented on #2611
Related to this issue, the hamburger icon for the dashboard floats to just beside the build log title at 767px rather than floating to the right as it should for most mobile views. We should also correct this as well.

This is how it looks with a max-width of 767px:
![image](https://user-images.githubusercontent.com/16841702/146121959-71d668c5-bebe-4817-aefe-ff360d843845.png)

This is how it shoul

[2021-12-15 22:53] humphd opened #2616 "Format all numbers in dashboard using commas where necessary"
Some of the numbers we show aren't being formatted with commas:

<img width="984" alt="Screen Shot 2021-12-15 at 5 52 03 PM" src="https://user-images.githubusercontent.com/427398/146277161-6889fe26-87df-491b-9cf2-fd3b1a134bd0.png">

`4097` vs. `4,097`.  We can easily do this with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat.

[2021-12-16 01:37] AmasiaNalbandian opened #2618 "Refactor the search to use the advanced search route"
**What would you like to be added**:
[The advanced search route backend is being implemented](https://github.com/Seneca-CDOT/telescope/pull/2617). However the react context written for the search needs to be refactored to change the route we push. Right now it's very static and not too flexible.

**Why would you like this to be added**:
Refactor all of the search queries to use the one query we ha

[2021-12-16 01:45] #2602 closed

[2021-12-16 03:37] Qiwen-Yu commented on #2511
@humphd Sorry for the late response, but this link does not work now  https://dev.api.telescope.cdot.systems/v1/status/pages/build.html

[2021-12-16 07:32] irenejoeunpark opened #2620 "Update environment-setup.md to install and use pnpm"
**What happened**: Current document instructs to use npm

**What should have happened**: Update the document on how to install and run using pnpm

**Environment**:

- OS: Windows
- Browser:

[2021-12-16 13:37] cindyledev commented on #2620
Hi @irenejoeunpark, seems like this issue has already been fixed https://github.com/Seneca-CDOT/telescope/commit/119f829237bfe1746266db781c2659aea8de9f0d. Closing.

[2021-12-16 13:37] #2620 closed

[2021-12-16 14:23] humphd commented on #2511
Things change when you wait 3 weeks, https://dev.api.telescope.cdot.systems/v1/status/build

[2021-12-16 14:54] AmasiaNalbandian opened #2621 "Add tests for search"
**What would you like to be added**:
Once we complete the searchbar, we need to add tests to the files to ensure they remain correct when making any changes.

Please reference: https://github.com/Seneca-CDOT/telescope/tree/master/src/api/search

**Why would you like this to be added**:
We need tests for this section of the code, currently there are none.

[2021-12-16 14:56] humphd opened #2622 "Build log claims to not be able to get build status when no build running"
When there's no current build running, the build log page shows an error message:

<img width="1275" alt="Screen Shot 2021-12-16 at 9 54 31 AM" src="https://user-images.githubusercontent.com/427398/146394676-5c490487-04ad-4005-88da-674eeb0ffeeb.png">

However, the problem isn't that it can't get build status, it's just that there is no `current` build running.  Let's improve this.

Also, ideally w

[2021-12-17 01:04] #2587 closed

[2021-12-18 14:49] humphd opened #2627 "Fix naming of "Users" in GitHub Info"
What we're calling "Users" in the GitHub info sidebar is really "Users/Orgs" or "Users and Orgs":

<img width="183" alt="Screen Shot 2021-12-18 at 9 47 56 AM" src="https://user-images.githubusercontent.com/427398/146645168-bffdcb3c-1362-48ae-acf8-c52eae687591.png">

[2021-12-18 18:45] DukeManh opened #2628 "Search page crash | Unhandled invalid URL"
**What happened**:
Go to [search](https://telescope.cdot.systems/search/) and search for `humphrey`, the page will crash because of an unhandled exception when calling `new URL`.
**Environment**:

- OS: OSX
- Browser: Firefox

[2021-12-19 23:31] #2628 closed

[2021-12-20 01:20] HyperTHD commented on #2627
Taking this

[2021-12-20 18:31] #2610 closed

[2021-12-22 17:05] DukeManh commented on #2609
Let's get Renovate to work for us during Christmas.

[2021-12-22 17:17] DukeManh commented on #2609
@humphd, Renovate pins dependencies by default vs Semver style (can be configured), which style are we pursuing if we add this?
I personally like version pinning with `pnpm-lock` because it makes sure it works for everyone for having to exact same dependencies installed.

[2021-12-22 23:40] humphd commented on #2609
I'm fine with pinning. We can change later if we don't like it. Thanks for working on this.

[2022-01-03 16:58] #2609 closed

[2022-01-03 17:33] renovate[bot] opened #2638 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] chore(deps): update dependency eslint to v8
 - [ ] chore(deps): update dependency eslint-config-airbnb to v19
 - [ ] chore(deps): update dependen

[2022-01-03 17:38] humphd opened #2639 "Happy New Year!"
We're failing CI with a front-end snapshot test that is hard-coding the year 2021.  Welcome to 2022 everyone!

See:

- https://github.com/Seneca-CDOT/telescope/runs/4693402544?check_suite_focus=true
- https://github.com/Seneca-CDOT/telescope/blob/d751549c04d99d366f88bed624cdda5ff2b40fa5/src/web/src/components/__snapshots__/AboutFooter.test.tsx.snap#L155

[2022-01-03 17:54] DukeManh commented on #2639
It's probably better to mock the `Date()` function. https://jestjs.io/docs/snapshot-testing#2-tests-should-be-deterministic

[2022-01-03 19:19] #2639 closed

[2022-01-03 19:34] humphd opened #2642 "Increase test timeout for intermittent e2e CI failures"
We sometimes fail our e2e tests on CI:

[code]

I suspect that this is resource constraints on the VMs we get from GitHub for Actions, and if we gave it more time before it timed-out we'd be OK.

Let's try bumping https://github.com/Seneca-CDOT/telescope/blob/master/jest.config.base.js#L12 to 20s or something.

[2022-01-05 14:04] humphd commented on #2153
@chrispinkney and @manekenpix started this work in https://github.com/Seneca-CDOT/telescope/pull/2239, and we can likely build on the initial PR there to get this done, once the users backend is in place.

[2022-01-05 23:12] humphd opened #2644 "Update Release docs for switch to pnpm"
I did a release tonight and noticed that the [current release docs](https://github.com/Seneca-CDOT/telescope/blob/master/docs/release.md) are out of date, and reference `npm` vs. `pnpm`.  I can confirm that using `pnpm version x.y.z -m "Release x.y.z"` works.

We should also update these docs to get rid of the stuff about running `outdated`, etc, and figure out the proper flow to use with `pnpm`.

[2022-01-06 00:10] humphd opened #2645 ""Reached 'maxPullRequests' count" doing release 2.4.0"
When I ran the 2.4.0 release, I got this warning: ``Reached 'maxPullRequests' count 200`, see https://github.com/Seneca-CDOT/telescope/actions/runs/1660730708.

It comes from https://github.com/mikepenz/release-changelog-builder-action/blob/01b8841de56ba0a99282b576470a58667d5bcfb6/src/pullRequests.ts#L82.  I wonder if we should bump `max_pull_requests` to something larger?

Config options are list

[2022-01-06 02:59] chrispinkney opened #2646 "Landing page hero-banner quote does not properly link to the appropriate blog post"
**What happened**:
On both dev and prod the quote does not link to the proper blog post. Interestingly both dev and prod link to different blog posts, curious. This happens locally, on dev, and on prod.

**What should have happened**:
The blog posts where the quote originated should have been linked.

**How to reproduce it (as precise as possible)**:
Click on the quote on the landing page.

**Anyt

[2022-01-06 14:19] humphd opened #2648 "Experiment with alternative CloudFlare deployment"
Reading https://blog.polyhaven.com/how-we-handle-80tb-and-5m-page-views-a-month-for-under-400/ last night, I wondered if there is anything we could do to improve our situation, specifically explore using CloudFlare for more aggressive caching (front-end assets, but also lots of our API calls). You can do a lot for free with them https://www.cloudflare.com/plans/free

[2022-01-06 19:10] humphd opened #2649 "Build a better picture of our dependency graph"
One of the 3.0 goals is to start being better stewards of the ecosystems we depend upon.  Telescope has lots of its own code, but if you consider all of the things we use (npm modules, docker images, command line tools, libraries, frameworks, etc.), it's massive.  However, we have very little visibility into it.  I'd like to change that.

Students often want help finding projects to work on in OSD

[2022-01-07 01:11] chrispinkney commented on #2646
Looks like this still persists on staging, despite the [latest vercel deployment](https://telescope-2inbbqhpp-humphd.vercel.app/) working as intended. Strange.

[2022-01-07 01:26] raygervais opened #2650 "Clicking on Version v2.4.0 leads to an undefined commit on https://telescope.cdot.systems/"
**What happened**:

When you select the version, it's redirects to an undefined (404) commit

![image](https://user-images.githubusercontent.com/14265337/148476120-05ca0431-1edd-4a10-b649-02f1bda5a522.png)

**What should have happened**:

When you select the version, it's supposed to take you to the GitHub commit relating to that release version

[2022-01-07 05:45] manekenpix commented on #2650
Some context:

We process the payload sent by GitHub [here](https://github.com/Seneca-CDOT/telescope/blob/cfc8f8f30f67869715f3dceed836cd76c4c76275/tools/autodeployment/webhook.js#L66), so we can  pass the sha to our deployment script [here](https://github.com/Seneca-CDOT/telescope/blob/cfc8f8f30f67869715f3dceed836cd76c4c76275/tools/autodeployment/builds.js#L75), and this sha is added to the `env`

[2022-01-07 16:40] humphd commented on #2648
[CloudFlare Workers](https://workers.cloudflare.com/) could also be an interesting way for us to replace some of our microservices with serverless functions.  I also see they just shipped a local-dev version that would make this interesting to experiment with https://blog.cloudflare.com/miniflare/

[2022-01-08 01:18] manekenpix commented on #1829
After all the recent changes, I'm not sure about how to work on this now. Maybe it doesn't need to be its own microservice anymore, and it can be part of the status microservice. Maybe an endpoint serving posts/feeds data that can be displayed in the hero banner (original implementation), or maybe all this data can be displayed in the new dashboard, along with all the repo data.

cc: @humphd @chri

[2022-01-08 03:00] humphd commented on #1829
Agreed. I think it can get distributed across other services, and the bulk of it can live in status.  Want to close it?

[2022-01-08 04:44] manekenpix commented on #1829
Yes, I'll close it then.

[2022-01-08 04:44] #1829 closed

[2022-01-12 18:59] #2627 closed

[2022-01-13 03:11] Andrewnt219 commented on #2488
This was probably fixed in #2570 .

[2022-01-13 03:11] #2488 closed

[2022-01-13 03:12] Andrewnt219 commented on #2487
Probably fixed in #2570

[2022-01-13 03:12] #2487 closed

[2022-01-13 14:19] menghif commented on #2649
The "Insights" tab also provides a list of GitHub links to all the dependencies we use.
https://github.com/Seneca-CDOT/telescope/network/dependencies

[2022-01-13 14:20] humphd commented on #2646
Looks like this has been fixed on staging.  Let's re-open if we hit it again, but I think we're good.

[2022-01-13 21:22] #2568 closed

[2022-01-13 23:41] humphd commented on #2535
I'll take this.

[2022-01-13 23:43] humphd commented on #1393
This has been solved with later versions of eslint and pnpm, closing.

[2022-01-13 23:43] #1393 closed

[2022-01-13 23:45] humphd commented on #1778
All the cool kids are talking about https://turborepo.org/.  We should look at both and see if either is a fit.

The main idea here is to define build steps that take into account dependencies between different parts of our monorepo.

[2022-01-13 23:50] humphd commented on #2511
Since the other issue is gone, I'm morphing this to deal with this issue instead:

[code]

[2022-01-14 01:07] humphd commented on #2649
I really want to do this in an automated way.

Because we're now using `pnpm` we can use the [`list` command](https://pnpm.io/cli/list) to help us:

[code]

This gives us our dependencies, and their dependencies, up to a depth of 2 (we can go deeper if we want).  With a bit of regex parsing, we can extract the package names, and then use that to query the GitHub API for bugs we could fix.

We coul

[2022-01-14 02:20] chrispinkney commented on #2111
@manekenpix and I have been trying to work on this slowly and would like to keep going, nearing completion I think!

[2022-01-14 02:54] menghif commented on #1778
I heard about this tool a few weeks ago but didn't really understand it. I would like to look into it more to see if we should use it vs going with Rushjs.

[2022-01-14 14:50] humphd commented on #2111
Cool.  I know that @TueeNguyen is interested in working on this as well, maybe you can collaborate?

[2022-01-14 15:03] humphd commented on #2642
I just hit this today, see:

- https://github.com/Seneca-CDOT/telescope/actions/runs/1698210094
- https://github.com/Seneca-CDOT/telescope/runs/4818283866?check_suite_focus=true

[2022-01-14 15:58] #2616 closed

[2022-01-14 16:25] AmasiaNalbandian commented on #2611
I can take this on. Should I aim for 2.5?

[2022-01-14 16:51] humphd commented on #2611
Yeah, 2.5 would be great, thanks.

[2022-01-14 17:05] JerryHue commented on #2649
I am aware that this might be a little bit too early to ask about this question, but I am wondering how the end application is going to be like.

Do we want a CLI like [`shoulders`](https://github.com/mjswensen/shoulders), which you invoke at the root of your project and extract the information from the package.json file? Or do we want a CLI that accepts a link to a GitHub repository?

[2022-01-14 17:08] TueeNguyen commented on #2111
Yes, I'd like to hack this. I'll start on Monday, got a Hackathon this weekend

[2022-01-14 17:31] humphd commented on #2649
I think that since Telescope is a web service and web app, we should think in those terms.  Imagine a little microservice that does periodic querying of our dependencies and gets GitHub data, caches it in Redis, then uses that to create some dashboard views that users can look through.

A cool first prototype might be a list of Issues labelled "good first issue" in any of our dependencies, or thei

[2022-01-14 17:32] humphd commented on #2111
@TueeNguyen cool, I'd encourage you to join in with @chrispinkney and @manekenpix, you'll learn a ton working with these two.

[2022-01-14 17:43] sirinoks opened #2655 "Breaking up issues into GitHub projects"
To have an idea of where the project is going we need to maintain a structure to our issues. GitHub projects offers such structure.
It was used before in Telescope, and was later abandoned. Currently we need people that will look at issues, figure out what they are about and assign them to a larger chunk of development in projects, or creating a separate project. For now we have assigned @sirinoks

[2022-01-14 17:58] JerryHue commented on #2649
This sounds promising! I will try to see if I can come up with anything during the weekend. If anybody else is up for this prototype, you may contact me. I'd love to discuss it further.

[2022-01-14 19:33] LuigiZaccagnini commented on #2444
Writing this here to document it so I don't lose it as I go down the rabbit hole!

[2022-01-14 20:10] cindyledev commented on #2655
Hi @sirinoks,

I love your fresh ideas on tackling multiple problems that Telescope has right now. I'm an alumni of Telescope and I also find it difficult to keep track of the ongoing changes happening with Telescope. You really have to dig around to find things. It's great to see that you're seeing all these challenges we are facing and the main ones I was able to pull from this are:

1. Project

[2022-01-15 04:20] humphd commented on #2642
@DerekJxy this didn't get closed.  You used `Fixes issue #2642` vs. `Fixes #2642`.  The specific format matters.  Next time, use `Fixes #...`

[2022-01-15 04:20] #2642 closed

[2022-01-15 16:38] Andrewnt219 opened #2658 "Integrate Github Octokit into dashboard"
**What would you like to be added**:

[Octokit](https://github.com/octokit/core.js) is Github SDK to interact with Github API. This is the first step of integrating  Octokit into Telescope (part of [Telescope 3.0](https://github.com/Seneca-CDOT/telescope/discussions/2586) roadmap).

**Why would you like this to be added**:
- Replace our in-house utility functions for fetching data from Github.
- H

[2022-01-15 18:11] DukeManh commented on #2555
I am very keen on Firebase and have worked with it for some time.
Because Supabase is a Firebase alternative I'd like to give this a try.

I'll investigate and come back here with what I learn.

[2022-01-15 20:55] humphd commented on #2555
Cool.  Another option we can consider, if this ends up being too heavy-weight, is to add a db ourselves (postgres, sqlite, etc).  We should only take this on if it gives us something we need vs. makes our setup and admin too complicated.

Thanks for looking into this.  I think it might be cool to add this, esp. when they include serverless functions.

[2022-01-16 16:29] humphd opened #2659 "Rendering bug in macOS Monterey with Chromium browsers"
There's an interesting rendering bug happening in Chrome (and other Chromium-based browsers) in macOS Monterey.  Here's Firefox, Safari, and Chrome (right-hand side).  Notice the `-` vs. `x`:

<img width="719" alt="Screen Shot 2022-01-16 at 11 24 50 AM" src="https://user-images.githubusercontent.com/427398/149668630-14b322e5-90d3-4ba2-8503-dfe25dca48c3.png">

Apparently it's [fixed in Chrome 98](h

[2022-01-16 21:00] chrispinkney commented on #2555
@DukeManh Might be worth investigating [Appwrite](https://github.com/appwrite/appwrite) too! But it's very early stage AFAIK, but I think recently secured some funding which is cool?

[2022-01-17 03:03] #2644 closed

[2022-01-17 20:35] JiaHua-Zou commented on #2659
Is this issue still available?

[2022-01-17 20:35] humphd commented on #2659
There's nothing to be done on our side, it's just informational.

[2022-01-17 23:07] humphd opened #2663 "Add autodeployment server to Status list for services"
Right now the autodeployment server is down (https://dev.telescope.cdot.systems/deploy is 502).  If I go to https://dev.api.telescope.cdot.systems/v1/status, at the bottom, we have a bunch of status checks for our services.  However, the autodeployment server isn't there.

Let's add it so we can see when it fails.

[2022-01-18 01:28] JiaHua-Zou commented on #2663
I can add the status if its not done yet.

[2022-01-18 03:13] #2521 closed

[2022-01-18 12:58] Kevan-Y commented on #2499
I can work on it if no one picked up.

[2022-01-18 14:59] humphd commented on #2499
Sounds good, go for it.

[2022-01-18 19:12] nguyenhung15913 commented on #2622
Hi @humphd if there is no current, the page show no error message, that is the message that has been set up if there is no current. I have fixed it to make it more clear. Please take a look at my PR for more detail. Thanks

[2022-01-18 19:56] #2574 closed

[2022-01-18 20:50] #2583 closed

[2022-01-19 02:21] Andrewnt219 opened #2671 "Add a bundler to dashboard"
**What would you like to be added**:
Options:
- [Vite](https://vitejs.dev/)
- [Snowpack](https://www.snowpack.dev/)
- [Parcel](https://parceljs.org/)

These bundlers work out-of-the-box. For simple use cases, they require little to zero configs. Speed is a plus, but we only have vanilla js so it is not really an issue.

**Why would you like this to be added**:
- Mix `import` and `require`
- Polyfi

[2022-01-19 04:11] chrispinkney opened #2672 "`useMedia` When server side rendering, defaultState should be defined to prevent a hydration mismatches."
**What happened**:
While running the front-end the message in the title constantly appears.

**What should have happened**:
No error message should have occurred.

**How to reproduce it (as precise as possible)**:
Run the front-end locally.

**Environment**:
- OS: Manjaro Linux
- Browser: Firefox 96

[2022-01-19 14:05] #2663 closed

[2022-01-19 15:16] humphd opened #2674 "Avatar initials should only use letters"
I added a second blog feed for myself to test the work that @dbelokon is doing with YouTube feeds, and the feed's name is "David Humphrey (YouTube)".  Our avatar logic is using `(` as my final initial:

<img width="216" alt="Screen Shot 2022-01-19 at 10 14 07 AM" src="https://user-images.githubusercontent.com/427398/150159495-badd0aba-9133-4223-adaa-64e3ee6e912e.png">

We should probably have this

[2022-01-19 15:45] AmasiaNalbandian commented on #2605
@LuigiZaccagnini Hey Luigi, Maybe this might help?
https://content-security-policy.com/examples/allow-inline-script/

[2022-01-19 16:05] humphd opened #2675 "Add support for YouTube feed discover to feed-discovery service"
Our feed-discovery service is designed to find a blog feed (RSS/Atom) for.a given blog URL.  We are adding support for YouTube channels, and we should include pasting a YouTube channel and getting back the feed URL.

See https://danielmiessler.com/blog/rss-feed-youtube-channel/:

Given a channel like mine, https://www.youtube.com/channel/UCqaMbMDf01BLttof1lHAo2A, the feed URL is https://www.youtub

[2022-01-19 16:06] humphd opened #2676 "Allow YouTube channels to be added via the sign-up UI"
In #2675 we're adding support for YouTube feed discovery.  We need to update the UI to allow a user to include their YouTube channel, along with their blog(s).

[2022-01-19 16:14] humphd opened #2677 "Move Satellite into Telescope repo"
I would love to move Satellite into the Telescope repo, so we have a complete monorepo.  I think we could get it to work natively with [pnpm link](https://pnpm.io/cli/link), but I'm not sure if the Dockerfiles for each microservice could resolve it.  This needs some investigation.

[2022-01-19 16:17] Kevan-Y opened #2678 "[Satellite] Fix deprecated dependencies + Unsupported engine"
There are some deprecated dependencies, we should upgrade them.
Also fix the unsupported engine
![image](https://user-images.githubusercontent.com/58233223/150170722-028b652c-07c9-4d9f-af72-818ff5df8deb.png)

[2022-01-19 16:18] humphd commented on #2678
That eslastic-apm one can be removed completely, see #2498

[2022-01-19 16:39] Kevan-Y commented on #2678
If that the case we can even remove `@elastic/ecs-pino-format`?
https://github.com/Seneca-CDOT/satellite/blob/master/src/logger.js

[2022-01-19 18:01] dbelokon opened #2679 "Wrap URL links into <a> elements in YouTube descriptions"
## What would you like to be added

I would like any links found in YouTube descriptions to be actually clickable links, which can be done by being wrapped in an anchor  (`<a>`) element.

## Why would you like this to be added

To improve overall navigation. A mobile user might find cumbersome to copy the whole link and paste it in their browser to be able to navigate to that link. The same applie

[2022-01-19 18:18] humphd commented on #2678
Yeah, it can go too.

[2022-01-19 18:21] tpmai22 commented on #2679
@dbelokon I think it will be a quick fix. I can work on this

[2022-01-19 18:36] dbelokon opened #2680 "Create a YouTube summary information bar for YouTube video posts"
**What would you like to be added**: A YouTube summary information sidebar just like the one showed for posts that contain GitHub links.

For example, this sidebar contains GitHub information, extracted from the GitHub links in the blog post.

![image](https://user-images.githubusercontent.com/67607236/150192613-3e32a507-6b49-4d86-a3e7-ee3026864fd7.png)

We would like to have something similar for

[2022-01-19 18:47] JerryHue commented on #2675
I would like to work on this.

[2022-01-19 19:54] JerryHue commented on #2675
@humphd, it seems that there is a test that actually tests this case:

https://github.com/Seneca-CDOT/telescope/blob/24f4ea1031f6c122641516f99cf42b2522aa0b3d/src/api/feed-discovery/test/router.test.js#L13-L39

Since the only thing that changes is the `blogUrl` and the `mockBlogUrlResponseBody`, I find that it would be redundant that changes these values to the YouTube variants.

[2022-01-19 20:45] humphd commented on #2675
Since we care about the specific YouTube case (and URL structure), let's add another test that does it, even thought it repeats aspects.  Then we'll know if we break it.

[2022-01-19 21:49] humphd commented on #2264
I think this is a dupe of #1743.

[2022-01-19 21:49] #2264 closed

[2022-01-19 21:49] humphd commented on #1743
https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry

[2022-01-19 21:49] humphd commented on #1743
See https://github.com/Seneca-CDOT/telescope/discussions/2683

[2022-01-19 23:34] #2622 closed

[2022-01-19 23:53] nguyenhung15913 commented on #2676
Hi David,  I would like to know this issue in more details. Should we add a new form field for the user to enter the Youtube channel in the Sign Up page? Also at the moment, when I am trying to sign up for Telescope, there is a pop-up but it only has 2 buttons (previous and next)

[2022-01-19 23:54] nguyenhung15913 commented on #2676
![image](https://user-images.githubusercontent.com/69558780/150237220-186eadec-1ec4-4628-b5a4-3fc9c6cf1774.png)
here is the screenshot

[2022-01-19 23:58] humphd commented on #2676
We have a form now for adding your blog URL(s), and we need to update the wording and verification code so it is clear you can include a YouTube channel.

[2022-01-20 00:03] TueeNguyen opened #2685 "Backend fails to start after removing Redis"
**What happened**:

![150237254-42c81164-7da3-408f-8910-ef4a9b95765a](https://user-images.githubusercontent.com/58532267/150237715-a29daa2d-a815-48d7-8a29-e628da44f5bd.png)

PR #2615 is likely to have caused the bug

**What should have happened**:

Containers should have built and run successfully

**How to reproduce**:

This bug occurs when you run `pnpm start` with your Redis database being fres

[2022-01-20 00:10] nguyenhung15913 commented on #2676
I guess the form you are talking about is in <code>src\web\src\components\SignUp\Forms\RSSFeeds.tsx</code> right? My question is how does it look like in the browser or where can I see the form? Because the screenshot above is what I have when I press the Sign Up button.

[2022-01-20 00:48] humphd commented on #2676
We've got the sign-up stuff turned off at the moment.  Talk to @DukeManh, he wrote a lot of it, and can give some ideas.

[2022-01-20 01:06] #2645 closed

[2022-01-20 01:28] #2535 closed

[2022-01-20 03:09] AmasiaNalbandian commented on #2655
Hey Alex! This is not a bad idea!

I would also say to split up front-end and back-end. We have handlebars, and then just React in other parts. For the front end same thing. The project is so big that it uses a bit of everything. I also wanted to add I am still very confused about the containers and how to run which for what. That might also be helpful.

[2022-01-20 06:06] joelazwar commented on #2674
@humphd just want to make sure, so for video Feeds the initials would be first letter of first name and Y for youtube(e.g. DY)? Assuming that all the feeds will have the same format of `"{name} (Youtube)"` we can just invoke the replace("(Youtube)", "Y") method and the logic.

[code]
any other use cases you can think of?

[2022-01-20 13:24] HyperTHD commented on #2555
I know a little bit about Supabase, having used it a bit in one of my frontend projects on the side. I can help a bit with research here so putting myself in this journey

[2022-01-20 13:41] TDDR commented on #2649
Related discussion #2666

[2022-01-20 13:42] #2649 closed

[2022-01-20 13:42] sirinoks commented on #2655
Now that I'm changing the direction of the issue, I will leave the previous content of the post in here as a comment, so that we have it somewhere.

[2022-01-20 13:43] sirinoks commented on #2655
**What would you like to be added**:
__A visual way to overview our project with all its parts.__

### Why ###
As a new participant I quickly became lost in all the areas of Telescope. I knew for sure there is a website which should have front and back end, but as for everything else surrounding it - there wasn't a clear picture. The most useful data I found was in a text form, which gave me some

[2022-01-20 13:57] TDDR commented on #2526
Related discussion  #2683

[2022-01-20 14:08] #2395 closed

[2022-01-20 14:15] TDDR commented on #1873
Related discussion  #2683

[2022-01-20 14:17] sirinoks commented on #203
@humphd What is meant by Rest API in here in regards to Telescope? Is this the old 1.0 code chunk, is it the microservices? I want to do documentation, but I don't even know what it's about D:
Linking specific files would also really help

[2022-01-20 14:29] sirinoks opened #2689 "Organize Wiki pages sidebar"
In the current Wiki we have a bunch of pages that are just there without any specific order. Look at what I mean:
<img src="https://cdn.discordapp.com/attachments/353432193730871296/933728678716772352/Screenshot_388.png" />

As you can see we have different categories mixed up. What bothers me is that many pages that are no longer relevant are mixed in with the important ones.

How I would like it

[2022-01-20 14:44] humphd commented on #2689
I think the sidebar is auto-generated.  We'd have to investigate.  Maybe a better approach is to streamline our Home wiki page so it's easier to find things?

[2022-01-20 14:46] humphd commented on #203
Microservices code.  The other legacy code is going away.

There are a bunch of ways to auto-generate API docs for REST APIs, or we can do it manually.  Everything under `src/api/*` needs this.  Some of them have it already, others don't, but none of it is collected anywhere.

[2022-01-20 14:52] sirinoks commented on #2689
That works. In that case it's something I can do.

[2022-01-20 14:54] humphd opened #2691 "Resizing Build Dashboard window causes error"
When I resize the build dashboard window, I get this error:

[code]

<img width="1258" alt="Screen Shot 2022-01-20 at 9 53 24 AM" src="https://user-images.githubusercontent.com/427398/150362552-42d4d109-b506-4976-ae4f-3bdc330d7419.png">

[2022-01-20 15:15] #2452 closed

[2022-01-20 15:26] Kevan-Y opened #2694 "[Satellite] Migrate npm engine to pnpm"
**What would you like to be added**:
I would like to migrate satellite repo that currently uses `npm` to `pnpm` engine, like what we did in telescope

[2022-01-20 15:42] menghif commented on #2694
You should open this issue in the [Satellite](https://github.com/Seneca-CDOT/satellite/issues) repo.

[2022-01-20 15:57] menghif commented on #2694
No problem. Also #2677 is related, we're looking to move satellite into this repo.

[2022-01-20 16:36] humphd commented on #2694
PR in Satellite repo, Issue here.

[2022-01-20 16:52] humphd commented on #2611
Looks like this slipped, moving to 2.6.

[2022-01-20 17:16] TueeNguyen opened #2696 "Make release faster by removing tests in github workflow"
**What would you like to be added**:

When we release telescope, it also runs our eslint, prettier, unit and e2e tests which are redundant as we already check on opening PR and on merging to master.

**Why would you like this to be added**:

Remove tests running in this file [.github/workflows/release.yml](https://github.com/Seneca-CDOT/telescope/blob/master/.github/workflows/release.yml)

[2022-01-20 18:01] TueeNguyen commented on #2685
After talking to @HyperTHD, I think the problem only occurs in development.

`satellite` returns redis connection to redis server with hostname `'redis'` but the server with that hostname doesn't exist. The redis server in the docker container has '127.0.0.1' as hostname. Below is the result when I run redis-cli in the container

![image](https://user-images.githubusercontent.com/58532267/15039503

[2022-01-20 18:07] TueeNguyen commented on #2685
Posting possible solution ideas soon

[2022-01-20 18:50] cindyledev commented on #2689
I got really excited when I saw the tiny arrow beside each of the document titles thinking they were drop-down menus for sub-categories but no, I was wrong. I thought we were finally gonna have a cool Table of Contents in the sidebar of our Telescope Wiki. C'mon GitHub, we need some way to organize our notes! Give us a way to make a Table of Contents or sub-categories or archive things or even sor

[2022-01-20 19:04] dbelokon opened #2697 "Wrong commit SHA in `staging`"
**What happened**: Today, I head over the [`staging`](https://dev.telescope.cdot.systems) deployment, and I clicked on the version tag (as of right now, it is version 2.5.0). After clicking it redirected to a commit that does not exist (the SHA in the link does not reference an existing commit).

**What should have happened**: A page that shows an existing commit.

**How to reproduce it (as precis

[2022-01-20 19:15] Kevan-Y commented on #2306
Some Investigation: [Feed Link](https://medium.com/feed/@kev.yxg)
When I get the feed data, I see the iframe doesn't have any `src` could it be this making iframe to display nothing?
[code]

[2022-01-20 20:45] AmasiaNalbandian opened #2698 "ElasticSearch Advanced Route is breaking Search in Production"
**What happened**:
A new route for search was introduced in https://github.com/Seneca-CDOT/telescope/pull/2617. However one of the files which validates the query was altered so that we can do either advanced search or regular search until we refactor everything in https://github.com/Seneca-CDOT/telescope/issues/2618

[code]
The way we are using req.base.Url is definitely incorrect and the error i

[2022-01-20 20:48] humphd commented on #2698
cc @TDDR @JiaHua-Zou, this is a breaking change on production, so we'll need to ship a patch release, `2.5.1`, by Friday so we un-break production.  @JiaHua-Zou since @TDDR did the release today, maybe you can do this next one?  We can co-ordinate with @AmasiaNalbandian, since she needs to get a PR up and reviewed, merged on `master`, tested on staging, and then we can do a `2.5.1` release with th

[2022-01-20 22:26] humphd commented on #2685
This is an interesting problem.  I'm tempted to say that the fix for it is to leave the backend how it is now, and not bother updating it to use Satellite.

The reason for this is that the code in the backend already does the right thing if the `REDIS_URL` and `REDIS_PORT` aren't defined:

https://github.com/Seneca-CDOT/telescope/blob/dece55b1acc9c1031831160706c145d81666facb/src/backend/lib/redis.

[2022-01-20 22:54] HyperTHD commented on #2685
Thing is, in staging/production, we've redefined the redis_url to point to the container itself, which is defined as follows:

https://github.com/Seneca-CDOT/telescope/blob/master/docker/production.yml#L41
https://github.com/Seneca-CDOT/telescope/blob/master/docker/production.yml#L177

I tried to connect to redis this way with dev while talking with @TueeNguyen to no avail, with the only way being

[2022-01-20 23:23] TueeNguyen commented on #2685
I'm ok with leaving backend the way it is, it's not sth we prioritize

[2022-01-20 23:39] humphd commented on #2685
I think we should focus on the parser service and fix this by removing the backend completely.  Then we don't have multiple hacks in place to make this work.

@TueeNguyen you cool if we close this?

[2022-01-20 23:42] TueeNguyen commented on #2685
Yes!

[2022-01-20 23:42] #2685 closed

[2022-01-20 23:44] humphd commented on #2685
Thanks for doing the research and digging into this.  Even though we didn't go with this solution, having the options in front of us was really important for being able to move forward.

[2022-01-21 00:03] TueeNguyen commented on #2685
I believe someone will dig this one up for their issue :)

[2022-01-21 00:26] manekenpix commented on #2650
Checking the payloads sent by github, it seems their documentation might not be up to date.
The docs about release payloads say that there's a prop called `target_commitish` that's supposed to look like this:

[code]
but checking our logs, we get this:

[code]
I think it'd be a good idea to try `target_commitish` as a way to get the release's commit sha.