[2021-01-23 22:35] #1597 closed

[2021-01-23 23:07] cindyledev commented on #1590
When I ran `npm run build` everything outputs to the /out folder as expected. Can you submit a PR without the distDir line so I can review the PR? It works on my machine but I wanna make sure that it will work on Netlify PR preview

[2021-01-24 01:00] #1593 closed

[2021-01-24 07:41] #1596 closed

[2021-01-24 12:24] PedroFonsecaDEV commented on #1595
I am working on it.

[2021-01-25 14:21] humphd opened #1604 "Use octokit/webhooks.js in autodeployment server"
**What would you like to be added**:

Let's use the [official webhook event library from GitHub](https://github.com/octokit/webhooks.js) in our autodeployment server.

**Why would you like this to be added**:

I think it would be good to use a GitHub supported library here, since the data coming from the webhook is GitHub's.

[2021-01-25 15:04] humphd opened #1605 "Run Gatsby front-end on `/gatsby` for comparison to Next.js"
**What would you like to be added**:

A great suggestion from @cindyledev on Slack: let's run our current Gatsby front-end in parallel to the next.js version on staging/production.  Once we reach 100% parity between next and Gatsby we can remove it.

This is a similar idea to what we do with https://dev.telescope.cdot.systems/planet (i.e., the `/planet` route).  See https://github.com/Seneca-CDOT/

[2021-01-25 21:52] Metropass commented on #1588
@humphd Is this bug still present? I looked at package.json, and it seems like the latest version is 10.4.1

https://github.com/Seneca-CDOT/telescope/blob/8cbf8af0ff021f70c6a1732f18d405f20c85e9c7/package.json#L96

[2021-01-25 22:07] humphd commented on #1588
I'm unclear why I saw it. Do we import it in multiple places and one of them is really old?

[2021-01-25 22:23] Metropass commented on #1588
That's strange.
Is there anyway I could re-create the warning? I think one of the libraries that we're using must be running an older version of highlight.js

[2021-01-26 02:37] HyperTHD commented on #1553
Update: As of January 25th, 2021, only the Banner component uses FC. I also once DynamicBannerImage is ported over and we start work on the Banner, this will change. We can close this issue and work on #1557 after the Banner component is ported over.

![1 FC Component Left](https://user-images.githubusercontent.com/16841702/105792443-75507c80-5f55-11eb-97e9-0105289f7f93.png)

[2021-01-26 10:40] rjayroso commented on #1490
So I tried recreating this on my Firefox browser but to no avail so I tried the same test on Google Chrome and I noticed that the body element does not fit to screen, as shown below:

![Firefox/Chrome comparison](https://user-images.githubusercontent.com/48869737/105834498-8bcbf780-5f98-11eb-9b31-59855eab9dc1.png)
*Firefox on the left, Google Chrome on the right*

Does anybody have any insight as

[2021-01-26 14:17] birtony opened #1607 "Improve SEO Tags and Create a Sitemap"
**What would you like to be added**:
It would be nice to add meta tags for social media, such as:
[code]
We could probably use https://metatags.io/ to generate the meta tags for us, and also refer to https://css-tricks.com/essential-meta-tags-social-media/ for reference.
In terms of the sitemap, we could refer to https://medium.com/spemer/creating-a-sitemap-generator-for-next-js-3102fb5a297e or ht

[2021-01-26 14:32] birtony opened #1608 "Improve Accessibility Standards"
**What would you like to be added**:
- We should improve accessibility standards on Telescope to comply with WCAG: https://www.w3.org/TR/WCAG21/
- Here is a link to React documentation regarding WCAG standards: https://reactjs.org/docs/accessibility.html
- We could also use Google Lighthouse and [Webhint](https://webhint.io/) to test our website manually or https://github.com/dequelabs/axe-core-np

[2021-01-26 16:04] chrispinkney commented on #1546
@rjayroso See also #1458 (Corresponding PR #1512)

[2021-01-26 16:14] chrispinkney commented on #801
See also #1477, this could be something that we explore for the PWA too @tonyvugithub

[2021-01-26 16:26] birtony opened #1609 "Update the default FRONTEND env variable value to Next"
Related to https://github.com/Seneca-CDOT/telescope/issues/1576 and https://github.com/Seneca-CDOT/telescope/pull/1606
**What would you like to be added**:
Once we finish porting to Next, we should serve the Next front-end by default
**Why would you like this to be added**:
Improve developer experience

[2021-01-26 16:54] tonyvugithub opened #1610 "LoadMoreButton is currently not working"
**What happened**:
When you scroll to the bottom of the main page and clicked on `LoadMoreButton`, it froze for a bit and gave an timeout error
![image](https://user-images.githubusercontent.com/55034244/105876672-30682c80-5fcd-11eb-9889-5b28090551b5.png)

**What should have happened**:
It should load more posts

**How to reproduce it (as precise as possible)**:
Go to the telescope website and cli

[2021-01-26 16:56] tonyvugithub commented on #1610
@PedroFonsecaDEV : Is this related to what you are working on with infinity scroll in Next?

[2021-01-26 17:06] Metropass opened #1611 "Implementing Octonode, for GitHub integration"
**What would you like to be added**:
Implementing the [Octonode Library](https://github.com/pksunkara/octonode) for GitHub integration
**Why would you like this to be added**:
We've mentioned that GitHub integration for Telescope would be a good module to add; Octonode is fully compliant with [GitHub's v3-api](https://docs.github.com/en) and it's written in CoffeeScript.

[2021-01-26 17:08] Metropass commented on #1611
@humphd I know that you mentioned using webhooks.js from Octokit in #1604; would this library help with your issue in anyway? I can learn more about it to get a head-start.

[2021-01-26 19:20] PedroFonsecaDEV commented on #1610
@tonyvugithub You are creating dupes AGAIN. Please close this issue.

Original issue: https://github.com/Seneca-CDOT/telescope/issues/1595

[2021-01-26 19:27] tonyvugithub commented on #1610
@PedroFonsecaDEV : this is happening on Gatsby production build though. Thats why Im asking.

[2021-01-26 19:33] #1610 closed

[2021-01-26 20:33] humphd commented on #1492
@raygervais, I'm going to take this over, and I'd appreciate your guidance on the approach I should use.  I'm trying to decide how much like our current code I should make this.

Next has a fancy `<Image>` component that does exactly what we want...if you run the app with server-side rendering.  They dynamically resize/optimize/serve the correct image a runtime for you.  When you `npm run export`

[2021-01-26 20:35] humphd commented on #1611
I think this issue is pre-mature.  It jumps to an implementation without first thinking through how the feature would work.  How do we get GitHub usernames?  Where do we store them?  How do we expose this data to the front-end?  What will the front-end do with it?

I'd like to get some answers to those questions before we start bolting in libraries that do things, if we don't know what we're going

[2021-01-26 20:43] chrispinkney opened #1612 "[next] Port BannerDynamicItems to NextJS"
**What would you like to be added**:
BannerDynamicItems needs to be ported to NextJS. This needs to go in after #1492.

**Why would you like this to be added**:
Gotta port this to NextJS.

[2021-01-26 21:18] manekenpix commented on #1604
The autodeployment server currently uses [github-webhook-handler](https://www.npmjs.com/package/github-webhook-handler).
Comparing [oktokit's](https://github.com/octokit/webhooks.js#usage) and [github-webhook-handler's](https://github.com/rvagg/github-webhook-handler#example) examples, it seems that they way they work is almost identical. What's the advantage of switching from one to the other?

[2021-01-27 00:17] raygervais commented on #1492
I agree @humphd that the first approach being the cleaner of the two, if we went that direction I'd even advise having another repo such as `telescope_backgrounds` connected as another git module; the logic being to not bear down on developers who have no care for the backgrounds in their environments.

I'm intrigued how NextJS can do this dynamically, my only experience with Gatsby / Gridsome inv

[2021-01-27 15:44] Metropass commented on #1495
Duplicate of #1492, it goes into more detail about porting the component

[2021-01-27 15:44] #1495 closed

[2021-01-27 17:58] #1612 closed

[2021-01-27 19:07] #1595 closed

[2021-01-27 21:19] chrispinkney opened #1616 "[next] Port Banner from Gatsby to Next"
**What would you like to be added**:
The banner should be ported from Gatsby to Next.

**Why would you like this to be added**:
We should display our banner with pride.

[2021-01-27 21:26] chrispinkney commented on #1446
I'll take on the DesktopHeader component, potentially the other two as well but if anyone wants one of them go for it and reply to this issue 👍

[2021-01-28 03:45] HyperTHD commented on #1616
This issue will also close #1553 since the banner component is the only one left, so the PR should also link there as well as here once it's up

[2021-01-28 05:15] PedroFonsecaDEV commented on #1616
@HyperTHD according to https://github.com/Seneca-CDOT/telescope/issues/1316 you are working on this right? So please assign yourself to the issue so we can track who is working on what.

[2021-01-28 16:42] Metropass commented on #1534
Made a change in .npmrc, the issue should be fixed until we reconfigure the way we install dependencies

[2021-01-29 06:47] PedroFonsecaDEV commented on #1540
#### Reason to close this issue:
`LoadAutoScroll` was ported on PR https://github.com/Seneca-CDOT/telescope/pull/1504

[2021-01-29 06:47] #1540 closed

[2021-01-29 14:59] yuanLeeMidori opened #1620 "[next] UseUser is not returning user object"
**What happened**:
`UseUser` in [UserProvider](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/next/src/components/UserProvider.tsx) is not returning user object for authenticated user.
**What should have happened**:
`UseUser()` should be returning the user object once the user is logged in.
**How to reproduce it (as precise as possible)**:
Run the docker login container, and log

[2021-01-29 17:53] humphd commented on #1492
@raygervais I'd like to find a time to discuss microservices as an approach for what we're doing, and figure out if it's a good fit.  I know you have a lot of experience with them.  Ping me some time when you have a chance and we can discuss more.

[2021-01-29 17:58] humphd commented on #1604
Maintenance.  The oktokit one is maintained by GitHub, and will follow changes to the GitHub API.

[2021-01-29 19:33] #1620 closed

[2021-01-29 19:45] #1463 closed

[2021-01-29 19:55] #1494 closed

[2021-01-29 19:56] #1590 closed

[2021-01-29 19:56] #1544 closed

[2021-01-30 00:25] #1508 closed

[2021-01-31 16:55] manekenpix commented on #1232
Should we close this?

[2021-01-31 17:00] humphd commented on #1232
Indeed, finished!

[2021-01-31 17:00] #1232 closed

[2021-01-31 17:45] humphd opened #1627 "Explore using microservices in the back-end"
**What would you like to be added**:

I'd like to explore using microservices in our back-end.  I think the most logical places to begin would be:

1. **auth**: break our authentication and authorization routes out into a separate service, which does SAML based SSO (same as now), but gives back a token that the client can use on subsequent requests.  One of the goals of this re-design is to make i

[2021-01-31 17:49] raygervais commented on #1627
I'd be absolutely interested in helping with this, either in the orchestration or porting area of a service!

[2021-01-31 20:07] raygervais commented on #1627
For the image MS, you're thinking of handling *all* images through it @humphd? Not just backgrounds / telescope assets? Asking because that may be a data-coupling we'd need to figure out.

Also asking as I explore creating a POC for said image service as a microservice

[2021-01-31 20:26] humphd commented on #1627
Here's how I imagine the image service working (details like route names, etc. TBD).  There are at least two things I want:

1. Use it to get optimized, scaled versions of our background images.  I ask for `/background?width=750&type=webp` or something, and I get back one of our Unsplash images at 750px wide as a WebP resource.

2. Use it to downscale and optimize images in posts.  Consider a real

[2021-01-31 20:28] humphd commented on #1627
But if you want to prototype the image service, we should do that in another issue.  This issue is mostly about exploring the microservices approach with respect to Telescope.

[2021-01-31 20:44] birtony commented on #1592
@cindyledev I think so far Dependabot only automatically creates PRs for security alerts. In this case, we might actually want it to automatically create PRs to keep all of our dependencies up-to-date, even if there are no security vulnerabilities found in the versions of dependencies we currently use. Looks like we need to create a config file for it to do so: https://github.com/Seneca-CDOT/teles

[2021-01-31 20:49] humphd commented on #1627
Probably a third thing the image service could do: decide if an image at a given URL needs to be optimized or not.  Given a URL to an image, we can get its type, dimensions, etc. and if it crosses some threshold, return an optimized URL, otherwise, return the original URL.  The feed parser could use this to decide when/if to rewrite the image URL(s) for a post.  If it's already optimized, we don't

[2021-02-01 01:45] #1604 closed

[2021-02-01 02:35] tonyvugithub commented on #1627
If we still need people here, Can I be part of it too? My microservices knowledge is novice at best, so not sure how much useful I could be but definitely would like to learn more and practice it.

[2021-02-01 05:05] c3ho commented on #1627
Always interested in backend issues!

[2021-02-01 15:28] raygervais commented on #1627
Awesome, we have volunteers!

@humphd, you've split up three potential candidates for dedicated services:
- Image handling
- Authentication
- Autodeployment

I think the next step is to understand a basic architecture that each micro-service will implement, and then divide the work among volunteers. Thoughts?

By architecture, I'm referring to:
- Dockerfile
- Docker Compose updates
- API Configura

[2021-02-01 15:54] humphd opened #1629 "Improve our next.js authentication handling"
**What would you like to be added**:

We should improve our user context and auth handling to match recommendations in https://nextjs.org/docs/authentication and https://github.com/vercel/next.js/tree/canary/examples/with-iron-session.

**Why would you like this to be added**:

Deep linking into authenticated pages doesn't currently work, and I think it should be possible.  See /myfeeds page as an

[2021-02-01 16:23] #1491 closed

[2021-02-01 16:32] c3ho opened #1630 "Triggering search through URL doesn't work."
**What happened**:
#1583 will land soon, triggering search through normal use works, but triggering search through URL doesn't work.

**What should have happened**:
Triggering search through search function AND url should work like it does in our current front-end

**How to reproduce it (as precise as possible)**:
Does work:
Go to /search and choose a filter, type in text to search. Results will d

[2021-02-01 23:44] birtony opened #1632 "Update Release Documentation"
**What would you like to be added**:
[The release doc](https://github.com/Seneca-CDOT/telescope/blob/master/docs/release.md) needs to be updated to reflect the new release automation workflow added in https://github.com/Seneca-CDOT/telescope/pull/1628.
**Why would you like this to be added**:
Since our release process changed, we need to get our docs up-to-date with it.

[2021-02-01 23:45] birtony commented on #1607
I will work on the SEO Tags for this issue

[2021-02-02 02:51] manekenpix commented on #1627
Count me in!

[2021-02-02 15:19] #1629 closed

[2021-02-02 15:29] #1543 closed

[2021-02-02 15:30] HyperTHD commented on #1497
Issued closed with #1505

[2021-02-02 15:30] #1497 closed

[2021-02-02 15:32] humphd commented on #1543
Closed by #1504

[2021-02-02 15:45] humphd commented on #1588
[code]

[2021-02-02 15:46] humphd commented on #1588
It looks like bull-board is using this.  We should update this dependency and/or remove it.

[2021-02-02 15:50] HyperTHD commented on #1514
@manekenpix We're looking over some issues right now, we'd appreciate any feedback on this issue whenever you have the time

[2021-02-02 15:55] HyperTHD commented on #1457
We looked into this and this error is no longer an issue on the next port which will be the main front-end engine. Closing this

[2021-02-02 15:55] #1457 closed

[2021-02-02 16:00] HyperTHD commented on #1423
Issue was resolved in #1600. Closing

[2021-02-02 16:00] #1423 closed

[2021-02-02 16:54] humphd commented on #1492
For the 1.6 release, I'm going to do a very basic version of this that just uses 1 image, and generates some static HTML for the image.  For reference, here is what Gatsby generates for that image:

[code]

[2021-02-02 17:10] humphd opened #1633 "[next] Update DynamicImage to be fully dynamic"
**What would you like to be added**:

The current `DynamicImage` component in the next front-end is just a temporary placeholder.  It needs to be updated to work like this:

- use dynamic sizes (we need the image service being discussed in #1627)
- use different image types (jpg, webp, etc) via the `<picture>` element
- use random images from our Unsplash image set

**Why would you like this to be

[2021-02-02 17:37] humphd commented on #1627
Here's a proposal, let me know what you think:

1. Create a top-level directory for our services, maybe `/api` or `/src/api` if you think we should continue our current layout (I'm happy to get rid of `src` and eventually have `api/` and `client/` etc).
2. Within `/api` we create whatever config files we need to run all the services, maybe that means a docker-compose file, etc.
3. Under `/api` we

[2021-02-02 18:58] #1458 closed

[2021-02-02 18:58] #1546 closed

[2021-02-02 18:59] humphd commented on #1488
I confirmed we're OK, and added some tests for this: https://github.com/Seneca-CDOT/telescope/pull/1635

[2021-02-02 19:03] #1492 closed

[2021-02-02 22:25] humphd commented on #1627
First stab at an image service at https://github.com/Seneca-CDOT/telescope/pull/1636.  I'm hoping to use that as a string point to get us going.

[2021-02-03 00:12] #1488 closed

[2021-02-03 01:05] #1301 closed

[2021-02-03 01:11] birtony opened #1638 "Configure npm-version to run tests"
**What would you like to be added**:
We should configure [`npm-version`](https://docs.npmjs.com/cli/v6/commands/npm-version) to run tests before proceeding with bumping the version in `package.json` and creating a release tag. It should looks somewhat like:
[code]
**Why would you like this to be added**:
This would allow us to make sure we release working code.

[2021-02-03 01:53] #1396 closed

[2021-02-03 05:06] cindyledev commented on #1532
I dug into this and according to the [MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image), the `<image>` tag has been deprecated and some browsers will automatically convert `<image>` to `<img>` which is most likely what we're experiencing here. I actually tried to stick `<code><Image></code>` into random webpages using both Google Chrome and Firefox and they both automa

[2021-02-03 13:54] humphd commented on #1532
Fascinating!  I didn't know this.  The web is so complicated.  Thank you @cindyledev!

[2021-02-03 13:54] #1532 closed

[2021-02-03 14:10] tonyvugithub opened #1641 "Put the toggle theme button in the header and serialize the prefered theme value to localStorage with hook"
**What would you like to be added**:
We need to think of a better way to integrate the theme switching option. Maybe a switch button in the header? Also we need to think of a way to retain the chosen theme so when users revisit the site, the same colors appear to them.
**Why would you like this to be added**:
This will provide users option to choose their preferred theme and increase their engagem

[2021-02-03 14:19] humphd opened #1642 "Add a User service, with database for user, feed info, drop planet feed list"
**What would you like to be added**:

Add a new database to our system to hold user, feed, and other related data that needs to exist long term.  Our new data design would be:

- database: long term storage of users and all information related to users, for example, their Seneca email, preferred display name, RSS feeds, URLs to blogs, social media, GitHub, etc.
- redis: ephemeral storage (e.g., ca

[2021-02-03 14:28] #77 closed

[2021-02-03 14:34] humphd opened #1643 "Improve Telescope sign-up flow"
**What would you like to be added**:

I'd like to improve how our sign-up flow works.  Here's my idea, see how you can improve this:

1. a Seneca student is either asked to join Telescope (part of a course), or decides on their own (self-motivated student looking to join the community).  I see a lot of both types of people right now.
2. The student visits Telescope and clicks some kind of "Sign Up

[2021-02-03 14:43] humphd opened #1644 "Integrate data from GitHub into our UI"
**What would you like to be added**:

Let's figure out some useful ways to integrate a user's GitHub activity into Telescope.  Currently, users blog about their work, much of it happening in GitHub. However, we don't have a way to surface this info to a reader of Telescope.

Some things that might be interesting:

- which projects is this user focused on right now?  (e.g., which repos are they wor

[2021-02-03 14:51] humphd opened #1645 "Create Service for Auto discovery of Feeds for URLs"
**What would you like to be added**:

Add a way for an RSS/Atom Feed to be discovered for a URL.  This requires a few things:

1. back-end API that takes a URL and examines/tests it to determine a Feed URL.  For example, if I give you http://blog.com I might get back http://blog.com/feed.  We could do this as a microservice as part of #1627.
2. front-end component(s) that allow a user to enter a U

[2021-02-03 14:52] humphd commented on #1627
Filed #1645 to add a Feed Auto Discovery Service, which could be done as another microservice

[2021-02-03 15:37] humphd opened #1646 "Add Traefik as an API Gateway for our Microservices"
**What would you like to be added**:

Let's add [Traefik](https://doc.traefik.io/traefik/getting-started/quick-start/) to Telescope, and let it manage our microservices API.

Traefik is similar to nginx, in that it acts as a reverse proxy.  However, it is container-aware, and can sit in front of a bunch of docker containers and deal with service discovery, interruption, scaling, deployment, etc.

[2021-02-03 15:37] humphd commented on #1627
Filed #1646 to add Traefik as our api gateway.

[2021-02-03 19:14] raygervais commented on #1627
1. I do like the idea housing the services under `/src/`, perhaps a sub folder as you suggest to reduce confusion.
2. Docker-compose (alongside Traefik) will be the orchestration tool, this means each service will require it's own Dockerfile and have the following requirements:
   a. Integrated into the API docker-compose file
   b. Leverage documented ports so we aren't using the same port twice

[2021-02-03 20:08] birtony opened #1647 "Add a bot to automatically create PRs to update outdated dependencies"
**What would you like to be added**:
Since we don't currently have a config file, Dependabot only seems to create PRs for security alerts. We should create a config file for Dependabot: https://github.com/Seneca-CDOT/telescope/network/updates or use an alternative bot to get automatically generated PRs for updating outdated dependencies.
**Why would you like this to be added**:
This would help us

[2021-02-03 20:09] birtony commented on #1592
Opened [this issue](https://github.com/Seneca-CDOT/telescope/issues/1647) to create a config file for Dependabot

[2021-02-03 20:30] chrispinkney commented on #1641
Would love to hear about more about this, I don't know anything about `localStorage` and never even considered how something like this works behind the scenes.

[2021-02-03 21:00] humphd commented on #1644
cc @Metropass

[2021-02-03 21:21] humphd commented on #1641
See https://github.com/streamich/react-use/blob/master/docs/useLocalStorage.md

Browsers have a number of built-in "storage" areas:

- cookies: good for sharing small bits of data between the browser and server
- session storage: good for storing things you don't want to go away if you refresh or open another tab, but don't need long term
- local storage: good for storing small bits of text (or JS

[2021-02-03 21:22] humphd commented on #1647
cc @yuanLeeMidori who is also interested in this.

[2021-02-03 21:26] humphd commented on #1627
Regarding `api.telescope.cdot.systems`, we have a few options:

1. don't put it on the internet, have it be an internal thing only.
2. put it on the internet, since `telescope.cdot.systems/*` already does this and it's been OK.  We have auth for protected routes.

I don't care what we call it, or even if it has a domain of its own.  It might make deployment easier if it's all on the telescope doma

[2021-02-03 22:34] Metropass commented on #1644
Yeah, so for anyone seeing this issue now, I've started prototyping with [Octonode](https://github.com/pksunkara/octonode) to see what data we can pull.

I'm gonna look at [OctoKit/Rest.js](https://octokit.github.io/rest.js/v18), and play around with it.

I'll be talking about this on Friday if anyone is interested

[2021-02-04 09:11] PedroFonsecaDEV commented on #1642
@humphd, so we need to find a cloud to hold our long term storage? Or a SQL running in our machines would solve the problem facing a power outage?

[2021-02-04 14:24] tonyvugithub commented on #1572
@chrispinkney : did this get handled?

[2021-02-04 14:34] tonyvugithub commented on #1586
@manekenpix : How about port 8000 as in the case of development?

[2021-02-04 15:22] #1638 closed

[2021-02-04 15:37] #1586 closed

[2021-02-04 19:28] #1572 closed

[2021-02-04 19:29] chrispinkney commented on #1572
Looks like it with the latest deployment.

[2021-02-04 19:39] chrispinkney commented on #1642
Let's just ask Seneca to provide us with a backup diesel generator in case of power-outages. 😄

I'm using Firestore (nosql) in my capstone project, it's great and extremely generous with its free tier (50k reads per day, 20k writes/deletes per day.) Would love to discuss this further sometime.

[2021-02-04 19:51] chrispinkney opened #1651 "[next] Style the newly added About page"
**What would you like to be added**:
The [about page](https://github.com/Seneca-CDOT/telescope/pull/1624) desperately needs some styling as right now it's just displaying a markdown page.

Since we're not using a pagebase anymore styling it might end up being tricky, and I imagine prettier will end up being a pain and might need to be modified but we'll see.

I'd also like to incorporate the other

[2021-02-04 20:05] #1438 closed

[2021-02-04 20:19] PedroFonsecaDEV commented on #1642
I used Firebase in a React project; I agree with you @chrispinkney  it's a good one.

[2021-02-04 20:30] HyperTHD opened #1652 "Dark mode button disappears when dark mode is activated"
**What happened**:
When we landed the dark mode switch, it gave Telescope users the ability to run in dark mode. Unfortunately, when pressing the toggle to switch to dark mode, the button looks like it disappeared. It's still there and functionally works to switch back. Just not visible

**What should have happened**:
Toggle to switch back to light theme should be visible

**How to reproduce it (a

[2021-02-04 20:58] chrispinkney commented on #1652
Is anyone else having this issue? Looks like it's fine on my end using Firefox (which is funny because I was in Abdul's situation the other day haha)

![2021-02-04_15-27-45](https://user-images.githubusercontent.com/7242003/106954456-ce60a300-6701-11eb-8e2b-2a8303933c01.gif)

[2021-02-04 21:07] chrispinkney opened #1653 "Update React to Version 17 to avoid new NextJS warn message"
**What would you like to be added**:
We should update React to version 17 (AFAIK [we're currently on](https://github.com/Seneca-CDOT/telescope/blob/8ebd0e961a9326776f5d0fc93e4f92c8fe9b9583/src/frontend/next/package.json#L19) `[react": "^16.13.1]`)

**Why would you like this to be added**:
I think a day or two ago I started getting the following warning [(link/more info here)](https://err.sh/next.j

[2021-02-04 21:40] birtony commented on #1652
@chrispinkney @HyperTHD I am seeing the same issue on Firefox 85.0 (64-bit) running on Ubuntu 20.04.2 LTS on Netlify - https://telescope-next.netlify.app/
![image](https://user-images.githubusercontent.com/33902374/106958502-72008200-6707-11eb-8ce5-1204ef2393b4.png)

[2021-02-04 21:44] humphd commented on #1653
Yeah, updating react/react-dom in src/frontend/next is probably good to do https://github.com/vercel/next-learn-starter/blob/master/learn-starter/package.json

[2021-02-04 21:46] PedroFonsecaDEV commented on #1653
Okay. I will land this tonight.

[2021-02-04 21:51] humphd commented on #1652
I can't reproduce on Firefox/Chrome on macOS.

[2021-02-04 22:16] humphd commented on #1652
Dug into this a bit with @PedroFonsecaDEV and @birtony and here are our findings:

The button is [here](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/next/src/components/ThemeToggleButton.tsx):

[code]

Depending on the `theme` we render different icons, and in the first case we set the color to `"primary"` but not in the second.  It's using pure white, so it is invisible if yo

[2021-02-04 22:50] DukeManh commented on #1630
Hi, I can give this problem a try. My thinking is that we only need to access the router query after page load or access it every time it changes.

[2021-02-04 23:25] tonyvugithub commented on #1652
@humphd : We need the header to update the button. I made the button temporary to have a way to test the theme switch. The bug is on how we set the limit width of TimeLine

[2021-02-05 00:04] humphd commented on #1630
@DukeManh sounds good, go for it.  Let us know how we can help.

[2021-02-05 00:20] #1484 closed

[2021-02-05 00:42] DukeManh commented on #1630
Great, I will get started soon.

[2021-02-05 01:54] chrispinkney opened #1655 "Remove unncessary title and meta tags"
**What would you like to be ~~added~~ removed**:
There's a few places or two where we are:
- Using `<title>` tags
- Using `<meta>` tags
- Using both
- Not using SEO (or not passing a title prop)
- Using `<Head>` from NextJS (however, our SEO component already adds a Head)

**Why would you like this to be ~~added~~ removed**:
This code is redundant (see also [this](https://github.com/Seneca-CDOT/te

[2021-02-05 02:00] #1652 closed

[2021-02-05 06:25] #1653 closed

[2021-02-05 14:52] raygervais commented on #1627
Makes sense to me, @c3ho  @manekenpix  @tonyvugithub I've done a small update to Dave's POC which adds traefik integration along with the semblance of micro-service orchestration here: https://github.com/Seneca-CDOT/telescope/pull/1636

My next step is to get CI happy with the above PR, I figure let's divide up the initial work and tackle them as PRs (if you agree @humphd) against Dave's current P

[2021-02-05 15:38] HyperTHD commented on #1627
I know my experience with microservices is very limited at best, but this looks like the makings of something amazing. Signing up to be the brave test developer for this new integration

[2021-02-05 17:01] DukeManh commented on #1630
#1657

[2021-02-05 18:00] #1446 closed

[2021-02-05 18:20] humphd commented on #1627
Another easy one to do is #1645 to add a Feed Auto Discovery Service.

I'll take Auth, and collaborate with anyone who wants to help me.

[2021-02-05 18:43] tonyvugithub opened #1660 "Fix inconsistent theming colors throughout all pages"
**What happened**:
The theme colors are not applied to all pages
**What should have happened**:
It should be consistent.

[2021-02-05 18:44] yuanLeeMidori opened #1661 "Next header logo is not clickable"
**What happened**: Next telescope's header logo is not clickable.

**What should have happened**: It should be clickable and lead user back to home.

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-02-05 18:49] manekenpix commented on #1439
As said in this [comment](https://github.com/Seneca-CDOT/telescope/pull/1444), most warnings/errors have been fixed.

Updated list of warnings/errors:

[code]

[2021-02-05 19:08] tonyvugithub opened #1663 "Fix inconsistent styling of Login tab on Next frontend"
**What happened**:
With the merge of #1659 , we had a CSS bug where the Login Tab does have the same styling as the other tabs.
![image](https://user-images.githubusercontent.com/55034244/107077824-68385680-67bb-11eb-9f67-0ca86e717417.png)
**What should have happened**:
They should be same size and have same styling.
**How to reproduce it (as precise as possible)**:
Trigger next front end by runni

[2021-02-05 20:00] tonyvugithub commented on #1641
@chrispinkney : Want to take this on Chris now that we have the header in?

[2021-02-05 20:55] chrispinkney commented on #1642
So here's my initial ideas based on the conversation we all had in both Teams and Slack:

#### DB
- This (_NoSQL_) DB will be provided by [Google's Cloud Firestore](https://cloud.google.com/firestore).
  - It will contain the current [CDOT Planet Feed List](https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List) for online backup purposes.
    - It'll contain user information such as GitHub

[2021-02-05 21:05] raygervais commented on #1627
I'd be happy to work with someone on autodeployment!

[2021-02-05 21:26] c3ho commented on #1627
@humphd happy to learn work + learn about Auth. I should have a bit more availability now to work on Telescope

[2021-02-05 21:47] tonyvugithub commented on #1645
@humphd : So to confirm, this service is to return the feed URL when someone enter their blog URL, pretty much?

[2021-02-05 23:58] humphd commented on #1645
I send the API https://tonyknvu.medium.com/ and it makes sure this blog is real and exists, then figures out that the feed is https://medium.com/feed/@tonyknvu and returns that.

The React front-end can use this to accept a blog URL and then provide a feed URL to be sent when we register the user.

[2021-02-06 00:12] humphd commented on #1642
Some further details.

When a user signs-up to Telescope, they will first authenticate with Seneca's SSO provider, which returns data that looks like this:

[code]

We don't care about a lot of this, but we need the following (see [what we currently use](https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/data/user.js)):

- `id`: we hash the `nameID` and get a 10-character hash (i.e.,

[2021-02-06 00:14] humphd commented on #1627
See #1642 for a `user` service we need to build.

[2021-02-06 00:51] chrispinkney commented on #1641
@tonyvugithub I'd like to but I think I have too much on my plate right now, I'll make a reminder to re-evaluate this later in the week but if anyone reading this wants this feel free to jump on it.

[2021-02-06 00:52] tonyvugithub commented on #1641
@chrispinkney i can take it

[2021-02-06 00:57] PedroFonsecaDEV opened #1664 "[next] New icon"
**What would you like to be added**:
New Telescope Icon
**Why would you like this to be added**:

[2021-02-06 14:44] humphd opened #1666 "Extract a base microservice layer to reuse for all our services"
In #1636 @raygervais and I have been iterating on our first microservice, a simple image service.  As we start to work on other services (#1627) we're going to have to solve the same problems over and over again:

- env handling
- setup express `app`
- security (helmet, csrf, cors, etc)
- various base middleware
- logging
- error handling
- start a server on a predefined port
- graceful shutdown (

[2021-02-06 14:50] raygervais commented on #1666
@humphd, did you plan on updating the image service first with this architecture?

[2021-02-06 15:20] humphd commented on #1666
It might be smart, what do you think?  Then others can focus on their service features vs. solving these problems.

[2021-02-06 15:25] raygervais commented on #1666
Agreed, plus we can add a base Dockerfile into `_microservice` for reference as well (adding to your list).
The ports we are going to have to juggle, so my idea: keep a `.env` file in the root directory of telescope (or config folder) which gets copied on build by Docker into the various containers. This way, we can define ports / configurations in a single place.

Logging means getting Kibana con

[2021-02-06 15:27] humphd commented on #1666
OK, great.  I like your idea of always copying the root `.env` into each, so we can continue to configure the entire app like we do now, and specify port numbers for services in there.

Yeah, I really want to get Kibana/Elastic/??? tied in with all these services and Traefik so we have visibility into what's happening.  #1348 is related.

[2021-02-06 15:30] raygervais commented on #1666
I'll start on #1348, based on the work we are doing here

[2021-02-06 20:33] humphd commented on #1647
https://github.com/renovatebot/renovate is another approach that we could run as a CI tool.

[2021-02-06 23:07] HyperTHD commented on #1554
#1667 is the last issue related with directly exporting the components. It's also the last component to be ported over to next. Once that lands, this issue can be closed

[2021-02-06 23:08] HyperTHD commented on #1553
#1667 is the PR that addresses the last component using React.FC, which is the banner component. Once that's taken cared of, this issue can be closed

[2021-02-07 00:14] tonyvugithub commented on #1645
@humphd : I think I have an idea how to do this. Can you lay them out here so you can confirm for me?
1) Ping the blog URL/ send a Head request to check if the link is existing.
2) Filter the domain to determine the blog site and return the feed URL pattern of that blog site. I am thinking to search for a library that could recognize all kind of blog site name, not sure if there is something like

[2021-02-07 06:10] #1664 closed

[2021-02-07 08:29] foxviet commented on #1641
I think it's better to detect the system setting of the device first and set the dark/light theme automatically, and still have a switcher for user to change to their desired theme mode

[2021-02-07 08:54] foxviet commented on #1455
@humphd  I don't think this bug is exists now

[2021-02-07 14:42] humphd opened #1668 "Apply Dockerfile best practices from Snyk recommendations"
I saw a nice post today from Synk about best practices for securing node apps in Docker:

https://snyk.io/blog/10-best-practices-to-containerize-nodejs-web-applications-with-docker/

<img width="1271" alt="Screen Shot 2021-02-07 at 9 41 11 AM" src="https://user-images.githubusercontent.com/427398/107149787-a69f5400-6928-11eb-8772-ec6f5ac4920c.png">

We should apply as many of these as makes sense

[2021-02-07 14:45] humphd commented on #1455
https://dev.telescope.cdot.systems/search?filter=author&text=andre and you can see that it does

[2021-02-07 14:46] humphd commented on #1641
I agree using `prefer-color-scheme` would be smart here for the initial value, and combine that with a localStorage hook to remember the preference.

https://web.dev/prefers-color-scheme/

[2021-02-07 14:54] humphd commented on #1645
Right, I think it should look like this:

1. client does a `POST` to `/` and sends a URL in the body: a blog URL to use (e.g., https://tonyknvu.medium.com/)
2. server makes sure we got a valid URL then either errors (400) or continues
3. server does a `HEAD` request to make sure we get back a 200 with type `text/html` (i.e., it should be a valid web page), not a 404 or something else.
4. server ex

[2021-02-07 15:07] foxviet commented on #1455
I thought it occurs on the main page

[2021-02-07 15:37] humphd commented on #1455
We render the same timeline/post component in both places.  It seems to be specific to some posts, not all.  Could be a bug in our feed parsing?  Could be a bug with this blog?  Could be in the front-end?  Not sure.

[2021-02-07 16:12] foxviet commented on #1455
it seemed this happened to this author only,after tried a couple other authors. In one (only) blog of this author, the embedded images are broken too.

![](https://i.imgur.com/HiHCUZw.jpg)

image url:

![](https://i.imgur.com/RfsSyCq.jpg)

[2021-02-07 19:07] humphd commented on #1455
The feed is https://abhaseen.github.io/feed.xml, which is giving 404.  Maybe I should just remove the feed from our system.

[2021-02-07 22:31] #1439 closed

[2021-02-08 01:02] #1661 closed

[2021-02-08 10:37] PedroFonsecaDEV opened #1672 "[next] Investigate bugs related to Fonts."
**What happened**:
In some components declaring a font family does not work.
**What should have happened**:

**How to reproduce it (as precise as possible)**:
This PR is an example: https://github.com/Seneca-CDOT/telescope/pull/1667
**Anything else we need to know?**:

**Environment**:

- OS: MacOs
- Browser: Safari and Chrome

[2021-02-08 20:10] yuanLeeMidori commented on #1588
@humphd

I've tested 1.2.0 of bull-board, it didn't pass our tests. I think the main reason is this error,

[code]

`setQueue` is not working due to the bullQueues.forEach not a function error.

https://github.com/vcapretz/bull-board/blob/82ca337dac03b8be1182f824ab343a5bc749e08d/src/index.ts#L40

Does that mean the problem here is in the package?

[2021-02-09 00:18] humphd commented on #1588
The API must have changed, looks like: https://github.com/vcapretz/bull-board/tree/82ca337dac03b8be1182f824ab343a5bc749e08d#hello-world.  We need to wrap in a BullAdapter I guess and send as an Array of one element.

[2021-02-09 02:52] yuanLeeMidori commented on #1588
@humphd
ohh okay it passes the test when I wrap it with BullAdapter. Thanks!

The other failure still exist, didn't pass with the `setQueue` wrapping.
[code]

 Is this failure complaining about the `router.use()` or the `'/queues'`? There was no such failure before upgrading to this version.

[2021-02-09 03:14] yuanLeeMidori commented on #1455
Same here, I've checked couple authors and only this specific author's link leads to `/`, which might because of the 404 user feed.

[2021-02-09 06:23] PedroFonsecaDEV commented on #1660
@tonyvugithub, let's block this to work on the new theme colors (no more gatsby UI, let's work on the new UI).
I will post the colors on GitHub.

[2021-02-09 06:36] PedroFonsecaDEV opened #1675 "[next] [UI] - Mobile UI"
**What would you like to be added**:
The new mobile UI.

https://user-images.githubusercontent.com/60857409/107325068-1f142b00-6a77-11eb-981f-5f1a78139b2d.mp4

[2021-02-09 06:37] PedroFonsecaDEV opened #1676 "[UI 2.0] - Home Page - Design Reference"
**What would you like to be added**:
# DESKTOP
The new desktop UI - Please use the video and the image as a reference when working on the UI.
![DESKTOP UI - 2 0](https://user-images.githubusercontent.com/60857409/107446664-e2930e80-6b0c-11eb-96d8-86a66d6c996d.jpg)

https://user-images.githubusercontent.com/60857409/107325178-51be2380-6a77-11eb-8105-fd45560a6934.mp4

# MOBILE

https://user-images.g

[2021-02-09 06:45] PedroFonsecaDEV opened #1677 "[UI 2.0] Post + Author Info"
**What would you like to be added**:
Port our Post Title to the new UI.

As part of #1676

[2021-02-09 06:46] PedroFonsecaDEV commented on #1676
We will break this issue into small parts:
Follow some ideas:
- Header will become SideBar
- Post's CSS
- Post's Title [Pedro Fonseca] (#1677)
- ScrollAction(BackToTop)

[2021-02-09 06:48] PedroFonsecaDEV commented on #1675
We will break this issue into small parts:
Follow some ideas:

- Bottom Bar
- Post's Title Mobile

[2021-02-09 06:54] PedroFonsecaDEV opened #1678 "[UI 2.0] Light Theme Colors"
**What would you like to be added**:
Light theme colors for our new UI.

COLORS:
TITLE:#121D59
ICONS: #121D59
TEXT: #000000
BACKGROUND:#E5E5E5
ScrollToTop background:  #A0D1FB

Please check: #1676

[2021-02-09 06:55] foxviet commented on #1676
what about swapping position of these 2 sections? author info on the left - right-alignment (blog content still keep in left alignment), the vertical separator can be removed or in grey to make it less significant.

[2021-02-09 06:57] PedroFonsecaDEV commented on #1678
@tonyvugithub,
Let me know if you are okay with being assigned to this issue.

[2021-02-09 06:59] foxviet commented on #1676
also Logo background color in light-er blue

[2021-02-09 07:04] PedroFonsecaDEV commented on #1678
I had assigned @tonyvugithub but I didn't ask him if he was okay with that. Sorry.

[2021-02-09 07:18] foxviet commented on #1676
something like this

![](https://i.imgur.com/QBr4Ioh.jpg)

[2021-02-09 07:49] foxviet commented on #1675
I think there's some problems on this design:
- right hand user will hit logout button as 'back' button.
- bold title and smaller, put titles on top of blog posts (can be wrapped in multiple lines with author&date under), shouldn't keep it fixed on header Nav anymore due to small screen size.

[2021-02-09 11:43] izhuravlev opened #1679 "Fix Next,js Header Telescope Icon Margins and size"
**What happened**: After porting Header.js, MobileHeader.js, DesktopHeader.js from Gatsby to Next.js in #, we've encountered a number of bugs that need to be fixed. One of them is Telescope Icon sizing.

**What should have happened**: The icon needs to have the same margins and be the same size as in the Gatsby version of the header.

**How to reproduce it (as precise as possible)**:

**Anything e

[2021-02-09 11:45] izhuravlev opened #1680 "Fix Next.js Header height"
**What happened**: After porting Header from Next to Gatsby, the height of the header is different

**What should have happened**: The height of the header should be the same as in the Gatsby version.

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-02-09 11:50] izhuravlev opened #1681 "Add Light/Dark mode toggle to the Header"
**What would you like to be added**: It would be great to put the Light/Dark mode toggle to the Next.js Header

**Why would you like this to be added**: Looks neat, at it is a lot more useful to have it there than anywhere else.

You can take a look at [Material UI header](https://material-ui.com/) for motivation:
![image](https://user-images.githubusercontent.com/36719387/107359741-1c045380-6ae6-

[2021-02-09 11:56] izhuravlev opened #1682 "Fix onClick reaction area in Next.js MobileHeader"
**What happened**: After porting MobileHeader to Next.js, buttons in the side-menu react only when clicked precisely on the text.

**What should have happened**: They should react when clicked a little bit to the side as well - the onClick area should be increased

**How to reproduce it (as precise as possible)**: Start the Next.js version of the Front-end, open the mobile view, open the side-menu

[2021-02-09 13:38] #1660 closed

[2021-02-09 13:40] tonyvugithub commented on #1681
It has already been done #1641. Hence, I will close this issue. Thanks for the effort though.

[2021-02-09 13:40] #1681 closed

[2021-02-09 13:41] tonyvugithub commented on #1678
@PedroFonsecaDEV : No worry I can update the light theme colors.

[2021-02-09 13:41] izhuravlev commented on #1681
Works for me :) 👍

[2021-02-09 13:45] tonyvugithub commented on #1675
@foxviet : The nav bar got move to the bottom, So I think you misunderstood the design.
@PedroFonsecaDEV: Also, I agree that the logout button could be redesign so the users would not click it by accident and sign out, maybe some rethinking here.

[2021-02-09 13:50] foxviet commented on #1675
I know, just used wrong word, should be 'fixed' title bar on top

[2021-02-09 14:02] foxviet opened #1683 "[next] Image does not fit the banner size"
When go over 1920, the image looks like this

![](https://i.imgur.com/jzsAkOa.jpg)

[2021-02-09 15:48] chrispinkney commented on #1490
This will be closed when #1651 lands, closing now as a result as this pertains to Gatsby which will not be used.

[2021-02-09 15:48] #1490 closed

[2021-02-09 16:23] yuanLeeMidori commented on #1455
In this case, I think we can check the feed list and see if there is any 404 URL? And remove the invalid ones manually. Maybe use a bot to do this?

[2021-02-09 23:01] birtony opened #1684 "Remove release-it from the list of dependencies"
**What would you like to be added**:
We should get rid of `release-it` command line tool.
**Why would you like this to be added**:
We have improved our release process to use npm-version with GitHub Actions (see https://github.com/Seneca-CDOT/telescope/pull/1628 and https://github.com/Seneca-CDOT/telescope/pull/1648), so there is no need for `release-it` anymore.

[2021-02-09 23:47] PedroFonsecaDEV opened #1686 "[next] Update deprecated Fonts."
**What happened**:
We are using deprecated fonts on our front-end. This issue is just a remind that `typeface-robot` that we currently use is deprecated. And should be replaced by https://github.com/fontsource/fontsource
What is going to be fixed when we start to work on the new UI.
**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?*

[2021-02-10 00:10] #1672 closed

[2021-02-10 00:35] #1684 closed

[2021-02-10 01:03] PedroFonsecaDEV opened #1687 "[UI 2.0] SideBar"
**What would you like to be added**:
The new sidebar for UI 2.0. Please check:  https://github.com/Seneca-CDOT/telescope/issues/1676

Let's use [MUI Icons](https://material-ui.com/components/material-icons/)

| Icon 	| Icon on MUI icons: 	|
|------	|--------------------	|
|     search 	|         `import SearchIcon from '@material-ui/icons/Search';`           	|
|   home   	|            `import Hom

[2021-02-10 01:06] PedroFonsecaDEV commented on #1675
Closing this issue.
REASON: We are going to work on this here: https://github.com/Seneca-CDOT/telescope/issues/1676

[2021-02-10 01:06] #1675 closed

[2021-02-10 01:10] PedroFonsecaDEV opened #1688 "[UI 2.0] Posts"
**What would you like to be added**:
Port our Posts to our new UI.
Please check here https://github.com/Seneca-CDOT/telescope/issues/1676 for reference.

[2021-02-10 01:14] PedroFonsecaDEV opened #1689 "[UI 2.0] ScrollToTop"
**What would you like to be added**:
Port our `ScrollToTop`to our new UI.
Please check #1676 for reference.

[2021-02-10 01:18] PedroFonsecaDEV opened #1690 "[UI 2.0] Post's content CSS"
**What would you like to be added**:
Port our `Post`'s content to our new UI.
You can find the CSS file here: https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/next/src/styles/telescope-post-content.css

Please check https://github.com/Seneca-CDOT/telescope/issues/1676 for reference.

[2021-02-10 01:41] #1632 closed

[2021-02-10 02:00] PedroFonsecaDEV commented on #1679
@izhuravlev @rjayroso
We are porting to our new UI, and this bug doesn't need to be fixed.
Please check https://github.com/Seneca-CDOT/telescope/issues/1676 pick up an issue and assign yourself.

[2021-02-10 02:01] PedroFonsecaDEV commented on #1680
@izhuravlev @rjayroso
We are porting to our new UI, and this bug doesn't need to be fixed.
Please check https://github.com/Seneca-CDOT/telescope/issues/1676 pick up an issue and assign yourself.

[2021-02-10 17:44] birtony commented on #1647
Based on our discussion with @yuanLeeMidori, we have identified the following requirements for the dependency bot that we are going to use:
- assigning reviewers - it would be helpful to configure the bot to set admin group as reviewers for each dependency update PR)
- commit message format - it would be helpful to be able to prefix commit messages generated by the bot in accordance with https://g

[2021-02-10 17:54] birtony commented on #1647
I have looked into [Dependabot ](https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/) and identified the following:
- it does satisfy all three requirements identified above
- it does **not** allow us to automatically merge commits. However, this can be easily substituted with GitHub Actions. For example, [this action](https://github.com/marketplace/actions/dependabot

[2021-02-10 18:00] #1616 closed

[2021-02-10 18:00] #1553 closed

[2021-02-10 18:00] #1554 closed

[2021-02-10 18:35] chrispinkney commented on #1642
After some discussion during Tuesday's meeting we have come to an agreement and also solved some concerns/questions:

 - We are going to be storing the User's information in the following '_schema_':
 - Firestore Document ID (per user) : `id` (see: [this](https://github.com/Seneca-CDOT/telescope/issues/1642#issuecomment-774355152) for more info on `id`)
   - `firstName` : string
   - `lastName` :

[2021-02-10 18:41] birtony commented on #1642
Thanks for summarizing, @chrispinkney! I thought we are going to pull the `displayName` from Telescope SSO (`fullName`) at first as well? Also, another question that crossed my mind is what email address are we going to use to create a Firebase account? Should it be yours @humphd?

[2021-02-10 18:43] humphd commented on #1642
I think `isFlagged` is probably better language than `isDisabled`.

Should we have a `github` key, and then it can have sub-fields?

[code]

And we can add more as we go if necessary.

[2021-02-10 18:47] chrispinkney commented on #1642
@birtony Yeah I believe he said he'll be the admin for the DB.
@humphd Awesome feedback, agreed. I'll change it up.

I'm not too sure about how we'd get the GitHub Avatar URL + other info (maybe wait until Mo's GH PR is up and toy around with it then?), so maybe something like:

[code]

What do you think?

[2021-02-10 19:14] chrispinkney opened #1691 "[next] Create a Layout (i.e. Pagebase) for informational pages (error, about, future docs, etc)"
**What would you like to be added**:
We should make a common shared layout (similar to [Gatsby's Pagebase](https://github.com/Seneca-CDOT/telescope/blob/master/src/frontend/gatsby/src/pages/PageBase.js)) for pages that provide information to our users.

**Why would you like this to be added**:
This layout can be utilized on several pages such as `error`, `about`, and future docs that may be added

[2021-02-10 19:14] humphd commented on #1642
The GitHub API will let us [get the following info for a user](https://docs.github.com/en/rest/reference/users#get-a-user), based on their `username`:

[code]

This info could be collected in the browser before submitting the data to the User web service and/or the User web service could get it based on the username.  cc @Metropass

[2021-02-10 19:25] chrispinkney commented on #1642
Hm I'm not too sure what the better approach for this is. If it's just a simple `get` request then yeah the frontend could populate the avatar url for us with some sort of hook tied to a submit button pretty easily I imagine. This way the GH microservice could leverage the username specified by the user and pull the service's required info based on the username as specified by the user.

[2021-02-10 20:57] humphd commented on #1642
I think you can do stuff like this in this User service (i.e., we don't need a separate service to get the info).

If the browser sends us this data, we use it; if we just get a username, we use that to get it ourselves.

[2021-02-10 23:59] Metropass commented on #1642
That's very useful, we also need to figure out a way where we could hook someone's github onto their blog posts on Telescope. This would be great for an automated `About this contributor` page or something

[2021-02-11 14:59] humphd opened #1693 "Fix async express middleware to properly handle error cases"
We have a lot of express end-points that use `async` functions:

[code]

Express 4.x doesn't quite do `async` properly, in that you have to manually deal with the error case and call `next(err)` manually so that errors propagate down the middleware chain to the eventual default error handler.

The trick is to turn code like this:

[code]

into something like this:

[code]

Basically, we have to ei

[2021-02-11 19:44] HyperTHD commented on #1693
So if I'm understanding this correctly, we'd fix up the backend routes so that they explicitly call next with the error?

For reference, here's our logout route in `auth.js`
![Example-Route](https://user-images.githubusercontent.com/16841702/107689992-826cab80-6c77-11eb-9282-9c222590656f.png)

[2021-02-11 19:50] humphd commented on #1693
In the code you listed above, we aren't using `async`, so this doesn't apply.  However, in this case we do need to do something different from the usual error handler: we want to redirect.

[2021-02-11 22:40] #1534 closed

[2021-02-12 07:11] PedroFonsecaDEV opened #1697 "[UI 2.0] Add new logo with a red dot"
**What would you like to be added**:
Add our new Logo with a red dot.

[2021-02-12 16:53] #1683 closed

[2021-02-12 17:37] yuanLeeMidori commented on #1647
After look into [Renovate](https://github.com/renovatebot/renovate), I found that it meet all our requirements.

- It can assign reviewers (individual or team) in PR.
- It can set schedule such as daily/weekly, and also the time range (e.g. 8am to 9pm). It's able to change time zone as well.
- It can customize commit message.

For optional feature,

- It can config auto-merge.
- It can only apply

[2021-02-12 18:03] #1376 closed

[2021-02-12 19:33] chrispinkney commented on #1676
I really like where this is heading! To clarify what we spoke of in the meeting today, you're removing the three right buttons, and moving them to the top right, right?

[2021-02-12 19:35] foxviet commented on #1676
@chrispinkney yes correct!

[2021-02-12 20:24] PedroFonsecaDEV commented on #1676
Let's keep the design the way it is on the issue description. There will be more icons in the future so we will need space for them. ( stream icon, GitHub feed, theme icon...).

[2021-02-12 21:22] humphd opened #1704 "Set up new domains for Telescope Microservices API services"
We're slowly adding/refactoring our Telescope back-end to use microservices.  The first such service is ready to be deployed, and we'd like to separate it out onto its own `api.*` sub-domain.

To do this, we need 2 new sub-domains to be registered:

- https://api.telescope.cdot.systems/ (for production)
- https://dev.api.telescope.cdot.systems/ (for staging)

We'd like to run these on the same box

[2021-02-12 21:26] humphd opened #1705 "Add Let's Encrypt to Traefik Microservices router"
We want to have our microservices available on the web at the following URLs:

- https://api.telescope.cdot.systems/ (for production)
- https://dev.api.telescope.cdot.systems/ (for staging)

Doing so requires us to get SSL certificate management added to Traefik.  Luckily, this is already baked into Traefik, [we only need to configure it](https://doc.traefik.io/traefik/v1.7/user-guide/docker-and-l

[2021-02-12 21:38] humphd opened #1706 "Add Microservices docker-compose to production startup"
We currently deploy everything via [docker-compose-production.yml](https://github.com/Seneca-CDOT/telescope/blob/master/docker-compose-production.yml).  In this scenario, nginx is the gateway router to the rest of our apps.

We're going to add a second web host, where Traefik is the router to a bunch of Docker containers (our microservices, ELK stack apps, etc).

We're going to move to having two

[2021-02-12 21:41] humphd commented on #1676
@PedroFonsecaDEV I think @foxviet is interested in helping to iterate and get involved in the design, so I'm not sure we need to freeze things.  It would be great if you two could chat on Teams or Slack to think about various options.  We had a good discussion on the call today about some tweaks to this.

[2021-02-12 23:21] #1697 closed

[2021-02-12 23:31] #1686 closed

[2021-02-13 01:00] HyperTHD commented on #1607
Gonna also take a look at this as well

[2021-02-13 01:28] birtony opened #1726 "Create Renovate Badge for README"
**What would you like to be added**:
We should add a Dependabot badge to our README.md once it is supported: https://github.com/dependabot/dependabot-core/issues/1912
**Why would you like this to be added**:
It'd be nice to see Dependabot status live on README

[2021-02-13 04:35] ctyler commented on #1704
The way I interpret the initial comment on this issue, Dave, is that both of the new hostnames (not subdomains) are CNAMEs for telescope.cdot.systems -- but I would have expected that dev.api.telescope.cdot.systems would be a CNAME for dev.telescope.cdot.systems instead. (Also, I would have used api.dev.telescope.cdot.systems instead of dev.api.* but either way).

So:
(1) If you want the new names

[2021-02-13 13:49] humphd opened #1730 "Deal with Dependabot spamming CI"
I got an email today that I'd been billed for excess hours by Netlify due to the number of CI jobs started by Dependabot.  It also looks like Vercel is now failing all jobs too, which I suspect is them rate limiting us too.

I don't think this current setup is going to work.  We'll run into limits with all our CI if we keep doing this.

Let's figure out a solution soon to reduce these jobs, group

[2021-02-13 13:50] humphd commented on #1730
By the way, I deleted my Netlify integration to stop the billing from rising, so we'll have to figure out preview builds for next some other way.

[2021-02-13 14:15] humphd commented on #1704
@ctyler I'm not 100% sure what the right setup is, so please advise me.  My goal is to get an `api.*` domain that I can get SSL certs setup on, and which will run on the same machine as the current setup (that it runs on the same machine is not important, it's just a detail of what we'll do).  It will allow us to access different apps from the current t.c.s 80/443 setup.

If I can do that with wha

[2021-02-13 15:19] #1730 closed

[2021-02-13 16:59] humphd commented on #1627
OK, first service and associated infrastructure for microservices has landed, see #1636 and the image service.  It provides a good example for creating other services (cc @chrispinkney for the user service).

I'm going to close this and follow-up in other issues we have filed.

[2021-02-13 16:59] #1627 closed

[2021-02-13 17:00] humphd commented on #1666
Finished with https://github.com/Seneca-CDOT/satellite and used in the new image service, see src/api/image.

[2021-02-13 17:00] #1666 closed

[2021-02-13 17:17] humphd commented on #1588
It is likely that the UI function isn't a middleware function now.  Can you see what it is?

[2021-02-13 17:24] humphd opened #1733 "Switch front-end to next.js"
Today I had to turn off the Netlify PR Preview builds for our next.js site.  This required me to switch our Vercel PR Preview builds from Gatsby to Next.

Because we're now basically using next everywhere, I think it's time to make the switch on staging/prod too.  For the 1.7 release, I'd like to fix any outstanding defects in the next frontend (things missing from Gastby), and then switch our dep

[2021-02-13 17:27] humphd commented on #1733
Things I know about:

- Login button styling (#1703 is waiting on a rebase from @izhuravlev)
- Remove hero image from search and other non-home pages (I think @tonyvugithub was doing this in another PR?)
- Some colour differences in our theme (e.g., nav header is a different blue)
- Search page has a bunch of weird UI quirks with colours, sizes, and fonts
- Height of navbar is wrong

[2021-02-13 17:33] tonyvugithub commented on #1733
@humphd the hero image problem it will be fixed with #1674 PR

[2021-02-13 17:42] HyperTHD opened #1734 "Height of Navbar is inconsistent and Colors are inconsistent"
Telescope has switched to using the next frontend on vercel instead of gatsby. Looking at it, there's a small issue with the height of the navbar. It's off by a little bit and should be resolved as an easy fix.

What the navbar should look like:

![Original navbar height](https://user-images.githubusercontent.com/16841702/107856814-cb983900-6df8-11eb-97ee-51af733d9f16.png)

How the navbar looks li

[2021-02-13 17:45] humphd commented on #1734
<img width="293" alt="Screen Shot 2021-02-13 at 12 44 11 PM" src="https://user-images.githubusercontent.com/427398/107856896-6729a980-6df9-11eb-87d7-3392e1fa3f4c.png">

Colours are also wrong

[2021-02-13 17:47] HyperTHD commented on #1733
Filed #1734 to deal with the navbar height issue

[2021-02-13 18:19] HyperTHD opened #1735 "Creating a Post microservice"
**What would you like to be added**:

Telescope is going to undergo a huge overhaul with the backend as we're going to convert it to operate using microservices. As part of that effort, we should have a microservice to handle the posts.

**Why would you like this to be added**:

A microservice to handle the posts would take away pressure from the feeds service we also plan on incorporating. The mi

[2021-02-13 18:27] humphd commented on #1735
I think the way to think about this service is to begin small.  Here is my initial suggestion:

- Look at the existing code in https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/posts.js and tests in https://github.com/Seneca-CDOT/telescope/blob/master/test/posts.test.js
- Port that code over to a stand-alone service in `src/api/posts`
- Add Redis to `src/api/docker-compos

[2021-02-13 19:39] humphd commented on #1642
Another cool thing we can do without having to invent new code is to use [GitHub's automatic Atom Feeds](https://docs.github.com/en/rest/reference/activity#feeds) for users we create in the system

Try it with your account username:

[code]

We can ingest this into our current feed parser, and figure out how to do the UI for it.

[2021-02-13 19:45] humphd commented on #1642
https://github.com/benwinding/example-jest-firestore-triggers is a useful source of info on how to do testing.

[2021-02-13 19:58] humphd opened #1736 "Create a "post parsing/sync" microservice"
We are moving toward microservices for our back-end, and I want to refactor our current [Feed Parser](https://github.com/Seneca-CDOT/telescope/tree/master/src/backend/feed) into a separate service.

I don't know what to call this, some ideas:

- sync
- update
- parser

Whatever we call it, here is what it does:

- Connect the new User (#1642) and Posts (#1735) services via Redis
- Implements a Red

[2021-02-13 19:59] c3ho commented on #1736
Can I take this issue?

[2021-02-13 20:00] humphd commented on #1736
You can!  See `src/api/image` for a template to write yours.

[2021-02-13 20:14] humphd opened #1737 "Create a search microservice"
We are moving toward microservices for our back-end, and I want to refactor our current search routes into a separate service.

We have some existing code for this at https://github.com/Seneca-CDOT/telescope/blob/master/src/backend/web/routes/query.js and a working implementation for searching Posts and Authors.

To begin, let's duplicate what we have, but provide a better REST API, maybe somethin

[2021-02-13 23:09] PedroFonsecaDEV commented on #1680
@izhuravlev @rjayroso

Sorry guys.
there is a change in our plans. We need to finish the port and have the old UI working 100% on the NEXTJs.

[2021-02-13 23:09] PedroFonsecaDEV commented on #1679
@izhuravlev @rjayroso

Sorry guys.
there is a change in our plans. We need to finish the port and have the old UI working 100% on the NEXTJs.

[2021-02-14 00:42] PedroFonsecaDEV commented on #1734
Working on this.

[2021-02-14 01:29] raygervais commented on #1737
I'd be interested in helping with this service, may not have time to fully implement but can def provide the foundation

[2021-02-14 01:45] humphd commented on #1737
Cool @raygervais, do what you can, and we'll take over from there.

[2021-02-14 02:05] DukeManh commented on #1420
I think I know what the cause is, `useSWRInfinite` returns an array of pages where `data[0]` is an array of posts on the first page. To determine if the research returns nothing we should check for empty `data[0]` rather than `data`  (`[ [] ]`) is truthy.

[2021-02-14 02:17] DukeManh commented on #1420
I filed #1739, quick fix for this.

[2021-02-14 02:18] PedroFonsecaDEV commented on #1420
Thanks @DukeManh.
Please feel free to join us on Slack! You are more than welcome!

[2021-02-14 02:19] DukeManh commented on #1420
I'm very happy to contribute. I already joined the server.

[2021-02-14 02:57] PedroFonsecaDEV commented on #1679
@izhuravlev could you please check if this is the same issue as #1734 ?

[2021-02-14 03:46] #1734 closed

[2021-02-14 03:48] manekenpix opened #1740 "Remove release-it.json"
We removed the `release-it` dependencies in #1685, but we didn't remove [release-it.json](https://github.com/Seneca-CDOT/telescope/blob/master/.release-it.json).

Let's remove it so new contributors won't think that we're still using `release-it` for our releases.

[2021-02-14 03:59] manekenpix commented on #1735
@HyperTHD I'm here if you need an extra hand. This sounds like a nice piece to work on.

[2021-02-14 04:52] DukeManh commented on #1420
The new properly rebased PR is #1742

[2021-02-14 04:53] DukeManh commented on #1630
The new properly rebased PR is #1741

[2021-02-14 08:41] izhuravlev commented on #1679
@PedroFonsecaDEV the main case here is the placement of telescope icon - if telescope's icon is placed the same way as it was in Gatsby version after merging the PR you mentioned - this one is good to be closed

[2021-02-14 08:44] PedroFonsecaDEV commented on #1679
@izhuravlev thanks.
So I believe we are good with this one.

[2021-02-14 08:44] #1679 closed

[2021-02-14 08:46] PedroFonsecaDEV commented on #1680
Issue closed on #1738

[2021-02-14 08:46] #1680 closed

[2021-02-14 09:43] #1663 closed

[2021-02-14 09:43] #1682 closed

[2021-02-14 17:43] humphd commented on #1576
We're only going to have next by the end of the week, so closing.

[2021-02-14 17:43] #1576 closed

[2021-02-14 17:45] humphd commented on #566
Our work in https://github.com/Seneca-CDOT/telescope/projects/20 is going to do this, closing.

[2021-02-14 17:45] #566 closed

[2021-02-14 17:46] raygervais commented on #1646
@humphd, I meant to close this with our recent work but because my PR was against your branch I could not reference it. Should we close this?

[2021-02-14 17:46] humphd commented on #780
Updating this for 2.0.  Let's figure this out!

cc @PedroFonsecaDEV, @foxviet, and other design folks.

[2021-02-14 17:47] humphd commented on #780
cc @izhuravlev, who also expressed some interest.

[2021-02-14 17:47] humphd commented on #876
We've done this now with the image service, closing.

[2021-02-14 17:47] #876 closed

[2021-02-14 17:48] humphd commented on #1011
I feel like we've done this now.  If it's still an issue, let's open a new bug.

[2021-02-14 17:48] #1011 closed

[2021-02-14 17:50] chrispinkney commented on #780
I can't offer much besides a review: I've used Vistaprint before (and found a random coupon code online that actually worked.) They were great. I think they're an American company but the factory is in Mississauga (or Toronto? Somewhere in the GTA.) Shipping was fast but they made a mistake on the poster I printed and express shipped me a second one at no charge.

They do various printing related

[2021-02-14 17:50] humphd commented on #1136
We configure this via the web console now, not an issue.

[2021-02-14 17:50] #1136 closed

[2021-02-14 17:51] humphd commented on #1049
I'm going to side-line this for now, since we're using docker-compose for the 2.0 cycle.  Moving to cloud orchestration can happen later.

[2021-02-14 17:51] #1049 closed

[2021-02-14 17:52] humphd commented on #1354
This is solved now.

[2021-02-14 17:52] #1354 closed

[2021-02-14 17:53] humphd commented on #1278
This is in now, closing.

[2021-02-14 17:53] #1278 closed

[2021-02-14 17:55] humphd commented on #1605
We're dropping gatsby, closing.

[2021-02-14 17:55] #1605 closed

[2021-02-14 17:56] humphd commented on #1455
Seems to be a one-off, and we can sort this out in the future with data validation on the User service.  Closing.

[2021-02-14 17:56] #1455 closed

[2021-02-14 17:57] humphd commented on #1645
See the service at src/api/image for a guide on how to start this.

[2021-02-14 18:06] humphd commented on #1646
Yeah, let's close this now, and we'll file updates on the bits that still need to happen later.  Thanks for getting us started with this code!

[2021-02-14 18:06] #1646 closed

[2021-02-14 20:10] humphd opened #1743 "Automate Docker build of Feed-Discovery service with GitHub Actions"
We're moving toward containerizing everything, and it might be time to consider using an [automated container build setup](https://github.com/docker/build-push-action) with Actions so we can build and push to a registry, then automate our deployments to pull for zero-downtime updates.

[GitHub has a new Docker registry](https://docs.github.com/en/actions/guides/publishing-docker-images), but it lo

[2021-02-15 00:05] #1420 closed

[2021-02-15 00:37] humphd opened #1744 "Explore using Portainer to allow admins to manage docker containers"
Our current admin setup isn't great.  You have to have shell access to physical machines to work with the setup.  We should provide a web-based way to do things, and one option is [Portainer](https://www.portainer.io/)

![image](https://user-images.githubusercontent.com/427398/107893862-81e44700-6efb-11eb-993e-6c880eebc5f5.png)

Portainer would run inside our docker instance on staging/prod, and y

[2021-02-15 06:21] PedroFonsecaDEV commented on #780
I've used [redbubble](https://www.redbubble.com/) to buy a bunch of stickers. Everything was okay.

[2021-02-15 07:48] izhuravlev commented on #780
For Fun to remember: we can come with some "Telescope memes" (For example a telescope logo with a "Don't mind me - just watching", "Scoping around", "This one is a superstar!" or anything like those phrases) and probably make a slack channel for everybody to make new ones and rate them. I can also help with the design, but I think our most recent logo #1698  is pretty great.
We can also try to mak

[2021-02-15 09:08] izhuravlev commented on #780
Another point is As I am in Russia rn, it might be cheaper to do that here for me - but then we'll need to do everything before the First of April.

[2021-02-15 09:13] izhuravlev commented on #780
I actually asked my friend, who is a professional designer and artist, and she is willing to help us do it :3

She can create a Mascot if we come up with some ideas. She also worked at the printing agency before, so she knows what needs to be done. She is not a Seneca student and doesn't have a GitHub, but we can find ways to contact her apart from through me.

[2021-02-15 09:18] izhuravlev commented on #780
Btw, can anybody remind me why did we get rid of the old logo?

[2021-02-16 00:59] tonyvugithub commented on #1645
@humphd : Hi Dave, I started to get my hand on this. And I would like to have your input on my progress. My initial thought would be for each step (2-5), I would create a middleware to handle each check.  Is it the right way to think about it? It has been sometimes since I wrote an express server so looking at your Image service really helped.

[2021-02-16 15:04] #1740 closed

[2021-02-16 15:24] foxviet commented on #1415
cc: @DukeManh are you interested in this?

[2021-02-16 15:34] #1609 closed

[2021-02-16 15:55] HyperTHD commented on #1584
I'm gonna fix this once we land #1741 and #1745. Depending on how quick we get those PRs merged, I should be able to land this in either 1.7 or 1.8. Regardless, it's a non-blocking issue

[2021-02-16 17:40] yuanLeeMidori commented on #1592
outdated dependencies

[code]

[2021-02-16 19:34] HyperTHD opened #1750 "Styling is not applied in all areas when in dark mode"
When on the Search Page and in Dark Mode, some of the text don't have their font color changed to white so they're not visible to the user. Also, the login styling that was merged in #1703 doesn't seem to apply when in dark mode.

![Image example](https://user-images.githubusercontent.com/16841702/108112112-a2c7ac00-7063-11eb-9d74-6628e7d96367.png)

[2021-02-16 20:07] #1630 closed

[2021-02-16 21:04] PedroFonsecaDEV commented on #780
@izhuravlev That's nice.
We are heading to 2.0(microservices + TS + next), so we deserve a new logo and a new UI.

[2021-02-16 21:19] humphd commented on #1645
Yeah, doing this as a chain of middleware functions would be perfect, and each one can return an error, or progress to the next step.

[2021-02-16 21:34] yuanLeeMidori opened #1753 "Author name links to feed instead of blog url"
**What happened**:

When user clicks author name on post title, it should link to author's blog itself, not author's blog feed.
![image](https://user-images.githubusercontent.com/50813726/108123640-2ab5b200-7074-11eb-850b-1d54de8bb40b.png)

After clicking author name,
![image](https://user-images.githubusercontent.com/50813726/108123872-808a5a00-7074-11eb-8b5b-ce7e8340a527.png)

**What should have

[2021-02-16 21:52] #1415 closed

[2021-02-16 22:01] DukeManh commented on #1753
Is anyone working on this, the problem is that the author's feed URL lives under `post.feed.link` not `post.feed.url`. It's only one word change really.

[2021-02-16 22:03] HyperTHD commented on #1753
All yours @DukeManh

[2021-02-16 22:48] DukeManh commented on #1753
#1755

[2021-02-17 00:57] #1557 closed

[2021-02-17 03:59] birtony commented on #1647
Since Dependabot created too many PRs and exhausted our CI quotes, it was scrapped in https://github.com/Seneca-CDOT/telescope/pull/1731 and https://github.com/Seneca-CDOT/telescope/commit/7a05bc0ca5edfcc426e9a7813890b44dc13e98ab. We should make sure to prevent it from spamming our CI again by setting way lower `open-pull-requests-limit` for each package file and manually updating a bulk of outdat

[2021-02-17 17:16] DukeManh opened #1764 "Back to top button not working on mobile on Search page"
**What happened**:
Clicking Back `BackToTopButton` does not take you to the top.
**What should have happened**:
The page is scrolled to the page anchor.

**Anything else we need to know?**:
This is likely because the mobile anchor doesn't exist.

**Environment**:
- OS: IOS 14
- Browser: FireFox

[2021-02-17 17:35] #1753 closed

[2021-02-17 18:47] #1647 closed

[2021-02-17 20:04] #1764 closed

[2021-02-17 20:07] birtony commented on #1588
`highlight.js` was updated in https://github.com/Seneca-CDOT/telescope/pull/1763

[2021-02-17 22:55] #1588 closed

[2021-02-18 04:49] birtony commented on #1592
@yuanLeeMidori, [Dependabot](https://github.com/Seneca-CDOT/telescope/pull/1762), and finished updating all of our dependencies (except for Gatsby ones, which will be dropped soon anyways). Closing

[2021-02-18 04:49] #1592 closed

[2021-02-18 13:50] #1641 closed

[2021-02-18 13:54] tonyvugithub opened #1775 "Login Tab color is not correct when switching to dark mode"
**What happened**:
When you switch to dark mode, the color of Login Tab changes to black
**What should have happened**:
It should be the same color as other tabs
**How to reproduce it (as precise as possible)**:
Click on the theme toggle button to switch the theme
![image](https://user-images.githubusercontent.com/55034244/108366842-d0793600-71c6-11eb-96c0-e5e9e233d50c.png)

[2021-02-18 14:06] tonyvugithub opened #1776 "Follow up fix for #1674 PR: When refresh the page in dark mode, the toggle icon is not correct"
**What happened**:
There is a minor bug in #1674 that when you refresh the page in dark mode and desktop view, the toggle icon is not correct
![image](https://user-images.githubusercontent.com/55034244/108366842-d0793600-71c6-11eb-96c0-e5e9e233d50c.png)

**What should have happened**:
It should show the sun icon not moon icon
![image](https://user-images.githubusercontent.com/55034244/108368510-8a

[2021-02-18 15:10] HyperTHD commented on #1775
Duplicate of #1750, please close

[2021-02-18 15:13] #1775 closed

[2021-02-18 15:14] humphd commented on #1592
Amazing work, thank you @birtony and @yuanLeeMidori 🎆

[2021-02-18 15:37] humphd opened #1778 "Improve monorepo tooling with Rushjs or Turborepo"
We are evolving our app to use microservices, and thinking about having a collection of smaller apps (front-end, services) vs. a monolithic, single application.  At the same time, we're also trying to embrace the idea of having a single monorepo (all code in one place), so that we don't have to duplicate setup for things like prettier, eslint, CI, etc. for each new repo.

Until now we've been usin

[2021-02-18 15:41] cindyledev opened #1779 "[UI 2.0] Telescope logo in README.md needs to be updated"
When we're ready to start implementing the new UI, the logo icon in [README.md](https://github.com/Seneca-CDOT/telescope/blob/master/README.md) needs to be updated :)

[2021-02-18 16:14] sumitk63 commented on #1779
Hey i would like to do that. Can you please direct me where can i find the new icon that needs to be placed instead of the old one.

[2021-02-18 16:26] #1655 closed

[2021-02-18 16:39] chrispinkney opened #1780 "Fix inconsistent GitHub Contributors card in AboutFooter"
**What happened**:
With my current PR #1769 you can see that the contributor card is coloured incorrectly. I'm not sure if this a result of my styled about page, but I don't believe it is as we may not have looked at the AboutFooter until now (_since we never had a styled about page until now_) but either way it needs fixing. I'd like to progress further with my microservice so if anyone wants to

[2021-02-18 17:18] HyperTHD opened #1781 "Update Gatsby Dependencies"
Our master branch broke with our recent PR. This is due to the graphql-tools dependency breaking with Ver 6.2.8.

As per [this comment on the dependency issue](https://github.com/ardatan/graphql-tools/issues/2615#issuecomment-781494822),  it appears to have been fixed with Ver 6.2.9. We should update this dependency to 6.2.9, and also check all our gatsby dependencies to make sure they're up to da

[2021-02-18 19:32] DukeManh commented on #1417
@birtony Have you started on this one?

[2021-02-18 21:35] #1776 closed

[2021-02-19 04:35] PedroFonsecaDEV opened #1784 "Input Post Search doesn't match the gatsby one."
**What happened**:
##### Gatsby:
<img width="880" alt="Screen Shot 2021-02-18 at 11 34 06 PM" src="https://user-images.githubusercontent.com/60857409/108458064-d3fdd300-7241-11eb-950a-2330af5d81b9.png">

##### Next:
<img width="834" alt="Screen Shot 2021-02-18 at 11 33 49 PM" src="https://user-images.githubusercontent.com/60857409/108458065-d3fdd300-7241-11eb-9a54-c2d73509ef46.png">

**What should

[2021-02-19 05:02] HyperTHD commented on #1781
Seems like the issue here was caching. Closing this as the error resolved itself naturally

[2021-02-19 05:02] #1781 closed

[2021-02-19 05:27] PedroFonsecaDEV commented on #1750
This should be addressed to land on 1.7 since we are going to launch it at production.

[2021-02-19 06:42] PedroFonsecaDEV commented on #1750
This is a band-aid to avoid shipping this bug on production: https://github.com/Seneca-CDOT/telescope/pull/1786
The PR doesn’t close this issue.

[2021-02-19 15:23] izhuravlev commented on #1733
Login button styling: #1703 is merged, but there is an issue with it displaying in Dark mode. PR #1777 by @tonyvugithub merged.

[2021-02-19 16:28] #1651 closed

[2021-02-19 16:28] #1691 closed

[2021-02-19 18:21] #1784 closed

[2021-02-19 18:55] #1189 closed

[2021-02-19 19:07] humphd opened #1790 "Delete src/frontend/gatsby"
In #1789 we are moving to the next front-end instead of gastby.  Once that's working well, let's dump the src/frontend/gatsby dir and only have src/web as our single front-end.

We also need to remove all other scripts or calls to Gatsby in our tree:

- readme
- docs
- package.json scripts
- etc

[2021-02-19 19:07] humphd commented on #1790
Let's also tag the commit prior to removing this as something we can recover easily, `gatsby-last-known-good` or something.

[2021-02-19 19:07] yuanLeeMidori opened #1791 "Handling with inline img"
**What happened**:
Currently, in order to center the img in blog post, we set img element to `block`. However, this is gonna affect those inline img (raw, but still exist).
Related PRs and issues:
#1370
#1783
#1373
#1412

**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-02-19 19:10] #1468 closed

[2021-02-19 19:19] humphd commented on #1316
Closing and we'll do final work in #1790

[2021-02-19 19:19] #1316 closed

[2021-02-19 19:26] #1252 closed

[2021-02-19 19:26] #1370 closed

[2021-02-19 19:32] #1733 closed

[2021-02-19 19:35] izhuravlev commented on #780
Okay, so here are 2 variants I personally sketched (paper and pencil, I'm not a digital artist, I am sorry, pro-designer will get on it soon) for the Telescope Mascot.

You can take a look at them, comment which you like more, and I will get back with more when my friend gets me some more pro-sketches.

React on your Favourite down below!

[2021-02-19 19:36] izhuravlev commented on #780
1:
![photo_2021-02-16_17-45-34](https://user-images.githubusercontent.com/36719387/108552807-db38e580-7302-11eb-92a5-851129dee5f3.jpg)

[2021-02-19 19:36] izhuravlev commented on #780
2:
![photo_2021-02-19_22-05-37](https://user-images.githubusercontent.com/36719387/108552834-e55ae400-7302-11eb-9bed-4c17514ff085.jpg)

[2021-02-19 19:43] izhuravlev commented on #780
Also, the problem we have now is
### LOGISTICS:

1. How many stickers (or packs of stickers) do we want to print in the first batch?
When the files for the print are ready, we will store them (probably on GitHub) - so later on another batch of stickers can be printed.
2. Money: how do we process it, how do we collect it, what is the right way to do it?
3. How to send them to all the people who wan

[2021-02-19 19:46] humphd opened #1792 "https://dev.telescope.cdot.systems 403 error with next"
@manekenpix when we switched over to the new next frontend, somehow what's on staging isn't picking it up.  Here is what we did:

- https://github.com/Seneca-CDOT/telescope/commit/8afe55f16308e8514c840150a20631726b86bcab
- https://github.com/Seneca-CDOT/telescope/commit/374185c6c5ae48110213be8c961a1e5324ca3511

I'm missing something else, but not sure what.  Or is it a manual change that's needed

[2021-02-19 19:50] humphd commented on #1792
Fixed by https://github.com/Seneca-CDOT/telescope/commit/84f905de08da8c2ee34911b1737b63798e462e1e.  Abdul++

[2021-02-19 19:50] #1792 closed

[2021-02-19 20:34] humphd commented on #1790
TODO:

- We need to update `docs/gatsbyjs.md`, `docs/aws-cloud9.md` to reflect front-end changes for next

[2021-02-19 20:34] humphd commented on #1790
I created a tag `goodbye-gatsby` for the last known good version of Gatsby.

[2021-02-19 21:13] humphd opened #1794 "Release GitHub Action doesn't produce Changelog"
https://github.com/Seneca-CDOT/telescope/releases/tag/1.7.0 was our most recent release, and it has zero changelog info.  We should figure out why.

[2021-02-19 22:33] chrispinkney opened #1795 "https://telescope.cdot.systems/search and https://telescope.cdot.systems/about return 404 on prod"
**What happened**:
See title:  visiting [https://telescope.cdot.systems/search](https://telescope.cdot.systems/search) and [https://telescope.cdot.systems/about](https://telescope.cdot.systems/about) return 404 on prod

Update: You can reach `/search` and `/about` via `/` then If you refresh the page you receive a 404 too.

**What should have happened**:
The pages should have been compiled and ret

[2021-02-19 22:51] humphd commented on #1795
Looks like infinite redirects

<img width="1276" alt="Screen Shot 2021-02-19 at 5 51 00 PM" src="https://user-images.githubusercontent.com/427398/108570096-1a534080-72db-11eb-88f5-c91961a915a4.png">

[2021-02-19 23:01] chrispinkney commented on #1779
Looks like it's already there, which is weird because we were just talking a few hours ago how it needs to be fixed.

[2021-02-20 01:24] manekenpix commented on #1779
Can we close this then?

This is when the logo was changed (I think it's a push to master without PR?): [commit bafa23b](https://github.com/Seneca-CDOT/telescope/commit/bafa23b3e02eb14ef5e3aa7f210e2668cef93398)

[2021-02-20 01:36] cindyledev commented on #1779
Yeah, closing this because it's already done. Sorry @sumitk63 :(

[2021-02-20 01:36] #1779 closed

[2021-02-20 01:53] humphd opened #1797 "Move src/frontend/next to src/web"
Now that we only have one frontend, let's update our folder structure:

- Currently: `src/frontend/next/*`
- Update To: `src/web/*`

This will mean that our eventual structure will be:

[code]

This needs to be done carefully, as there are quite a few places where we reference it:

[code]

We'd also need to update some CI, especially Vercel for the build dir.

Part of #1790.

[2021-02-20 01:53] humphd commented on #1790
Filed #1797 to clean up the paths.

[2021-02-20 02:30] birtony commented on #1794
Since the existing changelog generator was leaving some of our commits/PRs out of scope in the first place, we should look for alternatives. This seems to be a more popular and more configurable option: https://github.com/marketplace/actions/release-changelog-builder
CC @humphd @manekenpix

[2021-02-20 02:36] birtony commented on #1743
I'd be keen to look into this

[2021-02-20 05:48] birtony opened #1799 "Add configuration to track docker file and GitHub Actions to Dependabot"
**What would you like to be added**:
We should configure Dependabot to monitor our docker file and GitHub Actions.
**Why would you like this to be added**:
Since Dependabot [supports Docker files and GitHub Actions](https://docs.github.com/en/github/administering-a-repository/about-dependabot-version-updates#supported-repositories-and-ecosystems), it would be very helpful to keep our dependencies

[2021-02-20 06:14] manekenpix commented on #1797
I can work on this one

[2021-02-20 14:52] humphd opened #1801 "Code escaping/highlighting bug"
Noticed reading [this post](https://dev.to/chrispinkney/il-meglio-e-l-inimico-del-bene-25f2) from @chrispinkney:

<img width="1465" alt="Screen Shot 2021-02-20 at 9 51 32 AM" src="https://user-images.githubusercontent.com/427398/108599789-46190980-7361-11eb-8a09-0c9e08ffdea8.png">

[2021-02-20 16:16] #1797 closed

[2021-02-20 23:06] birtony commented on #1794
In regards to our current changelog generator, [this issue](https://github.com/ScottBrenner/generate-changelog-action/issues/16) seems to be the reason. However, I am not why it worked the previous time 🤔

[2021-02-20 23:11] humphd opened #1803 "Try to reuse parts of our microservice Dockerfile"
A lot of our microservices are going to use a [nearly identical Dockerfile](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/image/Dockerfile).  I'm wondering if there's an obvious way to use a base layer in our service Dockerfiles so we don't have to keep building the same thing over and over again.

cc @raygervais

[2021-02-21 07:25] PedroFonsecaDEV commented on #1678
@tonyvugithub It's time! Fire #1692 again.

[2021-02-21 07:41] PedroFonsecaDEV opened #1804 "[UI 2.0] Search Page - Design Reference"
**What would you like to be added**:
Search Page UI 2.0

### DESKTOP:
![Search Desktop](https://user-images.githubusercontent.com/60857409/108666981-6acac980-74a6-11eb-8ab1-a721f0e246f6.png)

### MOBILE:
![Search_Mobile](https://user-images.githubusercontent.com/60857409/108667182-a1a0df80-74a6-11eb-9788-419a0baf6185.png)

| PR 	| MERGED 	| ISSUE 	| ASSIGNED 	|
|----	|--------	|-------	|----------

[2021-02-21 08:11] PedroFonsecaDEV opened #1805 "[UI 2.0] Search Page - SearchInput Component"
**What would you like to be added**:
Please check #1804 for reference.
Files can be found here: `src/frontend/next/src/components/SearchInput`

[2021-02-21 08:16] PedroFonsecaDEV opened #1806 "[UI 2.0] Search Page - SearchBar Component"
**What would you like to be added**:
For reference please check #1804
File can be found here: `src/frontend/next/src/components/SearchBar.tsx`

[2021-02-21 08:19] PedroFonsecaDEV opened #1807 "[UI 2.0] Search Page - SearchHelper"
**What would you like to be added**:
For reference, please check #1804
File can be found here: `src/frontend/next/src/components/SearchHelp.tsx`

[2021-02-21 08:21] PedroFonsecaDEV opened #1808 "[UI 2.0] Search Page - SearchPage component"
**What would you like to be added**:
For reference, please check #1804
File can be found here:`src/frontend/next/src/components/SearchPage.tsx`

[2021-02-21 08:25] PedroFonsecaDEV opened #1809 "[UI 2.0] Search Page - SearchResults component"
**What would you like to be added**:
For reference, please check #1804 and #1676
This component has the same behaviour as the `Posts` from our `Home Page - 2.0`.

File can be found here: `src/frontend/next/src/components/SearchResults.tsx`

[2021-02-21 08:32] PedroFonsecaDEV opened #1810 "[UI 2.0] Text Auto-fill - Title text must adjust its font-size to fit in the title div."
**What would you like to be added**:
Text Auto-fill - Title text must adjust its font-size to fit in the title div.
**Why would you like this to be added**:
We should be able to read all the titles instantly.

[2021-02-21 08:34] PedroFonsecaDEV commented on #1810
cc @yuanLeeMidori

[2021-02-21 13:58] tonyvugithub commented on #1678
@PedroFonsecaDEV : UI 2.0 is done for Index page? I could not find the PR or the issue for some reason

[2021-02-21 15:35] humphd commented on #1804
I'm not sure about the huge `i` icon for this design.  Can we keep iterating?

[2021-02-21 19:57] PedroFonsecaDEV commented on #1804
Sure. That is the idea.

[2021-02-21 20:28] tonyvugithub commented on #1790
I think @manekenpix has already deleted the frontend folder including Gatsby and move Next to the web folder in #1800 . Hence closed this

[2021-02-21 20:28] #1790 closed

[2021-02-22 00:44] HyperTHD commented on #1778
Reading the docs for all 4, I'm going to rule out yarn and lerna. Lerna imo fails the first two considerations since it's a new technology that has to be introduced with it's own unique setup that would take alot of work to migrate over. Yarn is a bit easier to teach to new devs than lerna, but has it's own disadvantages, primarily the package layout being different between devs and consumers and

[2021-02-22 00:53] HyperTHD commented on #1804
Gonna second the i logo, that thing is probably best left out. The mobile design looks great to me otherwise, with the only serious nit-pick being that we could align the author/post input select with the telescope icon.

Desktop design also needs that i logo removed. You can then modify the position of the help text by centering it below the text field where `Enter your Search here` is displayed.

[2021-02-22 01:16] #1678 closed

[2021-02-22 01:31] PedroFonsecaDEV commented on #1804
@humphd @HyperTHD maybe display just the info text without the 'i'.

[2021-02-22 01:34] HyperTHD commented on #1804
Works for me, honestly.

[2021-02-22 03:14] UsernameHasBeenChanged100Times commented on #1804
@PedroFonsecaDEV  on mobile design just replace the search icon with a 'X' (to clear text in the search input)
desktop design is good! just change some border color I think it's good

![abcxyz](https://user-images.githubusercontent.com/10421864/108652394-043bb080-7492-11eb-90c3-e3723ab72d19.jpg)

[2021-02-22 04:26] HyperTHD commented on #1693
One thing I noticed in all the asynchronous function callbacks is that many of them do not call `next(err)`. Is this something that needs to be fixed for all of these cases to fix their error handling?

[2021-02-22 05:42] PedroFonsecaDEV commented on #1804
@humphd @UsernameHasBeenChanged100Times @HyperTHD
Please check the updated issue description.

@UsernameHasBeenChanged100Times I'm available on teams if you want to.

[2021-02-22 06:33] rjayroso commented on #1807
Mind if I take over this one?

[2021-02-22 07:43] PedroFonsecaDEV commented on #1807
Sure go for it!
Please assign yourself to the issue.
Thanks.

[2021-02-22 15:48] humphd commented on #1778
@HyperTHD thanks for your useful comments here, you helped me a lot with my thinking.  I agree that using Lerna or Yarn is going to be yet another stumbling block for new devs.

Another detail we need to consider is how we'll Dockerize these workspaces. When we move to some kind of "workspace" approach, we'll have our dependencies hoisted into the root node_modules folder.  This is fine when you b

[2021-02-22 16:01] humphd commented on #1778
Another thing I see people saying is to run the docker command from the root directory of the shared package code and your app's code, so that you can pull in both directories.  https://lucas.love/sharing-code-in-a-node-monorepo-with-docker is an example of this.

For us, this might mean:

[code]

We'd need to run our various docker commands from `src/api` which has access to both `shared/` and `s

[2021-02-22 16:05] humphd opened #1815 "Consider allowing spotify iframes"
I notice that @PedroFonsecaDEV's [recent post](https://medium.com/@pedrofonsecadev/telescope-note-feb-22-2021-8601dfbaa1f0) includes a Spotify album iframe embed, which we remove in our sanitizer.

<img width="1479" alt="Screen Shot 2021-02-22 at 11 03 18 AM" src="https://user-images.githubusercontent.com/427398/108734744-c07e9080-74fd-11eb-8fb5-083e84109803.png">

The original HTML has this:

[co

[2021-02-22 18:10] HyperTHD commented on #1815
Gonna do this and update tests

[2021-02-22 19:25] humphd commented on #1693
Ideally we should have all errors go through a common error handler so that we can log it in production, see https://github.com/Seneca-CDOT/satellite/blob/master/index.js#L99-L119.

Ideally, the pattern would be something like this:

[code]

Then you

[2021-02-22 23:51] DukeManh commented on #1687
@PedroFonsecaDEV I think I'd try this. Just to be clear, how is the sidebar supposed to be on the banner? It looks ok on the post timeline because the background is white but the banner is an image.

[2021-02-23 01:33] HyperTHD commented on #1804
@PedroFonsecaDEV Mobile looks good to me.

For desktop, you can maybe fix the margin of the text so it's moved a little bit up. Otherwise, looks good to me

[2021-02-23 03:09] PedroFonsecaDEV commented on #1687
Hey @DukeManh
The SideBar has no Color; it's transparent. Sorry for the lack of details.

[2021-02-23 05:12] #1815 closed

[2021-02-23 15:35] chrispinkney commented on #1795
Looks like navigating to http://localhost:8000/about in dev works just fine. Not sure if this is an issue that occurs when generating our production build or something related to nginx/docker/etc.

[2021-02-23 15:56] izhuravlev commented on #1705
@manekenpix @humphd mentioned that you are working on this - if so, can we assign it to you?

[2021-02-23 15:57] #1460 closed

[2021-02-23 16:02] izhuravlev commented on #1608
cc @izhuravlev, @rjayroso,
We need to file a number of issues and list them there.

The issues should describe what exactly do we want to do to "Improve Accessibility" - small actions, small problems, that overall create a big change.

[2021-02-23 16:09] izhuravlev commented on #1687
@DukeManh Hey, can you please assign yourself for this if you decide to work on it?
Thank you.

[2021-02-23 16:14] izhuravlev commented on #290
cc @birtony

[2021-02-23 16:15] HyperTHD commented on #570
Discovered when running this test file
![image](https://user-images.githubusercontent.com/16841702/108872705-76aeac80-75c8-11eb-87c7-c306ec70cffb.png)

[2021-02-23 16:18] izhuravlev commented on #203
cc @HyperTHD

[2021-02-23 16:32] chrispinkney commented on #290
So because MDX is now landed this issue could be a lot of fun for whoever wants to work on it.

NextJS can automatically generate routes for files found in the `pages` directory (see [/search](telescope.cdot.systems/search/) and [/about](telescope.cdot.systems/about/)). Because of this (and because of a Pagebase being landed) we can simply pull in the docs in the `/docs` folder, apply the pagebase

[2021-02-23 16:36] manekenpix commented on #1705
Yes, I'll have a PR ready soon

[2021-02-23 16:38] humphd commented on #1803
I did a bunch of experimenting on this in #1812, see https://github.com/Seneca-CDOT/telescope/pull/1812#issuecomment-783557609 and https://github.com/Seneca-CDOT/telescope/pull/1812#issuecomment-783558495, but I didn't come up with a clean solution.

At this point I think we can duplicate the Dockerfiles in each service, and refactor when we understand the problem more.

[2021-02-23 16:44] humphd commented on #1795
Assuming this is the issue, probably we need to get our nginx.conf fixed to work with next.js vs. Gatsby.  I think we thought it would work the same, but maybe not.

Some people use the next.js server and proxy it via nginx, https://steveholgado.com/nginx-for-nextjs/.  We could do that if we find the routing can't be done other ways, but it would be nice to stay totally static.

[2021-02-23 16:56] humphd commented on #1705
@manekenpix the stuff I'm doing in #1812, do you want to get your changes in before or after that?  They are pretty closely connected.

[2021-02-23 18:14] DukeManh commented on #1687
@izhuravlev I didn't know that what I'm supposed to do, definitely will do it next time. Thank you.

[2021-02-23 18:20] DukeManh commented on #1687
@PedroFonsecaDEV Because the background is transparent, the contrast between the icons' color and the banner image is not so clear. It is ok on the timeline though.
<img width="840" alt="Screen Shot 2021-02-23 at 1 04 04 PM" src="https://user-images.githubusercontent.com/51073515/108888417-736fec80-75d9-11eb-872b-83af9709996e.png">
<img width="840" alt="Screen Shot 2021-02-23 at 1 03 58 PM" src="h

[2021-02-23 18:39] manekenpix commented on #1705
@humphd I think I should wait until #1812 is merged so I can use the changes (doenv files).

[2021-02-23 18:48] yuanLeeMidori opened #1819 "Add dependabot doc"
**What would you like to be added**:
1. Guildline for dependabot PRs
2. (Good to have) Generate a comment with a link to dependabot doc under the dependabot PR

**Why would you like this to be added**:
After we added dependabot to telescope, it might confuse people, such as "How should I review/handle this PR?", "Isn't the major update too risky?".
To improve the interests of assignees to review t

[2021-02-23 18:49] UsernameHasBeenChanged100Times commented on #1791
@yuanLeeMidori  If I use this approach

![Screen Shot 2021-02-23 at 1 47 26 PM](https://user-images.githubusercontent.com/10421864/108892373-c77cd000-75dd-11eb-9fef-af922e92ef6b.jpg)

the result will be like:

![Screen Shot 2021-02-23 at 1 45 26 PM](https://user-images.githubusercontent.com/10421864/108892400-d1063800-75dd-11eb-8855-e97559865821.jpg)

HOWEVER
for any post from 'blogspot', all imag

[2021-02-23 19:09] UsernameHasBeenChanged100Times opened #1820 "404 error when refresh 'Search page'"
ONLINE

Go to Search on https://dev.telescope.cdot.systems
Try refresh the page -> 404 error

LOCAL
Do the same -> lose CSS for the search bar

- OS: Mac OS
- Browser: Chrome, Safari

[2021-02-23 20:23] PedroFonsecaDEV commented on #1687
@DukeManh, don't worry about the contrast in the `Banner` because we will have a new `Banner` too.

Regarding the icon, you can try to find some alternative here: https://material-ui.com/components/material-icons/
But I think you are ready to go; you can send this PR, and in a follow up we change the icon.
Thanks.

[2021-02-23 20:26] DukeManh commented on #1820
This issue might be a duplicate of #1795

[2021-02-24 03:33] manekenpix commented on #1744
I'd like to help with this one.

[2021-02-24 15:21] humphd commented on #1778
Reading https://orta.io/notes/js/yarn-vs-npm and https://medium.com/edgybees-blog/how-to-move-from-an-existing-repository-to-a-monorepo-using-npm-7-workspaces-27012a100269, I think we should hold-off on this until `npm` adds more to their workspaces feature, which they are slated to do this year.

Let's revisit this in a few months.

[2021-02-24 21:58] PedroFonsecaDEV opened #1823 "Log Out button send you to About Page"
**What happened**:
After a successful log in the `log out` button send you to the `about` page.
**What should have happened**:
`log out` should do what it says.
**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-02-24 22:36] #1687 closed

[2021-02-24 22:36] #1823 closed

[2021-02-25 15:56] #1819 closed

[2021-02-25 19:38] #1820 closed

[2021-02-25 23:29] manekenpix opened #1829 "Create a Stats microservice"
Create a microservice to deliver stats related to Telescope's users and posts.

There's already code in the repo for this task, so it only needs to be part of a microservice.

**NOTE**
This piece will have to be tested against the current backend until the `Post` microservice is ready.

[2021-02-25 23:31] manekenpix commented on #1829
Also, this piece could be part of the `Post` microservices, so we can discuss if it's needed or not/

[2021-02-26 13:40] izhuravlev commented on #780
I have a question @humphd: Should we at this point create a separate issue for the Mascot and mention it here?

[2021-02-26 15:13] izhuravlev opened #1835 "Make pages height at least 100% viewport height"
**What would you like to be added**:
When trying to fix #1750, I found out that the Search page height is not 100% of the viewport.
But when I tried to fix this, I realized that it breaks how all of our pages look - so this needed a separate issue.

![image](https://user-images.githubusercontent.com/36719387/109317484-cf4aa780-785d-11eb-9db9-a52c959500a2.png)

**Why would you like this to be added

[2021-02-26 15:14] UsernameHasBeenChanged100Times commented on #1835
I fixed this in https://github.com/Seneca-CDOT/telescope/pull/1832

[2021-02-26 15:17] izhuravlev commented on #1835
@UsernameHasBeenChanged100Times Oh, good job!
Let's get your PR merged then - I'll do a review.

Closing this issue due to redundancy.

[2021-02-26 15:17] #1835 closed

[2021-02-26 15:37] izhuravlev commented on #1795
I'll work on it

[2021-02-26 16:37] #1794 closed

[2021-02-26 16:37] #1780 closed

[2021-02-26 16:59] #1808 closed

[2021-02-26 17:38] chrispinkney commented on #780
Obviously (unfortunately) not humphd but I think yeah probably. Or maybe we could use the new discussions feature of github? I think it needs to be turned on though and might be weird to use for this one time issue.

[2021-02-26 18:29] #1795 closed

[2021-02-26 18:34] izhuravlev opened #1837 "Refactor nginx.conf after moving from Gatsby to Next.js"
**What would you like to be added**:
There is some code in `nginx.conf` that needs to be refactored to work with Next.js: [here](https://github.com/Seneca-CDOT/telescope/blob/master/nginx.conf#L112-L134)
**Why would you like this to be added**:

cc @chrispinkney because he wanted to learn more about Nginx

[2021-02-26 19:47] HyperTHD commented on #1829
#1838 is up to deal with the Post microservice. I'm down to add this to the Post microservice if it's doable. Though if it also needs to get stats for Telescope's users, I'd prefer to make it it's own microservice.

[2021-02-27 00:11] PedroFonsecaDEV commented on #780
@humphd ^

@chrispinkney I can't find this feature. can you?

[2021-02-27 04:13] DukeManh opened #1841 "The about page only shows a certain number of contributors."
**What happened**:
The contribution hook only fetches 29 contributors.
**What should have happened**:
Telescope right now has 111 contributors

[2021-02-27 15:06] humphd commented on #1841
I bet the default page-size is 30, which we could likely adjust, but eventually we'll hit this again.  We might need do do some of this on the server-side.

[2021-02-27 19:53] DukeManh commented on #1841
The default perPage is indeed 30.

[2021-02-28 06:36] #1841 closed

[2021-02-28 08:00] PedroFonsecaDEV opened #1855 "Temporary Avatars for the new UI."
**What would you like to be added**:
We could use something like:
~https://evergreen.segment.com/components/avatar/~
https://material-ui.com/components/avatars/#avatar
To generate temporary avatars for our new UI while we wait for GitHub integration.

[2021-02-28 08:08] PedroFonsecaDEV opened #1856 "UI 2.0 Change all fonts from Roboto to Spartan."
**What would you like to be added**:
In our new UI, we are going to use the font `Spartan`. But our App still uses `Roboto`.
**Why would you like this to be added**:

[2021-02-28 08:10] PedroFonsecaDEV commented on #1856
cc @tonyvugithub
Maybe we can fix this using the MUI theme.
Please check: https://blog.logrocket.com/3-ways-to-add-custom-fonts-to-your-material-ui-project/

[2021-02-28 15:39] humphd commented on #1855
MUI has this already, see https://material-ui.com/components/avatars/

[2021-02-28 22:30] tonyvugithub commented on #1856
@PedroFonsecaDEV yes we can do that with static font or font-face. No issue.

[2021-03-01 00:10] DukeManh opened #1857 "Remove useSWRInfinite and `any` type in PR #1853"
**What happened**:
- The PR #1853 used `useSWRInfinite` which should only be used for infinite loading.
- `any` type is discouraged in Typescript.

[2021-03-01 07:17] PedroFonsecaDEV opened #1858 "[UI 2.0] Update logo colors."
**What would you like to be added**:
Logo color must match the buttons and title colors.
**Why would you like this to be added**:

[2021-03-02 00:22] PedroFonsecaDEV commented on #1643
@humphd @chrispinkney @birtony

![Untitled Diagram (4)](https://user-images.githubusercontent.com/60857409/109577172-269d8180-7ac3-11eb-84c6-dee72a95c0d5.jpg)

Please let me know what you think about it.

[2021-03-02 00:30] PedroFonsecaDEV commented on #1856
@tonyvugithub do you wanna fire a PR for us?

[2021-03-02 02:14] DukeManh opened #1861 "Merge DesktopHeader and MobileHeader"
**What would you like to be added**:
There's no need for separate Desktop and Mobile header files.
**Why would you like this to be added**:
In PR #1842, @manekenpix refactored the Desktop header nicely but the Mobile header was left out. The same could be done on mobile.
The only differences between mobile and desktop headers are the logo and styling (which are similar too). We can use media queri

[2021-03-02 19:20] humphd commented on #1643
cc'ing @izhuravlev too, since he ran into some issues this weekend getting his blog feed added to the current system and could probably help us think this through.

Here are my thoughts:

- "My Account" seems like it's not the right name for the case that the user isn't logged in right now.  I think we need to have "Login" and "Signup" as two distinct entry paths for this case.  Someone who hasn't

[2021-03-03 23:48] HyperTHD opened #1865 "Add additional posts routes for the Post microservice"
In #1838, I hope to land the long awaited posts microservice. The original writing of this in the backend only had 2 routes for fetching 10 posts and fetching 1 post by it's id. Once that PR lands, I plan on working to add additional routes for adding, updating, and deleting posts. This would probably involve communication with the User microservice being worked on, since deleting a post would tec

[2021-03-03 23:59] #1856 closed

[2021-03-04 01:36] #1861 closed

[2021-03-04 18:01] humphd opened #1866 "Header bleed through bug [safari]"
The new header has a z-index/background transparency bug that I hit in Safari today (might happen on other browsers too):

![header-bug](https://user-images.githubusercontent.com/427398/110008205-7067b100-7ce9-11eb-9394-38ada6bc7072.gif)

To reproduce this, you have to narrow the window so that the author component info is centered at the top.

Another bug I notice with this component is that the

[2021-03-04 18:02] humphd commented on #1866
cc @huynguyez

[2021-03-04 19:39] huynguyez commented on #1866
Same on Chrome

[2021-03-04 20:07] DukeManh commented on #1866
I think this is supposed to be fixed in the mobile PR that @PedroFonsecaDEV is working on?

[2021-03-04 22:40] PedroFonsecaDEV commented on #1866
@humphd yes. We still don't have the mobile version.

[2021-03-05 00:12] humphd commented on #1866
Let's leave this open until we have a a PR that fixes it, so we don't lose it.

[2021-03-05 00:12] #1866 closed

[2021-03-05 03:10] humphd opened #1868 "[auth] Improve how we define admin accounts"
In #1796, we are defining admin accounts via an env variable with `ADMINISTRATORS` being passed in.  This is probably OK for one super-admin, but the rest can be defined in Firebase with the #1642 (cc @chrispinkney).

[2021-03-05 03:13] humphd opened #1869 "[auth] Auth JWT Passport strategy should connect to User service"
There's a big commented-out block of code in src/api/auth/src/authorization.js showing where we need to query the User service for info about a Seneca SSO user account on login.  This was done in #1796, but couldn't be completed until the User service was added (cc @chrispinkney), so we need to loop back.

[2021-03-05 03:15] humphd opened #1870 "Figure out how to share our hasing algo across microservices"
We have a common hashing algorithm we use for a lot of things, defined in src/api/auth/src/hash.js (as well as our current backend), and we need to figure out how to share this.  Probably it needs to get moved to Satellite, so all services can access it.

[2021-03-05 03:16] humphd opened #1871 "[auth] Add JWT Signing"
We need to include JWT signing so our tokens can be verified with a public key.  Right now we only use a secret from the env.  We'll have to figure out how to generate, store, and pass the public/private keys into the container from staging/prod, similar to what we do now with certs for SSL and nginx.

[2021-03-05 03:21] humphd opened #1872 "[auth] Add logic for sending state through login flow"
Our frontend and auth service both need to be taught how to send a random piece of text (i.e., state) through with a login flow, so that redirects back to the front-end can be trusted (i.e., we know we initiated them).  The idea is that the browser generates a random string (e.g., using nanoid or something) and stores it in localStorage, then begins the login redirect flow, passing `?state=...` on

[2021-03-05 03:22] humphd commented on #1869
We also need to add more claims for this user to the JWT, and include roles.

[2021-03-05 03:23] humphd commented on #1872
Our e2e tests for auth would need to include this (e.g., new test cases).

[2021-03-05 03:26] humphd opened #1873 "Audit auth Dockerfile and use as template for all services"
I tried to make the Dockerfile for the auth service a mult-stage build, but I'm not sure if I've done it all correctly.  I'd like to get some eyes on this, and improve it however we think makes sense, then use that as a template to improve/write all the others.  cc @raygervais.

[2021-03-05 18:14] #1857 closed

[2021-03-05 21:47] birtony commented on #1417
Hey @DukeManh, not much yet. Do you want to collaborate?

[2021-03-05 22:31] #1858 closed

[2021-03-06 01:02] Metropass commented on #1644
@PedroFonsecaDEV Apologies for the wait, I've been quite ill mentally so I took a step back last week.

So far the following works

- Querying on contributors to Telescope (might expand to Seneca-CDOT in general, but that's for later)
- Grabbing projects that contributors have been working on
- Telescope Issues with a certain tag on them (i.e, first issue, backend, etc.)

What I'm currently workin

[2021-03-06 01:27] humphd commented on #1417
We'll have to figure out whether this needs to talk to the User service or Search service to get the data it needs.  cc @chrispinkney and @raygervais.

[2021-03-06 01:31] manekenpix commented on #1865
I don't think these functionalities make sense since posts are usually created on a different platform and then fetched by telescope.
if anything, the user would add/delete/update posts in the original platform and Telescope should be able to reflect those changes.

What makes sense is to flag posts so even if a post exists in the original platform, Telescope can hide it. We already do that with f

[2021-03-06 01:40] humphd commented on #1865
I agree that delete is problematic, and flagging is probably more realistic, since the next feed download/parse cycle would add it back.

So maybe what we're saying is:

- `GET /posts` - gets "all" posts, based on paging
- `GET /posts/:id` - gets one post with given `id`
- `POST /posts:id` - creates/replaces a post with the given `id`.  Data is cached in Redis, Indexed in Elastic. (requires user/o

[2021-03-06 01:48] manekenpix commented on #1865
I think it makes more sense to create/replace a post on the platform where the blog is hosted, that way the changes will be seen by both users following the blog on that platform and Telescope. Altering a post on telescope will not change the original post, so people following the blog on the original platform will miss the changes.

[2021-03-06 01:52] humphd commented on #1865
Right, I agree, we aren't getting into the business of user content creation.  I was meaning "create/replace" in the sense of it getting added to our system from the feed parser worker.  This can happen directly to redis/elastic (like we do now) or the worker process can call the posts service to add it that way.  The nice thing about do it like that would be that it's much easier to test it.  But

[2021-03-06 15:43] #1705 closed

[2021-03-08 15:25] birtony opened #1889 "Update release workflow to include new tests"
**What would you like to be added**:
Add new tests to https://github.com/Seneca-CDOT/telescope/blob/master/.github/workflows/release.yml
**Why would you like this to be added**:
@humphd added new fancy e2e tests, which are still missing in the release workflow. We should include them there as well.

[2021-03-08 15:59] #1799 closed

[2021-03-08 20:43] humphd commented on #1237
Done!

[2021-03-08 20:43] #1237 closed

[2021-03-08 20:43] humphd commented on #1154
We've removed CircleCI, closing.

[2021-03-08 20:43] #1154 closed

[2021-03-08 21:15] humphd commented on #1704
Via Slack, it sounds like this is now fixed.

[2021-03-08 21:15] #1704 closed

[2021-03-09 15:56] #1803 closed

[2021-03-09 19:56] humphd commented on #1706
I started to experiment with this, and have a prototype working locally.  We need to figure out how to evolve our current setup to properly integrate the new docker-compose/env workflow for services with our existing system.

To start, I have a `docker-compose.yml` and `nginx.conf` that look like this (this is stripped down):

[code]

And the nginx.conf:

[code]

This has nginx watching the main w

[2021-03-10 00:55] manekenpix commented on #1744
I'm going to do some testing using the [traefik-portainer documentation](https://documentation.portainer.io/v2.0/ad/traefik/rp-traefik/). Any help is welcomed (I've never done this before).

[2021-03-10 13:45] humphd opened #1897 "Upgrade Elasticsearch"
I'm working on our Docker-Compose setup, and notice that we're using outdated versions of Elasticsearch:

- development: 7.9.3
- production: 7.5.0

The current version is [7.11.1](https://hub.docker.com/_/elasticsearch).

[2021-03-10 13:45] humphd commented on #1897
There are docs for upgrading, https://www.elastic.co/guide/en/elasticsearch/reference/7.11/rolling-upgrades.html, but I bet we could just do it and dump our data if necessary (e.g., re-index).

[2021-03-11 17:06] yuanLeeMidori commented on #1855
@humphd I tried both evergreen and Mui's avatar component, Mui's avatar doesn't seem to generate the initials for avatar, they just provide a circle, the style and the font size, initials, will be handled by ourselves.
But for evergreen, the avatar component also generate the initials for us.

Do we still use Mui avatar? Just curious.

[2021-03-11 17:18] humphd commented on #1855
That's too bad about MUI not doing the letters.  Here's what Evergreen does to get the initials: https://github.com/segmentio/evergreen/blob/1d0927098597f7cb92461d4e8dfe529e34d1d80c/src/avatar/src/utils/getInitials.js and how they use them https://github.com/segmentio/evergreen/blob/1d0927098597f7cb92461d4e8dfe529e34d1d80c/src/avatar/src/Avatar.js.  Maybe you can hack something like that into our

[2021-03-11 17:22] yuanLeeMidori commented on #1855
I'm using similar js to get initial with Mui avatar,
![Screenshot_2021-03-10 Telescope(1)](https://user-images.githubusercontent.com/50813726/110827566-31df7280-8264-11eb-8280-39ce01b09e46.png)

![Screen Shot 2021-03-10 at 20 27 16](https://user-images.githubusercontent.com/50813726/110827541-2be99180-8264-11eb-90ff-9fa3f5173a1a.png)

Should I make the component to check if we have img src first,

[2021-03-11 17:24] humphd commented on #1855
I would make our "Avatar" component take a name and image src URL.  If the latter is missing, fallback to the initials, yes.

This way it will work for every case.

[2021-03-11 17:28] yuanLeeMidori commented on #1855
`<Avatar name={post.feed.author} img="src" />`

You mean something like this, and it display img src first if it exist; if it doesn't exist, show initials from name value?

[2021-03-11 17:31] humphd commented on #1855
Yeah, it should be able to handle having an image prop or not (we don't have any data for this yet, but we will...)

[code]

[2021-03-12 12:09] #1677 closed

[2021-03-12 12:09] #1688 closed

[2021-03-12 12:29] humphd opened #1907 "Remove Feed related code from Posts Service"
In #1838 we are adding a Posts Service, and it's reusing code for Redis that currently deals with both Feeds and Posts.  We can strip the Feeds logic out of there, and move it to #1828.  See, for example: src/api/posts/src/storage.js

[2021-03-12 12:30] humphd commented on #1907
Somewhat related, we'll have to figure out if the logic for adding posts needs to stay there, or get moved out to another service too.  See #1865.

[2021-03-12 12:39] humphd opened #1908 "Extract Redis from Posts Service to be shared via Satellite"
In #1838 we're adding a Posts Service, and it includes Redis code for connecting to a real Redis server, as well as a mock instance.  Let's refactor this a bit:

1. Redis access is going to be needed by various services, so let's move it out of Posts and put it in Satellite.  We should be able to do something like this:
[code]
2. The `MOCK_REDIS=1` stuff can either be replicated in Satellite too,

[2021-03-12 15:08] izhuravlev commented on #780
@humphd attention needed here

[2021-03-12 16:09] Metropass commented on #1908
I could begin the port of Redis into Satellite

[2021-03-12 16:18] huyxgit opened #1912 "SearchBar re-design"
Since I found UI problem with the current searchbar, I suggest a new design for it.

Any suggestion?
Thanks.

[2021-03-12 16:55] humphd commented on #1912
I like this.  Question: what does clicking "Advanced Search" do?  Can you include that?

Also, I think the language should be:

1. "Search in Posts"
2. "Search by Author"

[2021-03-12 17:01] humphd commented on #780
As I've said previously, I'm not going to drive this.  If people want to do it, that's cool, but it's not something I can spearhead easily.

[2021-03-12 17:33] Metropass commented on #1908
In the PR you linked, there's a line of code that accesses an Environment Variable in Telescope.
[code]
If we're gonna port this into Satellite, could I just pass the variable as an argument for our Redist module?

[2021-03-12 18:01] yuanLeeMidori commented on #1810
Update after triage meeting:

As @humphd suggested, I looked into medium, wordpress, dev.to, blogger. They all use the same method to handle the long title, change to new line.

Currently, telescope title is expandable. If the title is too long, it'll be wrapped to one line with `...`, and by clicking the title, it can be expanded to show all lines with the complete title.

In my opinion, this tex

[2021-03-12 18:10] #1805 closed

[2021-03-12 18:10] #1806 closed

[2021-03-12 18:22] humphd commented on #1908
I don't think so: most of the code should be unaware of this happening, whereas making it an argument forces all code to understand it.

[2021-03-12 18:24] huynguyez commented on #1912
@humphd as my idea, the SearchHelp will not be visible at first. People don't use it often, only 'power user' actually use, so it's better to hide it by default than seeing a big (i) or bunch of instruction texts letting people know how to search.

Only when user hit "Advanced search", it can either:
- Redirect user to a separate page for advanced search.
- Start to show SearchHelp as old design.

[2021-03-12 18:55] huynguyez opened #1917 "Post's title letter-spacing issue on mobile"
![Screen Shot 2021-03-12 at 1 53 48 PM](https://user-images.githubusercontent.com/10421864/110985542-93721080-833a-11eb-858d-0658f778c3ef.jpg)

[2021-03-12 19:00] #1855 closed

[2021-03-12 19:03] yuanLeeMidori opened #1919 "Avatar initials are not centre"
**What happened**:
Current avatar's text is not centre.
**What should have happened**:
It should be centre

ref: #1855 #1911

[2021-03-12 19:16] huynguyez opened #1921 "Remove this scroll-down button on Banner"
Use something like scroll-snap in css (if possible in Next?).
Similar to https://www.tesla.com at the moment.

![Screen Shot 2021-03-12 at 2 11 57 PM](https://user-images.githubusercontent.com/10421864/110987443-15fbcf80-833d-11eb-99c8-0f24bbef4181.jpg)

[2021-03-12 19:25] Metropass opened #1922 "Adding Prettier into Satellite"
**What would you like to be added**:
Add the Prettier module that we use for Telescope into Satellite
**Why would you like this to be added**:
Currently, we have no code formatter for Satellite. It would be quite nice if we had a similar approach for the project.

[2021-03-12 19:26] #1689 closed

[2021-03-12 19:26] #1870 closed

[2021-03-12 19:28] #1735 closed

[2021-03-12 20:07] #1919 closed

[2021-03-12 20:19] HyperTHD commented on #1907
I assume this would involve the post parsing service (#1828) since that service will use parts with both feed and posts

[2021-03-12 20:38] #1706 closed

[2021-03-12 22:29] PedroFonsecaDEV commented on #1690
@huynguyez
Let's change the content font to `Roboto` and add breakpoints to change the `font-size`.

[2021-03-12 22:44] PedroFonsecaDEV commented on #1912
I really like this design.
@huynguyez go for it and land it in 1.9?

[2021-03-12 22:50] PedroFonsecaDEV commented on #1810
@yuanLeeMidori Sure. Let's try to have a call this week.

[2021-03-12 23:20] humphd commented on #1912
Agreed, let's do this.  Great work @huynguyez.

[2021-03-13 15:48] humphd opened #1926 "Move env loading to base jest config"
We have a number of tests that require access to environment variables in `config/env.development`.  Right now, each of these test harnesses is doing its own work to load that file, for example:

- https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/spotify-api/index.d.ts#L306-L315
- https://github.com/Seneca-CDOT/telescope/blob/14e6843c0545c0466496f2d2130e9ab6d0f7e21c/src/api/aut

[2021-03-13 15:50] humphd commented on #1926
NOTE: likely we can dump `dotenv` from various package.json files after this, if that's the only reason we're including it.

[2021-03-13 15:56] humphd opened #1927 "Expose create-error functionality on Satellite"
We have lots of places in our microservices that we need to create HTTP errors.  A good way to do this is with [create-error](https://www.npmjs.com/package/create-error).  Let's expose this on Satellite so people don't have to include it as a dep in every microservice.

[code]

cc @Metropass

[2021-03-13 15:57] humphd opened #1928 "Refactor all microservices error code to use Satellite's createError()"
In #1927, we're going to expose `createError()` on Satellite.  Let's modify all of our Microservices code to use it vs. creating their own errors, and also remove `create-error` from their deps.

[2021-03-13 15:57] humphd commented on #1927
Filed #1928 to use this in the microservices.

[2021-03-13 16:03] humphd opened #1929 "Add authorization middleware to Users service"
The Users service exposes a `GET /` route, which lets you get all the users in Firebase.  We need to improve its current form in a few ways:

1. Only an admin should be able to do this (i.e., regular users or the general public can't do this request).  Satellite supports this via middleware:
[code]
2. We need to add paging.  Firestore [supports this](https://firebase.google.com/docs/firestore/quer

[2021-03-13 16:17] humphd opened #1930 "Allow fine-grained user validation in Satellite middleware"
In certain places we need to be able to do custom checks against certain claims for the currently authenticated user.  An authenticated user sends a JWT bearer token, which includes claims like their id (`sub`) and their `roles`, etc.

We need a simple way for microservices to be able to inspect the user's claims, and decide whether or not a user is authorized to make some request.

[Satellite alr

[2021-03-13 16:18] humphd opened #1931 "Secure User services POST, PUT, DELETE routes"
The User service has `POST`, `PUT`, and `DELETE` routes that all work on the basis of a user's `id`.  We should add middleware to only allow 1) an admin; or 2) the owning user to do this for their own data.  We already have admin middleware in Satellite, but we need to add support to it for checking the id of a user against the `sub` claim (e.g., id) in the JWT.

It probably should look like this:

[2021-03-13 16:18] humphd commented on #1929
See also https://github.com/Seneca-CDOT/telescope/issues/1931.

[2021-03-13 16:26] humphd opened #1932 "Firebase setup for Staging and Production"
The User service is designed to work with a real Firebase account and project set up.  We need to create one for Staging and another for Production.

Some questions:

- can we give multiple people access to this if using the free tier?  If not, probably I need to register them.
- we need to figure out all the values for the ENVs in staging and production.
- do I need two accounts or just two separ

[2021-03-13 16:41] chrispinkney commented on #1869
Ugh, passport... *shudders*

Anyway, User is finally up for review and should be merged soonish so I imagine this can start being worked on relatively soon_ish_ @izhuravlev @HyperTHD

[2021-03-13 16:47] chrispinkney commented on #1417
Hm, well the user microservice doesn't keep track of user posts at all, just feed urls, github info, etc. I haven't looked into the feed microservice yet so maybe it's more appropriate there?

[2021-03-13 17:20] chrispinkney commented on #1922
Should this be opened in Satellite repo? Pretty simply too, just copy the `.vscode` folder I think.

[2021-03-13 17:23] manekenpix commented on #1829
Blocked until #1908 is implemented.

[2021-03-13 17:26] chrispinkney commented on #1928
cc @HyperTHD @chrispinkney 😄

[2021-03-13 17:27] humphd commented on #1922
I asked @Metropass to file it here, since I want to track all work related to Telescope in one place, even though the PR will go to Satellite.

[2021-03-13 17:28] chrispinkney commented on #1922
Got it! Sorry for the confusion.

[2021-03-13 17:28] humphd commented on #1829
I really wonder if the right way to do this is via elastic vs. redis.  I think it's better suited to tracking, extracting, and aggregating stats for us, though I haven't done a lot of that.

[2021-03-13 17:42] chrispinkney commented on #1931
Awesome! Just blogged about this 😃 I'll get started on this as soon as I can and get it in before user is merged.

[2021-03-13 17:43] chrispinkney commented on #1929
👀

[2021-03-13 17:48] chrispinkney commented on #1932
I'll look into this and followup with some information ASAP.

[2021-03-13 18:53] manekenpix commented on #1829
I'll give it a go using ES. This [token_count](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/token-count.html) seems like the right thing to use for this case.

[2021-03-13 19:18] humphd commented on #1829
NOTE: that's an old version of ES, you should select 7.x or later.

Also, https://www.elastic.co/guide/en/elasticsearch/reference/7.12/search-aggregations-metrics.html is interesting.

[2021-03-13 19:41] humphd opened #1934 "Add rate limiting to our microservices"
It shouldn't be possible to spam or otherwise pound our microservices with traffic.  We should add some rate limiting, [similar to how GitHub](https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting) and other APIs work.

This can be done via Traefik or nginx, but might be easiest to do at the nginx level in front of all the API endpoints once.

[2021-03-13 19:57] humphd opened #1936 "Add appropriate cache headers to microservices, cache them in nginx"
In production we have our services running behind nginx, and it's amazing at caching.  If we set the appropriate cache headers (e.g., `cache-control`, `etag`, etc), nginx and the users' browsers will improve performance by caching everything.

Some resources:

- https://restfulapi.net/caching/
- https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers

We ca

[2021-03-13 20:04] humphd opened #1937 "API Status Page"
Let's do something similar to what GitHub has for its [Status Page](https://www.githubstatus.com/) with our own APIs.

Going to https://api.telescope.cdot.systems (or https://dev.api.telescope.cdot.systems or http://api.telescope.localhost) should show a static web page that lists all of our Services by name, and shows a green checkmark or red x (or something similar) indicating if the services ar

[2021-03-13 20:09] humphd opened #1938 "Update posts healthcheck with Redis check"
Every [Satellite microservice includes a `/healthcheck`](https://github.com/Seneca-CDOT/satellite#satelliteoptions), which can be used to determine if the service is running.  For example, the current posts healthcheck is:

https://dev.api.telescope.cdot.systems/v1/posts/healthcheck

To make this really useful, we also need to know if any dependent service is also healthy.  In the case of posts, t

[2021-03-13 20:09] humphd commented on #1937
Filed #1938 on adding a Redis check to posts' healthcheck.

[2021-03-13 20:16] humphd opened #1939 "Switch front-end to use image service for <DynamicImage />"
The [DynamicImage](https://github.com/Seneca-CDOT/telescope/blob/2e6fe53b1c05fa9e5e0f505cc14fdd39fd696b92/src/web/src/components/DynamicImage.tsx) component currently uses a single image from our source tree.  Now that the image service is merged, we can switch to use that instead.

[2021-03-14 01:54] #1645 closed

[2021-03-14 15:42] humphd opened #1942 "/healthcheck for feed-discovery doesn't work through Traefik"
Each microservice has a `/healthcheck` endpoint [automatically created by Satellite](https://github.com/Seneca-CDOT/satellite/blob/848aa89e32da50096e0c225abfe6f67f9223404b/src/satellite.js#L33-L40).

The new feed-discovery service has one too, but it only seems to work when run outside directly vs. through Traefik.

You can see what I mean by doing the following:

[code]

Now try to go to http://l

[2021-03-14 17:37] tonyvugithub opened #1943 "[Windows] api.telescope.localhost refused to connect"
**What happened**:
When on Window and trying to access `api.telescope.localhost` domain, the connection cannot be established.
![image](https://user-images.githubusercontent.com/55034244/111078122-74a28400-84ca-11eb-8ad8-9da31832554b.png)

**What should have happened**:
We should be able to access it regardless of your OS
**How to reproduce it (as precise as possible)**:
On a Window machine, start

[2021-03-14 18:49] Metropass commented on #1927
Will work on this, thanks :)

[2021-03-14 20:33] humphd opened #1946 "Use posts microservice in front-end"
We just added our posts service on staging and production:

- https://dev.api.telescope.cdot.systems/v1/posts/
- https://api.telescope.cdot.systems/v1/posts/

Let's start using them in the front-end.  To do this, we have to pass the URL to the posts service into the front-end via environment variables, docker-compose, and build args in next.js.  We'll also have to update the env values in Vercel.

[2021-03-14 23:44] birtony opened #1947 "Typo in changelog configuration file"
[On line 20](https://github.com/Seneca-CDOT/telescope/blob/master/release-changelog-builder-config.json#L20) 'Deployment' should start with a capital 'D' as the rest of the section titles.

[2021-03-15 00:37] HyperTHD commented on #1946
Gonna be a hassle, but worth it. Taking this

[2021-03-15 00:48] #1947 closed

[2021-03-15 04:28] HyperTHD commented on #1938
This should be simple enough. We can even fix this in #1908 since we can use the ping function in redis. Assuming it doesn't get taken care of there, I'll fix this

[2021-03-15 13:52] #1633 closed

[2021-03-15 13:52] #1939 closed

[2021-03-15 15:52] HyperTHD opened #1951 "Color of Navbar icons are hard to see"
The color choice for the navbar icons make the icons themselves very hard to visualize. This has become more apparent when we merged in the image service to the navbar itself. When a dynamic image that's darker in color is used here, the icons become hard to see. We should change the color of the icons here so that anyone that visits the Telescope site can view them regardless of what dynamic imag

[2021-03-15 17:33] #1942 closed

[2021-03-15 17:33] #1943 closed

[2021-03-16 12:59] PedroFonsecaDEV opened #1955 "Author Name Bug - Replace normal hyphen with a NON-BREAKING HYPHEN"
**What happened**:
Right now are experiencing this:
<img width="163" alt="Screen Shot 2021-03-15 at 8 59 18 PM" src="https://user-images.githubusercontent.com/60857409/111312115-5dcc7080-8635-11eb-9691-e8c77bb530c8.png">
<img width="201" alt="Screen Shot 2021-03-15 at 8 59 02 PM" src="https://user-images.githubusercontent.com/60857409/111312117-5dcc7080-8635-11eb-83b7-1d600a3bc482.png">

**What sh

[2021-03-16 13:08] PedroFonsecaDEV opened #1956 "Add Avatar in NavBar after login."
**What would you like to be added**:
After a user successfully logged we want to see the user avatar on the NavBar.
<img width="192" alt="Screen Shot 2021-03-16 at 9 04 56 AM" src="https://user-images.githubusercontent.com/60857409/111313718-10510300-8637-11eb-952a-7cacaabbf3e0.png">

[2021-03-16 13:23] PedroFonsecaDEV opened #1957 "Add Admin Buttons/Icons on our new UI."
**What would you like to be added**:
Admin buttons on our UI.
Desktop:
<img width="150" alt="Screen Shot 2021-03-16 at 9 12 26 AM" src="https://user-images.githubusercontent.com/60857409/111314492-d8968b00-8637-11eb-8877-8be09de41ba4.png">
Tablet:
<img width="1039" alt="Screen Shot 2021-03-16 at 9 15 29 AM" src="https://user-images.githubusercontent.com/60857409/111315273-99b50500-8638-11eb-8801-f

[2021-03-16 13:26] humphd commented on #1955
Another thing I wonder is if we should give some more width to this container, since lots of students have longer names that will always need room to wrap.

<img width="631" alt="Screen Shot 2021-03-16 at 9 20 39 AM" src="https://user-images.githubusercontent.com/427398/111315657-fa444200-8638-11eb-90e8-61addd41f1fe.png">

I took a look at the [current feed list](https://wiki.cdot.senecacollege.ca

[2021-03-16 13:36] humphd commented on #1932
https://support.google.com/firebase/topic/9137968?hl=en&ref_topic=6399725 has some details on how we can manage access.  I *think* we can have the project be administered by multiple people with a Spark (free) plan, but it needs testing.

[2021-03-16 13:37] humphd commented on #1643
The auth and feed-discovery services have landed, and the user service is hopefully going in this week.  I'd like to prioritize this work for 1.9, since we'll have to iterate on it over subsequent releases, and it will let us test our entire workflow more easily.

[2021-03-16 14:33] chrispinkney commented on #290
@manekenpix Are you still curious about working on this? Anton has expressed interest in this today, maybe you guys would like to collab?

[2021-03-16 14:37] #567 closed

[2021-03-16 14:38] chrispinkney commented on #567
With the backend being split up into multiple pieces this issue is starting to be too big to be managed at this time. At any time that we want to work on this, we should re-evaluate this and split it into multiple pieces.

[2021-03-16 14:41] manekenpix commented on #290
Yes, definitely :+1:

[2021-03-16 14:43] chrispinkney commented on #653
This could be something that might want to be evaluated during PR #1828

[2021-03-16 15:01] chrispinkney commented on #801
@tonyvugithub Are you still interested in working on this for 1.9?

[2021-03-16 15:03] chrispinkney commented on #828
Closed in favour of #1938

[2021-03-16 15:03] #828 closed

[2021-03-16 15:09] chrispinkney commented on #858
Related to #1829, we'll land these fixes there. Closing for now.

[2021-03-16 15:09] #858 closed

[2021-03-16 15:09] chrispinkney commented on #910
Closing due to UI 2.0.

[2021-03-16 15:15] tonyvugithub commented on #801
@chrispinkney i am

[2021-03-16 15:17] chrispinkney commented on #1029
No longer an issue due to UI 2.0.

[2021-03-16 15:17] #1029 closed

[2021-03-16 15:17] chrispinkney commented on #1039
Fixed by UI 2.0 updates. Closing.

[2021-03-16 15:17] #1039 closed

[2021-03-16 15:23] chrispinkney commented on #1643
Please see issue #1037. During today's triage call we discussed how issue #1037 can't really be approached via code.

We can solve this issue via education:
- We can inform the user to specify that they should only add their own rss feed and nobody else's.

[2021-03-16 15:24] chrispinkney commented on #1037
Closing, added a reference note to #1643 as this issue is not necessary any longer.

[2021-03-16 15:24] #1037 closed

[2021-03-16 15:25] #1041 closed

[2021-03-16 15:26] chrispinkney commented on #1932
See #1058, we'll need to address this when this issue is worked on.

[2021-03-16 16:00] #1946 closed

[2021-03-16 16:55] DukeManh commented on #1921
I like this idea. Scroll-snap can be achieved in CSS, so it should always work in supported browsers.

[2021-03-16 19:10] humphd commented on #667
See https://github.com/Seneca-CDOT/telescope/blob/c385eaae08d20f806d4b1ef6363b81c8fc5f4a60/src/backend/web/app.js#L47 and let's do that in Satellite too.

[2021-03-16 19:53] Metropass commented on #1922
Closed, since this is resolved.

Commit:
https://github.com/Seneca-CDOT/satellite/commit/1d5def79b02b771d2277afe738c9074061e88541

[2021-03-16 19:53] #1922 closed

[2021-03-16 21:56] huynguyez commented on #1921
@DukeManh Yes, We don't wanna see a half banner & a half blog post at the same time.
Also, this icon looks just so awkward to me in term of modern design, hard to adjust its position -> keep jumping up/down over the text. So try to get rid of it will make better look & experience on both desktop & mobile

[2021-03-16 22:16] manekenpix opened #1959 "Blue/Green deployment only does blue deployments"
Our blue/green deployment system fails to detect its own state and always triggers a blue deployment. Because of this, every build reuses some of the intermediate containers and volumes, deploying a version of telescope that doesn't include the latest changes.

Output after a merge to master, deployment state set to blue (for some reason, it thinks it's green):

[code]

cc: @raygervais

[2021-03-16 23:14] tonyvugithub commented on #1676
@humphd @PedroFonsecaDEV : Is there any PR fixing this? It seems to me that the design discussed in here already in.

[2021-03-16 23:15] tonyvugithub opened #1960 "Reactivate Dark Theme for UI 2.0"
**What would you like to be added**:
The new dark theme for UI 2.0
**Why would you like this to be added**:
Because we developers prefer dark theme any day

[2021-03-17 00:39] tonyvugithub opened #1963 "Restyle the About Page"
**What would you like to be added**:
A more consistent and better styling for the about page
**Why would you like this to be added**:
Right now it looks out of sync with the index page

[2021-03-17 01:19] PedroFonsecaDEV commented on #1963
cc @chrispinkney

[2021-03-17 02:19] #1959 closed

[2021-03-17 14:23] humphd commented on #1690
Another option I was looking at is [PT Serif](https://fonts.adobe.com/fonts/pt-serif#licensing-section), example:

https://time.com/collection/coronavirus-vaccines-updates/

On npm it's [here](https://www.npmjs.com/package/@fontsource/pt-serif).

[2021-03-17 16:39] #1937 closed

[2021-03-17 18:10] Metropass commented on #1928
I'll take charge with this, and show every instance of `createError`. In advanced, you need to have the `http-errors` module

[2021-03-17 18:35] humphd opened #1968 "Celebrate our 2,000th Issue and Pull Request"
In [December 2019 we celebrated 500](https://github.com/Seneca-CDOT/telescope/issues/500).  In [April 2020 we hit 1000](https://github.com/Seneca-CDOT/telescope/issues/1000).  Soon we'll hit 2000 and with it mark another major milestone:

- 111 Contributors
- 109 Open Issues
- 2,091 Commits
- 1,000 Closed PRs!!!

It's a tradition for us to add more Unsplash photos to commemorate our achievement.

[2021-03-17 19:19] PedroFonsecaDEV commented on #1917
@huynguyez I think this only happens in devtools.
Could you please confirm if the issue persists on your phone?
On Iphone8 is working well.

[2021-03-17 19:26] humphd commented on #1912
@huynguyez what's happening with this?  I'd love to see this get in soon.

[2021-03-17 20:07] birtony opened #1970 "Setup initial configuration for Jest Snapshot testing"
**What would you like to be added**:
Snapshot Testing with Jest - https://jestjs.io/docs/snapshot-testing
**Why would you like this to be added**:
As discussed with @humphd and @PedroFonsecaDEV, it will allow us to catch unexpected changes in the front-end code more easily.

[2021-03-17 20:57] huynguyez commented on #1912
@humphd  Still trying different ways to make it work better, probably I will push it before Friday

[2021-03-17 21:04] huynguyez commented on #1917
@PedroFonsecaDEV What build version you trying to run? I run the version on https://telescope-dusky.now.sh/

I tried on all 3 phones I have (Samsung S5 + S10 plus, Blackberry Key2) and it's still there. Am I running the wrong one?

[2021-03-17 21:49] HyperTHD commented on #1970
So we finally bringing in front-end tests? :eyes:

[2021-03-17 22:35] smilegodly opened #1971 "Brighten Icons in header tag"
The blue on blue makes the icons difficult to see. Can we make these Icons white or a lighter shade of blue?

![image](https://user-images.githubusercontent.com/35276477/111547342-64e7a180-874f-11eb-9742-cc73f04819ef.png)

[2021-03-17 22:42] manekenpix commented on #1971
@smilegodly do you want to do it?

[2021-03-17 22:47] DukeManh commented on #1971
It's mentioned in #1951.

[2021-03-17 23:07] #1971 closed

[2021-03-18 00:29] huynguyez commented on #1951
To be honest, only changing colors won't help much. It should be back to top-right horizontal or in a different way of design to make them noticeable.

[2021-03-18 01:17] PedroFonsecaDEV commented on #1917
@huynguyez
I'm using our staging and production.

![image](https://user-images.githubusercontent.com/60857409/111558890-f3ffb400-8765-11eb-8a7c-391976872a49.png)

Could you please provide screenshots ?

[2021-03-18 03:29] HyperTHD commented on #1928
Looks like Satellite was updated with createError, so this can finally be worked upon now
cc @chrispinkney @humphd

[2021-03-18 05:47] PedroFonsecaDEV opened #1973 "Author Avatar Link to Author Blog."
**What would you like to be added**:
Add a link on author Avatar to the author blog.

[2021-03-18 14:55] humphd commented on #1084
Closing in favour of #1936.

[2021-03-18 14:55] #1084 closed

[2021-03-18 14:57] humphd commented on #1837
Here is what we have to think about (i.e., here is what gets built):

[code]

[2021-03-18 16:16] humphd opened #1974 "Use quotes from former students about open source on front page"
I'd like to see us extract some of the best quotes from former students about their experience working on open source, and use them on the front page (probably on top of the hero banner image in place of the stats?).

Every term for years and years, students write some amazing reflections on their experiences working in open source.  I think we could pull out some quotes that would be nice to use

[2021-03-18 17:17] rjayroso opened #1975 "Decorate each post with a class that matches the blog host platform"
**What would you like to be added**:
We should be able to distinguish each blog post by decorating the post with a class that matches their blogging host platform; this would allow us to style each blog post differently depending on which platform it is coming from. If the blogging platform cannot be identified we should just style it with our generic solution.

<img width="819" alt="screen_shot_2

[2021-03-18 18:24] humphd commented on #1930
Fixing this in https://github.com/Seneca-CDOT/satellite/pull/8.

[2021-03-18 19:06] humphd opened #1976 "Update design of the front landing page"
I want to improve the experience of the front page.  We use a Hero Image style, which I love.  Partly, it lets the site convey meaning quickly with photography, and it's an easy way for new people to contribute to the project (i.e., suggest an Unsplash photo for us to use).

In #1974 I'm asking that we add quotes from old blog posts about learning to do open source.  Students have been doing this

[2021-03-18 19:15] humphd commented on #1976
#1951 is connected to this.

[2021-03-18 19:59] PedroFonsecaDEV commented on #1976
I think #1921 is connected to this too, I will make a design for this issue.

[2021-03-18 20:34] DukeManh opened #1977 "Short posts' descriptions overlap each other"
**What happened**:
As seen in the picture, short post infos overlap each other because they are float items and do not respect others' space. A solution could be setting the min height on each post to leave enough space for the description.
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/51073515/111694047-bfdccf80-8807-11eb-96cb-0f542400109e.png">

[2021-03-18 20:51] humphd commented on #1975
I think the way to tackle this is probably to take the `post.url` value, turn it into a URL, and extract the host, something like this:

[code]

[2021-03-18 21:32] humphd commented on #1936
#1978 adds cache headers for the status service.

[2021-03-18 22:25] DukeManh commented on #1968
I have one https://unsplash.com/photos/Pej7JOOPCzU.

[2021-03-19 01:42] #1642 closed

[2021-03-19 02:18] humphd opened #1981 "Update Husky config"
We use [Husky](https://typicode.github.io/husky/#/) to run prettier on all of our code when we commit.  This needs to be installed as a script, and the way Husky works has been updated in the new version, see https://dev.to/typicode/what-s-new-in-husky-5-32g5.

I just [did it for Satellite](https://github.com/Seneca-CDOT/satellite/commit/f48cb7e0c23dcb03a5d57c408daaa8566124e366), and it was a bit

[2021-03-19 03:44] #1981 closed

[2021-03-19 09:37] izhuravlev commented on #1871
Looking into this:
![image](https://user-images.githubusercontent.com/36719387/111760553-e8200900-88af-11eb-8abc-e30c98879e7f.png)

[2021-03-19 09:39] izhuravlev commented on #1869
I believe @chrispinkney's User is done, so I will look deeper into this

[2021-03-19 12:46] rjayroso opened #1983 "Improve SearchHelp logic"
**What would you like to be added**:
When there are no posts loaded in the SearchPage, the SearchHelp component should be visible. As it [currently is](https://github.com/Seneca-CDOT/telescope/pull/1909), the SearchHelp can only be viewed on the initial viewing of the SearchPage, and after the first search is submitted, can no longer be viewed again until the page is refreshed.

**Why would you li

[2021-03-19 14:29] #1951 closed

[2021-03-19 14:29] #1960 closed

[2021-03-19 14:29] izhuravlev opened #1984 "Dark mode Search and About Pages"
**What would you like to be added**:
Change the appearance of About and Search pages. Take a look at #1961 for screnshots.
**Why would you like this to be added**:
There are pages that need to be fixed or restyled to look good after #1961.

[2021-03-19 14:41] humphd opened #1985 ""Toggle Mode" needs to be more clear"
<img width="147" alt="Screen Shot 2021-03-19 at 10 39 27 AM" src="https://user-images.githubusercontent.com/427398/111797493-98394600-889f-11eb-95eb-d0800259d5e5.png">

I propose "Use Light Theme" or "Use Dark Theme" instead of "Toggle Mode."

[2021-03-19 15:10] #1984 closed

[2021-03-19 15:15] #1985 closed

[2021-03-19 15:28] huynguyez commented on #1976
@humphd  I wanted to move the nav to where it was (top right) when I first saw the vertical nav. And also the author info from right to left to 'balance' the page layout.

[2021-03-19 15:34] PedroFonsecaDEV commented on #1976
@huynguyez Slack.

[2021-03-19 15:42] birtony opened #1989 "Add Website Verification in Google Search Console"
**What would you like to be added**:
We should look into verifying https://telescope.cdot.systems/ in Google Search Console.
**Why would you like this to be added**:
This comes with a number of perks as outlined at https://developers.google.com/search/docs/guides/debug#verified-site-owner-tools. It should be helpful for improving our SEO.

[2021-03-19 15:47] birtony commented on #1989
This is related to https://github.com/Seneca-CDOT/telescope/issues/1607

[2021-03-19 15:48] #1872 closed

[2021-03-19 16:11] birtony commented on #1989
@manekenpix seems like this is specifically what Google wants us to do:
![image](https://user-images.githubusercontent.com/33902374/111810177-1a2f6c00-88ac-11eb-86ed-bd0791c2e138.png)
Accessed through https://search.google.com/search-console

[2021-03-19 16:23] tonyvugithub opened #1991 "Change site background in light theme to White"
**What would you like to be added**:
A white background
**Why would you like this to be added**:
Since white is the new grey

[2021-03-19 16:35] birtony opened #1992 "Domain missing in the image url for the social meta tags"
**What happened**:
The `og:image` and `twitter:image` tags require a full path to the image, including the domain. In #1962 the domain was missing, so the [Facebook Sharing Debugger](https://developers.facebook.com/tools/debug/) throws a warning and [Twitter Card Validator](https://cards-dev.twitter.com/validator) does not display the image:
![image](https://user-images.githubusercontent.com/33902

[2021-03-19 16:45] birtony commented on #1992
This is related to #1607

[2021-03-19 16:55] PedroFonsecaDEV opened #1994 "Use the uppercase notation for hex values"
**What would you like to be added**:
Use the uppercase notation for hex values

[2021-03-19 17:24] huynguyez opened #1995 "Tweaking author info section"
I will change some padding/margin/font and its position.

![Screen Shot 2021-03-19 at 1 21 41 PM](https://user-images.githubusercontent.com/10421864/111818999-36d0a180-88b6-11eb-9790-62743f44a7ad.jpg)

[2021-03-19 17:25] yuanLeeMidori commented on #1810
The reason we want to dynamically change the font-size with title length is because we want to get rid of the expand title feature.

I tried different approach (write my own function and tried different react hook plug-in) to meet the dynamically-adjust-font-size title, but the title does not react with the length and then adjust the font-size.

After the discussion with @PedroFonsecaDE, we decide

[2021-03-19 17:25] #1810 closed

[2021-03-19 17:30] #1991 closed

[2021-03-19 17:30] #1992 closed

[2021-03-19 17:31] yuanLeeMidori opened #1996 "[UI 2.0] Smaller the font size of title"
**What would you like to be added**:
Compare to medium, new yorker, etc. Our title font-size is a bit larger than the post content font size. It would be good if we do a smaller font size for the title so the user can read full title.
But only for desktop, we'll keep mobile one with what it is.
**Why would you like this to be added**:
The current one is too big, the title is usually wrapped. It'll

[2021-03-19 17:41] #1977 closed

[2021-03-19 19:09] #1926 closed

[2021-03-19 19:44] izhuravlev commented on #780
## Hello Everybody,

Here is what is going on.

My friend [Diana](https://github.com/dianaxantiart) and I were thinking about what we can do for our stickers.
As you remember, I already proposed a couple of variants, and Diana made them look better in her sketches.

We first tried to figure out what the body of our Mascot will look like:
![Faces and Bodies](https://user-images.githubusercontent.co

[2021-03-19 19:50] izhuravlev commented on #780
Also, if we go with the cat, we might want to think about what colour it should be. The Telescope is quite obvious, but the cat is not that simple.

[2021-03-19 20:05] chrispinkney commented on #780
I really love both haha, I'm learning more towards a telescope based mascot but that cat looking through a telescope is just too perfect. How about both mascots, Telly & Dave the cat (_like the unix command_)?

I vote for a black cat... for reasons.
![i_view64_2021-03-19_16-04-54](https://user-images.githubusercontent.com/7242003/111836570-df89fb80-88cc-11eb-97e3-72c0a862c052.png)

[2021-03-19 20:14] izhuravlev commented on #780
I absolutely Love the Unix Reference.

Then the question is how many and which do we want? Like what emotions?

[2021-03-19 20:17] Metropass commented on #1936
I might just make a module in Satellite that will add headers onto the passed Response object, I'll add in a test specifically for `Cache-Control`

[2021-03-19 20:29] humphd commented on #1936
@Metropass there are npm modules that will do this, we could research one and use it.

[2021-03-19 20:31] #1930 closed

[2021-03-19 20:45] Metropass commented on #1936
I found this, it might be useful specifically for `Cache-Control`, I'm currently researching a module that will work for any type of CORS headers.

https://www.npmjs.com/package/http-cache-semantics

[2021-03-19 22:15] DukeManh commented on #1921
@huynguyez, after playing around with scroll snap, I don't think scroll snap would work well for our page layout. You can see what I mean here https://codepen.io/Ducmanhbui/pen/oNYreYx. If you can come up with a workaround, that'll be great otherwise we might have to close this issue.

[2021-03-19 23:56] Metropass commented on #1927
Closed, as this issue has been successfully merged into Satellite.

[2021-03-19 23:56] #1927 closed

[2021-03-20 00:09] Metropass opened #1999 "Fix Continuous Asynchronous Operations in Satellite's Test"
**What happened**:
As I was running `test.js` in Satellite, Jest does not properly exit, and mentions that an async operation has not stopped, causing Jest to run indefinitely.

**What should have happened**:
Jest should have completed it's operation and quit after all tests are completed.

**How to reproduce it (as precise as possible)**:
run `npm test` in Satellite. Jest should run `test.js` and

[2021-03-20 00:11] Metropass commented on #1999
Just to show my console on the bug itself

![Screenshot_375](https://user-images.githubusercontent.com/58116522/111852917-3ef90300-88ef-11eb-8be2-ac831c46efc9.png)

[2021-03-20 00:15] DukeManh opened #2000 "Logout error on /myfeeds"
**What happened**:
Logging out from /myfeeds page returns an error.

**What should have happened**:
Even though the logout is successful, it should redirect to the previous page.

<img width="1546" alt="image" src="https://user-images.githubusercontent.com/51073515/111853079-d3636580-88ef-11eb-91b0-cd32d28abf90.png">

[2021-03-20 00:46] Metropass commented on #1999
Closed, I fixed the issue due to moving Redis from Satellite's `test.js`. I don't think the module could handle it.

[2021-03-20 00:46] #1999 closed

[2021-03-20 16:10] humphd opened #2001 "Improve the visual break between posts in timeline"
I'm reading @birtony's post and suddenly there is a title for `CoroVi App`, which seems like's it's part of his content vs. a new post:

<img width="995" alt="Screen Shot 2021-03-20 at 12 07 45 PM" src="https://user-images.githubusercontent.com/427398/111876443-203d4f80-8975-11eb-9afb-a3cfad3de5d6.png">

I think we need some kind of visual "break" between the end of one post and the start of the n

[2021-03-20 16:11] humphd commented on #1912
Friday came and went, any updates?

[2021-03-20 16:13] humphd opened #2002 "Don't centre table contents in figure"
It looks like we assume that all text content in a `<figure>` is meant to be centered:

<img width="1084" alt="Screen Shot 2021-03-20 at 12 12 24 PM" src="https://user-images.githubusercontent.com/427398/111876558-a48fd280-8975-11eb-8062-e203328c5327.png">

If that content is a `<table>` we shouldn't do this it looks like.

[2021-03-20 16:19] humphd opened #2003 "Improve colour contrast for visited links in Dark Theme"
Gray text on a black background isn't great:

<img width="820" alt="Screen Shot 2021-03-20 at 12 14 38 PM" src="https://user-images.githubusercontent.com/427398/111876637-ffc1c500-8975-11eb-9abf-8bbc9a31e7a7.png">

This has an [AA rating vs. AAA](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast), and I bet we could do better.

[2021-03-20 17:25] humphd commented on #2001
Here's [what Tumblr does](https://staff.tumblr.com/post/109422757605/big-update-tumblr):

<img width="620" alt="Screen Shot 2021-03-20 at 1 24 10 PM" src="https://user-images.githubusercontent.com/427398/111880069-9e9eef00-897f-11eb-9eed-a314c5cf3d31.png">

This uses colour, whitespace, and borders to achieve it, which I think is good.

[2021-03-20 18:59] huynguyez commented on #1912
@humphd  Sorry I messed up git Git again. just need to style it
![Screen Shot 2021-03-20 at 2 57 41 PM](https://user-images.githubusercontent.com/10421864/111882615-df513500-898c-11eb-8c7e-dc6053e0ff4c.jpg)

[2021-03-21 15:22] humphd commented on #1936
I don't think that module will help us here.  I'm also not 100% sure we need to do anything special in Satellite for this: we just need to specify headers on a per-route basis in each microservice.

If we later find out that there are common patterns, we can extract them into something generic in Satellite; but let's not start there.

[2021-03-22 21:58] PedroFonsecaDEV opened #2009 "Search bar font color on dark mode."
**What happened**:
![2021-03-21 21 41 25](https://user-images.githubusercontent.com/60857409/112063422-c3d65d80-8b37-11eb-8997-88bb6c550457.gif)
After typing something in the search bar (on dark mode), the background becomes the same color as the font when you hover the mouse.
**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**

[2021-03-22 23:57] PedroFonsecaDEV opened #2010 "Add new font."
**What would you like to be added**:
We need another font for our posts' content.
Let's add `PT-serif`
https://www.npmjs.com/package/@fontsource/pt-serif
https://github.com/fontsource/fontsource/blob/master/packages/pt-serif/README.md
**Why would you like this to be added**:

[2021-03-22 23:59] PedroFonsecaDEV commented on #1690
@humphd #2010 To solve the font issue.

@huynguyez What is the progress of this issue?

[2021-03-23 02:55] huynguyez commented on #1690
@PedroFonsecaDEV  what to do with this one? the uppercase title or something? I don't see any thing to do, or different font? I think the current font for posts is good, clean and easy to read.

[2021-03-23 11:25] #1412 closed

[2021-03-23 11:25] #1791 closed

[2021-03-23 14:35] #1963 closed

[2021-03-23 14:52] HyperTHD commented on #1956
Bulk of the work to be done in #1932 , will come back to this once user service is running in production

[2021-03-23 14:56] HyperTHD commented on #1598
Closing because Vercel does not have a badge yet at the moment and we won't know when one is made available

[2021-03-23 14:56] #1598 closed

[2021-03-23 15:02] #1284 closed

[2021-03-23 15:14] HyperTHD commented on #1171
The status microservice should hopefully take care of this

[2021-03-23 15:25] HyperTHD commented on #1125
This issue hasn't appeared in the past few months, so closing this issue

[2021-03-23 15:25] #1125 closed

[2021-03-23 16:57] HyperTHD opened #2014 "Have search service work in staging and production"
Once #2106 lands, we'll need to setup the staging and production docker files to use this new service as well as ensure it's used in the frontend.

[2021-03-23 17:14] HyperTHD opened #2015 "Keydown button on banner component is too far up and blocks parts of the banner typography"
The keydown button is too far up and blocks parts of the typography in the banner component. If we plan on incorporating quotes from past open source students in #1974, this button either needs to be moved down, or completely removed entirely and change to something more concise.

![image](https://user-images.githubusercontent.com/16841702/112188422-5bd85380-8bd9-11eb-9698-4a2684b98010.png)

[2021-03-23 18:52] humphd opened #2016 "Investigate timeouts in e2e tests running in CI"
[Sometimes the e2e tests will fail to run](https://github.com/Seneca-CDOT/telescope/runs/2177747320?check_suite_focus=true):

[code]

We might need to increase the 5000ms startup window so it works on the GitHub builders (I bet they are under-powered).

[2021-03-23 20:16] #1973 closed

[2021-03-23 20:16] #1996 closed

[2021-03-23 20:50] humphd commented on #2000
We'd need to pass the full, absolute URL back to the page you want to use.

[2021-03-23 23:02] #2010 closed

[2021-03-24 03:07] yuanLeeMidori opened #2019 "New environment setup instruction"
**What would you like to be added**:
A new document like `environment-setup.md` to tell developers how to run the application with microservices.
**Why would you like this to be added**:
Currently, we're moving to microservices. This brings big changes of how to run the application and the old docs might not be helpful. I want to add a new document for confused developers like me with some simple

[2021-03-24 14:08] humphd commented on #1690
This was fixed by @tonyvugithub.  Can we close?

[2021-03-24 18:55] #1957 closed

[2021-03-24 22:10] #1807 closed

[2021-03-24 22:45] PedroFonsecaDEV commented on #1690
Fixed on #2013

[2021-03-24 22:45] #1690 closed

[2021-03-25 02:01] yuanLeeMidori commented on #1917
fix by PR #2006

[2021-03-25 02:01] #1917 closed

[2021-03-25 19:50] HyperTHD commented on #1750
Closing this issue in favor of #2003, since the new dark mode theme is applied here instead.

[2021-03-25 19:50] #1750 closed

[2021-03-25 19:53] HyperTHD commented on #1801
Reading the same post today on dev, and I do not see the `Enter fullscreen mode Exit fullscreen mode` text on the page at any point in the post. May have been solved accidently at some point

[2021-03-26 00:39] yuanLeeMidori opened #2028 "Search Select Item color hard to see in dark mode"
**What happened**:
![Screenshot_2021-03-25 Search Telescope(1)](https://user-images.githubusercontent.com/50813726/112560560-e1aaf900-8da9-11eb-8158-0b1af75cc114.png)
The font color of search type option is hard to see in dark mode.
**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-03-26 01:42] humphd opened #2030 "Put Redis between Users Service and Firestore"
We're going to need to do a lot of reads to the user and feed data in Firestore (see #1828).  @chrispinkney and I were discussing some of the limitations that Firestore imposes on reads, most likely because it favours their pricing model.

I want the security and peace-of-mind of having our data in Firestore, but I don't really want to worry about hitting it a million times a day, and incurring re

[2021-03-26 15:06] chrispinkney commented on #1801
Was the code visible though? I think the issue was created because of the code not showing on the Telescope version. Talking about this:
[code]

[2021-03-26 15:57] humphd commented on #1801
It's the React code snippet this bug is about.

[2021-03-26 17:50] #2009 closed

[2021-03-26 18:41] #2003 closed

[2021-03-27 00:05] #2002 closed

[2021-03-28 00:24] PedroFonsecaDEV commented on #2028
Closed: #2029

[2021-03-28 02:44] #1970 closed

[2021-03-28 14:02] tonyvugithub opened #2037 "Change About to a page component like other pages"
**What would you like to be added**:
Made `About` a page
**Why would you like this to be added**:
To make it easier to work with PWA initiative #801

[2021-03-28 18:28] humphd opened #2038 "Colours are wrong for light and dark theme on Error page"
None of the colours is correct for https://dev.telescope.cdot.systems/error/?status=404:

<img width="1248" alt="Screen Shot 2021-03-28 at 2 27 44 PM" src="https://user-images.githubusercontent.com/427398/112763282-d3d7bc80-8fd1-11eb-9c79-c2b4ed3c3709.png">
<img width="1258" alt="Screen Shot 2021-03-28 at 2 27 27 PM" src="https://user-images.githubusercontent.com/427398/112763287-d508e980-8fd1-11e

[2021-03-28 19:31] rjayroso opened #2039 "BlogSpot images are scaled down the same as inline images"
**What happened**:
Blogspot post images are scaled down to 32px along with inline images.
The latest iteration of our solution (see PR [here](https://github.com/Seneca-CDOT/telescope/pull/1910)) for issues: #1791 and #1412 works as intended (reduce the size of inline images without affecting the rest of the images in the post) except for Blogspot post images; *all* the images within a Blogspot pos

[2021-03-29 08:58] PedroFonsecaDEV opened #2041 "[UI 2.0] [Landing Page] - The navBar should show up only when we reach the Posts."
**What would you like to be added**:
In #1976 we are updating our lading page.
For the new landing page, we will need that our NavBar only shows up when our first post reaches the top.

Just for clarification, if we were keeping the current landing page what this enhancement would look like:

No `NavBar` on our landing page.
<img width="1668" alt="Screen Shot 2021-03-29 at 4 50 14 AM" src="https:/

[2021-03-29 09:19] PedroFonsecaDEV opened #2042 "[U.I 2.0][Landing Page] Scroll-snap on lading page."
**What would you like to be added**:
In #1976 we are updating our lading page.
@huynguyez gave us https://www.tesla.com/ as a reference, and the site seems to be using some Scroll-Snap.

@DukeManh made some tests and found some issues with the implementation:

From @DukeManh (in #1921)

Sites with some references about scroll-snap:

https://css-tricks.com/practical-css-scroll-snapping/
https://dev

[2021-03-29 09:21] PedroFonsecaDEV commented on #1921
Let's keep the button, but let's try to add the scroll snap on our page.
Scroll Snap: https://github.com/Seneca-CDOT/telescope/issues/2042

[2021-03-29 09:21] #1921 closed

[2021-03-29 09:26] PedroFonsecaDEV commented on #1976
I'm working on the design and the implementation of the new landing page.
We need the following enhancements to land our new landing page:
- `NavBar`  #2041
- `Scroll Snap` #2042

[2021-03-29 16:58] chrispinkney commented on #1968
Here's [one](https://unsplash.com/photos/woWf_VJ7dNs), [two](https://unsplash.com/photos/7Cz6bWjdlDs), and [three](https://unsplash.com/photos/MMylZHPsO2I). Can you sense a theme?

[2021-03-29 18:17] humphd commented on #2042
The Tesla site is interesting.  Our site is obviously different, but I wonder if we could still do something similar, namely, have two stacked divs: first one is the landing, second is the timeline.  We could have them both be height=100%, and then do the timeline overflow inside the second div vs. in the page cc @huynguyez.

[2021-03-29 19:13] tonyvugithub opened #2044 "Correct PT Serif font's name"
**What happened**:
The font name is not correct. `PT Serif` vs `PR-serif`
**What should have happened**:
It should be `PT Serif`

[2021-03-29 20:02] PedroFonsecaDEV commented on #2042
@DukeManh

[2021-03-29 23:50] #1744 closed

[2021-03-30 00:07] #2044 closed

[2021-03-30 02:34] yuanLeeMidori opened #2047 "Update palette of dark mode"
**What would you like to be added**:
Add colors to dark mode palette.

**Why would you like this to be added**:
There are some colors can be added to dark mode palette. Currently, there are some merged PRs that import new colors to improve user accessibility in dark mode, and there will be more issue to improve user accessibility in dark mode (or even in light mode). I believe it'll be good if we

[2021-03-30 02:37] yuanLeeMidori opened #2048 "Dark mode about page link colors are hard to see"
**What happened**:
![image](https://user-images.githubusercontent.com/50813726/112924996-1d61fd80-90df-11eb-98ea-6d3b73a91e33.png)

**What should have happened**:
The visited link and unvisited link font color should be updated.
**How to reproduce it (as precise as possible)**:
I'd like to add more color to dark mode palette and update the color in dark mode about page. (I think the link colors in

[2021-03-30 03:03] yuanLeeMidori opened #2049 "Improve color contrast in contributor card in dark mode"
**What happened**:
![image](https://user-images.githubusercontent.com/50813726/112927123-7a12e780-90e2-11eb-840d-e57532b9bb11.png)
The pair of this background color and this font color doesn't pass AA rating.
**What should have happened**:
It should at least pass AA rating, or even better (AAA)
**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

[2021-03-30 03:18] yuanLeeMidori opened #2050 "Improve color contrast for slack icon in dark mode"
**What happened**:
![image](https://user-images.githubusercontent.com/50813726/112927537-2c4aaf00-90e3-11eb-8a84-bef3a0e9a122.png)
In about footer, the slack icon is hard to see in dark mode.
**What should have happened**:

**How to reproduce it (as precise as possible)**:

**Anything else we need to know?**:

**Environment**:

- OS:
- Browser:

[2021-03-30 03:21] yuanLeeMidori commented on #2028
Hi, @PedroFonsecaDEV
I didn't make it in #2029 (I thought I did but I didn't) , I'm gonna reopen this issue, thanks!

[2021-03-30 03:24] yuanLeeMidori opened #2051 "Improve color contrast in search help"
**What happened**:
light mode:
![image](https://user-images.githubusercontent.com/50813726/112929093-c6135b80-90e5-11eb-87f3-c599ad86d3d2.png)
The contrast ratio is 2.67, which doesn't pass AA rating.

dark mode:
![image](https://user-images.githubusercontent.com/50813726/112929298-20acb780-90e6-11eb-8a2d-be474b80fab1.png)
The contrast ratio is 5.24, pass AA but we can make it AAA.
**What should h

[2021-03-30 10:59] PedroFonsecaDEV commented on #1976
Design will be landing tomorrow (March 31).

[2021-03-30 14:32] #1955 closed

[2021-03-30 15:21] chrispinkney commented on #1989
This has been addressed in #2036 and has been deemed to be "good enough." Closing.

[2021-03-30 15:21] #1989 closed

[2021-03-30 16:42] humphd opened #2053 "Staging and Production setup for Users Service"
Discussions today led us to the conclusion that we need a list of steps for everything we have to do in order to fully ship the Users service:

1. ~~Land #2027 for docker configs~~ (@chrispinkney)
2. ~~Modify Firebase schema to use email vs. id as the User identifier, in order to match Seneca's `nameID`.  This will involve changes to unit tests, Celebrate validation, and Users schema (@humphd http

[2021-03-30 18:15] chrispinkney opened #2054 "Fix users MS e2e tests"
[Line 3-4](https://github.com/Seneca-CDOT/telescope/pull/2027/files#diff-4ec6ae1062f8c845da78ad08d72b46a50b1d6ff94cb1252a8d1e6771764eed16R3-R4) of the users microservice prod-ify [PR](#2027) that just landed hardcodes an environment variable in order to satisfy e2e tests passing.

This is not ideal and only present because the [tests for the users microservice](https://github.com/Seneca-CDOT/teles

[2021-03-31 17:14] #1584 closed

[2021-04-01 02:55] manekenpix opened #2062 "Search component fires a request after every keystroke"
After landing #2046, the search component fires a request after every keystroke instead of after hitting enter.
This behaviour is not desirable, and we should revert to the way the search component was working before this PR.

[2021-04-01 02:56] humphd commented on #2062
Agree, this sounds like a regression (we had this fixed earlier).

cc @HyperTHD

[2021-04-01 03:03] HyperTHD commented on #2062
Learnt my lesson. Gonna leave the PR up, even for weeks if it means it lands properly and fixed 👍🏾

[2021-04-01 13:49] humphd commented on #1929
This got closed, but the first item above isn't completed.  Re-opening.

[2021-04-01 17:06] chrispinkney commented on #1929
Right, thanks for that! cc @Metropass

[2021-04-01 17:57] HyperTHD commented on #1365
Gonna explore possibly having an rdb file being used alongside the aof file we currently used. The rdb file would be the primary manager of the data, and the aof can be used in the case of a power failure to re-create the cached data. For future reference in case I don't end up doing this, this is one way to go about it

[2021-04-01 23:16] birtony opened #2069 "Remove unused Footer component"
**What would you like to be added**:
I have found out that https://github.com/Seneca-CDOT/telescope/blob/master/src/web/src/components/Footer.tsx is not used anywhere on the website. Looks like it was ported from Gatsby in https://github.com/Seneca-CDOT/telescope/pull/1526, but is not needed anymore.
**Why would you like this to be added**:
We should remove `/src/web/src/components/Footer.tsx` fro

[2021-04-01 23:19] humphd commented on #2069
cc @cindyledev

[2021-04-02 21:12] #2069 closed

[2021-04-03 15:55] humphd commented on #2054
Let's get https://github.com/Seneca-CDOT/telescope/pull/2060 reviewed and merged before we start this, since I'm changing so much of the tests there.  I also need this fix in order to get the pagination tests done, after it merges.

[2021-04-03 15:56] humphd commented on #2030
@chrispinkney do you want this, or should I take it?

[2021-04-03 16:12] humphd commented on #1286
This was fixed in https://github.com/Seneca-CDOT/telescope/pull/1958

[2021-04-03 16:12] #1286 closed

[2021-04-03 16:13] humphd commented on #1240
This has been done in the new auth service, closing.

[2021-04-03 16:13] #1240 closed

[2021-04-03 16:13] humphd commented on #1188
This isn't relevant now with new design, closing.

[2021-04-03 16:13] #1188 closed

[2021-04-03 16:23] humphd commented on #1928
Noticed we have this in auth, and the `http-errors` dep, which can both get fixed.

[2021-04-03 20:13] chrispinkney commented on #2054
Agreed, that's the plan. Going to take a look at it with @manekenpix now

[2021-04-04 18:21] tonyvugithub opened #2077 "Image service not working 100% of the time on preview url"
**What happened**:
For some of the preview build on Vercel. The service url is not correctly and hence made it failed loading the image for the banner. I checked the console and turned out that for some reason the browser used `localhost` instead of the prod url.
![image](https://user-images.githubusercontent.com/55034244/113517953-1741a600-9551-11eb-9aec-ffe8c856144a.png)
**What should have happe

[2021-04-04 18:24] humphd commented on #2077
I've updated how env variables happen in Vercel just now.  Let me know if you notice this happening again.

[2021-04-04 18:34] tonyvugithub commented on #2077
@humphd : I just do another commit and it worked now. Should I close this?

[2021-04-04 18:36] humphd commented on #2077
Yeah, let's re-open if it becomes an issue again.  Keeping env vars in sync in Vercel is a bit of a manual thing, so it's going to break at some point again. We'll just have to re-open issues if we notice problems.

See something?  Say something!

[2021-04-04 18:36] #2077 closed

[2021-04-05 04:31] yuanLeeMidori opened #2079 "Update environment-setup.md"
**What happened**:
With microservice porting, the current `environment-setup.md` no longer provide correct instructions for developers.
**What should have happened**:
The document should be updated to suit the current application.
**How to reproduce it (as precise as possible)**:
I'll move the document in #2020 to `environment-setup.md`, and modify them to fit the old document structure.

[2021-04-05 04:35] yuanLeeMidori commented on #2019
Close by #2079

[2021-04-05 04:35] #2019 closed

[2021-04-05 19:23] #1975 closed

[2021-04-06 02:10] chrispinkney opened #2083 "Migrate legacy accounts away from wiki"
With the users microservice nearing completion we need a tool to download, parse, and send feed info from the wiki planet feed list to the users microservice via post requests.

The users microservice will store this data in firebase (or the emulator depending on the environment).

[2021-04-06 04:34] #2015 closed

[2021-04-06 08:13] huynguyez opened #2084 "(Mobile) Navbar overlaps site's Footer"
Small issue as screenshot below, need to add more space from bottom on mobile version:

![Screen Shot 2021-04-06 at 4 09 30 AM](https://user-images.githubusercontent.com/10421864/113679897-4447a300-968e-11eb-8e46-763d9b4ff6a6.jpg)

[2021-04-06 13:18] tonyvugithub commented on #2037
This was opened as a possibility if `withMDX` not working for #2033 , but I managed to find solution to make the current set up work. This is closed for now but will be reopened in the future if we change our mind on what to do with `About`

[2021-04-06 13:18] #2037 closed

[2021-04-06 13:59] chrispinkney opened #2087 "Sporadic centering behaviour on new landing page"
During our triage meeting today, Dave was demoing the new landing page however as he scrolled down none of the content in the posts were centered.

I tried to replicate this but couldn't, though it can be seen during the meeting recording.

[2021-04-06 14:00] chrispinkney commented on #2087
cc @PedroFonsecaDEV

[2021-04-06 14:56] #2028 closed

[2021-04-06 14:57] yuanLeeMidori commented on #2028
Search bar will be redesign in #2005

[2021-04-06 15:07] tonyvugithub commented on #1974
@humphd : I think the quotes should go with the name of the authors because if they contribute something to a project and the project mentioned their names on their front page, it will possibly make them feel proud about their work and boost their incentives to contribute to open source project in the future. Especially, the quotes we pick would be positive and unbiased ones. And I believe almost

[2021-04-06 16:52] chrispinkney commented on #2083
Some updates to this issue after a brief meeting a few of us (@manekenpix @humphd @Metropass @birtony) had today:
- The old accounts in the planet feed list will **NOT** be migrated to the users microservice, as 99% of the accounts will likely not ever be used again. The blog feed URLs are the important pieces of data anyway, not the user accounts.
  - Instead we're simply going to update the tool

[2021-04-06 19:30] PedroFonsecaDEV commented on #2087
Ok. Investigating.

[2021-04-06 19:51] #2048 closed

[2021-04-06 19:54] PedroFonsecaDEV commented on #2087
Closing:
We could not reproduce the bug on different machines and browsers.
The behaviour is happening in only one isolated machine.

[2021-04-06 19:54] #2087 closed

[2021-04-06 20:18] PedroFonsecaDEV commented on #1676
DONE. Thank you guys.

[2021-04-06 20:18] #1676 closed

[2021-04-06 20:19] PedroFonsecaDEV commented on #1809
DONE

[2021-04-06 20:19] #1809 closed

[2021-04-06 20:21] PedroFonsecaDEV commented on #1804
DONE

[2021-04-06 20:21] #1804 closed

[2021-04-06 20:41] #2000 closed

[2021-04-06 23:44] HyperTHD commented on #2084
#2086 by @AbhishekkGautam resolved this issue, so closing this issue

[2021-04-06 23:44] #2084 closed

[2021-04-07 02:47] #2062 closed

[2021-04-07 14:20] #2042 closed

[2021-04-07 17:59] #2039 closed

[2021-04-07 23:45] #2016 closed

[2021-04-08 00:45] Metropass commented on #1801
Okay, so after hours of debugging, here's what I found:

Our react code gets sanitized by our sanitizer in `sanitize.js`

![Screenshot_399](https://user-images.githubusercontent.com/58116522/113949938-238e6300-97de-11eb-9ba5-936d9ad4631e.png)

Going deep into debugging, we notice that the code is then passed into TypeScript's `Parser.write()` function, with `chunk` being our React code. `chunk` is

[2021-04-08 00:45] Meneguini commented on #1956
Hello,

I would like to give this a try.

[2021-04-08 00:46] PedroFonsecaDEV commented on #1956
Sure go for it.

[2021-04-08 01:10] humphd commented on #1956
Welcome to Telescope, @Meneguini, great to have you joining us!  NOTE: after I land #2058 and #2088 the images will be accessible on `user.avatarUrl`, but for now they will be limited to the initials.

[2021-04-08 02:21] birtony opened #2095 "Investigate Google Search Console Alerts"
**What happened**:
I've received the following email from GSC:
![image](https://user-images.githubusercontent.com/33902374/113958679-7fadb300-97ef-11eb-8ba9-85900462b3f8.png)

We might want to investigate what are these issues and fix them, if necessary.

[2021-04-08 14:11] birtony commented on #2095
I looked closer into these alerts and it turns out they are related to [the old website](https://telescope.cdot.systems/planet):
![image](https://user-images.githubusercontent.com/33902374/114041613-b0730400-9852-11eb-9495-ee45dd18dda2.png)
![image](https://user-images.githubusercontent.com/33902374/114041650-b668e500-9852-11eb-9c72-524bcb2aa763.png)
![image](https://user-images.githubusercontent.

[2021-04-08 14:11] #2095 closed

[2021-04-08 14:40] humphd opened #2097 "Remove old Gatsby docs"
I noticed that we still have a doc on our Gatsby front-end, which has been replaced: https://github.com/Seneca-CDOT/telescope/blob/master/docs/gatsbyjs.md.

Let's remove this.  I'd love to see a first-time contributor pick this up.

[2021-04-08 18:09] HyperTHD opened #2100 "Dark mode not being applied fully when user logs in"
**What happened**:

When testing #2098, I noticed that the dark mode was not being fully applied in the timeline. This is how it looks like when you login and have your theme preference set to dark mode

![Bad dark-mode image](https://user-images.githubusercontent.com/16841702/114075432-8978fa00-9873-11eb-992f-cc75db964057.png)

This is not an issue with the light-mode theme, however. That's worki

[2021-04-08 18:51] #2079 closed

[2021-04-08 18:56] humphd commented on #2100
@PedroFonsecaDEV said that this might be due to cached next.js builds when doing hot reloads.  It's annoying but probably not a bug?  Not sure.

[2021-04-08 19:49] Meneguini commented on #1956
Nice! Thank you, @humphd.

[2021-04-08 21:35] chrispinkney commented on #1801
Jeez, really getting into the nitty and gritty of the library eh? Is this not something that a simple config edit or setting change will fix for us, as opposed to a PR to the `sanitize-html` library?

[2021-04-09 02:14] humphd opened #2102 "Vercel Builds breaking with invalid URL /"
Just saw this: https://vercel.com/humphd/telescope/J7Xv4iXm83fRpVDt5m8DFGFZ67TK.  This might be due to a recent change I made to how the errors page renders things:

[code]

[2021-04-09 02:15] humphd commented on #2102
See https://github.com/Seneca-CDOT/telescope/commit/58889396a79060c3dee3b92ab48acb98b03e9b6a#diff-997279ffac847601ce3ddc824cb36cc031a13dc02edd2f82c9955192c0e8f452R15

[2021-04-09 04:27] chrispinkney commented on #1801
I made a quick search and [found this](https://www.npmjs.com/package/sanitize-html-react) library (which will replace sanitize-html):

Perhaps the problem here is because the sanitizer is removing the react fragments. Maybe this could be a solution?

[2021-04-09 15:29] #2102 closed

[2021-04-09 15:49] Metropass commented on #1801
That's a good find! I'll check it out today, and post the results!

[2021-04-09 15:51] chrispinkney commented on #1929
Howdy @Metropass, what's the status of this?

[2021-04-09 15:57] Metropass commented on #1929
Still working on this, I'm currently working on the Cache middleware for our Users service & nginx, since it's a huge chunk.  I'll be showing off the code during our meeting today.

[2021-04-09 17:12] #2083 closed

[2021-04-09 18:00] HyperTHD commented on #1908
Closing since [Satellite PR #11](https://github.com/Seneca-CDOT/satellite/pull/11) successfully merges redis into satellite and is available as of ver 1.10.0.

[2021-04-09 18:00] #1908 closed

[2021-04-09 18:03] #2100 closed

[2021-04-09 18:34] #1736 closed

[2021-04-09 18:41] humphd opened #2109 "Fix static asset loading for Bull board via /v1/parser API"
https://dev.api.telescope.cdot.systems/v1/parser doesn't seem to be able to properly serve the bull-board front-end static assets:

![Screen Shot 2021-04-09 at 2 40 49 PM](https://user-images.githubusercontent.com/427398/114226526-a8de5880-9941-11eb-8b15-ead40a07bbd2.png)

[2021-04-09 18:43] huyxgit opened #2110 "Advanced search dialog in SearchBar"
Show advanced search dialog from clicking 'gear' button in searchBar

![Screen Shot 2021-04-09 at 2 42 32 PM](https://user-images.githubusercontent.com/10421864/114226719-ef33b780-9941-11eb-8c24-d68c8f2e7f3a.jpg)

[2021-04-09 18:55] humphd opened #2111 "Write tests and enable Parser service"
We landed the Parser service today, but we have it not starting the actual parser, nor do we have any tests. We need to fix both things.  @c3ho added Jest configs for both unit and e2e tests, but there aren't any.

You can get some idea of how to work across services in tests by looking at my auth test [here](https://github.com/Seneca-CDOT/telescope/blob/master/src/api/auth/test/e2e/auth-flows.tes

[2021-04-09 19:12] #2041 closed

[2021-04-09 19:14] yuanLeeMidori opened #2112 "Investigate scroll-snap with navbar appearance"
**What happened**:
The trigger div of scroll snap seems to add an invisible div between banner and timeline. The user needs to scroll a little bit more after we get rid of banner (which is not what we want, we expect the nav-bar to appear right after we get rid of banner.

[2021-04-09 19:22] #1737 closed

[2021-04-09 19:41] #1976 closed

[2021-04-09 22:02] humphd opened #2114 "Fix version on auth Satellite dep"
From src/api/auth/package.json:

[code]

That `.0` is wrong.

[2021-04-10 02:25] HyperTHD commented on #2014
#2012 was bugged, and rebasing master onto it ended up closing the PR.
Gonna have another PR to fix this now that #2106 is landed

[2021-04-10 18:58] birtony commented on #2114
According to https://github.com/npm/node-semver#caret-ranges-123-025-004, `^1.x` should suffice in our case:
`^1.x` := `>=1.0.0 < 2.0.0-0`

[2021-04-10 21:07] #2114 closed

[2021-04-10 21:13] huyxgit opened #2117 "adding 'Share' button"
You read blogs and you might want to share that blog post or bookmark it (no way to do it at the moment (one page) unless you take a screenshot or use 'search' to find it again)

- What to share? URL of original post.
- Button location? at the end of a blog post or post's author info section.
- How it looks like? Not a feature to be highlighted, so only one button displayed and sharing options cou

[2021-04-10 21:35] humphd commented on #2117
I think we can extract this data with the RSS feed parser, and give you the direct link to share their blog vs. a link to Telescope.

[2021-04-10 22:14] birtony opened #2118 "Add Jest plugin to Eslint config"
**What would you like to be added**:
We are currently missing [Jest plugin in Eslint](https://github.com/jest-community/eslint-plugin-jest) config, which leads to VS Code not knowing Jest keywords for FE tests:
![image](https://user-images.githubusercontent.com/33902374/114285877-7eb39600-9a28-11eb-891d-7fbe3f2c0cb8.png)

**Why would you like this to be added**:
We should install https://github.co

[2021-04-10 22:26] birtony opened #2120 "Tweak Jest configuration to make tests run faster"
**What would you like to be added**:
@humphd has found [an interesting article](https://dev.to/vantanev/make-your-jest-tests-up-to-20-faster-by-changing-a-single-setting-i36) that suggests that tweaking the number of workers in the Jest configuration may help improve how quickly our tests run.
**Why would you like this to be added**:
We should consider implementing what is covered in the article.

[2021-04-10 22:55] Metropass opened #2121 "Audit Wildcard ('*') Header Use in Telescope"
**What would you like to be added**:

Figure out where we use the Wildcard `*` Header for CORS in Telescope
**Why would you like this to be added**:

While working on #667, I noticed that the Wildcard operator is not implemented in Safari on iOS and Firefox for Android.

Since we have a mobile UI for Telescope, we should probably audit where we use the Wildcard operator, and pass in the headers th

[2021-04-11 02:10] #2118 closed

[2021-04-11 04:33] birtony opened #2124 "Add new package files to Dependabot config"
**What would you like to be added**:
Since the last time when we updated https://github.com/Seneca-CDOT/telescope/blob/master/.github/dependabot.yml, a number of new microservices were added, bringing in new `package.json`'s and `Dockerfile`'s. We should add configurations for each of the outstanding files.

**Why would you like this to be added**:
This would allow us to receive regular automatic

[2021-04-11 15:11] tonyvugithub commented on #2038
This has been fixed. Hence closed

[2021-04-11 15:11] #2038 closed

[2021-04-11 15:46] humphd commented on #2120
I notice that Jest itself does some extra work to figure out the number of CPU cores on CI and passes that to `--maxWorkers` to optimize concurrency:

https://github.com/facebook/jest/blob/master/.github/workflows/nodejs.yml#L118-L122

[2021-04-12 00:16] #2124 closed

[2021-04-12 14:09] humphd opened #2131 "HTML encoded text in posts being removed/rendered incorrectly"
This might be a duplicate of #1801, and it's interesting that both @yuanLeeMidori and @chrispinkney are both on dev.to.  On [the left](https://dev.to/yuanleemidori/first-attempt-at-intersection-observer-129i) is Yuan's original post, on the right is Telescope:

<img width="1633" alt="Screen Shot 2021-04-12 at 10 05 39 AM" src="https://user-images.githubusercontent.com/427398/114408014-014a6b80-9b7

[2021-04-12 14:34] humphd commented on #2131
I checked and dev.to is producing valid HTML here, for example:

[code]

I am starting to think that this might be due to the default `decodeEntities=true` in the [HTML parser](https://github.com/fb55/htmlparser2/wiki/Parser-options#option-decodeentities).  The docs say it's not possible to catch all security issues if you disable this.  So I guess we have to start by seeing if setting `decodeEnti

[2021-04-12 19:29] humphd opened #2134 "Refactor elastic client out of services, move to Satellite"
We have a few places in our microservices where we need to connect to Elasticsearch:

- Search service: src/api/search/src/elastic.js
- Parser service: src/api/parser/src/lib/elastic.js

Let's move this to Satellite, similar to [what we did with Redis](https://github.com/Seneca-CDOT/satellite/blob/master/src/redis.js).  The goal would be for microservices to be able to do this:

[code]

NOTE: I al

[2021-04-12 19:37] humphd opened #2135 "Export fetch() on Satellite"
We have a bunch of places in the microservices, and microservices tests, where we need to `fetch()` from external hosts.  In some places we use `node-fetch`, and in others `got`.  Let's see if we can standardize on `fetch()` (node-fetch) and export it on Satellite so everyone has access to it, and we only have a single dep to update.

[2021-04-13 00:24] HyperTHD commented on #2134
Taking this, will try and have a PR up by tomorrow's triage meeting

[2021-04-13 14:50] birtony commented on #2121
We specifically use two headers (`link`, `x-count`) and the old back-end sets these for CORS. We should probably set these for Satellite.

[2021-04-13 14:51] humphd opened #2138 "Fix intermittent failing token test"
[code]

[2021-04-13 15:18] birtony commented on #1956
Hey @Meneguini, please, let us know if you need any help with this issue

[2021-04-13 18:15] yuanLeeMidori commented on #1968
[Teamwork 1](https://unsplash.com/photos/NDoVgcS_lZM), [teamwork 2](https://unsplash.com/photos/Zyx1bK9mqmA), [coding 1](https://unsplash.com/photos/EkeThvO9VfM), [coding 2](https://unsplash.com/photos/UIqpEPaiHQM), [coding 3](https://unsplash.com/photos/9-ohfp-Dicg), [telescope 1](https://unsplash.com/photos/ovz3FAcxL7g), [telescope 2](https://unsplash.com/photos/8SjeH5pZbjw),

[2021-04-13 19:46] Meneguini commented on #1956
Hi @birtony, thank you, I'll let you know.

[2021-04-13 20:56] #2138 closed

[2021-04-14 14:11] humphd opened #2141 "Remove temporary fix for dev.to RSS feed bug"
I [filed an issue upstream](https://github.com/forem/forem/issues/10927) to deal with a dev.to bug.  While it was being fixed, I [added a temporary workaround](https://github.com/Seneca-CDOT/telescope/pull/1816) in our code.

Let's remove this temporary fix in our code, now that the bug has been solved upstream.  The easiest way to do this is with a `git revert 6b36eee958f731b208eea6e981d0d2a1805c

[2021-04-14 15:33] HyperTHD commented on #1968
[Git when you truly understand it](https://unsplash.com/photos/842ofHC6MaI), [Diversity in coding](https://unsplash.com/photos/IgUR1iX0mqM), [Inclusivity for all](https://unsplash.com/photos/98uYQ-KupiE), [The reality of coding](https://unsplash.com/photos/mo4UZiHy_KU), [A future in software development](https://unsplash.com/photos/rxpThOwuVgE)

[2021-04-14 19:15] humphd commented on #2109
@yuanLeeMidori see https://github.com/felixmosh/bull-board#hosting-router-on-a-sub-path

[2021-04-14 22:32] #1956 closed

[2021-04-14 22:40] humphd opened #2147 "Remove valid-url package and usage throughout tree"
We have a bunch of places in the project that use the https://www.npmjs.com/package/valid-url package.  This code hasn't been updated in 8 years, and is totally unnecessary in modern browsers and node, which both ship a URL parser:

- browser: https://developer.mozilla.org/en-US/docs/Web/API/URL
- node: https://nodejs.org/api/url.html

Let's drop this dependency and switch to using the maintained

[2021-04-15 00:49] PedroFonsecaDEV opened #2149 "The landing page doesn’t display `100vh` on mobile."
**What happened**:
The landing page doesn’t display `100vh` on mobile.

[2021-04-15 01:07] #2149 closed

[2021-04-15 14:57] #2014 closed

[2021-04-15 22:32] humphd opened #2153 "Limit how a user becomes an admin"
We have the concept of an `admin` role in the User and Auth services, in the front-end, etc.  In Firebase it's a boolean, `isAdmin: true|false`.  We need to tighten how a user becomes an admin.

You shouldn't be able to POST that data to the Users service (we should ignore it).   The current system is too loose.

[2021-04-15 23:10] #2051 closed

[2021-04-15 23:57] Meneguini opened #2155 "Improve postInfo grid size to fit bigger names on mobile"
**What would you like to be added**:
Improve postInfo grid size to fit bigger names on mobile.

**Why would you like this to be added**:
<img width="259" alt="posttitle" src="https://user-images.githubusercontent.com/63076086/114952666-bbb2ca80-9e24-11eb-84ea-f68bb4566692.png">

I think we could use more of the available space.

[2021-04-15 23:59] huynguyez opened #2156 "Remove post title outline (on click)"
Orange on mobile, blue on desktop.
As screenshots below:

![Screen Shot 2021-04-15 at 7 20 20 PM](https://user-images.githubusercontent.com/10421864/114952785-06344700-9e25-11eb-93a8-ca9455207d72.jpg)
![Screen Shot 2021-04-15 at 7 20 30 PM](https://user-images.githubusercontent.com/10421864/114952786-06344700-9e25-11eb-8823-204023fb5dfa.jpg)